<!DOCTYPE html>
<html style="height: 100%;">
<meta name="description" content="Tigerwit get access for The global capital market。">
<meta name="keywords" content="tigerwit，老虎外汇，Duplicate transaction，Forex，Metal，CFD">
<meta name="apple-mobile-web-app-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<!--禁用缓存-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<!-- 删除默认的苹果工具栏和菜单栏 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- 苹果状态栏颜色 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<!--引入公用头部-->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>
<body style="height: 100%;">
  <div id="m_global_t35" class="m_global_t35 active">
    <div class="m_global_t35_layout">
      <div class="m_global_t35__logo">
        <img src="/images/static_logo.png" alt="">
      </div>
      <div class="m_global_t35__focus">
        <img src="/images/bd_g35/h5_focus_20180911.png" alt="">
      </div>
      <div class="m_global_t35__focus_tip">
          <%= lang.text('bonusBd.gainRebateUs')%><span>$200</span><%= lang.text('bonusBd.onceRegistered')%>
      </div>
      <div class="m_global_t35__btn_wrapper" style="padding-top: 40px;">
        <a class="m_global_t35__btn" target="_self" href="#register_box"><%= lang.text('bonusBd.getRebateNow')%></a>
      </div>
      <div class="m_global_t35__title t1">
        <img src="/images/bd_g35/comm_title1_20180911.png" alt="">
      </div>
      <div class="m_global_t35__cont-1 clearfix">
        <div class="cont-left">
          <img src="/images/bd_g35/h5_bar.png" alt="">
        </div>
        <div class="cont-right">
          <ul>
            <li class="clearfix l1">
              <div class="l">
                <p><%= lang.text('bonusBd.us')%></p>
                <p>$2.00</p>
              </div>
              <div class="r">
                <p>0.5 <%= lang.text('bonusBd.lot')%></p>
                <p><%= lang.text('bonusBd.within')%>14 days</p>
              </div>
            </li>
            <li class="clearfix l2">
              <div class="l">
                <p><%= lang.text('bonusBd.us')%></p>
                <p>$6.00</p>
              </div>
              <div class="r">
                <p>3 <%= lang.text('bonusBd.lot')%></p>
                <p><%= lang.text('bonusBd.within')%>30 days</p>
              </div>
            </li>
            <li class="clearfix l3">
              <div class="l">
                <p><%= lang.text('bonusBd.us')%></p>
                <p>$18.00</p>
              </div>
              <div class="r">
                <p>8 <%= lang.text('bonusBd.lot')%></p>
                <p><%= lang.text('bonusBd.within')%>60 days</p>
              </div>
            </li>
            <li class="clearfix l4">
              <div class="l">
                <p><%= lang.text('bonusBd.us')%></p>
                <p>$25.00</p>
              </div>
              <div class="r">
                <p>15 <%= lang.text('bonusBd.lot')%></p>
                <p><%= lang.text('bonusBd.within')%>90 days</p>
              </div>
            </li>
            <li class="clearfix l5">
              <div class="l">
                <p><%= lang.text('bonusBd.us')%></p>
                <p>$50.00</p>
              </div>
              <div class="r">
                <p>30 <%= lang.text('bonusBd.lot')%></p>
                <p><%= lang.text('bonusBd.within')%>90 days</p>
              </div>
            </li>
            <li class="clearfix l6">
              <div class="l">
                <p><%= lang.text('bonusBd.us')%></p>
                <p>$99.00</p>
              </div>
              <div class="r">
                <p>50 <%= lang.text('bonusBd.lot')%></p>
                <p><%= lang.text('bonusBd.within')%>90 days</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="m_global_t35__title t2">
        <img src="/images/bd_g35/comm_title2.png" alt="">
      </div>
      <ul class="m_global_t35__cont-2 clearfix">
        <li>
          <p><img src="/images/bd_g35/comm_icon1.png" alt=""></p>
          <p><%= lang.text('bonusBd.whyChoose1')%></p>
        </li>
        <li>
          <p><img src="/images/bd_g35/comm_icon2.png" alt=""></p>
          <p><%= lang.text('bonusBd.whyChoose2')%></p>
        </li>
      </ul>
      <ul class="m_global_t35__cont-2 clearfix">
        <li>
          <p><img src="/images/bd_g35/comm_icon3.png" alt=""></p>
          <p><%= lang.text('bonusBd.whyChoose3')%></p>
        </li>
        <li>
          <p><img src="/images/bd_g35/comm_icon4.png" alt=""></p>
          <p><%= lang.text('bonusBd.whyChoose4')%></p>
        </li>
      </ul>
      <ul class="m_global_t35__download clearfix">
        <li>
          <a href="https://itunes.apple.com/us/app/tigerwit/id1091437876?l=zh&ls=1&mt=8">
            <img src="/images/bd_g35/apple.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.tigerwit.forex">
            <img src="/images/bd_g35/google.png" alt="">
          </a>
        </li>
      </ul>
      <div class="m_global_t35__title t3">
        <img src="/images/bd_g35/comm_title3.png" alt="">
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            <%= lang.text('bonusBd.eventDetails1')%>
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            <%= lang.text('bonusBd.eventDetails2')%>
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            <%= lang.text('bonusBd.eventDetails3')%>
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            <%= lang.text('bonusBd.eventDetails4')%>
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            <%= lang.text('bonusBd.eventDetails5')%> 
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            <%= lang.text('bonusBd.eventDetails6')%>
        </p>
      </div>
      <div class="m_global_t35__register_box" id="register_box">
        <div class="form-control-wrapper">
          <select class="form-control" name="country" id="country">
            <option value=""><%= lang.text('third_placeholder4')%></option>
          </select>
        </div>
        <div class="form-control-wrapper">
          <input type="text" class="form-control" name="email" id="email" placeholder="<%= lang.text('partner.email')%>">
        </div>
        <div class="form-control-wrapper">
          <input type="number" class="form-control" name="code" id="verify_code" placeholder="<%= lang.text('mRegister03')%>" style="padding-right: 110px;">
          <p class="verify_code_btn_wrapper">
              <span class="verify_code_btn" id="verify_code_btn"><%= lang.text('mRegister05')%></span>
          </p>
        </div>

        <div class="m_global_t35__btn_wrapper">
          <button id="submit_form" class="m_global_t35__btn" href=""><%= lang.text('bonusBd.confirmNow')%></button>
        </div>
      </div>
      <div class="m_global_t35__warning">
        <p class="tit"><%= lang.text('bonusBd.eventDetails7')%></p>
        <p class="tit">
            <%= lang.text('bonusBd.eventDetails8')%>
        </p>
        <p><%= lang.text('bonusBd.copyright')%></p>
      </div>
      <div class="m_global_t35__float_box">
        <a target="_self" href="#register_box"><%= lang.text('bonusBd.getRebateNow')%></a>
      </div>
    </div>
  </div>
  <div id="m_global_t35_success" class="m_global_t35_success">
    <div class="m_global_t35_success__layout">
        <div class="m_global_t35_success__tip">
            <p><%= lang.text('bonusBd.resendTip1')%></p>
            <p><%= lang.text('bonusBd.resendTip2')%></p>
        </div>
        <div class="m_global_t35__btn_wrapper">
          <button id="submit_resend" class="m_global_t35__btn"><%= lang.text('bonusBd.resend')%></button>
        </div>
        <div class="m_global_t35__btn_wrapper">
          <button id="m_global_t35_success_rewrite" class="m_global_t35__btn"><%= lang.text('bonusBd.modifyAddress')%></button>
        </div>
        <p class="m_global_t35_success__download">
          <span><%= lang.text('bonusBd.downloadMobileApp')%></span>
        </p>
    </div>
  </div>
</body>
<% include /common/vendor/h5.js.html %>
<!-- 注册协议相关弹窗 -->
<% include /common/component/agment_mdl.html %>
<!-- build:js(client) /scripts/bd_m_g35.js -->
<script src="/scripts/bd/common/register_global.js"></script>
<script src="/scripts/bd/g35/h5.js"></script>
<!-- endbuild -->
</html>