<!DOCTYPE html>
<html lang="en">

<head>
  <!-- 需要兼容 -->
  <% include /common/meta/web.html %>
  <!-- 主翻译 -->
  <% include /common/vendor/h5.utiljs.html %>
  <% include /common/statistic/main.html %>
  <!-- build:css(.tmp) /styles/web.css -->
  <link rel="stylesheet" href="/styles/web.css">
  <!-- endbuild -->
  <% include /common/vendor/web.js.html %>
</head>

<body ng-app="fullstackApp" class="tw_en <%= lang.isAr('ar-lang')%>">
  <div ng-controller="GlobalController">
    <% include /common/nav/web.header.html %>
    <div class="global_t35">
      <div class="global_t35__focus relative">
        <div class="global_t35_container space-between relative">
          <div class="global_t35__focus-content">
            <h2><img src="/white_label/bd/g35/logo.png" alt=""></h2>
            <div class="main_info">
              <h3>Join a Winning Team</h3>
              <img src="/white_label/bd/g35/web-line.png" alt="">
              <p>Teamwork is the key to successful partnership, now we invite you to join the best team in the world.</p>
            </div>
          </div>
          <div class="global_t35__register_wrapper">
            <div class="global_t35__register_box">
              <p class="global_t35__register_box-tip">
                Enter your details below and become a partner of a winning team
              </p>
              <div class="form-control-wrapper">
                <select class="form-control" name="country" id="country">
                  <option value=""><%= lang.text('third_placeholder4')%></option>
                </select>
              </div>
              <div class="form-control-wrapper">
                <input type="text" class="form-control" name="email" id="email"
                  placeholder="<%= lang.text('partner.email')%>">
              </div>
              <div class="form-control-wrapper <%= lang.isAr('ar')%>">
                <input type="text" class="form-control verify-code" name="code" id="verify_code"
                  placeholder="<%= lang.text('mRegister03')%>">
                <p class="verify_code_btn_wrapper">
                  <span class="verify_code_btn" id="verify_code_btn"><%= lang.text('mRegister05')%></span>
                </p>
              </div>
              <div class="form-control-wrapper">
                <input type="password" class="form-control" name="password" id="password"
                  placeholder="<%= lang.text('thirdH5.setPassword')%>">
              </div>
              <div class="form-control-wrapper">
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                  placeholder="<%= lang.text('thirdH5.confirmPassword')%>">
              </div>
              <div class="global_t35__btn_wrapper">
                <button id="submit_form" class="global_t35__btn">SUBMIT</button>
              </div>
              <div class="select-wrapper">
                <span>
                  I consent to the collection, storage and processing of my personal data by TigerWit in accordance with its <a style="color: #049ee9;" href="/agreement/cookie" target="_blank">Privacy Policy</a>.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="global_t35__arrow_wrapper">
          <img src="/white_label/bd/g35/arrow.png" alt="">
        </div>
      </div>
      <div class="global_t35_container global_t35__content_wrapper">
        <h3>Our state-of-the-art trading technology, powered by blockchain, is supported by an unparalleled squad of features</h3>
        <ul class="global_t35__content display-flex">
          <li>
            <p><img src="/white_label/bd/g35/icon-1.png" alt=""></p>
            <h4>Active Copy Trading</h4>
            <p>Clients can choose to copy a wide range of traders offering multiple strategies</p>
          </li>
          <li>
            <p><img src="/white_label/bd/g35/icon-2.png" alt=""></p>
            <h4>Transparent Payments</h4>
            <p>Our payment plans are clear and tailored to suit our partners needs</p>
          </li>
          <li>
            <p><img src="/white_label/bd/g35/icon-3.png" alt=""></p>
            <h4>Multi Award Winning App</h4>
            <p>Our unique platform has been recognized by the industry with multiple awards</p>
          </li>
        </ul>
        <ul class="global_t35__content display-flex">
          <li>
            <p><img src="/white_label/bd/g35/icon-4.png" alt=""></p>
            <h4>Converting Marketing Material</h4>
            <p>Our experienced marketing team can provide you with unique and converting materials</p>
          </li>
          <li>
            <p><img src="/white_label/bd/g35/icon-5.png" alt=""></p>
            <h4>1-on-1 Account Support</h4>
            <p>Our global offices provide local support to both you and your clients</p>
          </li>
          <li>
            <p><img src="/white_label/bd/g35/icon-6.png" alt=""></p>
            <h4>Live Webinars and Education Centre</h4>
            <p>Exclusive training and educational services are provided at no extra cost</p>
          </li>
        </ul>
      </div>
      <div class="global_t35__payment_wrapper">
        <div class="global_t35_container">
          <h3>Payment methods include</h3>
          <ul class="global_t35__payment display-flex">
            <li>
              <p><img src="/white_label/bd/g35/payment-1.png" alt=""></p>
              <p>Bank Transfer</p>
            </li>
            <li>
              <p><img src="/white_label/bd/g35/payment-2.png" alt=""></p>
              <p>Mastercard</p>
            </li>
            <li>
              <p><img src="/white_label/bd/g35/payment-3.png" alt=""></p>
              <p>Visa</p>
            </li>
            <li>
              <p><img src="/white_label/bd/g35/payment-4.png" alt=""></p>
              <p>Epoch</p>
            </li>
            <li>
              <p><img src="/white_label/bd/g35/payment-5.png" alt=""></p>
              <p>Paypal</p>
            </li>
            <li>
              <p><img src="/white_label/bd/g35/payment-6.png" alt=""></p>
              <p>Noire</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="global_t35_container global_t35__warning">
        <h3><%= lang.text('bonusBd.eventDetails7')%></h3>
        <p>
          <%= lang.text('bonusBd.eventDetails8')%>
        </p>
      </div>
    </div>
    <% include /common/nav/web.footer.html %>

  </div>
  <!-- 注册协议相关弹窗 -->
  <%include /common/component/agment_mdl.html %>
</body>

<!-- build:js(client) /scripts/bd_g35.js -->
<script src="/scripts/common/config.service.js"></script>
<script src="/scripts/common/account.service.js"></script>
<script src="/scripts/common/authorization.service.js"></script>
<script src="/scripts/common/redbag.service.js"></script>
<script src="/scripts/common/navbar.directive.js"></script>
<script src="/scripts/common/dropdown.directive.js"></script>
<script src="/scripts/common/global.controller.js"></script>
<script src="/scripts/common/loading_img.directive.js"></script>

<script src="/scripts/common/pagination.directive.js"></script>
<script src="/scripts/common/duration.filter.js"></script>

<script src="/scripts/common/symbol_mod.filter.js"></script>
<script src="/scripts/common/trader.service.js"></script>
<script src="/scripts/common/lang.service.js"></script>
<script src="/scripts/common/lang_data.service.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<script src="/scripts/bd/common/publicAjax.js"></script>
<script src="/scripts/bd/common/register_global.js"></script>
<!-- endbuild -->

</html>