<!DOCTYPE html>
<html lang="en">

<head>
  <!-- 需要兼容 -->
  <% include /common/meta/web.html %>
  <!-- 主翻译 -->
  <% include /common/vendor/h5.utiljs.html %>
  <% include /common/statistic/main.html %>
  <!-- build:css(.tmp) /styles/web.css -->
  <link rel="stylesheet" href="/styles/web.css">
  <!-- endbuild -->
  <% include /common/vendor/web.js.html %>
</head>

<body ng-app="fullstackApp" class="tw_en <%= lang.isAr('ar-lang')%>">
  <div ng-controller="GlobalController">
    <% include /common/nav/web.header.html %>
    <div class="global_t35">
      <div class="global_t35__focus relative">
        <div class="global_t35_container space-between relative">
          <div class="global_t35__focus-content">
            <h2><img src="/white_label/bd/g35/logo.png" alt=""></h2>
            <div class="main_info">
              <h3><%= lang.text('global_bonus.title')%></h3>
              <img src="/white_label/bd/g35/web-line.png" alt="">
              <p><%= lang.text('global_bonus.sub_title')%></p>
            </div>
          </div>
          <div class="global_t35__register_wrapper">
            <div class="global_t35__register_box">
              <p class="global_t35__register_box-tip">
                <%= lang.text('global_bonus.reg_title')%>
              </p>
              <div class="form-control-wrapper">
                <select class="form-control" name="country" id="country">
                  <option value=""><%= lang.text('third_placeholder4')%></option>
                </select>
              </div>
              <div class="form-control-wrapper">
                <input type="text" class="form-control" name="email" id="email"
                  placeholder="<%= lang.text('partner.email')%>">
              </div>
              <div class="form-control-wrapper <%= lang.isAr('ar')%>">
                <input type="text" class="form-control verify-code" name="code" id="verify_code"
                  placeholder="<%= lang.text('mRegister03')%>">
                <p class="verify_code_btn_wrapper">
                  <span class="verify_code_btn" id="verify_code_btn"><%= lang.text('mRegister05')%></span>
                </p>
              </div>
              <div class="form-control-wrapper">
                <input type="password" class="form-control" name="password" id="password"
                  placeholder="<%= lang.text('thirdH5.setPassword')%>">
              </div>
              <div class="form-control-wrapper">
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                  placeholder="<%= lang.text('thirdH5.confirmPassword')%>">
              </div>
              <div class="global_t35__btn_wrapper">
                <button id="submit_form" class="global_t35__btn"><%= lang.text('global_bonus.submit_btn')%></button>
              </div>
              <div class="select-wrapper">
                <span>
                  <%= lang.text('global_bonus.reg_policy')%> <a style="color: #049ee9;" href="/agreement/cookie" target="_blank"><%= lang.text('global_bonus.reg_policy2')%></a>.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="global_t35__arrow_wrapper">
          <img src="/white_label/bd/g35/arrow.png" alt="">
        </div>
      </div>
      <div class="global_t35_container global_t35__content_wrapper">
        <h3><%= lang.text('global_bonus.content_title')%></h3>
        <ul class="global_t35__content display-flex">
          <li>
            <p><img src="/white_label/bd/g35/icon-1.png" alt=""></p>
            <h4><%= lang.text('global_bonus.content_list_t1')%></h4>
            <p><%= lang.text('global_bonus.content_list_p1')%></p>
          </li>
          <li>
            <p><img src="/white_label/bd/g35/icon-2.png" alt=""></p>
            <h4><%= lang.text('global_bonus.content_list_t2')%></h4>
            <p><%= lang.text('global_bonus.content_list_p2')%></p>
          </li>
          <li>
            <p><img src="/white_label/bd/g35/icon-3.png" alt=""></p>
            <h4><%= lang.text('global_bonus.content_list_t3')%></h4>
            <p><%= lang.text('global_bonus.content_list_p3')%></p>
          </li>
        </ul>
        <ul class="global_t35__content display-flex">
          <li>
            <p><img src="/white_label/bd/g35/icon-4.png" alt=""></p>
            <h4><%= lang.text('global_bonus.content_list_t4')%></h4>
            <p><%= lang.text('global_bonus.content_list_p4')%></p>
          </li>
          <li>
            <p><img src="/white_label/bd/g35/icon-5.png" alt=""></p>
            <h4><%= lang.text('global_bonus.content_list_t5')%></h4>
            <p><%= lang.text('global_bonus.content_list_p5')%></p>
          </li>
          <li>
            <p><img src="/white_label/bd/g35/icon-6.png" alt=""></p>
            <h4><%= lang.text('global_bonus.content_list_t6')%></h4>
            <p><%= lang.text('global_bonus.content_list_p6')%></p>
          </li>
        </ul>
      </div>
      <div class="global_t35__payment_wrapper">
        <div class="global_t35_container">
          <h3><%= lang.text('global_bonus.payment_title')%></h3>
          <ul class="global_t35__payment display-flex">
            <li>
              <p><img src="/white_label/bd/g35/payment-1.png" alt=""></p>
              <p>Bank Transfer</p>
            </li>
            <li>
              <p><img src="/white_label/bd/g35/payment-2.png" alt=""></p>
              <p>Mastercard</p>
            </li>
            <li>
              <p><img src="/white_label/bd/g35/payment-3.png" alt=""></p>
              <p>Visa</p>
            </li>
            <li>
              <p><img src="/white_label/bd/g35/payment-6.png" alt=""></p>
              <p>Noire</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="global_t35_container global_t35__warning">
        <h3><%= lang.text('bonusBd.eventDetails7')%></h3>
        <p>
          <%= lang.text('bonusBd.eventDetails8')%>
        </p>
      </div>
    </div>
    <% include /common/nav/web.footer.html %>

  </div>
  <!-- 注册协议相关弹窗 -->
  <%include /common/component/agment_mdl.html %>
</body>

<!-- build:js(client) /scripts/bd_g35.js -->
<script src="/scripts/common/config.service.js"></script>
<script src="/scripts/common/account.service.js"></script>
<script src="/scripts/common/authorization.service.js"></script>
<script src="/scripts/common/redbag.service.js"></script>
<script src="/scripts/common/navbar.directive.js"></script>
<script src="/scripts/common/dropdown.directive.js"></script>
<script src="/scripts/common/global.controller.js"></script>
<script src="/scripts/common/loading_img.directive.js"></script>

<script src="/scripts/common/pagination.directive.js"></script>
<script src="/scripts/common/duration.filter.js"></script>

<script src="/scripts/common/symbol_mod.filter.js"></script>
<script src="/scripts/common/trader.service.js"></script>
<script src="/scripts/common/lang.service.js"></script>
<script src="/scripts/common/lang_data.service.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<script src="/scripts/bd/common/publicAjax.js"></script>
<script src="/scripts/bd/common/register_global.js"></script>
<!-- endbuild -->

</html>