<div class="asset-public">
    <div class="row text-center mg-tp-20 mg-bt-20">
        <div class="col-xs-1"></div>
        <div class="col-xs-3 mg-lf-30 bonus-cur-bor-rh">
            <p class="font-base font-size-20">1234</p>
            <p>当前复制人数</p>
        </div>
        <div class="col-xs-3 bonus-cur-bor-rh">
            <p class="font-base font-size-20">$43534535</p>
            <p>当前复制金额</p>
        </div>
        <div class="col-xs-3">
            <p class="font-base font-size-20">$43511532</p>
            <p>历史分成总额</p>
        </div>
        <div class="col-xs-1"></div>
    </div>

    <p class="font-base font-bold font-size-18">历史分成明细</p>
    <div class="position-relative">
        <!-- <div tw-loading-img></div> -->
        <table>
            <table class="table table-header">
                <colgroup>
                    <col width="29%"></col>
                    <col width="17%"></col>
                    <col width="20%"></col>
                    <col width="17%"></col>
                    <col width="17%"></col>
                </colgroup>
                <thead>
                    <tr>
                        <th>复制者</th>
                        <th>复制金额</th>
                        <th>复制时间</th>
                        <th>浮动收益</th>
                        <th>平仓收益</th>
                    </tr>
                </thead>
            </table>
        </table>
        <div class="bonus_table_wrapper">
            <table class="table table-striped table-hover">
                <colgroup>
                    <col width="29%"></col>
                    <col width="17%"></col>
                    <col width="20%"></col>
                    <col width="17%"></col>
                    <col width="17%"></col>
                </colgroup>
                <thead>
                    <tr></tr>
                </thead>
            </table>
        </div>
    </div>
</div>
