<!-- <div tw-loading-img></div> -->
<div class="system_modal">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="system_modal__title">
        分成详情
    </h5>

    <div class="system_modal__content">
        <table class="table table-header table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>交易品种</th>
                    <th>开仓时间</th>
                    <th>平仓时间</th>
                    <th>开仓价</th>
                    <th>平仓价</th>
                    <th>交易量</th>
                    <th>收益</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bonusDetail in bonusDetails">
                    <td>
                        {{ bonusDetail.action ? '买跌' : '买涨'}}
                        {{ bonusDetail.symbol | symbolMod: 'zh' }}

                        <!-- <span class="icon-forex-{{ bonusDetail.symbol.toLowerCase() }} vertical-middle"></span> -->
                    </td>
                    <td>{{ bonusDetail.open_time }}</td>
                    <td>{{ bonusDetail.close_time }}</td>
                    <td>{{ bonusDetail.open_price }}</td>
                    <td>{{ bonusDetail.close_price }}</td>
                    <td>{{ bonusDetail.volume }}</td>
                    <td ng-class="{'font-success': bonusDetail.profit.indexOf('-') < 0, 'font-danger': bonusDetail.profit.indexOf('-') >= 0}">
                        ${{ bonusDetail.profit }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
          <p tw-pagination></p>
        </div>

        <div ng-if="bonusDetails.length <= 0">
            <p class="text-center mg-tp-20">无数据!</p>
        </div>
    </div>
</div>
