<!-- 我的分成 -->
<!-- <div>
    <div class="nav-tabs-wrapper">
        <ul class="nav-tabs">
            <li ui-sref-active="active">
                <a ui-sref="space.bonus.subpage({subpage: 'current'})">复制我的</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="space.bonus.subpage({subpage: 'history'})">我的分成</a>
            </li>
        </ul>
    </div>
    <div class="nav-tabs-content relative mg-bt-50">
        <div ui-view></div>
    </div>
</div> -->
<div style="width: 70%; padding-left: 50px; padding-top: 60px;">
    <h4>温馨提示：</h4>
    <p>因系统升级，内容暂不显示，您的分成仍正常计算中，若要了解分成明细请联系客服（400-809-8509），给您带来的不便请谅解。</p>
</div>