<!-- 我的分成 -->
<div class="space_bonus">
    <div class="space_bonus__total_box clearfix">
        <div class="space_bonus__total">
            <div class="item-num"><span>980</span></div>
            <div class="item-tip"><span>历史复制人数</span></div>
        </div>
        <div class="space_bonus__total mid">
            <div class="item-num"><span><i class="fa fa-dollar"></i>800</span></div>
            <div class="item-tip"><span>上月预估分成</span></div>
        </div>
        <div class="space_bonus__total">
            <div class="item-num"><span><i class="fa fa-dollar"></i>980</span></div>
            <div class="item-tip"><span>总计分成</span></div>
        </div>
    </div>
    <div class="space_bonus__title_box clearfix">
        <h4 class="tit">我的复制情况</h4>
        <div class="form-control-wrapper">
            <div class="select">
                <input class="select__input"
                       name="bonus"
                       type="text"
                       placeholder="请选择"
                       required
                       ng-model="bonusInfo.bonus.key">
                
                <i class="select__icon fa fa-angle-down"></i>

                <ul class="select__dropdown" twform-select data-bind-model="bonusInfo.bonus">
                    
                    <li ng-repeat="bonus in bonusList" ng-class="{'selected': bonus.value === bonusInfo.bonus.value}">
                        <span data-value="{{bonus.value}}">{{bonus.key}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="remark">
            <span class="font-info">注:</span>
            每月1号结算上一月分成
        </div>
    </div>
    <div class="space_bonus__current" ng-if="bonusInfo.bonus.value === 'current'">
        <table class="table table-header table-hover table-striped table-bordered">
            <colgroup>
                <col width="25%"></col>
                <col width="25%"></col>
                <col width="25%"></col>
                <col width="25%"></col>
            </colgroup>
            <thead>
                <tr>
                    <th>复制者</th>
                    <th>我的分成</th>
                    <th>结算时间</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="current in currentList">
                    <td class="font-info">{{ current.username }}</td>
                    <td>
                        <i class="fa fa-dollar"></i>{{ current.bonus }}
                    </td>
                    <td>{{ current.date }}</td>
                    <td class="font-success">
                        <button class="btn btn-primary btn-sm">详情</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="space_bonus__history" ng-if="bonusInfo.bonus.value === 'history'">
        <table class="table table-header table-hover table-striped table-bordered">
            <colgroup>
                <col width="50%"></col>
                <col width="50%"></col>
            </colgroup>
            <thead>
                <tr>
                    <th>结算时间</th>
                    <th>分成收入</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="history in historyList">
                    <td>{{ history.date }}</td>
                    <td>
                        <i class="fa fa-dollar"></i>{{ history.bonus }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>