<!DOCTYPE html>
<html lang="en" class="bd_redbag">

<head>
  <meta charset="UTF-8">
  <% include /common/meta/web.html %>
  <title>
    <%=lang.text("companyEnName")%>｜红包活动</title>
  <% include /common/vendor/web.css.html %>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->
    <% include /common/statistic/main.html %>
      <% include /common/vendor/web.js.html %>
</head>

<body ng-app="fullstackApp">
  <div ng-controller="GlobalController">
    <%if(lang.isCompany('tigerwit')){%>
        <% include /common/nav/web.header.html %>
    <%}%>
    <div class="web_r02 <%=lang.text('companyEnName')%>">
      <div class="container">
        <div class="web_r02__date">活动时间：2018.7.13 - 2018.8.10</div>
        <div class="web_r02__rule">
          <p class="tit"><img src="/images/bd_r02/web_rule_tit.png" alt=""></p>
          <ul class="rule_lst">
            <li>活动期间每日实盘开仓用户可参加一次淘金币活动；</li>
            <li>本活动奖品为随机美元现金，每次最高淘金金额为$100；</li>
            <li>本活动抽中的现金奖品（美元）将直接存入“零钱包”；</li>
            <li>如满足淘金币条件却未在活动期间内淘金币的用户，视为放弃本次淘金币机会；</li>
            <li>本活动参与用户不得滥用活动权利，如AB仓对冲操作、外挂操作软件或其他经纪商进行对冲；</li>
            <li>本活动仅适用于外汇、贵金属以及能源类产品，美元/人民币和CFD（指数）类产品的交易手数不计入统计范围；</li>
            <li>本活动淘金币环节仅在<%= lang.text('companyZhName')%>APP内操作；</li>
            <li>本活动最终解释权归<%= lang.text('companyZhName')%>平台所有，如有疑问请咨询在线客服或拨打<%= lang.text('telephone')%>。</li>
          </ul>
        </div>
        <div class="web_r02__code_box">
          <p class="tit"><img src="/images/bd_r02/web_code_tit.png" alt=""></p>
          <div class="code_box">
              <%if(lang.isCompany('tigerwit')){%>
                <img src="/images/bd_r02/code-www.png" alt="" class="www">
                <img src="/images/bd_r02/code-demo.png" alt="" class="demo">
              <%}%>
              <%if(lang.isCompany('pandafx')){%>
                  <img src="/images/bd_r02/code-panda.png" alt="" class="active">
              <%}%>
          </div>
        </div>
        <div class="web_r02__client">
          <p>如有疑问 请拨打客服电话</p>
          <p><%= lang.text('telephone')%></p>
        </div>
        <div class="web_r02__footer">
            <p>
                风险警示：市场有风险，投资需谨慎。金融市场的保证金交易存在较高风险， 可能并不适合所有投资者，增大杠杆意味着高风险与高收益并存。在您决定交易前， 应当谨慎考虑您的投资目标、投资经验及风险承受能力，并选择适合自己的投资方式。
                <%= lang.text("companyEnName")%>交易平台为广大交易高手及普通投资者提供复制交易服务， 交易高手的历史交易数据不代表未来操作能力，用户因此所产生的任何风险需自己承担。
            </p>
            <%if(lang.text('companyEnName') == 'TigerWit'){%>
              <p class="ltd">Tiger Financial Technology PTY. Ltd.版权所有</p>  
            <%}%>
        </div>
      </div>
    </div>
  </div>
  <%if(lang.isCompany('tigerwit')){%>
    <% include /common/nav/web.footer.html %>
  <%}%>
  
  <%- include('/common/statistic/_all.html') %>
  <!-- 注册协议相关弹窗 -->
  <%include /common/component/agment_mdl.html %>
</body>

<!-- build:js(client) /scripts/bd_r02.js -->
<script src="/scripts/common/config.service.js"></script>
<script src="/scripts/common/account.service.js"></script>
<script src="/scripts/common/authorization.service.js"></script>
<script src="/scripts/common/redbag.service.js"></script>
<script src="/scripts/common/navbar.directive.js"></script>
<script src="/scripts/common/dropdown.directive.js"></script>
<script src="/scripts/common/global.controller.js"></script>
<script src="/scripts/common/loading_img.directive.js"></script>

<script src="/scripts/common/pagination.directive.js"></script>
<script src="/scripts/common/duration.filter.js"></script>

<script src="/scripts/common/symbol_mod.filter.js"></script>
<script src="/scripts/common/trader.service.js"></script>
<script src="/scripts/common/lang.service.js"></script>
<script src="/scripts/common/lang_data.service.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<script src="/scripts/bd/r02/web.js"></script>
<script src="/scripts/bd/common/publicAjax.js"></script>
<script src="/scripts/bd/common/register.js"></script>
<!-- endbuild -->
</html>