.layui-m-layercont {
    .layer_bdt40 {
        background: -webkit-linear-gradient(top,#4bd7ae, #18d9ca);
        background: -moz-linear-gradient(top,#4bd7ae, #18d9ca);
        background: -o-linear-gradient(top,#4bd7ae, #18d9ca);
        background: linear-gradient(top,#4bd7ae, #18d9ca);
        opacity: 0.8;
        color: #fff;
        position: relative;
        font-size: px2rem(24);
        text-align: left;
        padding: px2rem(64) px2rem(32);

        a {
            color: #fff;
        }

        .rule_close {
            position: absolute;
            left: 50%;
            bottom: px2rem(-32);
            width: px2rem(64);
            height: px2rem(64);
            background-color: #fff;
            color: #222;
            border-radius: 50%;
            text-align: center;
            line-height: px2rem(64);
            margin-left: px2rem(-32);
        }
    }
}
@include b(m_t40_layout) {
    text-align: center;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    /* Firefox 4 */
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -o-transition: all 1s ease;
    /* Opera */
    font-family: sans-serif, 'Microsoft Yahei', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    .redbag_logo {
        position: absolute;
        top: 2%;
        left: 6%;
        width: 30%;
        &.panda {
            width: 40%;
            left: -2%;
        }
    }
    #dowebok {
        .registerNow {
            font-size: px2rem(32);
            line-height: px2rem(32);
            font-weight: 500;
            color: #666;
            padding: px2rem(16) px2rem(48);
            display: inline-block;
            background: url("/images/bd_t40/comm_icon1.png") no-repeat;
            background-position: center top;
            background-size: 100% 100%;
            margin-top: px2rem(32);
        }
        .connect_us {
            margin-top: 14%;
            display: inline-block;
            color: #fff;
            font-size: 0.8rem;
        }
        .slide_arrow {
            position: absolute;
            bottom: 0%;
            left: 52%;
            margin: -14px 0 0 -25px;
            width: 36px;
            height: 38px;
            background: url("/images/bd/change.png") no-repeat;
            -webkit-animation: start 1.5s infinite ease-in-out;
            -moz-animation: start 1.5s infinite ease-in-out;
            animation: start 1.5s infinite ease-in-out;
        }
        
        .section {
           

            .layer_contentBox {
                display: block;

                .layer_bdt40 {
                    display: none;
                }
            }
        }
        .section1 {
            
            .section_box {
                background: url("/images/bd_t40/h5_p1_bg.png") no-repeat;
                background-position: center top;
                background-size: 100% 100%;
                position: relative;
                height: 100%;
            }
            .section1_page {
                padding-top: px2rem(320);

                img {
                    width: 80%;
                }
            }
            .section1_tit {
                text-align: center;
                font-size: px2rem(42);
                line-height: px2rem(50);

                color: #fcf904;
            }
            .section1_date {
                text-align: center;
                font-size: px2rem(28);
                line-height: px2rem(36);

                color: #fff;
            }
            .detail {
                text-align: center;
                margin-top: 10%;
                
                .matters_btn {
                    background: url("/images/bd_t40/comm_icon1.png") no-repeat;
                    background-position: center top;
                    background-size: 100% 100%;
                    font-size: px2rem(32);
                    font-weight: 500;
                    color: #666;
                    padding: px2rem(8) px2rem(48);
                    display: inline-block;
                    background-color: transparent;
                }
            }
        }
        .section2 {
            .section_box {
                background: url("/images/bd_t40/h5_p2_bg_new.png") no-repeat;
                background-position: center top;
                background-size: 100% 100%;
                position: relative;
                height: 100%;
            }
            .section2_title {
                img {
                    width: 70%;
                    margin-top: 15%;
                }
            }
            .section2_lst {

                li {
                    width: 55%;
                    margin: 0.375rem auto 0;
                    border-radius: 0.625rem;
                    padding: px2rem(16) 0;
                    border: 3px solid #21e5a5;
                    margin: px2rem(12) auto 0;
                    border-radius:  px2rem(20);
                }
                .pic {
                    text-align: center;

                    img {
                        height: px2rem(80);
                        vertical-align: top;
                    }
                }
                .tit {
                    font-size: px2rem(26);
                    color: #333;
                    padding-top: px2rem(10);
                }
                .tip {
                    color: #666;
                    font-size: px2rem(26);
                    padding-bottom: px2rem(10);
                }
            }
            
            .registerNow {
                
            }
        }
        .section3 {
            .section_box {
                background: url("/images/bd_t40/h5_p2_bg_new.png") no-repeat;
                background-position: center top;
                background-size: 100% 100%;
                position: relative;
                height: 100%;
            }
            .section3_details {
                .section3_title {
                    img {
                        width: 80%;
                        margin-top: 15%;
                        margin-bottom: 5%;
                    }
                }
                .section3_lst {
                    width: 65%;
                    margin: 0 auto;          
                    position: relative;

                    .pic {

                        img {
                            width: 90%;
                            vertical-align: top;
                        }
                    }
                    .rule_btn {
                        position: absolute;
                        top: 95%;
                        right: 8%;

                        span {
                            font-size: px2rem(20);
                            color: #666;
                            border-bottom: 1px solid #666;
                        }
                    }
                }
                .section3_plus {
                    margin: px2rem(6) 0 px2rem(9);

                    img {
                        vertical-align: top;
                        width: px2rem(32);
                    }
                }
                .registerNow {
                    margin-top: px2rem(48);
                }
            }
        }
        .section4 {
            .section_box {
                background: url("/images/bd_t40/h5_p4_bg.png") no-repeat;
                background-position: center top;
                background-size: 100% 100%;
                position: relative;
                height: 100%;
            }
            .submit_form_box {
                width: px2rem(576);
                margin: 0 auto;
                background: rgba(255,255,255,0.2);
                border: 1px solid transparent;
                border-radius: px2rem(4);

                .verify_code_btn_wrapper {
                    position: absolute;
                    top: px2rem(12);
                    right: 0;
                    width: px2rem(180);
                    height: px2rem(48);
                    text-align: center;
                    line-height: px2rem(48);
                    border-left: 1px solid #ccc;

                    .verify_code_btn {
                        cursor: pointer;
                    }
                }

                .form-control-wrapper {
                    margin: px2rem(48) px2rem(48) 0;
                }
                
                input[type=number] {
                    padding-right: px2rem(192) !important;
                }
                .form-control.t38 {
                    width: 100%;
                    padding: px2rem(16);
                    background-color: #fff;
                    border-radius: px2rem(10);
                    padding-left: px2rem(32);
                }
                .btn-wrapper {
                    text-align: center;
                    margin: px2rem(48) 0;
                }
            }
            
            
            .section4_client {
                color: #999;
                padding-top: px2rem(96);
                font-size: px2rem(28);

                a {
                    color: #999;
                }
            }
            .section4_risk {
                color: #999;
                font-size: px2rem(20);
                padding: px2rem(48) px2rem(32) px2rem(16);
                text-align: left;
            }
            .section4_ltd {
                color: #999;
                font-size: px2rem(20);
                text-align: left;
                padding: 0 px2rem(32);
            }
        }
    }
}