<div class="sys_modal">
    <p class="clearfix">
        <button class="close" ng-click="closeModal()">&times;</button>
    </p>

    <div>
        <h5 class="sys_modal__title">
            {{lang.text('tigerWitID.prompt')}}
        </h5>
        <div class="sys_modal__add_account mg-tp-40" ng-if="historyType == 3">
                <div class="">
                    <p>{{lang.text('tigerWitID.oneLogin.tip1')}}</p>
                    <p>{{lang.text('tigerWitID.oneLogin.tip2')}}</p>
                </div>
                <div class="text-center">
                    <h2>{{lang.text('tigerWitID.oneLogin.masterAccount')}}</h2> 
                </div>
                <div>
                    <h5>{{lang.text('tigerWitID.oneLogin.accountAccessM')}}</h5>
                    <p>{{lang.text('tigerWitID.oneLogin.independentTrading0')}}</p>
                </div>
        </div>

        <div class="sys_modal__add_account mg-tp-40" ng-if="historyType == 2">
                <div class="">
                    <p>{{lang.text('tigerWitID.oneLogin.tip1')}}</p>
                    <p>{{lang.text('tigerWitID.oneLogin.tip7')}}</p>
                </div>
                <div class="text-center">
                    <h2>{{lang.text('tigerWitID.oneLogin.copyAccount')}}</h2> 
                </div>
                <div>
                    <h5>{{lang.text('tigerWitID.oneLogin.accountAccessM')}}</h5>
                    <p>{{lang.text('tigerWitID.oneLogin.tip3')}}</p>
                    <p>{{lang.text('tigerWitID.oneLogin.tip4')}}</p>
                    <p class="mg-tp-10">{{lang.text('tigerWitID.oneLogin.tip5')}}</p>
                </div>
        </div>

        <div class="sys_modal__add_account mg-tp-40" ng-if="historyType == 1">
                <div class="">
                    <p>{{lang.text('tigerWitID.oneLogin.tip1')}}</p>
                    <p>{{lang.text('tigerWitID.oneLogin.tip6')}}</p>
                </div>
                <div class="text-center">
                    <h2>{{lang.text('tigerWitID.oneLogin.independentTrading')}}</h2> 
                </div>
                <div>
                    <h5>{{lang.text('tigerWitID.oneLogin.accountAccessM')}}</h5>
                    <p>{{lang.text('tigerWitID.oneLogin.independentTrading0')}}</p>
                    <p>{{lang.text('tigerWitID.oneLogin.applyToMaster')}}</p>
                </div>
        </div>

        <div class="mg-tp-30 mg-bt-30 pd-bt-30 text-center">
            <button class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient" ng-click="closeModal()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </div>
    </div>

</div>

