<div class="sys_modal_v2">
  <button class="close" ng-click="closeModal()">&times;</button>
  <div class="sys_modal_v2__content">
    <div class="text-center mg-bt-50" ng-show="dredge_type == 'demo' || dredge_type == 'all'">
      <h3 class="sys_modal_v2__title">开通体验金账户</h3>
      <p class="sys_modal_v2__desp">开户仅需一步，开通后即送$200交易体验金</p>
      <p class="sys_modal_v2__desp">您可体验自主交易、复制交易、不用承担任何风险</p>
      <div class="btn_wrapper">
          <a class="btn btn-primary-gradient" ng-click="closeModal()" href="/space/#/authen/investInfo?dredge_type=demo" >免费开通</a>
      </div>
    </div>
    <div class="dredge_box" ng-show="dredge_type == 'live' || dredge_type == 'all'">
      <h3 class="sys_modal_v2__title text-center">开通真实交易账户</h3>
      <p class="sys_modal_v2__desp">三步即可开启交易账户。开户即领$200交易红包，首次入金更有$800红包等你拿。</p>
      <p class="sys_modal_v2__desp">Step1 完善信息</p>
      <p class="sys_modal_v2__desp">Step2 入金</p>
      <p class="sys_modal_v2__desp">Step3 上传身份审核</p>
      <div class="btn_wrapper">
          <a class="btn btn-primary-gradient" ng-click="confirmLive()">免费开通</a>
      </div>
    </div>
  </div>
</div>
