<div class="account_login-bg">
    <div class="account_login_box">
        <!-- <div class="account_describe">
            <h3 class="account_describe__title">高效•创新•可信赖</h3>
            <div class="account_describe__content">
                TigerWit是一家外汇交易和差价合约的国际券商，且接受多家国际权威机构监管。
            </div>
        </div> -->
        <div class="account_login">
            <div class="account_login__title" ng-show="loginStep2 == 1">
                <span ng-class="{no_active: loginType !== 'pass'}" ng-click="changeLoginType('pass')">{{ lang.text("tigerWitID.login.passwordLogin") }}</span>
                <span class="no_active"> / </span>
                <span ng-class="{no_active: loginType !== 'code'}" ng-click="changeLoginType('code')">{{ lang.text("tigerWitID.login.verificationCodeLogin") }}</span>
            </div>
            <!-- 密码登录 -->
            <div class="account_login__content" ng-show="loginType === 'pass'">
                <!-- <div class="account_login__title">
                    <span ng-click="toggleLoginMethod(1)" ng-if="loginStep3 == 2">{{lang.text('tigerWitID.login.loginWithEmail')}}</span><span ng-click="toggleLoginMethod(2)" ng-if="loginStep3 == 1">{{lang.text('tigerWitID.login.loginWithMobile')}}</span>
                </div> -->
                <!-- 手机号密码登录页 -->
                <div ng-show="loginStep2 == 1 && loginStep3 == 2">
                    <form name="loginFormPhonePw" class="account_login__form" novalidate>
                        <div class="account-form-control-wrapper-new">
                            <div class="select-left">
                                <input class="select__input" name="phoneArea" disabled type="" autocomplete="off" placeholder="{{lang.text('tigerWitID.areaCode')}}" required ng-model="account.phoneArea.key">

                                <ul class="select__dropdown" twform-select data-bind-model="account.phoneArea2">
                                    <li class="first_li"><input type="text" placeholder="{{lang.text('tigerWitID.login.countryCode')}}" ng-model="placeholderArea"><i class="fa fa-search"></i></li>
                                    <li ng-repeat="world in worldList | filter : placeholderArea" ng-class="{'selected': world.phone_code === account.phoneArea.value}">
                                        <span data-value="{{world.code}}" ng-click="selectArea(world)">+{{world.phone_code}}({{world.name}})</span>
                                    </li>
                                </ul>
                            </div>
                            <input class="account-form-control-new select-right"
                                   name="phonePwPhone"
                                   type="text"
                                   placeholder="{{lang.text('tigerWitID.login.enterPhoneNumber')}}"
                                   required
                                   ng-click="toTrackPhoneSensorsdata()"
                                   on-enter="login('loginFormPhonePw')"
                                   ng-model="account.phonePhone">
                            <span class="account-form-control-tip-new" ng-show="account.phonePhone">{{lang.text('tigerWitID.login.phoneNumber')}}</span>
                            <span class="account_login__close" ng-show="account.phonePhone" ng-click="clearPhone('phonePhone')">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="step2Password"
                                   type="password"
                                   placeholder="{{lang.text('tigerWitID.login.enterPassword')}}"
                                   on-enter="login('loginFormPhonePw')"
                                   required
                                   ng-model="account.step2Password">
                            <span class="account-form-control-tip-new" ng-show="account.step2Password">{{ lang.text('actLogin22') }}</span>
                            <!-- <span class="account_login__close" ng-click="changePasswordStatus('step2PasswordStatus')">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span> -->
                            <span class="account_login__pass-tip" ng-click="goForgetPassword()">{{ lang.text("tigerWitID.login.forgetPassword") }}</span>
                        </div>

                        <!-- <div class="account-form-control-wrapper-new" ng-show="!step2PasswordStatus">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="step2Password"
                                   type="text"
                                   placeholder="{{lang.text('tigerWitID.login.enterPassword')}}"
                                   on-enter="login('loginFormPhonePw')"
                                   required
                                   ng-model="account.step2Password">
                            <span class="account-form-control-tip-new" ng-show="account.step2Password">{{ lang.text('actLogin22') }}</span>
                            <span class="account_login__close" ng-click="changePasswordStatus('step2PasswordStatus')">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>
                        </div> -->
                        <div class="account_login__remenber clearfix">
                            <span class="account_login__remenber-btn fl" ng-click="changeRememberLogin()">
                                <i class="fa fa-square-o" ng-show="!rememberLoginStatus"></i>
                                <i class="fa fa-check-square" ng-show="rememberLoginStatus"></i>
                                {{ lang.text('tigerWitID.login.keepMeLogin') }}
                            </span>
                            <p class="account_login__remenber-switch fr">
                                <span ng-click="toggleLoginMethod(1)" ng-if="loginStep3 == 2">{{lang.text('tigerWitID.login.loginWithEmail')}}</span>
                            </p>
                        </div>
                    </form>
                    <div class="account_login__btn_wrapper pd-tp-15">
                        <button class="tw-btn-md tw-btn-capsule-gradient" ng-click="login('loginFormPhonePw')">{{ lang.text('tigerWitID.login.login') }}</button>
                    </div>
                </div>
                <!-- 邮箱密码登录页 -->
                <div ng-show="loginStep2 == 1 && loginStep3 == 1">
                    <form name="loginFormEmailPw" class="account_login__form" novalidate>
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                    name="emailPwEmail"
                                    type="text"
                                    placeholder="{{lang.text('tigerWitID.login.enterEmail')}}"
                                    required
                                    ng-click="toTrackEmailSensorsdata()"
                                    on-enter="login('loginFormEmailPw')"
                                    ng-model="account.emailEmali">
                            <span class="account-form-control-tip-new" ng-show="account.emailEmali">{{lang.text('tigerWitID.login.email')}}</span>
                            <span class="account_login__close" ng-show="account.emailEmali" ng-click="clearPhone('emailEmali')">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                    autocomplete="off"
                                    name="step1Password"
                                    type="password"
                                    placeholder="{{lang.text('tigerWitID.login.enterPassword')}}"
                                    on-enter="login('loginFormEmailPw')"
                                    required
                                    ng-model="account.step1Password">
                            <span class="account-form-control-tip-new" ng-show="account.step1Password">{{ lang.text('actLogin22') }}</span>
                            <!-- <span class="account_login__close" ng-click="changePasswordStatus('step2PasswordStatus')">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span> -->
                            <span class="account_login__pass-tip" ng-click="goForgetPassword()">{{ lang.text("tigerWitID.login.forgetPassword") }}</span>
                        </div>
                        <!-- <div class="account-form-control-wrapper-new" ng-show="!step2PasswordStatus">
                            <input class="account-form-control-new"
                                    autocomplete="off"
                                    name="step1Password"
                                    type="text"
                                    placeholder="{{lang.text('tigerWitID.login.enterPassword')}}"
                                    on-enter="login('loginFormEmailPw')"
                                    required
                                    ng-model="account.step1Password">
                            <span class="account-form-control-tip-new" ng-show="account.step1Password">{{ lang.text('actLogin22') }}</span>
                            <span class="account_login__close" ng-click="changePasswordStatus('step2PasswordStatus')">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>
                        </div> -->
                        <div class="account_login__remenber clearfix">
                            <span class="account_login__remenber-btn fl" ng-click="changeRememberLogin()">
                                <i class="fa fa-square-o" ng-show="!rememberLoginStatus"></i>
                                <i class="fa fa-check-square" ng-show="rememberLoginStatus"></i>
                                {{ lang.text('tigerWitID.login.keepMeLogin') }}
                            </span>
                            <p class="account_login__remenber-switch fr">
                                <span ng-click="toggleLoginMethod(2)" ng-if="loginStep3 == 1">{{lang.text('tigerWitID.login.loginWithMobile')}}</span>
                            </p>
                        </div>
                    </form>
                    <div class="account_login__btn_wrapper pd-tp-15">
                        <button class="tw-btn-md tw-btn-capsule-gradient" ng-click="login('loginFormEmailPw')">{{ lang.text('tigerWitID.login.login') }}</button>
                    </div>
                </div>
                <!-- 忘记密码页 -->
                <div ng-show="loginStep2 == 2 && loginStep3 == 2">
                    <div class="account_login__title">{{ lang.text('actLogin28') }}</div>
                    <form name="loginFormforgetPhonePw" class="account_login__form" novalidate>
                        <div class="account-form-control-wrapper-new">
                            <div class="select-left">
                                <input class="select__input" name="phoneArea" disabled  autocomplete="off" type="text" placeholder="{{lang.text('tigerWitID.areaCode')}}" required ng-model="account.phoneArea.key">

                                <ul class="select__dropdown" twform-select data-bind-model="account.phoneArea2">

                                    <li class="first_li"><input type="text" placeholder="{{lang.text('tigerWitID.login.countryCode')}}" ng-model="placeholderArea"><i class="fa fa-search"></i></li>
                                    <li ng-repeat="world in worldList | filter : placeholderArea" ng-class="{'selected': world.phone_code === account.phoneArea.value}">
                                        <span data-value="{{world.code}}" ng-click="selectArea(world)">+{{world.phone_code}}({{world.name}})</span>
                                    </li>
                                </ul>
                            </div>
                            <input class="account-form-control-new select-right"
                                   autocomplete="off"
                                   name="forgetPhone"
                                   type="text"
                                   placeholder="{{lang.text('tigerWitID.login.enterPhoneNumber')}}"
                                   on-enter="getCaptcha('loginFormforgetPhonePw', 'forgetPhone')"
                                   required
                                   ng-model="account.phonePhone">
                            <span class="account-form-control-tip-new" ng-show="account.phonePhone">{{ lang.text("actLogin17") }}</span>
                            <span class="account_login__close" ng-show="account.phonePhone" ng-click="clearPhone('phonePhone')">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="forgetPhoneCode"
                                   type="text"
                                   placeholder="{{ lang.text('actLogin4') }}"
                                   on-enter="goForgetPassword2('loginFormforgetPhonePw', 'phonePhone', 'forgetPhoneCode')"
                                   required
                                   ng-model="account.forgetPhoneCode">
                            <span class="account-form-control-tip-new" ng-show="account.forgetPhoneCode">{{ lang.text('tigerWitID.login.verificationCodej') }}</span>
                            <span class="account_login__code_btn" ng-show="!codeBtnStatus.forgetPhone.count" ng-click="getCaptcha('loginFormforgetPhonePw', 'forgetPhone')">
                                {{lang.text('tigerWitID.login.sendSMS')}}
                            </span>
                            <span class="account_login__code_btn notAllowed" ng-show="codeBtnStatus.forgetPhone.count">
                                {{lang.text('tigerWitID.myAccount.tip39_1')}}{{ codeBtnStatus.forgetPhone.msg }}{{lang.text('tigerWitID.myAccount.tip39_2')}}
                            </span>
                        </div>
                    </form>
                    <div class="account_login__btn_wrapper pd-tp-15">
                        <button class="tw-btn-md tw-btn-capsule-gradient mg-rg-30" ng-click="backPassword()">{{ lang.text('actLogin29_1') }}</button>
                        <button class="tw-btn-md tw-btn-capsule-gradient" ng-click="goForgetPassword2('loginFormforgetPhonePw', 'phonePhone', 'forgetPhoneCode')">{{ lang.text('actLogin29') }}</button>
                    </div>
                </div>
                <div ng-show="loginStep2 == 2 && loginStep3 == 1">
                    <div class="account_login__title">{{ lang.text('actLogin28') }}</div>
                    <form name="loginFormforgetEmailPw" class="account_login__form" novalidate style="margin-bottom: 45px;">
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                    autocomplete="off"
                                    name="forgetEmail"
                                    type="text"
                                    placeholder="{{lang.text('tigerWitID.login.enterEmail')}}"
                                    on-enter="getCaptcha('loginFormforgetEmailPw', 'forgetEmail')"
                                    required
                                    ng-model="account.emailEmali">
                            <span class="account-form-control-tip-new" ng-show="account.emailEmali">{{lang.text('tigerWitID.login.email')}}</span>
                            <span class="account_login__close" ng-show="account.emailEmali" ng-click="clearPhone('emailEmali')">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                    autocomplete="off"
                                    name="forgetEmailCode"
                                    type="text"
                                    placeholder="{{ lang.text('actLogin4') }}"
                                    on-enter="goForgetPassword2('loginFormforgetEmailPw', 'emailEmali', 'forgetEmailCode')"
                                    required
                                    ng-model="account.forgetEmailCode">
                            <span class="account-form-control-tip-new" ng-show="account.forgetEmailCode">{{ lang.text('tigerWitID.login.verificationCodej') }}</span>
                            <span class="account_login__code_btn" ng-show="!codeBtnStatus.forgetEmail.count" ng-click="getCaptcha('loginFormforgetEmailPw', 'forgetEmail')">
                                {{lang.text('tigerWitID.login.sendCode')}}
                            </span>
                            <span class="account_login__code_btn notAllowed" ng-show="codeBtnStatus.forgetEmail.count">
                                {{lang.text('tigerWitID.myAccount.tip39_1')}}{{ codeBtnStatus.forgetEmail.msg }}{{lang.text('tigerWitID.myAccount.tip39_2')}}
                            </span>
                        </div>
                    </form>
                    <div class="account_login__btn_wrapper pd-tp-15">
                        <button class="tw-btn-md tw-btn-capsule-gradient mg-rg-30" ng-click="backPassword()">{{ lang.text('actLogin29_1') }}</button>
                        <button class="tw-btn-md tw-btn-capsule-gradient" ng-click="goForgetPassword2('loginFormforgetEmailPw', 'emailEmali', 'forgetEmailCode')">{{ lang.text('actLogin29') }}</button>
                    </div>
                </div>
                <!-- 忘记密码 设置密码 -->
                <div ng-show="loginStep2 == 3">
                    <div class="account_login__title">{{ lang.text('actLogin20') }}</div>
                    <form name="loginFormSetPw" class="account_login__form" novalidate>
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="forgetPassword"
                                   type="password"
                                   placeholder="{{ lang.text('tigerWitID.login.enterPassword') }}"
                                   on-enter="setForgetPassword('loginFormSetPw')"
                                   required
                                   ng-model="account.forgetPassword">
                            <span class="account-form-control-tip-new" ng-show="account.forgetPassword">{{ lang.text('actLogin22') }}</span>
                            <!-- <span class="account_login__close" ng-click="changePasswordStatus('forgetPasswordStatus')">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span> -->
                        </div>
                        <!-- <div class="account-form-control-wrapper-new" ng-show="!forgetPasswordStatus">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="forgetPassword"
                                   type="text"
                                   placeholder="{{ lang.text('tigerWitID.login.enterPassword') }}"
                                   on-enter="setForgetPassword('loginFormSetPw')"
                                   required
                                   ng-model="account.forgetPassword">
                            <span class="account-form-control-tip-new" ng-show="account.forgetPassword">{{ lang.text('actLogin22') }}</span>
                            <span class="account_login__close" ng-click="changePasswordStatus('forgetPasswordStatus')">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>
                        </div> -->
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="forgetPassword2"
                                   type="password"
                                   placeholder="{{ lang.text('tigerWitID.login.confirmPassword') }}"
                                   on-enter="setForgetPassword('loginFormSetPw')"
                                   required
                                   ng-model="account.forgetPassword2">
                            <span class="account-form-control-tip-new" ng-show="account.forgetPassword2">{{ lang.text('tigerWitID.login.confirmPasswordj') }}</span>
                            <!-- <span class="account_login__close" ng-click="changePasswordStatus('forgetPasswordStatus')">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span> -->
                        </div>
                        <!-- <p class="account_login__pass-tip2">{{ lang.text('actLogin23') }}</p> -->
                    </form>
                    <div class="account_login__btn_wrapper pd-tp-15">
                        <button class="tw-btn-md tw-btn-capsule-gradient mg-rg-30" ng-click="goForgetPassword()">{{ lang.text('actLogin29_1') }}</button>
                        <button class="tw-btn-md tw-btn-capsule-gradient" ng-click="setForgetPassword('loginFormSetPw')">{{ lang.text('actLogin30') }}</button>
                    </div>
                </div>
                <!-- 设置密码成功 -->
                <!-- <div ng-show="loginStep2 == 4">
                    <div class="account_login__title">{{ lang.text('actLogin20') }}</div>
                    <div class="account_login__tip">
                        {{ lang.text('actLogin31') }}
                    </div>
                    <div class="account_login__btn_wrapper">
                        <span class="account_login__btn" ng-click="goLogin()">{{ lang.text('actLogin32') }}</span>
                    </div>
                </div> -->
            </div>
            <!-- 验证码登录 -->
            <div class="account_login__content" ng-show="loginType === 'code'">
                <!-- <div class="account_login__title">
                    <span ng-click="toggleLoginMethod(1)" ng-if="loginStep3 == 2">{{lang.text('tigerWitID.login.loginWithEmail')}}</span><span ng-click="toggleLoginMethod(2)" ng-if="loginStep3 == 1">{{lang.text('tigerWitID.login.loginWithMobile')}}</span>
                </div> -->
                <!-- 手机号登陆 -->
                <div ng-show="loginStep3 == 2">
                    <form name="loginFormPhoneV" class="account_login__form" novalidate>
                        <div class="account-form-control-wrapper-new">
                            <div class="select-left">
                                <input class="select__input"
                                        name="phoneArea"
                                        disabled
                                        autocomplete="off" 
                                        type="text"
                                        placeholder="{{lang.text('tigerWitID.areaCode')}}"
                                        required
                                        ng-model="account.phoneArea.key">

                                <ul class="select__dropdown" twform-select data-bind-model="account.phoneArea2">
                                    
                                    <li class="first_li"><input type="text" placeholder="{{lang.text('tigerWitID.login.countryCode')}}" ng-model="placeholderArea"><i class="fa fa-search"></i></li>
                                    <li ng-repeat="world in worldList | filter : placeholderArea" ng-class="{'selected': world.phone_code === account.phoneArea.value}">
                                        <span data-value="{{world.code}}" ng-click="selectArea(world)">+{{world.phone_code}}({{world.name}})</span>
                                    </li>
                                </ul>
                            </div>
                            <input class="account-form-control-new select-right"
                                   autocomplete="off"
                                   name="phoneVePhone"
                                   type="text"
                                   placeholder="{{lang.text('tigerWitID.login.enterPhoneNumber')}}"
                                   on-enter="getCaptcha('loginFormPhoneV', 'phoneVePhone')"
                                   required
                                   ng-click="toTrackPhoneSensorsdata()"
                                   ng-model="account.phonePhone">
                            <span class="account-form-control-tip-new" ng-show="account.phonePhone">{{ lang.text("actLogin17") }}</span>
                            <span class="account_login__close" ng-show="account.phonePhone" ng-click="clearPhone('phonePhone')">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>   
                        </div>
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="phoneVeCode"
                                   type="text"
                                   placeholder="{{ lang.text('actLogin4') }}"
                                   on-enter="login('loginFormPhoneV')"
                                   required
                                   ng-click="toTrackCodeSensorsdata()"
                                   ng-model="account.phoneVeCode">
                            <span class="account-form-control-tip-new" ng-if="account.phoneVeCode">{{ lang.text('tigerWitID.login.verificationCodej') }}</span>
                            <span class="account_login__code_btn" ng-show="!codeBtnStatus.phoneVePhone.count" ng-click="getCaptcha('loginFormPhoneV', 'phoneVePhone')">
                                {{lang.text('tigerWitID.login.sendSMS')}}
                            </span>
                            <span class="account_login__code_btn notAllowed" ng-show="codeBtnStatus.phoneVePhone.count">
                                {{lang.text('tigerWitID.myAccount.tip39_1')}}{{ codeBtnStatus.phoneVePhone.msg }}{{lang.text('tigerWitID.myAccount.tip39_2')}}
                            </span>
                        </div>
                        <div class="account_login__remenber clearfix">
                            <span class="account_login__remenber-btn fl" ng-click="changeRememberLogin()">
                                <i class="fa fa-square-o" ng-show="!rememberLoginStatus"></i>
                                <i class="fa fa-check-square" ng-show="rememberLoginStatus"></i>
                                {{ lang.text('tigerWitID.login.keepMeLogin') }}
                            </span>
                            <p class="account_login__remenber-switch fr">
                                <span ng-click="toggleLoginMethod(1)" ng-if="loginStep3 == 2">{{lang.text('tigerWitID.login.loginWithEmail')}}</span>
                            </p>
                        </div>
                    </form>
                    <div class="account_login__btn_wrapper pd-tp-15">
                        <button class="tw-btn-md tw-btn-capsule-gradient" ng-click="login('loginFormPhoneV')">{{ lang.text('tigerWitID.login.login') }}</button>
                    </div>
                </div> 
                <!-- 邮箱登录    -->
                <div ng-show="loginStep3 == 1">
                    <form name="loginFormEmailV" class="account_login__form" novalidate ng-style="{'margin-bottom': lang.isEnglish() ? '0px' : '20px'}">
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="emailVeEmail"
                                   type="text"
                                   placeholder="{{lang.text('tigerWitID.login.enterEmail')}}"
                                   on-enter="getCaptcha('loginFormEmailV', 'emailVeEmail')"
                                   required
                                   ng-click="toTrackEmailSensorsdata()"
                                   ng-model="account.emailEmali">
                            <span class="account-form-control-tip-new" ng-show="account.emailEmali">{{lang.text('tigerWitID.login.email')}}</span>
                            <span class="account_login__close" ng-show="account.emailEmali" ng-click="clearPhone('emailEmali')">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="account-form-control-wrapper-new">
                            <input class="account-form-control-new"
                                   autocomplete="off"
                                   name="emailVeCode"
                                   type="text"
                                   placeholder="{{ lang.text('actLogin4') }}"
                                   on-enter="login('loginFormEmailV')"
                                   required
                                   ng-click="toTrackEmailCodeSensorsdata()"
                                   ng-model="account.emailVeCode">
                            <span class="account-form-control-tip-new" ng-if="account.emailVeCode">{{ lang.text('tigerWitID.login.verificationCodej') }}</span>
                            <span class="account_login__code_btn" ng-show="!codeBtnStatus.emailVeEmail.count" ng-click="getCaptcha('loginFormEmailV', 'emailVeEmail')">
                                {{lang.text('tigerWitID.login.sendCode')}}
                            </span>
                            <span class="account_login__code_btn notAllowed" ng-show="codeBtnStatus.emailVeEmail.count">
                                {{lang.text('tigerWitID.myAccount.tip39_1')}}{{ codeBtnStatus.emailVeEmail.msg }}{{lang.text('tigerWitID.myAccount.tip39_2')}}
                            </span>
                        </div>
                        <div class="account_login__remenber clearfix">
                            <span class="account_login__remenber-btn fl" ng-click="changeRememberLogin()">
                                <i class="fa fa-square-o" ng-show="!rememberLoginStatus"></i>
                                <i class="fa fa-check-square" ng-show="rememberLoginStatus"></i>
                                {{ lang.text('tigerWitID.login.keepMeLogin') }}
                            </span>
                            <p class="account_login__remenber-switch fr">
                                <span ng-click="toggleLoginMethod(2)" ng-if="loginStep3 == 1">{{lang.text('tigerWitID.login.loginWithMobile')}}</span>
                            </p>
                        </div>
                    </form>
                    <div class="account_login__btn_wrapper pd-tp-15">
                        <button class="tw-btn-md tw-btn-capsule-gradient" ng-click="login('loginFormEmailV')">{{ lang.text('tigerWitID.login.login') }}</button>
                    </div>
                </div>
                <!-- 新用户 -->
                <!-- <div ng-show="loginStep1 == 2">
                    <div class="account_login__title">{{ lang.text('actLogin20') }}</div>
                    <form name="loginForm2" class="account_login__form" novalidate ng-style="{'margin-bottom': lang.isEnglish() ? '5px' : '25px'}">
                        <div class="account-form-control-wrapper" ng-show="step1PasswordStatus">
                            <input class="account-form-control"
                                   autocomplete="off"
                                   name="step1Password"
                                   type="password"
                                   placeholder="{{ lang.text('tigerWitID.login.enterPassword') }}"
                                   on-enter="setPassword('loginForm2')"
                                   required
                                   ng-model="account.step1Password">
                            <span class="account-form-control-tip-new" ng-show="account.step1Password">{{ lang.text('actLogin22') }}</span>
                            <span class="account_login__close" ng-click="changePasswordStatus('step1PasswordStatus')">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="account-form-control-wrapper" ng-show="!step1PasswordStatus">
                            <input class="account-form-control"
                                   autocomplete="off"
                                   name="step1Password"
                                   type="text"
                                   on-enter="setPassword('loginForm2')"
                                   placeholder="{{ lang.text('tigerWitID.login.enterPassword') }}"
                                   required
                                   ng-model="account.step1Password">
                            <span class="account-form-control-tip-new" ng-show="account.step1Password">{{ lang.text('actLogin22') }}</span>
                            <span class="account_login__close" ng-click="changePasswordStatus('step1PasswordStatus')">
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>
                        </div>
                        <p class="account_login__code-tip">{{ lang.text('actLogin23') }}</p>
                        <p class="account_login__code-jump">
                            <a ui-sref="space.center.index" ng-click="openDredgeMdl({position: 'register'})">{{ lang.text('actLogin34') }}</a>
                        </p>
                    </form>
                    <div class="account_login__btn_wrapper">
                        <span class="account_login__btn" ng-click="setPassword('loginForm2')">{{ lang.text('actLogin33') }}</span>
                    </div>
                </div> -->
                <!-- <div class="account_login__docs">
                    <p ng-show="loginStep1 == 1">
                        {{ lang.text('actLogin10') }}<a class="" href="/agreement/client" target="_blank">{{ lang.text('actLogin11') }}</a>、<a class="" href="/agreement/risk" target="_blank">{{ lang.text('actLogin12') }}</a>、<a class="" href="/agreement/cookie" target="_blank">{{ lang.text('actLogin13') }}</a>{{ lang.text('actLogin15') }}<a class="" href="/agreement/legal" target="_blank">{{ lang.text('actLogin14') }}</a>
                    </p>
                </div> -->

            </div>
            <div class="account_login__docs mg-tp-20"  ng-show="loginStep2 == 1">
                <p>*{{lang.text('tigerWitID.login.tip3')}}</p>
                <div class="account_login__docs-go mg-tp-20">
                    <span>{{lang.text('tigerWitID.login.notHaveAccount')}}</span><a class="account_login__remenber-switch" ng-href="/space/#/account/register">{{lang.text('tigerWitID.login.register')}}</a>
                </div>
            </div>
        </div>
    </div>
</div>