<div class="m_third">
    <div class="m_third_navbar">
        <div class="m_third_navbar__box">
            <ul class="m_third_navbar__progress clearfix">
                <li class="circle active">
                    <span class=""></span>
                    <div class="tit">
                        <%=lang.text('third_navBar1')%>
                    </div>
                </li>
                <li class="circle num1">
                    <span class=""></span>
                    <div class="tit">
                        <%=lang.text('third_navBar2')%>
                    </div>
                </li>
                <li class="circle num2">
                    <span class=""></span>
                    <div class="tit">
                        <%=lang.text('third_navBar3')%>
                    </div>
                </li>
                <li class="circle num3">
                    <span class=""></span>
                    <div class="tit">
                        <%=lang.text('third_navBar4')%>
                    </div>
                </li>
                <li class="line num1">
                    <span class=""></span>
                </li>
                <li class="line num2">
                    <span class=""></span>
                </li>
                <li class="line num3">
                    <span class=""></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="m_third_index">
        <div class="m_third_index__content">
            <ul class="clearfix dollar200">
                <li class="icon">
                    <img src="/images/third-icon-1.png">
                </li>
                <li class="tip">
                    <p class="t"><%=lang.text('third_index1')%></p>
                    <p class="sub-t"><%=lang.text('third_index2')%></p>
                </li>
            </ul>
            <ul class="clearfix">
                <li class="icon">
                    <img src="/images/third-icon-2.png">
                </li>
                <li class="tip">
                    <p class="t"><%=lang.text('third_index3')%></p>
                    <p class="sub-t"><%=lang.text('third_index4')%></p>
                </li>
            </ul>
        </div>
        <div class="m_third_index__btn">
            <button class="btn btn-primary">
                <%=lang.text('third_index5')%>
            </button>
            <p class="tip"><%=lang.text('third_index6')%></p>
        </div>
    </div>
    <div class="m_third_kyc">

        <div class="m_third_kyc__template"></div>

        <div class="m_third_kyc__btn">
            <button class="btn btn-primary">
                <%=lang.text('third_next')%>
            </button>
        </div>
    </div>
    <div class="m_third_userinfo">
        <!-- <div class="m_third_userinfo__wrapper">
            <input class="info realname"
                   type="text"
                   placeholder="<%=lang.text('third_placeholder1')%>">
        </div>
        <div class="m_third_userinfo__wrapper">
            <input class="info id_no"
                   type="text"
                   placeholder="<%=lang.text('third_placeholder2')%>">
        </div> -->
        <div class="m_third_userinfo__wrapper">
            <input class="info email"
                type="text"
                placeholder="<%=lang.text('third_placeholder3')%>">
        </div>
        <div class="m_third_userinfo__wrapper">
            <input class="info country"
                type="text"
                placeholder="<%=lang.text('third_placeholder4')%>">
            <select class=""></select>
        </div>
        <div class="m_third_userinfo__wrapper">
            <input class="info address"
                type="text"
                placeholder="<%=lang.text('third_placeholder5')%>">
        </div>
        <input type="text" style="display: none;">
        <div class="m_third_userinfo__btn">
            <button class="btn btn-primary">
                <%=lang.text('third_next')%>
            </button>
        </div>
    </div>
    <div class="m_third_username">
        <p><%=lang.text('third_username1')%></p>
        <div class="m_third_username__male">
            <span class="male active" data-gender="1"><%=lang.text('third_username2')%></span>
            <span class="female" data-gender="0"><%=lang.text('third_username3')%></span>
        </div>
        <div class="m_third_username__wrapper">
            <input class="info realname"
                   type="text"
                   placeholder="<%=lang.text('third_username4')%>">
        </div>
        <div class="m_third_username__wrapper">
            <input class="info card_type"
                   type="text"
                   placeholder="<%=lang.text('third_username5')%>">
            <select class=""></select>
        </div>
        <div class="m_third_username__wrapper">
            <input class="info id_no"
                    type="text"
                    placeholder="<%=lang.text('third_username6')%>">
        </div>
        <div class="m_third_username__wrapper">
            <input class="info birth"
                    id="birth"
                    type="text"
                    placeholder="<%=lang.text('third_username7')%>">
        </div>
        <input type="text" style="display: none;">
        <div class="m_third_username__btn">
            <button class="btn btn-primary">
                <%=lang.text('third_next')%>
            </button>
        </div>
    </div>
    <div class="m_third_card">
        <div class="m_third_card__tip">
            <%=lang.text('third_uploadCard')%>
            <span class=""></span>
        </div>
        <div class="m_third_card__pic front">
            <div class="img front">
                
            </div>
            <form class="form">
                <input type="file" data-page="front" name="file" accept="image/*" />
            </form>

            <div class="plus"></div>
            <div class="tip"></div>
        </div>
        <div class="m_third_card__pic back">
            <div class="img back">
                
            </div>
            <form class="form">
                <input type="file" data-page="back" name="file" accept="image/*" />
            </form>
            <div class="plus"></div>
            <div class="tip"></div>
        </div>
        <div class="m_third_card__btn">
            <button class="btn btn-primary">
                <%=lang.text('third_submit')%>
            </button>
        </div>
    </div>
    <div class="m_third_verify">
        <div class="m_third_verify__content">
            <h3 class="tit"><%=lang.text('third_verify1')%></h3>
            <h4 class="sub_tit"><%=lang.text('third_verify1_1')%></h4>
            <p class="tip"><%=lang.text('third_verify2')%></p>
            <div class="detail">
                <p><%=lang.text('third_verify3')%></p>
                <p><%=lang.text('third_verify4')%></p>
                <p><%=lang.text('third_verify5')%></p>
            </div>
            <p class="desc"><%=lang.text('third_verify6')%></p>
        </div>
    </div>
    <div class="m_third_success">
        <div class="m_third_success__tip">
            请设置MT4账号密码，用于登陆MT4客户端
        </div>
        <div class="m_third_success__wrapper">
            <input class="info"
                   type="password"
                   placeholder="设置MT4密码">
        </div>
        <div class="m_third_success__btn">
            <button class="btn btn-primary">
                完成
            </button>
        </div>
    </div>
    <div class="m_third_complete">
        <div class="m_third_complete__tit">
            <span class="icon">
                <img src="/images/icon-right.png">
            </span>
            <span class="tip">用户注册成功</span>
        </div>
        <div class="m_third_complete__id">
            MT4账号：<span>xxx</span>
        </div>
        <div class="m_third_complete__server">
            MT4服务器：<span>TigerWit-Live</span>服务器
        </div>
        <div class="m_third_complete__btn">
            <p class="tip">请牢记您的账号和密码，用于登陆MT4客户端</p>
            <button class="btn btn-primary">
                完成
            </button>
        </div>
    </div>
</div>

<script id="template_kyc_info" type="text/html">
    <$for(var i=0;i<data.length;i++){$>
        <$if (data[i].type == 1) {$>
            <div class="m_third_kyc__single">
                <p class="tit"><$= data[i].title$></p>
                <div class="cont">
                    <select data-name="<$= data[i].name$>">
                        <option value="" disabled selected></option>
                        <$for(var j=0;j<data[i].list.length;j++){$>
                        <option value="<$= data[i].list[j].key$>"><$= data[i].list[j].value$></option>
                        <$}$>
                    </select>
                </div>
            </div>
        <$}$>
        <$if (data[i].type == 2) {$>
            <div class="m_third_kyc__single">
                <p class="tit"><$= data[i].title$></p>
                <div class="cont">
                    <ul class="m_third_kyc__single-list radio clearfix">
                        <$for(var j=0;j<data[i].list.length;j++){$>
                        <li>
                            <label data-name="<$= data[i].name$>">
                                <span class="inp" data-name="<$= data[i].name$>" data-value="<$= data[i].list[j].key$>"></span>
                                <span><$= data[i].list[j].value$></span>
                            </label>
                        </li>
                        <$}$>
                    </ul>
                </div>
            </div>
        <$}$>
        <$if (data[i].type == 3) {$>
            <div class="m_third_kyc__single">
                <p class="tit"><$= data[i].title$></p>
                <div class="cont">
                    <ul class="m_third_kyc__single-list checkbox clearfix">
                        <$for(var j=0;j<data[i].list.length;j++){$>
                        <li>
                            <label>
                                <span class="inp" data-name="<$= data[i].name$>" data-value="<$= data[i].list[j].key$>"></span>
                                <span><$= data[i].list[j].value$></span>
                            </label>
                        </li>
                        <$}$>
                    </ul>
                </div>
            </div>
        <$}$>
    <$}$>
</script>
<script id="template_country_info" type="text/html">
    <option value=""><%=lang.text('third_select')%></option>
    <$for(var i=0;i<data.length;i++){$>
    <option value="<$= data[i].code$>"><% if (lang.currentLanguage() !== 'en') {%><$= data[i].name_cn$><%} else {%><$= data[i].name_en$><%}%></option>
    <$}$>
</script>
<script id="template_card_info" type="text/html">
    <option value=""><%=lang.text('third_select')%></option>
    <$for (var i=0;i<data.length;i++){$>
        <option value="<$= data[i].value$>"><$= data[i].key$></option>
    <$}$>
</script>