<div class="m_third">
    <div class="m_third_navbar">
        <div class="m_third_navbar__box">
            <ul class="m_third_navbar__progress clearfix">
                <li class="circle active">
                    <span class=""></span>
                    <div class="tit">
                        开设帐户
                    </div>
                </li>
                <li class="circle num1">
                    <span class=""></span>
                    <div class="tit">
                        完善信息
                    </div>
                </li>
                <li class="circle num2">
                    <span class=""></span>
                    <div class="tit">
                        审核
                    </div>
                </li>
                <li class="circle num3">
                    <span class=""></span>
                    <div class="tit">
                        完成开户
                    </div>
                </li>
                <li class="line num1">
                    <span class=""></span>
                </li>
                <li class="line num2">
                    <span class=""></span>
                </li>
                <li class="line num3">
                    <span class=""></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="m_third_index">
        <div class="m_third_index__content">
            <ul class="clearfix dollar200">
                <li class="icon">
                    <img src="/images/third-icon-1.png">
                </li>
                <li class="tip">
                    <p class="t">开户就送</p>
                    <p class="sub-t">$2000体验金 轻松玩外汇</p>
                </li>
            </ul>
            <ul class="clearfix">
                <li class="icon">
                    <img src="/images/third-icon-2.png">
                </li>
                <li class="tip">
                    <p class="t">新手豪礼</p>
                    <p class="sub-t">多重红包豪礼等你拿</p>
                </li>
            </ul>
        </div>
        <div class="m_third_index__btn">
            <button class="btn btn-primary">
                立即开户
            </button>
            <p class="tip">开户前请准备好在有效期内的身份证件</p>
        </div>
    </div>
    <div class="m_third_kyc">

        <div class="m_third_kyc__template"></div>

        <div class="m_third_kyc__btn">
            <button class="btn btn-primary">
                下一步
            </button>
        </div>
    </div>
    <div class="m_third_userinfo">
        <div class="m_third_userinfo__wrapper">
            <input class="info realname"
                   type="text"
                   placeholder="请输入真实姓名">
        </div>
        <div class="m_third_userinfo__wrapper">
            <input class="info id_no"
                   type="text"
                   placeholder="请输入身份证号">
        </div>
        <div class="m_third_userinfo__wrapper">
            <input class="info email"
                   type="text"
                   placeholder="请输入您的邮箱，有助于接收重要的提醒消息">
        </div>
        <div class="m_third_userinfo__btn">
            <button class="btn btn-primary">
                下一步
            </button>
        </div>
    </div>
    <div class="m_third_card">
        <div class="m_third_card__tip">
            上传身份证进行实名验证
        </div>
        <div class="m_third_card__pic">
            <div class="img front">
                
            </div>
            <form class="form">
                <input type="file" data-page="front" name="file" accept="image/*" />
            </form>

            <div class="plus"></div>
            <div class="tip">
                点击上传身份证照片（正面）
            </div>
        </div>
        <div class="m_third_card__pic">
            <div class="img back">
                
            </div>
            <form class="form">
                <input type="file" data-page="back" name="file" accept="image/*" />
            </form>
            <div class="plus"></div>
            <div class="tip">
                点击上传身份证照片（背面）
            </div>
        </div>
        <div class="m_third_card__btn">
            <button class="btn btn-primary">
                提交审核
            </button>
        </div>
    </div>
    <div class="m_third_verify">
        <div class="m_third_verify__content">
            <h3 class="tit">认证信息已提交，正在审核中</h3>
            <p class="tip">审核时间：</p>
            <div class="detail">
                <p>工作日10:00-18:00：将在30分钟左右完成审核</p>
                <p>工作日18:00以后：将在21:00、23:00统一审核；23:00后认证的将在次日审核</p>
                <p>非工作日时间：将在10:00、16:00、22:00统一审核；22:00后认证的将在次日审核</p>
            </div>
            <p class="desc">请留意查询您的审核状态</p>
        </div>
    </div>
    <div class="m_third_success">
        <div class="m_third_success__tip">
            请设置MT4账号密码，用于登陆MT4客户端
        </div>
        <div class="m_third_success__wrapper">
            <input class="info"
                   type="password"
                   placeholder="设置MT4密码">
        </div>
        <div class="m_third_success__btn">
            <button class="btn btn-primary">
                完成
            </button>
        </div>
    </div>
    <div class="m_third_complete">
        <div class="m_third_complete__tit">
            <span class="icon">
                <img src="/images/icon-right.png">
            </span>
            <span class="tip">用户注册成功</span>
        </div>
        <div class="m_third_complete__id">
            MT4账号：<span>xxx</span>
        </div>
        <div class="m_third_complete__server">
            MT4服务器：<span>TigerWit-Live</span>服务器
        </div>
        <div class="m_third_complete__btn">
            <p class="tip">请牢记您的账号和密码，用于登陆MT4客户端</p>
            <button class="btn btn-primary">
                完成
            </button>
        </div>
    </div>
</div>

<script id="template_kyc_info" type="text/html">
    <$for(var i=0;i<data.length;i++){$>
        <$if (data[i].type == 1) {$>
            <div class="m_third_kyc__single">
                <p class="tit"><$= data[i].title$></p>
                <div class="cont">
                    <select data-name="<$= data[i].name$>">
                        <option value="" disabled selected></option>
                        <$for(var j=0;j<data[i].list.length;j++){$>
                        <option value="<$= data[i].list[j].key$>"><$= data[i].list[j].value$></option>
                        <$}$>
                    </select>
                </div>
            </div>
        <$}$>
        <$if (data[i].type == 2) {$>
            <div class="m_third_kyc__single">
                <p class="tit"><$= data[i].title$></p>
                <div class="cont">
                    <ul class="m_third_kyc__single-list radio clearfix">
                        <$for(var j=0;j<data[i].list.length;j++){$>
                        <li>
                            <label data-name="<$= data[i].name$>">
                                <span class="inp" data-name="<$= data[i].name$>" data-value="<$= data[i].list[j].key$>"></span>
                                <span><$= data[i].list[j].value$></span>
                            </label>
                        </li>
                        <$}$>
                    </ul>
                </div>
            </div>
        <$}$>
        <$if (data[i].type == 3) {$>
            <div class="m_third_kyc__single">
                <p class="tit"><$= data[i].title$></p>
                <div class="cont">
                    <ul class="m_third_kyc__single-list checkbox clearfix">
                        <$for(var j=0;j<data[i].list.length;j++){$>
                        <li>
                            <label>
                                <span class="inp" data-name="<$= data[i].name$>" data-value="<$= data[i].list[j].key$>"></span>
                                <span><$= data[i].list[j].value$></span>
                            </label>
                        </li>
                        <$}$>
                    </ul>
                </div>
            </div>
        <$}$>
    <$}$>
</script>