<div class="m_third">
    <div class="m_third_navbar">
        <div class="m_third_navbar__box">
            <ul class="m_third_navbar__progress clearfix">
                <li class="circle active">
                    <span class=""></span>
                    <div class="tit">
                        开设帐户
                    </div>
                </li>
                <li class="circle num1">
                    <span class=""></span>
                    <div class="tit">
                        完善信息
                    </div>
                </li>
                <li class="circle num2">
                    <span class=""></span>
                    <div class="tit">
                        审核
                    </div>
                </li>
                <li class="circle num3">
                    <span class=""></span>
                    <div class="tit">
                        完成开户
                    </div>
                </li>
                <li class="line num1">
                    <span class=""></span>
                </li>
                <li class="line num2">
                    <span class=""></span>
                </li>
                <li class="line num3">
                    <span class=""></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="m_third_index">
        <div class="m_third_index__content">
            <ul class="clearfix">
                <li class="icon">
                    <img src="/images/third-icon-1.png">
                </li>
                <li class="tip">
                    <p class="t">开户就送</p>
                    <p class="sub-t">$200体验金 轻松玩外汇</p>
                </li>
            </ul>
            <ul class="clearfix">
                <li class="icon">
                    <img src="/images/third-icon-2.png">
                </li>
                <li class="tip">
                    <p class="t">新手豪礼</p>
                    <p class="sub-t">$700红包等你来拿</p>
                </li>
            </ul>
        </div>
        <div class="m_third_index__btn">
            <button class="btn btn-primary">
                立即开户
            </button>
            <p class="tip">开户前请准备好在有效期内的身份证件</p>
        </div>
    </div>
    <div class="m_third_kyc">
        <div class="m_third_kyc__single">
            <p class="tit">1.您的职业所属行业</p>
            <div class="cont">
                <select>
                    <option value="" disabled selected></option>
                    <option value="1">sss</option>
                    <option value="2qwe">选择1234wa</option>
                </select>
            </div>
        </div>
        <div class="m_third_kyc__single">
            <p class="tit">2.您的年收入</p>
            <div class="cont">
                <ul class="m_third_kyc__single-list radio clearfix">
                    <li>
                        <label data-name="income">
                            <span class="inp" data-name="income" data-value="0"></span>
                            <span>0-5万美元</span>
                        </label>
                        <label data-name="income">
                            <span class="inp" data-name="income" data-value="1"></span>
                            <span>5-7.5万美元</span>
                        </label>
                    </li>
                    <li>
                        <label data-name="income">
                            <span class="inp" data-name="income" data-value="2"></span>
                            <span>7.5-10万美元</span>
                        </label>
                        <label data-name="income">
                            <span class="inp" data-name="income" data-value="3"></span>
                            <span>10万美元以上</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m_third_kyc__single">
            <p class="tit">3.您的外汇交易经验</p>
            <div class="cont">
                <ul class="m_third_kyc__single-list radio clearfix">
                    <li>
                        <label data-name="interests_exp">
                            <span class="inp" data-name="interests_exp" data-value="0"></span>
                            <span>少于1年</span>
                        </label>
                        <label data-name="interests_exp">
                            <span class="inp" data-name="interests_exp" data-value="1"></span>
                            <span>1-3年</span>
                        </label>
                    </li>
                    <li>
                        <label data-name="interests_exp">
                            <span class="inp" data-name="interests_exp" data-value="2"></span>
                            <span>3-6年</span>
                        </label>
                        <label data-name="interests_exp">
                            <span class="inp" data-name="interests_exp" data-value="3"></span>
                            <span>6年以上</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m_third_kyc__single">
            <p class="tit">4.您在哪些市场进行过交易(可多选)</p>
            <div class="cont">
                <ul class="m_third_kyc__single-list checkbox clearfix">
                    <li>
                        <label>
                            <span class="inp" data-name="trading_market" data-value="0"></span>
                            <span>股票</span>
                        </label>
                        <label>
                            <span class="inp" data-name="trading_market" data-value="1"></span>
                            <span>银行理财</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <span class="inp" data-name="trading_market" data-value="2"></span>
                            <span>期货</span>
                        </label>
                        <label>
                            <span class="inp" data-name="trading_market" data-value="3"></span>
                            <span>衍生品</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m_third_kyc__single">
            <p class="tit">5.您的投资目标(可多选)</p>
            <div class="cont">
                <ul class="m_third_kyc__single-list checkbox clearfix">
                    <li>
                        <label>
                            <span class="inp" data-name="trading_target" data-value="0"></span>
                            <span>资本增长</span>
                        </label>
                        <label>
                            <span class="inp" data-name="trading_target" data-value="1"></span>
                            <span>对冲</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <span class="inp" data-name="trading_target" data-value="2"></span>
                            <span>交易利润</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m_third_kyc__single">
            <p class="tit">6.对于每年在此的投资，哪个风险/获利情景最符合您的期望</p>
            <div class="cont">
                <ul class="m_third_kyc__single-list radio clearfix">
                    <li>
                        <label data-name="risk">
                            <span class="inp" data-name="risk" data-value="0"></span>
                            <span>高风险，高收益</span>
                        </label>
                        <label data-name="risk">
                            <span class="inp" data-name="risk" data-value="1"></span>
                            <span>中风险，中收益</span>
                        </label>
                        <label data-name="risk">
                            <span class="inp" data-name="risk" data-value="2"></span>
                            <span>低风险，低收益</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m_third_kyc__btn">
            <button class="btn btn-primary">
                下一步
            </button>
        </div>
    </div>
    <div class="m_third_userinfo">
        <div class="m_third_userinfo__wrapper">
            <input class="info"
                   type="text"
                   placeholder="请输入真实姓名">
        </div>
        <div class="m_third_userinfo__wrapper">
            <input class="info"
                   type="text"
                   pattern="[0-9]*"
                   placeholder="请输入身份证号">
        </div>
        <div class="m_third_userinfo__wrapper">
            <input class="info"
                   type="text"
                   placeholder="请输入您的邮箱，有助于接收重要的提醒消息">
        </div>
        <div class="m_third_userinfo__btn">
            <button class="btn btn-primary">
                下一步
            </button>
        </div>
    </div>
    <div class="m_third_card">
        <div class="m_third_card__tip">
            上传身份证进行实名验证
        </div>
        <div class="m_third_card__pic">
            <div class="img front">
                
            </div>
            <form class="form">
                <input type="file" data-page="front" name="file" accept="image/*" />
            </form>

            <div class="plus"></div>
            <div class="tip">
                点击上传身份证照片（正面）
            </div>
        </div>
        <div class="m_third_card__pic">
            <div class="img back">
                
            </div>
            <form class="form">
                <input type="file" data-page="back" name="file" accept="image/*" />
            </form>
            <div class="plus"></div>
            <div class="tip">
                点击上传身份证照片（背面）
            </div>
        </div>
        <div class="m_third_card__btn">
            <button class="btn btn-primary">
                提交审核
            </button>
        </div>
    </div>
    <div class="m_third_verify">
        verify....
    </div>
    <div class="m_third_success">
        success....
    </div>
    <div class="m_third_complete">
        complete....
    </div>
</div>