<!-- 原注册页面 弃用；功能合并到登陆逻辑中 -->
<div class="account_register">
    <div class="step_by_step">
        
        <div class="step_by_step__step" ng-class="{'active': progress.step == 1}">
            <span></span>
            <p><span>1</span>填写手机号</p>
        </div>
        <div class="step_by_step__step" ng-class="{'active': progress.step == 2}">
            <span></span>
            <p><span>2</span>设置密码</p>
        </div>
        <div class="step_by_step__step" ng-class="{'active': progress.step == 3}">
            <span></span>
            <p><span>3</span>完成注册</p>
        </div>
    </div>
    <h2 class="account_register__title">
        <img src="/images/logo@2x.png">
    </h2>
    <div class="account_register__step-1" ng-show="progress.step === 1">
        <form name="registerForm1" novalidate>
            <div class="form-control-wrapper">
                <span class="phone_tip">+86</span>
                <input class="form-control" 
                       name="phone"
                       type="text"
                       placeholder="{{ lang.text('register8') }}"
                       required
                       ng-class="{'form-control-error': frontErr.phone.show && registerForm1.phone.$invalid}"
                       ng-model="account.phone"
                       ng-pattern="frontErr.phone.reg"
                       ng-focus="hideErr('registerForm1', 'phone')"
                       ng-blur="showErr('registerForm1', 'phone')">

                <div ng-show="frontErr.phone.show">
                    <p class="alert-arrow_tp_lf" ng-show="registerForm1.phone.$error.required">
                        {{ lang.text("register8") }}
                    </p>
                    <p class="alert-arrow_tp_lf" ng-show="registerForm1.phone.$error.pattern">
                        输入的手机号码格式不正确
                    </p>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs-7">
                    <div class="form-control-wrapper">
                        <input class="form-control"
                               name="captcha"
                               type="text"
                               placeholder="{{ lang.text('verifycode') }}"
                               required
                               ng-class="{'form-control-error': frontErr.captcha.show && registerForm1.captcha.$invalid}"
                               ng-model="account.captcha"
                               ng-blur="showErr('registerForm1', 'captcha')"
                               ng-focus="hideErr('registerForm1', 'captcha')">

                        <div ng-show="frontErr.captcha.show">
                            <p class="alert-arrow_tp_lf" ng-show="registerForm1.captcha.$error.required">
                                {{ lang.text("register9") }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="relative">
                        <div class="captcha_btn"
                             tw-captcha-timer 
                             start-timer="startTimer" 
                             voice-captcha="voiceCaptcha"
                             captcha-btn-clickable="clickable.captcha" 
                             ng-disabled="!clickable.captcha" 
                             ng-click="getCaptcha('registerForm1')">
                            {{ lang.text("register6") }}
                        </div>

                        <div ng-show="backErr.captchaBtn.show">
                            <p class="alert-arrow_tp_lf">
                                {{ backErr.captchaBtn.msg }}
                            </p>
                        </div>            
                    </div>
                </div>
            </div>
            
            <div class="text-center" ng-show="backErr.system.show">
                <p class="alert-system">
                    {{ backErr.system.msg || '未知错误，请联系管理员' }}
                </p>
            </div>

            
            <p class="font-dark">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                {{ lang.text("register13") }}
                <a class="font-info" href="/web/blog/risk">
                    {{ lang.text("register14") }}、
                </a>
                <a class="font-info" href="/web/blog/statement">
                    {{ lang.text("register15") }}、
                </a>
                <a class="font-info" href="/web/blog/notice">
                    {{ lang.text("register16") }}
                </a>
            </p>

            <div class="text-center mg-tp-20 mg-bt-20">
                <button class="btn btn-primary btn-sm" ng-if="clickable.submit"  ng-click="checkPhoneCode('registerForm1')">
                    {{ lang.text("register20") }}
                </button>

                <button class="btn btn-primary btn-sm" disabled ng-if="!clickable.submit">
                    <i class="loading_spinner fa fa-spinner"></i>
                    提交中
                </button>
            </div>
        </form>

        <div class="text-center font-dark">
            {{ lang.text("register18") }}
            <a class="font-info" ui-sref="account.subpage({subpage: 'login'})">
                {{ lang.text("register19") }}
            </a>
        </div>
    </div>
    
    <div class="account_register__step-2" ng-show="progress.step === 2">
        <form name="registerForm2" novalidate>
            
            <div class="form-control-wrapper">
                <span class="password_tip">设置密码</span>
                <input class="form-control" 
                       name="password"
                       type="password"
                       placeholder="密码为6-15位字母、数字或符号组合"
                       required
                       ng-class="{'form-control-error': frontErr.password.show && registerForm2.password.$invalid}"
                       ng-model="account.password"
                       twform-valid-pwd
                       ng-focus="hideErr('registerForm2', 'password')"
                       ng-blur="showErr('registerForm2', 'password')">

                <div ng-show="frontErr.password.show">
                    <p class="alert-arrow_tp_lf" ng-show="registerForm2.password.$error.required">
                        {{ lang.text("register11") }}
                    </p>
                    <p class="alert-arrow_tp_lf" ng-show="registerForm2.password.$error.twformValidPwd">
                        {{ frontErr.password.tip }}
                    </p>
                </div>
            </div>
            <div class="text-center" ng-show="backErr.system.show">
                <p class="alert-system">
                    {{ backErr.system.msg || '未知错误，请联系管理员' }}
                </p>
            </div>
            <div class="text-center mg-tp-20 mg-bt-20">
                <button class="btn btn-primary btn-sm" ng-if="clickable.submit"  ng-click="submitRegisterForm('registerForm2')">
                    完成注册
                </button>

                <button class="btn btn-primary btn-sm" disabled ng-if="!clickable.submit">
                    <i class="loading_spinner fa fa-spinner"></i>
                    提交中
                </button>
            </div>
        </form>
    </div>

    <div class="account_register__step-3" ng-show="progress.step === 3">
        <p>用户注册成功</p>
        <div class="text-center mg-tp-20">
            <a class="btn btn-primary" ui-sref="space.invest.subpage({subpage: 'current'})">进入老虎外汇</a>
        </div>
    </div>
</div>