<div class="system_modal">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="system_modal__title">
        兑换礼品
    </h5>

    <div class="system_modal__content" ng-show="!modal.isComplete">
        <div class="system_modal__info">
            <div class="form-control-wrapper">
                <input class="form-control" type="text" placeholder="请输入收货地址" ng-model="address">
            </div>
        </div>
        
        <p class="system_modal__btn_wrapper">
            <a class="btn btn-primary btn-sm" ng-click="exchangeHonor()">
                提交
            </a>
        </p>
    </div>

    <div class="system_modal__content" ng-show="modal.isComplete">
        <div ng-show="modal.type === 'success'">
            <p class="system_modal__info">
                提交成功
            </p>
            <p class="system_modal__tip">
                官方将尽快为您邮寄奖品，请保持手机畅通。
            </p>
            <p class="system_modal__btn_wrapper">
                <a class="btn btn-primary btn-sm" ng-click="closeModalSucc()">
                    确定
                </a>
            </p>
        </div>
        <div ng-show="modal.type === 'fail'">
            <p class="system_modal__info">
                提交失败
            </p>
            <p class="system_modal__tip">
                {{ modal.message || '请联系客服人员' }}
            </p>
            <p class="system_modal__btn_wrapper">
                <a class="btn btn-primary btn-sm" ng-click="closeModal()">
                    确定
                </a>
            </p>
        </div>

        
    </div>
</div>