<!DOCTYPE html>
<html lang="en" class="bd_greenhand_html">

<head>
    <meta charset="UTF-8">
    <title>
        <%=lang.text("companyZhName")%>｜风云再起 至尊豪礼</title>
        <% include /common/vendor/web.css.html %>
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->
        <% include /common/statistic/main.html %>
        <% include /common/vendor/web.js.html %>
</head>

<body ng-app="fullstackApp" class="bd_greenhand">
    <div ng-controller="GlobalController">
        <% include /common/nav/web.header.html %>
        <div ng-controller="WebHonorController" class="bd_honor_layout clearfix" ng-cloak>
            <div class="bd_honor">
                <div class="bd_honor__date">
                    活动时间：2018.6.27-2018.7.14
                </div>
                <div class="bd_honor__rules">
                    <p>
                        1.本活动仅限TigerWit平台往期参与过信用赠金活动的用户；
                    </p>
                    <p>
                        2.每位参与用户仅能领取一次红包，且选择4档活动红包其中之一，达成所领红包兑现条件后即可兑现（所需完成交易手数均以在TigerWit平台首次交易开始累计计算）;
                    </p>
                    <p>
                        3.兑现红包将直接存入“零钱包”，提现时需账户余额≥0；
                    </p>
                    <p>
                        4.本活动参与用户不得滥用活动权利，如AB仓对冲操作、外挂操作软件或其他经纪商进行对冲等行为；
                    </p>
                    <p>
                        5.本活动仅适用于外汇、贵金属以及能源类产品，美元/人民币和CFD（指数）类产品的交易手数不计入统计范围；
                    </p>
                    <p>
                        6.本活动最终解释权归TigerWit平台所有，如有疑问请咨询在线客服或拨打 400-809-8509 。
                    </p>
                </div>
                <div class="bd_honor__box1">
                    <div class="bag_wrapper">
                        <ul class="clearfix">
                            <li class="bag_item" ng-repeat="bag in bagList">
                                <div class="bag">
                                    <p class="tit">{{bag.amount}}美金</p>
                                    <p class="tip">{{bag.front_desc_fir}}</p>
                                </div>
                                <div class="bag_btn_wrapper">
                                    <button class="bag_btn not_recevie" ng-show="!recevieStatus" ng-click="getHonorBag(bag)">
                                        {{bag.front_recevie_status}}
                                    </button>
                                    <button class="bag_btn is_recevie" disabled ng-show="recevieStatus">
                                        {{bag.front_recevie_status}}
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bd_honor__box2">
                    <p class="bag_tip">
                        <span>
                            市场有风险，投资需谨慎。<br>
                            金融市场的保证金交易存在较高风险，可能并不适合所有投资者，增大杠杆意味着高风险与高收益并存。在您决定交易前，应当谨慎考虑您的投资目标、投资经验及风险承受能力，并选择适合自己的投资方式。TigerWit交易平台为广大交易高手及普通投资者提供复制交易服务，交易高手的历史交易数据不代表未来操作能力，用户因此所产生的任何风险需自己承担。
                        </span>
                    </p>
                </div>
                <div class="bd_honor__footer">
                    <div class="bd_honor_logo">
                        <img src="/images/logo-tigerwit.png">
                    </div>
                    <div class="bd_honor_tip">
                        <p>更多精彩福利</p>
                        <p>进入TigerWit APP 一键跟单 智能交易</p>
                    </div>
                    <!-- <div class="bag_btn_wrapper">
                        <img src="/images/bd_honor/download_app.png">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <% include /common/nav/web.footer.html %>
    <%- include('/common/statistic/_all.html') %>
</body>
<!-- build:js(client) /scripts/bd_honor.js -->
<script src="/scripts/common/config.service.js"></script>
<script src="/scripts/common/account.service.js"></script>
<script src="/scripts/common/authorization.service.js"></script>
<script src="/scripts/common/navbar.directive.js"></script>
<script src="/scripts/common/dropdown.directive.js"></script>
<script src="/scripts/common/global.controller.js"></script>
<script src="/scripts/common/loading_img.directive.js"></script>

<script src="/scripts/common/pagination.directive.js"></script>
<script src="/scripts/common/duration.filter.js"></script>

<script src="/scripts/common/symbol_mod.filter.js"></script>
<script src="/scripts/common/trader.service.js"></script>
<script src="/scripts/common/lang.service.js"></script>
<script src="/scripts/common/lang_data.service.js"></script>
<script src="/scripts/common/redbag.service.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<script src="/scripts/bd/honor/web.js"></script>
<!-- endbuild -->
</html>