
<div class="info_avatar content_wrapper m_vue" data-page='info_avatar' id="m_vue_info_avatar">
    <div class="info_avatar__process_bar" v-show="avatar.progress"></div>
    <div class="info_avatar__container">

        <div class="upload_avatar text-center">

            <img class="upload_avatar__avatar" :src="avatar_info" alt="正加载头像">

            <label class="upload_avatar__label" for="input">

                <input id="input" 
                  class="upload_avatar__input" 
                  name="file" type="file" 
                  accept="image/jpeg,image/png"
                  @click=""
                  >
                选择图片
                
                <span class="alert-arrow_tp_lf" v-show="avatar.status === 1">
                    正在上传......
                </span>
                <span class="alert-arrow_tp_lf" v-show="avatar.status === 2">
                    上传成功
                </span>
                <span class="alert-arrow_tp_lf" v-show="avatar.status === 3">
                    图片大小超过 2MB，请重新选择图片
                </span>
            </label>

            <p class="text-center mg-tp-10 font-dark">
                只支持 jpg、png 格式，大小控制在 2MB 以内
            </p>
        </div>
    </div>
</div>