<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include /common/meta/h5.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<% include /common/vendor/h5.utiljs.html %>

<% include /common/statistic/main.html %>
<body>
<div class="m_share01_layout">
    <div class="m_share01_main <%=page%>">
        <div class="m_share01_main__title">
            <%if(page == 'register_coupon'){%>
                <h4>注册开户送红包</h4>
                <h4><span>$1000</span>等你领</h4>
                <p>红包领取规则请见官网</p>
            <%} else {%>
                <%if(!lang.isEnglishArea()){%>
                    <h4><%=lang.text('mInvite05')%></h4>
                <%}%>
                <h4><%=lang.text('mInvite06')%><span><%=lang.text('mInvite07')%></span></h4>
                <p><%=lang.text('mInvite08')%></p>
            <%}%>
        </div>
        <%if(page == 'invite01'){%>
            <div class="m_share01_main__bag_text">
                <p><%=lang.text('mInvite09')%><br><%=lang.text('mInvite10')%></p>
            </div>
        <%}%>
        <div class="m_share01_main__form">
            <form id="form">
                <input type="tel" placeholder="<%=lang.text('mInvite11')%>" id="share_tel">
            </form>
            <span id="get_award"><%=lang.text('mInvite12')%></span>
        </div>
    </div>
</div>
</body>
<% include /common/vendor/h5.js.html %>
<!-- build:js(client) /scripts/m_invite.js -->
<script src="/scripts/invite/m_invite.js"></script>
<script src="/scripts/plugins/baiduTemplate.js"></script>
<!-- endbuild -->

<%- include('/common/statistic/all.html') %>
</html>