<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include /common/meta/h5.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>
<body>
<div class="m_share02_layout" id="m_share02_layout">
    <div class="share02_main">
        <div class="share02_main__box">
            <div class="share02_main__title clearfix">
                <p class="tit">邀请好友<br>赢取10美金</p>
                <%if(lang.isCompany("tigerwit")){%>
                    <p class="pic"><img src="/images/basic_logo_tw.png"></p>
                <%} else if (lang.isCompany("pandafx")) {%>
                    <p class="pic"><img src="/images/basic_logo_panda_black.png"></p>
                <%}%>
            </div>
            <div class="share02_main__list" id="invite_history_list">
                
            </div>
            <div class="share02_main__content clearfix">
                <div class="info">
                    <p class="tip">已邀请人数</p>
                    <p class="num">0</p>
                </div>
                <div class="status">
                    <p class="tip">奖励状态</p>
                    <p class="c <%= lang.text('companyEnName') %>"></p>
                </div>
            </div>
        </div>

        <div class="share02_main__rules">
            <p>
                1.注册即获得邀请类红包“人从众”邀请3名好友注册，且至少有1人入金并完成1手交易即可兑现，每位用户仅可领取一次。
            </p>
            <p>
                2.您只有通过邀请链接进行注册的好友才算有效。
            </p>
            <p>
                3.同一手机号，身份证号和银行卡号视为同一用户。
            </p>
            <p>
                4.任何通过第三方作弊软件刷取好友邀请奖励，一经发现<%= lang.text('companyZhName')%>有权取消红包兑现奖励。
            </p>
            <p>
                5.本活动最终解释权归<%= lang.text('companyZhName')%>所有。如有疑问，请咨询客服<%= lang.text('telephone')%>。
            </p>
        </div>
        
        <div class="share02_main__send_btn">
            <span id="send_invitation" class="<%= lang.text('companyEnName') %>">发送邀请给好友</span>
        </div>
        <div class="share_box" id="share02_box">
            <div class="share02_modal clearfix" id="share02_modal">
                <h5>分享好友投资,即获$10奖励</h5>
                <span class="share_to_friends"   id="share_to_friends">  <img src="/images/mobile/share2wx.png"><br>微信好友</span>
                <span class="share_to_circle"    id="share_to_circle">   <img src="/images/mobile/share2circle.png"><br>朋友圈</span>
                <span class="share_to_qf new_share"        id="share_to_qFriend">  <img src="/images/mobile/share2qq.png"><br>QQ好友</span>
                <span class="share_to_qZone new_share"     id="share_to_qZone">    <img src="/images/mobile/share2qZone.png"><br>QQ空间</span>
                <span class="share_to_microBlog new_share" id="share_to_microBlog"><img src="/images/mobile/share2mBlog.png"><br>微博</span>
                <span id="cancel_share"><button>取消</button></span>
            </div>
        </div>
    </div>
</div>
</body>
<script id="invite_table" type="text/template">
    
    <div class="invite_pic_list relative">
        <$for(var i=0; i<list.length; i++){$>
            <span class="item"><img src="/avatar/<$=list.res_id$>_150.jpg"></span>
        <$}$>
    </div>
    
</script>
<% include /common/vendor/h5.js.html %>
<!-- build:js(client) /scripts/m_invite.js -->
<script src="/scripts/invite/m_invite.js"></script>
<script src="/scripts/plugins/baiduTemplate.js"></script>
<!-- endbuild -->

<%- include('/common/statistic/all.html') %>
</html>