<div class="footer-wrap <%= lang.isAr('ar-lang')%>">
    <div class="footer-container">
        <div class="pd-tp-50">
            <div class="link-list <%= lang.currentLanguage()%>">
                <div class="link-list__item">
                    <div class="h2">
                        <p class="mg-bt-20">
                            <span><%= lang.text("foot1")%></span>
                        </p>
                    </div>
                    <ul>
                        <li class="mg-bt-15">
                            <div class="h3">
                                <a href="/web/mt4" ng-click="toTrackEvent('bottom navigation', 'global_bottom_navigation_mt4download')">
                                    &nbsp;<%= lang.text("foot2")%>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="h3">
                                <a href="/web/product/trade" ng-click="toTrackEvent('bottom navigation', 'global_bottom_navigation_mt4web')">
                                    &nbsp;<%= lang.text("foot3")%>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="link-list__item">
                    <div class="h2">
                        <p class="mg-bt-20">
                            <span><%= lang.text("foot4")%></span>
                        </p>
                    </div>
                    <ul>
                        <li class="mg-bt-15">
                            <div class="h3">
                                <a href="/web/faq/real" ng-click="toTrackEvent('bottom navigation', 'global_bottom_navigation_faq')">
                                    &nbsp;<%= lang.text("faq")%>
                                </a>
                            </div>
                        </li>
                        <%if(!lang.isEnglishArea()){%>
                        <li>
                            <div class="h3">
                                <a href="/web/help/introduce">
                                    &nbsp;<%= lang.text("foot14")%>
                                </a>
                            </div>
                        </li>
                        <%}%>
                    </ul>
                </div>
                <div class="link-list__item">
                    <div class="h2">
                        <p class="mg-bt-20">
                            <span><%= lang.text("foot7")%></span>
                        </p>
                    </div>
                    <ul>
                        <li class="mg-bt-15">
                            <div class="h3">
                                <a href="/web/blog/agreement" ng-click="toTrackEvent('bottom navigation', 'global_bottom_navigation_information')">
                                    &nbsp;<%= lang.text("foot7")%>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="h3">
                                <a href="/web/blog/trade_fee" ng-click="toTrackEvent('bottom navigation', 'global_navigation_trade_fees')">
                                    &nbsp;<%= lang.text("foot15")%>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="link-list__item">
                    <div class="h2">
                        <p class="mg-bt-20">
                            <span><%= lang.text("foot11")%></span>
                        </p>
                    </div>
                <%if (lang.areaId != 1) {%>
                    <ul>
                        <li class="mg-bt-15">
                            <div class="h3">
                                <a class="font-dark" ng-href='mailto:{{sysMessage.email}}' ng-click="toTrackEvent('bottom navigation', 'global_navigation_email')">
                                    &nbsp;{{sysMessage.email}}
                                </a>
                            </div>
                            <div class="h3">
                                <a class="font-dark" ng-href='tel:{{sysMessage.phone}}'>
                                    {{sysMessage.phone}}
                                </a>
                            </div>
                        </li>
                    </ul>
                <%}%>
                <%if (lang.areaId == 1) {%>
                    <div class="contact-us pd-tp-5">
                        <div class="">
                            <p>
                                <a class="font-dark" ng-href='mailto:{{sysMessage.email}}' ng-click="toTrackEvent('bottom navigation', 'global_navigation_email')">
                                    {{sysMessage.email}}
                                </a>
                            </p>
                        </div>
                        <div class="pd-tp-5">
                            <p>
                                <a class="font-dark" ng-href='tel:{{sysMessage.phone}}'>
                                    {{sysMessage.phone}}
                                </a>
                            </p>
                        </div>
                        <ul class="pd-tp-20 item-center">
                            <li class="footer-weibo">
                                <a href="http://weibo.com/TigerWit?refer_flag=1001030102_&is_hot=1" target="_blank">
                                    <img class="img-20" src="/white_label/footer/footer-icon-weibo.png">
                                </a>
                            </li>
                            <li class="footer-weixin">
                                <img class="img-20" src="/white_label/footer/footer-icon-weChat.png">
                                <span>
                                    <img src="/images/footer-weixin-code.png">
                                </span>
                            </li>
                        </ul>
                        <div class="footer-follow-tip pd-tp-10" >
                            <p>
                                <%= lang.text("footer.subscribeArticle")%>
                            </p> 
                        </div>
                    </div>
                <%}%>
                </div>
                
            </div>
            
        </div>
        <ul class="link-nav pd-tp-50">
            <li><a href="/web/aboutus/abouttigerwit"><%= lang.text("navbar10")%></a></li>
            <li>|</li>
            <li><a href=<%= lang.isEnglishArea() ? "/web/agent/partner" : "/web/agent/proxy" %>><%= lang.text("downloadApp.partners")%></a></li>
            <li>|</li>
            <li><a href="/web/aboutus/sitemap">Sitemap</a></li>
        </ul>
        <div class="footer_con pd-tp-50 pd-bt-50">
            <p>
                <strong><%= lang.text("foot_38")%></strong>
                <span><%= lang.text("foot_39_1")%></span>
                <a href="https://uk.tigerwit.com">https://uk.tigerwit.com</a>
                <span><%= lang.text("foot_39_2")%></span>
            </p>
        </div>
    </div>
</div>
<div id="footer-service-wrapper" style="display:none;">
    <div class="h4"><%= lang.text("foot_42")%></div><ul class="clearfix"><li class="ordinary_serv"><span><img src="/images/footer-service-1.png"></span><%= lang.text("foot_43")%></li><li class="agent_serv"><span><img src="/images/footer-service-2.png"></span><%= lang.text("foot_45")%></li></ul><div class="tip clearfix"><p><%= lang.text("foot_44")%><br><%= lang.text("foot_44_2")%></p><p> <%= lang.text("foot_46")%><br><%= lang.text("foot_47")%></p></div>
</div>

<!-- global客服系统接入 2018.11.12 -->
<!-- Start of tigerwitglobal Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=45a3b87d-f9e0-42f0-b1f6-d4348ca7bc54"> </script>
<script>
zE(function() {
    zE.setLocale('<%= lang.currentLanguage()%>');
});
</script>
<!-- End of tigerwitglobal Zendesk Widget script -->


