<!DOCTYPE html>
<html lang="en" class="bd_greenhand_html">

<head>
    <meta charset="UTF-8">
    <title>
        <%=lang.text("companyZhName")%>｜注册送200美金赠金</title>
        <% include /common/vendor/web.css.html %>
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->
        <% include /common/statistic/main.html %>
        <% include /common/vendor/web.js.html %>
</head>

<body ng-app="fullstackApp" class="bd_forgive_body">
    <div ng-controller="GlobalController">
        <% include /common/nav/web.header.html %>
        <div class="bd_forgive_layout has-navbar">
            <div class="forgive_box">
                <img class="forgive_imgs forgive__title" src="/images/bd_forgive/title.png" alt="">
                <img class="forgive_imgs forgive__fault" src="/images/bd_forgive/myfault.png" alt="">
                <img class="forgive_imgs forgive__coder" src="/images/bd_forgive/coder.png" alt="">
                <img class="forgive_imgs forgive__btn" src="/images/bd_forgive/btn.png" alt="">
            </div>
        </div>
        <div class="layer_content detail">
            <div class="forgiveLayer">
                <img class="bg detail" onclick="layer.closeAll()" src="/images/bd_forgive/detail.png" alt="">
            </div>
        </div>
        <div class="layer_content confirm">
            <div class="forgiveLayer">
                <img class="bg" src="/images/bd_forgive/check.png">
                <img class="btn-down btn-left" onclick="layer.closeAll()" src="/images/bd_forgive/btn-confirm.png">
                <img class="btn-down btn-right" data-action="waiter" src="/images/bd_forgive/waiter.png">
            </div>
        </div>
        <div class="layer_content sorry">
            <div class="forgiveLayer">
                <img class="bg" src="/images/bd_forgive/sorry.png">
                <img class="btn-down btn-left" onclick="layer.closeAll()" src="/images/bd_forgive/btn-confirm.png">
                <img class="btn-down btn-right" data-action="deposit" src="/images/bd_forgive/deposit.png">
            </div>
        </div>
        <div class="layer_content nofit">
            <div class="forgiveLayer">
                <img class="bg" src="/images/bd_forgive/nofit.png">
                <img class="btn-down btn-center" onclick="layer.closeAll()" src="/images/bd_forgive/btn-confirm.png">
                <!-- <img class="btn-down btn-right" data-action="deposit" src="/images/bd_forgive/deposit.png"> -->
            </div>
        </div>
        <% include /common/nav/web.footer.html %>
    </div>
</body>

<!-- build:js(client) /scripts/bd_forgive.js -->
<script src="/scripts/common/config.service.js"></script>
<script src="/scripts/common/account.service.js"></script>
<script src="/scripts/common/authorization.service.js"></script>
<script src="/scripts/common/navbar.directive.js"></script>
<script src="/scripts/common/dropdown.directive.js"></script>
<script src="/scripts/common/global.controller.js"></script>
<script src="/scripts/common/loading_img.directive.js"></script>

<script src="/scripts/common/pagination.directive.js"></script>
<script src="/scripts/common/duration.filter.js"></script>

<script src="/scripts/common/symbol_mod.filter.js"></script>
<script src="/scripts/common/trader.service.js"></script>
<script src="/scripts/common/lang.service.js"></script>
<script src="/scripts/common/lang_data.service.js"></script>
<script src="/scripts/common/redbag.service.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<script src="/scripts/bd/t30/check.js"></script>
<script src="/scripts/bd/common/publicAjax.js"></script>
<script src="/scripts/bd/forgive/web.js"></script>
<!-- endbuild -->
</html>