@include b(bd_t37) {
    background: url("/images/bd_t37/web_t37_bg.png") no-repeat;
    background-size: 100% 100%;
}
@include b(bd_t37_layout) {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 150px;
}
@include b(bd_t37_focus) {
    width: 100%;
    position: relative;

    .bd_t37_logo {
        position: absolute;
        top: 100px;
        right: 30px;
        width: 150px;
    }
    .bd_t37_detail {
        position: absolute;
        top: 725px;
        left: 400px;
        width: 135px;
        height: 55px;
        cursor: pointer;
    }
    .bd_t37_toReg {
        position: absolute;
        top: 810px;
        left: 320px;
        width: 290px;
        height: 110px;
        cursor: pointer;
    }

    img {
        width: 100%;
    }
}
@include b(bd_t37_bag) {
    width: 90%;
    padding-left: 5%;
    position: relative;

    img {
        width: 100%;
    }

    &.b1 {
        margin-top: 100px;
        margin-bottom: 50px;

        .fish {
            position: absolute;
            width: 200px;
            top: -90px;
            left: 0;
        }
    }
    &.b2 {
        margin-top: 200px;

        .fish1 {
            position: absolute;
            width: 350px;
            top: -300px;
            left: 0;
        }
        .fish2 {
            position: absolute;
            width: 200px;
            top: -300px;
            right: -50px;
        }
    }
    &.b3 {
        margin-top: 350px;
        margin-bottom: 50px;

        .fish1 {
            position: absolute;
            width: 400px;
            top: -400px;
            left: 0;
        }
        .fish2 {
            position: absolute;
            width: 500px;
            top: -350px;
            right: -50px;
        }
    }
    &.b4 {
        margin-top: 240px;

        .fish1 {
            position: absolute;
            width: 240px;
            top: -350px;
            left: 0;
        }
        .fish2 {
            position: absolute;
            width: 400px;
            top: -260px;
            left: 260px;
        }
        .fish3 {
            position: absolute;
            width: 130px;
            top: -360px;
            right: 0px;
        }
    }
}
@include b(bd_t37_btn_wrapper) {
    text-align: center;

    p {
        color: #fff;
        margin-top: 20px;
        font-size: 16px;
    }

    .btn {
        height: 50px;
        border-radius: 30px;
        font-size: 25px;
        width: 210px;
        padding: 0px;
        color: #fff;
        background-color: #ff1e26;
        border: 1px solid #ff1e26;
        position: relative;

        &:before {
            display: block;
            content: '';
            position: absolute;
            bottom: -12px;
            right: -35px;
            width: 51px;
            height: 34px;
            background: url("/images/bd_t37/web_t37_btn_icon.png") no-repeat;
            background-size: 100% 100%;
        }

        &:hover {
            color: #ff1e26;
            background-color: transparent;
        }
    }
}
@include b(bd_t37_form) {
    background: url("/images/bd_t37/web_t37_form.png") no-repeat;
    background-size: 100% 100%;
    padding: 50px 40px;
    width: 66%;
    margin-left: 17%;
    margin-top: 30px;
    position: relative;

    img {
        width: 100%;
    }

    .fish1 {
        position: absolute;
        width: 200px;
        top: -40px;
        left: -200px;
    }
    .fish2 {
        position: absolute;
        width: 80px;
        top: 0px;
        right: -100px;
    }
    .fish3 {
        position: absolute;
        width: 800px;
        bottom: -120px;
        left: -100px;
    }

    .form-control-wrapper {
        margin: 0;
        padding-bottom: 10px;

        .form-control {
            border: 0;
            background: #fff;
            width: 60%;
            margin-left: 15%;
        }
    }
}
.bd_t37_layer {
    background: transparent !important;
    box-shadow: none !important;
    
    .layui-layer-content {
        background: url("/images/bd_t37/web_t37_detail.png") no-repeat;
        background-size: 100% 100%;
    }
}