.layui-m-layercont {
  .layer_bdt42 {
      background: -webkit-linear-gradient(#e97e5a, #cb493b); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(#e97e5a, #cb493b); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(#e97e5a, #cb493b); /* Firefox 3.6 - 15 */
      background: linear-gradient(#e97e5a, #cb493b); /* 标准的语法 */
      color: #fff;
      position: relative;
      font-size: px2rem(24);
      line-height: px2rem(40);
      text-align: left;
      padding: px2rem(64) px2rem(32);
      a {
          color: #fff;
      }
      .rule_title {
          font-size: px2rem(30);
          text-align: center;
          padding: px2rem(25);
      }
      .rule_close {
          position: absolute;
          left: 50%;
          bottom: px2rem(-32);
          width: px2rem(64);
          height: px2rem(64);
          background-color: #fff;
          color: #222;
          border-radius: 50%;
          text-align: center;
          line-height: px2rem(64);
          margin-left: px2rem(-32);
      }
  }
}
@include b(m_t42_layout) {
  background: url("/images/bd_t42/h5_bg_20190129.png") no-repeat;
  
  background-position: center top;
  background-size: 100% 100%;
  position: relative;
  height: px2rem(4227);

  .layer_contentBox {
    display: block;
    .layer_bdt42 {
        display: none;
    }
  }
}
@include b(m_t42) {
  padding: 0 px2rem(32);
  @include e(logo) {
    width: 36%;
    position: absolute;
    top: px2rem(32);
    left: px2rem(24);

    &.panda {
      width: 15%;
    }
  }
  @include e(detail_btn) {
    width: px2rem(220);
    height: px2rem(55);
    background: url("/images/bd_t42/h5_btn_20190129.png") no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: px2rem(55);
    color: #333;
    font-weight: 500;
    font-size: px2rem(24);
    position: absolute;
    top: px2rem(400);
    left: 50%;
    margin-left: px2rem(-110);
  }
  @include e(title) {
    color: #fff;
    font-size: px2rem(36);
    font-weight: 600;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: px2rem(1290);
  }
  @include e(btn_wrapper) {
    width: px2rem(220);
    height: px2rem(55);
    background: url("/images/bd_t42/h5_btn_20190129.png") no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: px2rem(55);
    font-weight: 500;
    font-size: px2rem(24);
    position: absolute;
    left: 50%;
    margin-left: px2rem(-110);

    a {
      display: block;
      color: #333;
    }
    &.b1 {
      top: px2rem(1488);
    }
    &.b2 {
      top: px2rem(2976);
    }
    &.b3 {
      top: px2rem(3472);
    }
  }
  @include e(box) {
    position: absolute;
    left: 0;
    top: 0;
    color: #ffe082;
    width: 100%;
    .h200 {
      position: absolute;
      top: px2rem(2240);
      left: 50%;
      margin-left: px2rem(-96);
    }
    .h800 {
      position: absolute;
      top: px2rem(2800);
      left: 50%;
      margin-left: px2rem(-96);
    }
  }
  @include e(form) {
    width: px2rem(576);
    margin: 0 auto;
    padding: px2rem(3160) px2rem(48) 0;

    .verify_code_btn_wrapper {
        position: absolute;
        top: px2rem(20);
        right: 0;
        width: px2rem(180);
        height: px2rem(42);
        text-align: center;
        line-height: px2rem(42);
        border-left: 1px solid #ccc;

        .verify_code_btn {
            cursor: pointer;
        }
    }

    .form-control-wrapper {
        margin: px2rem(48) 0;
    }
    
    input[type=number] {
        padding-right: px2rem(192) !important;
    }
    .form-control {
        width: 100%;
        padding: px2rem(16);
        background-color: #fff;
        border-radius: px2rem(10);
        padding-left: px2rem(32);
    }
    .btn-wrapper {
        text-align: center;
        margin: px2rem(48) 0;
    }
  }
  @include e(center) {
    color: #ffe082;
    text-align: center;
    margin-top: px2rem(224);
    font-size: px2rem(28);
  }
  @include e(footer) {
    color: #fff;
    font-size: px2rem(20);
    margin-top: px2rem(192);
    line-height: px2rem(32);

    .section4_ltd {
      margin-top: px2rem(16);
    }
  }
  @include e(float_box) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: 500;
    padding: px2rem(30) 0px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 0px px2rem(30) 1px #ccc;
    background: -webkit-linear-gradient(left, #fbd427, #e4c548); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #fbd427, #e4c548); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #fbd427, #e4c548); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #fbd427, #e4c548); /* 标准的语法 */

    a {
      display: block;
      color: #222;
    }
  }
}