.layui-m-layercont {
  .layer_bdt42 {
      background: -webkit-linear-gradient(#0d5dcb, #4920a0); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(#0d5dcb, #4920a0); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(#0d5dcb, #4920a0); /* Firefox 3.6 - 15 */
      background: linear-gradient(#0d5dcb, #4920a0); /* 标准的语法 */
      color: #fff;
      position: relative;
      font-size: px2rem(24);
      line-height: px2rem(40);
      text-align: left;
      padding: px2rem(64) px2rem(32);
      a {
          color: #fff;
      }
      .rule_title {
          font-size: px2rem(30);
          text-align: center;
          padding: px2rem(25);
      }
      .rule_close {
          position: absolute;
          left: 50%;
          bottom: px2rem(-32);
          width: px2rem(64);
          height: px2rem(64);
          background-color: #fff;
          color: #222;
          border-radius: 50%;
          text-align: center;
          line-height: px2rem(64);
          margin-left: px2rem(-32);
      }
  }
}
@include b(m_t42_layout) {
  background: url("/images/bd_t42/h5_bg_new.png") no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  position: relative;
  height: px2rem(5825);

  .layer_contentBox {
    display: block;
    .layer_bdt42 {
        display: none;
    }
  }
}
@include b(m_t42) {
  padding: 0 px2rem(32);
  @include e(logo) {
    width: 36%;
    position: absolute;
    top: px2rem(32);
    left: px2rem(24);

    &.panda {
      width: 15%;
    }
  }
  @include e(detail_btn) {
    position: absolute;
    width: px2rem(140);
    right: 0;
    top: px2rem(600);
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  @include e(title) {
    color: #fff;
    font-size: px2rem(36);
    font-weight: 600;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: px2rem(1290);
  }
  @include e(btn_wrapper) {
    text-align: center;

    img {
      width: 50%;
      vertical-align: top;
    }
    &.b1 {
      padding-top: px2rem(3200);
      margin-bottom: px2rem(48);
    }
    &.b2 {
      margin-top: px2rem(48);
    }
    &.b3 {
      margin: px2rem(48) 0;

      img {
        width: 60%;
      }
    }
  }
  @include e(box) {
    .h200, .h800 {
      position: relative;
      width: 96%;
      margin: 0 auto;
      span {
        position: absolute;
        bottom: px2rem(6.4);
        right: px2rem(32);
        color: #fff;
        font-size: px2rem(28);
      }
      img {
        width: 100%;
        vertical-align: top;
      }
    }
    .h_plus {
      text-align: center;
      margin: px2rem(24) 0;
      img {
        width: px2rem(80);
      }
    }
  }
  @include e(form) {
    width: px2rem(576);
    margin: px2rem(96) auto 0;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: px2rem(4);

    .verify_code_btn_wrapper {
        position: absolute;
        top: px2rem(12);
        right: 0;
        width: px2rem(180);
        height: px2rem(42);
        text-align: center;
        line-height: px2rem(42);
        border-left: 1px solid #ccc;

        .verify_code_btn {
            cursor: pointer;
        }
    }

    .form-control-wrapper {
        margin: px2rem(48) px2rem(48) 0;
    }
    
    input[type=number] {
        padding-right: px2rem(192) !important;
    }
    .form-control {
        width: 100%;
        padding: px2rem(16);
        background-color: #fff;
        border-radius: px2rem(10);
        padding-left: px2rem(32);
    }
    .btn-wrapper {
        text-align: center;
        margin: px2rem(48) 0;
    }
  }
  @include e(center) {
    color: #fff;
    text-align: center;
    margin-top: px2rem(64);
    font-size: px2rem(32);
  }
  @include e(footer) {
    color: #fff;
    font-size: px2rem(24);
    margin-top: px2rem(96);

    .section4_ltd {
      margin-top: px2rem(16);
    }
  }
  @include e(float_box) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: 500;
    padding: px2rem(30) 0px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 0px px2rem(30) 1px #ccc;
    background: -webkit-linear-gradient(left, #fbd427, #e4c548); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #fbd427, #e4c548); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #fbd427, #e4c548); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #fbd427, #e4c548); /* 标准的语法 */

    a {
      display: block;
      color: #222;
    }
  }
}