.bd_t39_layer.bd_t42_layer {
  .bd_t39_detail_con__text {
      background: -webkit-linear-gradient(#e97e5a, #cb493b) !important; /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(#e97e5a, #cb493b) !important; /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(#e97e5a, #cb493b) !important; /* Firefox 3.6 - 15 */
      background: linear-gradient(#e97e5a, #cb493b) !important; /* 标准的语法 */
      border-radius: 10px;
  }
}
@include b(bd_t42) {
  margin-top: 69px;
  height: 2307px;
  background: url("/images/bd_t42/web_bg_20190129.png") no-repeat;
  background-position: center top;
  background-size: auto 100%;
  position: relative;

  .bd_t39_detail_con {
    display: none;
  }

  @include e(reg) {
    top: 248px;
    left: 740px;
  }
  @include e(btn) {
    width: 148px;
    height: 34px;
    background: url("/images/bd_t42/web_btn_20190129.png") no-repeat;
    text-align: center;
    line-height: 34px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
  }
  @include e(details_btn) {
    width: 148px;
    height: 34px;
    background: url("/images/bd_t42/web_btn_20190129.png") no-repeat;
    text-align: center;
    line-height: 34px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: 405px;
    left: 318px;
    cursor: pointer;
  }
  @include e(btn_wrapper) {
    text-align: center;
    a {
      display: inline-block;
      width: 148px;
      height: 34px;
      background: url("/images/bd_t42/web_btn_20190129.png") no-repeat;
      text-align: center;
      line-height: 34px;
      color: #333;
      font-weight: 500;
      font-size: 16px;
    }
    &.b1 {
      margin-top: 1070px;
    }
    &.b2 {
      margin-top: 560px;
    }
  }
  @include e(title) {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    top: 1023px;
  }
  @include e(bag_title) {
    text-align: center;
    margin-top: 70px;
  }
  @include e(bag) {
    position: absolute;
    top: 1570px;
    left: 0px;
    width: 100%;
    span {
      color: #fbe08f;
      position: absolute;
      cursor: pointer;
      font-weight: 500;
      &.bd_t42_rule-1 {
        left: 234px;
      }
      &.bd_t42_rule-2 {
        left: 726px;
      }
    }
  }
  @include e(client) {
    color: #fbe091;
    font-size: 16px;
    margin-top: 200px;
    font-weight: 500;
  }
  @include e(footer) {
    color: #fff;
    margin-top: 80px;
    line-height: 30px;
    font-weight: 500;
  }
  @include e(ltd) {
    color: #fff;
    margin-top: 20px;
  }
}