.bd_t39_layer.bd_t42_layer {
  .bd_t39_detail_con__text {
    background: -webkit-linear-gradient(#e97e5a, #cb493b) !important; /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#e97e5a, #cb493b) !important; /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#e97e5a, #cb493b) !important; /* Firefox 3.6 - 15 */
    background: linear-gradient(#e97e5a, #cb493b) !important; /* 标准的语法 */
    border-radius: 10px;
  }
}
@include b(bd_t42) {
  margin-top: 69px;
  height: 1695px;
  background: url("/white_label/bd_t35/web_focus.png") no-repeat;
  background-position: center top;
  background-size: auto 100%;
  position: relative;

  .bd_t39_detail_con {
    display: none;
  }

  @include e(reg) {
    top: 166px;
    left: 795px;
    border: 3px solid #e9a952;
    background-color: rgba(216, 67, 29, 0.5);
    border-radius: 20px;
    .verify_code_btn_wrapper {
      color: #00a0e9;
    }
  }
  @include e(btn) {
    width: 180px;
    height: 42px;
    background: url("/white_label/bd_t35/web_btn.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 42px;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    margin: 0 auto;
  }
  @include e(details_btn) {
    width: 176px;
    height: 42px;
    background: url("/white_label/bd_t35/web_btn.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 42px;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 530px;
    left: 242px;
    cursor: pointer;
  }
  @include e(btn_wrapper) {
    text-align: center;
    a {
      display: inline-block;
      width: 180px;
      height: 42px;
      background: url("/white_label/bd_t35/web_btn.png") no-repeat;
      background-size: 100% 100%;
      text-align: center;
      line-height: 42px;
      color: #333;
      font-weight: 500;
      font-size: 16px;
    }
    &.b1 {
      margin-top: 983px;
    }
    &.b2 {
      margin-top: 565px;
    }
  }
  @include e(title) {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    top: 1023px;
  }
  @include e(bag_title) {
    text-align: center;
    margin-top: 70px;
  }
  @include e(bag) {
    position: absolute;
    top: 1521px;
    left: 0px;
    width: 100%;
    span {
      color: #d97c00;
      position: absolute;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      &.bd_t42_rule-1 {
        left: 234px;
      }
      &.bd_t42_rule-2 {
        left: 738px;
      }
    }
  }
  @include e(footer) {
    background-color: #c62b25;
    text-align: center;
    @include m(client) {
      color: rgba(255, 255, 255, 1);
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;
      margin-top: 30px;
    }
    @include m(risk) {
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
      margin-top: 20px;
      line-height: 20px;
      font-weight: 500;
    }
    @include m(ltd) {
      color: rgba(255, 255, 255, 1);
      margin-top: 35px;
      margin-bottom: 45px;
    }
  }
}
