<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="<%= lang.text('companyEnName')%> 跟单交易 外汇 CFD 指数 股指 互联网金融">
    <meta name="description"
        content="<%= lang.text('companyEnName')%>倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">
    <meta name="apple-mobile-web-app-title" content="<%= lang.text('companyEnName')%>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--禁用缓存-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>
        LANDING
    </title>
</head>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>

<body>
    <div class="vietnam_bonus">
        <div class="vietnam_bonus__banner">
            <img src="/images/bd_vietnam/web_logo.png" alt="">
        </div>
        <h6 class="vietnam_bonus__title mg-tp-50">TigerWit adalah Mitra Trading Mata Uang Asing Online yang Resmi dengan Klub Sepakbola Liverpool.</h6>
        <p class="vietnam_bonus__con mg-tp-50">Dalam rangka merayakan musim yang luar biasa ini, kami ingin memberikan kesempatan kepada semua trader untuk mendapatkan CASHBACK REDPACKET DALAM JUMLAH BESAR. Ya, kami memberikan hadiah dengan total nilai 10,000 dolar kepada trader aktif yang memiliki akun live. Ayo dapatkan Cashback RedPacket ini dengan mudah dan instan.</p>
        <p class="vietnam_bonus__con mg-tp-50">Untuk bisa medapatkan RedPacket Cashback Bonanza ini, anda diminta untuk menyelesaikan setidaknya satu dari ketentuan-ketentuan berikut:</p>
        <ul class="vietnam_bonus__lst mg-tp-50">
            <li><span>● </span><span>Trading 10 lot dalam 30 hari dan dapatkan cashback senilai $50*</span></li>
            <li><span>● </span><span>Trading 20 lot dalam 60 hari dan dapatkan cashback senilai $100*</span></li>
            <li><span>● </span><span>Trading 30 lot dalam 90 hari dan dapatkan cashback senilai $200*</span></li>
        </ul>
        <p class="vietnam_bonus__con mg-tp-50">*Tunduk pada klien yang sebelumnya telah menyetor hingga $ 500USD akan memenuhi syarat untuk cashback</p>
        <h6 class="vietnam_bonus__title mg-tp-50">Syarat dan Ketentuan</h6>
        <ul class="vietnam_bonus__lst mg-tp-50">
            <li><span>1. </span><span>Jumlah cashback akan ditambahkan ke Dompet</span></li>
            <li><span>2. </span><span>Klien harus memenuhi jumlah trading dengan periode yang telah ditentukan;
                    kami tidak akan memberikan cashback diluar dari periode yang telah ditentukan</span></li>
            <li><span>3. </span><span>Trading yang dihitung hanya berlaku untuk trading di mata uang, logam mulia
                    dan produk-produk energi. USD/CNY dan Produk CFD tidak akan
                    mendapatkan cashback.</span></li>
            <li><span>4. </span><span>Promosi ini hanya berlaku untuk akun live dan trader aktif yang telah terdaftar
                    sebelumnya</span></li>
            <li><span>5. </span><span>Penggunaan Expert Advisor diperbolehkan, namun tidak berlaku untuk transaksi
                    Scalping. Pengguna yang tidak mengikuti aturan akan didiskualifikasi</span></li>
            <li><span>6. </span><span>TigerWit berhak memodifikasi syarat dan ketentuan kapanpun sesuai dengan
                    kebutuhan dan periode promosi. Klien akan diberikan pemberitahuan apabila ada perubahan pada syarat dan ketentuan.</span></li>
        </ul>
        <h6 class="vietnam_bonus__title mg-tp-50 text-center">Klik salah satu pilihan RedPacket</h6>
        <div class="mg-tp-50">
            <ul class="vietnam_bonus__bonus">
                <li>
                    <img src="/images/asset/bank_card_bg.jpg" alt="">
                    <span>$50</span>
                </li>
                <li>
                    <img src="/images/asset/bank_card_bg.jpg" alt="">
                    <span>$100</span>
                </li>
                <li>
                    <img src="/images/asset/bank_card_bg.jpg" alt="">
                    <span>$200</span>
                </li>
            </ul>
        </div>
        <h6 class="vietnam_bonus__title mg-tp-30">Trading CFD memiliki risiko dan dapat mengurangi modal anda</h6>
    </div>
</body>
<% include /common/vendor/h5.js.html %>
<!-- build:js(client) /scripts/bd_vietnam_bonus.js -->
<script src="/scripts/bd/vietnam/bonus.js"></script>
<!-- endbuild -->

</html>