<div class="space_apply">
    <div class="space_master__title">
        <span ng-if="applyInfo.data.status != 0 && applyInfo.data.status != 3">{{lang.text('tigerWitID.master.tip9')}}</span>
        <span ng-if="applyInfo.data.status == 0">{{lang.text('tigerWitID.master.tip17')}}{{lang.text('tigerWitID.master.tip18')}}</span>
        <span ng-if="applyInfo.data.status == 3">{{lang.text('tigerWitID.master.precautions')}}</span>
        <div class="process">
            <span class="tw-btn tw-btn-capsule-gradient tw-btn-md" ng-if="applyInfo.data.status == -1" ng-click="applyMaster()">{{lang.text('tigerWitID.master.tip16')}}</span>
            <span class="tw-btn tw-btn-capsule-gradient tw-btn-md" ng-if="applyInfo.data.status == 3 && !applyInfo.loading2" ng-click="comfirmApplyMaster()">{{lang.text('tigerWitID.tradingAccount.submit')}}</span>
            <span class="tw-btn tw-btn-capsule-gradient tw-btn-md" ng-if="applyInfo.data.status == 3 && applyInfo.loading2">{{lang.text('tigerWitID.submitting')}}</span>
        </div>
    </div>
    <div class="space_apply__content">
        <div class="space_apply__tip" ng-if="applyInfo.data.status == -1">
            {{lang.text('tigerWitID.master.tip10')}} {{lang.text('tigerWitID.master.pleaseChooseAccount')}}
        </div>
        <ul class="space_apply__list">
            <li class="space_apply__list-item" ng-repeat="account in accountList" ng-class="{'active': account.mt4_id == selectAccount}" >
                <a ng-click="getMasterCondition(account.mt4_id)">
                    <div class="account_title">
                        <span>{{ account.account_name || lang.text('tigerWitID.tradingAccount.title') }}</span>
                        <span>{{lang.text('tigerWitID.details.autonomousTransaction')}}</span>
                    </div>
                    <ul class="account_details">
                        <li>
                            <p>{{ account.floating_profit }}</p>
                            <p>{{lang.text('tigerWitID.details.floatingPL')}}</p>
                        </li>
                        <li>
                            <p>{{ account.equity }}</p>
                            <p>{{lang.text('tigerWitID.details.netAssetValue')}}</p>
                        </li>
                        <li>
                            <p>{{ account.margin_level }}</p>
                            <p>{{lang.text('tigerWitID.details.marginLevel')}}</p>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
    <div class="space_apply__loading" ng-if="applyInfo.loading">
        <img src="/ngsrc/loading.gif">
    </div>
    <div class="space_apply__content" ng-if="!applyInfo.loading">
        <div class="space_apply__tip" ng-if="applyInfo.data.status == -1">
            {{lang.text('tigerWitID.master.masterRequirements')}}
        </div>
        <div class="space_apply__tip" ng-if="applyInfo.data.status == 0">
            {{lang.text('tigerWitID.master.tip19')}}
        </div>
        <ul class="space_apply__lst" ng-if="(applyInfo.data.status == 0) || (applyInfo.data.status == -1)">
            <li ng-repeat="condit in applyInfo.data.condition" ng-class="{active: condit.status == 0}">
                <span>{{ condit.text }}</span>
            </li>
        </ul>
        <!-- <div class="space_apply__message" ng-if="applyInfo.data.status == 0">
            <div class="clearfix message_wrapper">
                <div class="message_icon">
                    <img src="/images/icon-succ.png">
                </div>
                <div class="message_tip">
                    <div class="tit">高手申请已通过审核</div>
                    <div class="reason">
                        <span>恭喜您的高手申请已通过审核！
                            <br>您的交易账户已被推荐到高手榜。</span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="space_apply__message" ng-if="applyInfo.data.status == 1">
            <div class="clearfix message_wrapper">
                <div class="message_icon">
                    <img src="/images/icon-succ.png">
                </div>
                <div class="message_tip">
                    <div class="tit">{{lang.text('tigerWitID.master.tip21')}}</div>
                    <div class="reason">
                        <span>{{lang.text('tigerWitID.master.tip22')}}
                            <br>{{lang.text('tigerWitID.master.tip23')}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="space_apply__message" ng-if="applyInfo.data.status == 3">
            <div class="clearfix message_wrapper mg">
                <div class="">
                    <div ng-controller="SettingInfoAvatarController">
                        <div class="upload_avatar text-center" tw-upload-avatar filename="personal.lgAvatar" ban="ban">
                            <label class="upload_avatar__label includeImg" for="input">
                                <img class="upload_avatar__avatar select_directly" ng-src="{{personal.lgAvatar}}" alt="{{lang.text('tigerWitID.settings.photo')}}">
                                <input id="input" class="upload_avatar__input" name="file" type="file" accept="image/jpeg,image/png">
                                <!-- <i>选择图片</i> -->
                                <span class="alert-arrow_tp_lf" style="left: 42%;" ng-show="avatar.status === 1">
                                    {{lang.text('tigerWitID.myAccount.uploading')}}...
                                </span>
                                <span class="alert-arrow_tp_lf" style="left: 42%;" ng-show="avatar.status === 3">
                                    {{lang.text('tigerWitID.master.masterRequirements1')}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <ul class="message_nickname clearfix mg-tp-10">
                    <li class="text-right">
                        <div class="form-control-wrapper" ng-if="masterInfo.edit">
                            <input  
                                type="text" 
                                class="form-control" 
                                ng-class="{'form-control-error': masterInfo.error.invalid}"
                                ng-focus="hideErr()"
                                ng-init="masterInfo.username = personal.username"
                                ng-model="masterInfo.username"
                                placeholder="{{lang.text('username')}}"
                                on-enter="comfirmEdit()"
                            >
                            <span ng-if="masterInfo.error.invalid" class="alert-arrow_tp_lf">{{ masterInfo.error.invalid_tip }}</span>
                        </div>
                        <span ng-if="!masterInfo.edit">{{ personal.username }}</span>
                    </li>
                    <li class="text-left">
                        <span ng-if="!masterInfo.edit"  class="btn-icon btn-sm" ng-click="editUsername()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                        <span ng-if="masterInfo.edit && !masterInfo.loading"  class="btn btn-text pd-lf btn-lt" ng-click="cancelEdit()">{{lang.text('tigerWitID.cancel')}}</span>
                        <span ng-if="masterInfo.edit && !masterInfo.loading"  class="btn btn-text pd-lf btn-lt" ng-click="comfirmEdit()">{{lang.text('tigerWitID.confirm')}}</span>
                        <span ng-if="masterInfo.edit && masterInfo.loading"  class="btn btn-sm btn-text">
                            <i class="loading_spinner fa fa-spinner"></i>
                            {{lang.text('tigerWitID.submitting')}}
                        </span>
                    </li>
                </ul>
                <br>
                <div class="master_notice">
                    <p>1.{{lang.text('tigerWitID.master.masterRequirements2')}}</p>
                    <br>
                    <p>2.{{lang.text('tigerWitID.master.masterRequirements3')}}</p>
                    <br>
                    <p>3.{{lang.text('tigerWitID.master.masterRequirements4')}}</p>
                    <br>
                    <p class="font-danger">{{lang.text('tigerWitID.master.masterRequirements5')}}</p>
                </div>
            </div>
        </div>
    </div>

</div>