<div class="space_apply">
    <div class="space_master__title">
        <span ng-if="applyInfo.data.status != 0 && applyInfo.data.status != 3">成为TigerWit高手，获取更多收益</span>
        <span ng-if="applyInfo.data.status == 0">高手申请审核中，请耐心等待</span>
        <span ng-if="applyInfo.data.status == 3">注意事项</span>
        <div class="process">
            <span class="tw-btn tw-btn-capsule-gradient tw-btn-md" ng-if="applyInfo.data.status == -1" ng-click="applyMaster()">立即申请成为高手</span>
            <span class="tw-btn tw-btn-capsule-gradient tw-btn-md" ng-if="applyInfo.data.status == 3 && !applyInfo.loading2" ng-click="comfirmApplyMaster()">确认提交</span>
            <span class="tw-btn tw-btn-capsule-gradient tw-btn-md" ng-if="applyInfo.data.status == 3 && applyInfo.loading2">提交中..</span>
        </div>
    </div>
    <div class="space_apply__content">
        <div class="space_apply__tip" ng-if="applyInfo.data.status == -1">
            榜单投资者被其他用户复制跟随，会获得复制者20%的盈利分成，请选择账号：
        </div>
        <ul class="space_apply__list">
            <li class="space_apply__list-item" ng-repeat="account in accountList" ng-if="account.account_type == 1" ng-class="{'active': account.mt4_id == selectAccount}" >
                <a ng-click="getMasterCondition(account.mt4_id)">
                    <div class="account_title">
                        <span>{{ account.account_name || "交易账号" }}</span>
                        <span>自主交易</span>
                    </div>
                    <ul class="account_details">
                        <li>
                            <p>{{ account.floating_profit }}</p>
                            <p>浮动盈亏</p>
                        </li>
                        <li>
                            <p>{{ account.equity }}</p>
                            <p>资产净值</p>
                        </li>
                        <li>
                            <p>{{ account.margin_level }}</p>
                            <p>保证金比例</p>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
    <div class="space_apply__loading" ng-if="applyInfo.loading">
        <img src="/ngsrc/loading.gif">
    </div>
    <div class="space_apply__content" ng-if="!applyInfo.loading">
        <div class="space_apply__tip" ng-if="applyInfo.data.status == -1">
            未达成以下高手申请条件，请继续努力
        </div>
        <div class="space_apply__tip" ng-if="applyInfo.data.status == 0">
            高手申请由工作人员人工审核，我们会尽快完成审核并将结果通知您
        </div>
        <ul class="space_apply__lst" ng-if="(applyInfo.data.status == 0) || (applyInfo.data.status == -1)">
            <li ng-repeat="condit in applyInfo.data.condition" ng-class="{active: condit.status == 0}">
                <span>{{ condit.text }}</span>
            </li>
        </ul>
        <!-- <div class="space_apply__message" ng-if="applyInfo.data.status == 0">
            <div class="clearfix message_wrapper">
                <div class="message_icon">
                    <img src="/images/icon-succ.png">
                </div>
                <div class="message_tip">
                    <div class="tit">高手申请已通过审核</div>
                    <div class="reason">
                        <span>恭喜您的高手申请已通过审核！
                            <br>您的交易账户已被推荐到高手榜。</span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="space_apply__message" ng-if="applyInfo.data.status == 1">
            <div class="clearfix message_wrapper">
                <div class="message_icon">
                    <img src="/images/icon-succ.png">
                </div>
                <div class="message_tip">
                    <div class="tit">高手申请已通过审核</div>
                    <div class="reason">
                        <span>恭喜您的高手申请已通过审核！
                            <br>您的交易账户已被推荐到高手榜。</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="space_apply__message" ng-if="applyInfo.data.status == 3">
            <div class="clearfix message_wrapper mg">
                <div class="">
                    <div ng-controller="SettingInfoAvatarController">
                        <div class="upload_avatar text-center" tw-upload-avatar filename="personal.lgAvatar" ban="ban">
                            <label class="upload_avatar__label includeImg" for="input">
                                <img class="upload_avatar__avatar select_directly" ng-src="{{personal.lgAvatar}}" alt="头像">
                                <input id="input" class="upload_avatar__input" name="file" type="file" accept="image/jpeg,image/png">
                                <!-- <i>选择图片</i> -->
                                <span class="alert-arrow_tp_lf" style="left: 42%;" ng-show="avatar.status === 1">
                                    正在上传...
                                </span>
                                <span class="alert-arrow_tp_lf" style="left: 42%;" ng-show="avatar.status === 3">
                                    图片大小超过 2MB 请重新选择
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <ul class="message_nickname clearfix mg-tp-10">
                    <li class="text-right">
                        <div class="form-control-wrapper" ng-if="masterInfo.edit">
                            <input  
                                type="text" 
                                class="form-control" 
                                ng-class="{'form-control-error': masterInfo.error.invalid}"
                                ng-focus="hideErr()"
                                ng-init="masterInfo.username = personal.username"
                                ng-model="masterInfo.username"
                                placeholder="昵称"
                                on-enter="comfirmEdit()"
                            >
                            <span ng-if="masterInfo.error.invalid" class="alert-arrow_tp_lf">{{ masterInfo.error.invalid_tip }}</span>
                        </div>
                        <span ng-if="!masterInfo.edit">{{ personal.username }}</span>
                    </li>
                    <li class="text-left">
                        <span ng-if="!masterInfo.edit"  class="btn-icon btn-sm" ng-click="editUsername()">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                        <span ng-if="masterInfo.edit && !masterInfo.loading"  class="btn btn-text pd-lf btn-lt" ng-click="cancelEdit()">取消</span>
                        <span ng-if="masterInfo.edit && !masterInfo.loading"  class="btn btn-text pd-lf btn-lt" ng-click="comfirmEdit()">确认</span>
                        <span ng-if="masterInfo.edit && masterInfo.loading"  class="btn btn-sm btn-text">
                            <i class="loading_spinner fa fa-spinner"></i>
                            正在提交
                        </span>
                    </li>
                </ul>
                <br>
                <div class="master_notice">
                    <p>1.昵称使用规范：昵称应体现个人属性，避免选用官方化、敏感时政词汇、不雅词汇、广告名称、手机号码、社交联系方式等</p>
                    <br>
                    <p>2.头像使用规范：头像禁止使用选用政治敏感图片、不雅图片、广告图片、品牌LOGO、广告物料等</p>
                    <br>
                    <p>3.成为高手后昵称及头像将不能再次修改，请谨慎填写</p>
                    <br>
                    <p class="font-danger">违背以上情况，申请将会被驳回。</p>
                </div>
            </div>
        </div>
    </div>

</div>