<div class="space_grade">
    <div class="space_master__title">
        {{lang.text('tigerWitID.master.masterLevelInstructions')}}
        
    </div>
    <div class="space_grade__bar">
        <div class="space_sidebar__grade-bar">
            <span ng-style="{width: masterGradeInfo.scale}"></span>
        </div>
    </div>
    <div class="space_grade__level">
        {{lang.text('tigerWitID.master.currentLevel')}}<span class="icon-grade">{{ masterGradeInfo.name || 'B' }}</span>
    </div>
    <ul class="space_grade__info">
        <li>
            <span class="t">{{lang.text('tigerWitID.master.leverageRangeM')}}</span>
            <span class="i">{{ masterGradeInfo.leverage }}</span>
        </li>
        <li>
            <span class="t">{{lang.text('tigerWitID.master.copyAmountLimitM')}}</span>
            <span class="i">${{ masterGradeInfo.follow_amount }}</span>
        </li>  
        <li>
            <span class="t">{{lang.text('tigerWitID.master.remainingCopyableAmountM')}}</span>
            <span class="i">${{ masterGradeInfo.available_amount }}</span>
        </li>    
    </ul>
    <div class="space_grade__tit">
        {{lang.text('tigerWitID.master.tip1')}}
    </div>
    <ul class="space_grade__lst">
        <li ng-repeat="grade in masterGradeInfo.all_master_level">
            <span class="icon-grade">{{ grade.name }}</span>
            <span class="desc">{{ grade.desc }}</span>
        </li>
    </ul>
    <ul class="space_grade__tip">
        <li>
            {{lang.text('tigerWitID.master.tip2')}}
        </li>
        <li>
            {{lang.text('tigerWitID.master.tip3')}}
        </li>
        <li>
            {{lang.text('tigerWitID.master.tip4')}}
        </li>
    </ul>
</div>