node_modules
.tmp
.sass-cache
.idea
.vscode
.DS_Store
client/bower_components
client/data
dist
dist.tar
dist.tar.*
/server/config/environment
npm-debug.log
*.swp
*.log
lanch.txt
client/scripts/common/whiteLabel.service.js
/server/record
