@include b(space_nav){
    line-height: 55px;
    text-align: center;
    @include e(box) {
        display: inline-block;
        margin: 0 auto;
        @extend .clearfix;
        display: inline-block;
        @include m(item){
            float: left;
            margin-right: 36px;
            position: relative;
            a {
                font-size: 16px;
                font-weight: 500;
                color: $gray-dark;
                cursor: pointer;
                &.link {
                    font-weight: 200;
                    color: red;
                    font-size: 14px;
                }
            }
            &.red_point:before {
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                background: $brand-danger;
                border-radius: 4px;
                position: absolute;
                top: 10px;
                right: -12px;
            }
            &.active, &:hover {
                a {
                    color: $gray-base;
                    &.link {
                        color: red;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}