@include b(space_sidebar) {
    @extend .tw-container;
    height: 100%;
    position: relative;
    @include e(nav) {
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: transparent;
        text-align: center;
        @include m(menu){
            padding: 12px 0;
            > a {
                color: $gray-dark;
                font-size: 16px;
                font-weight: 500;
            }
            &.active, &:hover{
                a {
                    color: $gray-base;
                }
            }
        }
    }

    @include e(avatar) {
        text-align: center;
        padding-top: 30px;

        > a > img {
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    @include e(detail) {
        .detail_item{
            text-align: center;
            display: inline-block;
            width: 49%;
            .item__number{
                font-size: 20px;
                font-weight: 500;
                line-height: 22px;
                color: #fff;
            }
            .item__text {
                margin-top: 5px;
                color: $gray-dark;
                font-size: 12px;
                line-height: 22px;
            }
        }
    }

    @include e(logout) {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 85px;
        line-height: 85px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        border-top: 1px solid $gray;
        cursor: pointer;
        color: $gray-darker;
    }
}

