.tw_en {
    .index2-banner__tle2 {
        font-size: 40px;
    }
}

.home_layer {
    background-color: transparent !important;
    box-shadow: inherit !important;

    #home-layer-model {
        position: relative;
        padding-top: 10px;

        .bar {
            background-color: #ffd202;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 800px;
            height: 20px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }

    .content {
        padding: 40px 60px 70px;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        z-index: 100;
        
        p {
            line-height: 24px;
        }

        h4 {
            text-align: center;
            font-size: 20px;
            padding-bottom: 40px;
            margin: 0px;
        }
        .info {
            strong {
                line-height: 30px;
                padding-bottom: 10px;
                font-weight: 400;
                display: block;
            }
            span {
                line-height: 30px;
                display: block;
            }
        }
        .detail {
            padding-top: 30px;

            a {
                color: #3088e2;
            }
        }
        .end {
            text-align: right;
            line-height: 20px;
            margin-top: 20px
        }
        .close {
            position: absolute;
            top: 10px;
            right: 13px;
            width: 40px;
            height: 40px;

            @include img-normal($image-path-home + "layer_close.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}
.home_redbag_layer {
    background-color: transparent !important;
    box-shadow: none !important;

    .layui-layer-content {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        overflow: inherit !important;

        .content {
            height: 100%;
            position: relative;
            
            a {
                display: block;
                vertical-align: top;

                img {
                    width: 100%;
                }
            }
            .close {
                position: absolute;
                top: -33px;
                right: -40px;
                width: 40px;
                height: 40px;

                @include img-normal($image-path-home + "layer_redbag_close.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }

    }
}

// 报价
@include b(index2-quote) {
    @include e(title) {
        float: left;
        width: 50%;
        padding-bottom: 20px;
        padding-top: 50px;
        color: #393939;

        li {
            float: left;
            text-align: center;

            &.pro {
                width: 50%;
            }
            &.sell {
                width: 25%;
            }
            &.buy {
                width: 25%;
            }
        }
    }
    @include e(tip) {
        padding-top: 35px;
        text-align: center;
        color: #aaa;
        padding-bottom: 60px;
    }
    @include e(content) {
        float: left;
        width: 50%;
        padding: 17px 0;
        color: #393939;

        &.h_border {
            border-right: 1px solid #ccc;
        }

        li {
            float: left;
            text-align: center;

            span {
                padding: 1px 0px;
                display: inline-block;
                border-radius: 4px;
                width: 65px;
            }

            &.pro {
                width: 50%;
            }
            &.sell {
                width: 25%;

                &.up {
                    span {
                        background-color: #f05452;
                        color: #fff;
                    }
                }
                &.down {
                    span {
                        background-color: #25c875;
                        color: #fff;
                    }
                }
            }
            &.buy {
                width: 25%;

                &.up {
                    span {
                        background-color: #f05452;
                        color: #fff;
                    }
                }
                &.down {
                    span {
                        background-color: #25c875;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@include b(index2-banner) {
    

    position: relative;
    text-align: center;

    @include e(btn1) {
        // margin-top: 60px;
        padding: 19px 57px;
        display: inline-block;
        border: 1px solid $brand-primary;
        border-radius: 4px;
        background: transparent;
        // font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: $brand-primary;

        @include m(new) {
            width: 966px;
            margin: 0 auto;
            position: relative;
            cursor:pointer;

            a {
                position: absolute;
                width: 174px;
                height: 60px;
                top: -122px;
                right: 184px;
                cursor: pointer;
                border: 1px solid #fff;
                border-radius: 38px;
                text-align: center;
                font-size: 25px;
                line-height: 60px;
                color: #fff;

                &:hover {
                    border-color: #ff1d25;
                    color: #ff1d25;
                }
            }
        }

        &:hover {
            background: $brand-primary;
            color: $brand-index-hover;
        }
    }

    .swiper-slide{
        width:100%;
    }
    
    .index2-slide {
        overflow: hidden;
        height: 650px !important;
        background-position: center center;
        background-size: auto 100%;
        
        .slide__btn_wrapper {
            width: 1030px;
            display: block;
            margin: 0 auto;
            height: 650px;
        }

        &.default {
            @include img-normal($image-path-home + "banner-default.png");
        }
        &.default_en {
            @include img-normal($image-path-home + "banner-default_en.png");
        }
    }
    //.index2-slide4 {
    //    overflow: hidden;
    //    height: 650px !important;
    //    background-position: center center;
    //    background-size: cover;
    //    @include img-normal($image-path-home + "index2-banner-weipan.png");
    //    position:relative;
    //
    //    .dec {
    //        margin-top: 180px;
    //        font-size: 40px;
    //        color: #fff;
    //    }
    //    .tit {
    //        color: $brand-primary;
    //        font-size: 60px;
    //        font-weight: bold;
    //    }
    //    .tip {
    //        color: #fff;
    //    }
    //
    //    .pic {
    //        margin-top: 40px;
    //
    //        img {
    //            width: 180px;
    //        }
    //    }
    //    .game-btn {
    //        margin-top: 20px;
    //        padding: 15px 50px;
    //        display: inline-block;
    //        border: 1px solid $brand-primary;
    //        border-radius: 4px;
    //        background: transparent;
    //        // font-weight: bold;
    //        font-size: 22px;
    //        line-height: 24px;
    //        color: $brand-primary;
    //    }
    //
    //}

    .pagination {
        position: absolute;
        left: 0;
        bottom: 100px;
        width: 100%;
        z-index: 20;
        text-align: center;

    }
    .swiper-pagination-switch {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        margin: 0 5px;
        cursor: pointer;
    }
    .swiper-active-switch {
        background: $brand-primary;
    }

    @include e(tle1) {
        margin-top: 224px;
        // font-family: "FZLTZCHK  GBK1 0";
        font-size: 60px;
        font-weight: bold;
        line-height: 80px;
        color: #fff;

        span {
            color: $brand-primary;
        }
    }
    @include e(tle2) {
        // font-family: "FZLTZCHK  GBK1 0";
        font-size: 60px;
        font-weight: bold;
        color: #fff;

        span {
            color: $brand-primary;
        }
    }

    @include e(tle3) {
        // font-family: "FZLTZCHK  GBK1 0";
        font-size: 40px;
        font-weight: bold;
        color: #fff;

        span {
            color: $brand-primary;
        }
    }
    @include e(circle) {
        margin-bottom: 3px;
        display: inline-block;
        width: 12px;
        height: 12px;
        line-height: 24px;
        border-radius: 50%;
        background: $brand-primary;
    }
    @include e(info) {
        margin-right: 45px;
        font-size: 24px;
        font-weight: bold;
        color: #FDFDFD;
    }
    
    

    @include e(b1-con) {
        font-size: 20px;
        color: #fff;
    }

    @include e(b2-tip2) {
        line-height: 41px;
        font-size: 24px;
        color: #FDFDFD;
    }
    @include e(b3-p1) {
        margin-top: 215px;
        margin-left: 19px;
        width: 488px;
        height: 262px;
        // background-size: 100%;
        // @include img-normal($image-path-home + "index2-b3-con.png");
        color: #fff;

        > h4 {
            font-size: 50px;
            margin: 0;
            margin-bottom: 10px;
        }
        > h3 {
            font-size: 92px;
            line-height: 92px;
            margin: 0;
            margin-bottom: 36px;
        }
        > p {
            font-size: 28px;
        }
    }
    @include e(b3-btn1) {
        margin-top: 70px;
        margin-left: 19px;
        padding: 19px 57px;
        display: inline-block;
        border: 1px solid $brand-primary;
        border-radius: 4px;
        line-height: 24px;
        background: transparent;
        font-size: 24px;
        font-weight: bold;
        color: $brand-primary;

        &:hover {
            background: $brand-primary;
            color: $brand-index-hover;
        }
    }
}

@include b(index2-master) {
    position: relative;
    height: 330px;
    background: #F9FAFB;

    @include e(con) {
        .row {
            position: relative;
            top: -84px;
            z-index: 22;
        }
        .col-xs-3 {
            padding-left: 0px;
            padding-right: 0px;
            height: 338px;
        }
    }

    @include e(col1) {
        padding-top: 36px;
        padding-left: 21px !important;
        padding-right: 21px !important;
        background: #fff;

        @include m(tit) {
            margin: 0px;
            font-size: 20px;
            font-weight: bold;
        }

        @include m(circle) {
            display: inline-block;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background: $brand-primary;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
        }

        @include m(ul) {
            margin-top: 20px;

            li {
                // margin-bottom: 12px;
                line-height: 30px;
            }
        }

        @include m(btn) {
            position: absolute;
            bottom: 0;
            left: 21%;
            display: inline-block;
            padding: 12px 40px;
            background: $brand-index-select-btn-bg;
            font-size: 18px;
            line-height: 30px;
            color: $brand-index-select-btn-c;
        }
    }
    @include e(col2) {
        padding-top: 20px;
        padding-left: 11px !important;
        padding-right: 11px !important;
        background-position: center center;
        // @include img-normal($image-path-home + "index2-master-bg.jpg");

        h3 {
            margin: 0px;
        }
        @include m(li1) {
            padding-bottom: 14px;
            padding-left: 10px;
            border-bottom: 1px solid #e8ca01;

        }

        @include m(li2) {
            padding-top: 35px;
            padding-bottom: 19px;
            overflow: hidden;
        }


        @include m(li3) {
            padding-top: 26px;
            border-top: 1px solid #e8ca01;
        }

        @include m(photo) {
            display: inline-block;
            margin-left: 6px;
            width: 53px;
            height: 53px;
            border: 1px solid #fff;
            // background: #fdd;
            img {
              width: 100%;
            }
        }
        @include m(name) {
            display: block;
            vertical-align: top;
            line-height: 34px;
            font-size: 24px;
            color: #222;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        @include m(tip) {
            display: block;
        }
        @include m(div1) {
            float: left;
            padding-left: 10px;
            max-width: 150px;
        }
        @include m(div2) {
            float: right;
            padding-top: 15px;
            padding-right: 10px;
            padding-left: 22px;
            border-left: 1px solid #e8ca01;

        }
        @include m(div3) {
            float: right;
            padding-right: 10px;
            padding-left: 22px;

        }
        @include m(rate) {
            font-size: 36px;
        }
        @include m(tags) {
            font-size: 14px;
            display: block;
            height: 16px;
            line-height: 16px;
            margin-top: 6px;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            span {
                padding-right: 5px;
            }
        }
        @include m(how) {
            display: inline-block;
            padding: 9px;
            border: 1px solid #000;
            font-family: "MicrosoftYaHei";
            font-size: 24px;
            line-height: 24px;
        }
        @include m(how-c) {
            display: inline-block;
            margin-top: 10px;
            margin-left: 8px;
            font-size: 14px;
        }
        @include m(num) {
            font-size: 30px;
        }
        @include m(copy) {
            display: inline-block;
            position: relative;
            width: 53px;
            height: 53px;
            background: #000;
        }
        @include m(jia) {
            position: absolute;
            top: 28%;
            left: 29%;
            display: inline-block;
            width: 23px;
            height: 21px;
            //@include img-normal($image-path-home + "index2-master-cross-mid.png");
            &:hover {

            }
        }
        .mg-tp-_14 {
            margin-top: -8px;
        }
    }
}

//首页渐变
.index2-master .col-xs-3:nth-child(2) {
    //@include img-normal($image-path-home + "master-bg1.jpg");
    background-color: $brand-index-lighter;
}
.index2-master .col-xs-3:nth-child(3){
    //@include img-normal($image-path-home + "master-bg2.jpg");
    background-color: $brand-index-mid;
}
.index2-master .col-xs-3:last-child {
    //@include img-normal($image-path-home + "master-bg3.jpg");
    background-color: $brand-index-dark;

}
.index2-master__col2-jia:hover {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

@include b(index2-product) {
    background: #fff;

    .col-xs-3 {
        padding-left: 0;
        padding-right: 0;
    }

    // 通用
    @include e(title) {
        margin-top: 60px;
        line-height: 48px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: #0C0A09;
    }
    @include e(tip) {
        margin: 0px;
        margin-top: 26px;
        line-height: 20px;
        text-align: center;
        font-size: 18px;
        color: #0C0A09;
        font-weight: normal;
    }
    @include e(btn-con) {
        margin-top: 80px;
        padding-bottom: 70px;
        text-align: center;
    }
    @include e(btn) {
        display: inline-block;
        padding: 19px 57px;
        border: 1px solid #0C0A09;
        border-radius: 4px;
        font-weight: bold;
        line-height: 24px;
        font-size: 24px;
        color: #0C0A09;
        cursor: pointer;

        &:hover {
            background: $brand-primary;
            border: 1px solid $brand-primary;
            color: $brand-index-hover;
        }
    }

    // product
    @include e(up) {
        margin-top: 80px;
        text-align: center;

        @include m(circle) {
            position: relative;
            margin: 0 auto;
            display: inline-block;
            width: 98px;
            height: 98px;
            border: 5px solid #F9FAFB;
            border-radius: 50%;

            &:hover {
                background: $brand-product-hover;
            }
        }

        @include m(icon1) {
            position: relative;
            top: 9px;
            display: inline-block;
            width: 70px;
            height: 65px;
            @include img-normal($image-path-home + "index2-product-icon1.png");
        }
        @include m(icon2) {
            position: relative;
            top: 9px;
            display: inline-block;
            width: 70px;
            height: 70px;
            @include img-normal($image-path-home + "index2-product-icon2.png");
        }
        @include m(icon3) {
            position: relative;
            top: 9px;
            display: inline-block;
            width: 70px;
            height: 70px;
            @include img-normal($image-path-home + "index2-product-icon3.png");
        }
        @include m(icon4) {
            position: relative;
            top: 9px;
            display: inline-block;
            width: 72px;
            height: 70px;
            @include img-normal($image-path-home + "index2-product-icon4.png");
        }

        @include m(name) {
            margin: 0px;
            margin-top: 26px;
            line-height: 48px;
            font-weight: bold;
            font-size: 20px;
            color: #0C0A09;

            &.en {
                line-height: 25px;
            }
        }
    }
    @include e(down) {

    }
}

@include b(index2-trade) {
    .row {
        margin-top: 84px;
        margin-bottom: 51px;
    }
    .col-xs-6 {
        padding-left: 0;
        padding-right: 0;
    }

    @include e(con1) {
        margin-top: 32px;
        padding-left: 32px;
        padding-right: 40px;
        line-height: 24px;
    }
    @include e(btn-con) {
        margin-top: 80px;
        margin-bottom: 73px;
        padding-left: 32px;
        text-align: left;
    }
    @include e(img) {
        background-size: 100%;
        background-position: center center;
        width: 550px;
        height: 340px;
        //@include img-normal($image-path-home + "index2-trade-img-pkdss.png");

        &.en {
            @include img-normal($image-path-home + "index2-trade-img-en.png");
        }

    }
}

@include b(index2-why) {

    @include e(up) {
        @include m(icon1) {
            position: relative;
            top: 9px;
            display: inline-block;
            width: 121px;
            height: 100px;
            @include img-normal($image-path-home + "index2-why-icon1.png");

            &:hover {
                left: -2px;
                top: 10px;
            }
        }
        @include m(icon2) {
            position: relative;
            top: 9px;
            display: inline-block;
            width: 90px;
            height: 100px;
            @include img-normal($image-path-home + "index2-why-icon2.png");

            &:hover {
                left: -2px;
                top: 10px;

            }
        }
        @include m(icon3) {
            position: relative;
            top: 9px;
            display: inline-block;
            width: 95px;
            height: 100px;
            @include img-normal($image-path-home + "index2-why-icon3.png");

            &:hover {
                left: -2px;
                top: 10px;

            }
        }
        @include m(icon4) {
            position: relative;
            top: 9px;
            display: inline-block;
            width: 120px;
            height: 100px;
            @include img-normal($image-path-home + "index2-why-icon4-new.png");
            background-repeat: no-repeat;

            &:hover {
                left: -2px;
                top: 10px;

            }
        }
    }
}

@include b(index2-info) {
    background: $brand-primary;

    .row {
        margin-top: 15px;
    }
    .col-xs-6 {
        padding-left: 0;
        padding-right: 0;
    }

    @include e(personal) {
        margin-top: 77px;
        width: 489px;
        height: 432px;
        padding-top: 16.5px;
        &.en {
            padding-top: 53px;
        }
    }

    @include e(title) {
        margin-top: 80px;
        line-height: 36px;
        font-size: 30px;
        font-weight: bold;
        color: $brand-button-color;
    }

    @include e(con) {
        margin-top: 44px;
        line-height: 36px;
        font-size: 16px;
        color: $brand-button-color;
    }
    @include e(con1) {
        color: $brand-button-color;
    }

    @include e(btn-con) {
        margin-top: 44px;
        margin-bottom: 77px;
        text-align: right;
        .index2-product__btn {
            &:hover {
                background: #fff;
                color: $brand-primary;
            }
        }
    }
}
