@include b (home-banner) {
    @include img-normal($image-path-home + "home-banner.png");
    background-position: center center;
    background-size: 100%;
    text-align: center;

    @include e (title) {
        color: #fff;
        font-size: 55px;
        font-weight: normal;
    }

    @include e (tip) {
        color: #fff;
        font-size: $font-size-h3;
    }
}
// 文字滚动
@include b (home-text-roll) {
    height: 30px;
    overflow: hidden;
}
.marquee {
    overflow: hidden;
    height: 30px;
    width: 100%;
    text-align: center;
}


// 排行榜
@include b (home-sec-master) {
    background: $gray;

    @include e (text1) {
        margin-top: -20px;
        text-align: center;
    }

    .ranklist__content {
        padding-bottom: 0px;
        background: $gray;
    }
    .ranklist__lst {
        margin-bottom: 100px;
        border: 1px solid #ddd;
    }
    .ranklist__lst_item {
        background: #fafafa;
    }
}

// 明星交易高手
@include b (home-sec-starmaster) {
    background: #fff;
}

@include b (home-star) {

    @include e (title) {
        text-align: center;
        font-size: $font-size-h2;
    }

    @include e (tip) {
        text-align: center;
        color: $gray-dark;
        font-size: $font-size-h5;
    }
    @include e (line) {
        display: inline-block;
        width: 100%;
        height: 10px;
        @include img-normal($image-path-home + "line.png");
        background-size: 100%;
    }
    @include e (number) {
        font-size: 30px;
        font-weight: 600;
    }
    @include e (tip1) {
        font-size: 12px;
        margin-top: -10px;
    }
    @include e (method) {
        padding: 3px 6px;
        border: 1px solid $gray-darker;
        color: $gray-darker;
    }
}

// 首页资产
@include b (home-sec-asset) {
    background: $gray;    
}
@include b (home-asset) {
    font-size: $font-size-base;

    li {
        float: left;

        div:last-child {
            text-align: left;
            padding-left: 10px;
        }
    }

    li:first-child {
        width: 100%;

        .home-asset__gray {
            // padding: 50px 0;
        }
    }
    li:nth-child(2) {
        width: 48%;
    }
    li:nth-child(3) {
        width: 48%;
        float: right;
    }
    @include e (icon) {
        width: 100px;
        height: 80px;
        background-size: 100px 80px;
    }

    @include e (gray) {
        padding: 25px 0;
        background: #363636;
        text-align: center;
    }

    @include e (white) {
        padding-top: 10px;
        background: #fff;

        p:last-child {
            margin-top: -8px;
            padding-bottom: 5px;
        }
    }


}


// 行业大师
@include b (home-sec-eg) {
    @include img-normal($image-path-home + "home-eg-bg.png");
    background-position: center center;
}
@include b (eg) {
    @include e (photo) {
        width: 374px;
        height: 441px;
        @include img-normal($image-path-home + "home-eg-person.png");
        background-size: 100%;
    }

    @include e (con) {
        position: relative;
        color: $gray-light;

        p {
            font-size: $font-size-h3;
        }
        span {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 36px;
            background-size: 100%;
            @include img-normal($image-path-home + "home-quote.png");
        }

    }

    @include e (quote1) {
        top: 20px;
        left: -60px;
    }

    @include e (quote2) {
        top: -20px;
        left: 570px;
    }

    @include e (name) {
        text-align: right;
        font-size: $font-size-h2 !important;
        color: $brand-primary;
    }

}

// 为什么选择老虎金融
@include b (home-sec-why) {
    background-color: $brand-primary;
}

@include b (why-title) {
    color: $gray-base;
    font-size: 30px;

    @include e (line) {
        display: inline-block;
        width: 40px;
        border-top: 1px solid $gray-base;
    }

    @include e (line1) {
        display: inline-block;
        width: 40px;
        border-top: 1px solid $brand-primary;
    }

    
}

@include b (why-con) {

    @include e (logo) {
        display: inline-block;
        width: 75px;
        height: 75px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    @include e (logo1) {
        @include img-normal($image-path-home + "why-logo1.png");       
    }
    @include e (logo2) {
        @include img-normal($image-path-home + "why-logo2.png");       
    }
    @include e (logo3) {
        @include img-normal($image-path-home + "why-logo3.png");       
    }
    @include e (logo4) {
        @include img-normal($image-path-home + "why-logo4.png");       
    }
}

.mg-rg-_20 {
    margin-right: -20px;
}
.mg-lf-_20 {
    margin-left: -20px;
}