<div class="sys_modal_v2 slim_case card_modal">
    <button class="close" ng-click="closeModal()">&times;</button>

    <div>
        <h5 class="sys_modal_v2__title">
            {{lang.text('tigerWitID.wallet.addBankCards')}}
            <br>
            <span class="desp">
                {{lang.text('tigerWitID.depositWithdrawal.bindUserBankCard')}}
            </span>
        </h5>
        <div class="sys_modal_v2__content" ng-show="!card.binding">
            <form name="cardForm" novalidate autocomplete="off">
                <div class="row">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.wallet.nameM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <!-- <label>{{personal.realname}}</label> -->
                        <div class="form-control-wrapper">
                            <input class="form-control"
                                   name="realname"
                                   type="text"
                                   required
                                   placeholder="{{lang.text('tigerWitID.wallet.cardholderName')}}"
                                   ng-class="{'form-control-error': frontErr.realname.show && cardForm.realname.$invalid}"
                                   ng-model="card.realname"
                                   ng-disabled="card.realname != ''"
                                   ng-focus="hideErr('realname')"
                                   ng-init="card.realname = personal.realname"
                                   ng-blur="showErr('realname')">
                            <div ng-show="frontErr.realname.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.realname.$error.required">
                                    {{lang.text('tigerWitID.wallet.cardholderName')}}
                                </p>
                                <!-- <p class="alert alert-arrow_tp_lf" ng-show="cardForm.realname.$error.pattern">
                                    {{frontErr.realname.tip}}
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.wallet.bankCountryM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <!-- <div class="form-control-wrapper">
                            <select class="form-control"
                                    name="world"
                                    required
                                    ng-class="{'form-control-error': frontErr.world.show && cardForm.world.$invalid}"
                                    ng-model="card.world"
                                    ng-options="world.name for world in worlds"
                                    ng-focus="hideErr('world')"
                                    ng-blur="showErr('world')">
                                <option value="">{{lang.text('tigerWitID.pleaseSelect')}}</option>
                            </select>

                            <div ng-show="frontErr.world.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.world.$error.required">
                                    请选择开户国家
                                </p>
                            </div>
                        </div> -->
                        <div class="form-control-wrapper">
                            <input class="form-control"
                                name="world"
                                type="text"
                                required
                                ng-model="card.world.world_name"
                                ng-disabled="card.world.world_name != ''">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.depositWithdrawal.cardNumberM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <div class="form-control-wrapper">
                            <input class="form-control"
                                   name="number"
                                   type="text"
                                   required
                                   ng-class="{'form-control-error': frontErr.number.show && cardForm.number.$invalid}"
                                   ng-model="card.number"
                                   placeholder="{{lang.text('tigerWitID.depositWithdrawal.enterCardNumber')}}"
                                   ng-pattern="frontErr.number.reg"
                                   ng-focus="hideErr('number')"
                                   ng-blur="showErr('number')">

                            <div ng-show="frontErr.number.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.number.$error.required">
                                    {{lang.text('tigerWitID.depositWithdrawal.enterCardNumber')}}
                                </p>
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.number.$error.pattern">
                                    {{frontErr.number.tip}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="card.world && card.world.world_code === 'CN'">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.wallet.selectBankM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <div class="form-control-wrapper">
                            <select class="form-control"
                                    name="bank"
                                    required
                                    ng-class="{'form-control-error': frontErr.bank.show && cardForm.bank.$invalid}"
                                    ng-model="card.bank"
                                    ng-options="bank.name for bank in banks"
                                    ng-focus="hideErr('bank')"
                                    ng-blur="showErr('bank')">
                                <option value="">{{lang.text('tigerWitID.pleaseSelect')}}</option>
                            </select>

                            <div ng-show="frontErr.bank.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.bank.$error.required">
                                    {{lang.text('tigerWitID.wallet.pSelectBank')}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="card.world && card.world.world_code !== 'CN'">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.wallet.fillBankM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <div class="form-control-wrapper">
                            <input class="form-control"
                                    name="bankOther"
                                    type="text"
                                    required
                                    ng-class="{'form-control-error': frontErr.bankOther.show && cardForm.bankOther.$invalid}"
                                    ng-model="card.bankOther"
                                    placeholder="{{lang.text('tigerWitID.wallet.bankName')}}"
                                    ng-focus="hideErr('bankOther')"
                                    ng-blur="showErr('bankOther')">

                            <div ng-show="frontErr.bankOther.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.bankOther.$error.required">
                                    {{lang.text('tigerWitID.wallet.bankName')}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="card.world && card.world.world_code !== 'CN'">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.wallet.bankIdentificationCodeM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <div class="form-control-wrapper">
                            <input class="form-control"
                                    name="swift_code"
                                    type="text"
                                    required
                                    ng-class="{'form-control-error': frontErr.swift_code.show && cardForm.swift_code.$invalid}"
                                    ng-model="card.swift_code"
                                    placeholder="{{lang.text('tigerWitID.wallet.fillBankIdentificationCode')}}"
                                    ng-focus="hideErr('swift_code')"
                                    ng-blur="showErr('swift_code')">

                            <div ng-show="frontErr.swift_code.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.swift_code.$error.required">
                                    {{lang.text('tigerWitID.wallet.fillBankIdentificationCode')}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" ng-if="card.world && card.world.world_code === 'CN'">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.depositWithdrawal.provinceM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <div class="form-control-wrapper">
                            <select class="form-control"
                                    name="province"
                                    required
                                    ng-class="{'form-control-error': frontErr.province.show && cardForm.province.$invalid}"
                                    ng-model="card.province"
                                    ng-options="province.name for province in provinces"
                                    ng-change="getCity()"
                                    ng-focus="hideErr('province')"
                                    ng-blur="showErr('province')">
                                <option value="">{{lang.text('tigerWitID.pleaseSelect')}}</option>
                            </select>

                            <div ng-show="frontErr.province.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.province.$error.required">
                                    {{lang.text('tigerWitID.wallet.selectAccountPro')}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="card.world && card.world.world_code === 'CN'">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.depositWithdrawal.cityM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <div class="form-control-wrapper">
                            <select class="form-control"
                                    name="city"
                                    required
                                    ng-class="{'form-control-error': frontErr.city.show && cardForm.city.$invalid}"
                                    ng-model="card.city"
                                    ng-options="city.name for city in citys"
                                    ng-focus="hideErr('city')"
                                    ng-blur="showErr('city')">
                                <option value="">{{lang.text('tigerWitID.pleaseSelect')}}</option>
                            </select>

                            <div ng-show="frontErr.city.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.city.$error.required">
                                    {{lang.text('tigerWitID.wallet.selectAccountCity')}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="card.world">
                    <div class="col-xs-3 text-left">
                        <label ng-if="card.world && card.world.world_code === 'CN'">{{lang.text('tigerWitID.depositWithdrawal.branchM')}}</label>
                        <label ng-if="card.world && card.world.world_code !== 'CN'">{{lang.text('tigerWitID.wallet.bankAddressM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <div class="form-control-wrapper">
                            <input class="form-control"
                                   name="address"
                                   type="text"
                                   required
                                   ng-class="{'form-control-error': frontErr.address.show && cardForm.address.$invalid}"
                                   ng-model="card.address"
                                   placeholder="{{card.world && card.world.world_code === 'CN' ? lang.text('tigerWitID.wallet.enterBranchBankName') : lang.text('tigerWitID.wallet.enterOpeningAccountAddress')}}"
                                   ng-focus="hideErr('address')"
                                   ng-blur="showErr('address')">

                            <div ng-show="frontErr.address.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.address.$error.required">
                                    {{card.world && card.world.world_code === 'CN' ? lang.text('tigerWitID.wallet.enterBranchBankName') : lang.text('tigerWitID.wallet.enterOpeningAccountAddress')}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="card.world && card.world.world_code === 'CN'">
                    <div class="col-xs-3 text-left">
                        <label>{{lang.text('tigerWitID.wallet.reservedPhoneNumberM')}}</label>
                    </div>

                    <div class="col-xs-9">
                        <div class="form-control-wrapper">
                            <input class="form-control"
                                   name="phone"
                                   type="text"
                                   required
                                   ng-class="{'form-control-error': frontErr.phone.show && cardForm.phone.$invalid}"
                                   ng-model="card.phone"
                                   placeholder="{{lang.text('actLogin3')}}"
                                   ng-pattern="frontErr.phone.reg"
                                   ng-focus="hideErr('phone')"
                                   ng-blur="showErr('phone')">

                            <div ng-show="frontErr.phone.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.phone.$error.required">
                                    {{lang.text('actLogin3')}}
                                </p>
                                <p class="alert alert-arrow_tp_lf" ng-show="cardForm.phone.$error.pattern">
                                    {{frontErr.phone.tip}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <p>
                <span class="font-danger">*</span>
                开户行全称请精确到支行，如：中国工商银行 北京分行 清华园支行
            </p> -->
            <p class="btn_wrapper mg-bt-15">
                <button class="btn btn-primary-gradient" ng-if="clickable" ng-click="submitForm()">
                    {{lang.text('tigerWitID.confirm')}}
                </button>
                <button class="btn btn-primary-gradient" ng-if="!clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.wallet.adding')}}
                </button>
            </p>
        </div>

        <div class="sys_modal_v2__content" ng-if="card.binding">
            <p class="system_modal__info">
                {{lang.text('tigerWitID.wallet.tip4_1')}}{{ card.number }}{{lang.text('tigerWitID.wallet.tip4_2')}}
            </p>
            <p class="btn_wrapper mg-bt-15">
                <button class="btn btn-primary-gradient" ng-click="closeModal()">
                    {{lang.text('tigerWitID.confirm')}}
                </button>
            </p>
        </div>
    </div>
</div>