<div class="sys_modal_v2 slim_case">
    <button class="close" ng-click="closeModal()">×</button>

    <h5 class="sys_modal_v2__title">
        {{lang.text('tigerWitID.depositWithdrawal.paymentMethod')}}
    </h5>

    <div class="sys_modal_v2__content">
        <ul class="deposit_modal__type">
            <li class="row" ng-repeat="(key, value) in deposit.depositTypeLst" ng-class="{unable_select: value.status === 2}" ng-click="selectType(key, value.status)" ng-if="isWallet(key)">
                <div class="col-xs-3 deposit_modal__type-icon">
                    <span class="btn-select fr" ng-class="{active: deposit.type === key}"></span>
                </div>
                <div class="col-xs-9 deposit_modal__type-cont">
                    <p class="tit">{{value.name}}<span>{{value.hint}}</span></p>
                    <p class="tip" ng-show="key !== 'wallet'">{{value.describe}}</p>
                    <p class="tip" ng-show="key === 'wallet'">{{lang.text('tigerWitID.depositWithdrawal.walletBalanceM')}}${{ deposit.walletAble || '0.00' }}</p>
                </div>
            </li>
        </ul>

        <p class="btn_wrapper mg-bt-15">
            <button class="btn btn-primary-gradient btn-sm" ng-click="changeType()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </p>
    </div>
</div>