<div class="sys_modal_v2 slim_case">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="sys_modal_v2__title">
        {{msgInfo.msgTitle || lang.text('tigerWitID.depositWithdrawal.notice')}}
    </h5>

    <div class="sys_modal_v2__content" ng-if="type === 'depositFinish'">
        <p class="sys_modal_v2__info">
            {{lang.text('tigerWitID.depositWithdrawal.tip16')}}
        </p>
        <p class="sys_modal_v2__tip">
            {{lang.text('tigerWitID.depositWithdrawal.tip17')}}
        </p>

        <p class="btn_wrapper mg-bt-15">
            <button class="btn-primary-gradient tw-btn-lg162 mg-rg-15" ng-click="openChat()">
                {{lang.text('tigerWitID.depositWithdrawal.runIntoProblem')}}
            </button>
            <button class="btn-info tw-btn-lg162" style="border-radius: 100px;" ng-click="depositSucc()">
                {{lang.text('tigerWitID.depositWithdrawal.paymentSuccess')}}
            </button>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="type === 'confirmDeposit'">
        <div class="sys_modal_v2__info mg-bt-15">
            <p class="deposit_modal__tit" style="font-family: initial;">{{msgInfo.currency.currency_symbol}} {{msgInfo.amountTotal}}</p>
            <ul class="deposit_modal__lst">
                <li class="clearfix">
                    <span class="fl">{{lang.text('tigerWitID.depositWithdrawal.depositAmountM')}}</span>
                    <span class="fr" style="font-family: initial;">$ {{msgInfo.amountDollar}}</span>
                </li>
                <li class="clearfix" ng-if="msgInfo.currency.currency !== 'USD'">
                    <span class="fl">{{lang.text('tigerWitID.depositWithdrawal.tip59_1')}}{{msgInfo.currency.currency_name}}{{lang.text('tigerWitID.depositWithdrawal.tip59_2')}}</span>
                    <span class="fr" style="font-family: initial;">{{msgInfo.currency.currency_symbol}} {{msgInfo.amountRMB}}</span>
                </li>
                <li class="clearfix">
                    <span class="fl">{{lang.text('tigerWitID.details.commission')}}：</span>
                    <span class="fr" style="font-family: initial;">{{msgInfo.currency.currency_symbol}} {{msgInfo.isFree ? msgInfo.amountFee : '0.00'}}</span>
                </li>
                <li class="clearfix" ng-if="!msgInfo.isFree">
                    <span class="fl"></span>
                    <span class="fr" style="font-family: initial; text-decoration: line-through; color: #f23244;">{{msgInfo.currency.currency_symbol}} {{msgInfo.amountFee}}</span>
                </li>
            </ul>
            <p class="deposit_modal__tip">
                {{msgInfo.desc}}
            </p>
        </div>

        <p class="btn_wrapper mg-bt-15">
            <button class="btn btn-primary-gradient btn-sm" ng-click="goOnDeposit()">
                {{msgInfo.msgBtn}}
            </button>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="type === 'depositLimit'">
        <p class="sys_modal_v2__info mg-bt-15">
            {{msgInfo.msgTip}}
        </p>

        <p class="btn_wrapper mg-bt-15">
            <a ui-sref="space.asset.subpage({subpage: 'evidence'})" ng-click="closeModal()" class="btn btn-info btn-sm" style="width: 70%; border-radius: 100px;">
                {{lang.text('tigerWitID.depositWithdrawal.uploadVoucher')}}
            </a>
            <button class="btn btn-primary-gradient btn-sm" style="width: 70%; margin-top:20px;" ng-click="[closeModal(), goOnDeposit()]">
                {{msgInfo.msgBtn}}
            </button>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="type === 'depositLimitCheck'">
        <p class="sys_modal_v2__info mg-bt-15">
            {{lang.text('tigerWitID.depositWithdrawal.tip18')}}
        </p>

        <p class="btn_wrapper mg-bt-15">
            <button class="btn btn-primary-gradient btn-sm" ng-click="closeModal()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="type === 'depositRule'">
        <p class="sys_modal_v2__info mg-bt-15">
            <p class="mg-bt-10">{{lang.text('tigerWitID.depositWithdrawal.tip19')}}</p> 
            <p>{{lang.text('tigerWitID.depositWithdrawal.tip20')}}</p> 
            <p class="mg-bt-10 mg-tp-15">{{lang.text('tigerWitID.depositWithdrawal.depositStipulation')}}</p>
            <p>{{lang.text('tigerWitID.depositWithdrawal.tip21')}}</p>
            <p>{{lang.text('tigerWitID.depositWithdrawal.tip22')}}</p>
            <p>{{lang.text('tigerWitID.depositWithdrawal.tip23')}}</p>
            <p class="mg-bt-10 mg-tp-15">{{lang.text('tigerWitID.depositWithdrawal.tip24')}}</p>
            <p>{{lang.text('tigerWitID.depositWithdrawal.tip25')}}</p> 
            <p>{{lang.text('tigerWitID.depositWithdrawal.tip26')}}</p>
        </p>

        <p class="btn_wrapper mg-bt-15">
            <button class="btn btn-primary-gradient btn-sm" ng-click="closeModal()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="type === 'cseMessage'">
        <p class="sys_modal_v2__info mg-bt-15">
            <pre>{{msgInfo.msgPopTitle}}</pre>
            <pre>{{msgInfo.msgPopContent}}</pre>
        </p>

        <p class="btn_wrapper mg-bt-15">
            <button class="btn btn-primary-gradient btn-sm mg-rg-15" ng-click="[callback(), closeModal()]">
                {{lang.text('tigerWitID.yes')}}
            </button>
            <button class="btn btn-primary-gradient btn-sm" ng-click="[toCse(), closeModal()]">
                {{lang.text('tigerWitID.no')}}
            </button>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="type === 'bindBankCard'">
        <div class="sys_modal_v2__info mg-bt-15 deposit_modal__bank_card">
           <p class="mg-bt-10"><span class="tit">{{lang.text('tigerWitID.wallet.name')}}</span><span class="name">{{msgInfo.cardName}}</span></p>
           <p><span>{{lang.text('tigerWitID.depositWithdrawal.bankCardNumber')}}</span></p>
           <p class="form-control-wrapper">
               <input class="form-control" type="text" ng-focus="depositCard.backErr = false" ng-model="depositCard.num" placeholder="{{lang.text('tigerWitID.depositWithdrawal.enterCardNumber')}}">
           </p>
           <p class="back_err" ng-if="depositCard.backErr">
                {{depositCard.backMsg}}
           </p>
           <p class="tip mg-tp-20">
                <span class="mg-bt-10">{{lang.text('tigerWitID.details.precautions')}}</span>
                {{lang.text('tigerWitID.depositWithdrawal.tip27')}}<br>
                {{lang.text('tigerWitID.depositWithdrawal.tip28')}}<br>
                {{lang.text('tigerWitID.depositWithdrawal.tip29')}}<br>
                400-809-8509
           </p>
        </div>

        <p class="btn_wrapper mg-bt-15">
            <button ng-show="!isLoading" class="btn btn-primary-gradient btn-sm" ng-click="bindBankCard()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
            <button ng-show="isLoading" class="btn btn-primary-gradient btn-sm"><i class="loading_spinner fa fa-spinner"></i> {{lang.text('tigerWitID.submitting')}}</button>
        </p>
    </div>
</div>
