<div>
  <div class="asset_evidence">
    <ul class="asset_evidence__nav clearfix">
      <li class="asset_evidence__nav-item" ng-class="{active: status === 1}" ng-click="changeEvidenceStatus(1)">
        {{lang.text('tigerWitID.depositWithdrawal.toUpload')}}
      </li>
      <li class="asset_evidence__nav-item" ng-class="{active: status === 2}" ng-click="changeEvidenceStatus(2)">
        {{lang.text('tigerWitID.depositWithdrawal.underReview')}}
      </li>
      <li class="asset_evidence__nav-item" ng-class="{active: status === 0}" ng-click="changeEvidenceStatus(0)">
        {{lang.text('tigerWitID.depositWithdrawal.successfully')}}
      </li>
    </ul>
    <div class="asset_evidence__content">
        <div ng-if="status === 1">
          <h4 class="title">{{lang.text('tigerWitID.depositWithdrawal.voucherConsiderations')}}</h4>
          <p class="tip">
              {{lang.text('tigerWitID.depositWithdrawal.tip36')}}
          </p>
          <p class="tip">
              {{lang.text('tigerWitID.depositWithdrawal.tip37')}}
          </p>
          <p class="tip">
              {{lang.text('tigerWitID.depositWithdrawal.tip38')}}
          </p>
          <p class="tip">
              {{lang.text('tigerWitID.depositWithdrawal.tip39')}}
          </p>
          <p class="tip font-danger">
              {{lang.text('tigerWitID.depositWithdrawal.tip40')}}<br>
              {{lang.text('tigerWitID.depositWithdrawal.tip41')}}
          </p>
          <div class="desc" ng-if="lang.isThird() && main.region.world_code == 'CN'">
              <a href="/payment/evidence" target="_blank">{{lang.text('tigerWitID.depositWithdrawal.vouchersInstance')}}</a>
          </div>
          <div class="desc" ng-if="!lang.isThird() && personal.region.world_code == 'CN'">
              <a href="/web/deposit/evidence" target="_blank">{{lang.text('tigerWitID.depositWithdrawal.vouchersInstance')}}</a>
          </div>
        </div>        
        <ul class="asset_evidence__content-lst">
          <li class="item" ng-repeat="evidence in evidenceList">
            <div class="tit clearfix">
              <span class="fl"><span ng-show="status === 1 && evidence.must" class="font-danger">＊</span>{{lang.text('tigerWitID.fundRecords.rechargeSuccess')}}</span>
              <span class="fr">${{evidence.amount}}</span>
            </div>
            <div class="date clearfix">
              <span class="fl">{{evidence.created_at | dealTimestamp}}</span>
              <span ng-if="status !== 1" class="fr">{{lang.text('tigerWitID.depositWithdrawal.transactionSuccessful')}}</span>
              <span ng-if="status === 1" class="fr">{{evidence.reason}}</span>
            </div>
            <div class="info clearfix" ng-if="status === 1">
              <div class="fl pic-box clearfix">
                <div class="pic" ng-repeat="file in evidence.files" ng-click="checkImage($event, srcHead+file)">
                  <img ng-src="{{srcHead}}{{file}}" alt="">
                </div>
                <div class="pic add_file" ng-if="evidence.files.length === 1">
                    <div tw-upload-file-base64 data-file-name="evidence.files[1]"></div>
                </div>
                <div class="pic add_file" ng-if="evidence.files.length === 2">
                    <div tw-upload-file-base64 data-file-name="evidence.files[2]"></div>
                </div>
              </div>
              <div class="fr">
                  <button ng-if="!evidence.files.length" class="tw-btn tw-btn-sm130 tw-btn-capsule-gradient relative">
                      {{lang.text('tigerWitID.depositWithdrawal.uploadVoucher')}}
                    <div tw-upload-file-base64 data-file-name="evidence.files[0]"></div>
                  </button>
                  <button ng-if="evidence.files.length" class="tw-btn tw-btn-sm130 tw-btn-capsule-bordered" ng-click="uploadEvidence(evidence, $index)">
                    {{lang.text('tigerWitID.depositWithdrawal.submitAudition')}}  
                  </button>
              </div>
            </div>
            <div class="info clearfix" ng-if="(status === 0) || (status === 2)">
                <div class="fl pic-box clearfix">
                  <div class="pic" ng-repeat="file in evidence.pic_thumb" ng-click="checkImage($event, evidence.pic[$index])">
                    <img ng-src="{{file}}" alt="">
                  </div>
                </div>
                <div class="fr">
                    <button ng-if="status === 2" class="tw-btn tw-btn-capsule-bordered" ng-click="cancelEvidence(evidence, $index)">
                      {{lang.text('tigerWitID.revocation')}}
                    </button>
                </div>
              </div>
          </li>
          <li ng-if="!evidenceList.length" class="text-center font-size-16">
            <img src="/images/no_voucher.png" alt="" class="mg-bt-40">
            <p>{{lang.text('tigerWitID.depositWithdrawal.noVouchers')}}</p> 
          </li>
        </ul>
    </div>
  </div>

</div>