<div class="pd-lf-20 mg-tp-30">
    <table class="table table-personal table-hover table-bordered">
        <colgroup>
            <col width="20%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="35%">
        </colgroup>
        <thead>
            <th>日期</th>
            <th>全部类型</th>
            <th>金额</th>
            <th>状态</th>
            <th>备注</th>
        </thead>
        <tbody>
            <tr ng-repeat="history in historyList">
                <td>{{ history.timestamp | dateFormatter}}</td>
                <td>{{ history.status > 0 ? '充值' : '提现'}}</td>
                <td>${{ history.amount }}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="text-right">
        <p tw-pagination></p>
    </div>
</div>