<div class="m_withdraw" data-page="page6">
    <div class="m_withdraw__fail">
        <div class="m_withdraw__fail-icon">
            <img src="/images/icon-fail.png">
        </div>
        <div class="m_withdraw__fail-tit">提现申请失败</div>
        <div class="m_withdraw__fail-tip">请返回重新提交</div>
        <div class="m_withdraw__fail-info">
            客服帮助：<span>400-809-8509</span>
        </div>
        <div class="m_withdraw__fail-btn">
            <span class="m_withdraw_btn">返回个人中心</span>
        </div>
    </div>
</div>



