<div class="m_withdraw" data-page="page5">
    <div class="m_withdraw__succ">
        <div class="m_withdraw__succ-icon">
            <img src="/images/icon-succ.png">
        </div>
        <div class="m_withdraw__succ-tit"><%= lang.text("mAssetWithdrawSuccInfo")%></div>
        <div class="m_withdraw__succ-tip"><%= lang.text("mAssetWithdrawSuccInfo")%></div>
        <div class="m_withdraw__succ-btn">
            <span class="m_withdraw_btn"><%= lang.text("mAssetWithdrawBackPersonal")%></span>
        </div>
    </div>
</div>



