<div class="m_withdraw" data-page="page1">
    <div class="m_withdraw__home">
        <div class="m_withdraw__home-rate">
            当前汇率：1美元＝<span>*</span>人民币
        </div>
        <div class="m_withdraw__home-info">
            <p class="tit">提现金额</p>
            <label class="clearfix">
                <span>$</span><input name="withdraw" type="number" class="m_withdraw_num" placeholder="最低20美金">
            </label>
            <p class="tip">账户可提现金额：$<span>*</span></p>
            <p class="err_msg"></p>
        </div>
        <div class="m_withdraw__home-btn">
            <span class="m_withdraw_btn">下一步</span>
        </div>
    </div>
</div>