<div class="m_withdraw" data-page="page2">
    <div class="m_withdraw__cardlist">
        
        <div class="bankCard"></div>
        <div class="operateCard">
            <i class="fa fa-pencil"></i>
            <span class="tit">修改银行卡</span>
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
</div>



<script id="template_cardlist" type="text/html">
    <ul>
        <$for(var i=0;i<cardList.length;i++){$>
            <li class="m_withdraw__cardlist-bank clearfix">
                <div class="bank-icon bank-icon-<$= cardList[i].bank_name$>"></div>
                <div class="bank-info">
                    <span><$= cardList[i].bank_name_zh$></span>
                    <span>持卡人：momom</span>
                    <span class="num">**** **** **** <$= cardList[i].card_no.substring(1)$></span>
                </div>
            </li>  
        <$}$>
    </ul>
</script>