<div class="m_withdraw" data-page="page3">
    <div class="m_withdraw__addcard">
        <div class="m_withdraw__addcard-tit">
            请填写银行卡信息
        </div>
        <div class="m_withdraw__addcard-info">
            <ul>
               <li class="detail">
                   <span>银行名称</span>
                   <input type="text" name="bank">
               </li>
               <li class="detail">
                   <span>支行名称</span>
                   <input type="text" name="branch">
               </li>  
            </ul>
        </div>
        <div class="m_withdraw__addcard-btn">
            <span class="m_withdraw_btn">下一步</span>
        </div>
    </div>
</div>