<div class="sys_modal_v2 slim_case">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="sys_modal_v2__title">
        系统提示
    </h5>

    <div class="sys_modal_v2__content">
        <p class="sys_modal_v2__tip" ng-show="dredged_type == 'demo'">
            受最高监管的约束，需要您通过认证审核后方可进行充值操作
        </p>
        <p class="sys_modal_v2__tip" ng-show="dredged_type == 'live'">
            您的账户尚未通过认证审核，请先完善资料。
        </p>

        <p class="btn_wrapper">
            <a class="btn btn-primary-gradient btn-sm" ng-click="closeModal()" ui-sref="authen.subpage({subpage: 'investInfo'})">
                完善资料
            </a>
        </p>
    </div>
</div>
