<div class="system_modal">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="system_modal__title">
        系统提示
    </h5>

    <div class="system_modal__content">
        <p class="system_modal__info">
            无法充值
        </p>
        <p class="system_modal__tip">
            您的账户尚未通过认证审核，请先完善资料。
        </p>

        <p class="system_modal__btn_wrapper">
            <a class="btn btn-primary btn-sm" ng-click="closeModal()" href="/space/#/anthen/investInfo" target="_blank">
                完善资料
            </a>
        </p>
    </div>
</div>
