<!-- <div tw-guide data-src-list="src" data-guide-type="withdraw"></div> -->
<div class="withdraw zero_withdraw" ng-controller="GetFormController">
    <div class="row mg-bt-30">
        <div class="col-xs-2 text-right deposit__title-money">
            {{lang.text('tigerWitID.depositWithdrawal.withdrawalTo')}}
        </div>

        <div class="col-xs-6">
            <div class="deposit__way" ng-click="openChangeWithTypeMdl()">
                {{ withdrawTypeLst[withdraw.accountType].name }}
            </div>
            <p class="deposit__way-tip" ng-class="{active: withdraw.accountType === 'cse'}">{{lang.text('tigerWitID.depositWithdrawal.tip43')}}</p>
            <p class="deposit__way-tip" ng-class="{active: withdraw.accountType === 'paypal'}">{{lang.text('tigerWitID.depositWithdrawal.tip44')}}</p>
            <!-- <p class="deposit__way-tip" ng-class="{active: withdraw.accountType === 'third_account'}">提示</p> -->
        </div>
    </div>
    <div class="row mg-bt-30" ng-show="withdraw.accountType === 'bank'">
        <div class="col-xs-2 text-right deposit__title-money">
            {{lang.text('tigerWitID.depositWithdrawal.bankCard')}}
        </div>

        <div class="col-xs-10 pd-tp-10" ng-show="!withdraw.card.id">
            <span class="deposit__pointer font-info" ng-click="openCardMdl()">{{lang.text('tigerWitID.wallet.bindBankCard')}} ></span>
        </div>

        <div class="col-xs-9 withdraw__card_handler" ng-show="withdraw.card.id">
            <div class="widthdraw__card_bg">
                <img ng-show="withdraw.card.bank_img" ng-src="{{ withdraw.card.bank_img }}">
                <span>{{ withdraw.card.bank_name ||  withdraw.card.bank_code }}</span>
            </div>
            <span class="card_number">
                <span>
                    {{withdraw.card.number}} 
                </span>
                <span class="deposit__pointer font-info btn-text card_switch" ng-click="openManageCardMdl('switch')">{{lang.text('tigerWitID.wallet.switchBankCard')}} ></span>
            </span>
            <span class="tw-btn tw-btn-md tw-btn-capsule-bordered card_manage" ng-click="openManageCardMdl('manage')" ng-style="{width: lang.isEnglishArea() ? '170px' : ''}">{{lang.text('tigerWitID.wallet.manageBankCards')}}</span>
        </div>
    </div>
    <div class="row mg-bt-30" ng-show="withdraw.accountType === 'third_account'">
        <div class="col-xs-2 text-right deposit__title-money"></div>

        <div class="col-xs-10 pd-bt-10" ng-show="!withdraw.third.id">
            <span class="deposit__pointer font-info" ng-click="openThirdMdl()">{{lang.text('tigerWitID.wallet.addThirdAccount')}} ></span>
        </div>

        <div class="col-xs-9 withdraw__card_handler" ng-show="withdraw.third.id">
            <div class="widthdraw__card_font">
                <!-- <img ng-show="withdraw.card.bank_img" ng-src="{{ withdraw.card.bank_img }}"> -->
                <span>{{ withdraw.third.platform }}</span>
            </div>
            <span class="card_number">
                <span>
                    {{withdraw.third.account}} 
                </span>
                <span class="deposit__pointer font-info btn-text card_switch" ng-click="openManageThirdMdl('switch')">{{lang.text('tigerWitID.wallet.switchThird')}} ></span>
            </span>
            <span class="tw-btn tw-btn-md tw-btn-capsule-bordered card_manage" ng-click="openManageThirdMdl('manage')">{{lang.text('tigerWitID.wallet.manageThird')}}</span>
        </div>
    </div>
    <div class="row" ng-show="withdraw.accountType !== 'bank' && withdraw.accountType !== 'wallet' && withdraw.accountType !== 'third_account'">
        <div class="col-xs-2 text-right deposit__title-money">
            {{lang.text('tigerWitID.depositWithdrawal.name')}}
        </div>

        <div class="col-xs-6">
            <div class="form-control-wrapper">
                <input class="form-control form-control-size-lg form-control-shape-capsule disabled"
                    name="account"
                    type="text"
                    ng-model="main.realname"
                    disabled ng-if="lang.isThird()">
                <input class="form-control form-control-size-lg form-control-shape-capsule disabled"
                    name="account"
                    type="text"
                    ng-model="personal.realname"
                    disabled ng-if="!lang.isThird()">
            </div>  
        </div>      
    </div>
    <div class="row" ng-show="withdraw.accountType !== 'bank' && withdraw.accountType !== 'wallet' && withdraw.accountType !== 'third_account'">
        <div class="col-xs-2 text-right deposit__title-money">
            {{lang.text('tigerWitID.myAccount.accountNumber')}}
        </div>

        <div class="col-xs-6">
            <div class="form-control-wrapper">
                <input class="form-control form-control-size-lg form-control-shape-capsule"
                    name="account"
                    type="text"
                    ng-model="withdraw.thirdAccount">
            </div>  
        </div>      
    </div>
    <div class="row mg-bt-30 deposit__pay_method" ng-if="withdrawTypeLst[withdraw.accountType].currency.length > 1">
        <div class="col-xs-2 deposit__title-money">{{lang.text('tigerWitID.depositWithdrawal.selectCurrency')}}</div>
        <div class="col-xs-2 relative">
            <div class="deposit__currency-tit" ng-click="openCurrency($event)">{{withdraw.currency.currency_name}}</div>
            <ul class="deposit__currency-lst" ng-show="currencyStatus">
                <li ng-repeat="item in withdrawTypeLst[withdraw.accountType].currency" ng-click="selcetCurrency(item)">
                    {{item.currency_name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 warn_tip_area" ng-show="withdrawMessageSucc && !message.is_succ">
            <div class="warn_icon">
                ⚠️
            </div>
            <div class="warn_content">
                <div class="">
                    <p>{{lang.text('tigerWitID.systemPromptM')}}{{message.error_msg}}</p>
                    <p>{{lang.text('tigerWitID.depositWithdrawal.tip48')}}（{{lang.text('telephone')}}）</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-8 col-xs-offset-2 warn_tip_area" ng-show="withdraw.type === 'wallet' && withdrawMessageSucc && !messageWallet.is_succ">
            <div class="warn_icon">
                ⚠️
            </div>
            <div class="warn_content">
                <div  class="">
                    <p>{{lang.text('tigerWitID.systemPromptM')}}{{message.message}}</p>
                    <p>{{lang.text('tigerWitID.depositWithdrawal.tip48')}}（{{lang.text('telephone')}}）</p>
                </div>
            </div>
        </div> -->
    </div>
    
    <div ng-show="(withdrawMessageSucc && message.is_succ)">
        <div class="row">
            <div class="col-xs-2 text-right deposit__title-money">{{lang.text('tigerWitID.depositWithdrawal.withdrawalAmountJ')}}</div>
            <div class="col-xs-6 deposit__input">
                <form name="withdrawForm" novalidate>
                    <div class="form-control-wrapper">
                        <input class="form-control form-control-size-lg form-control-shape-capsule"
                               name="amount"
                               type="text"
                               required
                               ng-class="{'form-control-error': frontErr.amount.show && withdrawForm.amount.$invalid}"
                               ng-model="withdraw.amount"
                               ng-pattern="frontErr.amount.reg"
                               twform-max="{{withdraw.maxAmount || 0}}"
                               twform-min="{{withdraw.minAmount}}"
                               ng-focus="hideErr('amount')"
                               ng-blur="showErr('amount')">

                        <span class="form-control-icon form-control-icon-size-lg">$</span>

                        <div ng-show="frontErr.amount.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="withdrawForm.amount.$error.required">
                                {{lang.text('tigerWitID.depositWithdrawal.tip49')}}
                            </p>

                            <p class="alert alert-arrow_tp_lf" ng-show="withdrawForm.amount.$error.pattern">
                                {{lang.text('tigerWitID.depositWithdrawal.tip50')}}
                            </p>

                            <p class="alert alert-arrow_tp_lf" ng-show="withdrawForm.amount.$error.twformMax">
                                {{lang.text('tigerWitID.depositWithdrawal.tip64_1')}}{{withdraw.maxAmount || 0}}{{lang.text('tigerWitID.depositWithdrawal.tip64_2')}}
                            </p>

                            <p class="alert alert-arrow_tp_lf" ng-show="withdrawForm.amount.$error.twformMin">
                                {{lang.text('tigerWitID.depositWithdrawal.tip65_1')}}{{withdraw.minAmount}}{{lang.text('tigerWitID.depositWithdrawal.tip65_2')}}
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-xs-offset-2">
                <p class="sys_tip1">
                    <span class="font-danger">*</span>
                    {{lang.text('tigerWitID.depositWithdrawal.extractableAmountM')}}<span>${{withdraw.maxAmount || '0.00'}}</span>
                </p>
                <p class="sys_tip1" ng-show="withdraw.currency.currency !== 'USD'">
                    <span class="font-danger">*</span>
                    <span>{{lang.text('tigerWitID.depositWithdrawal.rate1d')}}</span>
                    <span>{{withdraw.currency.rate_out}}</span> {{withdraw.currency.currency_name}}
                </p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-9 col-xs-offset-1 text-center">
                <button class="tw-btn tw-btn-capsule-gradient tw-btn-lg" ng-show="clickable" ng-click="toWithdraw()">{{lang.text('tigerWitID.depositWithdrawal.withdrawal')}}</button>
                <button class="tw-btn tw-btn-capsule-gradient tw-btn-lg" disabled ng-show="!clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.depositWithdrawal.withdrawing')}}
                </button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 warn_tip_area">
                <div class="warn_icon">
                    ⚠️
                </div>
                <div class="warn_content">
                    <p class="sys_tip2">1. {{lang.text('tigerWitID.depositWithdrawal.tip53')}}</p>
                    <p class="sys_tip2">2. {{lang.text('tigerWitID.depositWithdrawal.tip8')}}</p>
                    <p class="sys_tip2">3. {{lang.text('tigerWitID.depositWithdrawal.tip10')}}</p>
                    <p class="sys_tip2">4. {{lang.text('tigerWitID.depositWithdrawal.tip54')}}</p>
                    <p class="sys_tip2">5. {{lang.text('tigerWitID.depositWithdrawal.tip55')}}</p>
                    <p class="sys_tip2" ng-bind-html="formatText(withdrawNotice) | bindhtml"></p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
