<div class="asset-public withdraw">
    <div ng-show="message.error_code != 0">
        <p class="font-info">{{message.error_msg}}</p>
        <p ng-show="message.error_code == 8"><a href="javascript:" ng-click="openCardMdl()">去绑定银行卡</a></p>
        <br><br>
    </div>
    <div class="row">
        <div class="col-xs-4 pd-tp-10 text-right">转入绑定银行卡：&nbsp;&nbsp;&nbsp;&nbsp;</div>

        <div class="col-xs-8 pd-tp-10 history__lt40" ng-show="!withdraw.card.id">
            <span class="deposit__pointer font-info" ng-click="openCardMdl()">点击绑定银行卡 ></span>
        </div>

        <div class="col-xs-8 history__lt40" ng-show="withdraw.card.id">
            <span class="icon-banks-{{withdraw.card.bank}}"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>***********{{withdraw.card.number}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="deposit__pointer font-info" ng-click="openCardMdl()">修改 ></span>
        </div>
    </div>
    <br><br>
    <div ng-show="message.error_code === 0">

        <div class="row">
            <div class="col-xs-3 text-right deposit__title-money">提现金额</div>
            <div class="col-xs-6 deposit__input">
                <form name="withdrawForm" novalidate>
                    <div class="form-control-wrapper">
                        <input class="form-control form-control-md"
                               name="amount"
                               type="text"
                               required
                               ng-class="{'form-control-error': frontErr.amount.show && withdrawForm.amount.$invalid}"
                               ng-model="withdraw.amount"
                               ng-pattern="frontErr.amount.reg"
                               twform-max="{{withdraw.maxAmount || 0}}"
                               twform-min="{{withdraw.minAmount}}"
                               ng-focus="hideErr('amount')"
                               ng-blur="showErr('amount')">

                        <span class="asset__input-icon">$</span>

                        <div ng-show="frontErr.amount.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="withdrawForm.amount.$error.required">
                                请输入出金金额
                            </p>

                            <p class="alert alert-arrow_tp_lf" ng-show="withdrawForm.amount.$error.pattern">
                                输入的金额为大于零的整数或者小数（小数点后最多两位数字）
                            </p>

                            <p class="alert alert-arrow_tp_lf" ng-show="withdrawForm.amount.$error.twformMax">
                                出金金额最多为 {{withdraw.maxAmount || 0}} 美金
                            </p>

                            <p class="alert alert-arrow_tp_lf" ng-show="withdrawForm.amount.$error.twformMin">
                                出金金额最少为 {{withdraw.minAmount}} 美金
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-primary btn-sm" ng-show="clickable" ng-click="toWithdraw()">提现</button>
                <button class="btn btn-primary btn-sm" disabled ng-show="!clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                   提现中 
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-xs-offset-3">
                <p>
                    <span class="font-danger">*</span>
                    可提取金额：<span>${{withdraw.maxAmount || '0.00'}}</span>
                </p>
                <p>
                    <span class="font-danger">*</span>
                    <span>今日汇率：1 美元 = {{withdraw.FXRate.value}}</span> 人民币
                </p>
                <p>
                    <span class="font-danger">友情提示：</span>
                </p>
                <p>1. 通过实名认证后才可以进行资金提现。</p>
                <p>2. 提现金额最少为20美金。</p>
                <p>3. 未充值，体验资金和盈利不可提取。</p>
                <p>4. 充值后交易手数未满足活动规则要求，体验资金和充值前的盈利不可提取。</p>
                <p>5. 存在复制关系的，提现时系统自动扣除复制金额，若要全部提现，请先手动取消复制关系。</p>
            </div>
        </div>
    </div>
</div>
