<div class="sys_modal_v2 slim_case">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="sys_modal_v2__title">
        {{lang.text('tigerWitID.prompt')}}
    </h5>

    <div class="sys_modal_v2__content" ng-if="params.type == 'withdrawFail'">
        <p class="sys_modal_v2__info">
            {{lang.text('tigerWitID.depositWithdrawal.tip45')}}
        </p>
        <p class="sys_modal_v2__tip">
            {{params.message}}
        </p>

        <p class="btn_wrapper" ng-show="!params.code">
            <button class="btn btn-primary-gradient btn-sm" ng-click="closeModal()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </p>
        <!--跳转跟随页面-->
        <p class="btn_wrapper" ng-show="params.code === 100602">
            <a class="btn btn-primary-gradient btn-sm" ng-click="closeModal()" ui-sref="space.center.invest.subpage">
                {{lang.text('tigerWitID.depositWithdrawal.goUncopy')}}
            </a>
        </p>
        <!--跳转上传凭证页面-->
        <p class="btn_wrapper" ng-show="params.code === 100605">
            <a class="btn btn-primary-gradient btn-sm" ng-click="closeModal()" ui-sref="space.asset.subpage({subpage: 'evidence'})">
                {{lang.text('tigerWitID.depositWithdrawal.uploadVoucher')}}
            </a>
        </p>
        <!--跳转入金页面-->
        <p class="btn_wrapper" ng-show="params.code === 100608">
            <a class="btn btn-primary-gradient btn-sm" ng-click="closeModal()" ui-sref="space.asset.subpage({subpage: 'deposit'})">
                {{lang.text('tigerWitID.depositWithdrawal.goDeposit')}}
            </a>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="params.type == 'withdrawSucc'">
        <p class="sys_modal_v2__info">
            <!-- TODO -->
            出金 ${{withdrawAmount}} 申请已提交，我们会在两个工作日内处理完毕
        </p>
        <p class="btn_wrapper">
            <button class="btn btn-primary-gradient btn-sm" ng-click="closeModal()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </p>
    </div>
    <div class="sys_modal_v2__content" ng-if="params.type == 'walletSuss'">
        <p class="sys_modal_v2__info">
            {{lang.text('tigerWitID.fundRecords.successfulWithdrawal')}}<br/>
            {{lang.text('tigerWitID.depositWithdrawal.tip47')}}
        </p>
        <p class="btn_wrapper">
            <button class="btn btn-primary-gradient btn-sm" ng-click="closeModal()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="params.type == 'withdrawTip'">
        <p class="sys_modal_v2__info">
            {{params.message}}
        </p>
        <p class="btn_wrapper">
            <button class="btn btn-primary-gradient btn-sm mg-rg-15" ng-click="[params.callback(), closeModal()]">
                {{lang.text('tigerWitID.depositWithdrawal.continueWithdraw')}}
            </button>

            <button class="btn btn-primary-gradient btn-sm" ng-click="closeModal()">
                {{lang.text('tigerWitID.cancel')}}
            </button>
        </p>
    </div>

    <div class="sys_modal_v2__content" ng-if="params.type === 'withdrawReady'">
        <div class="sys_modal_v2__info">
            <p class="deposit_modal__tit mg-bt-0" style="font-family: initial;">{{params.currency.currency_symbol}} {{params.amountDollar}}</p>
            <p class="text-center font-dark mg-bt-15">
                <span>{{lang.text('tigerWitID.depositWithdrawal.r1d')}}</span>
                <span>{{params.currency.rate_out}}</span> {{params.currency.currency_name}}
            </p>
            <ul class="deposit_modal__lst">
                <li class="clearfix">
                    <span class="fl">{{lang.text('tigerWitID.depositWithdrawal.withdrawalAmountM')}}</span>
                    <span class="fr" style="font-family: initial;">$ {{params.amountDollar}}</span>
                </li>
                <li class="clearfix" ng-if="params.currency.currency !== 'USD'">
                        <!-- TODO -->
                    <span class="fl">折合{{params.currency.currency_name}}约：</span>
                    <span class="fr" style="font-family: initial;">{{params.currency.currency_symbol}} {{params.amountRMB}}</span>
                </li>
            </ul>
            <p class="deposit_modal__tip" style="font-family: initial;">
                {{params.desc}}
            </p>
        </div>

        <p class="btn_wrapper mg-bt-15">
            <button class="btn btn-primary-gradient btn-sm" ng-click="[params.callback(), closeModal()]">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </p>
    </div>
</div>
    