<div class="system_modal">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="system_modal__title">
        {{lang.text('tigerWitID.systemPrompt')}}
    </h5>

    <div class="system_modal__content">
        <p class="system_modal__info">
            无法进行提现操作
        </p>
        <p class="system_modal__tip">{{message.error_msg}}</p>

        <p class="system_modal__btn_wrapper">
            <button class="btn btn-primary btn-sm" ng-click="closeModal()">
                确定
            </button>
        </p>
    </div>

</div>
