<!doctype html>
<html>
    <head>
        <% include /common/meta/web.html %>
    
        <% include /common/vendor/web.css.html %>
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->
        <% include /common/statistic/main.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include /common/nav/web.header.html %>
            </div>
            
            <div class="body" style="background-color: #fafafa">
                <% if(pageInfo.id == 'liverpool') { %> 
                    <div class="layout-1">
                        <%- include('./about/' + pageInfo.id + '.html') %>
                    </div>
                <% } else { %> 
                    <div class="layout-2">
                        <div class="layout-2__side mg-tp-30">
                            <%- include('./about/sidebar.html') %>
                        </div>
                        <div class="layout-2__content mg-tp-30">
                            <%- include('./about/' + pageInfo.id + '.html') %>
                        </div>
                    </div>
                <% } %>
            </div>
        <% include /common/vendor/web.js.html %>
        <!-- build:js(client) /scripts/web_about.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/common/media.directive.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>
        <script src="/scripts/web/report.controller.js"></script>
        <script src="/scripts/web/about_tigerwit.js"></script>
        <!-- endbuild -->
            <div class="footer">
                <% include /common/nav/web.footer.html %>
            </div>
        </div>
    </body>
</html>