<div class="about-public">
    <div class="about-public__report-banner"></div>

    <div class="report about-public__con mg-bt-100">

        <table class="table table-header">
            <colgroup>
                <col width="80%">
                <col width="20%">
            </colgroup>
            <thead>
                <tr>
                    <th>标题</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody>
                <%for(var i=0; i< report_sites.length; i++){%>
                  <tr>
                    <td>
                      <a class="report__title" href="<%= report_sites[i].address %>" target="_blank">
                        <%= report_sites[i].description %>
                      </a>
                    </td>
                    <td>
                      <%= report_sites[i].date%>
                    </td>
                  </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>
