<div class="about-public">
    <div class="<%= lang.text('navbar14')%>about-public__tigerwit-banner"></div>
    <div class="tigerwit about-public__con mg-bt-100">
        <h1 class="pro-public__title"><%= lang.text("about1")%></h1>
        <p class="font-dark mg-tp-20">
            <%= lang.text("about2")%>
        </p>
        <div class="tigerwit__con1"></div>
        <!--
        <h2 class="font-base font-bold mg-tp-50">
            强有力的合作伙伴
        </h2>
        <p class="font-dark">
            TigerWit老虎金融作为CCTV证券资讯频道的品牌合作伙伴，借助CCTV强有力的媒体力量来引导广大投资者用正确的心态去对待交易。
        </p>
        
        <div style="width:600px;margin:0 auto;">
            <video id="player" 
                   width="600" 
                   height="400" 
                   poster="/images/media/video_poster.jpg" 
                   src="https://www.tigerwit.com/files/video/20151110.flv"
                   type="video/flv"
                   controls="controls"
                   tw-media>
            </video>
        </div>
        -->
        
        <h2 class="font-base font-bold mg-tp-50">
            <%= lang.text("about3")%>
        </h2>
        <p class="font-dark">
            <%= lang.text("about4")%>
        </p>
        <p class="font-dark">
            <span class="font-info">Band of America </span> <%= lang.text("about5")%>
        </p>
        <p class="font-dark">
            <span class="font-info">BNP PARIBAS </span> <%= lang.text("about6")%>
        </p>
        <p class="font-dark">
            <span class="font-info">UBS </span> <%= lang.text("about7")%>
        </p>
        <div class="pro-public__logo"></div>


        <h2 class="font-base font-bold mg-tp-50">
            <%= lang.text("about8")%>
        </h2>
        <p class="font-dark">
            <%= lang.text("about9")%>
        </p>
        <div style="width:600px;margin:0 auto;">
            <video id="player" 
                   width="600" 
                   height="400" 
                   poster="/images/media/tang.jpg" 
                   src="https://www.tigerwit.com/files/video/20160317.flv"
                   type="video/flv"
                   controls="controls"
                   tw-media>
            </video>
        </div>

    </div>
</div>
