<div class="about-public">
    <div class="about-public__tigerwit-banner"></div>
    <div class="tigerwit about-public__con mg-bt-100">
        <h1 class="pro-public__title">关于我们</h1>
        <p class="font-dark mg-tp-20">
            TigerWit老虎金融社交投资引领者，凭借雄厚的资本，结合丰富的金融行业阅历与互联网产品创新能力，自主研发了国内第一款互联网外汇产品，吸引了众多顶尖的交易精英汇聚在此，普通投资者可通过复制交易系统，自动复制高手的交易订单，同比例获得盈利。在这里人人都是投资高手。
        </p>
        <div class="tigerwit__con1"></div>
        <h2 class="font-base font-bold mg-tp-50">
            强有力的合作伙伴
        </h2>
        <p class="font-dark">
            TigerWit老虎金融作为CCTV证券资讯频道的品牌合作伙伴，借助CCTV强有力的媒体力量来引导广大投资者用正确的心态去对待交易。
        </p>
        
        <div style="width:600px;margin:0 auto;">
            <video id="player" 
                   width="600" 
                   height="400" 
                   poster="/images/media/video_poster.jpg" 
                   src="https://www.tigerwit.com/files/video/20151110.flv"
                   type="video/flv"
                   controls="controls"
                   tw-media>
            </video>
        </div>
        
        <h2 class="font-base font-bold mg-tp-50">
            与数十家全球顶级银行合作
        </h2>
        <p class="font-dark">
            TigerWit老虎金融提供近百种外汇、贵金属和指数交易品种，一个账户更可同时享受3种不同的交易杠杆，用户的交易订单通过STP模式直接与数十家全球顶级银行（包括：美国银行，花旗，摩根大通，巴克莱，麦格理银行等）对接，保证交易的公正与透明，为广大交易者提供一流交易体验。
        </p>
        <p class="font-dark">
            <span class="font-info">Band of America </span> 美国银行以资产计是美国第一大商业银行；2006年，根据《福布斯》2000年排名是世界第三大公司，是美国第二个历史最悠久的银行。
        </p>
        <p class="font-dark">
            <span class="font-info">BNP PARIBAS </span> 法国巴黎银行在全球85个国家和地区拥有700多个办事处，为100家国际大型企业中的80多家提供服务。
        </p>
        <p class="font-dark">
            <span class="font-info">UBS </span> 瑞士联合银行集团（United Bank of Switzerland，中文简称瑞银集团）是欧洲最大的金融控股集团。
        </p>
        <div class="pro-public__logo"></div>


        <h2 class="font-base font-bold mg-tp-50">
            老虎金融投资人——唐彬森 
        </h2>
        <p class="font-dark">
            他是那款一经发行便走红数年的《开心农场》的大当家；他是80后从海外市场起家的创业者；2012年，他带领团队推出了中国人首款面向海外的导航网和杀毒软件服务，同年作为优秀青年代表在建团90周年获得胡锦涛总书记亲切接见；2015年，他旗下的自研游戏clash of kings拿下北美畅销榜第6名，成为中国游戏国际化历史流水最高的游戏。谁也没想到，一个曾经在北航地下室成立的名不见经传的公司，能够拥有现在如此骄人的成就。他是谁？他就是智明星通首席执行官唐彬森。一个创造中国游戏海外市场的传奇人物。
        </p>
        <div style="width:600px;margin:0 auto;">
            <video id="player" 
                   width="600" 
                   height="400" 
                   poster="/images/media/tang.jpg" 
                   src="https://www.tigerwit.com/files/video/20160317.flv"
                   type="video/flv"
                   controls="controls"
                   tw-media>
            </video>
        </div>

    </div>
</div>