<div class="about-public">
    <div class="about-public__stp-banner"></div>
    <div class="about-public__con">
        <h1 class="pro-public__title"><%= lang.text("stp1")%></h1>
        <p class="font-dark mg-tp-20">
            <%= lang.text("stp2")%>
        </p>
        <div class="relative">
            <p class="font-base font-bold font-size-22 mg-tp-50">
                <%= lang.text("stp3")%>
            </p>
            <p class="font-dark mg-tp-20">
                <%= lang.text("stp4")%>
            </p>
            <div class="stp mg-bt-100">
                <div class="stp__black">
                    <%= lang.text("stp5")%>
                </div>
                <span class="stp__arrows1"></span>
                <div class="stp__black stp__width-50"><%= lang.text("stp6")%></div>
                <!-- <span class="stp__tip1">STP 模式</span> -->
                <span class="stp__arrows2"><%= lang.text("stp7")%></span>
                <div class="stp__mt4">
                    <div class="stp__black"><%= lang.text("stp8")%></div>
                    <span class="stp__arrows1"></span>
                    <!-- <span class="stp__tip2">做市商模式</span> -->
                    <div class="stp__black"><%= lang.text("stp9")%></div>
                </div>
                <div class="row mg-tp-30">
                    <div class="col-xs-4">
                        <!-- <div class="stp__black">个人客户</div> -->
                    </div>
                    <div class="col-xs-4">
                        <div class="stp__tip3"><%= lang.text("stp10")%></div>
                    </div>
                    <div class="col-xs-4">
                        <!-- <div class="stp__black">小型对冲基金</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>