<div class="about-public">
    <div class="about-public__control-banner"></div>
    <div class="about-public__con mg-bt-100">
        <p class="font-dark mg-tp-50">
            TigerWit是 FSP注册并认可的金融服务供应商，我们也称之为新西兰FSPR(Financial Service Providers Register)。<br>
            官方查询地址：<a class="font-info" href="http://www.business.govt.nz/fsp/app/ui/fsp/version/searchSummaryCompanyFSP/FSP413246/33.do" target="_blank">http://www.business.govt.nz/fsp/app/ui/fsp/version/searchSummaryCompanyFSP/FSP413246/33.do</a><br>
            新西兰FSP为注册制，只有通过了新西兰FSPR的申请及相关审计的金融服务提供商才可获得FSP资格，且只能从事营业范围之内的相关业务。老虎外汇（TigerWit）在FSPR的经营范围包涵经营外汇相关业务，所从事的外汇业务合法合规。
        </p>
        <p class="font-dark">
            FSP的介绍:<a class="font-info" href="http://www.business.govt.nz/fsp/about-the-fspr/what-is-the-fspr">http://www.business.govt.nz/fsp/about-the-fspr/what-is-the-fspr</a>
        </p>

        <p class="font-dark mg-tp-20">
            FSP为在新西兰当地或者海外从事金融相关产业服务的公司提供FSPR号，并为公司提高信息透明度，并保证公司业务在受监管的服务范围内以及争议解决等；保证参与申请的公司是合法的，同时也帮助新西兰政府防止洗钱和财务犯罪；保证FSPR公司对外的网站没有问题。如果需要为用户提供高风险或者长期投资必须注册成为FSPR，并且需要独立获得FMA的授权。
        </p>
        <p class="font-dark mg-tp-20">
            TigerWit目前正在全球范围积极寻求更多国家的金融市场监管，并始终用最高标准来规范运营。
        </p>
        <p class="font-dark mg-tp-20">
            TigerWit深知，在寻求监管的同时，只有真正严格遵守市场规范才能更加为客户资金安全负责，TigerWit从一开始就通过复制跟单和STP的模式提高用户盈利，传达健康的交易理念。TigerWit研发的复制跟单产品有效的提高了普通用户交易的盈利率，并极大的降低了外汇交易的投资门槛，让更多投资者参与其中，感受外汇投资的优势及便利，同时也为交易高手们提供一个分享即盈利的更多投资新模式。TigerWit目前采取的STP模式，盈利来源于用户交易的点差，我们深信只有用户交易赚钱才会有更多更长久的交易。
        </p>

    </div>
</div>