<div class="about-public">
    <div class="<%= lang.text('navbar14')%>about-public__tigerwit-banner"></div>
    <div class="tigerwit about-public__con mg-bt-100">
        <h1 class="pro-public__title"><%= lang.text("about1")%></h1>
        <p class="font-dark mg-tp-20">
            <%= lang.text("about2")%>
        </p>
        <div class="tigerwit__con1"></div>
        <p class="font-dark">
            <%= lang.text("about10")%><br>
            <%= lang.text("about11")%>
        </p>
        <div class="tigerwit__con2">
            <img src="/images/web/tigerwit-ftp.png">
        </div>
        <h2 class="font-base font-bold mg-tp-50">
            <%= lang.text("about3")%>
        </h2>
        <p class="font-dark">
            <%= lang.text("about4")%>
        </p>
        <p class="font-dark">
            <span class="font-info">Band of America </span> <%= lang.text("about5")%>
        </p>
        <p class="font-dark">
            <span class="font-info">BNP PARIBAS </span> <%= lang.text("about6")%>
        </p>
        <p class="font-dark">
            <span class="font-info">UBS </span> <%= lang.text("about7")%>
        </p>
        <div class="pro-public__logo"></div>
        

        <%if(lang.isCompany("tigerwit")){%>
            <h2 class="font-base font-bold mg-tp-50">
                <%= lang.text("about8")%>
            </h2>
            <p class="font-dark">
                <%= lang.text("about9")%>
            </p>
            <div style="width:600px;margin:0 auto;">
                <video id="player" 
                       width="600" 
                       height="400" 
                       poster="/images/media/tang.jpg" 
                       src="https://www.tigerwit.com/files/video/20160317.flv"
                       type="video/flv"
                       controls="controls"
                       tw-media>
                </video>
            </div>
        <%}%>  

    </div>
</div>
