<div class="become_master">
    <div class="become_master__banner">
        <img src="<%= lang.image('webAgentBecome')%>">
    </div>
    <div class="become_master__content">
        <h2 class="font-bold mg-tp-50">如何成为明星交易员</h2>
        <h5>
            <span class="become_master__star"></span>
            <span class="become_master__tip"></span>
            开通<%= lang.text('companyZhName')%>真实账户并完成实名认证
        </h5>
        <h5>
            <span class="become_master__star"></span>
            <span class="become_master__tip"></span>
            在<%= lang.text('companyZhName')%>交易平台真实入金并连续自主交易20个以上工作日
        </h5>
        <h5>
            <span class="become_master__star"></span>
            <span class="become_master__tip"></span>
            交易期间账户整体表现优秀，即可获得上榜机会。
        </h5>
    </div>
    <div class="become_master__content">
        <h2 class="font-bold mg-tp-50">怎样在<%= lang.text('companyZhName')%>高手榜获得展示</h2>
        <h4>
          <%= lang.text('companyZhName')%>对交易员榜单按照其交易表现进行排名，表现越优秀排名越居前端。
        </h4>
        <p class="mg-tp-50">
            <span class="font-bold">初步-完善信息：</span>升级为<%= lang.text('companyZhName')%>高手后，进入个人中心完善个人基本资料，如设置个人头像、填写个人交易经历简介等。
        </p>
        <p class="mg-tp-30">
            <span class="font-bold">进阶-业绩指标：</span><%= lang.text('companyZhName')%>交易员榜单随着交易表现变动，影响排名的决定性因素有：
        </p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        总收益率：交易员累计的交易收益比率。总收益率=所有平仓盈亏总和/所有真实入金总和*100%
      </h5>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注意：<%= lang.text('companyZhName')%>不建议高手追求100%高胜率，金融市场投资收益与风险并存，一味追求高收益可能具有潜在危险性策略，最终导致严重后果。</p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        最大跌幅：高手交易的最大浮动亏损占比。
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        最近七天复制者变化率：显示跟随人数的增长速度,即变化率=(当日跟随人数-7日前跟随人数)/7日前跟随人数
      </h5>

        <!--<p class="become_master__factor">-->
            <!--<span class="become_master__star"></span>-->
            <!--<span class="become_master__tip">-->
                <!--<span class="font-bold">最大跌幅：</span>高手交易的最大浮动亏损占比。-->
            <!--</span>-->
        <!--</p>-->
        <!--<p class="become_master__factor">-->
            <!--<span class="become_master__star"></span>-->
            <!--<span class="become_master__tip">-->
                <!--<span class="font-bold">复制人数：</span>高手被复制投资的人数。-->
            <!--</span>-->
        <!--</p>-->
        <!--<p class="become_master__factor">-->
            <!--<span class="become_master__star"></span>-->
            <!--<span class="become_master__tip">-->
                <!--<span class="font-bold">最近七天复制者变化率：</span>显示跟随人数的增长速度,即变化率=(当日跟随人数-7日前跟随人数)/7日前跟随人数-->
            <!--</span>-->
        <!--</p>-->
        <p class="mg-tp-30">
            <span class="font-bold">终极-登上高手榜：</span><%= lang.text('companyZhName')%>根据高手的收益率、最大回撤、复制人数、复制金额、交易活跃度等指标评选上榜交易员，交易员完成初级、进阶任务后，即可登入交易员排行榜！
        </p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%= lang.text('companyZhName')%>排行榜动态更新，表现优秀的交易者即有机会出现在榜单上。
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        榜单交易员不可再复制其他明星交易员。
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        榜单交易员被其他用户复制跟随，会获得复制者20%的盈利分成。
      </h5>
    </div>
  <p class="mg-tp-30">
    影响排名因素最终以<%= lang.text('companyZhName')%>官方统计数据为准。若需人工服务，请联系客服或者发邮件至： <span class="font-info"><%= lang.text('supportEmail')%></span>
  </p>
  <br>
    <!--<div ng-controller="WebBecomeMasterController" class="become_master__form">-->
        <!--<div class="become_master__title">报名成为高手</div>-->

        <!--<div class="become_master__checkbox">-->
            <!--<label class="checkbox" ng-class="{'checked': become.readAgreement}">-->
                <!--<input name="readAgreement"-->
                       <!--type="checkbox"-->
                       <!--ng-model="become.readAgreement">-->
                <!--<i class="fa fa-check-square"></i>-->
                <!--<i class="fa fa-square-o"></i>-->
                <!--我已同意并阅读-->
                <!--<a class="font-info" href="https://www.tigerwit.com/blog/master/master" target="_blank">高手条款</a>-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="become_master__btn">-->
            <!--<button class="btn btn-primary" ng-click="becomeMaster()">我要成为交易高手</button>-->
        <!--</div>-->
        <!--<div class="mg-tp-10 text-center">-->

            <!--<span class="font-info">ib@tigerwit.com</span>-->
        <!--</div>-->
    <!--</div>-->
</div>
