<% if (pageInfo.id === 'risk') { %>
    <% var title = '风险披露书' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'statement') { %>
    <% var title = '客户声明' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'notice') { %>
    <% var title = '用户交易须知' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'legal') { %>
    <% var title = '法律文件和声明' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } %>
<!doctype html>
<html>
    <head>
        <% include /common/meta/web.html %>
    
        <title><%=lang.text("companyZhName")%>｜<%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta name="keywords" content="<%= keywords %>">
        
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->

        <% include /common/statistic/main.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include /common/nav/web.header.html %>
            </div>
            
            <div class="body">
                <div class="layout-2">
                    <div class="layout-2__side mg-tp-30">
                        <%- include('./blog/sidebar.html') %>
                    </div>
                    <div class="layout-2__content mg-tp-30">
                        <%- include('./blog/' + pageInfo.id + '.html') %>
                    </div>
                </div>
            </div>

        <% include /common/vendor/web.js.html %>

        <!-- build:js(client) /scripts/web_blog.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        
        <script src="/scripts/common/validator.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>
        
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/form_select.directive.js"></script>
        <script src="/scripts/common/upload_history_file.directive.js"></script>
        <script src="/scripts/common/utils.service.js"></script>
        <script src="/scripts/common/product.service.js"></script>
        <script src="/scripts/common/bind_html.filter.js"></script>
        <script src="/scripts/common/dropdown_knowledge.directive.js"></script>


        
        
        <script src="/scripts/common/global.controller.js"></script>

        <script src="/scripts/web/become_master.controller.js"></script>
        <script src="/scripts/web/become_modal.controller.js"></script>
        <script src="/scripts/product/comment.controller.js"></script>

        <!-- endbuild -->

            <div class="footer">
                <% include /common/nav/web.footer.html %>
            </div>
        </div>
    </body>
</html>