<div class="blog_risk">
    <h2 class="blog_risk__title"><%= lang.text("foot8")%></h2>
    <div class="blog_risk__content">
        <h5 class="blog_risk__tip"><%= lang.text("risk1")%></h5>
        <p><%= lang.text("risk2")%></p>
    </div>
    <div class="blog_risk__content">
        <h5 class="blog_risk__tip"><%= lang.text("risk3")%></h5>
        <p><%= lang.text("risk4")%></p>
    </div>
    <div class="blog_risk__content">
        <h5 class="blog_risk__tip"><%= lang.text("risk5")%></h5>
        <p><%= lang.text("risk6")%></p>
    </div>
    <div class="blog_risk__content">
        <h5 class="blog_risk__tip"><%= lang.text("risk7")%></h5>
        <p><%= lang.text("risk8")%></p>
    </div>
    <div class="blog_risk__content">
        <h5 class="blog_risk__tip"><%= lang.text("risk9")%></h5>
        <p><%= lang.text("risk10")%></p>
    </div>
    <div class="blog_risk__content">
        <h5 class="blog_risk__tip"><%= lang.text("risk11")%></h5>
        <p><%= lang.text("risk12")%></p>
    </div>
</div>