<div class="copy_rules">
    <div class="copy_rules__banner"></div>
    <h2 class="copy_rules__title">
        <%= lang.text("rules1")%>
    </h2>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules2")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules3")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules4")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules5")%><br>
        <span class="font-info">
            <%= lang.text("rules6")%>
        </span><br><br>
        <%= lang.text("rules7")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules8")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules9")%><br>
        <span class="font-info">
            <%= lang.text("rules10")%>
        </span><br><br>
        <%= lang.text("rules11")%><br><br>
        <%= lang.text("rules12")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules13")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules14")%><br><br>
        <%= lang.text("rules15")%><br><br>
        <%= lang.text("rules16")%><br><br>
        <%= lang.text("rules17")%><br><br>
        <%= lang.text("rules18")%><br>
        <span class="font-info">
            <%= lang.text("rules19")%>
        </span><br><br>
        <%= lang.text("rules20")%><br><br>
        <%= lang.text("rules21")%>
    </p>
</div>