<div class="copy_rules">
    <div class="copy_rules__banner">
        <img src="<%= lang.image('webCopyRule')%>">
    </div>
    <!-- <h2 class="copy_rules__title">
        <%= lang.text("rules1")%>
    </h2> -->
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules2")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules3")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules4")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules5")%><br>
        <span class="font-info">
            <%= lang.text("rules6")%>
        </span>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules8")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules9")%><br>
        <span class="font-info">
            <%= lang.text("rules10")%>
        </span><br>
        <%= lang.text("rules19")%><br>
        <%= lang.text("rules20")%><br><br>
        <%= lang.text("rules11")%><br><br>
        <%= lang.text("rules12")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules13")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules14")%><br><br>
        <%= lang.text("rules15")%><br><br>
        <%= lang.text("rules16")%><br><br>
        <%= lang.text("rules17")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            复制高手盈利分成
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        1.每月1日，系统对您跟随高手的情况进行统计并结算，扣除跟随该高手盈利部分的20%作为该高手的分成；每月10日，系统对高手进行分成结算。<br><br>
        2.您取消复制关系选择强制平仓时，系统将对跟随该高手的所有订单进行统计并结算，扣除盈利部分的20%作为该高手分成。<br><br>
        3.您取消复制关系选择跟随高手平仓时，系统将在跟随该高手的所有订单全部平仓后，对跟随该高手所有订单进行统计并结算，扣除总盈利的20%作为该高手分成。<br><br>
        4.只要跟随高手开仓的订单，都会进行分成结算。
    </p>
</div>
