<div class="copy_select">
    <div class="copy_select__banner"></div>
    <div class="copy_select__title">
        选择合适的高手复制跟随，是件非常重要的事情，交易高手擅长的交易资产和交易风格不尽相同，挑选一个符合收益预期的交易高手跟随和跟随用户的收益息息相关。<%= lang.text('companyZhName')%>的高手都是通过很严格的甄选才可以在排行榜上出现，但是交易高手的历史业绩并不能完全代表未来收益结果，所以风险控制也非常重要，“不要将所有的鸡蛋放在一个篮子里”，选对高手组合对于跟随者是至关重要的。
    </div>
    <h2 class="font-bold">高手筛选指标</h2>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            复制人数：
            <i>
                复制人数反应高手的受欢迎程度，往往高手越受欢迎，综合排名也会靠前。
            </i>
        </span>
    </h5>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            总复制金额：
            <i>
                所有跟随者总共复制该高手的资金。
            </i>
        </span>
    </h5>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            最低复制资金：
            <i>
                每个高手交易风格不一样，有的高手交易频繁，每笔交易动用的资金偏小，有的高手不轻易下单，看准时机后用更多的资金来进行交易。交易占用的资金占总账户的资金比例越高（占用保证金比例），账户承受风险能力越低。为了保证跟随者的利益，<%= lang.text('companyZhName')%>针对不同风格的交易高手设定了不同的最低复制资金，为了保证跟随的资金安全，建议跟随某个高手时，最低复制金额不要低于要求复制金额。
            </i>
        </span>
    </h5>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            准确率：
            <i>
                高手平仓的订单中盈利订单的占比。即“平仓盈利单数／总平仓数*100%”获得该高手准确率值。
            </i>
        </span>
    </h5>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            最大持仓：
            <i>
                高手保证金的最大使用占比。即“持仓占用保证金／余额*100% ”获得高手最大持仓比值。
            </i>
        </span>
    </h5>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            最大回撤：
            <i>
                高手的最大浮动亏损占比。即“浮动亏损/余额*100%”获得高手最大回撤比值。<br>
                投资市场，风险和收益永远都是呈正比例关系，即风险越高，收益越高。最大回撤即代表风险程度，回撤高的高手往往代表风险和收益都比较高。
            </i>
        </span>
    </h5>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            总收益率：
            <i>
                高手交易累计的收益比率。即“（前一天净值-所有入金金额+所有出金金额）/（第一笔入金+所有入金金额）*100%”获得总收益率数值。
            </i>
        </span>
    </h5>

    <p class="copy_select__title">
        关注交易高手过去几个月的交易记录和盈利曲线，来衡量交易高手的风险偏好，不论是稳健型的交易者，还是交易频繁的短线交易者，跟随者可以根据自身需求进行定制。
    </p>
    <h2 class="font-bold">如何复制高手</h2>
    <div class="copy_select__step">
        <div class="copy_select__step-info">
            <div class="img step1"></div>
            <div class="mg-tp-20">
                在<%= lang.text('companyZhName')%>注册开户<br>
                并入金
            </div>
        </div>
        <div class="copy_select__step-arrow">
            <div class="arrow"></div>
        </div>
        <div class="copy_select__step-info">
            <div class="img step2"></div>
            <div class="mg-tp-20">
                在选择好的高手页面点击复制，输入复制金额
            </div>
        </div>
        <div class="copy_select__step-arrow">
            <div class="arrow"></div>
        </div>
        <div class="copy_select__step-info">
            <div class="img step3"></div>
            <div class="mg-tp-20">
                无需盯盘，等待高手下单，您的账户将会自动同步跟单
            </div>
        </div>
        <div class="copy_select__step-arrow">
            <div class="arrow"></div>
        </div>
        <div class="copy_select__step-info">
            <div class="img step4"></div>
            <div class="mg-tp-20">
                高手获利，您将获得与高手同比例的盈收
            </div>
        </div>
    </div>
    <h2 class="font-bold"><%= lang.text('companyNickName')%>在跟单交易时给您几点建议</h2>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            高手组合：
            <i>
                没有任何一个高手在交易中不会出现失误，高手过去辉煌的业绩并不能保证未来某个阶段的高收益。因此多跟随几个高手，平衡一下风险和收益是非常有必要的。
            </i>
        </span>
    </h5>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            合理设置跟随资金：
            <i>
                不同风格的高手在交易过程中占用保证金的比例是不一样的，高手账户的资金比较大，承担风险的能力也比较强，如果跟随资金过小，有可能发生账户扛不住风险而爆仓。所以随时关注账户资金占用比也非常重要。
            </i>
        </span>
    </h5>
    <h5 class="clearfix">
        <span class="copy_select__star"></span>
        <span class="copy_select__tip">
            理性投资：
            <i>
                高手交易历史并不能完全代表高手未来交易的成功率，您需要理智的做出判断，并且采取有效措施分散风险。
            </i>
        </span>
    </h5>
</div>