<div class="copy_rules">
    <div class="copy_rules__banner"></div>
    <h2 class="copy_rules__title">
        <%= lang.text("rules1")%>
    </h2>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules2")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules3")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules4")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules5")%><br>
        <span class="font-info">
            <%= lang.text("rules6")%>
        </span><br><br>
        <%= lang.text("rules7")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules8")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules9")%><br>
        <span class="font-info">
            <%= lang.text("rules10")%>
        </span><br><br>
        <%= lang.text("rules11")%><br>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("rules13")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("rules14")%><br><br>
        <%= lang.text("rules15")%><br><br>
        <%= lang.text("rules16")%><br><br>
        <%= lang.text("rules17")%><br><br>
        <%= lang.text("rules18")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            复制高手盈利分成
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        1.每月1日，对用户上月跟随每个高手订单分别做统计并结算，扣除总盈利的20%作为该高手分成；每月10日，对高手进行分成结算。<br><br>
        2.用户取消跟随高手时，如果选择强制平仓，则对当月跟随该高手订单做统计并结算，扣除总盈利的20%作为该高手分成。<br><br>
        3.用户取消跟随高手时，如果选择跟随该高手平仓，则在跟随该高手的所有订单都平仓时，对所有跟随该高手订单进行统计并结算，扣除总盈利的20%作为该高手分成。<br><br>
        4.有效复制跟单：跟随高手开仓并平仓或产生爆仓的订单。
    </p>
</div>
