<!doctype html>
<html>
    <head>
        <% include /common/meta/web.html %>
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->

        <% include /common/statistic/main.html %>

    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include /common/nav/web.header.html %>
            </div>
            
            <div class="new_body pd-bt-50">
                <div class="help_banner"></div>
                <div class="mg-200__bg course">
                    <%- include('./course/' + pageInfo.id + '.html') %>
                </div>
            </div>
       <% include /common/vendor/web.js.html %>

        <!-- build:js(client) /scripts/web_faq.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>
        
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/dropdown-faq.directive.js"></script>
        
        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/web/faq.controller.js"></script>

        <!-- endbuild -->

            <div class="footer">
                <% include /common/nav/web.footer.html %>
            </div>
        </div>
    </body>
</html>