<!DOCTYPE html>
<html lang="en">

<head>
    <% include /common/meta/web.html %>
    <% include /common/vendor/web.css.html %>

    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->

    <% include /common/statistic/main.html %>
</head>

<body ng-app="fullstackApp" class="<%= lang_class%>">
    <div ng-controller="GlobalController">
        <div class="header">
            <%- include('/common/nav/web.header.html',{
                navClass : 'navbar-2'
            }) %>
        </div>
        <div class="body" ng-controller="WebDownloadController">
            <div class="index_download_layout">
                <div class="download_banner">
                    <div class="center download_banner__ctn">
                        <div class="download_banner__ctn-action">
                            <div class="content">
                                <div class="title">
                                    <h2><%= lang.text('downloadApp.tip1')%></h2>
                                    <p><%= lang.text('downloadApp.tip2')%></p>
                                </div>
                                <div class="download">
                                    <ul class="plat">
                                        <li class="phone">
                                            <a href="<%= lang.text('downloadGlobalApp')%>">
                                                <img class="btn_big" src="<%= lang.image('downloadAppGlobal')%>" alt="">
                                            </a>
                                        </li>
                                        <li class="phone">
                                            <a href="<%= lang.text('downloadCnApp')%>">
                                                <img class="btn_big" src="<%= lang.image('downloadAppCn')%>" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="code global">
                                        <div class="img_box">
                                            <img class="mg-bt-10" src="/images/web/download_m_blank_global_20190226.png"
                                                alt="code" draggable=false>
                                            <span><%= lang.text('mRegister11')%></span>
                                        </div>
                                        <div class="img_box">
                                            <img class="mg-bt-10" src="/images/web/download_m_blank_cn_20190226.png"
                                                alt="code" draggable=false>
                                            <span><%= lang.text('mRegister12')%></span>
                                        </div>
                                        <p><%= lang.text('downloadApp.tip5')%></p>
                                        <p><%= lang.text('downloadApp.tip6')%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container" tw-carousel data-type="gradient">
                        <div class="swiper-wrapper">

                            <%if (lang.areaId != 1) {%>
                            <div class="swiper-slide"
                                style='background: url("<%= lang.image('downloadGlobalFocus')%>")  no-repeat top center'>
                                <!-- <div class="download_banner__ctn-des">
                                    <h2><%= lang.text('downloadApp.tip1')%></h2>
                                    <span><%= lang.text('downloadApp.tip2')%></span>
                                </div> -->
                            </div>
                            <%} else {%>
                            <div class="swiper-slide"
                                style='background: url("<%= lang.image('downloadFocus')%>")  no-repeat top center'>
                                <!-- <div class="download_banner__ctn-des">
                                            <h2><%= lang.text('downloadApp.tip1')%></h2>
                                            <span><%= lang.text('downloadApp.tip2')%></span>
                                        </div> -->
                            </div>
                            <%}%>     
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="download_title">
                    <h3><%= lang.text('downloadApp.tip15')%></h3>
                            <p><%= lang.text('downloadApp.tip16')%></p>
                        </div>
                    </div>
                    <div class="index_new__container">
                        <div class="index_new__float_box">
                            <div class="index_new__float clearfix">
                                <div class="fl f">
                                    <h3><%= lang.text("newhome_43")%></h3>
                                    <p><%= lang.text("newhome_44")%></p>
                                    <p><%= lang.text("newhome_45")%></p>
                                </div>
                                <div class="b text-center">
                                    <a href="/space/#/account/register"
                                        class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_46")%></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="index_new__camber">

                    </div>
                </div>
                <div class="footer">
                    <%- include('/common/nav/web.footer.html') %>
                </div>
            </div>
            <%- include('/common/vendor/web.js.html') %>
            <!-- build:js(client) /scripts/web_download.js -->
            <script src="/scripts/plugins/sha1.js"></script>
            <script src="/scripts/common/config.service.js"></script>
            <script src="/scripts/common/account.service.js"></script>
            <script src="/scripts/common/authorization.service.js"></script>
            <script src="/scripts/common/ranklist.service.js"></script>
            <script src="/scripts/common/product.service.js"></script>
            <script src="/scripts/common/lang.service.js"></script>
            <script src="/scripts/common/lang_data.service.js"></script>
            <script src="/scripts/common/redbag.service.js"></script>

            <script src="/scripts/common/global.controller.js"></script>

            <script src="/scripts/common/navbar.directive.js"></script>
            <script src="/scripts/common/dropdown.directive.js"></script>
            <script src="/scripts/common/carousel.directive.js"></script>
            <script src="/scripts/common/line_chart.directive.js"></script>
            <script src="/scripts/common/progress.directive.js"></script>

            <script src="/scripts/ranklist/all.controller.js"></script>

            <script src="/scripts/web/download.controller.js"></script>
            <!-- endbuild -->
</body>

</html>