<!DOCTYPE html>
<html lang="en">

<head>
    <% include /common/meta/web.html %>
    <% include /common/vendor/web.css.html %>

    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->

    <% include /common/statistic/main.html %>
</head>

<body ng-app="fullstackApp" class="<%= lang_class%> <%= lang.isAr('ar-lang')%>">
    <div ng-controller="GlobalController">
        <div class="header">
            <%- include('/common/nav/web.header.html',{
                navClass : 'navbar-2'
            }) %>
        </div>
        <div class="body" ng-controller="WebDownloadController">
            <!-- <div class="index_download_layout">
                <div class="download_banner">
                    <div class="center download_banner__ctn">
                        <div class="download_banner__ctn-action">
                            <div class="content">
                                <div class="title">
                                    <h2><%= lang.text('downloadApp.tip1')%></h2>
                                    <p><%= lang.text('downloadApp.tip2')%></p>
                                </div>
                                <div class="download">
                                    <ul class="plat">
                                        <li class="phone">
                                            <a href="<%= lang.text('downloadGlobalApp')%>">
                                                <img class="btn_big" ng-src="<%= lang.image('downloadAppGlobal')%>" alt="">
                                            </a>
                                        </li>
                                        <li class="phone">
                                            <a href="<%= lang.text('downloadCnApp')%>">
                                                <img class="btn_big" ng-src="<%= lang.image('downloadAppCn')%>" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                    <p class="mg-lf-20"> </p>
                                    <div class="text-center">
                                        <div class="code global">



                                            <div class="img_box">
                                                <img class="mg-bt-10" src="/images/web/download_m_blank_global_20191022.png"
                                                    alt="" draggable=false>
                                                <span><%= lang.text('mRegister11')%></span>
                                            </div>
                                            <div class="img_box" ng-cloak>
                                                <img class="mg-bt-10" ng-show="androidLiveImg" src="/images/web/download_m_blank_cn_20191022.png" draggable=false>
                                                <img class="mg-bt-10" ng-show="!androidLiveImg" src="/images/web/download_m_blank_cn_demo.png" draggable=false>
                                                <span><%= lang.text('mRegister12')%></span>
                                            </div>
                                        </div>



                                        <p><%= lang.text('downloadApp.tip5')%></p>
                                        <p><%= lang.text('downloadApp.tip6')%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container" tw-carousel data-type="gradient">
                        <div class="swiper-wrapper">

                            <%if (lang.areaId != 1) {%>
                            <div class="swiper-slide"
                                style='background: url("<%= lang.image('downloadGlobalFocus')%>")  no-repeat top center'>
                            </div>
                            <%} else {%>
                            <div class="swiper-slide"
                                style='background: url("<%= lang.image('downloadFocus')%>")  no-repeat top center'>
                            </div>
                            <%}%>     
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="download_title">
                    <h3><%= lang.text('downloadApp.tip15')%></h3>
                            <p><%= lang.text('downloadApp.tip16')%></p>
                        </div>
                    </div>
                    <div class="index_new__container">
                        <div class="index_new__float_box">
                            <div class="index_new__float space-between-center">
                                <div class="">
                                    <h3><%= lang.text("newhome_43")%></h3>
                                    <p><%= lang.text("newhome_44")%></p>
                                    <p><%= lang.text("newhome_45")%></p>
                                </div>
                                <div class="flex1 text-center pd-lf-35 pd-rg-35">
                                    <a href="/space/#/account/register"
                                        class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_46")%></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="index_new__camber">

                    </div>
                </div> -->
            <div class="index_download">
                <div class="index_download__con">
                    <div class="index_download__left">
                        <div class="index_download__left-top">
                            <div class="logo">
                                <img src="/white_label/bd/download/logo.png" alt="tigeriWit">
                            </div>
                            <h3 class="title">
                                <%= lang.text('downloadApp.tip15')%>
                            </h3>
                            <p><%= lang.text('downloadApp.tip16')%></p>
                        </div>
                        <div class="index_download__left-bottom">
                            <h4><%= lang.text("newhome_43")%></h4>
                            <p><%= lang.text("newhome_44")%><%= lang.text("newhome_45")%></p>
                            <a href="/space/#/account/register" class="tw-btn tw-btn-sm130 tw-btn-capsule-gradient">
                                <%= lang.text("newhome_46")%>
                            </a>
                        </div>
                    </div>
                    <div class="index_download__right" ng-cloak>
                        <div class="index_download__right-top">
                            <ul class="title space-between">
                                <li ng-click="clientClick(0)" ng-class="{active: client == 0}">
                                    <%= lang.text('downloadApp.android')%><span></span></li>
                                <li ng-click="clientClick(1)" ng-class="{active: client == 1}">
                                    <%= lang.text('downloadApp.ios')%><span></span></li>
                            </ul>
                            <div class="qrcode space-between">
                                <div>
                                    <img class="qrcode-img" id="qrcode-img__ios__global" system="global" platform="ios"
                                        ng-show="client == 1">
                                    <img class="qrcode-img" id="qrcode-img__android__global" system="global"
                                        platform="android" ng-show="client == 0">
                                    <p><%= lang.text('downloadApp.global')%></p>
                                </div>
                                <div>
                                    <img class="qrcode-img" id="qrcode-img__ios__cn" system="cn" platform="ios"
                                        ng-show="client == 1">
                                    <img class="qrcode-img" id="qrcode-img__android__cn" system="cn" platform="android"
                                        ng-show="client == 0">
                                    <p><%= lang.text('downloadApp.cn')%></p>
                                </div>
                            </div>
                            <p><%= lang.text('downloadApp.tip5')%></p>
                        </div>
                        <%if (lang.areaId != 1) {%>
                        <!-- 中文情况下显示区域下载 -->
                        <p><%= lang.text('downloadApp.tip6')%></p>
                        <%} else {%>
                        <p><%= lang.text('downloadApp.tip7')%></p>
                        <%}%>
                        <ul class="index_download__right-bottom space-between" ng-show="client == 1">
                            <li>
                                <div>
                                    <img src="/white_label/bd/download/ios.png" alt="">
                                </div>

                                <a href="/m/blank?system=global&platform=ios" class="tw-btn tw-btn-sm130 tw-btn-capsule-gradient-black"><%= lang.text('downloadApp.globaliOS')%></a>
                        </li>
                        <li>
                            <div>
                                <img src="/white_label/bd/download/ios.png" alt="">
                            </div>
                            <a href="/m/blank?system=cn&platform=ios"
                                class="tw-btn tw-btn-sm130 tw-btn-capsule-gradient-black"><%= lang.text('downloadApp.cniOS')%></a>
                        </li>
                        </ul>
                        <ul class="index_download__right-bottom space-between" ng-show="client == 0">
                            <li>
                                <div>
                                    <img src="/white_label/bd/download/google.png" alt="">
                                </div>

                                <a href="/m/blank?system=global&platform=android"
                                    class="tw-btn tw-btn-sm130 tw-btn-capsule-gradient-black"><%= lang.text('downloadApp.globalAndroid')%></a>
                            </li>
                            <li>
                                <div>
                                    <img src="/white_label/bd/download/android.png" alt="">
                                </div>
                                <a href="/m/blank?system=cn&platform=android"
                                    class="tw-btn tw-btn-sm130 tw-btn-capsule-gradient-black"><%= lang.text('downloadApp.cnAndroid')%></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer">
                <%- include('/common/nav/web.footer.html') %>
            </div>
        </div>
        <%- include('/common/vendor/web.js.html') %>
        <!-- build:js(client) /scripts/web_download.js -->
        <script src="/scripts/plugins/sha1.js"></script>
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/ranklist.service.js"></script>
        <script src="/scripts/common/product.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>
        <script src="/scripts/common/invite.service.js"></script>

        <script src="/scripts/common/global.controller.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/carousel.directive.js"></script>
        <script src="/scripts/common/line_chart.directive.js"></script>
        <script src="/scripts/common/progress.directive.js"></script>

        <script src="/scripts/ranklist/all.controller.js"></script>

        <script src="/scripts/web/download.controller.js"></script>
        <!-- endbuild -->
</body>

</html>