<!doctype html>
<html>
    <head>
        <% include /common/meta/web.html %>
    
        <title><%=lang.text("companyZhName")%>｜TigerWit 直通全球资本市场</title>
        <meta name="description" content="TigerWit直通全球资本市场。">
        <meta name="keywords" content="TigerWit，复制交易，外汇，贵金属，CFD，互联网金融，老虎外汇">
        
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->

        <% include /common/statistic/main.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include /common/nav/web.header.html %>
            </div>
            
            <div class="body">
                <div class="layout-2" ng-controller="WebEvidenceController" ng-cloak>
                    <div class="web_evidence container">
                      <h4 class="web_evidence__title">凭证示例</h4>
                      <ul class="web_evidence__box">
                        <li class="web_evidence__item" ng-repeat="item in evidenceLst">
                            <div class="title clearfix" ng-click="showEvidence(item)">
                              <span>{{item.title}}</span>
                              <i class="fa fa-angle-down" ng-show="!item.show"></i>
                              <i class="fa fa-angle-up" ng-show="item.show"></i>
                            </div>
                            <div class="web_evidence__item-content" ng-show="item.show">
                              <div ng-repeat="cont in item.content">
                                  <div class="sub-title" ng-show="cont.title">
                                    {{cont.title}}
                                  </div>
                                  <div class="info">
                                    <div ng-repeat="tip in cont.tip">
                                      <p>{{tip}}</p>
                                    </div>
                                  </div>
                                  <div class="pic">
                                      <img ng-repeat="pic in cont.pic" ng-src="{{pic}}" alt="">
                                  </div>
                              </div>
                            </div>
                          </li>
                      </ul>
                    </div>
                </div>
            </div>

        <% include /common/vendor/web.js.html %>

        <!-- build:js(client) /scripts/web_evidence.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        
        <script src="/scripts/common/validator.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>
        
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/form_select.directive.js"></script>
        <script src="/scripts/common/upload_history_file.directive.js"></script>
        <script src="/scripts/common/agreement.directive.js"></script>
        <script src="/scripts/common/utils.service.js"></script>
        <script src="/scripts/common/bind_html.filter.js"></script>
        
        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/web/evidence.controller.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include /common/nav/web.footer.html %>
            </div>
        </div>
    </body>
</html>