<div class="faq-public mg-bt-100" tw-dropdown-faq>
    <div>
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：怎样开设一个真实账户？
        </div>
        <div class="faq-public__answer">
            A：请点击注册完成真实账户的注册。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您已经拥有模拟账户，请进入“个人中心”，点击开设“真实账户”。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：我可以开设 2 个甚至 2 个以上的真实账户吗？可以用不同货币开户吗？
        </div>
        <div class="faq-public__answer">
            A：目前网站对一张身份证只允许开设一个账户。<br>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如需添加更多账户，请联系您的客户经理。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：为何当我在开设真实账户时，需要我提供金融背景和个人投资经历？
        </div>
        <div class="faq-public__answer">
            A：出于监管的原因我们需要收集这些信息，我们将确保这些信息的安全。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：开设一个真实账户需要多长时间？
        </div>
        <div class="faq-public__answer">
            A：只要您提供完备的信息，您可以在 TigerWit 即时开户。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：我能开设一个联名账户吗？
        </div>
        <div class="faq-public__answer">
            A：可以，需要的话请咨询客服或服务您的业务经理。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：模拟账户和实际账户有什么区别？
        </div>
        <div class="faq-public__answer">
            A：模拟账户和实际账户的唯一区别是，使用模拟账户交易不用承担任何风险。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;模拟账户是一个虚拟的网上外汇交易账户。所谓“模拟”，是指账户中的资金是虚拟的。除此之外，模拟账户中的货币报价、图表汇评等都与真实汇市即时同步。根据模拟账户的使用效果，您可以进一步判断是否投资汇市。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;模拟账户完全免费，无须任何资金。 <a href="http://dev.tigerwit.com/personal/#/account/register">点击此处注册</a>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：我什么时候可以开始交易？
        </div>
        <div class="faq-public__answer">
            A：只要您完成了真实账户的注册程序，上传了您的身份资料，并向您的账户注资，您就可以立即进行交易。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：需要何种类型的身份证明文件呢？
        </div>
        <div class="faq-public__answer">
            A：您可以提交贴有您照片的护照、国民身份证或者由某个独立可靠的机构颁发的其他证件。您的照片、签名、发行日期及有效期、包括序列号在内的个人资料都必须清晰可见。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：在我开始交易之前是否需要下载软件？
        </div>
        <div class="faq-public__answer">
            A：您有多个选择：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;直接在网站上进行交易。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下载移动端，通过手机 APP 进行交易。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下载 MT4 专业版客户端进行交易。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：为什么在网站中登陆不了用户中心呢？
        </div>
        <div class="faq-public__answer">
            A：用户中心登陆为您的手机号和您开设的账户密码。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：忘了登陆用户中心的密码，怎么办？
        </div>
        <div class="faq-public__answer">
            A：请点击忘记密码，输入手机验证码后重新设置密码。
        </div>
    </div>
</div>