<div class="faq-public mg-bt-100" tw-dropdown-faq>
    <div>
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("deal1")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("deal2")%>
            <table class="table">
                <colgroup>
                    <col width="15%">
                    <col width="21%">
                    <col width="32%">
                    <col width="32%">
                </colgroup>
                <tbody>
                    <tr>
                        <th colspan="4"><%= lang.text("deal3")%></th>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal4")%></td>
                        <td><%= lang.text("deal5")%></td>
                        <td><%= lang.text("deal6")%></td>
                        <td><%= lang.text("deal7")%></td>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal8")%></td>
                        <td><%= lang.text("deal9")%></td>
                        <td><%= lang.text("deal10")%></td>
                        <td><%= lang.text("deal11")%></td>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal12")%></td>
                        <td colspan="3"><%= lang.text("deal13")%></td>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal14")%></td>
                        <td><%= lang.text("deal15")%></td>
                        <td><%= lang.text("deal16")%></td>
                        <td><%= lang.text("deal17")%></td>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal18")%></td>
                        <td colspan="3"><%= lang.text("deal19")%></td>
                    </tr>
                    <tr>
                        <th colspan="4"><%= lang.text("deal20")%></th>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal21")%></td>
                        <td><%= lang.text("deal22")%></td>
                        <td><%= lang.text("deal23")%></td>
                        <td><%= lang.text("deal24")%></td>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal25")%></td>
                        <td><%= lang.text("deal26")%></td>
                        <td><%= lang.text("deal27")%></td>
                        <td><%= lang.text("deal28")%></td>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal29")%></td>
                        <td colspan="3"><%= lang.text("deal30")%></td>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal31")%></td>
                        <td><%= lang.text("deal32")%></td>
                        <td><%= lang.text("deal33")%></td>
                        <td><%= lang.text("deal34")%></td>
                    </tr>
                    <tr>
                        <td><%= lang.text("deal35")%></td>
                        <td colspan="3"><%= lang.text("deal36")%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("deal37")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("deal38")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("deal39")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("deal40")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("deal41")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("deal42")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("deal43")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("deal44")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("deal45")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("deal46")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("deal47")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("deal48")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("deal49")%>
        </div>
    </div>
</div>