<div class="faq-public mg-bt-100" tw-dropdown-faq>
    <div>
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad1")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad2")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("wad23")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("wad24")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad3")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad4")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("wad5")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("wad6")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad7")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad8")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad9")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad10")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("wad11")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad12")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad14")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad15")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad16")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad17")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad18")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad19")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad20")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("wad21")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("wad22")%>
        </div>
    </div>
</div>