<div class="faq-public mg-bt-100" tw-dropdown-faq>
    <div>
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：我可以通过哪些不同的支付方式向我的账户入金？
        </div>
        <div class="faq-public__answer">
            A：您可以使用以下的任何支付方式向您的账户入金：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银行汇款<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银联卡在线支付
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：我的资金需要多长时间才能存入我的交易平台？
        </div>
        <div class="faq-public__answer">
            A：一旦收到您的资金，我们将于以下规定时间以内将其计入您的交易账户：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银行汇款：将受到您的银行和代理银行时间安排的影响。我们承诺在我们的客户银行账户收到资金后一个小时以内将其计入您的交易账户。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银联卡在线支付：实时到账。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：如果我要提款，需要多长时间才能打入我的个人账户？
        </div>
        <div class="faq-public__answer">
            A：我们会在一个工作日内响应您的取款申请。不同银行到账时间略有不同，请以具体到账时间为准。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：如果我想从交易账户中取款需要做些什么？
        </div>
        <div class="faq-public__answer">
            A：非常简单。 您只需要登录我们的网站个人中心提出提款请求，输入您本人的银行卡信息即可，我们的客服人员会协助您处理。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请注意：我们不接受任何第三方出入金，请务必使用本人银行卡办理取款。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：当我还有未结头寸时，是否能够提款？
        </div>
        <div class="faq-public__answer">
            A：是的，您可以。 但是您需要注意，取款时您的可用保证金的金额必须要超出您提款指令所指定的金额。如果您没有足够的资金，那么您的请求将被视为取消，您需要重新提交新的提款请求。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请注意：为了防止出现账户保证金过低等风险，我们建议空仓取款，或者在取款前请减轻仓位，剩余足够保证金。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：开立交易账户的最低金额是多少？
        </div>
        <div class="faq-public__answer">
            A：最低金额为 200 美元。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：交易账户中的资金已显示移除，为什么我还没有收到出金金额？
        </div>
        <div class="faq-public__answer">
            A：出金申请金额已被成功批准。请密切关注您的收款银行确认资金。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：赠金可以出金吗？
        </div>
        <div class="faq-public__answer">
            A：关于赠金能否出金的问题，请关注相关活动说明或咨询在线客服。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：取款是否收费？
        </div>
        <div class="faq-public__answer">
            A：对于正常交易的客户存取款不收取费用。
        </div>
    </div>
</div>