<div class="faq-public mg-bt-100" tw-dropdown-faq>
    <div>
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：什么是隔夜利息？
        </div>
        <div class="faq-public__answer">
            A：隔夜利息通常在客户持仓隔夜的情况下发生。交易时段在美国东部时间下午 5 点进行交接。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：我在哪里可以查看到隔夜利息报价？
        </div>
        <div class="faq-public__answer">
            A：您在 MT4 平台里可以查看到隔夜利息。具体操作：在市场报价里单击右键，选择交易品种列表，点击 Forex 外汇或 CFD 差价合约列表，点击选择您想要查看的品种，再点击“属性”，即可查看到双向隔夜利息。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TigerWit 尽可能每日及时更新隔夜利息报价，但不排除由于无法预测的市场情况而导致的剧烈波动，隔夜利息可能在当日内有变动。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：在开设模拟账户的最后一步时，我没有获得用户名和密码，该怎么隔夜利息是如何计算的？
        </div>
        <div class="faq-public__answer">
            A：隔夜利息的值取决于当前现货价格和客户服务等级下两种货币利息之间的差额。该项服务不收取任何佣金或其他费用。您可以在平台里查阅隔夜利息报价。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隔夜利息在美国东部时间下午 5 点执行。客户在该时间所持有的任何头寸都将被自动纳入隔夜利息的计算，且结果会显示在交易账户中。请查看常见问题了解隔夜利息详情。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下为隔夜利息计算表格，您可以根据以下表格针对您持有仓位计算每日的隔夜利息净额。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-danger">*</span> 个别货币对例外：美元/加元在周四计算 3 天的隔夜利息
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-danger">*</span> 如交易日当天为公共节假日，隔夜利息将推前一天计算<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此外，如果是节假日期间的头寸，您也会支付或得到更多隔夜利息
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：隔夜利息的计算时间？
        </div>
        <div class="faq-public__answer">
            A：隔夜利息在美国东部时间下午 5 点执行。客户在该时间所持有的任何头寸都将被自动纳入隔夜利息的计算，且结果会显示在交易账户中。请查看常见问题了解隔夜利息详情。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：如何避免支付隔夜利息？
        </div>
        <div class="faq-public__answer">
            A：如您在当天交易时段内建仓且平仓，您将不会支付或获取任何隔夜利息。
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            Q：在哪里可以查看历史隔夜利息记录？
        </div>
        <div class="faq-public__answer">
            A：MT4 平台：在账户历史的库存费栏目，您可以查看到该交易账户曾获取或支付的隔夜利息详情。
        </div>
    </div>
</div>