<!DOCTYPE html>
<html lang="en">
<head>
    <% include /common/meta/web.html %>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->

    <% include /common/statistic/main.html %>
</head>
<body ng-app="fullstackApp" class="<%= lang_class%> <%= lang.isAr('ar-lang')%>">
    <div ng-controller="GlobalController">
        <div class="header">
            <% include /common/nav/web.header.html %>
        </div>
        <div class="body mg-tp-84" style="background-color: #fafafa;">
            <div class="container">
                <div class="mt4">
                    <h3 class="mt4__title mg-tp-100 font-normal"><%= lang.text("mt4-1")%></h3>
                    <h4 class="font-info text-center font-size-18 mg-tp-20 font-normal"><%= lang.text("mt4-2")%></h4>
                    <p class="mt4__con1 mg-tp-30">
                        <%= lang.text("mt4-3")%>
                    </p>
                    <div class="space-between mg-tp-100">
                        <div class="">
                            <img src="/images/web/mt4-ios.png">
                            <div class="font-normal pd-tp-50 pd-bt-50">
                                <a class="mt4__info" href="https://itunes.apple.com/cn/app/metatrader-4/id496212596?l=en&mt=8" target="_blank">
                                    <img src="/images/web/mt4-ios-s.png">
                                    <span><%= lang.text("mt4-4")%></span>
                                    <span class="qr_code"><img src="/images/web/ios.png"></span>
                                </a>
                            </div>
                        </div>
                        <div class="">
                            <img src="/images/web/mt4-and.png">
                            <div class="font-normal pd-tp-50 pd-bt-50">
                                <a class="mt4__info" href="https://download.mql5.com/cdn/web/metaquotes.software.corp/mt4/metatrader4.apk?utm_campaign=www.metatrader4.com" target="_blank">
                                    <img src="/images/web/mt4-and-s.png">
                                    <span><%= lang.text("mt4-5")%></span>
                                    <span class="qr_code"><img src="/images/web/android-20191014-live.png"></span>
                                </a>
                            </div>
                        </div>
                        <div class="">
                            <img class="mt4__img-com" src="/images/web/mt4-com.png">
                            <div class="font-normal pd-tp-50 pd-bt-50">
                                <a class="mt4__info" href="<%= lang.text('webMt4Download')%>" target="_blank">
                                    <img src="/images/web/mt4-com-s.png">
                                     <span><%= lang.text("mt4-6")%></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <% include /common/vendor/web.js.html %>

    <!-- build:js(client) /scripts/web.js -->
    <script src="/scripts/common/config.service.js"></script>        
    <script src="/scripts/common/account.service.js"></script>
    <script src="/scripts/common/authorization.service.js"></script>
    <script src="/scripts/common/ranklist.service.js"></script>
    <script src="/scripts/common/product.service.js"></script>
    <script src="/scripts/common/lang.service.js"></script>
    <script src="/scripts/common/lang_data.service.js"></script>
    <script src="/scripts/common/redbag.service.js"></script>

    <script src="/scripts/common/global.controller.js"></script>
        
    <script src="/scripts/common/navbar.directive.js"></script>
    <script src="/scripts/common/dropdown.directive.js"></script>
    <!-- endbuild -->

        <div class="footer">
            <% include /common/nav/web.footer.html %>
        </div>
    </div>
</body>
</html>