<% var title = '交易平台' %>
<% var description = '' %>
<% var keywords = '' %>
<!doctype html>
<html>
    <head>
        <% include /common/meta/web.html %>

        <title><%=lang.text("companyZhName")%>｜<%= title %></title>

        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->

        <% include /common/statistic/main.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include /common/nav/web.header.html %>
            </div>

            <div class="body" style="background-color: #fafafa">
              <p style="height:84px;"></p>
              <iframe src="https://trade.mql5.com/trade?servers=TigerWit-Live%2cTigerWit-Trial&trade_server=TigerWit-Live&demo_server=TigerWit-Live&startup_mode=open_demo&lang=<%= lang.text('trade_tool')%>" allowfullscreen="allowfullscreen" style="width: 100%; height: 700px; border: none"></iframe>
            </div>

        <% include /common/vendor/web.js.html %>

        <!-- build:js(client) /scripts/trade_tool.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/product.service.js"></script>
        <script src="/scripts/common/utils.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>

        <script src="/scripts/common/global.controller.js"></script>

        <script src="/scripts/product/comment.controller.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include /common/nav/web.footer.html %>
            </div>
        </div>
    </body>
</html>
