<div class="pro-public">
    <div class="pro-public__metal-banner"></div>
    <div class="pro-public__con">
        <h1 class="pro-public__title">贵金属交易</h1>
        <p class="font-dark mg-tp-20">
            作为人类文明最古老的最传统最被广泛认可的货币符号，属于传统的避险资产，同时随着科技的进步，也在工业生产中占据了重要的地位，同时具有避险货币的属性与商品属性 。
        </p>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                什么是现货黄金、白银交易
            </p>
            <p class="font-dark mg-tp-20">
                现货黄金与现货白银保证金交易亦称之为伦敦金，伦敦银。每标准手伦敦金为 100 盎司，每标准手白银为 5000 盎司，与纽约期金期银不同的是现货金，现货银无需掉期，展期，同时合约大小，杠杆更为灵活，资金利用率更高。
            </p>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                在 TigerWit 老虎金融交易黄金、白银的优势
            </p>
            <ul class="pro-public__forex-ul">
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        杠杆高
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融提供三种杠杆灵活选择，现货白银杠杆可高达 150 倍以上。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        交易成本低
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融交易现货白银成本低至约 200 美元/155 kg,约 7.5 人民币/千克。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        门槛较低
                    </p>
                    <p class="mg-lf-20">
                        国内现货白银交易动用保证金为约为 300 人民币，而 TigerWit 老虎金融现货白银交易最小交易保证金仅为 10 美金。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        一个帐户交易黄金、白银
                    </p>
                    <p class="mg-lf-20">
                        由于国内相关国情限制，国内大多数交易所仅能交易现货白银，而无法交易现货黄金，但黄金产品是国际市场上更为关注与重要的交易品种，而 TigerWit 老虎金融同时提供白银与黄金交易，给广大投资者更为自主的选择。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        使用 MT4 交易
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融采用全球使用最广泛的成熟的 MT4 平台，开放智能交易模块，紧贴世界金融市场潮流。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        复制跟单交易
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融提供业内最先进，最具创新性的全自动复制跟单系统，并且汇聚众多颇具盈利能力的投资高手，投资者可通过复制高手交易获得同比例投资收益。高手也可通过不断增加跟随者而获得更多收益。
                    </p>
                </li>
            </ul>
        </div>
        <div class="mg-bt-50">
            <p class="font-base font-bold font-size-22 mg-tp-50">
                TigerWit 老虎金融贵金属交易产品介绍
            </p>
            <table class="table table-personal table-hover table-brodered font-size-12">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="11%">
                    <col width="11%">
                    <col width="12%">
                    <col width="12%">
                </colgroup>
                <thead>
                    <tr>
                        <th>产品代码</th>
                        <th>中文名称</th>
                        <th>点差<br>(平均点差)</th>
                        <th>杠杆</th>
                        <th>报价位</th>
                        <th>最小交易手数</th>
                        <th>每标准手合约量</th>
                        <th>交易时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XAUUSD</td>
                        <td>黄金</td>
                        <td>45</td>
                        <td>50 100 200</td>
                        <td>小数点后两位</td>
                        <td>0.01</td>
                        <td>100盎司</td>
                        <td>
                            交易日交易时段<br>
                            1：05--23：55
                        </td>
                    </tr>
                    <tr>
                        <td>XAGUSD</td>
                        <td>白银</td>
                        <td>40</td>
                        <td>50 100 200</td>
                        <td>小数点后两位</td>
                        <td>0.01</td>
                        <td>5000盎司</td>
                        <td>
                            交易日交易时段<br>
                            1：05--23：55
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
