<div class="pro-public">
    <div class="pro-public__oil-banner"></div>
    <div class="pro-public__con">
        <h1 class="pro-public__title">原油交易</h1>
        <p class="font-dark mg-tp-20">
            工业的血液，现代文明的基石，也是全球贸易中最大宗的商品之一，全球金融资产中最重要的交易标的物之一。
        </p>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                为什么在 TigerWit 老虎金融原油交易
            </p>
            <p class="font-dark mg-tp-20">
                TigerWit 老虎金融除了提供两大全球交易量最大的原油：布伦特原油和西德州原油合约以外，同时提供美国天然气合约。TigerWit 老虎金融竭诚为客户提供最灵活的杠杆，最具竞争性的点差优势，来源于全球金融界顶级银行的最直接的报价数据源。同时也提供最具创新性的跟单系统服务。
            </p>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                在 TigerWit 老虎金融做原油交易的优势
            </p>
            <ul class="pro-public__forex-ul">
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        对冲交易，减少交易风险
                    </p>
                    <p class="mg-lf-20">
                        目前可以进行交易的两大原油为：布伦特原油和西德州原油，并且这 2 种原油可以进行对冲交易，发现价格扭曲，寻找低风险套利机会。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        保证金低，收益高
                    </p>
                    <p class="mg-lf-20">
                        在 TigerWit 老虎金融做原油交易杠杆高达 50 倍以上，占用保证金更低。所以 TigerWit 老虎金融所需的投资成本更低，而杠杆可超过国内现货原油的一倍以上。国际现货原油的成本折合到每吨的计算方式是：50 美金左右 * 当日汇率 / (1000 * 度量衡折换)。而国内现货原油的陈本计算方式是：点差 + 当日价格 * 0.12% 。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        无手续费
                    </p>
                    <p class="mg-lf-20">
                        在 TigerWit 老虎金融做原油交易是不收取手续费的，仅收取点差，一手 50 美金左右等于 1000 桶，那 7.5 桶等于 1 吨，因此我们的折合到吨就是 0.37 美金/吨，差不多就是 2.3 人民币/吨。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        止损简便
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融可以做到只需设置一次止损，隔天仍然有效，这样很大程度上避免了因忘记设置止损产生的亏损。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        采用数据平滑方式进行掉期处理
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融与业内最权威的数据提供商合作，在国际原油主力合约发生掉期展期时，采用最先进的数据平滑处理，而非国内原油采用的强行平仓，开仓，无掉水费用。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        复制跟单交易
                    </p>
                    <p class="mg-lf-20">
                        针对于一些对原油交易不熟悉的投资者，可选择原油交易的高手，直接复制交易，就可以同比例盈利，这样降低了初级投资者的交易风险。
                    </p>
                </li>
            </ul>
        </div>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                为什么在 TigerWit 老虎金融怎么做原油交易？
            </p>
            <p class="font-dark mg-tp-20">
                某位老虎金融的投资者在 TigerWit 的平台时间 10 月 23 号 15 点左右，于 45.890位置左右动用 1000 美金卖出 1 手西德州原油（xti/usd）。一个多小时后，10 月 23 日 16 点左右，于 44.50 位置平仓了结，<span class="font-info">客户收益（45.89-44.50）*1000=1390 美元</span>，收益率 139%。
            </p>
        </div>
        <div class="mg-bt-50">
            <p class="font-base font-bold font-size-22 mg-tp-50">
                TigerWit 老虎金融能源类交易产品介绍
            </p>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="9%">
                    <col width="9%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>产品代码</th>
                        <th class="pro-public__no-padding">中文名称</th>
                        <th class="pro-public__no-padding">合约量</th>
                        <th>计量单位</th>
                        <th class="pro-public__no-padding">最小合约单位(标准手)</th>
                        <th class="pro-public__no-padding">最大交易量(手)</th>
                        <th>手续费($)</th>
                        <th class="pro-public__no-padding">交易时间(MT4平台时间)</th>
                        <th class="pro-public__no-padding">报价关闭时间(平台时间)</th>
                        <th class="pro-public__no-padding">产品简介</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NXGUSD</td>
                        <td>美燃气</td>
                        <td class="pro-public__no-padding">百万英国热量单位</td>
                        <td>美元</td>
                        <td>0.01</td>
                        <td>20</td>
                        <td>0</td>
                        <td class="pro-public__no-padding">周一01:00-周五23:55</td>
                        <td class="pro-public__no-padding">每日平台时间00:00-01:00</td>
                        <td class="pro-public__no-padding">以NYMEX交易所美国天然气产品为基准的能源合约，天然气提供了美国四分之一左右的能源需求，同时可作为电力期权等产品的对冲工具</td>
                    </tr>
                    <tr>
                        <td>XTIUSD</td>
                        <td>西德州原油</td>
                        <td class="pro-public__no-padding">1000桶</td>
                        <td>美元</td>
                        <td>0.01</td>
                        <td>20</td>
                        <td>0</td>
                        <td class="pro-public__no-padding">周一01:00-周五23:55</td>
                        <td class="pro-public__no-padding">每日平台时间00:00-01:00</td>
                        <td class="pro-public__no-padding">以NYMEX交易所美国原油为基准的脱硫轻质原油合约，是全球两大原油基准产品之一，被用于多国原油产品的定价基准。也是世界上交易量最大的能源合约</td>
                    </tr>
                    <tr>
                        <td>XBRUSD</td>
                        <td>布伦特原油</td>
                        <td class="pro-public__no-padding">1000桶</td>
                        <td>美元</td>
                        <td>0.01</td>
                        <td>20</td>
                        <td>0</td>
                        <td class="pro-public__no-padding">周一01:00-周五23:55</td>
                        <td class="pro-public__no-padding">每日平台时间00:00-01:00</td>
                        <td class="pro-public__no-padding">也即是俗称的北海油，同样是脱硫轻质原油。是欧洲地区的原油定价基准，也是全球两大原油基准产品之一，可以用于与西德州原油进行对冲的产品</td>
                    </tr>
                </tbody>                
            </table>
        </div>
    </div>
</div>