<div class="pro-public line-height-30">
    <div class="<%= lang.text('navbar14')%>pro-public__forex-banner"></div>
    <div class="pro-public__con">
        <h1 class="pro-public__title"><%= lang.text("navbar6")%></h1>
        <p class=" mg-tp-20">
            <%= lang.text("forex1")%>
        </p>
        <p class="">
            <%= lang.text("forex2")%>
        </p>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                <%= lang.text("forex3")%>
            </p>
            <p class=" mg-tp-20">
                <%= lang.text("forex4")%>
            </p>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                <%= lang.text("forex5")%>
            </p>
            <ul class="pro-public__forex-ul">
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("forex6")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("forex7")%>
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("forex9")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("forex10")%>
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("forex11")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("forex12")%>
                    </p>
                </li>
                <li>
                    <div class="pro-public__logo mg-lf-20"></div>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("forex13")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("forex14")%>
                    </p>
                </li>


            </ul>
        </div>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                <%= lang.text("forex15")%>
            </p>
            <p class="">
                <%= lang.text("forex16")%>
            </p>
            <p>
                <%= lang.text("forex17")%><span class="font-info"><%= lang.text("forex18")%></span><%= lang.text("forex19")%>
            </p>
        </div>
        <div class="mg-bt-50">
            <p class="font-base font-bold font-size-22 mg-tp-50">
                <%= lang.text("forex20")%>
            </p>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="11%">
                    <col width="12%">
                    <col width="14%">
                    <col width="13%">
                    <col width="10%">
                    <col width="22%">
                </colgroup>
                <thead>
                    <tr>
                        <th><%= lang.text("forex21")%></th>
                        <th><%= lang.text("forex22")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("forex23")%> <br>(<%= lang.text("forex24")%>)</th>
                        <th class="pro-public__no-padding"><%= lang.text("forex25")%></th>
                        <th><%= lang.text("forex26")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("forex27")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("forex28")%><br> <%= lang.text("forex29")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd28")%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AUDUSD</td>
                        <td>澳元美元</td>
                        <td>2.5</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("forex31")%></td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            <%= lang.text("forex34")%><br>
                            <%= lang.text("forex35")%>05:05--04:55<%= lang.text("forex37")%>
                        </td>
                    </tr>
                    <tr>
                        <td>EURUSD</td>
                        <td>欧元美元</td>
                        <td>2</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("forex31")%></td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            <%= lang.text("forex34")%><br>
                            <%= lang.text("forex35")%>05:05--04:55<%= lang.text("forex37")%>
                        </td>
                    </tr>
                    <tr>
                        <td>GBPUSD</td>
                        <td>英镑美元</td>
                        <td>2.2</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("forex31")%></td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            <%= lang.text("forex34")%><br>
                            <%= lang.text("forex35")%>05:05--04:55<%= lang.text("forex37")%>
                        </td>
                    </tr>
                    <tr>
                        <td>NZDUSD</td>
                        <td>纽元美元</td>
                        <td>2.8</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("forex31")%></td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            <%= lang.text("forex34")%><br>
                            <%= lang.text("forex35")%>05:05--04:55<%= lang.text("forex37")%>
                        </td>
                    </tr>
                    <tr>
                        <td>USDCAD</td>
                        <td>美元加元</td>
                        <td>2.7</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("forex31")%></td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            <%= lang.text("forex34")%><br>
                            <%= lang.text("forex35")%>05:05--04:55<%= lang.text("forex37")%>
                        </td>
                    </tr>
                    <tr>
                        <td>USDCHF</td>
                        <td>美元瑞郞</td>
                        <td>2.7</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("forex31")%></td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            <%= lang.text("forex34")%><br>
                            <%= lang.text("forex35")%>05:05--04:55<%= lang.text("forex37")%>
                        </td>
                    </tr>
                    <tr>
                        <td>USDJPY</td>
                        <td>美元日元</td>
                        <td>2</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("forex32")%></td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            <%= lang.text("forex34")%><br>
                            <%= lang.text("forex35")%>05:05--04:55<%= lang.text("forex37")%>
                        </td>
                    </tr>
                    <tr>
                        <td>USDCNH</td>
                        <td>离岸人民币</td>
                        <td><%= lang.text("forex33")%></td>
                        <td>50 100 200</td>
                        <td><%= lang.text("forex31")%></td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            <%= lang.text("forex34")%><br>
                            <%= lang.text("forex35")%>05:05--04:55<%= lang.text("forex37")%>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-info" colspan="8">
                            <%= lang.text("forex36")%>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="padding-top: 10px;">
                注：MT4平台时间为GMT+3时间
            </div>
        </div>
    </div>
</div>
