<ul class="side_navbar" tw-navbar>
    <li>
        <h4 class="side_navbar__title">产品介绍</h4>
        
        <ul class="side_navbar__menu">
            <li>
                <a data-navbar-trigger href="/web/product/forex">外汇交易</a>
            </li>
            <li>
                <a data-navbar-trigger href="/web/product/oil">原油交易</a>
            </li>
            <li>
                <a data-navbar-trigger href="/web/product/metal">贵金属交易</a>
            </li>
            <li>
                <a data-navbar-trigger href="/web/product/cfd">差价合约</a>
            </li>
        </ul>
    </li>
</ul>