<div class="pro-public" ng-controller="ProductCommentController">
    <p class="pro-comment__com-title">每日汇评</p>

    <ul class="pro-comment__con-ul">
        <li class="clear pro-public__bor-bt" ng-repeat="comment in commentList">
            <p class="pro-comment__li-title" ng-clock>【TigerWit老虎金融】: {{comment.title}}</p>
            <p class="font-bold">{{comment.tip}}</p>
            <p class="pro-comment__li-con">{{comment.con}}</p>
            <a class="font-info float-left" href="{{comment.link}}">详情></a>
            <span class="font-info float-right" href="">{{comment.time}}</span>
        </li>
    </ul>
    <div class="text-center">
        <p tw-pagination></p>
    </div>
</div>