<ul class="side_navbar" tw-navbar>
    <li>
        <h4 class="side_navbar__title">交易品种</h4>
        
        <ul class="side_navbar__menu">
            <li>
                <a data-navbar-trigger href="">外汇</a>
            </li>
            <li>
                <a data-navbar-trigger href="">原油</a>
            </li>
            <li>
                <a data-navbar-trigger href="">交易时间</a>
            </li>
            <li>
                <a data-navbar-trigger href="">市场分析</a>
            </li>
        </ul>
    </li>
</ul>