<div class="pro-public line-height-30">
    <div class="<%= lang.text('navbar14')%>pro-public__metal-banner"></div>
    <div class="pro-public__con">
        <h1 class="pro-public__title"><%= lang.text("navbar8")%></h1>
        <p class=" mg-tp-20">
            <%= lang.text("metal1")%>
        </p>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                <%= lang.text("metal2")%>
            </p>
            <p class=" mg-tp-20">
                <%= lang.text("metal3")%>
            </p>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                <%= lang.text("metal4")%>
            </p>
            <ul class="pro-public__forex-ul">
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("metal5")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("metal6")%>
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("metal7")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("metal8")%>
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("metal9")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("metal10")%>
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("metal11")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("metal12")%>
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("metal13")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("metal14")%>
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        <%= lang.text("metal15")%>
                    </p>
                    <p class="mg-lf-20">
                        <%= lang.text("metal16")%>
                    </p>
                </li>
            </ul>
        </div>
        <div class="mg-bt-50">
            <p class="font-base font-bold font-size-22 mg-tp-50">
                <%= lang.text("metal17")%>
            </p>
            <table class="table table-personal table-hover table-brodered font-size-12">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="11%">
                    <col width="11%">
                    <col width="12%">
                    <col width="12%">
                </colgroup>
                <thead>
                    <tr>
                        <th><%= lang.text("metal18")%></th>
                        <th><%= lang.text("metal19")%></th>
                        <th><%= lang.text("metal20")%><br>(<%= lang.text("metal21")%>)</th>
                        <th><%= lang.text("metal22")%></th>
                        <th><%= lang.text("metal23")%></th>
                        <th><%= lang.text("metal24")%></th>
                        <th><%= lang.text("metal25")%></th>
                        <th><%= lang.text("metal26")%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XAUUSD</td>
                        <td>黄金</td>
                        <td>45</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("metal27")%></td>
                        <td>0.01</td>
                        <td>100 <%= lang.text("metal29")%></td>
                        <td>
                            <%= lang.text("metal30")%><br>
                            1:00--24:00
                        </td>
                    </tr>
                    <tr>
                        <td>XAGUSD</td>
                        <td>白银</td>
                        <td>40</td>
                        <td>50 100 200</td>
                        <td><%= lang.text("metal28")%></td>
                        <td>0.01</td>
                        <td>5000 <%= lang.text("metal29")%></td>
                        <td>
                            <%= lang.text("metal30")%><br>
                            1:00--24:00
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
