<div class="pro-public">
    <div class="pro-public__banner"></div>
    <div class="pro-public__con">
        <h1 class="pro-public__title">外汇交易</h1>
        <p class="font-dark mg-tp-20">
            外汇交易涉及买入一个外国货币和/或卖出另一个外国货币。全球最大的单一产品市场，当今外汇市场每天拥有超过5万亿美元的成交额，外汇市场和价格主要受国际间的交易，各国经济和政策以及投资流向的影响，外汇市场信息透明，流通量巨大，公平透明。（根据BIS（bank of international settlement)的调查报告显示，在 2014 年，全球外汇市场日交易量已经达到了 5 万亿美金以上）
        </p>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                为什么在 TigerWit 老虎金融交易外汇
            </p>
            <p class="font-dark mg-tp-20">
                TigerWit 老虎金融是受新西兰监管的正规外汇交易商，stp 直通式交易，紧盯全球市场。简单快捷高效安全的出入金方式，涵盖所有主流货币对及交叉货币对。我们提供更灵活，更透明，更具竞争力的外汇合约，同时您还可以享受到 TigerWit 老虎金融最具创新性的跟单交易模式，是连结高手和普通投资者纽带。
            </p>
            <ul class="pro-public__forex-ul">
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        同时享受 4 种杠杆
                    </p>
                    <p class="mg-lf-20">
                        我们同时提供 50 倍，100 倍，200 倍，400 倍四种不同的杠杆，更灵活的满足您对于风险把控，资金管理的需求。<br>
                        PS：400 倍杠杆需要单独申请。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        复制跟单交易
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融提供业内最先进，最具创新性的全自动复制跟单系统，并且汇聚众多颇具盈利能力的投资高手，投资者可通过复制高手交易获得同比例投资收益。高手也可通过不断增加跟随者而获得更多收益。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        市场 ECN 直通式报价服务
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融与业内顶级银行及金融机构合作，采取 ECN 模式直接获取多达 20 多家银行如摩根，花旗，美银，巴克利等等国际巨头见最优报价提供给尊敬的客户。
                    </p>
                </li>
                <li>
                    <div class="pro-public__logo mg-lf-20"></div>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        交易时间段
                    </p>
                    <p class="mg-lf-20">
                        老虎金融提供全球交易，除去每日必要的银行间维护时段，不间断的为我们的客户提供金融服务。
                    </p>
                </li>
                

            </ul>
        </div>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                在 TigerWit 老虎金融怎么做外汇交易?
            </p>
            <p class="font-dark">
                某位老虎金融的投资者在 TigerWit 的平台时间 10 月 22 号 10 点左右，于 1.13450 位置左右动用 1000 美金卖出 1 手欧美（eur/usd）。到了第二日，10 月 23 日 10 点左右，于 1.1100 位置平仓了结，<span class="font-info">客户收益（1.13450-1.1100）*100000=2450 美元</span>，收益率 245%。
            </p>
        </div>
        <div class="mg-bt-50">
            <p class="font-base font-bold font-size-22 mg-tp-50">
                TigerWit 老虎金融货币对介绍
            </p>
            <table class="table table-personal table-hover table-bordered table-striped">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="11%">
                    <col width="12%">
                    <col width="14%">
                    <col width="13%">
                    <col width="10%">
                    <col width="22%">
                </colgroup>
                <thead>
                    <tr>
                        <th>产品代码</th>
                        <th>中文名称</th>
                        <th class="pro-public__no-padding">点差 <br>(平均点差)</th>
                        <th class="pro-public__no-padding">杠杆</th>
                        <th>报价位</th>
                        <th class="pro-public__no-padding">最小交易量</th>
                        <th class="pro-public__no-padding">每标准手<br> 合约量</th>
                        <th class="pro-public__no-padding">交易时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>audusd</td>
                        <td>澳元</td>
                        <td>2.5</td>
                        <td>50 100 200</td>
                        <td>小数点后五位</td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            交易日24小时报价 <br>
                            交易时段0:05-23:55
                        </td>
                    </tr>
                    <tr>
                        <td>eurusd</td>
                        <td>欧元</td>
                        <td>2</td>
                        <td>50 100 200</td>
                        <td>小数点后五位</td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            交易日24小时报价 <br>
                            交易时段0:05-23:55
                        </td>
                    </tr>
                    <tr>
                        <td>gbpusd</td>
                        <td>英镑</td>
                        <td>2。2</td>
                        <td>50 100 200</td>
                        <td>小数点后五位</td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            交易日24小时报价 <br>
                            交易时段0:05-23:55
                        </td>
                    </tr>
                    <tr>
                        <td>nzdusd</td>
                        <td>纽元</td>
                        <td>2.8</td>
                        <td>50 100 200</td>
                        <td>小数点后五位</td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            交易日24小时报价 <br>
                            交易时段0:05-23:55
                        </td>
                    </tr>
                    <tr>
                        <td>usdcad</td>
                        <td>加元</td>
                        <td>2.7</td>
                        <td>50 100 200</td>
                        <td>小数点后五位</td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            交易日24小时报价 <br>
                            交易时段0:05-23:55
                        </td>
                    </tr>
                    <tr>
                        <td>usdchf</td>
                        <td>瑞郞</td>
                        <td>2.7</td>
                        <td>50 100 200</td>
                        <td>小数点后五位</td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            交易日24小时报价 <br>
                            交易时段0:05-23:55
                        </td>
                    </tr>
                    <tr>
                        <td>usdjpy</td>
                        <td>日元</td>
                        <td>2</td>
                        <td>50 100 200</td>
                        <td>小数点后五位</td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            交易日24小时报价 <br>
                            交易时段0:05-23:55
                        </td>
                    </tr>
                    <tr>
                        <td>eurcnh</td>
                        <td>离岸人民币</td>
                        <td>浮动点差</td>
                        <td>50 100 200</td>
                        <td>小数点后五位</td>
                        <td>0.01</td>
                        <td>100000</td>
                        <td class="pro-public__no-padding">
                            交易日24小时报价 <br>
                            交易时段0:05-23:55
                        </td>
                    </tr>
                    <tr>
                        <td class="font-info" colspan="8">
                            TigerWit老虎金融同时提供以上主流货币对的交叉货币对交易产品
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>