<% if (pageInfo.id === 'forex') { %>
    <% var title = '外汇' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'oil') { %>
    <% var title = '原油' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'metal') { %>
    <% var title = '贵金属' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'cfd') { %>
    <% var title = '差价合约' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'trade') { %>
    <% var title = '交易平台' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } %>
<!doctype html>
<html>
    <head>
        <% include /common/meta/web.html %>
        <title><%=lang.text("companyZhName")%>｜<%= title %></title>
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->

        <% include /common/statistic/main.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include /common/nav/web.header.html %>
            </div>

            <div class="body" style="background-color: #fafafa">
                <div class="layout-2">
                    <div class="layout-2__side mg-tp-30">
                        <%- include('./product/sidebar.html') %>
                    </div>
                    <div class="layout-2__content mg-tp-30" ng-controller="WebProductController">
                       <%- include('./product/' + pageInfo.id + '.html') %>
                    </div>
                </div>
            </div>


        <% include /common/vendor/web.js.html %>

        <!-- build:js(client) /scripts/web_product.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/product.service.js"></script>
        <script src="/scripts/common/utils.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>

        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/common/bind_html.filter.js"></script>
        <script src="/scripts/common/product.service.js"></script>
        <script src="/scripts/web/product.controller.js"></script>

        <!-- endbuild -->

            <div class="footer">
                <% include /common/nav/web.footer.html %>
            </div>
        </div>
    </body>
</html>
