<div class="pro-public">
    <div class="pro-public__cfd-banner"></div>
    <div class="pro-public__con">
        <h1 class="pro-public__title">股指</h1>
        <p class="font-dark mg-tp-20">
            股指是股票价格指数简称，股票价格指数即股票指数。是由证券交易所或金融服务机构编制的表明股票行市变动的一种供参考的指示数字。股票价格指数是描述股票市场总的价格水平变化的指标。它是选取有代表性的一组股票，把他们的价格进行加权平均，通过一定的计算得到。
        </p>
        <h1 class="pro-public__title">差价合约</h1>
        <p class="font-dark mg-tp-20">
            差价合约（Contracts for Difference ，CFD）可以反映股票或指数的价格变化并提供价格变动所带来的盈利或亏损，而无须实际拥有股票或指数期货。差价合约是目前国内居民听说过的最多的一种交易工具，路透金融词典中对差价合约的定义如下：泛指不涉及实物商品或证券的交换、仅以结算价与合约价的差额作现金结算的交易方式。
        </p>r
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                在 TigerWit 老虎金融做股指、差价合约的优势
            </p>
             <ul class="pro-public__forex-ul">
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        产品丰富
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融提供全球主流股市交易品种，包含三大美指，日经，欧洲优选等等主流股指产品。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        资金利用率高
                    </p>
                    <p class="mg-lf-20">
                        提供低至 2% 水平的保证金水平。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        门槛较低
                    </p>
                    <p class="mg-lf-20">
                        入市门槛极低，无需如股指期货般需要数万美元计的入市门槛。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        报价透明
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融提供来自于顶级银行的第一手数据报价，帮助投资者以进行价格发现。
                    </p>
                </li>
                <li>
                    <p class="font-bold font-base">
                        <span class="pro-public__star"></span>
                        复制跟单交易
                    </p>
                    <p class="mg-lf-20">
                        TigerWit 老虎金融提供业内最先进，最具创新性的全自动复制跟单系统，并且汇聚众多颇具盈利能力的投资高手，投资者可通过复制高手交易获得同比例投资收益。高手也可通过不断增加跟随者而获得更多收益。
                    </p>
                </li>
            </ul>
        </div>
        <div>
            <p class="font-base font-bold font-size-22 mg-tp-50">
                在 TigerWit 老虎金融怎么做股指交易?
            </p>
            <p class="font-dark mg-tp-20">
                某位老虎金融的投资者在 TigerWit 的平台时间 10 月 22 号 10 点左右，于 3260 位置左右动用 65 欧元买入 1 手欧洲绩优指数（eustx50）。到了第二日，10 月 23 日 14 点左右，于 3440 位置平仓了结，<span class="font-info">客户收益 3440-3260=180 欧元</span>，收益率 180/65/100%=276%。
            </p>
        </div>
        <div class="mg-bt-50">
            <p class="font-base font-bold font-size-22 mg-tp-50">
                TigerWit 老虎金融股指产品介绍
            </p>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="5%">
                    <col width="10%">
                    <col width="10%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="15%">
                    <col width="10%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th>产品代码</th>
                        <th>中文名称</th>
                        <th>合约量</th>
                        <th class="pro-public__no-padding">合约保证金(美元)交易量</th>
                        <th class="pro-public__no-padding">最小合约单位(标准手)</th>
                        <th class="pro-public__no-padding">最大交易量(手)</th>
                        <th class="pro-public__no-padding">交易时间(MT4平台时间)</th>
                        <th class="pro-public__no-padding">报价关闭时间(平台时间)</th>
                        <th class="pro-public__no-padding">产品简介</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AUS200</td>
                        <td class="pro-public__no-padding">澳大利亚标准普尔200指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            夏令时:周一04:50-周六00:00<br>    
                            冬令时:周一01:50-周五23:00
                        </td>
                        <td class="pro-public__no-padding">
                            每日平台时间 <br>
                            00:00-01:00
                        </td>
                        <td class="pro-public__no-padding">澳大利亚200家最大企业股票指数，受中国经济状况影响较大</td>
                    </tr>
                    <tr>
                        <td>EUSTX50</td>
                        <td class="pro-public__no-padding">欧洲上市股票50指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            每日09:00-23:00
                        </td>
                        <td class="pro-public__no-padding">
                        
                        </td>
                        <td class="pro-public__no-padding">也称欧洲绩优指数，欧元区蓝筹股股价指数</td>
                    </tr>
                    <tr>
                        <td>GER30</td>
                        <td class="pro-public__no-padding">德国dax指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            周一01:00-周五23:15
                        </td>
                        <td class="pro-public__no-padding">
                        每日平台时间<br>
                        00:00-01:00
                        </td>
                        <td class="pro-public__no-padding">
                            德国30种法兰克福上市蓝筹股票指数经过算法后得出收益的指数
                        </td>
                    </tr>
                    <tr>
                        <td>JAN225</td>
                        <td class="pro-public__no-padding">日经指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            周一01:00-周六00:00
                        </td>
                        <td class="pro-public__no-padding">
                            每日平台时间<br>
                            00:00-01:00
                        </td>
                        <td class="pro-public__no-padding">
                            日经225只东京交易所上市股票指数
                        </td>
                    </tr>
                    <tr>
                        <td>NAS100</td>
                        <td class="pro-public__no-padding">纳斯达克指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            周一01:00-周六00:00
                        </td>
                        <td class="pro-public__no-padding">
                            每日平台时间<br>
                            00:00-01:00
                        </td>
                        <td class="pro-public__no-padding">
                            基于高科技股票的指数
                        </td>
                    </tr>
                    <tr>
                        <td>SPA30</td>
                        <td class="pro-public__no-padding">西班牙上市股票指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            每日10:00-每日21:00
                        </td>
                        <td class="pro-public__no-padding">
                            
                        </td>
                        <td class="pro-public__no-padding">
                            西班牙主要交易所的基准指数
                        </td>
                    </tr>
                    <tr>
                        <td>UK100</td>
                        <td class="pro-public__no-padding">富时100指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            周一01:00-周五23:15
                        </td>
                        <td class="pro-public__no-padding">
                            每日平台时间<br>
                            00:00-01:00
                        </td>
                        <td class="pro-public__no-padding">
                            伦敦交易所上市100支股票指数                        
                        </td>
                    </tr>
                    <tr>
                        <td>US30</td>
                        <td class="pro-public__no-padding">道琼斯指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            周一01:00-周六00:00
                        </td>
                        <td class="pro-public__no-padding">
                            每日平台时间<br>
                            00:00-01:00
                        </td>
                        <td class="pro-public__no-padding">
                            美国30家主要工业公司构成的股票指数   
                        </td>
                    </tr>
                    <tr>
                        <td>US500</td>
                        <td class="pro-public__no-padding">标普500指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            周一01:00-周六00:00
                        </td>
                        <td class="pro-public__no-padding">
                            每日平台时间<br>
                            00:00-01:00
                        </td>
                        <td class="pro-public__no-padding">
                            美国500家领军企业构成的股票指数   
                        </td>
                    </tr>
                    <tr>
                        <td>HK50</td>
                        <td class="pro-public__no-padding">香港恒生50指数</td>
                        <td>1手＝1合约</td>
                        <td>1/50</td>
                        <td>1</td>
                        <td>100</td>
                        <td class="pro-public__no-padding">
                            周一03:15-周五17:45
                        </td>
                        <td class="pro-public__no-padding">
                            每日平台时间<br>
                            17:45-03:15
                        </td>
                        <td class="pro-public__no-padding">
                            由香港股票交易所上市的50家最大的上市公司的市值加权而得
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>