<!DOCTYPE html>
<html lang="en">
<head>
    <% include /common/meta/web.html %>
    <meta name="viewport" content="width=device-width,initial-scale=0.3,maximum-scale=1.0,user-scalable=0" />
    <title>CSE支付方式教程｜<%=lang.text("title")%> 直通全球资本市场</title>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->

    <% include /common/statistic/main.html %>
</head>
<body ng-app="fullstackApp" class="<%= lang_class%>">
    <div ng-controller="GlobalController">
        <div class="header">
            <% include /common/nav/web.header.html %>
        </div>

        <div class="third_usage_layout">
            <h2 class="third_usage_layout__title">CSE支付方式教程</h2>
            <h3 class="third_usage_layout__step">第一步：没有CSE账户的用户<a href="https://www.csepay.com/zn/" target="_blank">进入CSE平台</a>进行注册；</h3>
            <img class="third_usage_layout__img" src="/images/third_usage/image.png" alt="">
            <h3 class="third_usage_layout__step">第二步：填写个人信息，注册账户；</h3>
            <img class="third_usage_layout__img" src="/images/third_usage/image1.png" alt="">
            <h3 class="third_usage_layout__step">第三步：注册成功，进入CSE首页。</h3>
            <img class="third_usage_layout__img" src="/images/third_usage/image2.png" alt="">
            <h3 class="third_usage_layout__step">第四步：选择左侧功能栏的充值→账户充值，进入到账户充值页。</h3>
            <img class="third_usage_layout__img" src="/images/third_usage/image3.png" alt="">
            <h3 class="third_usage_layout__step">第五步：卡类型选择银联卡，填写充值金额，点击提交。</h3>
            <img class="third_usage_layout__img" src="/images/third_usage/image3_1.jpg" alt="">
            <h3 class="third_usage_layout__step">第六步：跳转到支付页面，选择银行卡进行支付。支付成功后，等待0-3分钟即可充值成功。</h3>
            <img class="third_usage_layout__img" src="/images/third_usage/image4.png" alt="">
            <h3 class="third_usage_layout__step">第七步：充值成功后，您需要返回到TigerWit平台，再次点击CSE充值，选择已有CSE账户。</h3>
            <h3 class="third_usage_layout__step">第八步：输入要转出的钱包账户，以及该账户的支付密码，点击提交。</h3>
            <img class="third_usage_layout__img" src="/images/third_usage/image5.png" alt="">
            <h3 class="third_usage_layout__step">第九步：提交后弹出对话框，输入右侧验证码及收到的手机验证码，点击提交。（注意：信息正确，入金成功。信息错误，被拒绝，则需要重新提交）</h3>

            <div class="third_usage_layout__btn">
                <a class="tw-btn tw-btn-capsule-gradient tw-btn-lg" href="/space/#/space/asset/deposit?type=cseWallet" target="_blank">回到充值</a>
            </div>
        </div>

        <div class="footer">
            <% include /common/nav/web.footer.html %>
        </div>
    </div>

    <% include /common/vendor/web.js.html %>
    <!-- build:js(client) /scripts/web.js -->
    <script src="/scripts/common/config.service.js"></script>        
    <script src="/scripts/common/account.service.js"></script>
    <script src="/scripts/common/authorization.service.js"></script>
    <script src="/scripts/common/ranklist.service.js"></script>
    <script src="/scripts/common/product.service.js"></script>
    <script src="/scripts/common/lang.service.js"></script>
    <script src="/scripts/common/lang_data.service.js"></script>
    <script src="/scripts/common/redbag.service.js"></script>

    <script src="/scripts/common/global.controller.js"></script>
        
    <script src="/scripts/common/navbar.directive.js"></script>
    <script src="/scripts/common/dropdown.directive.js"></script>
    <!-- endbuild -->
</body>
</html>