@import "common/mixins/bem";

.m_withdraw_btn {
    display: inline-block;
    background-color: #fedd14;
    font-size: px2rem(36);
    // font-weight: 600;
    color: #000;
    width: 100%;
    height: px2rem(88);
    line-height: px2rem(88);
    text-align: center;
}

/*layer 弹窗content 和 btn 之间的border*/
.layui-m-layerbtn {
    border: none !important;
}

@include b(m_withdraw) {
    font-family: PingFangSC;
    @include e(home) {

        @include m(rate) {
            // color: #666;
            padding: px2rem(30) 0 px2rem(30) px2rem(52);
        }
        @include m(info) {
            background-color: #fff;
            // border-top: 1px solid #dfdfdf;
            // border-bottom: 1px solid #dfdfdf;
            padding-left: px2rem(52);
            padding-right: px2rem(52);

            .tit {
                // color: #666;
                padding-top: px2rem(30);
            }

            label {
                display: block;
                font-size: px2rem(80);
                font-weight: 500;
                color: #2b2b2b;
                border-bottom: 1px solid #eee;
                padding-bottom: px2rem(24);
                margin-bottom: px2rem(32);
                font-family: "Microsoft YaHei",arial,courier new,courier,"\5b8b\4f53",monospace;

                /*placeholder字体大小*/  
                ::-webkit-input-placeholder { /* WebKit browsers */  
                    font-size: px2rem(48);
                    padding-top: 10px;
                }  
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
                    font-size: px2rem(48);
                    padding-top: 10px;
                }  
                ::-moz-placeholder { /* Mozilla Firefox 19+ */  
                    font-size: px2rem(48);
                    padding-top: 10px;
                }  
                :-ms-input-placeholder { /* Internet Explorer 10+ */  
                    font-size: px2rem(48);
                    padding-top: 10px;
                }  

                .m_withdraw_num {
                    width: 85%;
                    border: none;
                    padding-left: px2rem(8);
                    height: 100%;
                    line-height: normal;
                    font-size: px2rem(80);
                }
            }

            .tip {
                color: #999;
                padding-bottom: px2rem(32);
                font-family: "Microsoft YaHei",arial,courier new,courier,"\5b8b\4f53",monospace;
            }
            .err_msg {
                padding-bottom: px2rem(32);
            }
        }
        @include m(btn) {
            padding: px2rem(60) px2rem(52) 0;
        }
    }

    @include e(cardlist) {
        .bankCard {
            padding-top: px2rem(40);
        }

        .operateCard {
            padding: 0 px2rem(56);
            height: px2rem(88);
            line-height: px2rem(88);
            background-color: #fff;
            font-size: px2rem(36);

            .fa.fa-angle-right {
                font-size: px2rem(36);
                float: right;
                line-height: px2rem(88);
                font-size: 18px;
            }

            .tit {
                color: #000;
                font-weight: 600;
                padding-left: px2rem(24);
            }
        }

        @include m(bank) {
            background-color: #fedd14;
            border-radius: 8px;
            height: px2rem(236);
            margin: 0 px2rem(36) px2rem(40);
            padding: px2rem(36);

            .bank-icon {
                width: px2rem(100);
                height: px2rem(100);
                float: left;
            }
            .bank-info {
                float: left;
                margin-left: px2rem(44);

                span {
                    display: block;
                    color: #666;
                    font-weight: 600;
                    margin-top: 2px;

                    &.num {
                        font-size: px2rem(48);
                        color: #2b2b2b;
                    }
                }
            }
        }
    }
    @include e(addcard) {
        @include m(tit) {
            color: #666;
            padding: px2rem(30) 0 px2rem(30) px2rem(52);
        }
        @include m(info) {
            background-color: #fff;
            // border-top: 1px solid #dfdfdf;
            // border-bottom: 1px solid #dfdfdf;
            padding: 0 px2rem(52);

            .detail {
                padding: px2rem(40) 0;
                border-top: 1px solid #eee;
                font-weight: 600;

                /*placeholder字体大小*/  
                ::-webkit-input-placeholder { /* WebKit browsers */  
                    font-size: px2rem(35);
                }  
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
                    font-size: px2rem(35);
                }  
                ::-moz-placeholder { /* Mozilla Firefox 19+ */  
                    font-size: px2rem(35);
                }  
                :-ms-input-placeholder { /* Internet Explorer 10+ */  
                    font-size: px2rem(35);
                }

                &.err {
                    ::-webkit-input-placeholder { /* WebKit browsers */  
                        color: #ed5565;
                    }  
                    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
                        color: #ed5565;
                    }  
                    ::-moz-placeholder { /* Mozilla Firefox 19+ */  
                        color: #ed5565;
                    }  
                    :-ms-input-placeholder { /* Internet Explorer 10+ */  
                        color: #ed5565;
                    }
                }  

                &:nth-child(1) {
                    border-top: none;
                }

                span {
                    display: inline-block;
                    width: 60px;
                    color: #666;
                }
                select {
                    width: 65%;
                    height: 24px;
                    font-size: px2rem(36);
                    color: #2b2b2b;
                    padding: 0;
                    border: 1px solid transparent !important;

                    &.init {
                        color: #ccc;
                    }
                    &.err {
                        color: #ed5565;
                    }
                }
                input {
                    width: 65%;
                    font-size: px2rem(36);
                    color: #2b2b2b;
                    border: 1px solid transparent !important;

                    &.err {
                        color: #ed5565;
                    }
                }
                
                i.fa {
                    float: right;
                    padding-top: 3px;
                    color: #aaa;
                }
            } 
        }
        @include m(btn) {
            padding: px2rem(60) px2rem(52) 0;
        }
    }
    @include e(succ) {
        padding: px2rem(80) px2rem(52) 0;

        @include m(icon) {
            width: px2rem(120);
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
        @include m(tit) {
            font-size: px2rem(32);
            font-weight: 600;
            color: #2b2b2b;
            margin: px2rem(40) 0 px2rem(24);
            text-align: center;
        }
        @include m(tip) {
            text-align: center;
            color: #666;
        }
        @include m(btn) {
            margin-top: px2rem(66);
        }
    }
    @include e(fail) {
        padding: px2rem(80) px2rem(52) 0;

        @include m(icon) {
            width: px2rem(120);
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
        @include m(tit) {
            font-size: px2rem(32);
            font-weight: 600;
            color: #2b2b2b;
            margin: px2rem(40) 0 px2rem(24);
            text-align: center;
        }
        @include m(tip) {
            text-align: center;
            color: #666;
        }
        @include m(info) {
            text-align: center;
            color: #666;
            margin-top: px2rem(28);

            span {
                font-size: px2rem(36);
                color: #000;
            }
        }
        @include m(btn) {
            margin-top: px2rem(66);
        }
    }
}

/* H5 支付 银行页面*/
@include b(m_deposit_pay) {
    height: 100%;
    background-color: #fff;

    @include e(bank) {
        border-bottom: 1px solid #eee;
        padding: 12px 28px;
        @extend .clearfix;

        .pic {
            float: left;
            vertical-align: middle;
            height: 28px;

            img {
                width: 28px;
            }
        }
        .tit {
            float: left;
            font-size: 16px;
            padding-left: 14px;
            height: 28px;
            line-height: 28px;
        }

        &:active {
            background-color: #eee;
        }
    }
    @include e(desc) {
        color: #909090;
        padding: 16px 0 0 28px;
    }
}


