.account_login-bg.panda {
    background-image: url("/images/panda/login_bg.jpg");
}
.panda_asset_bg {
    min-height: 100%;
    max-width: 2560px;
    overflow: hidden;
    background-position: center center;
    background-size: auto 100%;
    background-image: url('/images/panda/asset_bg_new.png');
    background-repeat: no-repeat;

    .deposit__rate, .deposit__way-tip, .deposit__tele-tip {
        color: #ddd;
    }
    .deposit__tele-tit {
        color: #fff;
    }
    .deposit__way {
        color: #fff;

        &:before {
            border-top-color: #fff;
        }
    }
    .deposit__tele_file {
        border-color: #ddd;
    }
    .deposit__tele-msg {
        color: #ccc;
    }

    .deposit__input input {
        background-color: #fff;
    }
}