@include b(ranklist_banner) {
    overflow: hidden;
    margin-top: 69px;
    height: 432px;
    background-position: center center;
    background-size: cover;
    @include img-normal($image-path-base + "ranklist/ranklist-banner.jpg");

    @include e(tip) {
        text-align: center;
        color: #fff;
        font-size: 50px;
        padding-top: 80px;
        font-weight: 600;

        > p {
            margin: 0;
        }
    }
}
@include b(ranklist) {
    margin-bottom: 100px;
    margin-top: 40px;
    
    @include e(navbar) {

        @include m(lst) {
            > li {
                float: left;
                width: 25%;
                text-align: center;
                height: 55px;
                line-height: 55px;
                color: #222426;
                border-bottom: 1px solid #eff0f1;
                font-weight: 600;
                cursor: pointer;

                &.active {
                    color: $brand-info;
                }
            }
        }
    }

    @include e(search) {
        height: 62px;
        border-bottom: 1px solid #e6e7e8;

        @include m(item) {
            float: left;
            padding: 15px 25px;
            margin-top: 5px;
            font-weight: 600;
            position: relative;
            margin-left: 30px;
            cursor: pointer;

            > i {
                color: #999;
            }

            > .search-list {
                position: absolute;
                top: 0;
                left: 0;
                border: 1px solid #e6e7e8;
                box-shadow: 0 0 3px #e6e7e8;
                min-width: 150px;
                background-color: #fff;
                z-index: 100;

                > .tit {
                    padding: 14px 14px;
                    margin: 0 10px;
                    border-bottom: 1px solid #e6e7e8;

                    > i {
                        float: right;
                        line-height: 20px;
                        color: #999;
                    }
                }
                > .lst {
                    
                    > li {
                        padding: 10px 20px;
                        color: #626364;
                        font-weight: 400;
                        cursor: pointer;

                        &:hover {
                            background-color: #eff0f1;
                        }
                    }
                }
            }
        }

        @include m(box) {
            float: right;
            width: 186px;
            position: relative;
            margin-top: 14px;
            margin-right: 45px;

            > i {
                position: absolute;
                right: 9px;
                top: 9px;
                color: #999;
            }
        }
        
        @include m(input) {
            width: 100%;
            height: 34px;
            line-height: 34px;
            padding: 0px 28px 0 10px;
            border: 1px solid #ccc;
            border-radius: 2px;
            color: #666;
            background-color: transparent;
        }
    }
}
@include b(ranklist_cont) {
    position: relative;
    margin-top: 25px;
    margin-left: -16px;
    margin-right: -16px;

    @include e(master) {
        float: left;
        margin: 0 16px 40px;
        width: 320px;
        border: 1px solid #e6e7e8;
        padding: 18px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0px 4px 3px #ccc;

        &:hover {
            background-color: #fafafa;

            > .ranklist_cont__master-copy {
                > .copy_btn_wrapper {
                    > .copy_btn {
                        background-color: $brand-primary;
                        border-color: $brand-primary;
                        color:$brand-index-hover;
                    }
                }
            }
        }

        @include m(info) {
            padding: 8px 0 20px;
            border-bottom: 1px solid #e6e7e8;

            > .avatar {
                float: left;
                height: 58px;

                > img {
                    height: 100%;
                    vertical-align: top;
                }
            }
            > .user {
                float: left;
                margin-left: 10px;
                line-height: 58px;

                > .name {
                    font-size: 18px;
                    display: block;
                    color: #222;
                    font-weight: 600;
                }
                > .intr {
                    color: #626364;
                }
            }
        }

        @include m(trade) {
            padding: 42px 0;
            border-bottom: 1px solid #e6e7e8;

            > .profit {
                float: left;
                border-right: 1px solid #e6e7e8;
                width: 180px;

                > .num {
                    font-size: 26px;
                    color: $brand-danger;
                    padding-bottom: 8px;

                    > span {
                        font-size: 16px;
                    }
                }
                > .tip {
                    color: #626364;
                }
            }
            > .dropdown {
                float: left;
                padding-left: 20px;
                color: #626364;

                > .num {
                    font-weight: 600;
                    padding-top: 8px;
                    font-size: 16px;
                }
                > .tip {
                    padding-top: 10px;
                }
            }
        }

        @include m(copy) {
            padding-top: 26px;

            > .info {
                float: left;
                color: #626364;

                > .copiers {
                    padding-bottom: 14px;

                    > .num {
                        font-size: 16px;
                        display: inline-block;
                        min-width: 40px;
                    }
                }
                > .rate {

                    > .num {
                        color: $brand-info;
                        display: inline-block;
                        min-width: 40px;
                    }
                }
            }
            > .copy_btn_wrapper {
                float: right;

                > .copy_btn {
                    color: #000;
                    margin-bottom: 0;
                    border: 1px solid #e6e7e8;
                    text-align: center;
                    white-space: nowrap;
                    font-weight: 600;
                    background-color: transparent;
                    cursor: pointer;
                    padding: 14px 26px;
                    font-size: 16px;
                    border-radius: 4px;
                    
                    // &:hover {
                    //     background-color: #ffed7b;
                    //     border-color: #ffed7b;
                    // }
                }
            }
        }
    }
} 