@include b(ranklist_banner) {
  // overflow: hidden;
  // margin-top: 69px;
  // height: 550px;
  // background-position: center center;
  // background-size: cover;
  // background-image: url("/white_label/ranklist/ranklist-banner.jpg");
  // &.imgEn{
  //     background-image: url("/white_label/ranklist/ranklist-banner.jpg");
  // }
  // 背景
  height: 550px;
  @include img-normal($white_label_new_bg + "ranklist-bg.jpg");
  background-size: auto 100%;
  background-position: center center;
  @include e(tip) {
    // .step {
    //   font-size: 20px;
    //   color: #ffd000;
    //   margin: 5px 0px;
    //   font-weight: 500;
    //   img {
    //     height: 28px;
    //     padding: 0px 10px;
    //     &.ar {
    //       transform: rotate(180deg);
    //     }
    //   }
    // }

    @include m(lst) {
      @include displayFlex();
      @include justifyContent(space-between);
      margin: 40px auto 0;
      li {
        width: 242px;
        height: 270px;
        text-align: center;
        padding: 10px 22px;
        .num {
          font-size: 40px;
          color: rgba(36, 42, 54, 0.3);
          margin: 10px 0px 5px;
        }
        .tip {
          color: rgb(36, 42, 54);
          font-size: 16px;
          line-height: 22px;
        }
        img {
          height: 76px;
        }

        // &:last-child {
        //   .tip {
        //     padding-top: 35px;
        //   }
        // }
      }
    }
  }
  @include e(sup) {
    width: 1200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    @include responsive(wide-screens) {
      margin-left: -550px;
      width: 1100px;
    }
    @include m(tit) {
      margin-bottom: 39px;
      > h5 {
        font-size: 38px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        line-height: 53px;
        margin: 0;
      }
      > p {
        font-size: 26px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
        line-height: 37px;
      }
    }
    @include m(con) {
      @include displayFlex();
      @include justifyContent(space-between);
      @include flexWrap(wrap);
      > li {
        .head-img {
          img {
            width: 130px;
            height: 130px;
            border-radius: 100%;
            display: inline-block;
          }
        }
        .content {
          margin: 0 20px;
          .name {
            h6 {
              font-size: 26px;
              font-weight: 600;
              color: rgba(255, 255, 255, 1);
              line-height: 37px;
              margin: 0;
            }
          }
          .win {
            .rate {
              font-size: 44px;
              font-weight: 600;
              line-height: 62px;
            }
            p {
              font-size: 18px;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.8);
              line-height: 25px;
              span {
                font-size: 24px;
                font-weight: 600;
                color: rgba(255, 255, 255, 1);
                line-height: 33px;
              }
            }
          }
        }
      }
    }
  }
}
@include b(ranklist) {
  padding-top: 20px;

  @include e(navbar) {
    @include m(toggle) {
      position: relative;
      margin: 0 9px;
      &:hover {
        .ranklist__navbar-lst {
          display: block;
        }
      }
    }
    @include m(tit) {
      font-size: 56px;
      color: rgba(36, 42, 54, 1);
      line-height: 78px;
      margin: 0;
      text-align: center;
    }
    @include m(titp) {
      font-size: 26px;
      font-weight: 400;
      color: rgba(36, 42, 54, 0.8);
      line-height: 37px;
      text-align: center;
    }
    @include m(lst) {
      position: absolute;
      display: none;
      top: 102%;
      left: 0;
      z-index: 1;
      min-width: 100%;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
      background-color: #242a36;
      color: #fff;
      > li {
        padding: 8px 10px;
        cursor: pointer;
        &:hover {
          background-color: $main-color;
          span {
            color: $gray-base;
          }
        }
        // &.active {
        //   color: $brand-info;
        // }
      }
    }
  }
}

@include b(ranklist_cont) {
  position: relative;
  margin-top: 20px;

  @include e(master) {
    color: rgba(30, 32, 36, 0.5);
    margin-bottom: 14px;
    padding: 12px;
    border-radius: 26px;
    background-color: #fff;
    @include box-shadow(0px 0px 10px 0px #ccc);

    &:hover {
      //   background-color: #fafafa;
    }
    .dividing {
      height: 120px;
      width: 1px;
      border-right: 1px dotted rgba(30, 32, 36, 0.2);
    }
    @include m(info) {
      width: 40%;
      padding: 8px 0;

      > .avatar {
        height: 80px;
        border-radius: 100%;
        overflow: hidden;

        > img {
          height: 100%;
        }
      }
      > .user {
        margin-left: 10px;
        margin-right: 10px;

        > .name {
          font-weight: 600;
          font-size: 20px;
          color: rgba(30, 32, 36, 1);
          line-height: 28px;
        }
      }
    }
    @include m(tip) {
      @include flex(1);
      margin: 0 30px;
      color: rgba(30, 32, 36, 1);
      font-size: 14px;
      line-height: 17px;
      max-height: 100px;
      overflow: hidden;
      word-break: break-all;
      word-wrap: break-word;
    }
    @include m(trade) {
      text-align: center;
      padding: 0 70px;
      @include flex(1);
      &.bd-tp {
        border-top: 1px dotted rgba(30, 32, 36, 0.2);
        padding-top: 17px;
        margin-top: 10px;
      }
      > .dropdown {

        > .num {
          color: rgba(30, 32, 36, 1);
          font-weight: 600;
          font-size: 26px;
          line-height: 37px;
        }
        > .tip {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    @include m(copy) {
      > .copy_btn_wrapper {
        > .copy_btn {
          margin: 7px 10px;
        }
      }
    }
  }
}
