<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%=lang.text("companyZhName")%> | 代理合作模式全新升级</title>
<meta charset="UTF-8">
    <% include /common/vendor/web.css.html %>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->
    <% include /common/statistic/main.html %>
    <% include /common/vendor/web.js.html %>
</head>
<body class="brand_fx168_body">
	<div class="bd_fx168_detail_con">
		<div class="bd_fx168_detail_con__text">
			<img class="fx168_cursor_pointer" src="/images/bd_fx168/alertor.png" onclick="layer.closeAll()">
		</div>
	</div>
	<img class="fixed_code" src="/images/bd_fx168/fixed_code.png">
	<div class="bd_fx168 clearfix">
		<div class="bd_fx168__main">
			<img class="main" src="/images/bd_fx168/title.png" alt="title">
			<img class="btn1 alertor fx168_cursor_pointer" src="/images/bd_fx168/btn1.png" alt="btn1">
			<img class="main main1" src="/images/bd_fx168/main1.png" alt="title">
			<img class="btn2 alertor fx168_cursor_pointer" src="/images/bd_fx168/btn2.png" alt="btn2">
			<img class="main main2" src="/images/bd_fx168/main2.png" alt="title">
			<img class="btn3 alertor fx168_cursor_pointer" src="/images/bd_fx168/btn3.png" alt="btn3">
			<img class="main main3" src="/images/bd_fx168/main3.png" alt="title">
			<img class="btn4 alertor fx168_cursor_pointer" src="/images/bd_fx168/btn4.png" alt="btn4">
			<img class="main main4" src="/images/bd_fx168/main4.png" alt="title">
		</div>
	</div>

<!-- build:js(client) /scripts/bd_brand_fx168.js -->
<script src="/scripts/bd/brand/fx168.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<!-- endbuild -->
</body>
</html>