<!DOCTYPE html>
<html lang="en" class="bd_redbag">

<head>
  <meta charset="UTF-8">
  <title>
    <%=lang.text("companyZhName")%>｜品牌部－申请代理</title>
  <% include /common/vendor/web.css.html %>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->
    <% include /common/vendor/web.js.html %>
</head>

<body ng-app="fullstackApp">
    <div ng-controller="BrandAgentController">
        <div class="brand_index">
            <div class="container">
                <div class="brand_form">
                    <div class="form-control-wrapper">
                        <input class="form-control" type="phone" placeholder="请输入手机号码" ng-model="phone">
                    </div>
                    
                    <div class="btn-wrapper">
                        <button class="btn" ng-click="submitForm()">申请代理</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand_container">
            <div class="container">
                <div class="brand_title">
                    为什么选择老虎外汇
                </div>
                <div class="brand_sub_title">
                    开立老虎外汇帐户，享受与众不同的交易体验
                </div>
                <div class="brand_content">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="brand_t">
                                <img class="n1" src="/images/bd_brand/brand_t1.png">
                                <img class="n2" src="/images/bd_brand/brand_t1-2.png">
                            </div>
                            <div class="brand_info">
                                <h4>稳定的MT4平台</h4>
                                <p>毫秒交易速度，稳定安全，保障顶级交易体验</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="brand_t">
                                <img class="n1" src="/images/bd_brand/brand_t2.png">
                                <img class="n2" src="/images/bd_brand/brand_t2-2.png">
                            </div>
                            <div class="brand_info">
                                <h4>一对一客服服务</h4>
                                <p>一对一客服支持，VIP级专业服务</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="brand_t">
                                <img class="n1" src="/images/bd_brand/brand_t3.png">
                                <img class="n2" src="/images/bd_brand/brand_t3-2.png">
                            </div>
                            <div class="brand_info">
                                <h4>杠杆利用</h4>
                                <p>50倍、100倍、200倍杠杆交易，灵活满足您对风险控制，资金管理的需求</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="brand_t">
                                <img class="n1" src="/images/bd_brand/brand_t4.png">
                                <img class="n2" src="/images/bd_brand/brand_t4-2.png">
                            </div>
                            <div class="brand_info">
                                <h4>便捷支付</h4>
                                <p>移动支付方便、快捷出入金高效、安全、稳妥</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="brand_t">
                                <img class="n1" src="/images/bd_brand/brand_t5.png">
                                <img class="n2" src="/images/bd_brand/brand_t5-2.png">
                            </div>
                            <div class="brand_info">
                                <h4>复制跟单</h4>
                                <p>一键复制高手交易，一次复制最多可达10个高手订单</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="brand_t">
                                <img class="n1" src="/images/bd_brand/brand_t6.png">
                                <img class="n2" src="/images/bd_brand/brand_t6-2.png">
                            </div>
                            <div class="brand_info">
                                <h4>高手分成</h4>
                                <p>可获交易收益，亦可额外获得复制者20%利润分成</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brand_btn">
                    <button class="btn btn-primary" ng-click="openSystemMdl()">
                        申请代理
                    </button>
                </div>
                <div class="brand_title">
                    多样化的交易产品
                </div>
                <div class="brand_sub_title">
                    开设一个交易帐户，轻松参与多个国际金融产品投资
                </div>
                <div class="brand_content">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="brand_t">
                                <a href="/web/product/forex">
                                    <img class="n1" src="/images/bd_brand/brand_p1.png">
                                    <img class="n2" src="/images/bd_brand/brand_p1-2.png">
                                </a>
                            </div>
                            <div class="brand_info">
                                <h4>外汇</h4>
                                <p>60余种货币对，享受50、100、200倍3种杠杆，STP直通式报价服务</p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="brand_t">
                                <a href="/web/product/forex">
                                    <img class="n1" src="/images/bd_brand/brand_p2.png">
                                    <img class="n2" src="/images/bd_brand/brand_p2-2.png">
                                </a>
                            </div>
                            <div class="brand_info">
                                <h4>贵金属</h4>
                                <p>高杠杆，最高200倍；低成本，黄金一手不到50美金；一个帐户可同时交易黄金、白银</p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="brand_t">
                                <a href="/web/product/forex">
                                    <img class="n1" src="/images/bd_brand/brand_p3.png">
                                    <img class="n2" src="/images/bd_brand/brand_p3-2.png">
                                </a>
                            </div>
                            <div class="brand_info">
                                <h4>原油</h4>
                                <p>对冲交易，减少交易风险；交易成本低，约2块人民币/吨左右；只需一次止损，隔天仍然有效</p>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="brand_t">
                                <a href="/web/product/forex">
                                    <img class="n1" src="/images/bd_brand/brand_p4.png">
                                    <img class="n2" src="/images/bd_brand/brand_p4-2.png">
                                </a>
                            </div>
                            <div class="brand_info">
                                <h4>差价合约</h4>
                                <p>包含三大美指、日经、欧洲优选等主流股指；提供低至2%的保证金水平；门槛较低，报价透明</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brand_title">
                    STP 直通式交易模式
                </div>
                <div class="brand_sub_title">
                    为出色的交易体验和优化用户价值提供保障
                </div>
                <div class="brand_content">
                    <div class="row brand_mod_wrapper">
                        <div class="col-xs-6">
                            <p class="brand_mod_t">
                                老虎外汇与多家知名机构合作，包括美国银行，花旗，摩根大通，巴克莱，麦格理银行等，从多家国际银行获得外汇报价和清算，并且通过STP的方式将用户的订单传输到国际间银行市场，从而让用户订单在最短的时间内以最优的价格成交。
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <div class="brand_mod">
                                <img src="/images/bd_brand/brand_mod.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brand_btn">
                    <button class="btn btn-primary" ng-click="openSystemMdl()">
                        申请代理
                    </button>
                </div>
                <div class="brand_title">
                    新闻报道
                </div>
                <div class="brand_content brand_news_cont">
                    <div class="row">
                        <div class="col-xs-4 brand_news p1">
                            <a href="http://news.163.com/17/0619/17/CNAEU2G200014AEE.html" class="pic" target="_blank">
                                <img src="/images/bd_brand/brand_news-1.jpg">
                            </a>
                            <p class="tip">
                                <a href="http://news.163.com/17/0619/17/CNAEU2G200014AEE.html" target="_blank">从eToro、老虎外汇看社区交易、复制跟单交易的魅力</a>
                            </p>
                            <p class="des">2017/6/19</p>
                        </div>
                        <div class="col-xs-4 brand_news p2">
                            <a href="http://news.163.com/17/0621/15/CNFD7VMS00014AEE.html" target="_blank" class="pic">
                                <img src="/images/bd_brand/brand_news-2.jpg">
                            </a>
                            <p class="tip">
                                <a href="http://news.163.com/17/0621/15/CNFD7VMS00014AEE.html" target="_blank">全球资产配置时代，炒外汇的正确方式和老虎外汇的探索</a>
                            </p>
                            <p class="des">2017/6/21</p>
                        </div>
                        <div class="col-xs-4 brand_news p3">
                            <a href="http://news.163.com/17/0628/13/CO17005V00014AEE.html" target="_blank" class="pic">
                                <img src="/images/bd_brand/brand_news-3.jpg">
                            </a>
                            <p class="tip">
                                <a href="http://news.163.com/17/0628/13/CO17005V00014AEE.html" target="_blank">炒外汇社交投资复制跟单怎么玩？老虎外汇高手跟单怎么做？</a>
                            </p>
                            <p class="des">2017/6/19</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 brand_news p1">
                            <a href="http://district.ce.cn/newarea/hyzx/201704/13/t20170413_21944005.shtml" target="_blank" class="pic">
                                <img src="/images/bd_brand/brand_news-4.jpg">
                            </a>
                            <p class="tip">
                                <a href="http://district.ce.cn/newarea/hyzx/201704/13/t20170413_21944005.shtml" target="_blank">金融科技+外汇创新 看老虎外汇如何引领潮水方向</a>
                            </p>
                            <p class="des">2017/4/13</p>
                        </div>
                        <div class="col-xs-4 brand_news p2">
                            <a href="http://china.huanqiu.com/citynews/2016-12/9778386.html?qq-pf-to=pcqq.c2c" target="_blank" class="pic">
                                <img src="/images/bd_brand/brand_news-5.jpg">
                            </a>
                            <p class="tip">
                                <a href="http://china.huanqiu.com/citynews/2016-12/9778386.html?qq-pf-to=pcqq.c2c" target="_blank">老虎外汇荣获2016年度创新服务经纪商大奖</a>
                            </p>
                            <p class="des">2016/12/6</p>
                        </div>
                        <div class="col-xs-4 brand_news p3">
                            <a href="http://v.fx168.com/conference/1612/2076021_app.shtml?from=singlemessage&isappinstalled=1" target="_blank" class="pic">
                                <img src="/images/bd_brand/brand_news-6.jpg">
                            </a>
                            <p class="tip">
                                <a href="http://v.fx168.com/conference/1612/2076021_app.shtml?from=singlemessage&isappinstalled=1" target="_blank">FX168峰会现场访谈老虎外汇CEO徐慧和CTO宋伟龙</a>
                            </p>
                            <p class="des">2016/12/1</p>
                        </div>
                    </div>
                </div>
                 <div class="brand_title">
                    所获奖项
                </div>
                <div class="brand_content last-cont">
                    <div class="row">
                        <div class="col-xs-4 brand_award">
                            <div class="award_box">
                                <h4>年度创新服务经纪商</h4>
                                <p class="tip">FX168财经集团</p>
                                <p class="des">2016年12月</p>
                            </div>
                        </div>
                        <div class="col-xs-4 brand_award">
                            <div class="award_box">
                                <h4>年度卓越智能理财机构</h4>
                                <p class="tip">凤凰WEMONEY(2016)</p>
                                <p class="des">2016年12月</p>
                            </div>
                        </div>
                        <div class="col-xs-4 brand_award">
                            <div class="award_box noPadding">
                                <h4>年度最具潜力创业公司</h4>
                                <h4>年度最佳女性创业者</h4>
                                <p class="tip">猎云网</p>
                                <p class="des">2016年12月</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 brand_award">
                            <div class="award_box">
                                <h4>最佳创新经纪商</h4>
                                <p class="tip">汇通财经</p>
                                <p class="des">2015年12月</p>
                            </div>
                        </div>
                        <div class="col-xs-4 brand_award">
                            <div class="award_box">
                                <h4>最佳推荐平台</h4>
                                <p class="tip">汇通财经</p>
                                <p class="des">2016年3月</p>
                            </div>
                        </div>
                        <div class="col-xs-4 brand_award">
                            <div class="award_box">
                                <h4>最具创新力品牌奖</h4>
                                <p class="tip">中国分析师联盟</p>
                                <p class="des">2016年7月</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- build:js(client) /scripts/bd_brand_proxy.js -->
<script src="/scripts/common/config.service.js"></script>
<script src="/scripts/common/account.service.js"></script>
<script src="/scripts/common/authorization.service.js"></script>
<script src="/scripts/common/validator.service.js"></script>
<script src="/scripts/common/market.service.js"></script>
<script src="/scripts/common/navbar.directive.js"></script>
<script src="/scripts/common/dropdown.directive.js"></script>
<script src="/scripts/common/global.controller.js"></script>
<script src="/scripts/common/loading_img.directive.js"></script>
<script src="/scripts/common/modal.js"></script>
<script src="/scripts/common/pagination.directive.js"></script>
<script src="/scripts/common/duration.filter.js"></script>
<script src="/scripts/common/transition.service.js"></script>
<script src="/scripts/common/symbol_mod.filter.js"></script>
<script src="/scripts/common/trader.service.js"></script>
<script src="/scripts/common/lang.service.js"></script>
<script src="/scripts/common/lang_data.service.js"></script>
<script src="/scripts/bd/t30/check.js"></script>
<script src="/scripts/bd/brand/brand.controller.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<!-- endbuild -->
</html>