@include b(vietnam_bonus) {
  background: url('/white_label/bd/bonus/bonus-bg.png') no-repeat bottom left;
  background-size: 100%;
  background-color: #fff;
  font-size: px2rem(28);
  padding: px2rem(40);
  @include e(title) {
    font-weight: 600;
    font-size: px2rem(36);
  }
  @include e(con) {
    
    
  }

  @include e(lst) {
    > li{
      @include displayFlex();
      span:nth-child(1){
        margin-right: px2rem(54);
      }
      span:nth-child(2){
        @include flex(1);
      }
    }
  }

  @include e(banner) {
    width: 100%;
    >img{
      width: 100%;
    }
    
  }
  @include e(bonus) {
    @include displayFlex();
    @include alignItems(flex-end);
    @include flexWrap(wrap);
    > li{
      @include flex(1);
      padding: px2rem(20) px2rem(30);
      min-width: px2rem(150);
      > div{
        position: relative;
        > img{
          display: block;
          width: 100%;
        }
        > span{
          color: #fff;
          position: absolute;
          bottom: px2rem(2);
          right: px2rem(4);
        }
        &.bonus-open{
          > span{
            color: $primary-darker;
            top: 50%;
            margin-top: px2rem(-16);
            right: 50%;
            margin-right: px2rem(-23);
          }
        }
      }  
    }
  }
}