.flexBox {
    display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
    display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
    display: -moz-box;      /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;   /* 混合版本语法: IE 10 */   
}

// asset
@include b (asset-public) {
    min-height: 500px;
    padding: 30px 32px;
    color: $gray-base;
    
    .btn-primary {
        margin-top: -3px;
    }

    .form-control-wrapper {
        margin-bottom: 10px;
    }
    
    .form-control {
        padding-left: 30px;
    }
    
    .asset__input-icon {
        position: absolute;
        top: 10px;
        left: 15px;
        color: #333;
        font-weight: 500;
    }
}

.warn_tip_area {
    font-size: 12px;
    color: $gray-darker;
    background-color: rgb(255,255,234);
    @extend .flexBox;
    flex-flow: row nowrap;
    justify-content: flex-start; 
    padding: 15px 20px;
    border-radius: 10px;
    .warn_icon {
        font-size: 24px;
        width: 46px;
        text-align: left;
    }
}

.widthdraw__card_bg {
    display: inline-flex;
    height: 38px;
    background: url('/images/asset/bank_card_bg.jpg') no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    padding: 0 10px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    span {
        font-weight: 500;
        font-size: 10px;
        color: #fff;
    }
    img {
        height: 60%;
        vertical-align: middle;
        margin-right: 6px;
    }
}

// deposit
@include b(deposit) {
    ul > li {
        margin: 5px 0;
    }

    @include e(rate) {
        color: #999;
        font-size: 12px;
    }

    @include e(circle) {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid $brand-primary;
        border-radius: 50%;
    }

    @include e (input) {
        // margin-top: 2px;
    }

    @include e (title-money) {
        font-size: $font-size-h4;
        font-weight: 500;
    }

    @include e (pointer) {
        cursor: pointer;
    }

    @include e(way) {
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #494949;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            border: 6px solid transparent;
            border-top-color: #666;
            margin-top: -6px;
        }

        @include m(tip) {
            color: #999;
            font-size: 12px;
            line-height: 16px;
            display: none;

            &.active {
                display: block;
            }
        }
    }

    @include e(wallet_succ) {
        color: #494949;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding-top: 100px;
    }
    @include e(btn_wrapper) {

        .btn {
            margin-top: 80px;
            width: 100%;
        }
    }
    @include e(tele) {
        padding: 30px 0px;

        @include m(tip) {
            color: #999;
            padding-bottom: 10px;

            .des {
                color: rgb(245,82,79);
            }
        }
        @include m(tit) {
            color: #333;
            font-weight: 500;
            padding-bottom: 10px;
        }
        @include m(msg) {
            color: #666;
            padding-bottom: 10px;

            .des {
                color: rgb(73,144,226);
                cursor: pointer;
            }
        }
    }
    @include e(tele_file) {
        border: 1px dashed #999;
        border-radius: 10px;
        height: 200px;
        margin-top: 40px;
        text-align: center;
        line-height: 200px;
        cursor: pointer;
        overflow: hidden;
    }
    @include e(tele_succ) {
        .pic {
            float: left;
            width: 30%;
            height: 60px;
            text-align: right;

            img {
                height: 100%;
            }
        }
        .tip {
            width: 70%;
            float: left;
            color: #494949;
            font-size: 16px;
            font-weight: 500;
            padding-left: 10px;
            line-height: 25px;
        }
    }
}

@include b(deposit_modal) {
    @include e(type) {
        margin-top: 30px;

        li {
            margin-bottom: 15px;
            cursor: pointer;
        }
        @include m(icon) {
            padding-right: 0px;
        }
        @include m(cont) {
            .tit {
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
                color: #333;
                padding-bottom: 8px;

                span {
                    font-size: 14px;
                    padding-left: 5px;
                    color: rgb(245,82,79);
                }
            }
            .tip {
                color: #999;
            }
        }
    }
} 

@include b(withdraw) {
    @include e(sys_tip) {
        margin-left: 92px;
    }
    .sys_tip1 {
        font-size: 12px;
        color: $gray-dark;
    }
    
    @include e(way) {
        width: 255px;
        height: 136px;
        padding: 24px;
        text-align: left;
        float: left;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        background-size: 100% 100%;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
        transition: all 0.22s ease;
        -webkit-transition: all 0.22s ease;
        color: #fff;
        .amount {
            font-size:  37.5px;
            font-weight: 500;
        }
        span {
            display: block;
            font-size: 16px;
        }
        &.account {
            margin-right: 20px;
            background-image: url('/images/asset/trading_bg.png'); 
        }
        &.wallet {
            background-image: url('/images/asset/wallet_bg.png'); 
        }
        &.active {
            box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
            &.account {
                background-image: url('/images/asset/trading_bg_active.png'); 
            }
            &.wallet {
                background-image: url('/images/asset/wallet_bg_active.png'); 
            }
        }
    }

    @include e(card_handler) {
        @extend .flexBox;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        
        .card_number {
            font-weight: 500;
            font-size: 18px;
            margin-left: 10px;
            @extend .flexBox;
            align-items: center;
        }
        .card_switch {
            font-size: 12px;
            margin-left: 5px;
        }
        .card_manage {
            margin-left: 30px;
        }
    }
}

@include b(history) {

    @include e (lt40) {
        margin-left: -40px;
    }
}

// 银行卡管理modal
@include b(manage_card_list){
    width: 100%;
    @include e(item){
        td {
            height: 65px;
            padding-top: 8px;
            padding-bottom: 8px;
            .card_icon{
                transform: scale(1.25);
                -webkit-transform: scale(1.25);
            }
            .card_number, .card_btn{
                font-size: 16px;
            }
        }
    }
}