// asset
@include b (asset-public) {
    min-height: 500px;
    // padding: 30px 20px;
    color: $gray-darker;
    
    .btn-primary {
        margin-top: -3px;
    }

    .form-control-wrapper {
        margin-bottom: 10px;
    }
    
    .form-control {
        padding-left: 30px;
    }
    
    .asset__input-icon {
        position: absolute;
        top: 10px;
        left: 15px;
        color: #333;
        font-weight: 500;
    }
}

// deposit
@include b(deposit) {
    ul > li {
        margin: 5px 0;
    }

    @include e(rate) {
        color: #999;
        font-size: 12px;
    }

    @include e(circle) {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid $brand-primary;
        border-radius: 50%;
    }

    @include e (input) {
        // margin-top: 2px;
    }

    @include e (title-money) {
        font-size: $font-size-h4;
        line-height: 40px;
    }

    @include e (pointer) {
        cursor: pointer;
    }

    @include e(way) {
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #494949;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            border: 6px solid transparent;
            border-top-color: #666;
            margin-top: -6px;
        }

        @include m(tip) {
            color: #999;
            font-size: 12px;
            line-height: 16px;
            display: none;

            &.active {
                display: block;
            }
        }
    }
    @include e(wallet_succ) {
        color: #494949;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding-top: 100px;
    }
    @include e(btn_wrapper) {

        .btn {
            margin-top: 80px;
            width: 100%;
        }
    }
    @include e(tele) {
        padding: 30px 0px;

        @include m(tip) {
            color: #999;
            padding-bottom: 10px;

            .des {
                color: rgb(245,82,79);
            }
        }
        @include m(tit) {
            color: #333;
            font-weight: 500;
            padding-bottom: 10px;
        }
        @include m(msg) {
            color: #666;
            padding-bottom: 10px;

            .des {
                color: rgb(73,144,226);
                cursor: pointer;
            }
        }
    }
    @include e(tele_file) {
        border: 1px dashed #999;
        border-radius: 10px;
        height: 200px;
        margin-top: 40px;
        text-align: center;
        line-height: 200px;
        cursor: pointer;
        overflow: hidden;

        &.bank_file {
            height: 180px;
            line-height: 180px;
            margin-top: 20px;
            position: relative;

            &.add_file {
                &:before {
                    display: block;
                    content: '';
                    width: 36px;
                    height: 4px;
                    border-radius: 2px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -18px;
                    margin-top: -2px;
                    background-color: #d3d3d3;
                }
                &:after {
                    display: block;
                    content: '';
                    width: 4px;
                    height: 36px;
                    border-radius: 2px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -2px;
                    margin-top: -18px;
                    background-color: #d3d3d3;
                }
            }
        }
    }
    @include e(tele_succ) {
        .pic {
            float: left;
            width: 30%;
            height: 60px;
            text-align: right;

            img {
                height: 100%;
            }
        }
        .tip {
            width: 70%;
            float: left;
            color: #494949;
            font-size: 16px;
            font-weight: 500;
            padding-left: 10px;
            line-height: 25px;
        }
    }
    @include e(bank_file) {
        border-top: 1px dashed #ccc;
        margin-top: 30px;
        padding-top: 30px;
        padding-left: 80px;

        @include m(tit) {
            font-size: 16px;
            font-weight: 500;
            color: #222;
            padding-bottom: 10px;
        }
        @include m(tip) {
            padding-bottom: 20px;
        }
        @include m(sub_tit) {
            font-size: 14px;
            font-weight: 500;
            color: #222;
            padding-bottom: 10px;
        }

        @include m(eg) {
            display: table;
            width: 100%;
            padding-top: 10px;

            .pic {
                height: 100px;
                display: table-cell;
                width: 180px;
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 15px;
                overflow: hidden;
                cursor: pointer;
                position: relative;

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100px;
                    background: rgba(0,0,0,0.6);
                    text-align: center;
                    line-height: 100px;
                    color: #fafafa;
                    font-size: 12px;
                    display: none;
                }

                &:hover {
                    span {
                        display: block;
                    }
                }

                img {
                    height: 100%;
                    vertical-align: top;
                    max-width: 100%;
                }
            }
            .blank {
                display: table-cell;
                width: 20px;
            }
        }
        @include m(upload) {
            width: 360px;
            margin: 0 auto;
        }
        @include m(upload_tip) {
            width: 360px;
            margin: 10px auto 30px;
            font-size: 12px;
        }
        @include m(upload_btn) {
            text-align: center;
            padding-bottom: 30px;
        }
    }
}

@include b(deposit_modal) {
    @include e(type) {
        margin-top: 30px;

        li {
            margin-bottom: 15px;
            cursor: pointer;
        }
        @include m(icon) {
            padding-right: 0px;
        }
        @include m(cont) {
            .tit {
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
                color: #333;
                padding-bottom: 8px;

                span {
                    font-size: 14px;
                    padding-left: 5px;
                    color: rgb(245,82,79);
                }
            }
            .tip {
                color: #999;
            }
        }
    }
} 

@include b(withdraw) {
    @include e(sys_tip) {
        margin-left: 92px;
    }

    @include e(way) {
        width: 220px;
        padding: 8px 0;
        border: 1px solid #ccc;
        background: #fff;
        text-align: center;
        float: left;
        margin-right: 15px;
        cursor: pointer;

        span {
            display: block;
            line-height: 24px;
        }

        &.active {
            border-color: $brand-primary-dark;
        }
    }
}

@include b(history) {

    @include e (lt40) {
        margin-left: -40px;
    }
}

// 银行卡管理modal
@include b(manage_card_list){
    width: 100%;
    @include e(item){
        td {
            height: 65px;
            padding-top: 8px;
            padding-bottom: 8px;
            .card_icon{
                transform: scale(1.25);
                -webkit-transform: scale(1.25);
            }
            .card_number, .card_btn{
                font-size: 16px;
            }
        }
    }
}