// asset
@include b (asset-public) {
    color: $gray-darker;   
    padding: 30px 20px 30px;
    background-color: #fff;

    .form-control-wrapper {
        margin-bottom: 10px;
    }
    .form-control {
        padding-left: 30px;
    }
    .asset__input-icon {
        position: absolute;
        top: 10px;
        left: 15px;
        color: $brand-primary;
    }
}

// deposit
@include b(deposit) {
    

    ul > li {
        margin: 5px 0;
    }

    @include e(circle) {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid $brand-primary;
        border-radius: 50%;
    }

    @include e (input) {
        margin-top: 2px;
    }

    @include e (title-money) {
        font-size: $font-size-h3;
        line-height: 40px;
    }

}

// @include b(withdraw) {

// }

@include b(history) {
    
    @include e (lt40) {
        margin-left: -40px;
    }  
}