<div class="faq-public mg-bt-100" tw-dropdown-faq>
    <div>
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqSwap1")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("faqSwap2")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqSwap3")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("faqSwap4")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqSwap5")%>
        </div>
        <div class="faq-public__answer">
            <%=lang.text("faqSwap6")%><br>
            <%=lang.text("faqSwap6_2")%><br>
            <%=lang.text("faqSwap6_3")%><br>
            <%=lang.text("faqSwap6_4")%><br>
            <%=lang.text("faqSwap7")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqSwap8")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("faqSwap9")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqSwap10")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("faqSwap11")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <div class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqSwap12")%>
        </div>
        <div class="faq-public__answer">
            <%= lang.text("faqSwap13")%>
        </div>
    </div>
</div>