<% if(lang.isEnglishArea()) { %> 
    <div class="faq-public" tw-dropdown-faq>
        <div>
            <div class="faq-public__question">
                <%=lang.text("faqEnglish.interest1Q")%>
            </div>
            <div class="faq-public__answer">
                <%=lang.text("faqEnglish.interest1A")%>
            </div>
        </div>
        <div class="mg-tp-30">
            <div class="faq-public__question">
                <%=lang.text("faqEnglish.interest2Q")%>
            </div>
            <div class="faq-public__answer">
                <%=lang.text("faqEnglish.interest2A")%>
            </div>
        </div>
        <div class="mg-tp-30">
            <div class="faq-public__question">
                <%=lang.text("faqEnglish.interest3Q")%>
            </div>
            <div class="faq-public__answer">
                <%=lang.text("faqEnglish.interest3A")%>
            </div>
        </div>
        <div class="mg-tp-30">
            <div class="faq-public__question">
                <%=lang.text("faqEnglish.interest4Q")%>
            </div>
            <div class="faq-public__answer">
                <%=lang.text("faqEnglish.interest4A")%>
            </div>
        </div>
    </div>
<% } else { %> 
    <div class="faq-public" tw-dropdown-faq>
        <div>
            <div class="faq-public__question">
                
                
                <%= lang.text("faqSwap1")%>
            </div>
            <div class="faq-public__answer">
                <%= lang.text("faqSwap2")%>
            </div>
        </div>
        <div class="mg-tp-30">
            <div class="faq-public__question">
                
                
                <%= lang.text("faqSwap3")%>
            </div>
            <div class="faq-public__answer">
                <%= lang.text("faqSwap4")%>
            </div>
        </div>
        <div class="mg-tp-30">
            <div class="faq-public__question">
                
                
                <%= lang.text("faqSwap5")%>
            </div>
            <div class="faq-public__answer">
                <%=lang.text("faqSwap6")%><br>
                <%=lang.text("faqSwap6_2")%></span></br>
                <%=lang.text("faqSwap6_3")%></span></br>
                <%=lang.text("faqSwap6_4")%></span></br>
                <%=lang.text("faqSwap7")%></span></br>
            </div>
        </div>
        <div class="mg-tp-30">
            <div class="faq-public__question">
                
                
                <%= lang.text("faqSwap8")%>
            </div>
            <div class="faq-public__answer">
                <%= lang.text("faqSwap9")%>
            </div>
        </div>
        <div class="mg-tp-30">
            <div class="faq-public__question">
                
                
                <%= lang.text("faqSwap10")%>
            </div>
            <div class="faq-public__answer">
                <%= lang.text("faqSwap11")%>
            </div>
        </div>
        <div class="mg-tp-30">
            <div class="faq-public__question">
                
                
                <%= lang.text("faqSwap12")%>
            </div>
            <div class="faq-public__answer">
                <%= lang.text("faqSwap13")%><br>
                <%= lang.text("faqSwap13_2")%></span>
            </div>
        </div>
    </div>
<% } %>