<% if(lang.isEnglish()) { %> 
    <div class="faq-public" tw-dropdown-faq>
        <div>
            <h4 class="faq-public__question">
                Earning commission
            </h4>
            <div class="faq-public__answer">
                TigerWit Masters earn 20% of the value of successful trades made by followers. This amount is credited to the Master's account automatically.
            </div>
        </div>
        <div class="mg-tp-30">
            <h4 class="faq-public__question">
                Paying commission
            </h4>
            <div class="faq-public__answer">
                Followers pay 20% of the profit made by following a Master's trade to the Master. Commission is deducted automatically.
            </div>
        </div>
        <div class="mg-tp-30">
            <h4 class="faq-public__question">
                Unfollowing a Master
            </h4>
            <div class="faq-public__answer">
                If you choose to unfollow a Master your position will remain open unless you choose 'Cancel following and force close your order', or the Master closes their original position. After the Master closes their position, you can keep your position open if you choose 'Do not follow to close'.
                <br>
                If you choose 'Cancel following but do not close order' your position will remain open until the Master's order you were following is closed by the Master. If you choose 'Do not follow to close' your position will remain open until you close out manually. You remain liable for commission at whatever point the position is closed.
            </div>
        </div>
    </div>
<% } else { %> 
    <div class="faq-public" tw-dropdown-faq>
        <div>
            <h4 class="faq-public__question">
                
                
                <%= lang.text("faqMeta1")%>
            </h4>
            <div class="faq-public__answer">
                <a style="color: #188afa;text-decoration: underline;" target="_blank" href="/web/mt4"><%= lang.text("platform3")%></a>
                <a style="color: #188afa;text-decoration: underline;margin-left: 10px;" target="_blank" href="https://itunes.apple.com/cn/app/metatrader-4/id496212596?l=en&mt=8">iOS;</a>
                <a style="color: #188afa;text-decoration: underline;margin-left: 10px;" target="_blank" href="http://zhushou.360.cn/detail/index/soft_id/260622?recrefer=SE_D_meta">Android</a>
            </div>
        </div>
        <div class="mg-tp-30">
            <h4 class="faq-public__question">
                
                
                <%= lang.text("faqMeta3")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqMeta4")%>
            </div>
        </div>
    </div>
<% } %>