<div class="faq-public mg-bt-100" tw-dropdown-faq>
    <div>
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqMeta1")%>
        </h4>
        <div class="faq-public__answer">
            <a style="color: #188afa;text-decoration: underline;" target="_blank" href="/web/mt4"><%= lang.text("platform3")%></a>
            <a style="color: #188afa;text-decoration: underline;margin-left: 10px;" target="_blank" href="https://itunes.apple.com/cn/app/metatrader-4/id496212596?l=en&mt=8">IOS;</a>
            <a style="color: #188afa;text-decoration: underline;margin-left: 10px;" target="_blank" href="http://zhushou.360.cn/detail/index/soft_id/260622?recrefer=SE_D_meta">Android</a>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqMeta3")%>
        </h4>
        <div class="faq-public__answer">
            <%= lang.text("faqMeta4")%>
        </div>
    </div>
</div>