<% if(lang.isEnglish()) { %> 
    <div class="faq-public" tw-dropdown-faq>
        <div>
            <h4 class="faq-public__question">
                How do I download MT4?
            </h4>
            <div class="faq-public__answer">
                To download TigerWit MT4 visit our <a href="/web/mt4">'MT4 download'</a> page and select the operating system that you want to use. Alternatively, you can use the <a href="/web/product/trade">TigerWit MT4 web version</a>.
            </div>
        </div>
        <div class="mg-tp-30">
            <h4 class="faq-public__question">
                How do I login to my MT4 trading platform?
            </h4>
            <div class="faq-public__answer">
                When you open a TigerWit Experience account or a TigerWit Live account we will email you TigerWit MT4 login details and a temporary password. To change your temporary password please visit the <a href="/space/#/account/login">personal centre on the website</a> and select 'Settings' and then 'Security'. Your new TigerWit password will work across both your TigerWit trading account and your TigerWit MT4 account.<br>
                You can login to the TigerWit MT4 terminal from the menu at the top left corner of the MT4 terminal screen by clicking 'File' and then 'Login'.
            </div>
        </div>
        <div class="mg-tp-30">
            <h4 class="faq-public__question">
                Where can I find my TigerWit MT4 ID?
            </h4>
            <div class="faq-public__answer">
                When you open a TigerWit Experience account or a TigerWit Live account we will email you login details. You can also see your TigerWit MT4 ID by logging onto the 'Trading Account' section of your account on the website or app.
            </div>
        </div>
        <div class="mg-tp-30">
            <h4 class="faq-public__question">
                Where can I find more information about using TigerWit MT4?
            </h4>
            <div class="faq-public__answer">
                For more information about please visit the 'Help' section within TigerWit MT4.
            </div>
        </div>
    </div>
<% } %>