<div class="faq-public mg-bt-100" tw-dropdown-faq>
    <div>
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%=lang.text("faqAccount1")%>
        </h4>
        <div class="faq-public__answer">
                <%=lang.text("faqAccount2")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%=lang.text("faqAccount3")%>
        </h4>
        <div class="faq-public__answer">
            <%= lang.text("faqAccount4")%><br>
            <%=lang.text("faqAccount4_1")%> 
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%=lang.text("faqAccount5")%>
        </h4>
        <div class="faq-public__answer">
            <%=lang.text("faqAccount6")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqAccount7")%>
        </h4>
        <div class="faq-public__answer">
            <%= lang.text("faqAccount8")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqAccount9")%>
        </h4>
        <div class="faq-public__answer">
            <%= lang.text("faqAccount10")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqAccount11")%>
        </h4>
        <div class="faq-public__answer">
            <%=lang.text("faqAccount12")%> <br>
            <%=lang.text("faqAccount12_1")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqAccount13")%>
        </h4>
        <div class="faq-public__answer">
            <%= lang.text("faqAccount14")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqAccount15")%>
        </h4>
        <div class="faq-public__answer">
            <%= lang.text("faqAccount16")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("faqAccount17")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("faqAccount18")%><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("faqAccount19")%><br>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqAccount20")%>
        </h4>
        <div class="faq-public__answer">
            <%= lang.text("faqAccount21")%>
        </div>
    </div>
    <div class="mg-tp-10">
        <h4 class="faq-public__question">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i>
            <%= lang.text("faqAccount22")%>
        </h4>
        <div class="faq-public__answer">
            <%= lang.text("faqAccount23")%>
        </div>
    </div>
</div>