<% if(lang.isEnglish()) { %> 
    <div class="faq-public mg-bt-100" tw-dropdown-faq>
        <div>
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                How do I deposit money into my account?
            </h4>
            <div class="faq-public__answer">
                You can deposit money into your account via telegraphic transfer, PayPal, Neteller and AIB by visiting ‘Deposit’ on the app.
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                How do I withdraw funds from my account?
            </h4>
            <div class="faq-public__answer">
                You can withdraw funds at any time by visiting ‘Withdrawal’ on the app. We recommend that you monitor your account closely to ensure you maintain sufficient margin. 
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                How long does it take to transfer funds?
            </h4>
            <div class="faq-public__answer">
                Crediting funds: funds are usually credited to your account instantly.<br><br>
                Withdrawing funds: TigerWit will transmit funds within two days. It may take longer for funds to appear in your bank account depending on your bank’s processing procedure and whether the withdrawal was made on a weekday or weekend.
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                What is the minimum deposit required?
            </h4>
            <div class="faq-public__answer">
                The minimum deposit amount is USD200.
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                Are there withdrawal fees?
            </h4>
            <div class="faq-public__answer">
                TigerWit does not usually charge any withdrawal fees
            </div>
        </div>
    </div>
<% } else { %>     
    <div class="faq-public mg-bt-100" tw-dropdown-faq>
        <div>
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%= lang.text("faqAsset1")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqAsset2")%><br>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%= lang.text("faqAsset3")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqAsset4")%><br>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%= lang.text("faqAsset5")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqAsset6")%><br>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%= lang.text("faqAsset7")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqAsset8")%><br>
                <%=lang.text("faqAsset8_2")%>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%= lang.text("faqAsset9")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqAsset10")%><br>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%= lang.text("faqAsset11")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqAsset12")%><br>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%= lang.text("faqAsset13")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqAsset14")%><br>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%= lang.text("faqAsset15")%>
            </h4>
            <div class="faq-public__answer">
                <%= lang.text("faqAsset16")%><br>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%=lang.text("faqAsset17")%>
            </h4>
            <div class="faq-public__answer">
                <%=lang.text("faqAsset18")%> <br>
                <%=lang.text("faqAsset18_1")%> <br>
                <%=lang.text("faqAsset18_2")%>
            </div>
        </div>
        <div class="mg-tp-10">
            <h4 class="faq-public__question">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-down"></i>
                <%=lang.text("faqAsset19")%>
            </h4>
            <div class="faq-public__answer">
                <%=lang.text("faqAsset20")%> <br>
                <%=lang.text("faqAsset20_1")%>
            </div>
        </div>
    </div>
<% } %>