<div class="m_vue" data-page="binding_phone">
    <div id="m_vue_binding_phone" v-cloak>
        <validator name="checkTel">
            <div class="form-control-wrapper">
                <input class="form-control m_vue_form-control" 
                       name="phone" 
                       type="number"
                       placeholder="新手机号码"
                       initial="off"
                       :class="{'form-control-error': frontErr.phone.show && $checkTel.phone.noempty}"
                       v-validate:phone="['noempty','phoneErr']"
                       v-model="phone"
                       @focus="hideFrontErr('phone')"
                       @blur="showFrontErr('phone')">
                
                <i class="form-control-icon fa fa-mobile-phone"></i>

                <div v-show="frontErr.phone.show">
                    <p class="alert-arrow_tp_lf" v-show="$checkTel.phone.noempty">
                        请输入新手机号码
                    </p>
                    <p class="alert-arrow_tp_lf" v-show="$checkTel.phone.phoneErr && !$checkTel.phone.noempty">
                        手机号码格式不正确
                    </p>
                    <p class="alert-arrow_tp_lf" v-show="$checkTel.phone.exist">
                        手机号码已存在
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-control-wrapper">
                        <input class="form-control m_vue_form-control" 
                               name="code"
                               type="text"
                               placeholder="验证码"
                               required
                               :class="{'form-control-error': (frontErr.code.show && $checkTel.code.noempty) || (backErr.code.show && backErr.code.status > 0)}"
                               :model="code"
                               v-validate:code="['noempty']"
                               @focus="hideFrontErr('code')"
                               @blur="showFrontErr('code')">
                        <i class="form-control-icon fa fa-pencil"></i>

                        <div v-show="frontErr.code.show">
                            <p class="alert-arrow_tp_lf" v-show="$checkTel.code.noempty">
                                请输入验证码
                            </p>
                        </div>

                        <div v-show="backErr.verifyCode.show">
                            <p class="alert-arrow_tp_lf" v-show="backErr.code.status === 1">
                                验证码不正确
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="relative">
                        <button class="btn btn-lg primary-bg btn-info" 
                            start-timer="startTimer" 
                            is-voice-code="isVoiceCode" 
                            verify-code-btn-clickable="clickable.code"
                            :disabled="!clickable.code"
                            @click="getCode()">
                            {{ codeBtn_msg }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="text-center" v-show="backErr.show">
                <p class="alert-system">
                    {{ backErr.msg || '提交失败' }}
                </p>
            </div>

            <button @click="submitMethod()" class="btn btn-primary primary-bg btn-lg mg-tp-20" v-show="clickable.submit">
                提交
            </button>

            <button class="btn btn-info btn-lg primary-bg mg-tp-20" v-show="!clickable.submit">
                <i class="loading fa fa-spinner"></i>
                提交中
            </button>
        </validator>
    </div>
</div>
