
    <h3 class="mg-200__circle-title">教程</h3>
    <ul class="faq-public__url_list" tw-navbar>
        <li><h2><a data-navbar-trigger href="/web/course/forex_basics">外汇基础知识讲解</h2></li>
        <li><h2><a data-navbar-trigger href="/web/course/advanced">小白进阶训练学堂</a></h2></li>
    </ul>
    <ul class="course__lst clearfix">
        <li class="course__lst-item">
            <a href="/web/course/details">
                <div>
                    <img src="/images/third-icon-1.png">
                    <p>入门基础知识系列</p>
                </div>
            </a>
            
        </li>
        <li class="course__lst-item">
            <a href="/web/course/details">
                <div>
                    <img src="/images/third-icon-1.png">
                    <p>入门基础知识系列</p>
                </div>
            </a>
            
        </li>
        <li class="course__lst-item">
            <a href="/web/course/details">
                <div>
                    <img src="/images/third-icon-1.png">
                    <p>入门基础知识系列</p>
                </div>
            </a>
            
        </li>
        <li class="course__lst-item">
            <a href="/web/course/details">
                <div>
                    <img src="/images/third-icon-1.png">
                    <p>入门基础知识系列</p>
                </div>
            </a>
            
        </li>
    </ul>