<div class="navbar navbar-fixed-top" tw-navbar>
    <div class="container">
        <div class="navbar-header">
            <a class="logo" href="/"></a>
            <a class="logo-con" href="/"></a>
            <!-- <div class="cctv_con">
                <a class="logocctv" href="#"></a>
            </div> -->
            <a class="logo-cctv" href=""></a>
        </div>
        <!-- 未登录时 -->
        <ul class="nav navbar-login navbar-right" ng-if="!userstatus.logined">
            <li>
                <a class="login" href="/space/#/account/login">登录</a>
            </li>
            <li>
                <a class="signup" href="/space/#/account/register">注册</a>
            </li>
        </ul>

        <!-- 登录后 -->
        <div class="navbar_info" ng-cloak ng-if="userstatus.logined">
            <a class="navbar_info__msg" href="/space/#/space/notice">
                <!-- 有新消息时显示 -->
                <span class="navbar_info__number" ng-if="personal.unreadLength > 0">
                    {{personal.unreadLength}}
                </span>
            </a>

            <div class="navbar_info__psl">
                <a href="/space/#/space/invest/current">
                    <img class="navbar_info__avatar" ng-src="{{personal.mdAvatar}}">
                    <h4 class="navbar_info__username">{{personal.username || '**'}}</h4>
                </a>

                <a class="navbar_info__logout" href="" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    退出
                </a>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li>
                <a data-navbar-trigger href="/">
                    首页
                </a>
            </li>
            <li>
                <a data-navbar-trigger data-navbar-level="2" href="/ranklist/#/ranklist/masters">
                    排行榜
                </a>
            </li>
            <li class="dropdown" tw-dropdown>
                <a data-navbar-trigger data-navbar-level="2" href="/web/copy/rules">
                    复制交易
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="/web/copy/rules">复制规则</a>
                    </li>
                    <li>
                        <a href="/web/copy/select">如何选择高手</a>
                    </li>
                    <li>
                        <a href="/web/copy/become">成为高手</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" tw-dropdown>
                <a data-navbar-trigger data-navbar-level="2" href="/web/product/forex">交易产品</a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="/web/product/forex">外汇</a>
                    </li>
                    <li>
                        <a href="/web/product/oil">原油</a>
                    </li>
                    <li>
                        <a href="/web/product/metal">贵金属</a>
                    </li>
                    <li>
                      <a href="/web/product/cfd">差价合约</a>
                    </li>
                    <li>
                      <a href="/web/product/time">交易时间</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" tw-dropdown>
                <a data-navbar-trigger data-navbar-level="2" href="/web/information/time">资讯</a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="/web/information/time">交易时间</a>
                    </li>
                    <li>
                        <a href="/web/information/comment">每日汇评</a>
                    </li>
                    <li>
                        <a href="/web/information/market">市场分析</a>
                    </li>
                </ul>
            </li>
            <li>
                <a data-navbar-trigger data-navbar-level="2" href="/web/agent">代理合作</a>
            </li>
            <li class="dropdown" tw-dropdown>
                <a data-navbar-trigger data-navbar-level="2" href="/web/about/tigerwit">关于老虎</a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="/web/about/stp">STP交易模式</a>
                    </li>
                    <li>
                        <a href="/web/about/team">精英团队</a>
                    </li>
                    <li>
                        <a href="/web/about/report">媒体报道</a>
                    </li>
                    <li>
                        <a href="/web/about/control">合规和监管</a>
                    </li>
                    <li>
                        <a href="/web/about/tigerwit">关于老虎金融</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
