<div>
    <ul>
        <li>
            <span>账户</span>
            <ul>
                <li ui-sref-active="active">
                    <a ui-sref="space.invest.subpage">账户概览</a>
                </li>
                <li><a href="">充值 / 提现</a></li>
                <li><a href="">我的分成</a></li>
                <li ui-sref-active="active">
                    <a ui-sref="space.invite">邀请好友</a>
                </li>
                <li><a href="">账户设置</a></li>
            </ul>
        </li>
        <li><a href="">社区</a></li>
        <li><a href="">消息</a></li>
    </ul>
</div>