<!-- 高手推荐 -->

<div class="home-sec-master">
    <div class="container">
        <div class="why-title text-center mg-tp-50">
            <p class="text-center">本期交易高手推荐</p>
            <span class="why-title__line1">&nbsp;&nbsp;</span>
        </div>
        <p class="home-sec-master__text1">
            社交投资是一种最创新、发展最快的在线金融投资交易模式，它连接了每个投资者，通过各个投资者的投资理念，投资技巧，
            <br>
            互相获得的讯息的分享和交流传播，让交易变得更有趣，更具有时效性，分享性，参与性；每个投资者通过在整个社区里互动，拉近了彼此间的距离
        </p>

        <div class="ranklist__bg ranklist__content">
        <div class="ranklist__nav">
            <div class="row">
                <div class="col-1-lg">
                    <a class="nav_item" href="">综合排名</a>
                </div>
                <div class="col-1-sm">
                    <a class="nav_item" href="">复制人数</a>
                </div>
                <div class="col-1">
                    <a class="nav_item" href="">最低复制金额</a>
                </div>
                <div class="col-1">
                    <a class="nav_item" href="">走势图</a>
                </div>
                <div class="col-1-sm">
                    <a class="nav_item" href="">最大回撤</a>
                </div>
                <div class="col-1">
                    <a class="nav_item" href="">收益率</a>
                </div>
                <div class="col-1">
                    <a class="nav_item" href="">复制者盈利</a>
                </div>
                <div class="col-1-lg">
                </div>
            </div>
        </div>
        <ul class="ranklist__lst">
            <li ng-repeat="rank in homeMasters" class="ranklist__lst_item">
                <div class="row">
                    <div class="col-1-lg">
                        <div class="ranklist_info">
                            <div class="ranklist_info__wrapper">
                                <a href="/trader/#/trader/{{rank.usercode}}/summary" class="ranklist_info__avatar" target="_blank">
                                    <img ng-src="{{ rank['link'] }}" alt="avatar">
                                </a>
                            </div>
                            <div class="ranklist_info__wrapper">
                                <div class="table">
                                    <div class="table-cell">
                                        <a class="ranklist_info__name" href="/trader/#/trader/{{rank.usercode}}/summary" title="{{ rank.username }}" target="_blank">
                                            {{ rank.username || '**' }}
                                        </a>
                                        <span class="ranklist_info__number">
                                            {{ rank.number }}#
                                        </span>
                                        <span class="ranklist_info__address">
                                            <i class="fa fa-map-marker"></i>
                                            {{ rank.address }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-sm">
                        <i class="fa fa-users"></i>{{ rank.copiers_sum || 0 }}
                    </div>
                    <div class="col-1">
                        <i class="fa fa-dollar"></i>{{ rank.copy_money_min || '0.00' }}
                    </div>
                    <div class="col-1">
                        <div tw-line-chart data-type="masterList"></div>
                    </div>
                    <div class="col-1-sm">
                        {{ rank.drawdown || '0.00' }}%
                        <span class="font-success">低</span>
                        <span ng-show="rank.drawdown_num === 1" class="font-warning">中</span>
                        <span ng-show="rank.drawdown_num === 2" class="font-danger">高</span>
                    </div>
                    <div class="col-1">
                        {{ rank.profit || '0.00' }}%
                    </div>
                    <div class="col-1">
                        <i class="fa fa-dollar"></i>{{ rank.profit_copiers || '0.00' }}
                    </div>
                    <div class="col-1-lg">
                        <a class="btn btn-primary btn-sm" href="/trader/#/trader/{{rank.usercode}}/summary" target="_blank">复制</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    
</div>        
</div>

<!-- 明星高手 -->
<div class="home-sec-starmaster">
    <div class="container">
        <div class="why-title text-center mg-tp-50">
            <p class="text-center">谁是明星交易高手</p>
            <span class="why-title__line1">&nbsp;&nbsp;</span>
        </div>
        <p class="home-sec-master__text1">
            根据你自己的喜好从最受捧的交易高手中选择跟随，自动复制订单，像高手一样交易，才能成为高手。
        </p>
        
        <div class="home-star row mg-tp-50">
            <div class="col-xs-3" ng-repeat="star in starMaster">
                <img src="images/home/star-z.png" alt="">
                <!-- <p> {{star.code}} </p> -->
                <div class="mg-tp-20 text-center">
                    <p class="home-star__title">{{star.name}}</p>
                    <p class="home-star__tip">{{star.info}}</p>
                    <span class="home-star__line"></span>
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-5">
                            <p><span class="home-star__number">{{star.total}}</span>%</p>
                            <p class="home-star__tip1">累计收益率</p>
                            <a class="home-star__method" href="">投资策略</a>
                        </div>
                        <div class="col-xs-5">
                            <p><span class="home-star__number">{{star.follow}}</span></p>
                            <p class="home-star__tip1">跟随人数</p>
                            <a class="home-star__method" href="">投资策略</a>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mg-tp-50 mg-bt-100">
            <a class="btn btn-primary btn-lg" href="">查看高手榜</a>
        </div>
    </div>
</div>
<!-- 热门交易资产 -->
<div class="home-sec-asset">
    <div class="container">
        <div class="why-title text-center mg-tp-50">
            <p class="text-center">热门交易资产</p>
            <span class="why-title__line1">&nbsp;&nbsp;</span>
        </div>

         <div class="home-asset mg-tp-50 mg-bt-100">
            <div class="row home-asset">
                <div class="col-xs-5">
                    <ul class="">
                        <li ng-repeat="product in hotProduct">
                            <div class="home-asset__gray">
                                <a class="home-asset__icon icon-forex-audnzd" href=""></a>
                            </div>
                            <div class="home-asset__white">
                                <p>{{product.name}}</p>
                                <p>
                                    <span class="font-danger">${{product.profit}} &nbsp;&nbsp;</span>
                                    <span class="font-success"> ${{product.loss}}</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-6">
                    <h2 class="mg-bt-30">投资者占比</h2>
                    <!-- eg -->
                    <div class="mg-bt-30" ng-repeat="scale in hotScale" tw-progress>
                        <div class="progress-title">
                            {{ scale.name }}
                        </div>
                        <div class="progress" >
                            <div class="scale"></div>
                            <div class="circle">
                                {{ scale.number }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>