<div class="home">
    <!-- banner  start-->
    <div class="home-banner mg-tp-84">
        <div class="container">
            <div class="carousel slide" tw-carousel>
                <div class="carousel-inner">
                    <div class="item active">
                        <h1 class="home-banner__title mg-tp-100 mg-bt-20">
                            人人都是交易高手
                        </h1>
                        <p class="home-banner__tip mg-bt-50">
                            复制全球优秀交易高手，每年有超过千万的投资可由您复制！
                        </p>
                        <a class="btn btn-primary btn-lg mg-bt-100" href="">马上注册</a>
                    </div>
                    <div class="item">
                        <h1 class="home-banner__title mg-tp-100 mg-bt-20">
                            安全保障
                        </h1>
                        <p class="home-banner__tip mg-bt-50">
                            STP直通式交易、FSP监管
                        </p>
                        <a class="btn btn-primary btn-lg mg-bt-100" href="">关于老虎</a>
                    </div>
                    <div class="item">
                        <h1 class="home-banner__title mg-tp-100 mg-bt-20">
                            活动
                        </h1>
                        <p class="home-banner__tip mg-bt-50">
                            NNNNN活动
                        </p>
                        <a class="btn btn-primary btn-lg mg-bt-100" href="">立即登录</a>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li class="current"></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
            
        </div>
    </div>
    <!-- banner  end-->

    <div class="section-white">
        <div class="container mg-tp-20 mg-bt-15 text-center">
            <div class="home-text-roll">
                <div class="marquee" tw-marquee>
                    <ul class="marquee_con1">
                        <li>
                            <span class="font-warning font-size-16">老虎金融最新动态：</span>
                            美元大涨，欧元大跌，大家赶快做空吧.
                        </li>
                        <li>
                            <span class="font-warning font-size-16">老虎金融最新动态：</span>
                            美元1111111111111空吧.
                        </li>
                        <li>
                            <span class="font-warning font-size-16">老虎金融最新动态：</span>
                            美元2222222222222快做空吧.
                        </li>
                        <li>
                            <span class="font-warning font-size-16">老虎金融最新动态：</span>
                            美3333333333333吧.
                        </li>
                    </ul>
                    <ul class="marquee_con2"></ul>
                </div>
            </div>
            
            
        </div>
    </div>

    <!-- 排行榜、-->
    <div ng-controller="RanklistAllController">
        <div class="home-sec-master">
            <div class="container">
                <div class="why-title text-center mg-tp-50">
                    <p class="text-center">本期交易高手推荐</p>
                    <span class="why-title__line1">&nbsp;&nbsp;</span>
                </div>
                <p class="home-sec-master__text1">
                    社交投资是一种最创新、发展最快的在线金融投资交易模式，它连接了每个投资者，通过各个投资者的投资理念，投资技巧，
                    <br>
                    互相获得的讯息的分享和交流传播，让交易变得更有趣，更具有时效性，分享性，参与性；每个投资者通过在整个社区里互动，拉近了彼此间的距离
                </p>
            </div>

            <% include ../ranklist/masters.html %>
            
            <!-- <div ng-include="'/views/ranklist/masters.html'"></div> -->
        </div>
    </div>
    
    
    <!-- 热门资产 -->
    <div ng-controller="HomeIndexController">
        <% include ../home/home-asset.html %>
    </div>

    <!-- 金融大师 -->
    <div class="home-sec-eg">
        <div class="container">
            <div class="row mg-tp-84">
                <div class="col-xs-4">
                    <div class="eg__photo"></div>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-7">
                    <div class="eg__con mg-tp-50">
                        <span class="eg__quote1"></span>
                        <p>老虎金融拥有最先进的自动跟单系统，无论你是否有交易经验，只要选择交易高手 并复制其投资，就可以轻松获利，人人都是为了交易来找高手，而高手的交易是为了服务人人。</p>
                        <span class="eg__quote2"></span>
                        <br><br><br>
                        <p class="eg__name">--- 吉姆 · 罗杰斯</p>
                        <p class="text-right font-dark font-size-14">国际著名投资大师</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 为什么跟单 -->
    <div class="home-sec-why">
        <div class="container">
            <div class="why-title text-center mg-tp-50">
                <p>为什么选择在老虎金融复制跟单？</p>
                <span class="why-title__line">&nbsp;&nbsp;</span>
            </div>
            <div class="why-con mg-tp-30 mg-bt-100">
                <div class="row">
                    <div class="col-xs-5 mg-rg-_20">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="why-con__logo why-con__logo1"></span>
                            </div>
                            <div class="col-xs-9">
                                <h3>人人为了交易，交易为了人人</h3>
                                <p>老虎金融拥有创新，最先进的自动跟单系统。无论你是否有过投资经验，只要选择交易高手并复制其交易，就可以轻松获 利。人人都为了交易来找高手，而高手的交易是为了服务人人。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-5 mg-lf-_20">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="why-con__logo why-con__logo2"></span>
                            </div>
                            <div class="col-xs-9">
                                <h3>互动，有趣</h3>
                                <p>体验寻找高手，复制跟单，互相交流，最终获利的乐趣及时把你的经验分享给身边的朋友，高手不再神秘，而你在投资的路上不再是孤单一人，社区化，系统化，自动化及时化而且个人化。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 mg-rg-_20">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="why-con__logo why-con__logo3"></span>
                            </div>
                            <div class="col-xs-9">
                                <h3>STP直通式交易</h3>
                                <p>老虎金融为客户提供最优的市场报价，客户的订单可以在公平的竞价市场中直接进行撮合，客户可以享有高效、自动的订单执行，完全透明的报价与市场信息、快速的交易与匿名交易等服务。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-5 mg-lf-_20">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="why-con__logo why-con__logo4"></span>
                            </div>
                            <div class="col-xs-9">
                                <h3>丰富的交易资产</h3>
                                <p>老虎金融提供外汇，贵金属，原油，CFD（差价合约）等近千种交易资产，不额外添加任何交易佣金，与世界顶级银行对接，保证交易种类丰富的同时，也保证每一笔订单公正，公平，透明，时效。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>