<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width,initial-scale=0.2,maximum-scale=1.0,user-scalable=0">
  <title>TigerWit Global</title>
    <% include /common/vendor/web.css.html %>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->
    <% include /common/statistic/main.html %>
    <% include /common/vendor/web.js.html %>
</head>

<body>
  <div class="bd_creex">
    <div class="bd_creex_header">
      <div class="clearfix bd_creex_container">
          <a class="bd_open_account fr" href="<%= page === 'web' ? '/space/#/account/register?R_GRUPOCREEX=001' : '/download?R_GRUPOCREEX=001'%>">Open an account</a>
          <ul class="fr">
            <li><a class="bd_navbar_home" href="">Home</a></li>
          </ul>
      </div>
    </div>
    <div class="bd_creex_focus"> 
      <div class="bd_creex_container clearfix">
        <div class="fl bd_creex_focus_l">
          <p class="mg-bt-80"><img src="/white_label/bd_forextrading/logo.png" alt=""></p>
          <h2>Trade the markets you want, the way you want. </h2>
          <a href="<%= page === 'web' ? '/space/#/account/register?R_GRUPOCREEX=001' : '/download?R_GRUPOCREEX=001'%>"><img src="/white_label/bd_creex/account-btn.png" alt=""></a>
          <p class="cont1">
              TigerWit provides access to global financial markets on a
              stylish, easy to use app that’s tailored for the convenient
              and cutting-edge trading experience that every
              trader deserves.
          </p>
          <p class="cont2">Trade FX | Metals | Indices | Commodities | Cryptocurrencies</p>
          <div><img src="/white_label/bd_creex/b-icon.png" alt=""></div>
        </div>
        <div class="fr bd_creex_focus_r">
          <div><img src="/white_label/bd_creex/logo-icon.png" alt=""></div>
          <div><img src="/white_label/bd_creex/phone1.png" alt=""></div>
        </div>
      </div>
    </div>
    <div class="bd_creex_content">
      <div class="bd_creex_container">
        <h2>The TigerWit Trading Platform</h2>
        <div class="list">
          <div class="list_item">
            <span class="icon"><img src="/white_label/bd_creex/icon1.png" alt=""></span>
            <span class="info">Trade Forex globally </span>
          </div>
          <div class="list_item">
            <span class="icon"><img src="/white_label/bd_creex/icon2.png" alt=""></span>
            <span class="info">Official Online Foreign
                Exchange Trading Partner
                for Liverpool FC</span>
          </div>
          <div class="list_item">
            <span class="icon"><img src="/white_label/bd_creex/icon3.png" alt=""></span>
            <span class="info">Trade on a simple and
                cutting-edge app </span>
          </div>
          <div class="list_item">
            <span class="icon"><img src="/white_label/bd_creex/icon4.png" alt=""></span>
            <span class="info">Innovative and easy
                to follow copy-trading
                options</span>
          </div>
          <div class="list_item">
            <span class="icon"><img src="/white_label/bd_creex/icon5.png" alt=""></span>
            <span class="info">Powered by blockchain</span>
          </div>
          <div class="list_item">
            <span class="icon"><img src="/white_label/bd_creex/icon6.png" alt=""></span>
            <span class="info">SCB and FCA regulated</span>
          </div>
        </div>
        <div class="phone2">
          <img src="/white_label/bd_creex/phone2.png" alt="">
        </div>
        <div class="creex_btn_wrapper">
          <img src="/white_label/bd_creex/logo-icon.png" alt="">
          <a href="/white_label/bd_creex/GRUPO CREEX CERTIFICATE.pdf" target="_blank">See Certificate of Partnership</a>
        </div>
        <div class="creex_footer">
          <h4 class="">Download the app today </h4>
          <div class="download_stars"><img src="/white_label/bd_eshot/stars.png" alt=""></div>
          <div class="download_btn_wrapper">
              <a href="https://go.onelink.me/RHp8/1d5c8aa2" style="margin-right: 25px;"><img src="/white_label/bd_forextrading/google_btn.png" alt=""></a>
              <a href="https://go.onelink.me/RHp8/1d5c8aa2"><img src="/white_label/bd_forextrading/store_btn.png" alt=""></a>
          </div>
          <p>Trading CFDs involves risk and can result in loss of your capital.</p>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
</body>
<!-- build:js(client) /scripts/bd_creex.js -->
<script src="/scripts/bd/bd_creex/index.js"></script>
<!-- endbuild -->
</html>