<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords"
    content="TigerWit, Foreign Exchange Investment and Financing, Gold and Silver Trading Platform, Forex Trading Platform, Forex Trading Master, Forex Inducing Broker,Electronic Finance.">
  <meta name="description"
    content="With a strong technological core, TigerWit offers its clients exceptional capabilities to trade in the markets. Forex margin trading system.Forex analysis software,Forex demo trading platform,Forex strategy, Forex financing,forex trading master.">
  <meta name="apple-mobile-web-app-title" content="<%= lang.text('companyZhName')%>">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <!--禁用缓存-->
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <title><%= lang.text('companyZhName')%></title>
</head>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>

<body>
  <div class="livepool-event">
    <div class="livepool-event__bg1">
      <div class="livepool-event__width ">
        <div class="livepool-event__logo">
          <div>
            <img src="/white_label/bd/livepool/tgl-logo.png" alt="">
          </div>

        </div>
        <div class="livepool-event__banner">
          <div class="livepool-event__banner-lf">
            <h4 class="title">Do you have what it takes
              to be top of The TigerWit
              Global Traders League?</h4>
            <h6 class="time">2019/09/22-2019/10/22</h6>
            <p class="con">Test your trading skills with $10,000USD of
              virtual funds on our Demo account.</p>
            </br>
            </br>
            <div class="btn-row">

              <button class="btn">
                Enter the league
              </button>
              <div class="mg-lf-10"></div>

              <div class="phone-have">
                <button class="btn rulesBtn">
                  Rules
                </button>
              </div>
            </div>
            <div class="pc-have">
              <div class="rules cursor_pointer rulesBtn">The Global Traders League Rules ></div>
            </div>

          </div>
          <div class="livepool-event__banner-rg">
            <img src="/white_label/bd/livepool/prize-en.png" alt="">
          </div>
        </div>

      </div>
    </div>

    <div class="livepool-event__bg2">
      <div class="livepool-event__width">
        <div class="livepool-event__prizes">
          <h4 class="livepool-event__tit">
            <div class="tit">Win amazing prizes!</div>
          </h4>
          <div class="livepool-event__con">
            <p class="livepool-event__p">Traders from across the world will be channelling the thrill and excitement of
              the football pitch as they compete like the elite and battle it out to become the winner of TigerWit’s
              first ever annual contest – The TigerWit Global Traders League.</p></br>
            <p class="livepool-event__p">Our innovative, easy to use app will ensure a fair competition of skill and
              ambition, all in the name of good sport. With exclusive prizes, up for grabs, TigerWit’s playing field is
              wide open for one superstar trader to seize the opportunity to step out into the floodlights and declare
              themselves worthy of claiming victory. </p></br>
            <ul class="livepool-event__con-lst">
              <li>1st Place: TV LCD Screen</li>
              <li>1st Place: TV LCD Screen</li>
              <li>1st Place: TV LCD Screen</li>
            </ul>
            <p class="livepool-event__p">1st and 2nd winners will also get Liverpool signed merchandise</p>
          </div>
        </div>
        <div class="livepool-event__league">
          <h4 class="livepool-event__tit">
            <div class="tit">League Table</div>
            <p class="livepool-event__p">(table below is for illustration purpose only)</p>
          </h4>
          <div class="livepool-event__con">
            <ul class="livepool-event__con-table">
              <li class="">
                <div>PLACE</div>
                <div>ACCOUNT NUMBER</div>
                <div>PROFITABILITY</div>
              </li>

              <li>
                <div>#1</div>
                <div>45836382</div>
                <div>745.41%</div>
              </li>
              <li>
                <div>#2</div>
                <div>45836382</div>
                <div>745.41%</div>
              </li>
              <li>
                <div>#3</div>
                <div>45836382</div>
                <div>745.41%</div>
              </li>
              <li>
                <div>#4</div>
                <div>45836382</div>
                <div>745.41%</div>
              </li>
              <li class="active">
                <div>#5</div>
                <div>45836382</div>
                <div>745.41%</div>
              </li>
            </ul>
            <br>
            <br>
            <div class="text-center">
              <button class="btn">Enter the league</button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="rulesCon" class="hidden">
    <div class="livepool-event__lay">
      <div class="livepool-event__lay-tit">
        <h5>The Global Traders League Rules</h5>
        <i class="fa fa-times closed"></i>
      </div>
      <div class="livepool-event__lay-con">
        <h6 class="mg-tp-0">How to enter:</h6>
        <h6 class="mg-tp-0">New Clients:</h6>
        <ul>
          <li>1. Register and activate the League account.
          </li>
          <li>2. Virtual funds will then become available to the trader.
          </li>
          <li>3. Traders can monitor their positions on the league table 5 days after the competition’s launch.
          </li>
        </ul>
        <h6>Existing clients:
        </h6>
        <ul>
          <li>1. All traders need to open a league account. </li>
          <li>2. Traders must open some trades on their league account</li>
          <li>3. Traders can monitor their positions on the league table 5 days after the competition’s launch. </li>
        </ul>
        <h6>The Global Traders League rules: </h6>
        <ul>
          <li>1. The client must open a League account in order to participate. </li>
          <li>2. The client must open a position on the League account in order to be eligible. </li>
          <li>3. Participants can monitor their rankings in real-time, on a separate landing page. </li>
          <li>4. The top-ranked, most profitable trader based on the highest net worth will receive the winning prize.
          </li>
          <li>5. Two runners-up will receive runner-up prizes at TigerWit’s discretion. </li>
        </ul>
        <h6>Trading and Ranking Rules:</h6>
        <ul>
          <li>The system will start to record the results from 0:00 (GMT+4 )1st of October to 12:00PM (GMT+4) 31st of
            October.</li>
          <li>All trades must be closed before the competition ends. The final profit result will not include any open
            positions.</li>

        </ul>
      </div>

    </div>
  </div>
</body>

<% include /common/vendor/h5.js.html %>

<!-- build:js(client) /scripts/bd_livepool.js -->
<script src="/scripts/bd/livepool/h5.js"></script>
<!-- endbuild -->

</html>