<div class="system_modal">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="system_modal__title">
        历史交易
    </h5>

<div class="">
    <div class="trader_history">
        <div tw-loading-img></div>

        <table class="table table-header table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>操作</th>
                    <th>开仓价</th>
                    <th>平仓价</th>
                    <th>持仓时间</th>
                    <th>点数</th>
                    <th>收益</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders" ng-if="orders.length > 0">
                    <td class=""> 
                        <div class="history-operation-td text-left">
                        <span class="icon-histroy icon-forex-{{ order.symbol.toLowerCase() }}">
                            
                        </span>
                        <div class="history-operation-box">
                            <p class="text-left">
                                <span ng-class="order.action?'font-down':'font-up'">
                                    {{ order.action ? '买跌' : '买涨' }}
                                </span>
                                <span class="font-info">
                                    {{ order.symbol | symbolMod:'zh' }}
                                </span>
                            </p>
                            <p class="text-left font-size-12">
                                <span class="history-operation-way">{{order.close_type_name}}</span>
                                <span>{{order.ago | duration}}前</span>
                            </p>
                        <div>
                        <div>
                    </td>
                    <td>
                        <i class="fa fa-dollar"></i>{{ order.open_price }}
                    </td>
                    <td>
                        <i class="fa fa-dollar"></i>{{ order.close_price }}
                    </td>
                    <td>
                        {{ order.position_time | duration }}
                    </td>
                    <td ng-class="{'font-danger': order.profit.indexOf('-') >= 0, 'font-success': order.profit.indexOf('-') < 0}">
                        {{ order.points }}
                    </td>
                    <td ng-class="{'font-danger': order.profit.indexOf('-') >= 0, 'font-success': order.profit.indexOf('-') < 0}">
                        <i class="fa fa-dollar"></i>{{ order.profit }}
                    </td>
                </tr>
                <tr ng-if="orders.length <= 0">
                    <td colspan="6">
                        无数据
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-right mg-rg-15">
            <div tw-pagination></div>
        </div>
    </div>
</div>

</div>
