<div class="system_modal t29_modal">
	<div class="t29_close_modal" ng-click="closeModal()"></div>
    <div class="system_modal__content">
    	<p>尊敬的{{username}}</p>
    	<p class="succ">恭喜您！您已成功报名{{game_name}}比赛!</p>

    	<p>温馨提示：</p>
    	<p>模拟盘起始资金5000美金，将于比赛当天将信用金打至您的账户，请注意查收！ </p>
    	<p>模拟盘比赛时间：2016年5月16日 00:00至2016年5月27日 23:59</p>
    	<p class="sign">TigerWit老虎金融</p>
    	<p class="sign">{{date}}</p>
    </div>
    <div>
    	<div class="confirm_box">
	    	<div class="arrow"></div>
    		<input type="button" class="confirm" ng-click="closeModal()"value="确定" />
    	</div>
    </div>
</div>
