<div class="system_modal">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="system_modal__title">
        系统提示
    </h5>

    <div class="system_modal__content">
        <p class="system_modal__info">
            登录后才能报名
        </p>

        <p class="system_modal__btn_wrapper">
            <button class="btn btn-primary btn-sm" ng-click="toLogin()">
                登录
            </button>
            <button class="btn btn-primary btn-sm" ng-click="toLogin()">
                注册
            </button>
        </p>
    </div>

</div>
