<div class="ranklist_banner">
    <div class="ranklist_banner__tip">
        <p>{{ lang.text("companyNameEn") }} 复制跟单系统</p>
        <p>人人都是投资高手</p>
    </div>
</div>
<div class="container">
    <div class="ranklist">
        <div class="ranklist__navbar">
            <ul class="ranklist__navbar-lst clearfix">
                <li ng-class="{active: rankOrder == 'thirty_profit_rate'}" ng-click="changeRankOrder('thirty_profit_rate')">
                    收益率
                    <i class="fa fa-caret-down"></i>
                </li>
                <li ng-class="{active: rankOrder == 'thirty_max_retract'}" ng-click="changeRankOrder('thirty_max_retract')">
                    最大跌幅
                    <i class="fa fa-caret-down"></i>
                </li>
                <li ng-class="{active: rankOrder == 'thirty_win_rate'}" ng-click="changeRankOrder('thirty_win_rate')">
                    胜率
                    <i class="fa fa-caret-down"></i>
                </li>
                <!-- <li ng-class="{active: rankOrder == 'min_follow'}" ng-click="changeRankOrder('min_follow')">
                    <i class="fa fa-dollar"></i>
                    最低复制金额
                    <i class="fa fa-caret-down"></i>
                </li> -->
            </ul>
        </div>
        <!-- <div class="ranklist__search clearfix">
            <div class="ranklist__search-item" ng-click="showSearchList($event, 'cycle')">
                交易周期
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="search-list" ng-show="search.cycle">
                    <div class="tit">
                        交易周期
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <ul class="lst">
                        <li>哟呦切克闹</li>
                        <li>煎饼果子来一套</li>
                        <li>哟呦切克闹</li>
                        <li>煎饼果子来一套</li>
                    </ul>
                </div>
            </div>
            <div class="ranklist__search-item" ng-click="showSearchList($event, 'preference')">
                交易偏好
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="search-list" ng-show="search.preference">
                    <div class="tit">
                        交易偏好
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <ul class="lst">
                        <li>哟呦切克闹</li>
                        <li>煎饼果子来一套</li>
                        <li>哟呦切克闹</li>
                        <li>煎饼果子来一套</li>
                    </ul>
                </div>
            </div>
            <div class="ranklist__search-item" ng-click="showSearchList($event, 'forex')">
                外汇交易
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="search-list" ng-show="search.forex">
                    <div class="tit">
                        外汇交易
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <ul class="lst">
                        <li>哟呦切克闹</li>
                        <li>煎饼果子来一套</li>
                        <li>哟呦切克闹</li>
                        <li>煎饼果子来一套</li>
                    </ul>
                </div>
            </div>

            <div class="ranklist__search-box">
                <input type="text"
                       class="ranklist__search-input"
                       placeholder="搜索投资者">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div> -->
        <div class="ranklist_cont clearfix">
            <div tw-loading-img></div>
            <div class="ranklist_cont__master" ng-repeat="rank in ranklist track by $index">
                <div class="ranklist_cont__master-info clearfix">
                    <a class="avatar" href="/trader/{{rank.user_code}}/#/trader/summary" target="_blank">
                        <img ng-src="/avatar/{{ rank.user_code }}_150.jpg" alt="avatar">
                    </a>
                    <div class="user">
                        <a class="name" href="/trader/{{rank.user_code}}/#/trader/summary" target="_blank">
                            {{ rank.username || '-' }}
                        </a>
                    </div>
                </div>
                <div class="ranklist_cont__master-trade clearfix">
                    <div class="profit">
                        <div class="num" ng-class="{'font-danger': (rank.thirty_profit_rate + '').indexOf('-') < 0, 'font-success': (rank.thirty_profit_rate + '').indexOf('-') != -1}">
                            {{ rank.thirty_profit_rate }}<span>%</span>
                        </div>
                        <div class="tip">
                            近30日收益率
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="num" ng-class="{'font-danger': (rank.thirty_win_rate + '').indexOf('-') < 0, 'font-success': (rank.thirty_win_rate + '').indexOf('-') != -1}">
                            {{ rank.thirty_win_rate }}%
                        </div>
                        <div class="tip">
                            近30日胜率
                        </div>
                    </div>
                </div>
                <div class="ranklist_cont__master-copy clearfix">
                    <div class="info">
                        <div class="copiers">
                            <span class="num">
                                {{ rank.history_copy_count || '0' }}
                            </span>
                            <span class="tip">历史跟随者</span>
                        </div>
                        <!--<div class="rate">
                            <span class="num">
                                <i class="fa fa-dollar"></i>{{ rank.min_copy_amount }}
                            </span>
                            <span class="tip">最低复制金额</span>
                        </div>-->
                    </div>
                    <div class="copy_btn_wrapper">
                        <a href="/trader/{{rank.user_code}}/#/trader/summary" target="_blank" class="copy_btn">复制</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <div tw-pagination></div>
        </div>
    </div>
</div>
