<div class="">
    <div class="mg-200__bg">
        <h3 class="mg-200__circle-title"><%= lang.text("cfd2")%></h3>
        <p class=" mg-tp-20">
            <%= lang.text("cfd4")%>
        </p>
        <div>
            <h4 class="mg-200__two-title mg-tp-40 pd-bt-20">
                <%= lang.text("cfd5")%>
            </h4>
             <ul class="mg-200__list-bg none clearfix pd-tp-30" tw-highest-match>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                            
                            <%= lang.text("cfd6")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("cfd7")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                
                            <%= lang.text("cfd8")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("cfd9")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                
                            <%= lang.text("cfd10")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("cfd11")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                
                            <%= lang.text("cfd12")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("cfd13")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                
                            <%= lang.text("cfd14")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("cfd15")%>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <h4 class="mg-200__two-title pd-bt-20">
                <%= lang.text("cfd16")%>
            </h4>
            <p>
                <%= lang.text("cfd17")%>
            </p>
            <p>
                <%= lang.text("cfd18")%><span class=""><%= lang.text("cfd19")%></span><%= lang.text("cfd20")%>
            </p>
        </div>
        <div>
            <h4 class="mg-200__two-title mg-tp-50 pd-bt-20">
                <%= lang.text("cfd21")%>
            </h4>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="8%">
                    <col width="12%" ng-if="!lang.isEnglish()">
                    <col width="12%">
                    <col width="10%">
                    <col width="8%">
                    <col width="15%">
                    <col width="15%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th><%= lang.text("cfd22")%></th>
                        <th ng-if="!lang.isEnglish()"><%= lang.text("cfd23")%></th>
                        <th><%= lang.text("cfd24")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd26")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd27")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd28")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd29")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd30")%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="cfd" ng-repeat="item in cfd" ng-cloak>
                        <td>{{ item.name_en }}</td>
                        <td class="pro-public__no-padding" ng-if="!lang.isEnglish()">{{ item.name_zh }}</td>
                        <td>{{ item.volum }}</td>
                        <td>{{ item.min_volum }}</td>
                        <td>{{ item.max_volum }}</td>
                        <td class="pro-public__no-padding">{{ item.trade_time }}</td>
                        <td class="pro-public__no-padding">{{ item.quote_time }}</td>
                        <td class="pro-public__no-padding">{{ item.desp }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="font-tip mg-tp-20">
                <%= lang.text("platformTimeNote")%>
            </div>
        </div>
    </div>
</div>
