<div>
    <div class="mg-200__bg">
        <h1 class="mg-200__circle-title pd-bt-20"><span><%= lang.text("navbar6")%></span></h1>
        <p class="">
            <%= lang.text("forex1")%>
        </p>
        <p class="">
            <%= lang.text("forex2")%>
        </p>
        <div>
            <div class="mg-200__two-title mg-tp-40 pd-bt-20">
                <%= lang.text("forex3")%>
            </div>
            <p class="">
                <%= lang.text("forex4")%>
            </p>
            <%if (lang.currentLanguage() == 'en'){%>
            <div >
                <button>Centralised CTA Button – Start Trading Today</button>
                <p>We offer a wide range of payment options that make depositing and withdrawing funds easy in a simple, quick and secure manner.</p>
                <p>Our Forex trading market conditions are highly competitive and we offer a range of account types to support individual trader needs.</p>
                <p>For institutional traders and those with their own client base, we also offer a wide range of IB, affiliate and white label solutions to help promote your business.</p>
            </div>
            <% } %>
            <div class="mg-200__two-title mg-tp-40 pd-bt-20">
                <%= lang.text("forex5")%>
            </div>
            <ul class="mg-200__list-bg none pd-tp-30" tw-highest-match>
                <li class="mg-200__list-bg-item">
                    <div>
                        <div class=" title">
                            <%= lang.text("forex6")%>
                        </div>
                        <p class=" content">
                            <%= lang.text("forex7")%>
                        </p>
                    </div>
                    
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <div class="title">
                        <%= lang.text("forex9")%>
                        </div>
                        <p class="content">
                            <%= lang.text("forex10")%>
                        </p>
                    </div>
                    
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <div class="title">
                            <%= lang.text("forex13")%>
                        </div>
                        <p class="content">
                            <%= lang.text("forex14")%>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <%if (lang.currentLanguage() == 'en'){%>
        <div >
            <div class="mg-200__two-title pd-bt-20">Trading around the clock
            </div>
            <p>With TigerWit you can trade in a wide range of Forex majors and leading commodities 24 hours a day, as the market moves around the world from Tokyo and Hong Kong, through to London and New York.</p>
            <p>Forex trading is carried on continuously from late on a Sunday evening London time through to the close of New York on the following Friday evening. During that time Forex traders will speculate on the value of one currency versus another. Whether they are individual traders or those who trade Forex for a bank or other institution, they all look to make a profit out of their currency trading.</p>
            <br>
            <p>In Forex trading you take a view on the relative values of two currencies one of which you expect to rise in value the other you expect to fall in value hence the term currency pairs, which is used to describe those Forex rates that contain either the US dollar or the Euro. All other Forex rates that do not contain the US dollar are known as Forex crosses.</p>
        </div>
        <div >
            <div class="mg-200__two-title pd-bt-20">Popular Currency pairs
            </div>
            <p>The most popular and widely traded currency pairs are Euro Dollar (EURUSD) the Forex rate between the single European currency or Euro (EUR) and the US dollar (USD).</p>
            <p>USDJPY, also known as dollar-yen, and GBPUSD the British pound versus the US dollar vie for second place in terms of popularity. Followed by the US currency versus the Australian and Canadian dollars. The British pound US dollar Forex rate is also known as Cable, after the telegraph line or cable that was laid between London and New York in the late 19th century.
            </p>
            <p>As a rule of thumb, the larger the economic trade between two countries or regions then the more actively traded their Foreign exchange rates will be.
            </p>
        </div>
        <div >
            <div class="mg-200__two-title pd-bt-20">What moves exchange rates?
            </div>
            <p>The Forex market and its exchange rates are influenced by the flow of information. Traders and FX prices respond to changes in information, from sources such as economic data, politics, commerce, the weather and natural disasters.
            </p>
            <p>Traders in Forex take positions in the market based on those information changes and what they think the new information will mean for prices on the foreign exchanges.</p>
            <p>For example, if we see a fall in US unemployment rates that might suggest that the US economy is growing and therefore the US dollar may rise in value. Traders would expect to see changes in the prices of Dollar based FX pairs which might rise in value on the foreign exchange markets.</p>
            <p>FX markets and the value of the currency pairs, and other exchange rates in them, can also be influenced by politics and conflicts. For example, conflict in the middle east can often limit the supply and transport of oil.</p>
            <p>Economies such as Japan rely heavily on oil imports and rising oil prices may, therefore, mean Japan’s economy becomes less efficient, affecting the value of the Japanese yen in the Forex markets.
            </p>
        </div>
        <div >
            <div class="mg-200__two-title pd-bt-20">How do you get started in FX trading?
            </div>
            <p>To get started in Forex trading you will need to open an account with a broker through which you can place your trades on currency pairs and other instruments. You will also need to deposit money into your account.
            </p>
            <p>When we look at an FX quote, whether it is for FX pair or cross we see that is made up of two currencies these are known as the base currency and the quote currency 
            </p>
            <p>The base currency is always the first-named currency and the quote currency is the second-named currency, in the FX rate. So, in GBPUSD, the foreign exchange rate between the British pound and the US dollar, the base currency is the GBP and the quote currency is USD.</p>
        </div>
        <button>CTA Button – Start Trading Today</button>
        <div >
            <div class="mg-200__two-title pd-bt-20">How does Forex trading work?
            </div>
            <p>When we trade in the Forex markets, we take a view on the value of not just one currency but two. If we believe that the British pound will rise in value as part of the GBPUSD Forex rate, then we must also believe that the US dollar will weaken or fall in value. </p>
            <p>To back your view, you would buy GBPUSD and in doing so we would be buying the British Pound and selling the USD. We are buying the base currency and selling the quote currency as a Forex trade.</p>
            <p>Not only are there two currencies within a Forex quote, but there are also two prices: the bid and the ask or offer. The bid for the forex quote is on the right-hand side and this is the price at which you can sell the particular FX rate in the markets whilst the price on the left-hand side of the forex quote is the price at which you but that particular FX rate in the forex market. </p>
            <p>However, if you believe that the US dollar will strengthen as part of the GBPUSD forex rate then you will sell GBP as the base currency and buy USD as the quote currency and you will do so at the bid price of that Forex quote.</p>
        </div>
        <div >
            <div class="mg-200__two-title pd-bt-20">When can you trade Forex?
            </div>
            <p>Trading the markets is not that complicated once you know how they work and what trading involves, and that FX trading takes place 24 hours per day, 5 days a week. 
            </p>
            <p>24-hour trading in Forex means that you should be able to find time for your own trading, and thanks to TigerWit’s trading app, you can do your trading from just about anywhere you find a reliable connection to the internet. That means that you can still be trading when you are travelling or on the go.
            </p>
        </div>
        <div >
            <div class="mg-200__two-title pd-bt-20">Tips for FX trading
            </div>
            <p>The aim of trading, of course, is to make profitable trades and not losing ones. So, you do need to think carefully before you place a trade in the Forex markets. You need to ensure that your idea is well thought out and consider what other traders are thinking and doing. And you need to “size” your trade correctly that is making sure that your trade does not involve too much risk.
            </p>
        </div>
        <div >
            <div class="mg-200__two-title pd-bt-20">The role leverage in Forex trading
            </div>
            <p>Trading in foreign exchange takes place on a margined or leveraged basis. A client’s deposit is geared up so that they can trade in a much larger size with the forex markets than would otherwise be possible. That leverage can be a great asset when you are trading Forex because it can magnify your profits, but it can also magnify your losses.
            </p>
        </div>
        <div >
            <div class="mg-200__two-title pd-bt-20">Practise your Forex trading in our demo environment 
            </div>
            <p>TigerWit provides traders with access to its experience account. This is a practice account that simulates the live trading conditions found in the Forex markets in which you can learn and practice your Forex trading, You can become familiar with placing opening or closing trades, or cancelling or amending those trades. You will get to know how Forex prices move and what factors can influence them and gain an understanding of where to place stop losses to limit the risk in your trading.</p>
            <p>You can learn how charts can help forex traders to spot trading opportunities and trading ideas in the forex markets. All of this is available to you without you having to risk your own money in our fully functional demo trading environment. Once you are familiar with how the trading and charting platforms work and are feeling confident then you will ready for live trading in the real Forex markets.</p>
        </div>
        <% } %> 

        <%if (lang.currentLanguage() != 'en'){%>
        <div>
            <div class="mg-200__two-title pd-bt-20">
                <%= lang.text("forex15")%>
            </div>
            <p class="">
                <%= lang.text("forex16")%>
            </p>
            <p>
                <%= lang.text("forex17")%><span class=""><%= lang.text("forex18")%></span><%= lang.text("forex19")%>
            </p>
        </div>
        <% } %> 
        <div >
            <div class="mg-200__two-title mg-tp-50 pd-bt-20">
                <%= lang.text("forex20")%>
            </div>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="10%">
                    <col width="10%" ng-if="!lang.isEnglishArea()">
                    <col width="11%">
                    <col width="12%">
                    <col width="8%">
                    <col width="13%">
                    <col width="10%">
                    <col width="20%">
                    <col width="8%">
                </colgroup>
                <thead>
                    <tr>
                        <th><%= lang.text("forex21")%></th>
                        <th ng-if="!lang.isEnglishArea()"><%= lang.text("forex22")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("forex23")%> <br>(<%= lang.text("forex24")%>)</th>
                        <th class="pro-public__no-padding"><%= lang.text("forex25")%></th>
                        <th><%= lang.text("forex26")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("forex27")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("forex28")%><br> <%= lang.text("forex29")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd28")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd28_2")%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="forex" ng-cloak ng-repeat="item in forex">
                        <td>{{ item.symbol }}</td>
                        <td ng-if="!lang.isEnglishArea()">{{ item.symbol_cn }}</td>
                        <td>{{ item.spread_tiger }}</td>
                        <td>{{ item.leverage.join(' ') }}</td>
                        <td>{{ item.digits }}</td>
                        <td>{{ item.lot_min }}</td>
                        <td>{{ item.contract_size }}</td>
                        <td class="pro-public__no-padding">{{ item.info_trade_session }}</td>
                        <td>{{ item.timezone }}</td>
                    </tr>
                    <tr>
                        <td class="font-info" colspan="9">
                            <%= lang.text("forex36")%>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="showFolder">
                <div ng-show="forex.length >= 6 && !unfold" class="text-center" ng-cloak>
                    <a class="btn btn-text font-size-14" ng-click="unfoldFun()">
                        <%=lang.text('more')%>
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
                <div ng-show="forex.length >= 6 && unfold" class="text-center">
                    <a class="btn btn-text font-size-14" ng-click="foldFun()" ng-cloak>
                        <%=lang.text('fold')%>
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
            <div class="font-tip mg-tp-20">
                <%= lang.text("platformTimeNote")%>
            </div>
        </div>

        <%if (lang.currentLanguage() == 'en'){%>
            <button>CTA Button – Start Trading Today</button>
        <% } %> 
    </div>
</div>
