<div>
    <div class="mg-200__bg">
        <h3 class="mg-200__circle-title"><span><%= lang.text("navbar7")%></span></h3>
        <p class=" mg-tp-30">
            <%= lang.text("oil1")%>
        </p>
        <div>
            <h4 class="mg-200__two-title mg-tp-40 pd-bt-20">
                <%= lang.text("oil2")%>
            </h4>
            <p class="">
                <%= lang.text("oil3")%>
            </p>
            <h4 class="mg-200__two-title mg-tp-40">
                <%= lang.text("oil4")%>
            </h4>
            <ul class="mg-200__list-bg none pd-tp-30" tw-highest-match>
                <li class="mg-200__list-bg-item">
                    <div>
                        <h5 class="title">
                            <%= lang.text("oil7")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil8")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <h5 class="title">
                            <%= lang.text("oil9")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil10")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <h5 class="title">
                            <%= lang.text("oil11")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil12")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <h5 class="title">
                            <%= lang.text("oil13")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil14")%>
                        </p>
                    </div>
                    
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <h5 class="title">
                        <%= lang.text("oil15")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil16")%>
                        </p>
                    </div>
                    
                </li>
                <li class="mg-200__list-bg-item"></li>
            </ul>
        </div>
        <div class="pd-bt-20">
            <h4 class="mg-200__two-title pd-bt-20">
                <%= lang.text("oil17")%>
            </h4>
            <p class="">
                <%= lang.text("oil18")%>
            </p>
            <p><%= lang.text("oil19")%><span class=""><%= lang.text("oil20")%></span><%= lang.text("oil21")%>
            </p>
        </div>
        <div>
            <h4 class="mg-200__two-title pd-bt-20">
                <%= lang.text("oil22")%>
            </h4>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="8%">
                    <col width="8%" ng-if="!lang.isEnglishArea()">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="10%">
                    <col width="10%">
                    <col width="8%">
                    <col width="16%">
                </colgroup>
                <thead>
                    <tr>
                        <th><%= lang.text("oil23")%></th>
                        <th class="pro-public__no-padding" ng-if="!lang.isEnglishArea()"><%= lang.text("oil24")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil25")%></th>
                        <th><%= lang.text("oil26")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil27")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil28")%></th>
                        <th><%= lang.text("oil29")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil30")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil31")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd28_2")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil32")%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="oil" ng-cloak ng-repeat="item in oil">
                        <td>{{ item.symbol }}</td>
                        <td ng-if="!lang.isEnglishArea()">{{ item.symbol_cn }}</td>
                        <td class="pro-public__no-padding">{{ item.contract_size }}</td>
                        <td>{{ item.lot_step }}</td>
                        <td>{{ item.lot_min }}</td>
                        <td>{{ item.lot_max }}</td>
                        <td>{{ item.comm_base }}</td>
                        <td class="pro-public__no-padding">
                            {{ item.info_trade_session }}
                        </td>
                        <td class="pro-public__no-padding">
                            {{ item.info_quote_session }}
                        </td>
                        <td>{{ item.timezone }}</td>
                        <td class="pro-public__no-padding">{{ lang.text('productInfo.oil.' + item.symbol) === ('productInfo.oil.' +  item.symbol) ? '-' : lang.text('productInfo.oil.' + item.symbol) }}</td>
                    </tr>
                    </tr>
                </tbody>                
            </table>
            <div ng-show="showFolder">
                <div ng-show="oil.length >= 6 && !unfold" class="text-center" ng-cloak>
                    <a class="btn btn-text font-size-14" ng-click="unfoldFun()">
                        <%=lang.text('more')%>
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
                <div ng-show="oil.length >= 6 && unfold" class="text-center">
                    <a class="btn btn-text font-size-14" ng-click="foldFun()" ng-cloak>
                        <%=lang.text('fold')%>
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
            <div class="font-tip mg-tp-20">
                <%= lang.text("platformTimeNote")%>
            </div>
        </div>
    </div>
</div>
