<div>
    <div class="mg-200__bg">
        <h3 class="mg-200__circle-title"><%= lang.text("navbar7")%></h3>
        <p class=" mg-tp-30">
            <%= lang.text("oil1")%>
        </p>
        <div>
            <h4 class="mg-200__two-title mg-tp-40 pd-bt-20">
                <%= lang.text("oil2")%>
            </h4>
            <p class="">
                <%= lang.text("oil3")%>
            </p>
            <h4 class="mg-200__two-title mg-tp-40">
                <%= lang.text("oil4")%>
            </h4>
            <ul class="mg-200__list-bg none clearfix pd-tp-30" tw-highest-match>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                            <%= lang.text("oil7")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil8")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                            <%= lang.text("oil9")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil10")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                            <%= lang.text("oil11")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil12")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                            <%= lang.text("oil13")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil14")%>
                        </p>
                    </div>
                    
                </li>
                <li class="mg-200__list-bg-item col-xs-4">
                    <div>
                        <h5 class="title">
                        <%= lang.text("oil15")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("oil16")%>
                        </p>
                    </div>
                    
                </li>
            </ul>
        </div>
        <div class="pd-bt-20">
            <h4 class="mg-200__two-title pd-bt-20">
                <%= lang.text("oil17")%>
            </h4>
            <p class="">
                <%= lang.text("oil18")%>
            </p>
            <p><%= lang.text("oil19")%><span class=""><%= lang.text("oil20")%></span><%= lang.text("oil21")%>
            </p>
        </div>
        <div>
            <h4 class="mg-200__two-title pd-bt-20">
                <%= lang.text("oil22")%>
            </h4>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="8%">
                    <col width="8%" ng-if="!lang.isEnglishArea()">
                    <col width="8%">
                    <col width="8%">
                    <col width="9%">
                    <col width="9%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th><%= lang.text("oil23")%></th>
                        <th class="pro-public__no-padding" ng-if="!lang.isEnglishArea()"><%= lang.text("oil24")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil25")%></th>
                        <th><%= lang.text("oil26")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil27")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil28")%></th>
                        <th><%= lang.text("oil29")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil30")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil31")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil32")%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="oil" ng-cloak ng-repeat="item in oil">
                        <td>{{ item.name_en }}</td>
                        <td ng-if="!lang.isEnglishArea()">{{ item.name_zh }}</td>
                        <td class="pro-public__no-padding">{{ item.volum }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.min_volum }}</td>
                        <td>{{ item.max_volum }}</td>
                        <td>{{ item.charge }}</td>
                        <td class="pro-public__no-padding">
                            {{ item.trade_time }}
                        </td>
                        <td class="pro-public__no-padding">
                            {{ item.quote_time }}
                        </td>
                        <td class="pro-public__no-padding">{{ item.desp }}</td>
                    </tr>
                    </tr>
                </tbody>                
            </table>
            <div class="font-tip mg-tp-20">
                <%= lang.text("platformTimeNote")%>
            </div>
        </div>
    </div>
</div>
