<div>
    <div class="mg-200__bg">
        <%if (lang.currentLanguage() != 'en'){%>
        <h1 class="mg-200__circle-title"><span><%= lang.text("navbar7")%></span></h1>
        <p class=" mg-tp-30">
            <%= lang.text("oil1")%>
        </p>
        <div>
            <div class="mg-200__two-title mg-tp-40 pd-bt-20">
                <%= lang.text("oil2")%>
            </div>
            <p class="">
                <%= lang.text("oil3")%>
            </p>
            <div class="mg-200__two-title mg-tp-40">
                <%= lang.text("oil4")%>
            </div>
            <ul class="mg-200__list-bg none pd-tp-30" tw-highest-match>
                <li class="mg-200__list-bg-item">
                    <div>
                        <div class="title">
                            <%= lang.text("oil7")%>
                        </div>
                        <p class="content">
                            <%= lang.text("oil8")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <div class="title">
                            <%= lang.text("oil9")%>
                        </div>
                        <p class="content">
                            <%= lang.text("oil10")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <div class="title">
                            <%= lang.text("oil11")%>
                        </div>
                        <p class="content">
                            <%= lang.text("oil12")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <div class="title">
                            <%= lang.text("oil13")%>
                        </div>
                        <p class="content">
                            <%= lang.text("oil14")%>
                        </p>
                    </div>

                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <div class="title">
                            <%= lang.text("oil15")%>
                        </div>
                        <p class="content">
                            <%= lang.text("oil16")%>
                        </p>
                    </div>

                </li>
                <li class="mg-200__list-bg-item"></li>
            </ul>
        </div>
        <div class="pd-bt-20">
            <div class="mg-200__two-title pd-bt-20">
                <%= lang.text("oil17")%>
            </div>
            <p class="">
                <%= lang.text("oil18")%>
            </p>
            <p><%= lang.text("oil19")%><span class=""><%= lang.text("oil20")%></span><%= lang.text("oil21")%>
            </p>
        </div>
        <% } %>
        <%if (lang.currentLanguage() == 'en'){%>
        <h1 class="mg-200__circle-title"><span>Crude Oil Trading</span></h1>
        <p class=" mg-tp-30">Oil is one of the world’s most widely traded and consumed commodities. Oil trading takes
            place across the world, as nearly all economies are reliant on oil to some extent. 
            Not only does oil provide the fuel for cars, trucks and other vehicles. Oil is also a raw material for many
            chemical and industrial processes and as such is almost indispensable to us.  
        </p>
        <p class=" mg-tp-10">
            What happens to the price of oil and in oil trading matters on a global scale.
            You can trade oil through TigerWit as a cash-settled CFD or Contract for Differences and we offer oil CFD
            contracts on both Brent and WTI crude oil.
        </p>
        <div>
            <div class="mg-200__two-title">
                How does oil trading work?
            </div>
            <p class="">
                Oil is traded in barrels each barrel contains 42 gallons or 158.98 litres of oil. The term barrel dates
                back to the late 19th century when a wooden barrel containing 42 gallons of crude oil became the
                standard unit for transportation and trading purposes. These days of course oil is transported in giant
                oil tankers or through pipelines.
            </p>
            <p class="mg-tp-10">
                Oil is traded in barrels each barrel contains 42 gallons or 158.98 litres of oil. The term barrel dates
                back to the late 19th century when a wooden barrel containing 42 gallons of crude oil became the
                standard unit for transportation and trading purposes. These days of course oil is transported in giant
                oil tankers or through pipelines.
            </p>
            <p class="mg-tp-10">
                Both WTI and Brent Crude oil are traded as futures contracts, WTI is traded on the New York Mercantile
                Exchange or NYMEX.  that is now part of the Chicago Mercantile Exchange or CME. Whilst Brent crude was
                traditionally traded on London’s IPE or International Petroleum Exchange, which is itself now part of
                ICE, the Intercontinental Exchange.
            </p>
            <p class="mg-tp-10">
                In oil trading markets each crude oil futures contract or lot, whether it’s west texas intermediate or
                brent, is over 1,000 barrels of oil. Crude oil futures are priced monthly and are deliverable. That is
                the buyer and seller make and take delivery of physical oil at the end of the contract’s lifetime.
            </p>
            <p class="mg-tp-10">
                Don’t worry though you won’t need an oil tanker to be able to trade in the oil markets, because if you
                trade oil using cash-settled CFDs there is no delivery of oil to worry about, as you pay or receive cash
                depending on how your oil trade has turned out.
            </p>
            <p class="mg-tp-10">
                When you trade CFDs on oil or other commodities you never own any oil, instead, you are speculating on
                the rise and fall of oil prices. Unlike oil futures trading, when you are trading oil CFDs you are not
                trading for a specific delivery month or date but instead, you trade a cash price that is derived from
                the futures prices for Brent and WTI. 
            </p>
            <p class="mg-tp-10">
                 Trading oil CFDs means that your trading can take place in either direction. If your trading idea is
                that the price of oil will rise, then you will want to open a long or buy position. But if you believe
                that the price of oil will fall then you will be trading on the short side and opening a short or sale
                position.
            </p>
            <div class="mg-200__two-title">
                Supply and demand
            </div>
            <p class="">
                Oil markets are global but just like all other commodities markets, oil prices are affected by changes
                in supply and demand.
            </p>
            <p class="mg-tp-10">
                On the supply side of the oil market, oil producers and consumers are often located at great distances
                from each other. For example, Mexico is an oil producer and China a large consumer of oil. Yet the two
                countries are 12,900 kilometres apart. So the costs and availability of transportation for crude oil are
                an important factor in establishing oil prices un the markets.
            </p>
            <p class="mg-tp-10">
                On the supply side of the oil market, oil producers and consumers are often located at great distances
                from each other. For example, Mexico is an oil producer and China a large consumer of oil. Yet the two
                countries are 12,900 kilometres apart. So the costs and availability of transportation for crude oil are
                an important factor in establishing oil prices un the markets.
            </p>
            <p class="mg-tp-10">
                Oil prices are also influenced by geopolitics and conflict particularly in relation to the Middle East,
                and by the actions of OPEC or the Organization of the Petroleum Exporting Countries and large volume oil
                producers such as Russia.
            </p>
            <div class="mg-200__two-title">
                What time can you trade oil?
            </div>
            <p class="">
                Crude oil is traded 24 hours a day five days per week with only short trading halts or breaks. Oil
                markets are becoming ever more active in Asia though the bulk of oil trading still takes place during
                European and US market hours. The ability to trade commodities like oil 24 hours a day means that our
                clients can react instantly to news flow and global events. without having to wait for exchanges to
                open. CFDs on oil are settled instantly with the appropriate credit or debit, once the contacts are
                closed and your account is immediately updated with your oil trading profit or loss.
            </p>
            <p class="mg-tp-10">
                CFDs are traded on leverage that is a client’s trading deposit is geared up or multiplied by their
                broker, allowing them to take a larger position in the market than their deposit would otherwise allow. 
                At US$30.00 per barrel, a standard lot of either WTI or Brent crude is worth US$30,000. However, with a
                leverage ratio of 10:1, you only need to have US$3,000 or ten percent of the contract value in your
                account. Of course, you don’t need to trade oil in whole lots either you trade in just a fraction of
                that size.
            </p>
            <div class="mg-200__two-title">
                Is oil trading profitable?
            </div>
            <p class="">
                We are often asked if oil trading is profitable. The answer to that question is, it can be. 
                However, traders need to respect the leverage they are using, because though that leverage is very good
                at magnifying trading profits it’s equally good at magnifying trading losses.
            </p>
            <p class="mg-tp-10">
                Not only do traders need to get the direction of their oil trading right, but they also need to size
                their trades appropriately. Crude oil has had a US$75.00 range over recent years and as a globally
                traded commodity crude oil prices are rarely static, which means there are always plenty of trading
                opportunities, in both directions long and short.
            </p>
            <div class="mg-200__two-title">
                Can oil trading be high risk?
            </div>
            <p class="">
                Trading oil as CFDs on margin can be high risk if you don’t plan and execute your trading sensibly. That
                said all trading can be high risk if it’s undertaken without due care and attention.
            </p>
            <p class="mg-tp-5">
                Remember when you trade oil you are trading the lifeblood of the global economy.
            </p>
            <p class="mg-tp-20">
                The world's energy markets are undergoing a transition as we become more aware of our impact on both the
                environment and the world’s climate and try to move towards a low-carbon future. Nonetheless, oil
                remains an important part of our energy mix, particularly where transportation is concerned. The chart
                below plots the global demand for crude oil between 2006 and 2019 in millions of barrels per day or
                MBPD, as we can see demand in 2019 reached just over 100 MBPD.
            </p>
            <div>
                <img src="/white_label/product/product-oil1.png" alt="">
            </div>
            <p>Source Statista
            </p>
            <p class="mg-tp-10">
                And whilst renewable energy sources, electric vehicles and alike are becoming more commonplace oil is
                likely to remain a key source of energy and raw materials for decades to come.
            </p>
            <p class="mg-tp-10">
                The events of 2020 impacted the global economy and oil prices felt the knock-on effects. Both WTI (West
                Texas Intermediate crude) and Brent crude oil prices experienced sharp falls and a subsequent rebound
                during the first half of 2020. In fact, at times during this period, crude oil was amongst the most
                volatile instruments in the financial markets. That volatility was driven by market sentiment and
                technical factors within physical crude oil markets particularly around the NYMEX or New York Mercantile
                Exchange where a large proportion of WTI crude oil is traded. 
            </p>
            <div class="mg-200__two-title">
                What other factors can influence crude oil prices?
            </div>
            <p class="">
                Oil prices are influenced by a wide range of events but since the 1970s geopolitical events and conflict
                have been among the biggest influences on the price of crude oil.
            </p>
            <p class="mg-tp-10">
                OPEC or the Organization of the Petroleum Exporting Countries was formed in 1960 but rose to prominence
                in the 70s as member states took control of their domestic oil production and in 1973 OPEC enforced and
                Oil embargo against many western nations and by 1974 oil prices had risen by as much as +400%, firmly
                establishing OPEC’s credentials on the world stage.
            </p>
            <div>
                <img src="/white_label/product/product-oil2.png" alt="">
            </div>
            <p class="mg-tp-10">
                The chart above shows the price of crude oil in the 50 years between 1970 and 2020 highlighting some key
                events that affected prices. You can see that wars, other conflicts and production cuts have often
                limited supply and driven oil prices higher. Whilst market crashes and an over supplies of crude have
                typically caused oil prices to fall.
            </p>
            <p class="mg-tp-10">
                The events highlighted above are the most important on either a global or regional scale however oil
                prices remain sensitive to thousands of smaller influences as well.
            </p>
            <p class="mg-tp-10">
                Political influences on oil faded somewhat in the middle of the last decade but have reappeared more
                recently as China and America spar over trade deals and leading crude oil producers have made and then
                broken deals about levels of crude oil production. Government's stimulus packages and central bank
                intervention have now become influential as the world’s economies attempt to re-open after the
                Coronavirus. 
            </p>
            <p class="mg-tp-10">
                Against this background, the oil market is likely to be subject to further volatility and are therefore
                likely to provide many opportunities for traders to consider whether to get involved in or not.
            </p>
            <div class="mg-200__two-title">
                Trading in oil
            </div>
            <p class="">
                If you do decide to trade in the oil market then as we noted above you can trade both WTI and Brent
                crude, as well as Natural Gas, as cash-settled and non-deliverable CFDs.
            </p>
            <p class="mg-tp-10">
                These flexible contracts have no expiry dates and allow traders to hold positions open for as long or a
                short a period as they require. Though positions held open overnight will incur rollover or swap
                charges.
            </p>
            <p class="mg-tp-10">
                Trading oil through CFDs also allows you to take either long (buy ) or short (sell) positions with equal
                ease. Meaning that if you believe that oil prices are likely to fall you can simply sell short of Brent
                or WTI with a view to buying your position back or closing the trade at a lower price than you opened it
                at without needing to worry about delivery or settlement. 
            </p>
            <p class="mg-tp-10">
                Of course, if you are bullish of oil prices,  that is you believe that they will rise in value then you
                might buy Brent crude or WTI CFDs now, in the expectation of selling out of, or closing those contracts
                at a higher price than your entry-level in the trade and realise a profit in doing so. 
            </p>
            <p class="mg-tp-20">
                These days crude oil prices don’t always move together and there can be a divergence between the prices
                of WTI and Brent crudes, as a result, which opens up the possibility of spread trades between the two
                flavours of crude oil.
            </p>
            <p class="mg-tp-10">
                Spread trades are not so much about overall market direction but rather the relative performance between
                two or more instruments that have or share some kind commonality or bond. Under a spread trade, you
                consider whether the price difference between those instruments will narrow or widen and place your
                trades accordingly.
            </p>
            <p class="mg-tp-10">
                For example, if you believe that Brent has risen too quickly compared to WTI you might sell Brent and
                buy WTI in expectation of the differential between the two prices narrowing. Or if you took the view
                that European economies may rebound more quickly than those of the USA. 
            </p>
            <p class="mg-tp-10">
                Then you might buy or go long Brent and sell WTI believing that the price differential will widen. These
                are just some of the oil trading possibilities for you to consider whether you pursue these types of
                trades is up to you, the end trader.
            </p>
            <p class="mg-tp-10">
                The good news for oil traders is that you can get to grips with the way oil prices move, the factors
                that influence them. And become familiar looking at their charts within our experience account. The
                experience account is a highly realistic simulation of live trading conditions but it’s one in which you
                don’t have to risk any real money. 
            </p>
            <p class="mg-tp-10">
                You can take advantage of your time on the experience account to learn how to make trades place and or
                cancel pending orders implement stop losses and much more the time spent practising will allow you to
                formulate your strategy for trading the oil markets without worrying about losing real money of course
                once you have your strategy in place and you are feeling ready you can start trading one of the world’s
                most important commodities for real in one of its most active markets. 
            </p>
        </div>
        <% } %>
        <div>
            <div class="mg-200__two-title pd-bt-20">
                <%= lang.text("oil22")%>
            </div>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="8%">
                    <col width="8%" ng-if="!lang.isEnglishArea()">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="10%">
                    <col width="10%">
                    <col width="8%">
                    <col width="16%">
                </colgroup>
                <thead>
                    <tr>
                        <th><%= lang.text("oil23")%></th>
                        <th class="pro-public__no-padding" ng-if="!lang.isEnglishArea()"><%= lang.text("oil24")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil25")%></th>
                        <th><%= lang.text("oil26")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil27")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil28")%></th>
                        <th><%= lang.text("oil29")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil30")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil31")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd28_2")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil32")%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="energy" ng-cloak ng-repeat="item in energy">
                        <td>{{ item.symbol }}</td>
                        <td ng-if="!lang.isEnglishArea()">{{ item.symbol_cn }}</td>
                        <td class="pro-public__no-padding">{{ item.contract_size }}</td>
                        <td>{{ item.lot_step }}</td>
                        <td>{{ item.lot_min }}</td>
                        <td>{{ item.lot_max }}</td>
                        <td>{{ item.comm_base }}</td>
                        <td class="pro-public__no-padding">
                            {{ item.info_trade_session }}
                        </td>
                        <td class="pro-public__no-padding">
                            {{ item.info_quote_session }}
                        </td>
                        <td>{{ item.timezone }}</td>
                        <td class="pro-public__no-padding">
                            {{ lang.text('productInfo.oil.' + item.symbol) === ('productInfo.oil.' +  item.symbol) ? '-' : lang.text('productInfo.oil.' + item.symbol) }}
                        </td>
                    </tr>
                    </tr>
                </tbody>
            </table>
            <div ng-show="showFolder">
                <div ng-show="energy.length >= 6 && !unfold" class="text-center" ng-cloak>
                    <a class="btn btn-text font-size-14" ng-click="unfoldFun()">
                        <%=lang.text('more')%>
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
                <div ng-show="energy.length >= 6 && unfold" class="text-center">
                    <a class="btn btn-text font-size-14" ng-click="foldFun()" ng-cloak>
                        <%=lang.text('fold')%>
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
            <div class="font-tip mg-tp-20">
                <%= lang.text("platformTimeNote")%>
            </div>
        </div>
    </div>
</div>