<ul class="side_navbar" tw-navbar>
    <li>
        <h4 class="side_navbar__title"><%= lang.text("navbar5")%></h4>
        
        <ul class="side_navbar__menu">
            <li>
                <div class="h2"><a data-navbar-trigger href="/forex-trading"><%= lang.text("navbar6")%></a></div>
            </li>
            <li>
                <div class="h2"><a data-navbar-trigger href="/oil-trading"><%= lang.text("navbar7")%></a></div>
            </li>
            <li>
                <div class="h2"><a data-navbar-trigger href="/glod-trading"><%= lang.text("navbar8")%></a></div>
            </li>
            <li>
                <div class="h2"><a data-navbar-trigger href="/cfd-trading"><%= lang.text("navbar9")%></a></div>
            </li>
        </ul>
    </li>
</ul>