<ul class="side_navbar" tw-navbar>
    <li>
        <h4 class="side_navbar__title"><%= lang.text("navbar5")%></h4>
        
        <ul class="side_navbar__menu">
            <li>
                <h2><a data-navbar-trigger href="/web/product/forex"><%= lang.text("navbar6")%></a></h2>
            </li>
            <li>
                <h2><a data-navbar-trigger href="/web/product/oil"><%= lang.text("navbar7")%></a></h2>
            </li>
            <li>
                <h2><a data-navbar-trigger href="/web/product/metal"><%= lang.text("navbar8")%></a></h2>
            </li>
            <li>
                <h2><a data-navbar-trigger href="/web/product/cfd"><%= lang.text("navbar9")%></a></h2>
            </li>
        </ul>
    </li>
</ul>