<div class="">
    <div class="mg-200__bg">
        <h3 class="mg-200__circle-title"><span><%= lang.text("stock2")%></span></h3>
        <p class=" mg-tp-20">
            <%= lang.text("stock3")%><%= lang.text("stock4")%><br>
            <%= lang.text("stock5")%>
        </p>
        <div>
            <h4 class="mg-200__two-title mg-tp-40 pd-bt-20">
                <%= lang.text("stock6")%>
            </h4>
            <ul class="mg-200__list-bg none pd-tp-30" tw-highest-match>
                <li class="mg-200__list-bg-item">
                    <div>
                        <h5 class="title">
                            <%= lang.text("stock7")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("stock8")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <h5 class="title">
                            <%= lang.text("stock9")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("stock10")%>
                        </p>
                    </div>
                </li>
                <li class="mg-200__list-bg-item">
                    <div>
                        <h5 class="title">
                            <%= lang.text("stock11")%>
                        </h5>
                        <p class="content">
                            <%= lang.text("stock12")%>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <h4 class="mg-200__two-title pd-bt-20">
                <%= lang.text("stock13")%>
            </h4>
            <p>
                <%= lang.text("stock14")%>
            </p>
            <p>
                <%= lang.text("stock15")%>
            </p>
            <p>
                <%= lang.text("stock16")%>
            </p>
        </div>
        <div>
            <h4 class="mg-200__two-title mg-tp-50 pd-bt-20">
                <%= lang.text("stock17")%>
            </h4>
            <table class="table table-personal table-hover table-bordered font-size-12">
                <colgroup>
                    <col width="10%">
                    <col width="10%" ng-if="!lang.isEnglishArea()">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                    <col width="20%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <th><%= lang.text("cfd22")%></th>
                        <th ng-if="!lang.isEnglishArea()"><%= lang.text("cfd23")%></th>
                        <th><%= lang.text("cfd24")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd26")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd27")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd28")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("oil31")%></th>
                        <th class="pro-public__no-padding"><%= lang.text("cfd28_2")%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="stock" ng-repeat="item in stock" ng-cloak>
                        <td>{{ item.symbol }}</td>
                        <td class="pro-public__no-padding" ng-if="!lang.isEnglishArea()">{{ item.company }}</td>
                        <td>{{ item.contract_size }}</td>
                        <td>{{ item.lot_min }}</td>
                        <td>{{ item.lot_max }}</td>
                        <td class="pro-public__no-padding">{{ item.info_trade_session }}</td>
                        <td class="pro-public__no-padding">{{ item.info_quote_session }}</td>
                        <td>{{ item.timezone }}</td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="showFolder">
                <div ng-show="stock.length >= 6 && !unfold" class="text-center" ng-cloak>
                    <a class="btn btn-text font-size-14" ng-click="unfoldFun()">
                        <%=lang.text('more')%>
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
                <div ng-show="stock.length >= 6 && unfold" class="text-center">
                    <a class="btn btn-text font-size-14" ng-click="foldFun()" ng-cloak>
                        <%=lang.text('fold')%>
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
            <div class="font-tip mg-tp-20">
                <%= lang.text("platformTimeNote")%>
            </div>
        </div>
    </div>
</div>