<div class="sys_modal_v2 mid_case">
    <!-- 删除银行卡 -->
    <div class="sys_modal_v2__content">
        <h3 class="sys_modal_v2__title text-left">{{lang.text('tigerWitID.wallet.deleteBankCard')}}</h3>
        <p class="sys_modal_v2__desp mg-tp-20">{{lang.text('tigerWitID.wallet.tip3')}}</p>
        <div class="btn_wrapper text-right clearfix">
            <a class="btn-text fr mg-lf-20" ng-click="closeModal()">{{lang.text('tigerWitID.cancel')}}</a>
            <a class="btn-text fr" ng-click="deleteCard()">{{lang.text('tigerWitID.delete')}}</a>
        </div>
    </div>
</div>