<div tw-loading-img></div>
<div class="history pd-tp-30">

    <table class="table table-personal table-hover table-bordered">
        <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <thead>
        <tr>
            <th>日期</th>
            <th>类型</th>
            <th>金额</th>
            <th>余额</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="history in historyList" ng-if="historyList.length > 0">
            <td>{{ history.created_at | dateFormatter }}</td>
            <td>{{ history.type }}</td>
            <td ng-class="{'font-danger': history.amount.indexOf('-') < 0, 'font-success': history.amount.indexOf('-') >= 0}">
                ${{ history.amount }}
            </td>
            <td>${{ history.wallet_balance }}</td>
        </tr>
        <tr ng-if="historyList.length <= 0">
            <td colspan="5">
                无数据!
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <p tw-pagination></p>
    </div>
</div>
