<div tw-loading-img></div>
<div class="history">

    <table class="table table-personalF table-hover table-bordered">
        <colgroup>
            <col width="25%">
            <col width="35%">
            <col width="20%">
            <col width="20%">
        </colgroup>
        <thead>
        <tr>
            <th>{{lang.text('tigerWitID.date')}}</th>
            <th>{{lang.text('tigerWitID.type')}}</th>
            <th>{{lang.text('tigerWitID.amount')}}</th>
            <th>{{lang.text('tigerWitID.balance')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="history in historyList" ng-if="historyList.length > 0">
            <td>{{ history.created_at | dateFormatter }}</td>
            <td>
                <span>{{ history.type }}</span>
                <span class="tw-btn font-info font-size-14" ng-click="backout(history.id)" ng-if="history.is_cancel === 1">{{lang.text('tigerWitID.revocation')}}</span>
            </td>
            <td ng-class="{'font-danger': history.amount.indexOf('-') < 0, 'font-success': history.amount.indexOf('-') >= 0}" ng-if="lang.hostIsCn()">
                ${{ history.amount }}
            </td>
            <td ng-class="{'font-success': history.amount.indexOf('-') < 0, 'font-danger': history.amount.indexOf('-') >= 0}" ng-if="!lang.hostIsCn()">
                ${{ history.amount }}
            </td>
            <td>${{ history.wallet_balance }}</td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <p tw-pagination></p>
    </div>
    <div ng-if="historyList.length <= 0" class="text-center mg-bt-20">
        <img src="/images/no_data.png" alt="" class="mg-bt-40">
        <p>{{ lang.text('tigerWitID.noData') }}</p> 
    </div>
</div>
