<div class="ranklist__bg ranklist__content copiers_lst">
    <div class="container">
        <div class="ranklist__nav">
            <div class="row">
                <div class="col-1-lg">
                    <a class="nav_item" href="">综合排名</a>
                </div>
                <div class="col-1-sm">
                    <a class="nav_item" href="">复制</a>
                </div>
                <div class="col-1">
                    <a class="nav_item" href="">走势图</a>
                </div>
                <div class="col-1">
                    <a class="nav_item" href="">最大回撤</a>
                </div>
                <div class="col-1-sm">
                    <a class="nav_item" href="">收益率</a>
                </div>
                <div class="col-1">
                    <a class="nav_item" href="">复制盈利</a>
                </div>
            </div>
        </div>
        <ul class="ranklist__lst">
            <li ng-repeat="rank in rankList" class="ranklist__lst_item">
                <div class="row">
                    <div class="col-1-lg">
                        {{ rank.username }}
                    </div>
                    <div class="col-1-sm">
                        {{ rank.copiers_sum }}
                    </div>
                    <div class="col-1">
                        
                    </div>
                    <div class="col-1">
                        {{ rank.drawdown }}%
                    </div>
                    <div class="col-1-sm">
                        {{ rank.profit_rate }}%
                    </div>
                    <div class="col-1">
                        ${{ rank.profit_copiers }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>