<div class="hy-detail">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="hy-detail__title">
                    <span class="hy-detail__title-span1">老虎&Elephant(Forex Management)</span>
                </div>
                <div class="hy-detail__con">
                    <ul class="hy-detail__con-ul">
                        <li>
                            <span>复制金额</span>
                            <p class="hy-detail__con-red">$100000</p>
                        </li>
                        <li>
                            <span>预期年化收益</span>
                            <p>120%</p>
                        </li>
                        <li>
                            <span>复制封闭期</span>
                            <p>1个月</p>
                        </li>
                        <li>
                            <span>历史最高回撤</span>
                            <p>30%</p>
                        </li>
                    </ul>
                    <div class="hy-detail__con-progress">
                        <span class="hy-detail__con-circle"></span> 
                        <!-- <span>最高总复制金额：$33万 &nbsp;&nbsp;</span>
                        <div class="progress" tw-progress>
                            <div class="scale"></div>
                        </div>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;已完成</span>
                        <span class="p-num">66%</span> -->
                        <span class="font-size-16"> 名额限制：最多支持50名复制者</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="hy-detail__title">
                    <span class="hy-detail__title-tel"></span>
                    <span class="hy-detail__title-span2">产品咨询：400-809-8509</span>
                </div>
                <div class="hy-detail__con">
                    <div>
                        <form name="orderForm">
                            <p style="margin-top:190px;">
                        
                            </p>
                                                
                            <input name="submit" 
                                   class="hy-detail__con-btn hy-detail__con-btn-trade" 
                                   type="button" 
                                   value="交易中" 
                                   ng-model="submit"
                                   ng-click="submitOrder()">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="hy-detail__de">
            <p class="hy-detail__de-title">详情</p>
            <div class="hy-detail__de-table">
                <table class="table table-border">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>复制封闭期</td>
                            <td>1个月（复制者在封闭期间不能操作账户，比如下单和平仓等，封闭期结束后拥有账户操作权）</td>
                        </tr>
                        <tr>
                            <td>预约复制时间</td>
                            <td>即日起至2016.05.16</td>
                        </tr>
                        <tr>
                            <td>账户交易时间</td>
                            <td>充值成功并绑定成功后第二个工作日至下个自然月的同一天</td>
                        </tr>
                        <tr>
                            <td>风险控制机制</td>
                            <td>动用的杠杆不超过7倍，亏损超过账户初始资金的30%时触发预警，交易平台自动强制平掉所有头寸，停止交易，客户可以赎回剩余资金。</td>
                        </tr>
                        <tr>
                            <td>高手报酬分成</td>
                            <td>客户收益的30%作为交易团队的收益报酬，由交易平台自动从用户账户余额中划转给交易团队。每个月的第一个交易日结算上个月的账户盈亏。</td>
                        </tr>
                        <tr>
                            <td>名额限制</td>
                            <td>最多支持50名复制者。</td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td>客户完全自负盈亏，经纪商与交易团队不对客户损失的资产做任何赔偿。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="hy-detail__de-title">高手团队介绍</p>
            <div class="hy-detail__team">
                <p class="font-size-16">本交易团队由宏观、微观分析师及基本面和技术面分析师组合而成，本团队的核心成员如下：</p>
                <ul>
                    <li>
                        <span class="hy-detail__con-circle"></span>&nbsp;&nbsp;
                        <span class="font-bold">账户主交易员：</span>
                        13年交易经验，目前为独立的外汇资产管理人和交易员，为机构和高净值私人投资者管理外汇资产。曾就职与多个国际资产管理公司，三年以上大型外汇对冲基金交易经验，管理超过1亿美元的对冲基金外汇账户交易经验，四年以上机构自营外汇账户管理经验。
                    </li>
                    <li>
                        <span class="hy-detail__con-circle"></span>&nbsp;&nbsp;
                        <span class="font-bold">交易简介: </span>
                        每个交易策略的形成以大约80%的基本面分析和20%的技术面分析结合而成，最终结果由交易模型计算出策略的盈亏概率，以此来为交易员决定是否交易提供重要指导。<br>
                        依据十几年的交易经验，独创三套既相互独立又相互依赖的外汇交易模型：<br>
                        <ul class="pd-lf-20">
                            <li><span class="font-size-20">· </span>订单分布时间模型</li>
                            <li><span class="font-size-20">· </span>经济和财政信息和数据量化分析模型</li>
                            <li><span class="font-size-20">· </span>基本面技术面综合策略模型</li>
                        </ul>
                    </li>
                    <li>
                        <span class="hy-detail__con-circle"></span>&nbsp;&nbsp;
                        <span class="font-bold">宏观基本面分析师：</span>
                        在伦敦金融界具有超过20年的基本面分析经验，一直从业于国际投行和货币，债券型对冲基金等大型投资机构，与世界顶级投行和大型对冲基金的分析师们保持日常交流，时刻共享行业信息。曾经就职于UBS, 汇丰，摩根士丹利的债券与外汇交易部门，消息来源丰富。
                    </li>
                    <li>
                        <span class="hy-detail__con-circle"></span>&nbsp;&nbsp;
                        <span class="font-bold">技术面兼基本面分析师：</span>
                        具有超过15年外汇、债券和贵金属市场从业经验，曾经就职于花旗银行与摩根士丹利的外汇交易部门，目前就职于墨尔本某大型国际资产管理公司，负责货币和贵金属市场的分析。
                    </li>
                </ul>
                <p class="font-size-16">老虎&汇赢周盈推出，主要交易策略为短期投资，交易品种为外汇。</p>
            </div>
        </div>

        <div class="hy-tabs hy-detail__tabs mg-bt-30" tw-tabs>
            <ul class="hy-tabs-ul">
                <li class="hy-tabs-ul-active">交易图表一</li>
                <li>交易图表二</li>
            </ul>
            <div class="hy-tabs-con clearfix">
                <div class="hy-tabs-con1 div-block">
                    <div class="hy-detail__tabs-w-img1"></div>
                </div>
                <div class="hy-tabs-con1">
                    <div class="hy-detail__tabs-w-img2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
