<div class="hy-detail">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="hy-detail__title">
                    <span class="hy-detail__title-span1">老虎&汇赢周盈 201604-1</span>
                </div>
                <div class="hy-detail__con">
                    <ul class="hy-detail__con-ul">
                        <li>
                            <span>复制金额</span>
                            <p class="hy-detail__con-red">$3000-$10000</p>
                        </li>
                        <li>
                            <span>预期年化收益率</span>
                            <p>78%</p>
                        </li>
                        <li>
                            <span>复制封闭期</span>
                            <p>1周</p>
                        </li>
                        <li>
                            <span>历史最高回撤</span>
                            <p>15%</p>
                        </li>
                    </ul>
                    <div class="hy-detail__con-progress">
                        <span class="hy-detail__con-circle"></span>
                        <span>最高总复制金额：$33万 &nbsp;&nbsp;</span>
                        <div class="progress" tw-progress>
                            <div class="scale"></div>
                        </div>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;已完成</span>
                        <span class="p-num">100%</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="hy-detail__title">
                    <span class="hy-detail__title-tel"></span>
                    <span class="hy-detail__title-span2">产品咨询：400-809-8509</span>
                </div>
                <div class="hy-detail__con">
                    <div class="hy-detail__con-end">
                        <p class="font-size-16 pd-tp-30">已结算年化收益率</p>
                        <p class="fix-list__list-red font-info">805%</p>
                        <p class="mg-tp-20">预期年化收益率 <span class="font-size-20 font-warning">78%</span></p>
                        <p class="hy-detail__con-btn hy-detail__con-btn-end">交易已结束</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="hy-detail__de">
            <p class="hy-detail__de-title">详情</p>
            <div class="hy-detail__de-table">
                <table class="table table-border">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>复制封闭期</td>
                            <td>1周（复制者在封闭期间不能操作账户，比如下单和平仓等，封闭期结束后拥有账户操作权）。</td>
                        </tr>
                        <tr>
                            <td>预约复制时间</td>
                            <td>即日起至2016.04.08 18:00:00</td>
                        </tr>
                        <tr>
                            <td>账户交易时间</td>
                            <td>2016.04.11 00:00 至 2016.04.15 23:59:59</td>
                        </tr>
                        <tr>
                            <td>风险控制机制</td>
                            <td>动用杠杆不超过10倍，亏损达到账户初始资金的15%时，停止交易.</td>
                        </tr>
                        <tr>
                            <td>高手报酬分成</td>
                            <td>无</td>
                        </tr>
                        <tr>
                            <td>最高总复制金额</td>
                            <td>$33万</td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td>客户交易成本为欧元4个点。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="hy-detail__de-title">高手团队介绍</p>
            <div class="hy-detail__team">
                <p class="font-size-16">汇赢成立8年，目前交易团队共有20人，核心人员介绍：</p>
                <ul>
                    <li>
                        <span class="hy-detail__con-circle"></span>&nbsp;&nbsp;
                        <span class="font-bold">基金经理：</span>
                        赵海峰 拥有20年金融衍生品投资经验，独创多套对冲基金风控模型，汇赢全球创始人。
                    </li>
                    <li>
                        <span class="hy-detail__con-circle"></span>&nbsp;&nbsp;
                        <span class="font-bold">首席交易员: </span>
                        Jarratt Davis 11年外汇交易经验，曾作为首席交易员任职香港避险基金公司，SMILe等，主要利用算法以及模型为客户带来良好的收益。
                    </li>
                    <li>
                        <span class="hy-detail__con-circle"></span>&nbsp;&nbsp;
                        <span class="font-bold">首席分析师和分析师团队：</span>
                        Clive Lambert 从事金融分析和交易25年，其中20年伦敦期货行业经纪人和交易员经验，Society’s 主讲人，与7City Learning和CME长期保持合作，发表的文章经常被新闻以及CNBC引用，FuturesTechs创始人，FuturesTech的团队也作为汇赢全球的分析师团队，为交易员提供最实时的市场信息。
                    </li>
                </ul>
                <p class="font-size-16">老虎&汇赢周盈推出，主要交易策略为短期投资，交易品种为外汇。</p>
            </div>
        </div>

        <div class="hy-tabs hy-detail__tabs mg-bt-30" tw-tabs>
            <ul class="hy-tabs-ul">
                <li class="hy-tabs-ul-active">交易图表一</li>
                <li>交易图表二</li>
                <li>交易图表三</li>
                <li>交易图表四</li>
                <li>交易图表五</li>
            </ul>
            <div class="hy-tabs-con clearfix">
                <div class="hy-tabs-con1 div-block">
                    <div class="hy-detail__tabs-z-img1"></div>
                </div>
                <div class="hy-tabs-con1">
                    <div class="hy-detail__tabs-z-img2"></div>
                </div>
                <div class="hy-tabs-con1">
                    <div class="hy-detail__tabs-z-img3"></div>
                </div>
                <div class="hy-tabs-con1">
                    <div class="hy-detail__tabs-z-img4"></div>
                </div>
                <div class="hy-tabs-con1">
                    <div class="hy-detail__tabs-z-img5"></div>
                </div>
            </div>
        </div>
    </div>
</div>
