<div class="fix-list">
    <div class="fix-list__banner">
        <div class="container">
        </div>
    </div>
    <div class="fix-list__con mg-tp-20">
        <div class="container">
            <div class="fix-list__list">
                <div class="row">
                    <div class="col-xs-8">
                        <div>
                            <span class="fix-list__list-title">【老虎&汇赢季盈 201604-1】</span>
                            <span class="font-darker">账户交易时间：2016.04.11—2016.05.12</span>
                        </div>
                        <div class="clearfix">
                            <ul>
                                <li>
                                    <span class="fix-list__list-red">78%</span>
                                    <span class="font-darker">预期年化收益率</span>
                                </li>
                                <li>
                                    <span class="fix-list__list-normal">$3000-$10000</span>
                                    <span class="font-darker">复制金额</span>
                                </li>
                                <li>
                                    <span class="fix-list__list-normal">一周</span>
                                    <span class="font-darker">复制封闭期</span>
                                </li>
                                <li>
                                    <span class="fix-list__list-normal">25%</span>
                                    <span class="font-darker">历史最高回撤</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="fix-list__reserve">
                            <p>fdfas</p>
                            <p>fdfas</p>
                            <a class="fix-list__reserve-btn" href="">预约详情 <span class="fix-list__reserve-triangle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fix-list__list">
                <div class="row fix-list__list mg-tp-20 mg-bt-100">
                    <div class="col-xs-8">
                        <div>
                            <span class="fix-list__list-title">【老虎&汇赢季盈 201604-1】</span>
                            <span class="font-darker">账户交易时间：2016.04.11—2016.05.12</span>
                        </div>
                        <div class="clearfix">
                            <ul>
                                <li>
                                    <span class="fix-list__list-red">78%</span>
                                    <span class="font-darker">预期年化收益率</span>
                                </li>
                                <li>
                                    <span class="fix-list__list-normal">$3000-$10000</span>
                                    <span class="font-darker">复制金额</span>
                                </li>
                                <li>
                                    <span class="fix-list__list-normal">一周</span>
                                    <span class="font-darker">复制封闭期</span>
                                </li>
                                <li>
                                    <span class="fix-list__list-normal">25%</span>
                                    <span class="font-darker">历史最高回撤</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        fasf <br>
                        fasf <br>
                        fasf <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
