<div class="container">
    <div class="ranklist">
        <div class="ranklist__navbar">
            <ul class="ranklist__navbar-lst clearfix">
                <li class="active">综合排名</li>
                <li>收益率</li>
                <li>最大跌幅</li>
                <li>历史复制人数</li>
                <li>近七日复制变化率</li>
            </ul>
        </div>
        <div class="ranklist__search clearfix">
            <div class="ranklist__search-item">
                交易周期
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
            <div class="ranklist__search-item">
                交易偏好
            </div>
            <div class="ranklist__search-item">
                外汇交易
            </div>

            <div class="ranklist__search-box">
                <input type="text" 
                       class="ranklist__search-input"
                       placeholder="搜索投资者">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>