<div class="ranklist__bg ranklist__content">
    <div class="container">
        <div class="ranklist__nav">
            <div class="row">
                <div class="col-1-lg" ng-class="{active: masters.type === ''}" ng-click="getMastersList()">
                    <span class="nav_item">{{ lang.text('rank1') }}</span>
                </div>
                <div class="col-1-sm" ng-class="{active: masters.type === 'copiers_sum'}" ng-click="getMastersList('copiers_sum')">
                    <span class="nav_item">{{ lang.text('fuzhirenshu') }}</span>
                </div>
                <div class="col-1" ng-class="{active: masters.type === 'min_copy_amount'}" ng-click="getMastersList('min_copy_amount')">
                    <span class="nav_item">{{ lang.text('zuidifuzhijine') }}</span>
                </div>
                <div class="col-1">
                    <span class="nav_item">{{ lang.text('zoushitu') }}</span>
                </div>
                <div class="col-1" ng-class="{active: masters.type === 'drawdown'}" ng-click="getMastersList('drawdown', 'asc')">
                    <span class="nav_item">{{ lang.text('zuidahuiche') }}</span>
                </div>
                <div class="col-1" ng-class="{active: masters.type === 'profit_rate'}" ng-click="getMastersList('profit_rate')">
                    <span class="nav_item">{{ lang.text('zongshouyilv') }}</span>
                </div>
                <!-- <div class="col-1" ng-class="{active: masters.type === 'copy_profit'}" ng-click="getMastersList('copy_profit')">
                    <span class="nav_item">复制者盈利</span>
                </div> -->
                <div class="col-1-lg">
                </div>
            </div>
        </div>
        <ul class="ranklist__lst">
            <li tw-loading-img></li>
            
            <li ng-repeat="rank in rankList" class="ranklist__lst_item">
                <div class="row">
                    <div class="col-1-lg">
                        <div class="ranklist_info">
                            <div class="ranklist_info__wrapper">
                                <a href="/trader/{{rank.usercode}}/#/trader/summary" class="ranklist_info__avatar" target="_blank">
                                    <img ng-src="/avatar/{{ rank.usercode }}_150.jpg" alt="avatar">
                                </a>
                            </div>
                            <div class="ranklist_info__wrapper">
                                <div class="table">
                                    <div class="table-cell">
                                        <a class="ranklist_info__name" href="/trader/{{rank.usercode}}/#/trader/summary" title="{{ rank.username }}" target="_blank">
                                            {{ rank.username || '**' }}
                                        </a>
                                        <span class="ranklist_info__number">
                                            {{ rank.ranking }}#
                                        </span>
                                        <span class="ranklist_info__address">
                                            <i class="fa fa-map-marker"></i>
                                            {{ rank.region_cn.world_name }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-sm">
                        <i class="fa fa-users"></i>{{ rank.copiers_sum || 0 }}
                    </div>
                    <div class="col-1">
                        <i class="fa fa-dollar"></i>{{ rank.min_copy_amount || '0.00' }}
                    </div>
                    <div class="col-1">
                        <div tw-line-chart data-type="masterList"></div>
                    </div>
                    <div class="col-1">
                        {{ rank.drawdown || '0.00' }}%
                        <span ng-show="rank.drawdown < 5" class="font-success">{{ lang.text('low') }}</span>
                        <span ng-show="rank.drawdown >= 5 && rank.drawdown <= 15" class="font-warning">{{ lang.text('middle') }}</span>
                        <span ng-show="rank.drawdown > 15" class="font-danger">{{ lang.text('high') }}</span>
                    </div>
                    <div class="col-1">
                        {{ rank.profit_rate || '0.00' }}%
                    </div>
                    <!-- <div class="col-1">
                        <i class="fa fa-dollar"></i>{{ rank.copy_profit || '0.00' }}
                    </div> -->
                    <div class="col-1-lg">
                        <a class="btn btn-primary btn-sm" href="/trader/{{rank.usercode}}/#/trader/summary" target="_blank">{{ lang.text('fuzhi') }}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>