<div class="web_agreement_modal_for_layer web_new_register">
    <div class="agment_mdl_con web font-size-16">
        <div class="agment_mdl_con__title font-size-24">
            {{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements") }}
        </div>
        <div class="agment_mdl_con__detail mg-tp-20">
            <p>{{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements1") }}</p>
            <p>
                <span class="font-bold-light">{{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements2") }}</span>
            </p>
            <p class="font-bold-light">{{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements3") }}</p>
            <p class="font-bold-light">{{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements4") }}</p>
            <p>{{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements5") }}{{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements6") }}</p>
            <p>{{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements7_1") }}<br/>{{sysMessage.phone_list[0].phone}}{{ lang.text("tigerWitID.dataStatistics.tigerWitCopyAgreements7_2") }}</p>
            <a class="link" target="_blank" href="/web/copy/rules">{{ lang.text("tigerWitID.dataStatistics.copyRegulations") }}</a>

            <p class="mg-tp-20 row text-center">
                <span class="agreement-btn agree_button col-xs-6" ng-click="agreeProtocol()">
                    {{ lang.text("tigerWitID.commission.accept") }}
                </span>
                <span class="agree_button cancle col-xs-6 mg-lf-0" ng-click="closeModal()">
                    {{ lang.text("tigerWitID.cancel") }}
                </span>
            </p>
        </div>
    </div>
</div>
