<div class="web_agreement_modal_for_layer web_new_register">
    <div class="agment_mdl_con web font-size-16">
        <div class="agment_mdl_con__title font-size-24">
            复制协议
        </div>
        <div class="agment_mdl_con__detail mg-tp-20">
            <p>使用TigerWit复制跟单服务时，请您务必审慎阅读、充分理解以下协议内容：</p>
            <p>
                <span class="font-bold-light">1.系统将使用跟单专用账号复制高手，无跟单账号复制时将自动生成，所有复制操作均使用该跟单账号进行；</span>
            </p>
            <p class="font-bold-light">2.复制成功后，跟单账号自动跟随高手进行同步开平仓交易；</p>
            <p class="font-bold-light">3.系统将定时对您跟随高手的情况进行统计并结算，扣除跟随该高手盈利部分的20%作为该高手佣金。</p>
            <p>在决定复制高手时，您确认已经考虑了您的整体财务状况，包括财务承诺，并且您了解使用复制跟单服务具有高度投机性并且您可以承受巨大的损失用于复制高手。请注意，我们无法就任何特定投资，账户，投资组合或策略的表现提供任何保证。</p>
            <p>如您对协议有任何疑问，可拨打客服热线<br/>400-809-8509进行咨询。</p>
            <a class="link" target="_blank" href="/agreement/client">《复制规则》</a>

            <p class="mg-tp-20 row text-center">
                <span class="agreement-btn agree_button col-xs-6">
                    同意协议
                </span>
                <span class="agree_button cancle col-xs-6 mg-lf-0" ng-click="closeModal()">
                    取消
                </span>
            </p>
        </div>
    </div>
</div>
