<div class="currency-width pd-bt-50">
    <div class="trader_current currency-width-border">
        <div tw-loading-img></div>
        <ul class="trader_current__list">
            <li>
                <h5>Positions</h5>
            </li>
            <li ng-repeat="order in orders" ng-if="orders.length > 0">
                <div>
                    <div class="title-tip item-center">
                        <span>{{order.symbol_origin}}</span>
                        <span>{{order.lever}}</span>
                        <span ng-class="{'bg-danger': !order.cmd, 'bg-success': order.cmd}"
                            ng-if="lang.hostIsCn()">
                            {{ order.cmd_name }}
                        </span>
                        <span ng-class="{'bg-success': !order.cmd, 'bg-danger': order.cmd}"
                            ng-if="!lang.hostIsCn()">
                            {{ order.cmd_name }}
                        </span>
                    </div>
                    <div class="mg-tp-10 space-between-center">
                        <div>
                            <p class="lf-num">{{order.open_price}}</p>
                            <p class="tip">Open price</p>
                        </div>
                        <div class="mg-lf-50"></div>
                        <div>
                            <p class="lf-num">{{order.net_profit}}</p>
                            <p class="tip">Current price</p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <p class="tip">Position {{ order.position_time | duration }}</p>
                    <p class="rg-num"
                        ng-class="{'font-danger': order.profit.indexOf('-') < 0, 'font-success': order.profit.indexOf('-') >= 0}"
                        ng-if="lang.hostIsCn()">
                        ${{ order.profit }}
                    </p>
                    <p class="rg-num"
                        ng-class="{'font-success': order.profit.indexOf('-') < 0, 'font-danger': order.profit.indexOf('-') >= 0}"
                        ng-if="!lang.hostIsCn()">
                        ${{ order.profit }}
                    </p>
                    <p class="tip">Profit/Loss</p>
                </div>
            </li>
            <li class="no-data" ng-if="orders.length <= 0">
                <div >
                    {{ lang.text("HoldingTrades9") }}
                </div>
            </li>
        </ul>

        <div class="justify-flex-end" ng-if="orders.length > 0">
            <div tw-pagination></div>
        </div>
        <!-- <p class="trader_current_note">{{ lang.text("HoldingTrades10") }} </p> -->
    </div>
</div>