<div class="container">
    <div class="trader_current">
        <div tw-loading-img></div>
        <table class="table table-header table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ lang.text("HoldingTrades1") }}</th>
                    <th>{{ lang.text("HoldingTrades2") }}</th>
                    <th>{{ lang.text("HoldingTrades3") }}</th>
                    <th>{{ lang.text("HoldingTrades4") }}</th>
                    <th>{{ lang.text("HoldingTrades5") }}</th>
                    <th>{{ lang.text("HoldingTrades6") }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders" ng-if="orders.length > 0">
                    <td>
                        <span class="icon-forex-{{ order.symbol_origin.toLowerCase() }}">
                            
                        </span>
                        <span ng-class="order.cmd?'font-down':'font-up'">
                            &nbsp;&nbsp;{{ order.cmd_name }}
                        </span>
                        <span class="" ng-show="!lang.isEnglishArea()">
                            {{ order.symbol_cn }}
                        </span>
                        <span class="" ng-show="lang.isEnglishArea()">
                            {{ order.symbol }}
                        </span>
                    </td>
                    <td>
                        {{ order.open_price }}
                    </td>
                    <td>
                        {{ order.close_price }}
                    </td>
                    <td>
                        {{ order.position_time | duration }}
                    </td>
                    <td ng-class="{'font-danger': order.profit.indexOf('-') < 0, 'font-success': order.profit.indexOf('-') != -1}">
                        {{ order.points }}
                    </td>
                    <td ng-class="{'font-danger': order.gross_profit.indexOf('-') < 0, 'font-success': order.gross_profit.indexOf('-') != -1}">
                        <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                    </td>
                </tr>
                <tr ng-if="orders.length <= 0">
                    <td colspan="6">
                        {{ lang.text("HoldingTrades9") }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" ng-if="orders.length > 0">
            <div tw-pagination></div>
        </div>
        <!-- <p class="trader_current_note">{{ lang.text("HoldingTrades10") }} </p> -->
    </div>
</div>