<div class="currency-width pd-bt-50">
    <div class="trader_current currency-width-border">
        <div tw-loading-img></div>
        <ul class="trader_current__list">
            <li>
                <h5>{{ lang.text("tigerWitID.master.closed") }}</h5>
            </li>
            <li ng-repeat="order in orders" ng-if="orders.length > 0">
                <div>
                    <p class="tip">{{order.close_desc}}</p>
                    <div class="title-tip item-center">
                        <span>{{order.symbol}}</span>
                        <!-- <span>{{order.lever}}</span> -->
                        <span ng-class="{'bg-danger': !order.cmd, 'bg-success': order.cmd}" ng-if="lang.hostIsCn()">
                            {{ order.cmd_name }}
                        </span>
                        <span ng-class="{'bg-success': !order.cmd, 'bg-danger': order.cmd}" ng-if="!lang.hostIsCn()">
                            {{ order.cmd_name }}
                        </span>
                    </div>
                    <p class="tip">{{order.symbol_name}}</p>
                    <div class="mg-tp-5 space-between-center">
                        <div>
                            <p class="lf-num">{{order.open_price}}</p>
                            <p class="tip">{{ lang.text("tigerWitID.details.openPrice") }}</p>
                        </div>
                        <div class="mg-lf-50"></div>
                        <div>
                            <p class="lf-num">{{order.close_price}}</p>
                            <p class="tip">{{ lang.text("tigerWitID.historyTransactions.closePrice") }}</p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <p class="tip">{{ lang.text("tigerWitID.master.positionTime") }}{{ order.position_time | duration }}</p>
                    <p class="rg-num"
                        ng-class="{'font-danger': order.profit.indexOf('-') < 0, 'font-success': order.profit.indexOf('-') >= 0}"
                        ng-if="lang.hostIsCn()">
                        ${{ order.profit }}
                    </p>
                    <p class="rg-num"
                        ng-class="{'font-success': order.profit.indexOf('-') < 0, 'font-danger': order.profit.indexOf('-') >= 0}"
                        ng-if="!lang.hostIsCn()">
                        ${{ order.profit }}
                    </p>
                    <p class="tip">{{ lang.text("tigerWitID.master.profitLoss") }}</p>
                </div>
            </li>
            <li class="no-data" ng-if="orders.length <= 0">
                <div>
                    <img src="/images/no_data.png" alt="" class="mg-bt-20">
                    <p>{{ lang.text("HoldingTrades9") }}</p>
                </div>
            </li>
        </ul>

        <div class="justify-flex-end" ng-if="orders.length > 0">
            <div tw-pagination></div>
        </div>
    </div>
</div>