<div class="col-fff">
    <div ng-cloak class="container">
        <div ng-cloak class="trader">
            <div class="trader__basic">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="trader_avatar">
                            <div class="trader_avatar__wrapper" ng-click="openMasterGradeMdl()">
                                <img ng-src="/avatar/<%= master.user_code%>_150.jpg" alt="avatar">
                                <span class="icon-grade" ng-if="masterGradeInfo.name">{{ masterGradeInfo.name }}</span>
                            </div>
                        </div>
                        <div class="trader_info">
                            <div class="trader_user">
                                <h3 class="trader_user__username"><%= master.username%></h3>
                                <span class="trader_user__position trader_gray_color">
                                    <%= master.region.world_name%>
                                </span>
                            </div>
                            <h4 class="trader_tags">
                                <%if (master.tags) {%>
                                    #
                                    <%for(var t=0; t<master.tags.length; t++){%>
                                        <span><%= master.tags[t]%></span>
                                    <%}%>
                                <%}%>
                            </h4>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h3 class="trader_btn">
                            <button class="btn btn-primary" ng-if="!master.copied" ng-click="toCopy()">
                                <%=
                                lang.text("traderIndex1")%>
                            </button>
                            <button class="btn btn-primary" disabled ng-if="master.copied"><%= lang.text("traderIndex2")%>
                            </button>
                        </h3>
                    </div>
                </div>
                <ul class="trader_profit_box clearfix">
                    <li class="trader_profit">
                        <div class="trader_profit__item">
                            <span class="big-num-font">{{ master.history_copy_count || '0' }}</span>
                        </div>
                        <h4 class="trader_gray_color">{{ lang.text("tigerWitID.historyTransactions.historyFollower") }}</h4>
                    </li>
                    <li class="trader_profit">
                        <div class="trader_profit__item "
                             ng-class="{'font-danger': master.profit_rate.indexOf('-') >= 0, 'font-success': master.profit_rate.indexOf('-') < 0}">
                            <span class="big-num-font trader_blue">{{ master.total_profit_rate || '0.00' }}</span>%
                        </div>
                        <h4 class="trader_gray_color">{{ lang.text("tigerWitID.dataStatistics.totalProfitRate") }}</h4>
                    </li>
                    <li class="trader_profit">
                        <div class="trader_profit__item">
                            <span class="big-num-font trader_green">{{ master.max_retract_percent || '0.00' }}</span>%
                        </div>
                        <h4 class="trader_gray_color">{{ lang.text("tigerWitID.dataStatistics.maximumDrawdown") }}</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-cloak class="nav_tabs">
        <ul>
            <li ui-sref-active="active" ui-sref="trader.subpage({subpage: 'summary'})">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <a><%= lang.text("traderIndex17")%></a>
            </li>
            <li ui-sref-active="active" ui-sref="trader.subpage({subpage: 'current'})">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <a><%= lang.text("traderIndex18")%></a>
            </li>
            <li ui-sref-active="active"  ui-sref="trader.subpage({subpage: 'history'})">
                <i class="fa fa-list" aria-hidden="true"></i>
                <a><%= lang.text("traderIndex19")%></a>
            </li>
        </ul>
    </div>
</div>





























