<div class="sys_modal_v2 slim_case">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="sys_modal_v2__title">
        {{ lang.text("tigerWitID.master.masterLevelInstructions") }}
    </h5>

    <div class="sys_modal_v2__content trader_modal">
        <div class="trader_modal__tit">
            {{ lang.text("tigerWitID.master.tip1") }}
        </div>
        <ul class="trader_modal__lst">
            <li ng-repeat="grade in gradeList">
                <span class="icon-grade">{{ grade.name }}</span>
                <span class="desc">{{ grade.customer_desc }}</span>
            </li>
        </ul>
        <ul>
            <li class="trader_modal__tip">
                ● {{ lang.text("tigerWitID.master.tip2") }}
            </li>
            <li class="trader_modal__tip">
                ● {{ lang.text("tigerWitID.master.tip3") }}
            </li>
            <li class="trader_modal__tip">
                ● {{ lang.text("tigerWitID.master.tip4") }}
            </li>
        </ul>
        <div class="btn_wrapper mg-tp-30 clearfix">
            <button class="btn btn-primary-gradient btn-sm" ng-click="closeModal()">
                {{ lang.text("tigerWitID.confirm") }}
            </button>
        </div>
    </div>

</div>
