<div class="trade_container">
    <div class="re_trader_chart trader_box">
        <div class="bridge clearfix">
            <span id="whichYear" class="re_trader_chart__whichYear"><span ng-if="!selected">____</span>{{ lang.isEnglish() ? (lang.text("tigerWitID.master.performanceOf")) : (selected.year + lang.text("tigerWitID.master.performanceOf")) }}</span>
            <select
                    class="re_trader_chart__changeYear"
                    name="changeYear" id="changeYear"
                    ng-model="selected"
                    ng-options="item.year for item in columnData track by item.year"
                    ng-change="changeYear(selected)"
            ></select>
            <span class="upData_tips">{{ lang.text("tigerWitID.master.tip29") }}</span>
        </div>
        <div tw-column-chart style="width: 100%; height: 350px;"></div>
        <div class="re_trader_chart__chart_tips">
            <div class="clearfix">
                <i class="info_box"><i class="fa fa-info" aria-hidden="true"></i></i>
                <span>{{ lang.text("tigerWitID.master.tip30") }}</span>
            </div>
        </div>
    </div>
    <div class="re_trader_detail clearfix">
        <div class="re_trader_detail__table trader_box">
            <ul class="re_trader_detail__table-square small-text-font">
                <li><span class="square_num trader_blue"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.last_profit_close_rate }}%</span><span class="span square_des">{{ lang.text("tigerWitID.dataStatistics.accuracy") }}</span></li>
                <!-- <li><span class="square_num trader_blue"><span ng-if="!master_info">__ __</span>{{ master_info.max_retract }}</span><span class="span square_des">最大盈利点差</span></li> -->
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.last_max_volume }}{{ lang.text("tigerWitID.lot") }}</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.maximumOpen") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.last_total_close }}{{ lang.text("tigerWitID.lot2") }}</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.totalClosingOrders") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.win_count }}{{ lang.text("tigerWitID.lot2") }}</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.profitOrders") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.lose_count }}{{ lang.text("tigerWitID.lot2") }}</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.lossOrders") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.avg_position_time }}</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.avgHoldingTime") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.win_buy_count }}{{ lang.text("tigerWitID.lot2") }}</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.longsWon") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.win_sell_count }}{{ lang.text("tigerWitID.lot2") }}</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.shortsWon") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.last_profit_rate }}%</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.lastTradingDay") }}<i class="fa fa-info" aria-hidden="true"></i></span><span class="alert">{{ lang.text("tigerWitID.dataStatistics.tip5") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.last_week_profit_rate }}%</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.nearly7DaysRateReturn") }}<i class="fa fa-info" aria-hidden="true"></i></span><span class="alert">{{ lang.text("tigerWitID.dataStatistics.tip4") }}</span></li>
                <li><span class="square_num"><span ng-if="!master_info"><i class="fa fa-spinner" aria-hidden="true"></i></span>{{ master_info.avg_month_close }}{{ lang.text("tigerWitID.lot2") }}</span><span class="square_des">{{ lang.text("tigerWitID.dataStatistics.numberMonthlyAverage") }}</span></li>
            </ul>
        </div>
        <!-- <div class="re_trader_detail__areaChart trader_box">
            <div class="re_trader_detail__areaChart-chart_box">
                <div class="coopier_tip">
                    <div>
                        复制者变化
                        <i class="info_box"><i class="fa fa-info" aria-hidden="true"></i></i>
                    </div>
                    <div>
                        <span class="tip_box"></span>
                        复制者图表:<br>
                        资产管理:显示此交易者的总金额
                    </div>
                </div>
                <div class="coppier_area_chart">
                    <div tw-area-chart style="width:100%;height:100%"></div>
                </div>
                <div class="coopier_total_change">最近七天复制者变化:<span class="trader_blue">&nbsp;{{ areaDataInfo.Last_week_copy_rate || 0 }}%</span></div>
            </div>
            <div class="re_trader_detail__areaChart-tip">
                <span>{{ areaDataInfo.last_max_balance }}</span>
                <span>资产管理</span>
            </div>
        </div> -->
    </div>
    <div class="re_trader_type trader_box clearfix">
        <div class="re_trader_type__title">
            <span>{{ lang.text("tigerWitID.dataStatistics.mainTradingSymbols") }}</span>
            <select class="re_trader_chart__changeType"
                    name="changeYearType"
                    ng-options="item.month for item in monSymbols track by item.month"
                    ng-model="barsNowDate"
                    ng-change="changeMonSymbols(barsNowDate)"
            >
            </select>
        </div>
        <div class="re_trader_type__stack clearfix">
            <div tw-bar-chart data-type='bar' style="width:100%;height:140px"></div>
        </div>
        <div class="re_trader_type__types ">
            <h4 class="re_trader_type__average_time">{{ lang.text("tigerWitID.dataStatistics.avgHoldingTimeM") }}</h4>
            <div class="trader_summary navbar_summary">
                <div class="navbar_summary__content">
                    <div tw-loading-img></div>
                    <ul class="trader_type" ng-if="bars.length > 0">
                        <li ng-repeat="bar in bars" class="trader_type__item row">
                            <div class="col-xs-4">
                                <span class="trader_type__icon icon-forex-{{ bar.symbol.toLowerCase() }}"></span>
                                <span class="trader_type__tit">{{ bar.symbol | symbolMod:'zh' }} ({{ bar.symbol }})</span>
                            </div>
                            <div class="col-xs-8">
                                <div tw-scale-bar data-type="masterDetail"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center pd-tp-30" ng-if="bars.length <= 0">
                        {{ lang.text("traderSummary15") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>