<div class="currency-width">
    <div class="re_trader_detail currency-width-border">
        <div class="re_trader_detail__table">
            <h3 class="re_trader_title">{{ lang.text("tigerWitID.master.data") }}</h3>
            <ul class="re_trader_detail__table-square small-text-font" ng-class="{'ar': lang.isAr()}">
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.max_retract }}%</span><span
                        class="span square_des">{{ lang.text("tigerWitID.dataStatistics.maxDrawdown") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.last_profit_rate }}%</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.lastTradingDay") }}<i
                            class="fa fa-info" aria-hidden="true"></i></span><span
                        class="alert">{{ lang.text("tigerWitID.dataStatistics.tip5") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.last_week_profit_rate }}%</span><span
                        class="square_des"><span
                            class="square_des">{{ lang.text("tigerWitID.dataStatistics.nearly7DaysRateReturn") }}<i
                                class="fa fa-info" aria-hidden="true"></i></span><span
                            class="alert">{{ lang.text("tigerWitID.dataStatistics.tip4") }}</span></span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.win_count }}{{ lang.text("tigerWitID.lot2") }}</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.profitOrders") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.lose_count }}{{ lang.text("tigerWitID.lot2") }}</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.lossOrders") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.avg_month_close }}{{ lang.text("tigerWitID.lot2") }}</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.numberMonthlyAverage") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.last_total_close }}{{ lang.text("tigerWitID.lot2") }}</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.totalClosingOrders") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.win_buy_count }}{{ lang.text("tigerWitID.lot2") }}</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.longsWon") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.win_sell_count }}{{ lang.text("tigerWitID.lot2") }}</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.shortsWon") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.total_profit_rate }}%</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.totalProfitRate") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.last_max_volume }}{{ lang.text("tigerWitID.lot") }}</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.maximumOpen") }}</span></li>
                <li><span class="square_num"><span ng-if="!masterTradProfile"><i class="fa fa-spinner"
                                aria-hidden="true"></i></span>{{ masterTradProfile.avg_position_time }}</span><span
                        class="square_des">{{ lang.text("tigerWitID.dataStatistics.avgHoldingTime") }}</span></li>
            </ul>
        </div>
    </div>
    <div class="re_trader_type currency-width-border">
        <!-- <div class="re_trader_type__title item-center">
            <span>{{ lang.text("tigerWitID.dataStatistics.mainTradingSymbols") }}</span>
            <select class="re_trader_chart__changeType"
                    name="changeYearType"
                    ng-options="item.month for item in monSymbols track by item.month"
                    ng-model="barsNowDate"
                    ng-change="changeMonSymbols(barsNowDate)"
            >
            </select>
        </div> -->
        <h3 class="re_trader_title">{{ lang.text("tigerWitID.historyTransactions.portfolio") }}</h3>
        <div class="space-between-center pd-lf-20 pd-rg-20">
            <div class="item-center flex1">
                <div class="re_pie_chart">
                    <h5 class="re_trader_type__title1"> </h5>
                    <div tw-pie-chart data-pie-type="masterPortfolio" style="width:200px;height:200px"></div>

                    <div class="re_pie_chart__order">
                        <span class="tit1">{{masterTradProfile.last_total_close}}</span>
                        <p class="tit2">{{ lang.text("tigerWitID.dataStatistics.totalClosingOrders") }}</p>
                    </div>
                </div>
                <div class="re_pie_chart__legend">
                    <h5 class="re_trader_type__title1">{{ lang.text("tigerWitID.historyTransactions.proportion") }}</h5>
                    <p ng-repeat="masterPie in masterPieArr">
                        <i ng-style="{'background-color': masterPie.color}"></i>
                        <span>{{masterPie.name}}</span>
                        <span class="font-bold">{{masterPie.y.toFixed(2)}}%</span>
                    </p>

                </div>
            </div>
            <div class="flex1 re_trader_type__bar">
                <h5 class="clearfix re_trader_type__title1"><span class="fl">{{lang.text("tigerWitID.master.profit")}}</span><span class="fr">{{lang.text("tigerWitID.master.loss")}}</span></h5>
                <div tw-bar-chart data-type='masterProfitBar' ng-if="masterPieArr.length > 0" ng-style="{'height': masterPieArr.length * 40 }"></div>
            </div>

        </div>

        <!-- <div class="re_trader_type__stack ">
            <div tw-bar-chart data-type='bar' style="width:100%;height:140px"></div>
        </div>
        <div class="re_trader_type__types ">
            <h4 class="re_trader_type__average_time">{{ lang.text("tigerWitID.dataStatistics.avgHoldingTimeM") }}</h4>
            <div class="trader_summary navbar_summary">
                <div class="navbar_summary__content">
                    <div tw-loading-img></div>
                    <ul class="trader_type" ng-if="bars.length > 0">
                        <li ng-repeat="bar in bars" class="trader_type__item row">
                            <div class="col-xs-4">
                                <span class="trader_type__icon icon-forex-{{ bar.symbol.toLowerCase() }}"></span>
                                <span
                                    class="trader_type__tit">{{lang.isEnglishArea() ? bar.symbol : (bar.symbol | symbolMod:'zh') + ' (' + bar.symbol + ')' }}</span>
                            </div>
                            <div class="col-xs-8">
                                <div tw-scale-bar data-type="masterDetail"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center pd-tp-30" ng-if="bars.length <= 0">
                        {{ lang.text("traderSummary15") }}
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>