<div class="become_master">
    <div class="clearfix become_master__banner" style="background-image: url('<%= lang.image('webAgentBecome')%>')">
        <h2><%=lang.text('tobeMaster0')%></h2>
        <p><%=lang.text('tobeMaster1')%></p>
    </div>
    <div class="become_master__content">
        <h3 class="font-bold mg-tp-50"><%=lang.text('tobeMaster2')%></h3>
        <h4>
            <%=lang.text('tobeMaster3')%>
        </h4>
        <p class="mg-tp-50">
            <span class="font-bold"><%=lang.text('tobeMaster4_1')%></span><%=lang.text('tobeMaster4_2')%>
        </p>
        <p class="mg-tp-30">
            <span class="font-bold"><%=lang.text('tobeMaster5_1')%></span><%=lang.text('tobeMaster5_2')%>
        </p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster6')%>
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster7')%>
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster8')%>
      </h5>
        <p class="mg-tp-30">
            <span class="font-bold"><%=lang.text('tobeMaster9_1')%></span><%=lang.text('tobeMaster9_2')%>
        </p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster10')%>
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster11')%> 
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster12')%>
      </h5>
      <p class="mg-tp-30">
        <span class="font-bold"><%=lang.text('tobeMaster13')%></span>
      </p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster14')%>
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster15')%>
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        <%=lang.text('tobeMaster16')%>
      </h5>
    </div>
  <p class="mg-tp-30">
     <%=lang.text('tobeMaster17')%><span class="font-info"><%= lang.text('supportEmail')%></span>
  </p>
  <br>
</div>
