<div class="become_master mg-200__bg">
    <div class="become_master__content">
        <h3 class="mg-200__circle-title pd-bt-20"><%=lang.text('tobeMaster2')%></h3>
        <h4 class="mg-200__two-title pd-bt-20">
            <%=lang.text('tobeMaster3')%>
        </h4>
        <p class="">
            <span class="font-darker"><%=lang.text('tobeMaster4_1')%></span><%=lang.text('tobeMaster4_2')%>
        </p>
        <p class="mg-bt-10">
            <span class="font-darker"><%=lang.text('tobeMaster5_1')%></span><%=lang.text('tobeMaster5_2')%>
        </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster18')%>
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster6')%>
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster7')%>
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster8')%>
      </p>
      <p class="mg-bt-10">
          <span class="font-darker"><%=lang.text('tobeMaster9_1')%></span><%=lang.text('tobeMaster9_2')%>
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster10')%>
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster11')%> 
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster12')%>
      </p>
      <p class="mg-bt-10">
        <span class="font-darker"><%=lang.text('tobeMaster13')%></span>
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster14')%>
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster15')%>
      </p>
      <p class="mg-200__circle">
        <%=lang.text('tobeMaster16')%>
      </p>
    </div>
  <p class="mg-tp-30">
     <%=lang.text('tobeMaster17')%><span class="font-info">{{sysMessage.email}}</span>
  </p>
  <br>
</div>
