<div class="become_master">
    <div class="become_master__banner">
        <img src="<%= lang.image('webAgentBecome')%>">
    </div>
    <div class="become_master__content">
        <h2 class="font-bold mg-tp-50">如何登上<%= lang.text('companyZhName')%>高手榜</h2>
        <h4>
          <%= lang.text('companyZhName')%>对交易员榜单按照其交易表现进行排名，表现越优秀排名越居前端。
        </h4>
        <p class="mg-tp-50">
            <span class="font-bold">初步-完善信息：</span>开通<%= lang.text('companyZhName')%>真实账户，并完成实名认证。
        </p>
        <p class="mg-tp-30">
            <span class="font-bold">进阶-业绩指标：</span><%= lang.text('companyZhName')%>交易员榜单随着交易表现变动，进阶为入围交易高手的要求：
        </p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        在老虎外汇交易平台入金并连续自主交易30个以上工作日；
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        近30日收益率大于20%；
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        账户余额不得低于500美金。
      </h5>
        <p class="mg-tp-30">
            <span class="font-bold">终极-登上高手榜：</span><%= lang.text('companyZhName')%>会在入围交易者中综合评定上榜高手，影响上榜的决定性因素有：
        </p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        总收益率：交易员交易收益比率。总收益率=平仓盈亏总和/入金总和*100%；
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        交易订单量：交易员交易订单的数量。考量交易活跃度，交易订单量与交易活跃度成正比； 
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        胜率：即交易准确率。胜率=平仓盈利订单/总平仓订单*100%。
      </h5>
      <p class="mg-tp-30">
        同时，<%= lang.text('companyZhName')%>将综合交易员的仓位率和实际交易风险控制情况等指标评选上榜高手。<%= lang.text('companyZhName')%>排行榜动态更新，表现优秀的交易员将有机会出现在榜单上。影响排名因素最终以<%= lang.text('companyZhName')%>官方统计数据为准。
      </p>
      <p class="mg-tp-30">
        <span class="font-bold">交易高手权益和义务</span>
      </p>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        交易高手被其他用户复制跟随，会获得复制者20%的盈利分成；
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        交易高手的交易策略将被老虎外汇平台推广展示；
      </h5>
      <h5>
        <span class="become_master__star"></span>
        <span class="become_master__tip"></span>
        成为高手的交易员不可再复制其他交易高手。
      </h5>
    </div>
  <p class="mg-tp-30">
    影响排名因素最终以<%= lang.text('companyZhName')%>官方统计数据为准。若需人工服务，请联系客服或者发邮件至： <span class="font-info"><%= lang.text('supportEmail')%></span>
  </p>
  <br>
</div>
