<div class="agent  mg-200__bg">

    <div class="agent__title">
        <h3 class="mg-200__circle-title pd-bt-20">招募机构代理商</h3>

        <p class="font-darker">
            <%= lang.text('companyZhName')%>代理商扶持计划正式启动，我们致力于帮助代理商增长业务量，获取更多的佣金回报。我们为投资者提供丰富多样的产品，包括外汇、贵金属、原油、指数差价合约。我们的特别之处在于复制跟单系统，点击复制即可全自动跟单，方便了不懂交易的投资者，解决了您开发客户难以及成本高的问题。成为<%= lang.text('companyZhName')%>代理商，并在客户交易的过程中享受佣金回报，并且还可以享受独一无二的各种扶持计划。
        </p>
    </div>

    <div class="agent__content">
        <h4 class="mg-200__two-title pd-bt-20">优秀代理商扶持计划</h4>

        <div class="row">
            <div class="col-xs-6 agent__tip">
                <h5 class="agent__tip-point">
                    <i class="fa fa-circle-o"></i>
                    <span>薪资支持</span>
                </h5>
                <div class="agent__tip-cont">
                    根据代理商的运营情况，可支付代理商公司员工工资。
                </div>
            </div>
            <div class="col-xs-6 agent__tip">
                <h5 class="agent__tip-point">
                    <i class="fa fa-circle-o"></i>
                    <span>客户服务支持</span>
                </h5>
                <div class="agent__tip-cont">
                    免费提供客户管理系统以及多账户交易系统。
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 agent__tip">
                <h5 class="agent__tip-point">
                    <i class="fa fa-circle-o"></i>
                    <span>激励支持</span>
                </h5>
                <div class="agent__tip-cont">
                    根据代理商的运营情况和年均入金量，支付代理商员工年终畅游澳大利亚、英国及参观<%= lang.text('companyZhName')%>总部。
                </div>
            </div>
            <div class="col-xs-6 agent__tip">
                <h5 class="agent__tip-point">
                    <i class="fa fa-circle-o"></i>
                    <span>返佣支持</span>
                </h5>
                <div class="agent__tip-cont">
                    提供极具竞争力的返佣，根据入金交易情况，佣金可月返、周返、日返。
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 agent__tip">
                <h5 class="agent__tip-point">
                    <i class="fa fa-circle-o"></i>
                    <span>培训支持</span>
                </h5>
                <div class="agent__tip-cont">
                    定期免费培训，包括员工培训，产品培训及系统培训，并且制定针对性培训方案。
                </div>
            </div>
            <div class="col-xs-6 agent__tip">
                <h5 class="agent__tip-point">
                    <i class="fa fa-circle-o"></i>
                    <span>公关支持</span>
                </h5>
                <div class="agent__tip-cont">
                    协助代理商召开会议及活动，派遣专业讲师及邀请知名主持人到场以及定制宣传册等。
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-xs-6 agent__tip">
                <h5 class="agent__tip-point">
                    <i class="fa fa-circle-o"></i>
                    <span>其他支持</span>
                </h5>
                <div class="agent__tip-cont">
                    为代理商提供公司注册服务，以及网站制作、LOGO设计等。
                </div>
            </div>
        </div>
    </div>

    <div class="agent__content">
        <h4 class="mg-200__two-title pd-bt-20">返佣方式</h4>

        <div class="agent__tip">
            <h5 class="agent__tip-point">
                <i class="fa fa-circle-o"></i>
                <span>按照交易手数／交易量</span>
            </h5>
            <div class="agent__tip-cont">
                只需 3 个月内有 3 名有效用户，即可享受。根据不同用户交易手数/交易量，获取不同等级返佣。<br>
                适用群体：对外汇市场有一定经验的机构或者个人。
            </div>
        </div>
        <div class="agent__tip">
            <h5 class="agent__tip-point">
                <i class="fa fa-circle-o"></i>
                <span>按照实际入金交易客户的个数（CPS）</span>
            </h5>
            <div class="agent__tip-cont">
                按照介绍一个真实开户入金交易的客户个数返佣，返佣金额请联系客服，或者注册成为代理商。<br>
                适用群体：有资源的媒体或者没有时间维护客户的从业者。
            </div>
        </div>
        <div class="agent__tip">
            <h5 class="agent__tip-point">
                <i class="fa fa-circle-o"></i>
                <span>其他方式</span>
            </h5>
            <div class="agent__tip-cont">
                <%= lang.text('companyZhName')%>正在全国范围招募独家渠道，留下联系方式，将有专业的渠道经理与您联系。
            </div>
        </div>
    </div>

    <%if(lang.isCompany("tigerwit")){%>
        <div class="agent__content">
            <h4 class="mg-200__two-title pd-bt-20">合作代理商评价</h4>

            <div class="row agent__word">
                <div class="col-xs-3 mg-tp-20">
                    <div class="agent__word-avatar">
                        <img src="/images/web/agent-avatar-1.jpg">
                    </div>
                </div>
                <div class="col-xs-9">
                    <h4>王先生 某公司总经理</h4>
                    <p class="agent__word-cont">
                        我在外汇行业从业已经有 7，8 年了，自己也算有个不小的公司，代理过很多外汇平台，通过一次偶然间的机会知道了<%= lang.text('companyZhName')%>，被新颖独特的复制交易所吸引。复制跟单降低了投资者进入外汇交易的门槛，并且也降低了我开发客户的成本。出入金很快，平台很稳定。我认为这种创新的模式很有潜力，有无限的发展空间。
                    </p>
                </div>
            </div>
            <div class="row agent__word">
                <div class="col-xs-3 mg-tp-20">
                    <div class="agent__word-avatar">
                        <img src="/images/web/agent-avatar-2.jpg">
                    </div>
                </div>
                <div class="col-xs-9">
                    <h4>张先生 某公司副总</h4>
                    <p class="agent__word-cont">
                        我在外汇代理这行差不多快10年的时间了，之前代理过好几家外汇平台，但是都是大同小异，没有什么新鲜感。后来通过一个朋友的介绍了解到了<%= lang.text('companyZhName')%>，看过之后觉得<%= lang.text('companyZhName')%>很有创新，高手排行榜可以让更多的交易高手上来展示自己并且找到愿意跟随自己的人。我决定试试，就先自己入金体验一下跟单，之后就签下了代理协议，在接下来的几个月里面，我介绍了很多客户过来，客户也帮我介绍客户过来。我的客户交易量不断上升，还享受到了<%= lang.text('companyZhName')%>独特的市场培训，线上线下扶持等等都做的非常到位。我现在的获客成本也越来越低，客户量越来越大。我会一直支持<%= lang.text('companyZhName')%>的。
                    </p>
                </div>
            </div>
        </div>    
    <%}%>

    <div class="agent__content">
        <h4 class="mg-200__two-title pd-bt-20">成为代理商流程</h4>

        <div class="clearfix">
            <h5 class="agent__step">
                <div class="step step-1"></div>
                <p>开通账户</p>
            </h5>
            <div class="agent__step step_arrow">
                <div class="arrow"></div>
            </div>
            <h5 class="agent__step">
                <div class="step step-2"></div>
                <p>邀请好友并达到要求</p>
            </h5>
            <div class="agent__step step_arrow">
                <div class="arrow"></div>
            </div>
            <h5 class="agent__step">
                <div class="step step-3"></div>
                <p>联系我们 成为代理</p>
            </h5>
        </div>
    </div>
    <p class="global_proxy_tip mg-tp-20">
        请填写以下表格，我们将联系您提供更多的信息和回答任何问题。我们期待着您的信息。
    </p>
    <div class="global_proxy_form mg-tp-30" ng-controller="WebAgentController" ng-cloak>
      <form class="account_login__form" name="agentForm" novalidate>
          <div class="account-form-control-wrapper">
              <input class="account-form-control"
                     name="name"
                     type="text"
                     placeholder=""
                     required
                     ng-model="becomeAgent.name">
              <span class="account-form-control-tip">姓名</span>
              <span class="star_tip">*</span>
          </div>
          <div class="account-form-control-wrapper">
              <input class="account-form-control"
                     name="country"
                     type="text"
                     placeholder=""
                     required
                     ng-model="becomeAgent.country.name_cn">
              <span class="account-form-control-tip">国家</span>
              <span class="star_tip">*</span>
              <select ng-model="becomeAgent.country" ng-options="country.name_cn for country in countryList">
              </select>
          </div>
          <p class="global_proxy_tip mg-bt-20">
             以下信息中邮箱和手机号必选一项填写
          </p>
          <div class="account-form-control-wrapper">
              <input class="account-form-control"
                     name="email"
                     type="text"
                     placeholder=""
                     ng-model="becomeAgent.email">
              <span class="account-form-control-tip">邮箱</span>
          </div>
          <div class="account-form-control-wrapper">
              <input class="account-form-control"
                     name="phone"
                     type="text"
                     placeholder=""
                     ng-model="becomeAgent.phone">
              <span class="account-form-control-tip">手机号</span>
          </div>
          <div class="account-form-control-wrapper">
            <textarea class="account-form-control" name="message" ng-model="becomeAgent.message"></textarea>
            <span class="account-form-control-tip">备注信息</span>
          </div>
      </form>
      <div class="btn-wrapper" style="width: 800px;">
        <button class="btn btn-primary-gradient" ng-show="!loading" ng-click="submitForm()">申请代理</button>
        <button class="btn btn-primary-gradient disabled" disabled style="opacity: 0.5;" ng-show="loading">申请代理</button>
        <span class="global_proxy_err_tip" ng-class="{'font-success' : error.success, 'font-warning': !error.success}" ng-show="error.is_succ">{{error.message}}</span>
      </div>
    </div>
</div>
