.m_vue_form-control {
    padding-left: 30px;
    border: none;
    border-bottom: 1px solid $gray;
}

.vue-form-control {
    padding-left: 30px;
    border: none;
    border-bottom: 1px solid $gray;
}

.full-height {
    min-height: 100%;
}

.primary-bg {
    background: $m-brand-primary;
}

.text-bg {
    background: #fafafa;
}

.pr-color {
    color: $brand-primary-dark;
}


/*文本标题*/

.text_title {
    font-weight: 500!important;
    display: block!important;
    padding: px2rem(17) 0!important;
    font-size: px2rem(34);
}

.text_sub_title {
    font-weight: 500!important;
    display: block!important;
    margin: px2rem(17) 0!important;
    font-size: px2rem(32);
}


/*文本内容*/

.text_pgh {
    li {
        position: relative;
        margin-bottom: px2rem(32);
        padding-left: px2rem(32);
        border: none; // min-height: px2rem(80);
    }
    .plan-line {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: px2rem(6);
        height: 50%;
        min-height: 18px;
        max-height: 120px;
        background: #fedd0a;
        border-radius: 4px;
    }
    p {
        font-size: px2rem(30);
        line-height: px2rem(40);
        color: #8f8f94;
        .important {
            color: red;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

@include b(m_vue) {
    padding: px2rem(28) 10px 0px;
    &.m_vue_bgc {
        padding-left: 0px;
        padding-right: 0px;
        background-color: #fafafa;
        height: 100%;
    }
}

// 内容导航
// --------------------------------------------------
@include b(m_vue_nav) {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    >li {
        &.nav_avatar {
            a {
                line-height: 50px;
            }
        }
        &:last-child {
            a {
                border-bottom: none;
            }
        }
        >a {
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 10px;
            border-bottom: 1px solid #f0f0f0;
            line-height: 20px;
        }
    }
    @include e(avatar) {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        vertical-align: middle;
    }
    @include e(title) {
        font-size: 16px;
        color: #333;
    }
    @include e(list) {
        font-size: 16px;
        color: #888;
    }
    @include e(enter) {
        float: right;
        color: #888;
        transition: all 0.5s ease;
        &.pull {
            transform: rotateZ(90deg);
            -webkit-transform: rotateZ(90deg);
            &.active {
                transform: rotateZ(-90deg);
                -webkit-transform: rotateZ(-90deg);
            }
        }
    }
    @include e(sub) {
        margin-left: -10px;
        margin-right: -10px;
        display: none;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.5s ease;
        &.active {
            opacity: 1;
        }
        >li {
            transition: all 0.5s ease;
            padding: 0 15px;
            background: #f8f8f8;
            >a {
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #eeeeee;
                line-height: 20px;
                color: #c5c5c5;
                transition: color 0.5s ease;
            }
            &.active {
                background: $brand-primary-dark;
                a {
                    color: #ffffff;
                }
            }
        }
    }
}

// 上传头像
.info_avatar__container {
    padding-top: 20px;
}

.info_avatar__process_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $brand-primary;
    transition: width 0.5s linear;
    -webkit-transition: width 0.1s linear;
}

@include b(upload_avatar) {
    @include e(avatar) {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        border-radius: 50%;
    }
    @include e(label) {
        @extend .btn;
        @extend .btn-lg;
        font-size: px2rem(32);
        background: $brand-primary;
        width: 96%;
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
    }
    @include e(input) {
        display: none;
    }
    @include e(tip) {
        margin-top: 20px;
        margin-bottom: 15px;
        color: $gray;
    }
}

@include b(m_vue_binding_email) {
    @include e(tip) {
        color: #888;
        margin-bottom: 20px;
    }
    @include e(resend) {
        text-align: center;
        margin-top: 10px;
        a {
            color: #666;
        }
    }
    @include e(icon) {
        text-align: center;
        img {
            width: 80px;
        }
    }
    @include e(tit) {
        text-align: center;
        padding-top: 20px;
    }
    .form-control-wrapper {
        &.formWidth50 {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            .form-control {
                text-align: center;
            }
        }
    }
}

@include b(m_vue_forget) {
    @include e(btn) {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0;
        text-align: center;
        &.en {
            font-size: 14px;
        }
    }
    @include e(icon) {
        text-align: center;
        img {
            width: 80px;
        }
    }
    @include e(cont) {
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
    }
    @include e(tip) {
        padding-top: 10px;
    }
}

.layset {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
}

@include b(whyForexBox) {
    @extend .layset;
    height: 100%;
    padding: 38.5px 28px 75px;
    @include e(item) {
        width: 50%;
        height: 50%;
        float: left;
        text-align: center;
        padding-top: 40px;
        border: 1px solid transparent;
        @include m(imgBox) {
            width: px2rem(100);
        }
        @include m(desp) {
            font-size: px2rem(30);
            line-height: 1.2rem;
            text-align: justify;
            margin-top: 20px;
            padding: 0 20px;
        }
        &:first-child {
            padding-top: 0;
            border-right: 1px solid $brand-primary-dark;
            border-bottom: 1px solid $brand-primary-dark;
            p {
                padding-left: 0;
            }
        }
        &:nth-child(2) {
            padding-top: 0;
            border-bottom: 1px solid $brand-primary-dark;
            p {
                padding-right: 0;
            }
        }
        &:nth-child(3) {
            border-right: 1px solid $brand-primary-dark;
            p {
                padding-left: 0;
            }
        }
        &:nth-child(4) {
            p {
                padding-right: 0;
            }
        }
    }
}

.help_title_set {
    padding: 0;
    margin: 0;
    color: $brand-primary-dark;
    font-size: px2rem(32);
    text-align: center;
    position: relative;
    padding-bottom: 12px;
    padding-top: 25px;
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: px2rem(64);
        height: 4px;
        bottom: 0px;
        left: 50%;
        background-color: $brand-primary-dark;
        transform: translate(-50%)
    }
}

@include b(help1min) {
    @extend .layset;
    padding: 0 px2rem(28);
    text-align: justify;
    font-size: px2rem(30);
    font-weight: 300;
    font-style: "normal";
    line-height: px2rem(48);
    @include e(item) {
        width: 100%;
        border-bottom: 1px solid $brand-primary-dark;
        padding-bottom: 25px;
        &:last-child {
            border: none;
        }
        @include m(title) {
            @extend .help_title_set;
        }
        @include m(desp) {
            margin-top: 20px;
            padding: 0 1.5rem;
            font-size: px2rem(30)
        }
    }
}

@include b(help1-navi-title) {
    @extend .layset; // height: 100%;
    // overflow: scroll;
    padding: 0 px2rem(28);
    text-align: justify;
    font-size: px2rem(30);
    font-weight: 300;
    font-style: "normal";
    line-height: px2rem(48);
    @include e(back_top) {
        display: none;
        position: fixed;
        max-width: 2.8rem;
        right: 0;
        bottom: 10%;
        padding: px2rem(10) px2rem(32) px2rem(10) px2rem(16);
        margin: 1rem;
        margin-right: 0;
        background: $m-gray-base;
        opacity: 0.8;
        color: #fff;
        font-size: px2rem(20);
        line-height: 0.75rem;
    }
    @include e(item) {
        width: 100%;
        border-bottom: 1px solid $brand-primary-dark;
        padding-bottom: 25px;
        &:last-child {
            border: none;
        }
        @include m(title) {
            @extend .help_title_set;
        }
        @include m(desp) {
            display: none;
            .desp_title {
                font-size: px2rem(72);
                font-weight: 100;
                color: $brand-primary-dark;
                font-family: "NotoSansHans";
                text-align: center;
                font-style: normal;
                margin-top: px2rem(52);
                margin-bottom: 1rem;
                &.faq{
                    font-size: px2rem(48);
                    text-align: left;
                    line-height: px2rem(56);
                }
            }
            .desp_separator{
                border-top: 1px solid #eee;
                width: 90%;
                margin: 1rem auto;
                &:first-child{
                    border: none;
                }
            }
            .desp_sub_title {
                color: $brand-primary-dark;
                font-family: "NotoSansHans";
                text-align: left;
                margin: 0.25rem 0;
                font-size: px2rem(24);
                font-weight: 400;
            }
            .desp_sub_title_table {
                width: 100%;
                td,
                th {
                    color: darken($m-gray-base, 15%);
                    font-weight: 300;
                    text-align: center;
                    font-style: normal;
                    line-height: 0.65rem;
                    font-size: 0.5rem;
                    padding: 0.3rem 0;
                    border: none;
                    .title_note {
                        font-size: 0.35rem;
                    }
                    &.note {
                        padding: .8rem;
                        color: #000;
                        font-weight: 400;
                    }
                }
                thead {
                    background: #ffd202;
                    th {
                        color: #fff;
                        font-weight: 400;
                    }
                }
                tbody {
                    tr:nth-child(2n+1) {
                        background: transparent;
                    }
                    tr:nth-child(2n) {
                        background: rgba(255, 189, 66, 0.12);
                    }
                }
            }
            .desp_sub_title_table_note {
                font-size: px2rem(16);
                color: $m-gray-base;
            }
            .desp_sub_list_title {
                font-size: px2rem(24);
                font-style: normal;
                line-height: px2rem(48);
                text-align: justify;
                font-weight: 300;
                span {
                    font-size: px2rem(24);
                    margin-right: 0.5rem;
                }
            }
            .desp_sub_list_title_desp {
                font-size: px2rem(24);
                font-family: 'NotoSansHans';
                color: darken($m-gray-base, 15%);
                font-style: normal;
                line-height: px2rem(48);
                padding-left: 0.75rem;
                img {
                    width: 100%;
                }
            }
            .desp_sub_title_desp {
                font-size: px2rem(24);
                line-height: px2rem(48);
                font-family: "NotoSansHans-Demi";
                text-align: justify;
            }
            .desp_subdesp {
                font-size: px2rem(30);
                text-align: justify;
                &.first {
                    margin-top: 1rem;
                }
                .red_note{
                    font-size: px2rem(24);
                    color: #f5524f;
                    opacity: 0.87;
                    display: inline-block;
                    line-height: px2rem(40);
                }
                &.faq {
                    border-bottom: 1px solid lighten($brand-primary-dark, 10%);
                    padding-bottom: 1rem;
                    img{
                        margin-top: 1rem;
                        width: 100%;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            .desp_subdesp__list {
                color: darken($m-gray-base, 15%);
                li {
                    font-size: px2rem(24);
                    font-family: "NotoSansHans";
                    text-indent: 0.5rem;
                }
            }
            .desp_img {
                width: 100%;
                margin-top: 0.5rem;
            }
        }
        .desp_note {
            color: $m-gray-base;
            font-size: 0.6rem;
        }
    }
}

@include b(help5rule) {
    @extend .layset;
    padding: 0 px2rem(28);
    text-align: justify;
    font-size: px2rem(30);
    font-weight: 300;
    font-style: normal;
    line-height: px2rem(48);
    @include e(item) {
        width: 100%;
        border-bottom: 1px solid $brand-primary-dark;
        border-top: 1px solid $brand-primary-dark;
        padding-bottom: 25px;
        margin-top: 0.5rem;
        &:first-child {
            border-top: none;
            margin-top: 0;
        }
        &:last-child {
            border-bottom: none;
        }
        @include m(num) {
            width: 15%;
            height: 100%;
            padding-top: 4rem;
            float: left;
            font-family: "ClementePDac";
            font-size: px2rem(120);
            font-weight: 200;
            font-style: normal;
            text-align: center;
            color: $brand-primary-dark;
        }
        @include m(con) {
            width: 85%;
            float: left;
            padding-left: 2%;
            .title {
                @extend .help_title_set;
                text-align: left;
                &:after {
                    left: 0;
                    transform: translate(0)
                }
            }
            .desp {
                padding-top: 1rem;
            }
        }
    }
}

@include b(helpSelf) {
    text-align: center;
    @extend .layset;
    padding: px2rem(56) 0;
    @include e(item) {
        border: 2px solid $brand-primary-dark;
        border-radius: px2rem(10);
        padding: px2rem(32);
        text-align: center;
        transition: all 0.5s ease;
        background: transparent;
        display: inline-block;
        width: px2rem(148 * 2);
        height: px2rem(160 * 2);
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
        &.withDep {
            width: 13rem;
            height: 13rem;
            margin-bottom: 2.5rem;
            .hasImg {
                padding-top: 2rem;
                img {
                    width: px2rem(170);
                }
            }
        }
        @include m(icon) {
            color: $brand-primary-dark;
            font-size: 3.5rem;
            transition: all 0.5s ease;
            &.icon1 {
                font-size: 4.5rem;
                transform: scale(1.3);
                i {
                    transform: scaleY(1.2);
                }
            }
            &.icon2 {
                transform: scale(1.4);
            }
            &.icon3 {
                font-family: 'Impact';
            }
        }
        @include m(desp) {
            color: $brand-primary-dark;
            font-size: px2rem(30);
            transition: all 0.5s ease;
        }
        &.active {
            background: $brand-primary-dark;
            .icon,
            .desp {
                color: #fff;
            }
        }
    }
}

#layer_contentBox {
    display: none;
}

.layui-m-layercont {
    padding: 0;
}

@include b(layer_content) {
    padding: 0 px2rem(32) px2rem(56) px2rem(32);
    .self_desp {
        text-align: left;
        margin-top: 1rem;
        line-height: 1.5rem;
        font-size: px2rem(30);
        .color-brand-primary {
            color: $brand-primary-dark;
        }
    }
    .self_close {
        color: $brand-primary-dark;
        font-size: 1rem;
        text-align: right;
        padding-right: 1rem;
        margin-top: 1rem;
    }
    .self_tip {
        font-size: px2rem(16);
        color: #aaa;
        text-align: justify;
        line-height: 0.8rem;
        margin-top: px2rem(12);
    }
    @include b(flow) {
        width: 100%;
        @include e(item) {
            border: 1px solid $brand-primary-dark;
            border-radius: px2rem(16);
            margin-top: px2rem(32);
            padding: 1rem;
            padding-left: 0;
            @include m(operate) {
                float: left;
                width: 40%;
                color: $brand-primary-dark;
                font-size: 1rem;
                text-align: center;
                &.haspt {
                    padding-top: 1rem;
                }
                img {
                    width: 2rem;
                    &.special {
                        width: 4.5rem;
                    }
                    &.width25 {
                        width: 2.5rem;
                    }
                }
            }
            @include m(desp) {
                float: left;
                width: 60%;
                text-align: justify;
                color: $m-gray-base;
                font-size: px2rem(25);
                line-height: 1.125rem;
            }
        }
    }
    .flowChart__viewport {
        position: relative;
        width: 100%;
        height: 28rem;
        padding-top: px2rem(30);
        overflow-y: scroll;
        overflow-x: hidden;
        transition: all 0.5s ease;
        @include b(viewport_flows) {
            transition: left 0.5s ease;
            position: absolute;
            left: 0;
            width: 150rem;
            @include e(item) {
                float: left;
                width: 18rem;
                @include m(img_box) {
                    overflow-x: scroll;
                    width: 100%;
                    p {
                        text-align: center;
                        img {
                            width: 12rem;
                            border: 1px solid $brand-primary-dark;
                            float: left;
                            margin-right: px2rem(16);
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        &.num1 {
                            width: 12rem;
                            img {
                                float: none;
                                margin-left: 3rem;
                            }
                        }
                        &.num2 {
                            width: 26rem;
                        }
                        &.num3 {
                            width: 38rem;
                        }
                    }
                }
                @include m(desp) {
                    margin-top: 1rem;
                    text-align: left;
                    .steps {
                        color: $brand-primary-dark;
                        font-family: 'Impact';
                        font-size: 1rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

.help_carousel_layout {
    @extend .layset;
    padding-top: 1.65rem;
    .swiper-container {
        // width: 22rem;
        height: 32rem;
        .swiper-wrapper {
            width: 100%;
            height: 90%;
        }
        .swiper-slide {
            @include b(swiper-slide-content) {
                width: 91.5%;
                height: 100%;
                margin: 0 auto;
                border-radius: px2rem(32);
                border-top: 1px solid rgba(0, 0, 0, 0.035);
                box-shadow: 0.15rem 0.15rem 0.8rem rgba(0, 0, 0, 0.2);
                padding: px2rem(56) 0;
                overflow: auto;
                @include e(img_viewer) {
                    width: 85%;
                    height: 85%;
                    overflow: auto;
                    margin: 0 auto;
                    @include m(img_box) {
                        text-align: center;
                        img {
                            width: 12rem;
                            border: 1px solid $brand-primary-dark;
                            float: left;
                            margin-right: px2rem(16);
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        &.num1 {
                            width: 12rem;
                            img {
                                float: none;
                                margin-left: 3rem;
                            }
                        }
                        &.num2 {
                            width: 26rem;
                        }
                        &.num3 {
                            width: 38rem;
                        }
                    }
                }
                @include e(desp) {
                    margin-top: 1rem;
                    font-size: px2rem(30);
                    padding: 0 px2rem(28 * 2);
                    line-height: px2rem(48);
                }
            }
        }
        .swiper-pagination {
            bottom: 0.6rem;
            .swiper-pagination-bullet {
                width: px2rem(12);
                height: px2rem(12);
                margin: 0 px2rem(6);
                transition: all 0.5s ease;
            }
            .swiper-pagination-bullet-active {
                width: px2rem(30);
                border-radius: 15rem;
                @include gradient-horizontal($brand-primary, $brand-primary-dark);
            }
        }
    }
}