.m_vue_form-control {
    padding-left: 30px;
    border: none;
    border-bottom: 1px solid $gray;
}

.vue-form-control {
    padding-left: 30px;
    border: none;
    border-bottom: 1px solid $gray;
}

.primary-bg{
    background: $brand-primary-dark;
}

.pr-color{
    color: $brand-primary-dark;
}

@include b(m_vue) {
    padding: 30px 10px 0px;

    &.m_vue_bgc {
        padding-left: 0px;
        padding-right: 0px;
        background-color: #fafafa;
        height: 100%;
    }
}

// 内容导航
// --------------------------------------------------
@include b(m_vue_nav) {
    background-color: #fff;
    padding-left: 10px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    
    > li {

        &.nav_avatar {
            a {
                line-height: 50px;
            }
        }
        &:last-child {
            a {
                border-bottom: none;
            }
        }

        > a {
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 10px;
            border-bottom: 1px solid #f0f0f0;
            line-height: 20px;
        }
    }

    @include e(avatar) {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        vertical-align: middle;
    }

    @include e(title) {
        font-size: 16px;
        color: #333;
    }

    @include e(enter) {
        float: right;
        color: #888;
    }
}

// 上传头像
.info_avatar__container{
    padding-top: 20px;
}

.info_avatar__process_bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $brand-primary;
    transition: width 0.5s linear;
    -webkit-transition: width 0.1s linear;
}

@include b(upload_avatar) {

    @include e(avatar) {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    @include e(label) {
        @extend .btn;
        @extend .btn-lg;
        font-size: px2rem(32);
        background: $brand-primary;
        width: 96%;
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
    }

    @include e(input) {
        display: none;
    }

    @include e(tip) {
        margin-top: 20px;
        margin-bottom: 15px;
        color: $gray;
    }
}

@include b(m_vue_binding_email) {
    @include e(tip) {
        color: #888;
        margin-bottom: 20px;
    }

    @include e(resend) {
        text-align: center;
        margin-top: 10px;

        a {
            color: #666;
        }
    }

    @include e(icon) {
        text-align: center;

        img {
            width: 80px;
        }
    }

     @include e(tit) {
        text-align: center;
        padding-top: 20px;
    }

    .form-control-wrapper {
        &.formWidth50 {
            width: 50%;
            margin-left: auto;
            margin-right: auto;

            .form-control {
                text-align: center;
            }
        }
    }
}

