<div class="blog_agreement">
    <div class="blog_agreement__title row">
        <h4 class="tit col-xs-6"><%= lang.text("amtIndex1")%></h4>
        <p class="tip col-xs-6"><%= lang.text("amtIndex2")%><%= lang.text("amtIndex3")%></p>
    </div>
    <ul class="blog_agreement__content row <%= lang.currentLanguage()%>">
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/legal"><%= lang.text("amtIndex4")%></a></div>
            <p class="tip"><%= lang.text("amtIndex5")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/client"><%= lang.text("amtIndex6")%></a></div>
            <p class="tip"><%= lang.text("amtIndex7")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/risk"><%= lang.text("amtIndex8")%></a></div>
            <p class="tip"><%= lang.text("amtIndex9")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/cookie"><%= lang.text("amtIndex10")%></a></div>
            <p class="tip"><%= lang.text("amtIndex11")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/business"><%= lang.text("amtIndex12")%></a></div>
            <p class="tip"><%= lang.text("amtIndex13")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/responsibly"><%= lang.text("amtIndex14")%></a></div>
            <p class="tip"><%= lang.text("amtIndex15")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/conditions"><%= lang.text("amtIndex16")%></a></div>
            <p class="tip"><%= lang.text("amtIndex17")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/statement"><%= lang.text("amtIndex18")%></a></div>
            <p class="tip"><%= lang.text("amtIndex19")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/categorization"><%= lang.text("amtIndex20")%></a></div>
            <p class="tip"><%= lang.text("amtIndex21")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/funds"><%= lang.text("amtIndex22")%></a></div>
            <p class="tip"><%= lang.text("amtIndex23")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/execution"><%= lang.text("amtIndex24")%></a></div>
            <p class="tip"><%= lang.text("amtIndex25")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/conflicts"><%= lang.text("amtIndex26")%></a></div>
            <p class="tip"><%= lang.text("amtIndex27")%></p>
        </li>
        <li class="blog_agreement__item col-xs-4">
            <div class="tit"><a href="/agreement/complaint"><%= lang.text("amtIndex28")%></a></div>
            <p class="tip"><%= lang.text("amtIndex29")%></p>
        </li>
    </ul>
</div>