<div class="blog_notice">
    <h2 class="blog_notice__title"><%= lang.text("notice1")%></h2>
    <p class="blog_notice__gray"><%= lang.text("notice2")%></p>
    <h4><%= lang.text("notice3")%></h4>

    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice4")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("notice21")%><br>
            <%= lang.text("notice22")%><br>
            <%= lang.text("notice23")%><br>
            <%= lang.text("notice24")%><br>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice5")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree21") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice6")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree22") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice7")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree23") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice8")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree24") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice9")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree25") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice10")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree26") %><br>
            <%= lang.text("mAgreementThree27") %><br>
            <%= lang.text("mAgreementThree28") %><br>
            <%= lang.text("mAgreementThree29") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice11")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree30") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice12")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree31") %><br>
            <%= lang.text("mAgreementThree32") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice13")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree33") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice14")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree34") %><br>
            <%= lang.text("mAgreementThree35") %><br>
            <%= lang.text("mAgreementThree36") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice15")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree37") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice16")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree38") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice17")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree39") %><br>
            <%= lang.text("mAgreementThree40") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice18")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree41") %><br>
            <%= lang.text("mAgreementThree42") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice19")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree43") %>
        </div>
    </div>
    <div class="blog_notice__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            <%= lang.text("notice20")%>
        </div>
        <div class="blog_notice__gray info mg-bt-20">
            <%= lang.text("mAgreementThree44") %><br>
            <%= lang.text("mAgreementThree45") %><br>
            <%= lang.text("mAgreementThree46") %><br>
            <%= lang.text("mAgreementThree47") %><br>
            <%= lang.text("mAgreementThree48") %>
        </div>
    </div>
</div>