//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------
.btn {
    display: inline-block;
    height: $btn-height-base;
    margin-bottom: 0; // For input.btn
    border: 1px solid transparent;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: $btn-font-weight;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    cursor: pointer;
    @include button-size($btn-padding-vertical, $btn-padding-horizontal, $btn-font-size, $btn-height-base, $line-height-base, $btn-border-radius);
    @include user-select(none);

    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        pointer-events: none; // Future-proof disabling of clicks
    }
}

.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border, $btn-default-hover-bg, $btn-default-hover-border);
}

.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-hover-bg, $btn-primary-hover-border);
}

.btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border, $btn-info-hover-bg, $btn-info-hover-border);
}

.btn-sm {
    @include button-size($btn-padding-vertical, $btn-padding-horizontal-sm, $btn-font-size, $btn-height-sm, $line-height-base, $btn-border-radius);
}
.btn-lg {
    @include button-size($btn-padding-vertical, $btn-padding-horizontal-lg, $btn-font-size, $btn-height-lg, $line-height-base, $btn-border-radius);
}


// 按钮点击后等待状态
@include b(loading) {
    @-webkit-keyframes rotate {
        0% {
            @include rotate(0deg);    
        }
        100% {
            @include rotate(360deg);
        }
    }
    @keyframes rotate {
        0% {
            @include rotate(0deg);    
        }
        100% {
            @include rotate(360deg);
        }
    }

    vertical-align: middle;
    @include animation(rotate 1.5s infinite linear);
}