.line_chart, 
.pie_chart,
.bar_chart,
.column_chart {
    position: relative;

    > img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-left: -25px;
    }
}

@include b(scale_bar) {
    height: 20px;
    background-color: $gray;
    border-radius: 2px;
    margin-top: 10px;
    position: relative;

    @include e(info) {
        position: absolute;
        right: 10px;
        top: -24px;
        color: $gray-darker;
    }

    @include e(item) {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $brand-primary;
        transition: width 1s ease-out;
    }
}