@include b(dropdown) {
    position: relative;
    
    &.open {
        .dropdown-menu {
            display: block;
        }
    }

    @include m(toggle) {
        &:focus {
            outline: none;
        }
    }
}

@include b(dropdown-menu) {
    position: absolute;
    top: 100%;
    left: 0;
    // width: 100px;
    min-width: 100%;
    z-index: $zindex-dropdown;
    display: none;
    font-size: $font-size-base;
    text-align: left;
    background-color: rgb(36, 42, 54);
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    padding: 6px 0;
    
    // &.pull-right {
    //     right: 0;
    //     left: auto;
    // }
    > li {
        margin: 2px 0;
    }
    > li > h2 > a {
        display: block;
        padding: 10px 16px;
        clear: both;
        line-height: $line-height-base;
        white-space: nowrap;
        color: $white-100;
        font-size: 14px;

        &:hover,
        &:focus {
            // text-decoration: none;
            color: $gray-base;
            background-color: $main-color;
            // border-bottom-color: $brand-primary;
        }
    }
    > li.active >h2 > a {
        color: $gray-base;
        background-color: $main-color;
    }
    // > li:last-child {
    //    > h2 > a {
    //         border-bottom: none;
    //     }
    // }
}