.footer-wrap {
    background-color: $gray-base;
    color: $gray-light;
    .footer-container {
        width: 1200px;
    }
    h2, h3 {
        margin: 0px;
        font-weight: normal;
    }

    .contact-us {
        // float: right;
        h2 {
            p {
                font-size:14px;
                line-height:27px;
            }
        }
        .phone {
            font-size:40px;
            font-weight:500;
        }
    }
    .link-list {
        float: left;
        overflow: hidden;
        .link-list__item {
            float: left;
            margin: 0 60px;
            h2 {
                p {
                    font-size:20px;
                    font-weight:500;
                    line-height:27px;
                }
            }
            h3 {
                a{
                    color: $white-50;
                    font-size: 14px;

                    &:hover {
                        color: $brand-primary;
                    }
                }
            }
           &:first-child {
               margin-left: 0;
           }
           &.vi{
               margin-left: 0;
           }

        }
    }
    .footer_con {
        color: $white-30;
        a {
            color: $white-30;
        }
    }
    .scb-fca{
        overflow: hidden;
        padding-bottom: 80px;
        > div{
            float: right;
            p {
                font-size:12px;
                line-height:17px;
            }
        }
        
    }
}
.img-20 {
    height: 20px;
}
.footer-weibo {
    position: relative;
    float: left;
    padding-right: 11px;

}
.footer-weixin {
    float: left;
    position: relative;
    span {
        display: none;
        position: absolute;
        left: 108%;
        top: -70%;
    }
    &:hover {
        span {
            display: block;
        }
    }
}
.footer-follow {
    padding-top: 20px;
}
.footer-follow-tip {
    font-size:14px;
    line-height:19px;
}


.footer-bottom {
    background-color: #111;
    color: $gray-dark;

    span {
        color: $brand-primary;
    }
}

.footer-service-layer {
    border-radius: 4px !important;

    h4 {
        font-weight: 400;
        text-align: center;
        margin-top: 40px;
        font-size: 20px;
        
    }
    ul {
        padding: 20px 30px;

        li {
            float: left;
            width: 255px;
            height: 110px;
            border: 2px solid #ffd202;
            border-radius: 4px;
            text-align: center;
            line-height: 110px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;

            &.ordinary_serv {
                margin-right: 15px;
            }
            &.agent_serv {
                margin-left: 15px;
            }
            &:hover {
                background-color: #ffd202;
            }

            span {
                img {
                    width: 36px;
                    margin-right: 16px;
                }
            }
        }
    }
    .tip {
        padding: 0px 15px;
        p {
            width: 50%;
            float: left;
            text-align: center;
            line-height: 20px;
        }
    }
}






