.footer-wrap {
    background-color: $gray-base;
    color: $gray-light;

    h2, h3 {
        margin: 0px;
        font-weight: normal;
    }

    div > h2 > p > span {
        font-size: $font-size-h4;
        padding-bottom: 5px;
        border-bottom: 1px solid $brand-primary;
    }

    .col-xs-2 > ul > li {
        margin-bottom: 10px;
    }

    .col-xs-2, .col-xs-3 { 
        > ul > li > h3 {
        line-height: 18px;

        > a{
            color: $gray-dark;
            font-size: 14px;
    
            &:hover {
                color: $brand-primary;
            }
        }
    }

    }
    .col-xs-3 > ul > li > h3 > a{
        color: $gray-dark;
        font-size: 14px;
        &:hover {
            color: $brand-primary;
        }
    }

    a > i {
        font-size: $font-size-h3;
        vertical-align: top;
    }

    .col-xs-4 {
        color: $gray-dark;

        ul > li:first-child {
            span {
                font-size: $font-size-h1;
                color: $brand-primary;
            }
        }

        p > i {
            margin-right: 5px;
        }
    }

    .footer_con {
        padding-top: 30px;
        border-top: 1px solid $gray-darker;
        color: $gray-darker;
        strong {
            color: #999;
        }
    }
}

.footer-weibo {
    position: relative;
    float: left;
    padding-right: 15px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        right: 0px;
        width: 1px;
        height: 15px;
        background-color: $brand-primary;
    }
}
.footer-weixin {
    float: left;
    padding-left: 15px;
    position: relative;

    span {
        display: none;
        position: absolute;
        left: 108%;
        top: -70%;
    }

    &:hover {
        span {
            display: block;
        }
    }
}
.footer-follow {
    padding-top: 10px;
}
.footer-follow-tip {
    font-size: 12px;
    color:  #999;
}


.footer-bottom {
    background-color: #111;
    color: $gray-dark;

    span {
        color: $brand-primary;
    }
}

.footer-service-layer {
    border-radius: 4px !important;

    h4 {
        font-weight: 400;
        text-align: center;
        margin-top: 40px;
        font-size: 20px;
        
    }
    ul {
        padding: 20px 30px;

        li {
            float: left;
            width: 255px;
            height: 110px;
            border: 2px solid #ffd202;
            border-radius: 4px;
            text-align: center;
            line-height: 110px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;

            &.ordinary_serv {
                margin-right: 15px;
            }
            &.agent_serv {
                margin-left: 15px;
            }
            &:hover {
                background-color: #ffd202;
            }

            span {
                img {
                    width: 36px;
                    margin-right: 16px;
                }
            }
        }
    }
    .tip {
        padding: 0px 15px;
        p {
            width: 50%;
            float: left;
            text-align: center;
            line-height: 20px;
        }
    }
}






