@mixin form-control-focus($color: $input-border-focus) {
    $color-rgba: rgba(red($color), green($color), blue($color), .6);
    &:focus {
        border-color: $color;
        outline: 0;
        @include box-shadow(inset 0 0 4px $color-rgba, 0 0 8px $color-rgba);
    }
    &.bd-bt:focus {
        box-shadow: none;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: $input-height-base;
    padding: $padding-base-vertical $padding-base-horizontal;
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
    line-height: $line-height-base;
    font-size: $font-size-base;
    color: $input-color;
    background-color: $input-bg;
    @include transition(border-color ease .15s, box-shadow ease .15s);
    @include form-control-focus;
    @include placeholder;
    &.icon {
        padding-left: $input-padding-left;
    }
    &.bd-bt {
        padding-left: $input-padding-left-normal;
    }
    &:focus {
        & + .form-control-icon {
            color: $gray-dark;
        }
    }
    &.bd-bt{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $input-border;
    }
    &.disabled {
        cursor: not-allowed;
    }
    &.radius {
        border-radius: 100px;
    }
}

// 形状
.form-control-shape-capsule {
    border-radius: 100px;
}

.form-control-shape-square {
    border-radius: $input-border-radius;
}

.form-control-size-lg {
    height: $input-height-lg;
    padding: 0 $input-padding-horizontal-lg * 2;
    line-height: $input-height-lg;
    font-size: $font-size-large;
}

.form-control-size-md {
    height: $input-height-base;
    padding: $padding-base-vertical $padding-base-horizontal;
    line-height: $line-height-base;
    font-size: $font-size-base;
}

.form-control-error {
    border-color: $brand-danger;
    color: $brand-danger;
    @include form-control-focus($brand-danger);
    @include placeholder($brand-danger);
    & + .form-control-icon {
        color: $brand-danger;
    }
    &.bd-bt{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $brand-danger;
    }
}

.form-control-wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    .verify_code_btn_wrapper {
        position: absolute;
        top: 7px;
        right: 0;
        width: 170px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        border-left: 1px solid $main-char-color-30;
        color: $main-char-color-100;
        .verify_code_btn {
            cursor: pointer;

            &.unable {
                color: $main-char-color-30;
                cursor: not-allowed;
            }
        }
    }
}

.form-control-title {
    line-height: 40px;
}
.form-control-icon {
    position: absolute;
    font-size: 16px;
    color: $gray-base;
    &.bd-bt{
        top: 12px;
        left: 5px;
    }
}

.form-control-icon-size-md {
    top: 11px;
    left: 12px;
    font-size: $font-size-large;
}

.form-control-icon-size-lg {
    position: absolute;
    top: 12px;
    left: $input-padding-horizontal-lg;
    font-size: $font-size-xl;
    &.bd-bt{
        left: 5px;
    }
}

// 登录新版样式tigerwit登录注册
.account-form-control-wrapper-new {
    position: relative;
    display: block;
    margin-bottom: 30px;

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    }  // 清除Chrome input自动填充后黄色背景
    
    /*placeholder字体大小*/  
    ::-webkit-input-placeholder { /* WebKit browsers */  
        font-size: 14px;
        color: $main-char-color-30;
    }  
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
        font-size: 14px;
        color: $main-char-color-30;
    }  
    ::-moz-placeholder { /* Mozilla Firefox 19+ */  
        font-size: 14px;
        color: $main-char-color-30;
    }  
    :-ms-input-placeholder { /* Internet Explorer 10+ */  
        font-size: 14px;
        color: $main-char-color-30;
    }  
    .select-left{
        height: 100%;
        position: absolute;
        width: 56px;
        top: 0;
        left: 0;
        .select__input{
            padding: 0 10px 0 0;
            height: 22px;
            margin-top: 11px;
            border: none;
            color: $main-char-color-100;
            &:focus{
                box-shadow: none;
            }
        }

    }
    .select-right{
        padding-left: 58px;
    }
}
.account-form-control-new {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid $border-color-base; 
    line-height: 46px;
    font-size: 18px;
    color: $main-char-color-100;
    font-weight: 400;
}
.account-form-control-new:focus{
    border-bottom: 1px solid $login-link; 
    &+.account-form-control-tip-new {
        color: $login-link;
    }
}
.account-form-control-tip-new {
    position: absolute;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    top: -11px;
    left: 0;
    padding: 0;
    background-color: #fff;
    color: $main-char-color-30;
    z-index: 100;
}



//== 登录input样式
.account-form-control-wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;

    /*placeholder字体大小*/  
    ::-webkit-input-placeholder { /* WebKit browsers */  
        font-size: 14px;
        color: #c8c8c8;
    }  
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
        font-size: 14px;
        color: #c8c8c8;
    }  
    ::-moz-placeholder { /* Mozilla Firefox 19+ */  
        font-size: 14px;
        color: #c8c8c8;
    }  
    :-ms-input-placeholder { /* Internet Explorer 10+ */  
        font-size: 14px;
        color: #c8c8c8;
    }  
    .select-left{
        height: 100%;
        position: absolute;
        width: 80px;
        top: 0;
        left: 0;
        .select__input{
            padding-top: 0;
            padding-bottom: 0;
            height: 22px;
            margin-top: 12px;
            border: none;
            border-right: 1px solid #ccc;
            &:focus{
                box-shadow: none;
            }
        }
    }
    .select-right{
        padding-left: 87px;
    }
    .select__icon{
        top: 14px;
    }
}
.account-form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 0px;
    padding-left: 18px;
    border: 1px solid $input-border;
    border-radius: 14px;
    line-height: 46px;
    font-size: 18px;
    color: $main-char-color-100;
    font-weight: 100;
    
}
.account-form-control-tip {
    position: absolute;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    top: -7px;
    left: 22px;
    padding: 0 8px;
    background-color: #fff;
    color: $main-char-color-30;
    z-index: 100;
}

//== checkbox
.checkbox {
    cursor: pointer;
    > .fa {
        width: 12px;
    }
    > .fa-square-o,
    &.checked > .fa-check-square {
        display: inline-block;
    }
    > .fa-check-square,
    &.checked > .fa-square-o {
        display: none;
    }
    > input[type="checkbox"] {
        display: none;
    }
}

//== radio
.radio {
    cursor: pointer;
    > .fa-circle-o,
    &.checked > .fa-dot-circle-o {
        display: inline-block;
    }
    > .fa-dot-circle-o,
    &.checked > .fa-circle-o {
        display: none;
    }
    > input[type="radio"] {
        display: none;
    }
}

.warning {
    color: #fc575a;
}

//== 高手简介等的 textarea
@include b(editbox) {
    position: relative;
    margin-bottom: 30px;
    $editbox-height: 60px;
    @include e(textarea) {
        @extend .form-control;
        @include form-control-focus;
        height: $editbox-height;
        padding: $padding-base-vertical $padding-base-horizontal;
        border: 1px solid $input-border;
        resize: none;
        @include m(error) {
            color: $brand-danger;
        }
    }
    @include e(words_limit) {
        position: absolute;
        top: $editbox-height + 2px;
        right: 0px;
        color: $gray-dark;
    }
}

//== select
@include b(select) {
    position: relative;
    @include e(input) {
        @extend .form-control;
        padding-right: 30px;
        position: relative;
        z-index: 2;
        &.disabled {
            cursor: not-allowed;
        }
        &[readonly]{
            outline: none;
            box-shadow: none;

        }
    }
    @include e(icon) {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: $input-color-placeholder;
    }
    @include e(dropdown) {
        position: absolute;
        top: $input-height-base + 5px;
        z-index: $zindex-dropdown;
        display: none;
        min-width: 200px;
        width: 100%;
        max-height: 300px;
        border: 1px solid $gray-form-border;
        border-radius: $border-radius-base;
        background-color: #fff;
        overflow-y: auto;
        // & > li {
        //     border-bottom: 1px solid $gray;
        // }
        // & > li:last-child {
        //     border-bottom: 0;
        // }
        &.active {
            display: block;
        }
        & > li > span {
            display: block;
            padding: $padding-base-vertical $padding-base-horizontal;
            color: $gray-dark;
            cursor: pointer;
        }
        > li.selected > span,
        > li > span:hover {
            background-color: $gray-lighter;
        }
        > li {
            border-bottom: 1px solid $main-char-color-8;
            &:last-child {
                border: none;
            }
        }
        .first_li {
            position: relative;
            input[type="text"] {
                width: 100%;
                border: none;
                padding: 8px 10px 4px 35px;
                height: 36px;
                font-weight:400;
                color:$main-char-color-100;
            }
            i {
                position: absolute;
                top: 8px;
                left: 6px;
                color: $login-line;
                font-size: 23px;
            }
        }
    }
}