.icon-forex {
    display: inline-block;
    width: 50px;
    height: 40px;
    vertical-align: middle;
    background-position: 50%;
}
@each $name in $forex-names {

    .icon-forex-#{$name} {
        @extend .icon-forex;
        @include img-retina($icon-path-forex + "#{$name}.png", $icon-path-forex + "#{$name}@2x.png", 50px, 40px);
    }
}

.icon-bank {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    @include img-normal($icon-path-bank + "banks.jpg");
    background-color: #fff;
}

// @each $name in $bank-names {
//     .icon-bank-#{$name} {
//         @extend .icon-bank;
//         @include img-normal($icon-path-bank + "#{$name}.jpg");
//     }
// }

.icon-banks {
    display: inline-block;
    width: 129px;
    height: 34.55px;
    vertical-align: middle;
    background-size: 100% auto;
    @include img-normal($icon-path-bank + "bank_list.jpg");
}
@each $name in $bank-names_new {
    .icon-banks-#{$name} {
        @extend .icon-banks;
        // background-position-x: 0;
        // background-position-y: -(index($bank-names, $name) - 1) * 44px;
        background-position:0px (-(index($bank-names_new, $name) - 1) * 34.55px);
    }
}

