@include b(layout-1) {
    @extend .container;
    margin-top: $navbar-height;
}

@include b(layout-2) {
    @extend .container;
    margin-top: 69px;
    padding: 0;

    @include e(side) {
        @extend .col-xs-3;
    }

    @include e(content) {
        @extend .col-xs-9;

        @include m(tip) {
            display: block;
            margin-top: 30px;
            color: #fb4a67;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    @include e(404) {
        height: 575px;
        background: url('/images/404.png') no-repeat;
        background-position: center center;
        margin-top: 50px;
        margin-bottom: 50px;

        p {
            text-align: center; 
            font-size: 24px; 
            padding-top: 360px; 
            padding-left: 154px; 
            color: #666;

            a {
                color: #fe5f5f;
            }
        }
    }
}

@include b(layout-3) {

    @include e(side) {
    }

    @include e(content) {
    }

    @include e(info) {
    }
}