//== loading 效果 gif 图片
.loading_img {
    $loading_img_width: 50px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-loading_img;
    display: none;
    background-color: #fff;

    &.active {
        display: block;
    }

    & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $loading_img_width;
        height: $loading_img_width;
        margin-top: - ($loading_img_width / 2);
        margin-left: - ($loading_img_width / 2);
    }
}

//== 按钮点击后等待状态
.loading_spinner {
    @-webkit-keyframes rotate {
        0% {
            @include rotate(0deg);
        }
        100% {
            @include rotate(360deg);
        }
    }
    @keyframes rotate {
        0% {
            @include rotate(0deg);    
        }
        100% {
            @include rotate(360deg);
        }
    }

    vertical-align: middle;
    @include animation(rotate 1.5s infinite linear);
}