//== Navs
.nav {
    @extend .clearfix;
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;

    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

    > li > a > img {
        max-width: none;
    }
}


//== Navbars
.navbar {
    @extend .clearfix;
    position: relative;
    min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
    border-bottom: 1px solid #222;
    border-radius: 0;
    @include img-normal($image-path-base + "navbar-bg.png");
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-navbar;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
}

// Navbar heading
.navbar-header {
    @extend .clearfix;
    float: left;

    // .logo {
    //     margin: 5px 10px 0 0;
    //     vertical-align: middle;
    // }
}

.navbar-nav {
    float: left;
    margin: 0;

    > li {
        float: left;

        > a {
            margin: 0 $navbar-margin-horizontal;
            padding: $navbar-padding-vertical 0;
            line-height: $navbar-line-height;
            text-decoration: none;
            font-size: $navbar-font-size;
            color: $gray-lighter;
        }
    }
    
    > .active > a {
        color: $brand-primary;
    }
}