//
// Navs
// -------------------------------------------------------------
.nav {
    @extend .clearfix;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

    > li > a > img {
        max-width: none;
    }
}

// 要删的  start
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1060px;
}

.clearfix {
    &:before,
    &:after {
        content: ""; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

//  要删的  end

//
// Navbars
// -------------------------------------------------------------
.navbar {
    @extend .clearfix;
    position: relative;
    min-height: 84px;   //  要换成变量
    border-radius: 0;
    background-color: #141414;
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;    //  要换成变量
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
    > li > a:hover {
        border-bottom-color: transparent;
    }
}

// Navbar heading
.navbar-header {
    @extend .clearfix;
    float: left;

    .logo {
        margin: 5px 15px 5px 0;
        vertical-align: middle;
    }

}






















