.pagination {
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed 0;
    border-radius: $border-radius-lg;

    > li {
        display: inline;
        > a,
        > span {
            position: relative;
            float: left;
            padding: $pagination-padding-vertical $pagination-padding-horizontal;
            line-height: $line-height-base;
            text-decoration: none;
            color: $pagination-color;
            background-color: $pagination-bg;
            border: 1px solid $pagination-border;
            margin-left: 6px;
            border-radius: $border-radius-lg;
        }

        &:first-child,
        &:last-child {
            > a,
            > span {
                padding-left: 20px;
                padding-right: 20px;
            }
            &.disabled {
                > span,
                > span:hover,
                > span:focus,
                > a,
                > a:hover,
                > a:focus {
                    color: $pagination-disabled-color;
                    background-color: $pagination-disabled-bg;
                    cursor: $cursor-disabled;
                    border-color: $pagination-border;
                }
            }       
        }
        &:first-child {
            > a,
            > span {
                margin-right: 20px;
                background-color: $pagination-lg-bg;
                border-color: $pagination-lg-bg;

                &:hover,
                &:focus {
                    color: $pagination-color;
                    background-color: $pagination-lg-hover-bg;
                    border-color: $pagination-lg-hover-bg;
                }
            } 
        }
        &:last-child {
            > a,
            > span {
                margin-left: 26px;
                background-color: $pagination-lg-bg;
                border-color: $pagination-lg-bg;

                &:hover,
                &:focus {
                    color: $pagination-color;
                    background-color: $pagination-lg-hover-bg;
                    border-color: $pagination-lg-hover-bg;
                }
            }    
        }
        
    }

    > li > a,
    > li > span {
        &:hover,
        &:focus {
            color: $pagination-hover-color;
            background-color: $pagination-hover-bg;
            border-color: $pagination-hover-border;
        }
    }

    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            z-index: 2;
            color: $pagination-active-color;
            background-color: $pagination-active-bg;
            border-color: $pagination-active-border;
            cursor: default;
        }
    }
}