.progress {
    position: relative;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid $gray;
}

.progress-title {
    position: relative;
    top: -10px;
}
.scale {
    position: relative;
    background: $brand-primary;
    // height: 13px;
    // width: 70%;
    border-radius: 10px;
}

.circle {
    position: absolute;
    top: -10px;
    // left: 68%;
    margin-left: -5px;
    width:35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    border: 1px solid $gray;
    font-size: 12px;
}