table {
    background-color: $table-bg;
}

.table {
    width: 100%;
    max-width: 100%;
    text-align: center;
    > thead,
    > tbody {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $line-height-base;
                vertical-align: middle;
                font-weight: 400;
            }
        }
    }

    > tbody {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding-large $table-cell-padding;
            }
        }
    } 
}

.table-header {
    > thead > tr > th {
        vertical-align: middle;
        color: $table-color-head;
        background-color: $table-bg-head;

        &:first-child {
            border-top-left-radius: $border-radius-base;
        }

        &:last-child {
            border-top-right-radius: $border-radius-base;
        }
    }  
}

.table-bordered {

    > tbody {
        border-left: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
    }

    > tbody > tr > td:last-child {
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 90px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 1px;
            height: 100%;
            background-color: $table-border-color;
        }
    }
}

.table-striped {
    > tbody > tr:nth-child(2n) {
        background-color: $table-bg-accent;
    }
}

.table-hover {
    > tbody > tr:hover {
        background-color: $table-bg-hover;
    }
}


// 如果是个人中心的table，就加 .table-personal 类
// 已覆盖  table-hover 类
.table-personal {

    > thead > tr > th {
        background-color: $gray-darker;
        color: $gray-lightest;
    }

    > tbody {
        color: $gray-base;
    }

    > tbody > tr:nth-child(2n) {
        background-color: $gray-light; 
    }
}
// .table-fff {
//     > thead {
//         > tr {
//             > th {
//                 color: rgb(36, 42, 54);
//                 background: none;
//             }
//         }
//     }
// }

// 新版通行证个人中心表格修改
.table-traffic {
    thead {
        font-size: 16px;
        tr{
            th{
                background-color: rgb(232, 232, 232);
                padding: 20px 30px 16px;
            }
        }
    }
    tbody {
        font-size: 14px;
        color: rgba(36, 42, 54, 0.8);
        tr {
            border-bottom: 1px solid rgba(151, 151, 151, 0.2);
            td {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

    }
    .font-12{
        font-size: 12px;
        color: rgba(36, 42, 54, 0.6);
        margin-top: 5px;
    }
    .font-14{
        font-size: 14px;
        color: rgba(36, 42, 54, 0.8);
    }
    .font-16{
        font-size: 16px;
        color: rgba(36, 42, 54, 1);
    }
    .font-info {
        cursor: pointer;
    }
}