table {
    background-color: $table-bg;
}

.table {
    width: 100%;
    max-width: 100%;
    text-align: center;

    > thead,
    > tbody {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $line-height-base;
                vertical-align: middle;
            }
        }
    }

    > tbody {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding-large $table-cell-padding;
            }
        }
    }

    > thead > tr > th {
        vertical-align: middle;
        font-weight: 400;
        color: $table-color-head;
        background-color: $table-bg-head;

        &:first-child {
            border-top-left-radius: $border-radius-base;
        }

        &:last-child {
            border-top-right-radius: $border-radius-base;
        }
    }   
}

.table-bordered {

    > thead > tr > th {
        // &:first-child {
        //     border-left: 1px solid $table-bg-head;
        // }

        &:last-child {
            border-right: 1px solid $table-bg-head;
        }
    }

    > tbody {
        border: 1px solid $table-border-color;
        border-top: none;
    }
}

.table-striped {
    > tbody > tr:nth-child(2n) {
        background-color: $table-bg-accent;
    }
}

.table-hover {
    > tbody > tr:hover {
        background-color: $table-bg-hover;
    }
}


// 如果是个人中心的table，就加 .table-personal 类
// 已覆盖  table-hover 类
.table-personal {

    > thead > tr > th {
        background-color: $gray-darker;
        color: $gray-lightest;
    }

    > tbody {
        color: $gray-base;
    }

    > tbody > tr:nth-child(2n) {
        background-color: $gray-light; 
    }
}
