table {
    background-color: $table-bg;
}

.table {
    width: 100%;
    max-width: 100%;
    text-align: center;

    > thead,
    > tbody {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $line-height-base;
                vertical-align: middle;
                font-weight: 400;
            }
        }
    }

    > tbody {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding-large $table-cell-padding;
            }
        }
    } 
}

.table-header {
    > thead > tr > th {
        vertical-align: middle;
        color: $table-color-head;
        background-color: $table-bg-head;

        &:first-child {
            border-top-left-radius: $border-radius-base;
        }

        &:last-child {
            border-top-right-radius: $border-radius-base;
        }
    }  
}

.table-bordered {

    > tbody {
        border-left: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
    }

    > tbody > tr > td:last-child {
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 1px;
            height: 100%;
            background-color: $table-border-color;
        }
    }
}

.table-striped {
    > tbody > tr:nth-child(2n) {
        background-color: $table-bg-accent;
    }
}

.table-hover {
    > tbody > tr:hover {
        background-color: $table-bg-hover;
    }
}