//== 避免页面闪烁 flicker
[ng-cloak] {
    display: none !important;
}
.body {
    min-height: 69px;
}
.new_body {
    min-height: 69px;
    background: $new-body;
}
//== 定位
.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.center{
    margin: 0 auto;
}

.twLayout{
    width: 1334px;
}

.ctn{
    width: 1030px;
}

//== display
.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

//== text-align
.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right;
}

//== font
.font-slim{
    font-weight: 200;
}

.font-normal {
    font-weight: 400;
}

.font-bold-light {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.font-base{
    color: $gray-base !important;
}

.font-primary {
    color: $brand-primary !important;
}
.font-primary-darker {
    color: $brand-primary-dark !important;
}
.font-up{
    color:$brand-danger !important;
}
.font-down{
    color:$brand-success !important;
}
.font-danger {
    color: $brand-danger !important;
}

.font-info {
    color: $brand-info !important;
}

.font-success {
    color: $brand-success !important;
}

.font-warning {
    color: $brand-warning !important;
}

.font-gray {
    color: $gray !important;
}

.font-dark {
    color: $gray-dark !important;
}

.font-darker {
    color: $gray-darker !important;
}

.font-darkest {
    color: $gray-darkest !important;
}

.font-light {
    color: $gray-light !important;
}

.font-white {
    color: #fff !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-22 {
    font-size: 22px !important;
}

.font-size-26 {
    font-size: 26px !important;
}
//== margin
.mg-tp-0 {
    margin-top: 0px !important;
}
.mg-tp-10 {
    margin-top: 10px;
}

.mg-tp-15 {
    margin-top: 15px !important;
}

.mg-tp-20 {
    margin-top: 20px;
}

.mg-tp-25 {
    margin-top: 25px;
}

.mg-tp-30 {
    margin-top: 30px;
}

.mg-tp-40 {
    margin-top: 40px;
}

.mg-tp-48{
    margin-top: 48px !important;
}

.mg-tp-50 {
    margin-top: 50px !important;
}

.mg-tp-60 {
    margin-top: 60px;
}
.mg-tp-70 {
    margin-top: 70px;
}
.mg-tp-84 {
    margin-top: 84px;
}
.mg-tp-100 {
    margin-top: 100px;
}

.mg-bt-0 {
    margin-bottom: 0px !important;
}

.mg-bt-10 {
    margin-bottom: 10px !important;
}

.mg-bt-15 {
    margin-bottom: 15px !important;
}

.mg-bt-20 {
    margin-bottom: 20px !important;
}

.mg-bt-30 {
    margin-bottom: 30px;
}

.mg-bt-40 {
    margin-bottom: 40px;
}

.mg-bt-50 {
    margin-bottom: 50px !important;
}

.mg-bt-80 {
    margin-bottom: 80px;
}

.mg-bt-100 {
    margin-bottom: 100px !important;
}
.mg-lf-0 {
    margin-left: 0 !important;
}
.mg-lf-10 {
    margin-left: 10px;
}
.mg-lf-15 {
    margin-left: 15px;
}

.mg-lf-20 {
    margin-left: 20px;
}

.mg-lf-25 {
    margin-left: 25px;
}

.mg-lf-30 {
    margin-left: 30px;
}
.mg-lf-80 {
    margin-left: 80px;
}
.mg-lf-100 {
    margin-left: 100px;
}
.mg-rg-10 {
    margin-right: 10px;
}
.mg-rg-15 {
    margin-right: 15px;
}

.mg-rg-20 {
    margin-right: 20px;
}

.mg-rg-25 {
    margin-right: 25px;
}

.mg-rg-30 {
    margin-right: 30px !important;
}

.mg-rg-100 {
    margin-right: 100px;
}

//== padding
.pd-tp-0 {
    padding-top: 0 !important;
}
.pd-tp-10 {
    padding-top: 10px;
}

.pd-tp-15 {
    padding-top: 15px;
}

.pd-tp-20 {
    padding-top: 20px;
}

.pd-tp-30 {
    padding-top: 30px !important;
}

.pd-tp-40 {
    padding-top: 40px;
}

.pd-tp-50 {
    padding-top: 50px;
}

.pd-tp-110 {
    padding-top: 110px !important;
}
.pd-bt-0 {
    padding-bottom: 0;
}
.pd-bt-10 {
    padding-bottom: 10px;
}
.pd-bt-15 {
    padding-bottom: 15px;
}

.pd-bt-20 {
    padding-bottom: 20px;
}

.pd-bt-25 {
    padding-bottom: 25px;
}

.pd-bt-30 {
    padding-bottom: 30px;
}
.pd-bt-50 {
    padding-bottom: 50px;
}

.pd-bt-100 {
    padding-bottom: 100px;
}

.pd-lf-0 {
    padding-left: 0 !important;
}

.pd-lf-5 {
    padding-left: 5px !important;
}

.pd-lf-10 {
    padding-left: 10px;
}

.pd-lf-20 {
    padding-left: 20px !important;
}

.pd-lf-35 {
    padding-left: 35px;
}

.pd-lf-40 {
    padding-left: 40px !important;
}

.pd-lf-50 {
    padding-left: 50px !important;
}
.pd-lf-100 {
    padding-left: 100px !important;
}


.pd-rg-0 {
    padding-right: 0 !important;
}

.pd-rg-10 {
    padding-right: 10px;
}

.pd-rg-20 {
    padding-right: 20px;
}

.pd-rg-35 {
    padding-right: 35px;
}

.pd-rg-40 {
    padding-right: 40px !important;
}
.line-height-30{
    line-height:30px;
}
.width-auto{
    width: auto !important;
}
.close {
    float: right;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    &:hover,
    &:focus {
        color: #ddd;
        text-decoration: none;
        cursor: pointer;
    }
}

// .logo {
//     $logo_size: 45px;

//     display: inline-block;
//     width: $logo_size;
//     height: $logo_size;
//     background-size: 100%;
//     margin: 0;
//     padding: 0;
//     @include img-retina($image-path-base + "logo.png", $image-path-base + "logo@2x.png", $logo_size, $logo_size);
// }

// .logocctv {
//     display: inline-block;
//     width: 93px;
//     height: 58px;
//     background-size: 100%;
//     @include img-normal($image-path-base + "logocctv.png");

// }

.clearfix {
    &:before,
    &:after {
        content: ""; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

.text-inline {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

//resetSwiperStyle
.swiper-pagination-bullet-active {
    opacity: 1;
    background: $brand-primary;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: $brand-primary;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

.swiper-pagination{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 20;
    text-align: center;
}
.swiper-pagination-home{
    bottom: 100px !important;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
