//== Colors
$brand-primary:             #fedd0a !default;
$brand-primary-lighter:     #ffed7b !default;
$brand-primary-dark:        darker($brand-primary, 10%);

$brand-info:                #1fb7f6 !default;
$brand-info-dark:           #4a89dc !default;
$brand-danger:              #ff4949 !default;
$brand-danger-dark:         #da4453 !default;
$brand-success:             #45aa00 !default;
$brand-success-dark:        #37bc9b !default;
$brand-warning:             #ff8400 !default;

$gray-base:                 #222 !default;
$gray-darkest:              #333 !default;
$gray-darker:               #666 !default;
$gray-dark:                 #999 !default;
$gray:                      #ebebeb !default;
$gray-light:                #f1f1f1 !default;
$gray-lighter:              #f7f7f7 !default;
$gray-lightest:             #fafafa !default;



$text-color:                $gray-base !default;
$link-color:                $brand-info !default;
$link-hover-color:          $brand-info-dark !default;

//== Z-index
$zindex-loading_img:        100 !default;
$zindex-alert:              1000 !default;
$zindex-dropdown:           1010 !default;
$zindex-navbar:             1050 !default;
$zindex-modal:              1070 !default;

//== Typography
$font-family-sans-serif:    "Helvetica Neue", Helvetica, "Lantinghei SC", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-base:            14px !default;
$font-size-large:           16px !default;

$font-size-h1:              30px !default;
$font-size-h2:              22px !default;
$font-size-h3:              18px !default;
$font-size-h4:              16px !default;
$font-size-h5:              $font-size-base !default;

$padding-base-vertical:     8px !default;
$padding-base-horizontal:   10px !default;

$cursor-disabled:           not-allowed !default;

$line-height-base:          1.428571429 !default; // 20/14
$line-height-computed:      floor(($font-size-base * $line-height-base)) !default; // ~20px

$border-color-base:         $gray !default;
$border-radius-base:        2px !default;
$border-radius-lg:          4px !default;

//== Font path
$font-path-base:             "../fonts/";

//== Background image path
$image-path-base:            "../images/";
$image-path-home:            "../images/home/";
$image-path-personal:        "../images/personal/";
$image-path-master:          "../images/master/";
$image-path-account:         "../images/account/";
$image-path-about_us:        "../images/about_us/";
$icon-path-forex:            "../images/icons-forex/";
$icon-path-bank:             "../images/icons-bank/";

//== Icon name
$forex-names: audcad, audchf, audjpy, audnzd, audusd, cadchf, cadjpy, chfjpy, dax,
              euraud, eurcad, eurchf, eurgbp, eurjpy, eurnzd, eurusd, ffi, gbpaud,
              gbpcad, gbpchf, gbpjpy, gbpnzd, gbpusd, hsi, mdj, mnd, msp, nk, nzdcad,
              nzdchf, nzdjpy, nzdusd, sfc, usdcad, usdchf, usdhkd, usdjpy, usdx,
              wtoil, xagusd, xauusd, ger30, aus200, us30, usa500, nas100, fra40, jpn225,
              spa35, uk100, eustx50, hk50;
$bank-names: icbc, ccb, cmb, abc, spdb, hxb, ceb, boc, psbc, bcm, other, cmbc, gdb,
             sdb, cib, citic, pab, bob, srcb, bea, nbcb, bon;

//== Forex color
$color-audcad:              #FF0000;
$color-audchf:              #FF7400;
$color-audjpy:              #FFDF00;
$color-audnzd:              #24FF00;
$color-audusd:              #00FFEC;
$color-cadchf:              #0003FF;
$color-cadjpy:              #A100FF;
$color-chfjpy:              #FF00D5;
$color-dax:                 #FF5151;
$color-euraud:              #FFB451;
$color-eurcad:              #FFF051;
$color-eurchf:              #84FF51;
$color-eurgbp:              #51FFD1;
$color-eurjpy:              #5188FF;
$color-eurnzd:              #B951FF;
$color-eurusd:              #FF51F0;
$color-ffi:                 #B80000;
$color-gbpaud:              #B85B00;
$color-gbpcad:              #B8B600;
$color-gbpchf:              #13B800;
$color-gbpjpy:              #00B8B1;
$color-gbpnzd:              #0002B8;
$color-gbpusd:              #7400B8;
$color-hsi:                 #B800AF;
$color-mdj:                 #994747;
$color-mnd:                 #997947;
$color-msp:                 #999247;
$color-nk:                  #4C9947;
$color-nzdcad:              #47998D;
$color-nzdchf:              #476199;
$color-nzdjpy:              #684799;
$color-nzdusd:              #994795;
$color-sfc:                 #6F0000;
$color-usdcad:              #6F3700;
$color-usdchf:              #6F6900;
$color-usdhkd:              #076F00;
$color-usdjpy:              #006F5E;
$color-usdx:                #001F6F;
$color-wtoil:               #29006F;
$color-xagusd:              #6F006E;
$color-xauusd:              #CB8787;


//== Grid system
$grid-columns:                      12 !default;
$grid-gutter-width:                 30px !default;

//== Container sizes
$screen-lg:                         1450px !default;
$container-lg:                      1350px !default;
$container-main:                    1060px !default;

//== Navs
$navbar-height:                     84px !default;
$navbar-line-height:                84px !default;
$navbar-border-radius:              $border-radius-base !default;
$navbar-margin-horizontal:          15px !default;
$navbar-padding-horizontal:         0 !default;
$navbar-padding-vertical:           15px !default;
$navbar-padding-top:                30px !default;
$navbar-padding-bottom:             28px !default;
$navbar-bg:                         #fff !default;
$navbar-font-size:                  16px !default;

//== Btns
$btn-padding-vertical:              8px !default;
$btn-padding-horizontal-sm:         45px !default;
$btn-padding-horizontal:            70px !default;
$btn-padding-horizontal-lg:         100px !default;
$btn-border-radius:                 $border-radius-base !default;

$btn-height-sm:                     45px !default;
$btn-height-base:                   50px !default;
$btn-height-lg:                     68px !default;
$btn-width-large:                   100% !default;
$btn-border-radius-large:           $border-radius-base !default;
$btn-font-size-sm:                  16px !default;
$btn-font-size:                     18px !default;
$btn-font-size-lg:                  20px !default;
$btn-font-weight:                   normal !default;

$btn-default-color:                 #fff !default;
$btn-default-bg:                    $gray-base !default;
$btn-default-border:                $gray-base !default;
$btn-default-hover-color:           #fff !default;
$btn-default-hover-bg:              $gray-darker !default;
$btn-default-hover-border:          $gray-darker !default;

$btn-info-color:                    $gray-base !default;
$btn-info-bg:                       transparent !default;
$btn-info-border:                   $gray-base !default;
$btn-info-hover-color:              $gray-base !default;
$btn-info-hover-bg:                 transparent !default;
$btn-info-hover-border:             $brand-primary !default;

$btn-primary-color:                    $gray-base !default;
$btn-primary-bg:                       $brand-primary !default;
$btn-primary-border:                   $brand-primary !default;
$btn-primary-hover-color:              $gray-base !default;
$btn-primary-hover-bg:                 $brand-primary-lighter !default;
$btn-primary-hover-border:             $brand-primary-lighter !default;

$btn-gray-color:                       $brand-primary !default;
$btn-gray-bg:                          $gray-darkest !default;
$btn-gray-border:                      $gray-darkest !default;

$btn-warning-color:                    $brand-warning !default;
$btn-warning-bg:                       $brand-warning !default;
$btn-warning-border:                   $brand-warning !default;


//== Tables
$table-cell-padding:            10px !default;
$table-cell-padding-large:      15px !default;
$table-bg:                      transparent !default;
$table-bg-head:                 #ccc;
$table-bg-hover:                #ebebeb !default;
$table-bg-accent:               #fff !default;
$table-color-head:              #333;
$table-border-color:            #ebebeb !default;

//== Forms
$input-padding-left:            30px !default;
$input-bg:                      rgba(0, 0, 0, 0) !default;
$input-color:                   #555 !default;
$input-color-placeholder:       $gray-dark !default;
$input-border:                  $gray !default;
$input-border-focus:            $brand-info !default;
$input-border-radius:           2px !default;
$input-height-base:             40px !default;

//== Carousel
$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;
$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;
$carousel-indicator-active-bg:                #f9c834 !default;
$carousel-indicator-border-color:             #f9c834 !default;
$carousel-caption-color:                      #fff !default;

//== Alert
$alert-padding-vertical:        8px;
$alert-padding-horizontal:      10px;
$alert-color:                   $brand-info;
$alert-bg:                      rgba(0, 0, 0, 0.7);
$alert-arrow-width:             6px;

//== Modal
$modal-content-bg:              #fff;
$modal-backdrop-bg:             #000;
$modal-backdrop-opacity:        0.5 !default;
$modal-lg:                      900px !default;
$modal-md:                      600px !default;
$modal-sm:                      400px !default;

//== Pagination
$pagination-color:                     #ccc !default;
$pagination-bg:                        #fafafa !default;
$pagination-border:                    #ddd !default;

$pagination-lg-bg:                     #333 !default;
$pagination-lg-hover-bg:               #666 !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #333 !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            #ccc !default;
$pagination-disabled-bg:               #fafafa !default;
$pagination-disabled-border:           #ddd !default;

$pagination-padding-vertical:          6px !default;
$pagination-padding-horizontal:        12px !default;


