.btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: px2rem(36);
    color: $gray-darkest;
    padding: px2rem(20) px2rem(60);
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
}

.btn-primary {
    background-color: $m-brand-primary;
    border-color: $m-brand-primary;

    &:active {
        background-color: $brand-primary-dark;
        border-color: $brand-primary-dark;
    }
}

.btn-lg {
    display: block;
    width: 100%;
}