.m_icon-bank {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    @include img-normal($icon-path-bank + "banks-logo.png");
    background-color: #fff;
}

@each $name in $bank-names {
    .m_icon-bank-#{$name} {
        // background-position-x: 0;
        // background-position-y: -(index($bank-names, $name) - 1) * 44px;
        background-position: 0px (-(index($bank-names, $name) - 1) * 58px);
    }
}

