
@include b(zero_Spinner){
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    @include e(title) {
        height: 50px;
        border: solid rgba(74, 74, 74, 0.2) 1px;
        min-width: 276px;
        border-radius: 8px;
        padding: 14px 24px;
        justify-content: space-between;
        > div {
            padding-right: 5px;
            .name {
                color: rgb(25, 79, 130);
                font-size: 20px;
            }
            .symbol {
                margin: 0 10px;
                height: 24px;
                width: 80px;
                display: inline-block;
                background-image: linear-gradient(to right, rgba(98, 131, 236, 0.98) 0%, rgb(92, 181, 237) 100%);
                text-align: center;
                line-height: 24px;
                border-radius: 46px;
                font-size: 14px;
                color: #fff;
            }

        }
        .arrow {
            font-size: 20px;
            float: right;
        }
    }
    @include e(list) {
        position:absolute;
        top: 55px;
        width: 100%;
        left: 0;
        border: solid #cccccc 1px;
        z-index: 3;
        color: rgb(25, 79, 130);
        font-size: 20px;
        @include m(item) {
            list-style:none;
            padding: 14px 24px;
            border-bottom: solid #cccccc 1px;
            &:last-child {
                border: none;
            }
        }
    }
}