$font-trader-size-sm: 12px;
$font-trader-size-lg: 20px;
$font-trader-gray-color: $gray-dark;

.trader_gray_color {
    color: $font-trader-gray-color;
    font-size: $font-trader-size-sm;
}

.col-fff {
    background-color: #fff;
}

$trader-blue:#009dff;
$trader-green:#7ab41d;
$trader-gray:#e6e6e6;
$tiger-yellow: $brand-primary;
$trader-width: 1030px;
.normal-font{
  font-size: 12px;
  color: #9e9e9e;
}
.big-num-font{
  font-size: 28px;
}
.big-text-font{
  font-size: 20px;
  font-weight: 400;
}
.mid-text-font{
  font-size: 16px;
  font-weight: 300;
}
.center{
  margin: 0 auto;
}

.trader_blue{
    color: $trader-blue;
}
.trader_green{
    color: $trader-green;
}

@include b(trader) {
    margin-top: 84px;

    @include e(basic) {
        padding: 30px 0;
        // border-bottom: 1px solid $gray;
        position: relative;
        .col-xs-3 {
            text-align: center;
        }
        .col-xs-9 {
            padding-top: 32px;
        }
    }

    @include e(info) {
        padding: 30px 0 60px;
    }

    @include e(bg) {
        background-color: $gray-lightest;
        border-top: 1px solid $gray;
    }
}

@include b(trader_avatar) {
    display: inline-block;
    float: left;
    @include e(wrapper) {
        display: inline-block;
        //width: 100px;
        width: 80px;
        //height: 100px;
        height: 80px;
        position: relative;

        > img {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            border-radius: 50%;
        }
    }

    @include e(number) {
        position: absolute;
        right: -5px;
        bottom: 3px;
        padding: 4px;
        background-color: $brand-info;
        color: #fff;
        font-size: $font-trader-size-sm;
        line-height: 12px;
        border-radius: $border-radius-base;
    }
}

@include b(trader_user) {
    @include e(username) {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid $trader-gray;
    }

    @include e(position) {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
}

.trader_userdata{
    position: absolute;
    left: 25px;
    width: 100%
}

@include b(trader_profit) {
    float: left;
    width: 180px;
    text-align: center;
    border-left: 1px solid $gray;

    &:first-child {
        border: none;
    }

    @include e(item) {
        padding-bottom: 2px;

        //> span {
        //    font-size: $font-trader-size-lg;
        //}

        > i {
            font-style: normal;
        }
    }
}

@include b(trader_btn) {
    width: 150px;
    float: right;
    margin-right: 40px;
    @include e(profit) {
        width: 150px;
        white-space: nowrap;
        padding-top: 5px;

        > span {
            color: $brand-info;
        }
    }
}


@include b(trader_message) {
    padding: 2px 0;

    @include e(item) {
        float: left;
        line-height: 20px;

        &.trader_gray_color {
            width: 93%;
        }
    }
}

@include b(trader_history) {
    position: relative;
    min-height: 100px;

    .table {
        margin-top: 50px;
    }
}

@include b(trader_current) {
    position: relative;
    min-height: 100px;

    .table {
        margin-top: 50px;
    }
    .trader_current_note{
        text-align:right;
        margin : 20px 0 20px 0;
    }
}

@include b(trader_modal) {
    @include e(label) {
        font-size: 20px;
    }
}
.history-operation-box{
    display:inline-block;
}
.icon-histroy{
    vertical-align:sub;
}
.history-operation-way{
    background : #ccc;
    border-radius:4px;
    padding:3px 5px;
    display:inline-block;
}
.history-operation-td{
    width:180px;
    display:inline-block;
}

.nav_tabs{
    width: 100%;
    height: 50px;
    border-top: 1px solid $trader-gray;
    border-bottom: 1px solid $trader-gray;
    margin-top: 20px;
    background: #fafafa;
    ul{
        width: 1030px;
        height: 50px;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-left: 190px;
        li{
            display: inline-block;
            float: left;
            width: 202px;
            height: 50px;
            margin-bottom: -1.5px;
            line-height: 50px;
            cursor: pointer;
            > a{
                color: #646464;
            }
            >i{
                color: #646464;
            }
        }
        li.active{
            border-bottom: 3px solid $trader-blue;
        }
    }
}















