<!DOCTYPE html>
<html style="height: 100%;">
<meta name="description" content="Tigerwit get access for The global capital market。">
<meta name="keywords" content="tigerwit，老虎外汇，Duplicate transaction，Forex，Metal，CFD">
<meta name="apple-mobile-web-app-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<!--禁用缓存-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<!-- 删除默认的苹果工具栏和菜单栏 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- 苹果状态栏颜色 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<!--引入公用头部-->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>
<body style="height: 100%;">
    <div class="global_g36">
        <div class="global_g36__container relative">
            <div class="global_g36__whatsapp">
              <img src="/white_label/bd/g36/whatsAppGroup.png" alt="">
            </div>
            <div class="global_g36__whatsappTip">
                WhatsApp Messenger is a free messaging app<br> available for Android and other smartphones. Access<br> to the new TigerWit WhatsApp group is only available<br> to Live TigerWit account holders.
            </div>
            <a class="global_g36__whatsappBtn" href="https://chat.whatsapp.com/3BFCIpFE4qGA6J5IWLPJtx">
              <div class="global_g36__whatsappBtn-btn">
                <span>JOIN US</span>
                <img class="img" src="/white_label/bd/g36/phone.png" alt="">
                <span>NOW</span>
              </div>
            </a>
            <div class="global_g36__recommend">
              <div class="global_g36__recommend-title">
                <img class="left" src="/white_label/bd/g36/boult-left.png" alt="">
                <span class="tit">Why join TigerWit <br> on WhatsApp?</span>
                <img class="right" src="/white_label/bd/g36/boult-right.png" alt="">
              </div>
              <div class="global_g36__recommend-con">
                <img class="left" src="/white_label/bd/g36/joinTigerwit1.png" alt="">
                <span class="right">Discuss trading opportunities and<br> strategies with other traders</span>
              </div>
              <div class="global_g36__recommend-con">
                <img class="left" src="/white_label/bd/g36/joinTigerwit2.png" alt="">
                <span class="right">Contact TigerWit Customer Service<br> directly from WhatsApp</span>
              </div>
              <div class="global_g36__recommend-con">
                <img class="left" src="/white_label/bd/g36/joinTigerwit3.png" alt="">
                <span class="right">Receive special promotions,<br> updates and news from TigerWit</span>
              </div>
              <div class="global_g36__recommend-con">
                <img class="left" src="/white_label/bd/g36/joinTigerwit4.png" alt="">
                <span class="right">Access exclusive trading analysis<br> and insight</span>
              </div>
            </div>
            <a class="global_g36__whatsappBtn" href="https://chat.whatsapp.com/3BFCIpFE4qGA6J5IWLPJtx">
              <div class="global_g36__whatsappBtn-btn">
                <span>JOIN US</span>
                <img class="img" src="/white_label/bd/g36/phone.png" alt="">
                <span>NOW</span>
              </div>
            </a>
            <div class="global_g36__recommend">
              <div class="global_g36__recommend-title">
                <img class="left" src="/white_label/bd/g36/boult-left.png" alt="">
                <span class="tit">Customer<br> Service Team</span>
                <img class="right" src="/white_label/bd/g36/boult-right.png" alt="">
              </div>
              <div class="global_g36__recommend-contact pd-tp-30">
                <img class="left" src="/white_label/bd/g36/customer1.png" alt="">
                <span class="right">WhatsApp group</span>
              </div>
              <div class="global_g36__recommend-contact">
                <img class="left" src="/white_label/bd/g36/customer2.png" alt="">
                <span class="right">customerservice@tigerwit.com</span>
              </div>
              <div class="global_g36__recommend-contact">
                <img class="left" src="/white_label/bd/g36/customer3.png" alt="">
                <span class="right">global.tigerwit.com</span>
              </div>
            </div>
            <div class="global_g36__highRiskWarning">
                High Risk Warning: Margin transactions in financial markets have a high level of risk and are not suitable for every investor. Investors should take into consideration their investment goals, ability to withstand losing part or all their investment and their investment experience and knowledge. Past results cannot be taken as a guarantee of future results.<br>
                TigerWit Limited is regulated by the Securities Commission of The Bahamas, (SCB) license number SIA-F185. TigerWit Limited is a company registered in England and Wales under Company number 09479466. TigerWit Limited is authorised and regulated by the Financial Conduct Authority (FCA) register number 679941. <br>
                TigerWit Limited, Seventh Floor, Augustine House, 6A Austin Friars, London, EC2N 2HA. <br>
                Copyright ©️ TigerWit Limited 2018. All rights reserved.
            </div>
        </div>
    </div>
</body>
<% include /common/vendor/h5.js.html %>
<!-- build:js(client) /scripts/bd_m_g36.js -->
<!-- endbuild -->
</html>