<!DOCTYPE html>
<html style="height: 100%;">
<meta name="description" content="Tigerwit get access for The global capital market。">
<meta name="keywords" content="tigerwit，老虎外汇，Duplicate transaction，Forex，Metal，CFD">
<meta name="apple-mobile-web-app-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<!--禁用缓存-->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<!-- 删除默认的苹果工具栏和菜单栏 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- 苹果状态栏颜色 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<!--引入公用头部-->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>
<body style="height: 100%;">
  <div id="m_global_t35" class="m_global_t35 active">
    <div class="m_global_t35_layout">
      <div class="m_global_t35__logo">
        <img src="/images/static_logo.png" alt="">
      </div>
      <div class="m_global_t35__focus">
        <img src="/images/bd_g35/h5_focus_20180911.png" alt="">
      </div>
      <div class="m_global_t35__focus_tip">
          You can gain rebate US <span>$200</span> once registered
      </div>
      <div class="m_global_t35__date">
          1st,9,2018-31st,10,2018
      </div>
      <div class="m_global_t35__btn_wrapper">
        <a class="m_global_t35__btn" target="_self" href="#register_box">Get Rebate Now</a>
      </div>
      <div class="m_global_t35__title t1">
        <img src="/images/bd_g35/comm_title1_20180911.png" alt="">
      </div>
      <div class="m_global_t35__cont-1 clearfix">
        <div class="cont-left">
          <img src="/images/bd_g35/h5_bar.png" alt="">
        </div>
        <div class="cont-right">
          <ul>
            <li class="clearfix l1">
              <div class="l">
                <p>US</p>
                <p>$2.00</p>
              </div>
              <div class="r">
                <p>0.5 lot</p>
                <p>within 14 days</p>
              </div>
            </li>
            <li class="clearfix l2">
              <div class="l">
                <p>US</p>
                <p>$6.00</p>
              </div>
              <div class="r">
                <p>3 lot</p>
                <p>within 30 days</p>
              </div>
            </li>
            <li class="clearfix l3">
              <div class="l">
                <p>US</p>
                <p>$18.00</p>
              </div>
              <div class="r">
                <p>8 lot</p>
                <p>within 60 days</p>
              </div>
            </li>
            <li class="clearfix l4">
              <div class="l">
                <p>US</p>
                <p>$25.00</p>
              </div>
              <div class="r">
                <p>15 lot</p>
                <p>within 90 days</p>
              </div>
            </li>
            <li class="clearfix l5">
              <div class="l">
                <p>US</p>
                <p>$50.00</p>
              </div>
              <div class="r">
                <p>30 lot</p>
                <p>within 90 days</p>
              </div>
            </li>
            <li class="clearfix l6">
              <div class="l">
                <p>US</p>
                <p>$99.00</p>
              </div>
              <div class="r">
                <p>50 lot</p>
                <p>within 90 days</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="m_global_t35__title t2">
        <img src="/images/bd_g35/comm_title2.png" alt="">
      </div>
      <ul class="m_global_t35__cont-2 clearfix">
        <li>
          <p><img src="/images/bd_g35/comm_icon1.png" alt=""></p>
          <p>Authority Supervision Regulation by FCA,  license number 679941</p>
        </li>
        <li>
          <p><img src="/images/bd_g35/comm_icon2.png" alt=""></p>
          <p>Copy trading with TigerWit Trading easier & faster</p>
        </li>
      </ul>
      <ul class="m_global_t35__cont-2 clearfix">
        <li>
          <p><img src="/images/bd_g35/comm_icon3.png" alt=""></p>
          <p>Min. deposit $50 Min. deposit trading $5 Max. Leverage 1:200</p>
        </li>
        <li>
          <p><img src="/images/bd_g35/comm_icon4.png" alt=""></p>
          <p>Buy & Sell are available  at 24 hours per day</p>
        </li>
      </ul>
      <ul class="m_global_t35__download clearfix">
        <li>
          <a href="https://itunes.apple.com/us/app/tigerwit/id1091437876?l=zh&ls=1&mt=8">
            <img src="/images/bd_g35/apple.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.tigerwit.forex">
            <img src="/images/bd_g35/google.png" alt="">
          </a>
        </li>
      </ul>
      <div class="m_global_t35__title t3">
        <img src="/images/bd_g35/comm_title3.png" alt="">
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            You can gain the rebate once registered.
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            You must meet the requirements before the specified date to claim the rebate.
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
          The rebate promotion will be applied only once, which will be deposited into the user’s account after redemption.
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
          The number of lots required hereunder only applies to forex, precious metals, and energies. USD/CNY and CFD products are not eligible for this campaign.
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            While EA trading is allowed, the use of EAs for scalping is prohibited. Failure to comply with this rule will result in disqualification. 
        </p>
      </div>
      <div class="m_global_t35__cont-3">
        <span></span>
        <p>
            TigerWit reserves the right of final decision and interpretation in the case of any dispute. For questions, please contact us: customerservice@tigerwit.com. 
        </p>
      </div>
      <div class="m_global_t35__register_box" id="register_box">
        <div class="form-control-wrapper">
          <input type="text" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-control-wrapper">
          <input type="number" class="form-control" name="code" id="verify_code" placeholder="Verification code" style="padding-right: 110px;">
          <p class="verify_code_btn_wrapper">
              <span class="verify_code_btn" id="verify_code_btn">Send</span>
          </p>
        </div>

        <div class="m_global_t35__btn_wrapper">
          <button id="submit_form" class="m_global_t35__btn" href="">Confirm Now!</button>
        </div>
      </div>
      <div class="m_global_t35__warning">
        <p class="tit">High Risk Warning: </p>
        <p class="tit">
          Margin transactions in financial markets have a high level of risk and are not suitable for every investor.
          Investors should take into consideration their investment goals, ability to withstand losing part or all their 
          investment and their investment experience and knowledge. Past results cannot be taken as a guarantee of future results. 
        </p>
        <p>Copyright  2017 TigerWit. All rights reserved. </p>
      </div>
      <div class="m_global_t35__float_box">
        <a target="_self" href="#register_box">Get Rebate Now</a>
      </div>
    </div>
  </div>
</body>
<% include /common/vendor/h5.js.html %>
<!-- build:js(client) /scripts/bd_m_g36.js -->
<!-- endbuild -->
</html>