<div class="nav-tabs-wrapper">
    <ul class="nav-tabs">
        <li ui-sref-active="active">
            <a ui-sref="space.redbag.subpage({subpage: 'own'})">我的红包</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="space.redbag.subpage({subpage: 'pool'})" class="relative">
                红包中心
                <span class="redbag_unread__num" ng-show="personal.redbagUnreadNum && personal.redbagUnreadNum > 0">{{ personal.redbagUnreadNum }}</span>
            </a>
        </li>
    </ul>
</div>
<div class="relative mg-bt-50">
    <div ui-view></div>
</div>
