<!-- side navbar -->
<div class="invite-con space_block">
    <div class="invite-con__title">
        {{lang.text('tigerWitID.inviteFriends.inviteFriend')}}
    </div>
    <div class="row invite-con__link">
        <div class="col-xs-8">
            <input class="form-control form-control-md"
                   name="link"
                   type="text"
                   readonly
                   ng-model="invitation.link"
                   ng-click="selectTxt()">
            <br>
            <p>
                <!--<span class="font-danger">*</span>
                把你的邀请链接发送给好友，即可获得
                <span class="font-danger">$20</span> 的奖励-->
            </p>
        </div>
        <div class="col-xs-2 invite_btn">
            <a class="btn btn-primary btn-sm" ng-click="selectTxt()">{{lang.text('tigerWitID.copy')}}</a>
        </div>
        <div class="col-xs-2">
            <p class="num">{{ friendsNum }}</p>
            <p class="tip">{{lang.text('tigerWitID.inviteFriends.invitedFriends')}}</p>
        </div>
    </div>

    <div class="invite-con__rules">
        <p class="font-base font-size-18">{{lang.text('tigerWitID.inviteFriends.inviteFriendsRegulations')}}</p>
        <br>
        <ul>
            <!--<li>
                1、邀请好友成功注册、认证、入金并投资满足5标准手（不包含CFD），即可获得20美元赠金。
            </li>-->
            <li>
                {{lang.text('tigerWitID.inviteFriends.tip1')}}
            </li>
            <li>
                {{lang.text('tigerWitID.inviteFriends.tip2')}}
            </li>
            <li>
                {{lang.text('tigerWitID.inviteFriends.tip3')}}
            </li>
            <li>
                {{lang.text('tigerWitID.inviteFriends.tip4_1')}}{{lang.text('companyNameZh')}}{{lang.text('tigerWitID.inviteFriends.tip4_2')}}
            </li>
            <li>
                {{lang.text('tigerWitID.inviteFriends.tip5_1')}}{{lang.text('companyNameZh')}}{{lang.text('tigerWitID.inviteFriends.tip5_2')}}{{lang.text('telephone')}}{{lang.text('tigerWitID.inviteFriends.tip5_3')}}
            </li>
        </ul>
    </div>

    <table class="table table-header table-hover table-traffic mg-tp-30">
        <colgroup>
            <col width="33.3%">
            <col width="33.3%">
            <col width="33.3%">
        </colgroup>
        <thead>
            <tr>
                <th>{{lang.text('tigerWitID.inviteFriends.nameFriend')}}</th>
                <th>{{lang.text('tigerWitID.inviteFriends.statusDeposit')}}</th>
                <th>{{lang.text('tigerWitID.inviteFriends.statusTransactions')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bonus in bonusList">
                <td>{{bonus.user_name}}</td>
                <td>
                    <span style="color: #ffbd43;" ng-show="bonus.is_deposit == 1">
                        {{lang.text('tigerWitID.tradingAccount.deposited')}}
                    </span>
                    <span ng-show="bonus.is_deposit == 0">
                        {{lang.text('tigerWitID.tradingAccount.noDeposit')}}
                    </span>
                </td>
                <td>
                    <span style="color: #ffbd43;" ng-show="bonus.volume >= 1">
                        {{lang.text('tigerWitID.yes')}}
                    </span>
                    <span ng-show="bonus.volume < 1">
                        {{lang.text('tigerWitID.no')}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-if="bonusList.length">
        <p tw-pagination></p>
    </div>

    <div ng-if="bonusList.length <= 0" class="text-center mg-tp-20">
        <img src="/images/no_data.png" alt="" class="mg-bt-40">
        <p>{{ lang.text('tigerWitID.noData') }}</p> 
    </div>
</div>
