<!-- side navbar -->
<div class="invite-con space_block">
    <div class="invite-con__title">
        {{lang.text('tigerWitID.inviteFriends.inviteFriend')}}{{inviteRules.reward || 0}}{{lang.text('tigerWitID.inviteFriends.inviteFriend2')}}
    </div>
    <div class="invite-con__link item-center">
        <div class="item-center flex1">
            <div class="flex1">
                <input class="form-control form-control-md"
                    name="link"
                    type="text"
                    readonly
                    ng-model="invitation.link"
                    ng-click="selectTxt()">
                <!-- <br>
                <p>
                    <span class="font-danger">*</span>
                    把你的邀请链接发送给好友，即可获得
                    <span class="font-danger">$20</span> 的奖励
                </p> -->
            </div>
            <div class="invite_btn">
                <a class="btn btn-primary btn-sm" ng-click="selectTxt()">{{lang.text('tigerWitID.copy')}}</a>
            </div>
        </div>
        <!-- <div class="">
            <p class="num">{{ friendsNum }}</p>
            <p class="tip">{{lang.text('tigerWitID.inviteFriends.invitedFriends')}}</p>
        </div> -->
    </div>

    <div class="invite-con__rules">
        <p class="font-base font-size-18">{{lang.text('tigerWitID.inviteFriends.inviteFriendsRegulations')}}</p>
        <br>
        <ul>
            <li>
            <pre style="white-space: pre-wrap;font-family: none;margin-top: 0px;">{{inviteRules.rule}}</pre>
            </li>
        </ul>
    </div>

    <ul class="clearfix row mg-tp-30">
        <li class="col-xs-4 text-center font-size-16">
            <p>{{lang.text('tigerWitID.inviteFriends.invite1')}}</p>
            <p class="mg-tp-20">{{ friendsNum }}</p>
        </li>
        <li class="col-xs-4 text-center font-size-16">
            <p>{{lang.text('tigerWitID.inviteFriends.invite2')}}</p>
            <p class="mg-tp-20">{{ succNum }}</p>
        </li>
        <li class="col-xs-4 text-center font-size-16">
            <p>{{lang.text('tigerWitID.inviteFriends.invite3')}}</p>
            <p class="mg-tp-20">${{ reward }}</p>
        </li>
    </ul>

    <table class="table table-header table-hover table-traffic mg-tp-30">
        <colgroup>
            <col width="33.3%">
            <col width="33.3%">
            <col width="33.3%">
        </colgroup>
        <thead>
            <tr>
                <th>{{lang.text('tigerWitID.inviteFriends.nameFriend')}}</th>
                <th>{{lang.text('tigerWitID.inviteFriends.invite4')}}</th>
                <th>{{lang.text('tigerWitID.inviteFriends.invite5')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bonus in bonusList">
                <td>{{bonus.user_name}}</td>
                <td>
                    <div style="position: relative; height: 26px;background-color: #eee;border-radius: 13px;padding: 2px;">
                        <span style="position: absolute;width: 100%;height: 26px;line-height: 26px;text-align: center;top: 0;left: 0;">
                            <span>
                                {{lang.text('tigerWitID.inviteFriends.invite'+(bonus.progress+5))}}
                            </span>
                        </span>
                        <p style="height: 100%;border-radius: 13px;background-color: #FEDB30;" ng-style="{width: bonus.progress < 4 ? bonus.progress*25+'%' : (bonus.progress - 1)*25+'%'}"></p>
                    </div>
                </td>
                <td>
                    {{bonus.time}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-if="bonusList.length">
        <p tw-pagination></p>
    </div>

    <div ng-if="bonusList.length <= 0" class="text-center mg-tp-20">
        <img src="/images/no_data.png" alt="" class="mg-bt-40">
        <p>{{ lang.text('tigerWitID.noData') }}</p> 
    </div>
</div>
