<!DOCTYPE html>
<html>

<head>
    <% include /common/meta/h5n.html %>

    <meta name="keywords"
        content="TigerWit, Foreign Exchange Investment and Financing, Gold and Silver Trading Platform, Forex Trading Platform, Forex Trading Master, Forex Inducing Broker,Electronic Finance.">
    <meta name="description"
        content="With a strong technological core, TigerWit offers its clients exceptional capabilities to trade in the markets. Forex margin trading system.Forex analysis software,Forex demo trading platform,Forex strategy, Forex financing,forex trading master.">

    <title>
        <%= lang.text('companyZhName')%>
    </title>
</head>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>

<body>
    <div class="lfc-advert <%= lang.isAr('ar-lang')%>">
        <div class="lfc-advert__bc">
            <!-- <div class="lfc-advert__bc-img">
            <img src="./images/circle.png')}" alt="">
        </div> -->
            <div class="lfc-advert__bc-con">
                <div class="lfc-advert__bc-logo">
                    <img src="/white_label/bd/advert/title.png" alt="">
                </div>
                <div class="lfc-advert__bc-article">
                    <p class="title">Be a Part of Our Winning Team</p>
                    <p class="lfc-advert__bc-txt">
                        <span>As a proud partner of Liverpool FC,we are delighted to offer instant access to financial markets for the fans.</span>
                    </p>
                </div>
                <div class="lfc-advert__bc-main">
                    <div class="">
                        <p class="lfc-advert__bc-introduction">Join TigerWit for free today and get:</p>
                        <p class="lfc-advert__bc-details">● Access to extensive training meterials</p>
                        <p class="lfc-advert__bc-details">● Invitations to webinars and events</p>
                        <p class="lfc-advert__bc-details">● A demo account to trade risk-free</p>
                        <p class="lfc-advert__bc-footer">
                            Visit
                            <a href="">uk.tigerwit.com</a>
                            to claim your educaional paclage today.
                        </p>
                    </div>
                    <div class="lfc-advert__bc-phone">
                        <img src="/white_label/bd/advert/phone.png" alt="">
                    </div>
                </div>
            </div>
            <div class="lfc-advert__bc-person">
                <div class="lfc-advert__bc-people">
                    <img src="/white_label/bd/advert/playersFaded.png" alt="">
                </div>
                <div class="lfc-advert__bc-download">
                    <p>Dowload the app</p>
                    <div class="lfc-advert__bc-imgs">
                        <a href="inline-block">
                            <img src="<%= lang.image('homeAppAndroidCn')%>" alt="">
                        </a>
                        <a href="inline-block">
                            <img src="<%= lang.image('homeAppIos')%>" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="lfc-advert__bc-cfds">
                <p>
                    <span>
                        CFDS are complex instruments and come with a high risk of losing money rapidly due to leverage.
                        <span class="text1">66% of retail investor accounts lose money when trading with this provider.</span>
                        You should consider whether you understand how CFDS work and whether you can afford to take the High risk of losing your money.
                    </span>
                </p>
            </div>
        </div>
    </div>

</body>

</html>