<div class="bd_lfc_focus">
  <img data-name="diff" class="global" src="/white_label/bd_lfc/lfc-app-global-focus.png" alt="">
  <img data-name="diff" class="uk" src="/white_label/bd_lfc/lfc-app-uk-focus.png" alt="">
  <ul class="clearfix bd_lfc_focus_download">
    <li><a data-link="ios" href=""><img src="/white_label/bd_lfc/lfc-ios.png" alt=""></a></li>
    <li><a data-link="android" href=""><img src="/white_label/bd_lfc/lfc-android.png" alt=""></a></li>
  </ul>
</div>
<div class="bd_lfc_app_cont">
  <ul class="details">
    <li class="pic">
      <img data-name="diff" class="global" src="/white_label/bd_lfc/phone-global-2.png" alt="">
      <img data-name="diff" class="uk" src="/white_label/bd_lfc/phone-uk-2.png" alt="">
    </li>
    <li class="content">
      <h4>Trade the markets you want</h4>
      <p>Trade the markets you want with our ingenious app that provides easy to use features.</p>
    </li>
  </ul>
  <ul class="details">
    <li class="pic">
      <img data-name="diff" class="global" src="/white_label/bd_lfc/phone-global-3.png" alt="">
      <img data-name="diff" class="uk" src="/white_label/bd_lfc/phone-uk-3.png" alt="">
    </li>
    <li class="content">
      <h4>Access to key global financial markets</h4>
      <p>Trade FX, gold, silver, oil, and indices and take advantage of low spreads.</p>
    </li>
  </ul>
  <ul class="details">
    <li class="pic">
      <img data-name="diff" class="global" src="/white_label/bd_lfc/phone-global-4.png" alt="">
      <img data-name="diff" class="uk" src="/white_label/bd_lfc/phone-uk-4.png" alt="">
    </li>
    <li class="content">
      <h4>Manage multiple accounts</h4>
      <p>Trade accross multiple accounts and have access to interactive charts in real-time, using TigerWit’s unique technology.</p>
    </li>
  </ul>
  <ul class="details">
    <li class="pic">
      <img data-name="diff" class="global" src="/white_label/bd_lfc/phone-global-5.png" alt="">
      <img data-name="diff" class="uk" src="/white_label/bd_lfc/phone-uk-5.png" alt="">
    </li>
    <li class="content">
      <h4>Powered by Blockchain</h4>
      <p>Trade using TigerWit’s platform with blockchain powered settlements for fast execution, competitive prices and interactive charts.</p>
    </li>
  </ul>
</div>
<div class="bd_lfc_app_footer">
  <img data-name="diff" class="global" src="/white_label/bd_lfc/phone-global-6.png" alt="">
  <img data-name="diff" class="uk" src="/white_label/bd_lfc/phone-uk-6.png" alt="">
  <ul class="clearfix bd_lfc_app_footer_download">
    <li><a data-link="ios" href=""><img src="/white_label/bd_lfc/lfc-ios.png" alt=""></a></li>
    <li><a data-link="android" href=""><img src="/white_label/bd_lfc/lfc-android.png" alt=""></a></li>
  </ul>
</div>
<div class="bd_lfc_app_background"></div>