
<div class="fix-list">
    <div class="fix-list__banner">
        <div class="container">
            <ul class="fix-list__banner-ul">
                <li>
                    <div>
                        <span>专业</span>
                        <span>团队</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>灵活</span>
                        <span>选择</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>坐享</span>
                        <span>收益</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="fix-list__con mg-tp-20">
        <div class="container">
<% 
    model.products.forEach(function(product, index){
        var status = model.judgeStatus(product);
%>
        <%= status %>
            <!-- 汇赢三期 -->
            <div class="fix-list__list">
                <div class="fix-list__list-con1">
                    <div class="fix-list__list-title-con">
                        <span class="fix-list__list-title"><%= product.name %></span>
                        <span class="font-darker"><%= product.desc %></span>
                    </div>
                    <div class="clearfix">
                        <ul>
                            <li>
<%
        if(status == "end_trade"){
%>
                                <span>已结算年化收益率</span>
                                <span class="fix-list__list-red font-info"><%= product.profit_rate_now %></span>
                                <span class="font-darker">预期年化收益率<span class="font-warning"><%= product.profit_rate_wish %></span></span>                                
<%
        }else if(status == "tradding"){
%>
                                <span>实时年化收益率</span>
                                <span class="fix-list__list-red font-info"><%= product.profit_rate_now %></span>
                                <span class="font-darker">预期年化收益率<span class="font-warning"><%= product.profit_rate_wish %></span></span>
<%
        }else{
%>
                                <span class="font-darker">预期年化收益率<span class="fix-list__list-red"><%= product.profit_rate_wish %></span></span>
<%
        }
%>
                            </li>
                            <li>
                                <span class="font-darker">复制金额</span>
                                <span class="fix-list__list-normal"><%= product.money_copy %></span>
                            </li>
                            <li>
                                <span class="font-darker">复制封闭期</span>
                                <span class="fix-list__list-normal"><%= product.period %></span>
                            </li>
                            <li>
                                <span class="font-darker">历史最高回撤</span>
                                <span class="fix-list__list-normal"><%= product.withdraw_history %></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fix-list__list-con2">
                    <div class="fix-list__reserve">
                        <div>
                            <span>投资进度：</span>
                            <div class="progress" tw-progress>
                                <div class="scale"></div>
                            </div>
                            <span class="p-num"><%= product.progress %>%</span>
                        </div>
                        <p class="fix-list__reserve-copy">
<%
        if(product.max_desc){
%>
                             <span class="font-size-16"><%= product.max_desc %></span>   
<%
        }else{
%>


                            <span class="font-size-16"><%= model.getMaxDesc(product) %></span>
<%
        }
%>
                        </p>
<% 
        if(status == "not_start"){

        }
        if(status == "appoint"){
%>
                            <a class="fix-list__reserve-btn fix-list__reserve-btn-order" href="/regular/detail/<%= product.id%>">查看详情 <span class="fix-list__reserve-triangle"></span>
<%
        }
        if(status == "not_appoint"){
        
        }
        if(status == "tradding"){
%>
                            <a class="fix-list__reserve-btn fix-list__reserve-btn-order" href="/regular/detail/<%= product.id%>">正在交易 <span class="fix-list__reserve-triangle"></span>
<%
    
        }
        if(status == "end_trade"){
%>
                            <a class="fix-list__reserve-btn fix-list__reserve-btn-end" href="/regular/detail/<%= product.id%>">已结束 <span class="fix-list__reserve-triangle-white"></span>
<%
        }
%>
                        </a>
                    </div>
                </div>
               
            </div>
<%
    });
%>        
        </div>
    </div>
</div>
