<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />

        <% include ../common/common_header.html %>
    </head>
    <!-- 引入H5 CSS -->
    <!-- build:css(.tmp) /styles/h5_common.css -->
    <link rel="stylesheet" href="/styles/h5_common.css">
    <!-- endbuild -->
    <% include ../common/m_css_vendor.html %>
    <body>
        <div class="regular_detail_team regular_detail__mar35">
            <div class="regular_detail_team__title">
                
            </div>
            <dl class="regular_detail_team__content">
                <dt>
                    <span></span>
                    派克道森团队简介：
                </dt>
                <dd>
                    主交易员外汇交易经验12年，主要交易货币英镑兑美元，利用独特的均线交易法为客户带来良好的收益。
                </dd>
            </dl>
        </div>
    </body>


    <% include ../m_js_vendor.html %>
    <!-- build:js(client) /scripts/m_regular_detail.js -->
        <script src="/scripts/regular/m_regular_detail.js"></script>
    <!-- endbuild -->

    <%- include('../bd/common/footer.html') %>
</html>