<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />

        <% include ../common/common_header.html %>
    </head>
    <!-- 引入H5 CSS -->
    <!-- build:css(.tmp) /styles/h5_common.css -->
    <link rel="stylesheet" href="/styles/h5_common.css">
    <!-- endbuild -->
    <% include ../common/m_css_vendor.html %>
    <body>
        <div class="regular_detail_team regular_detail__mar35">
            <div class="regular_detail_team__title">
                
            </div>
            <dl class="regular_detail_team__content">
                <dt>
                    <span></span>
                    MACD简介：
                </dt>
                <dd>
                    10年以上外汇以及贵金属、原油等大宗商品交易经验，管理基金超过3亿美元，擅长实现长期、稳定盈利。曾经效力于美林证券和摩根士丹利，目前为中国黄金首席策略分析师，其交易成功率高达85%以上。
                </dd>
                <dt>
                    <span></span>
                    交易简历：
                </dt>
                <dd>
                    通过基本面分析判断中长期汇率走势，以技术面和实盘经验结合确定开仓以及平仓点位，实现利益最大化和风险最小化的目标。2015年开始成为独立外汇交易员并与老虎外汇等专业平台密切合作，每月实现不低于30%的稳定收益，回撤率小于15%，为广大投资者赢得良好回报。
                </dd>
                <dt>
                    <span></span>
                    交易团队：
                </dt>
                <dd>
                    团队每位成员经过海外学习以及就职于国际著名机构，丰富的理论和实盘操作经验。宏观分析人员曾就职于汇丰银行以及花旗银行并依然保持良好的合作关系，能够及时获取相关信息并捕捉交易机会。
                </dd>
            </dl>
        </div>
    </body>


    <% include ../common/m_js_vendor.html %>
    <!-- build:js(client) /scripts/m_vendor.js -->
    <script src="/bower_components/jquery-3.0.0.min/index.js"></script>
    <script src="/scripts/plugins/base64code.js"></script>
    <script src="/scripts/plugins/jquery.tap.js"></script>
    <script src="/scripts/plugins/plugins.js"></script>
    <!-- endbuild -->
    <!-- build:js(client) /scripts/m_regular_detail.js -->
        <script src="/scripts/regular/m_regular_detail.js"></script>
    <!-- endbuild -->

    <%- include('../bd/common/footer.html') %>
</html>