// @include b(authen_nav) {
//     padding-top: 50px;
//     @include e(list) {
//         width: 80%;
//         margin-left: 10%;
//         text-align: center;
//         @include m(item) {
//             width: 24%;
//             height: 43px;
//             display: inline-block;
//             border-bottom: 2px solid $gray;
//             &.active {
//                 border-bottom: 2px solid $brand-primary;
//                 p {
//                     color: #222;
//                 }
//             }
//             p {
//                 font-size: 18px;
//                 font-weight: 500;
//                 color: $gray-dark;
//                 span {
//                     display: inline-block;
//                     width: 25px;
//                     height: 25px;
//                     margin-right: 8px;
//                     background: $brand-primary;
//                     border-radius: 50%;
//                 }
//             }
//         }
//     }
// }

@include b(authen_content) {
    padding: 105px 55px;
    padding-top: 50px;
    h2 {
        font-weight: 400;
    }
    @include e(tip) {
        font-size: 14px;
        color: $gray-dark;
    }

    .authen_submit {
        padding: 0 150px;
        font-size: 15px;

        .tit {
            text-align: center;
            font-size: 22px;
            margin-bottom: 40px;
        }
        .tip {
            margin-bottom: 30px;
        }
        .desc {
            margin-top: 30px;
        }
    }
    .authen_title{
        width: 600px;
        margin: 0 auto;
        h2 {
            font-weight: 500;
        }
    }
    .bind_phone {
        .form-control-wrapper {
            display: inline-block;
            border: 1px solid $input-border;
            border-radius: $input-border-radius;
            .select__input,.form-control {
                border: none;
            }
            &.area_code {
                width: 30%;
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &.phone {
                margin-left: -4px;
                width: 70%;
            }
        }
    }
    .contact_way {
        display: inline-block;
        border: 1px solid $input-border;
        border-radius: $input-border-radius;
        >.form-control {
            border: none;
            width: 60%;
            display: inline-block;
        }
        .sender_btn{
            display: inline-block;
            cursor: pointer;
            width: 35%;
            text-align: center;
            padding: $padding-base-vertical $padding-base-horizontal;
            border-left: 1px solid $input-border;
            line-height: $line-height-base;
            font-size: $font-size-base;
            color: $input-color;
            background-color: $input-bg;
        }
    }
}