// @include b(authen_nav) {
//     padding-top: 50px;
//     @include e(list) {
//         width: 80%;
//         margin-left: 10%;
//         text-align: center;
//         @include m(item) {
//             width: 24%;
//             height: 43px;
//             display: inline-block;
//             border-bottom: 2px solid $gray;
//             &.active {
//                 border-bottom: 2px solid $brand-primary;
//                 p {
//                     color: #222;
//                 }
//             }
//             p {
//                 font-size: 18px;
//                 font-weight: 500;
//                 color: $gray-dark;
//                 span {
//                     display: inline-block;
//                     width: 25px;
//                     height: 25px;
//                     margin-right: 8px;
//                     background: $brand-primary;
//                     border-radius: 50%;
//                 }
//             }
//         }
//     }
// }

@include b(authen_content) {
    padding: 105px 55px 50px;
    &.update{
        padding: 20px;
    }
    h2 {
        font-weight: 400;
    }
    @include e(tip) {
        font-size: 14px;
        color: $gray-dark;
    }
    @include e(flow) {
        @include m(title) {
            font-size:18px;
            padding: 30px 0 20px;
            font-weight: 500;
        }
        @include m(content) {
            @include displayFlex();
            > li{
                &:nth-child(odd){
                    line-height: 18px;
                    span{
                        display: inline-block;
                        border-radius: 100%;
                        background-color: $brand-info-dark;
                        width: 17px;
                        height: 17px;
                        color: $white-100;
                        margin-right: 10px;
                        text-align: center;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
                &:nth-child(even){
                    @include flex(1);
                    margin: 0 5px 8px;
                    border-bottom: 2px solid $gray-form-border;
                }
            }
        }
        @include m(button) {
            display: inline-block;
            border: 1px solid $brand-info-dark;
            color: $brand-info-dark;
            border-radius: 50px;
            padding: 6px 20px;
        }
    }
    .authen_submit {
        padding: 0 150px;
        font-size: 15px;

        .tit {
            text-align: center;
            font-size: 22px;
            margin-bottom: 40px;
        }
        .tip {
            margin-bottom: 30px;
        }
        .desc {
            margin-top: 30px;
        }
    }
    @include e(title){
        width: 600px;
        margin: 0 auto;
        &.en{
            width: 700px;
        }
        h2 {
            font-weight: 500;
        }
    }
    .bind_phone {
        .form-control-wrapper {
            display: inline-block;
            border: 1px solid $input-border;
            border-radius: $input-border-radius;
            .select__input,.form-control {
                border: none;
            }
            &.area_code {
                width: 30%;
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &.phone {
                margin-left: -4px;
                width: 70%;
            }
        }
    }
    .contact_way {
        display: inline-block;
        border: 1px solid $input-border;
        border-radius: $input-border-radius;
        >.form-control {
            border: none;
            width: 60%;
            display: inline-block;
        }
        .sender_btn{
            display: inline-block;
            cursor: pointer;
            width: 35%;
            text-align: center;
            padding: $padding-base-vertical $padding-base-horizontal;
            border-left: 1px solid $input-border;
            line-height: $line-height-base;
            font-size: $font-size-base;
            color: $input-color;
            background-color: $input-bg;
        }
    }
}
@include b(authen_card_eg) {
    width: 800px;
    .tit {
        font-size: 16px;
        padding: 20px 0px 10px;
    }
    .item {
        margin-right: 20px;
        img {
            width: 160px;
        }
        p {
            padding-top: 6px;
        }
    }
}
@include b(agent_activate) {
    @include e(title) {

    }
    @include e(flow) {
        display: inline-block;
        > li {
            margin: 0 5px;
            position: relative;
            > .num {
                position: absolute;
                top: -18px;
                margin-left: -18px;
                display: inline-block;
                width: 36px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                border-radius: 100%;
                border: 1px dashed #979797;
                z-index: 10;

            }
            > .content {
                position: relative;
                width: 162px;
                height: 198px;
                border-radius:7px;
                background-color: #F0F0F0;
                overflow: hidden;
                color: #9B9B9B;
            }
            &.complete {
                > .num {
                    border-width: 0;
                    background-color: #FFCA18;
                }
                > .content {
                    color: #242A36;
                }
            }
        }
    }
}