@include b (invite-con) {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid $gray;
    background: #fff;
    color: $gray-darkest;

    @include e (rules) {
        color: $gray-darker;

        p {
            font-weight: 500;
        }

        li {
            margin-bottom: 5px;
        }
    }
    @include e(title) {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 20px;
    }
    @include e(link) {
        .invite_btn {
            padding: 0;
        }
        .num {
            text-align: center;
        }
        .tip {
            text-align: center;
            padding-top: 2px;
            color: #666;
        }
    }
}
