<div class="bd_forextrading_home">
  <div class="home_focus1 <%= subpage%>">
    <div class="bd_forextrading_container">
      <p class="mg-bt-80"><img src="/white_label/bd_forextrading/logo.png" alt=""></p>
      <h2 class="bd_home_title1"></h2>
      <h2 class="bd_home_title2"></h2>
      <h2 class="bd_home_title3"></h2>
      <div class="home_focus1_content">
        <p class="bd_home_cont1"></p>
        <p class="bd_home_cont2"></p>
        <p class="bd_home_cont3"></p>
        <div class="home_focus1_wrapper clearfix">
          <a href="/space/#/account/register" class="btn_wrapper bd_live_account mg-rg-80"></a>
          <a href="/space/#/account/register" class="btn_wrapper bd_demo_account"></a>
        </div>
        <p class="bd_home_cont4 home_focus1_details <%= subpage%>"></p>
      </div>
    </div>
  </div>
  <div class="home_focus2">
    <div class="bd_forextrading_container bd_forextrading_flex">
      <div class="home_focus2_pic"><img src="/white_label/bd_forextrading/home-phone1.png" alt=""></div>
      <div class="home_focus2_content">
        <h3 class="mg-tp-100"><span class="bd_home_title4"></span> <span class="bd_home_title5"></span></h3>
        <p class="bd_home_cont5" style="margin-bottom: 45px;"></p>
        <p class="" style="margin-bottom: 60px;">
          <span class="bd_home_cont6"></span>
          <span class="bd_home_cont7"></span>
          <span class="bd_home_cont8"></span>
        </p>
        <p class="bd_home_cont9"style="margin-bottom: 55px;"></p>
        <div class="download_btn_wrapper">
            <a href="" style="margin-right: 25px;"><img src="/white_label/bd_forextrading/google_btn.png" alt=""></a>
            <a href=""><img src="/white_label/bd_forextrading/store_btn.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="home_focus3">
    <div class="bd_forextrading_container bd_forextrading_flex">
      <div class="home_focus2_content">
        <h3><span class="bd_home_title6"></span> <span class="bd_home_title7"></span></h3>
        <p class="" style="margin-bottom: 60px;">
          <span class="bd_home_cont10"></span>
          <span class="bd_home_cont11"></span>
          <span class="bd_home_cont12"></span>
        </p>
        <p class="bd_home_cont13"style="margin-bottom: 55px;"></p>
        <div class="download_btn_wrapper">
            <a href="" style="margin-right: 25px;"><img src="/white_label/bd_forextrading/google_btn.png" alt=""></a>
            <a href=""><img src="/white_label/bd_forextrading/store_btn.png" alt=""></a>
        </div>
      </div>
      <div class="home_focus3_pic"><img src="/white_label/bd_forextrading/home-phone2.png" alt=""></div>
    </div>
  </div>
  <div class="home_focus4">
    <div class="home_focus4_wrapper clearfix">
      <a href="/space/#/account/register" class="btn_wrapper bd_live_account mg-rg-80"></a>
      <a href="/space/#/account/register" class="btn_wrapper bd_demo_account"></a>
    </div>
    <h4 class="bd_home_title8"></h4>
    <p><img src="/white_label/bd_eshot/stars.png" alt=""></p>
    <div class="download_btn_wrapper">
        <a href="" style="margin-right: 25px;"><img src="/white_label/bd_forextrading/google_btn.png" alt=""></a>
        <a href=""><img src="/white_label/bd_forextrading/store_btn.png" alt=""></a>
    </div>
  </div>
</div>