<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width,initial-scale=0.2,maximum-scale=1.0,user-scalable=0">
  <title>TigerWit Global</title>
    <% include /common/vendor/web.css.html %>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->
    <% include /common/statistic/main.html %>
    <% include /common/vendor/web.js.html %>
</head>

<body>
  <div class="bd_forextrading" data-lang-page="<%= subpage%>" data-mobile="<%= mobile%>">
    <div class="bd_forextrading_navbar">
      <div class="clearfix bd_forextrading_container">
          <a class="bd_open_account fr" href="/space/#/account/register"></a>
          <ul class="fr">
            <li><a class="bd_navbar_home" href="/forextrading/home/<%= subpage%>"></a></li>
            <li><a class="bd_navbar_traders" href="/forextrading/traders/<%= subpage%>"></a></li>
            <li><a class="bd_navbar_partners" href="/forextrading/partners/<%= subpage%>"></a></li>
          </ul>
      </div>
    </div>
    <%- include('./' + page + '.html') %>
  </div>
  <%- include('/common/statistic/_all.html') %>
</body>

<!-- build:js(client) /scripts/bd_forextrading.js -->
<script src="/scripts/bd/common/publicAjax.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<script src="/scripts/bd/forextrading/index.js"></script>
<!-- endbuild -->
</html>