<div class="bd_forextrading_partners">
  <div class="partners_focus1 <%= subpage%>">
    <div class="bd_forextrading_container">
      <p class="mg-bt-80"><img src="/white_label/bd_forextrading/logo.png" alt=""></p>
      <h2 class="bd_partners_title1"></h2>
      <h2 class="bd_partners_title2"></h2>
      <h2 class="bd_partners_title2_2"></h2>
      <div class="partners_focus1_content">
        <p class="bd_partners_cont1"></p>
        <p class="bd_partners_cont2"></p>
        <div class="partners_focus1_wrapper clearfix">
          <a href="/web/agent/partner" class="btn_wrapper bd_partners_join"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="partners_focus2">
    <div class="bd_forextrading_container">
      <p class="bd_partners_block1_1"></p>
      <p class="bd_partners_block1_2"></p>
      <p class="bd_partners_block1_3"></p>
      <p class="bd_partners_block1_4"></p>
      <img src="/white_label/bd_forextrading/partners-phone1.png" alt="">
    </div>
  </div>
  <div class="partners_focus3">
    <div class="bd_forextrading_container <%= subpage%>">
      <p class="bd_partners_block2_1"></p>
      <p class="bd_partners_block2_2"></p>
      <p class="bd_partners_block2_3"></p>
      <p class="bd_partners_block2_4"></p>
      <img src="/white_label/bd_forextrading/partners-layer.png" alt="">
    </div>
  </div>
  <div class="partners_focus4">
    <div class="bd_forextrading_container <%= subpage%>">
      <p class="bd_partners_block3_1"></p>
      <p class="bd_partners_block3_2"></p>
      <p class="bd_partners_block3_3"></p>
      <p class="bd_partners_block3_4"></p>
      <img src="/white_label/bd_forextrading/partners-phone2.png" alt="">
    </div>
  </div>
  <div class="partners_focus5 <%= subpage%>">
    <div class="bd_forextrading_container">
      <p class="bd_partners_block4_1"></p>
      <p class="bd_partners_block4_2"></p>
      <p class="bd_partners_block4_3"></p>
      <p class="bd_partners_block4_4"></p>
    </div>
  </div>
  <div class="partners_focus6">
    <div class="bd_forextrading_container <%= subpage%>">
      <p class="bd_partners_block5_1"></p>
      <p class="bd_partners_block5_2"></p>
      <img src="/white_label/bd_forextrading/partners-phone3.png" alt="">
    </div>
  </div>
  <div class="partners_focus7">
    <h4 class="bd_home_title8"></h4>
    <p class="partners_focus7_stars"><img src="/white_label/bd_eshot/stars.png" alt=""></p>
    <div class="download_btn_wrapper">
        <a href="https://go.onelink.me/KfPb?pid=Forex%20Landing%20Pages&c=Forex%20Landing%20Page&af_channel=Forex%20Landing%20Page&af_sub1=Landing%20Page" style="margin-right: 25px;"><img src="/white_label/bd_forextrading/google_btn.png" alt=""></a>
        <a href="https://go.onelink.me/KfPb?pid=Forex%20Landing%20Pages&c=Forex%20Landing%20Page&af_channel=Forex%20Landing%20Page&af_sub1=Landing%20Page"><img src="/white_label/bd_forextrading/store_btn.png" alt=""></a>
    </div>
  </div>
  <p class="bd_home_cont4 bd_forextrading_footer"></p>
</div>