<div class="bd_forextrading_traders">
  <div class="traders_focus1">
    <h2 class="bd_traders_title1"></h2>
    <h2 class="bd_traders_title2"></h2>
    <h2 class="bd_traders_title2_2"></h2>
  </div>
  <div class="traders_focus2">
    <h3 class="bd_traders_title3"></h3>
    <h3 class="bd_traders_title4"></h3>
    <h3 class="bd_traders_title5"></h3>
    <h3 class="bd_traders_title6"></h3>
    <h3 class="bd_traders_title6_2"></h3>
    <div class="traders_focus2_wrapper clearfix">
      <a href="/space/#/account/register" class="btn_wrapper bd_live_account mg-rg-80"></a>
      <a href="/space/#/account/register" class="btn_wrapper bd_demo_account"></a>
    </div>
  </div>
  <div class="traders_focus3">
    <p><img src="/white_label/bd_forextrading/traders-phone.png" alt=""></p>
    <div class="traders_focus3_list">
      <div class="list_item" style="width: 52%;">
        <span class="icon"><img src="/white_label/bd_eshot/icon1.png" alt=""></span>
        <span class="info bd_traders_cont1"></span>
      </div>
      <div class="list_item">
        <span class="icon"><img src="/white_label/bd_eshot/icon2.png" alt=""></span>
        <span class="info bd_traders_cont2"></span>
      </div>
      <div class="list_item" style="width: 52%;">
        <span class="icon"><img src="/white_label/bd_eshot/icon3.png" alt=""></span>
        <span class="info bd_traders_cont3"></span>
      </div>
      <div class="list_item">
        <span class="icon"><img src="/white_label/bd_eshot/icon4.png" alt=""></span>
        <span class="info bd_traders_cont4"></span>
      </div>
      <div class="list_item" style="width: 52%;">
        <span class="icon"><img src="/white_label/bd_eshot/icon5.png" alt=""></span>
        <span class="info bd_traders_cont5"></span>
      </div>
      <div class="list_item">
        <span class="icon"><img src="/white_label/bd_eshot/icon6.png" alt=""></span>
        <span class="info bd_traders_cont6"></span>
      </div>
    </div>
    <p class="mg-bt-80"><img src="/white_label/bd_forextrading/logo.png" alt=""></p>
    <h4 class="bd_home_title8"></h4>
    <p class="traders_focus3_stars"><img src="/white_label/bd_eshot/stars.png" alt=""></p>
    <div class="download_btn_wrapper">
        <a href="" style="margin-right: 25px;"><img src="/white_label/bd_forextrading/google_btn.png" alt=""></a>
        <a href=""><img src="/white_label/bd_forextrading/store_btn.png" alt=""></a>
    </div>
  </div>
  <p class="bd_home_cont4 bd_forextrading_footer"></p>
</div>