<div class="m_vue" data-page="binding_email">
    <div class="m_vue_binding_email" v-cloak>
        <validator name="validatorMethod">
            <div class="form-control-wrapper">
                <input class="form-control m_vue_form-control" 
                       type="text"
                       placeholder="新邮箱"
                       initial="off"
                       :class="{'form-control-error': frontErr.newEmail.show && $validatorMethod.newEmail.email}"
                       v-validate:new-email="['email']"
                       v-model="newEmail"
                       @focus="hideFrontErr('newEmail')"
                       @blur="showFrontErr('newEmail')">
                
                <i class="form-control-icon fa fa-envelope"></i>

                <div v-show="frontErr.newEmail.show">

                    <p class="alert-arrow_tp_lf" v-show="$validatorMethod.newEmail.email">
                        {{ frontErr.newEmail.msg || '邮箱格式不正确' }}
                    </p>
                </div>  
            </div>
        </validator>

        <div class="text-center" v-show="backErr.show">
            <p class="alert-system">
                {{ backErr.msg || '发送失败' }}
            </p>
        </div>

        <button @click="sendCode('new')" class="btn btn-primary btn-lg mg-tp-20" v-if="clickable.submit">
            发送验证码　
        </button>

        <button class="btn btn-info btn-lg mg-tp-20" v-if="!clickable.submit">
            <i class="loading fa fa-spinner"></i>
            发送中
        </button>
    </div>
</div>