<div class="m_vue" data-page="binding_email">
    <div class="m_vue_binding_email" v-cloak>
        <p class="text-center m_vue_binding_email__tip">
            验证码已发送至{{ oldEmail }}, 请注意查收
        </p>
        <validator name="validatorMethod">
            <div class="form-control-wrapper formWidth50">
                <input class="form-control" 
                       type="text"
                       placeholder="请输入验证码"
                       initial="off"
                       :class="{'form-control-error': frontErr.code.show && $validatorMethod.old.noempty}"
                       v-validate:old="['noempty']"
                       v-model="code.old"
                       @focus="hideFrontErr('code')"
                       @blur="showFrontErr('code')">

                <div v-show="frontErr.code.show">

                    <p class="alert-arrow_tp_lf" v-show="$validatorMethod.old.noempty">
                        {{ frontErr.code.msg || '请输入验证码' }}
                    </p>
                </div>  
            </div>
        </validator>

        <div class="text-center" v-show="backErr.show">
            <p class="alert-system">
                {{ backErr.msg || '验证失败' }}
            </p>
        </div>

        <button @click="checkCode" class="btn btn-primary btn-lg mg-tp-20" v-if="clickable.submit">
            下一步
        </button>

        <button class="btn btn-info btn-lg mg-tp-20" v-if="!clickable.submit">
            <i class="loading fa fa-spinner"></i>
            发送中
        </button>

        <div class="m_vue_binding_email__resend">
            <a @click="sendCode('re_old')">重新发送验证码</a>
        </div>
    </div>
</div>