<div class="study_knowledge">
    <h3>基本面分析</h3>

    <p class="study_knowledge__title"></p>

    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            利率——宏观经济调控的定海神针
        </div>
        <div class="info">
            利率又称利息率，表示一定时期内利息量与本金的比率，通常用百分比表示。
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;常见表述方法：</span>
            </h5>
            <p class="study_knowledge__content-detail">
                官方：百分比  ，如：3.1%<br>
                民间：8分 =  8%，3厘，1毛5<br>
                区分：年利率和年化利率
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;利率分类：</span>
            </h5>
            <p class="study_knowledge__content-detail">
                1.依附的经济关系：存款利率 ，贷款利率<br>
                2.按借贷主体分类：银行利率，非银行利率，债券利率
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;利率的调节方式：</span>
            </h5>
            <p class="study_knowledge__content-detail">
                通常为25个基点，即0.25%.  0.25N倍方式出现
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;影响利率的因素：</span>
            </h5>
            <p class="study_knowledge__content-detail mg-bt-20">
                物价水平<br>
                国家财政，银行利益（存贷利差）<br>
                资金的供求状况<br>
                汇率：利率升，货币强；利率跌，货币弱
            </p>
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            非农
        </div>
        <div class="info">
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;非农就业报告的公布时间</span>
            </h5>
            <p class="study_knowledge__content-detail">
                每月第一周周五，北京时间 20：30（夏令时）
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;非农就业报告的内容</span>
            </h5>
            <p class="study_knowledge__content-detail">
                就业报告： 失业率（Unemployment Rate）、非农就业人口数据 (Nonfarm Unemployment  )<br>
                非农就业人数，当非农业就业数字大幅增加时，表明了一个健康的经济状况，理论上对汇率应当有利，并可能预示着更高的利率，而潜在的高利率促使外汇市场更多地推动美元指数，反之亦然。<br>
                失业率 (Unemployment Rate) 也是美国就业报告中的另外一个项目，是指一定时期全部就业人口中有工作意愿而仍未有工作的劳动力数字。<br>
                非农数值减小，表示经济步入萧条。企业减少生产。利空美元，利多非美。<br>非农数值增加，表示经济状况健康。利于提高利率，利好美元，利空非美。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;非农详解—补充数据</span>
            </h5>
            <p class="study_knowledge__content-detail">
                当周就业报告：每周四公布，非农前的当周就业报告尤为重要<br>
                ADP—小非农，非官方机构得出，随着算法的修改，ADP 数据有时会与非农数据走反方向。<br>
                美联储的亲儿子--就业市场状况指数(LMCI)。该指数更为科学，编制时考虑了 19 个指标综合得出，但是算法复杂，公布于非农后第一个交易日。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;非农与失业率的关系</span>
            </h5>
            <p class="study_knowledge__content-detail mg-bt-20">
                分为两种情况：变动一致与变动不一致<br>
                变动一致：非农高于预期，失业率低于预期，大大利好美元不利于非美，大宗商品。非农低于预期，失业率高于预期，不利美元利于非美，大宗商品。<br>
                变动不一致：非农高于预期，失业率也高于预期，或非农低于预期，失业率也低于预期。此种情况市场变动复杂，可能出现过山车行情。出现此种情况，由于美国失业率编制的方式，往往非农数据更被市场所看重
            </p>
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            GDP
        </div>
        <div class="info mg-bt-20">
            通常 GDP 越高，意昧着经济发展越好，利率趋升，汇率趋强。即 GDP 高利好美圆利空非美。GDP 低利空美圆利好非美
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            CPI—PPI
        </div>
        <div class="info">
            爱恨交织两兄弟—生产者物价指数与消费者物价指数
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;CPI</span>
            </h5>
            <p class="study_knowledge__content-detail">
                反映与居民生活有关的产品及劳务价格统计出来的物价变动指标，通常作为观察通货膨胀水平的重要指针。<br>
                许多经济学家为了分析的目的而将部分指标排斥在外，主要是将容易波动的食品和能源价格剔除出去。这被称为核心消费者物价指数。<br>
                消费者物价指数是讨论通货膨胀时最常提及的物价指数之一。消费者物价指数上升太多，有通货膨胀的压力，此时中央银行可能会通过调高利率来加以控制，对一国货币来说是利多。由于与生活相关的产品多为最终产品，其价格只涨不跌，因此，消费者物价指数也未能完全反应价格变动的实情，还要再结合其他数据才能通盘考察通货膨胀。<br>
                不过，如果消费者物价指数升幅过大，表明通胀已经成为经济不稳定的因素的时候，央行会有紧缩货币政策和财政政策的风险，从而造成经济前景不明朗，因此该指数过高的升幅并不被市场欢迎。<br>
                指数上升太多，有通货膨胀压力，银行就会调高利率，利多汇率。<br>
                指数升幅不及预期，则经济放缓，央行有刺激经济压力，利空汇率。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;PPI</span>
            </h5>
            <p class="study_knowledge__content-detail mg-bt-20">
                生产者物价指数主要的目的在衡量各种商品在不同的生产阶段的价格变化情形。<br>
                根据价格传导规律,PPI 对 CPI 有一定的影响。PPI 反映生产环节价格水平,CPI 反映消费环节的价格水平。整体价格水平的波动一般首先出现在生产领域,然后通过产业链向下游产业扩散,最后波及消费品。产业链可以分为两条：一是以工业品为原材料的生产,存在原材料→生产资料→生活资料的传导。另一条是以农产品为原料的生产,存在农业生产资料→农产品→食品的传导。在中国，就以上两个传导路径来看，目前第二条,即农产品向食品的传导较为充分,粮价上涨是拉动 CPI 上涨的主要因素。但第一条,即工业品向 CPI 的传导基本是失效的。<br>
                生产者物价指数上扬对货币来说大多偏向利多汇率，下跌则为利空汇率。<br>
                PPI 数据是领先数据。
            </p>
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            PMI
        </div>
        <div class="info mg-bt-20">
            PMI 是一套月度发布的、综合性的经济监测指标体系，分为制造业 PMI、服务业 PMI，也有一些国家建立了建筑业 PMI。目前，全球已有 20 多个国家建立了 PMI 体系，世界制造业和服务业 PMI 已经建立。PMI是通过对采购经理的月度调查汇总出来的指数，反映了经济的变化趋势。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            耐用品订单
        </div>
        <div class="info mg-bt-20">
            耐用品订单 代表未来一个月内，对不易耗损的物品订购数量，该数据反映了制造业活动情况，就定义而言，订单泛指有意购买、而预期马上交运或在未来交运的商品交易。<br>
            此处所谓的耐用品，是指不易耗损的财货，一般是指使用寿命超过三年的财货，如国防设备，飞机等运输设备，企业机器等资本设备，及一般消费性耐久财如汽车，家电用品等。<br>
            该统计数据包括，对汽车、飞机等重工业产品和制造业资本用品，其它诸如电器等物品订购情况的统计。<br>
            耐用品订单是制造业出货、存货及新订单报告 nd Orders）里相当重要的一项，被视为制造业景气的领先指数<br>
            耐用品订单又可细分为耐用品订单及除国防运输品外耐用品订单<br>
            由于国防订单及飞机等运输品偶然性过大，因此在某种意义上讲，刨除国防的耐用品订单意义更为重要
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            房屋销售
        </div>
        <div class="info mg-bt-20">
            --一切的源头<br>
            本次金融危机的起源，也是衡量美国经济复苏情况的重要指标<br>
            对于任何一个国家的家庭，房产总是最重要的支出之一，房地产业复苏的情况，是衡量经济景气与否的重要先行指标之一
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            消费者支出与信心
        </div>
        <div class="info mg-bt-20">
            反映该国国民对其经济发展的看好程度，预示了未来消费支出的变化。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            分析经济数据的几个要点
        </div>
        <div class="info mg-bt-20">
            要结合当时市场情绪进行，同一个指标在经济环境不同时，对市场的影响不同，甚或会起相反作用。<br>
            例如在联储决定放水推行 QE 前后，非农数据对市场的影响几乎有 180 度的转变<br>
            经济数据的结果往往与预期偏差的重要性要大于与前值偏差的重要性
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            经济事件篇
        </div>
        <div class="info">
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;央行决议</span>
            </h5>
            <p class="study_knowledge__content-detail">
                市场最核心的关注要点，市场对经济数据的反应往往是在押注央行的决议会做出何等的行动<br>
                利率：加息，货币升值  减息货币贬值<br>
                非常规操作 QE，扭曲操作等对市场而言非常规操作的杀伤力更强，每当有非常规操作的消息传出
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;大佬讲话</span>
            </h5>
            <p class="study_knowledge__content-detail">
                央行大佬讲话表明央行内部对经济看法，点燃市场预期情绪，语言在市场上拥有强大的力量，如前瞻指引，<br>
                每年 8 月底全球央行行长会议，财长峰会均会引动市场关注。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;非常规事件</span>
            </h5>
            <p class="study_knowledge__content-detail">
                国债标售：反应市场对风险的偏好，往往一国经济状况和市场情绪会在国债收益率上初见端倪<br>
                地缘政治动荡：如战争等会急速的增强市场避险情绪对于风险货币，避险货币，大宗商品都有影响
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;地缘政治</span>
            </h5>
            <p class="study_knowledge__content-detail">
                战争<br>
                公投<br>
                动荡的政局往往意味着巨大的投机机会
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;经济事件的几个要点</span>
            </h5>
            <p class="study_knowledge__content-detail mg-bt-20">
                市场往往是买消息，卖事实<br>
                市场永远不缺热点，没有热点，市场会制造热点<br>
                事件有主次之分<br>
                市场可能会对经济事件作出截然不同的反映
            </p>
        </div>
    </div>
</div>