<div class="study_knowledge">
    <h3>新手入门</h3>

    <p class="study_knowledge__title"></p>

    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            何谓外汇 ?
        </div>
        <div class="info mg-bt-20">
            外汇泛指以某个议定价格将一种货币兑换成另一种货币的交易。外汇市场（FX或Forex）是全球规模最大，最具流动性的金融市场之一。超过85%的外汇交易集中在主要货币组合，包括欧元、美元、日元、英镑、瑞士法郎、澳元和加元。市场交易活动在伦敦交易时段最活跃，超过 38% 的交易都是通过伦敦外汇市场进行。
        </div>
    </div>

    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            为何进行外汇交易 ?
        </div>
        <div class="info">
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;24 小时全球市场</span>
            </h5>
            <p class="study_knowledge__content-detail">
                外汇市场对比起其他市场，最独特之处是其每日24小时运作，随时都可以买卖。外汇交易并非在中央交易所或一个固定的场所进行，在世界任何一个地方上，每个时间总会有一家银行或金融机构在运作，并进行货币兑换的交易，只有在周末时有短时间的空档。<br>
                外汇市场随着地球的转动而不停运作，让投资者可以享受到到弹性交易时间，并且可让投资者对政治、经济、技术和基本面因素及时作出调整，自由决定应该何时交易。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;流通量</span>
            </h5>
            <p class="study_knowledge__content-detail">
                外汇市场是全球流通量最大的金融市场，相对于买卖其他金融产品的交易成本较低。每日交易量超过 54,000 亿美元。（国际清算银行于 2014 年 7 月公布全球每日的外汇交易量的估计。)
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;杠杆式交易</span>
            </h5>
            <p class="study_knowledge__content-detail">
                外汇交易是一种保证金交易（杠杆式交易）产品，在外汇交易中,您只需要很少的一部分保证金,就可以控制足够大的交易合约。例如,经纪商会提供 200:1 的杠杆,使得我们使用 50 美元的保证金操作 10,000 美元的合约。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;免佣金无交易成本</span>
            </h5>
            <p class="study_knowledge__content-detail">
                大部分外汇交易商都不会对外汇交易收取佣金或手续费，而是从交易点差中获利，即客户买入（买入价）或卖出（卖出价）的价格差额。由于流通量庞大以及 24 小时交易的原因，货币组合的点差小，意味着交易成本低。即使有着这么多的优势,在老虎外汇参与外汇交易只用入金 200 美元!
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;可买入或卖出</span>
            </h5>
            <p class="study_knowledge__content-detail">
                外汇是一个完全的市场，汇价容易涨跌波动。若交易员认为某一货币将贬值，那么他几乎可以毫无限制地选择卖出。不论买入还是卖出，不论市场向上还是往下波动，汇市都存在潜在的获利空间。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;高流动性市场</span>
            </h5>
            <p class="study_knowledge__content-detail mg-bt-20">
                汇市是一个非常公正、公平的市场，几乎所有参与人士都可接触到处于千变万化之中的市场信息。汇率受不同的政治、经济、技术和基本面因素影响而持续波动和调整，其波动性使外汇交易引起投资者的兴趣，因为价格会受多个因素影响而迅速变化，当中会创造更多的交易良机。
            </p>
        </div>
    </div>

    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            在老虎外汇平台该如何开始参与外汇交易 ?
        </div>
        <div class="info mg-bt-20">
            1.开户注册。在老虎外汇平台注册，获得MT4交易账号。<br>
            2.实名认证。通过上传您的身份证资料进行实名认证，并由老虎外汇审核通过。<br>
            3.注资交易。账户注资后您可立即进行交易。
        </div>
    </div>
</div>