<div class="study_knowledge">
    <h3>技术分析</h3>

    <p class="study_knowledge__title">价格反映一切,想提高交易的操作水平,学习技术分析就是一个最好、最快的渠道.由简单到复杂渐进式学习,能快速帮助理解及应用。</p>

    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down active"></i>
            <i class="fa fa-chevron-right"></i>
            K 线与 K 线组合
        </div>
        <div class="info active">
            <h5>技术分析三大假设</h5>
            <p>
                第一假设：市场行为包容消化一切信息 技术分析者认为，能够影响某种资产价格的任何因素基础的、政治的、心理的或任何其它方面的实际上都反映在其价格之中，市场行为包容消化一切信息，这里的一切信息有你知道的，也有你目前还不知道的<br>
                第二大假设：市场运行以趋势方式变化。技术分析在本质上就是顺应趋势，即以判定和追随既成趋势为目的<br>
                第三大假设：历史会重演股票的形态是通过图形表现出来的，而这些图形表示了人们对某市场看好或看淡的心理。历史会重演，但却以不同方式进行重演！我们可以在历史行情中找寻很多类似的经历，但不要奢望行情会完全复制。
            </p>
            <h5>行内术语</h5>
            <p>
                渣(简写B)表示买入,看涨,也是股市说法的多方;<br>
                沽(简写S)表示卖出,看跌,也是股市说法的空方;<br>
                平仓(简写L)表示结算,完成一次交易；<br>
                建仓=入市；离场=平仓；<br>
                重仓=多单；轻仓=小单；<br>
                突破=入市机会；观望=等待入市机会。
            </p>
            <h5>K 线图的应用</h5>
            <p>
                K 线图有不同时间的图表,注意:一分钟图表里的一条 K 线代表的是一分钟内交易的记录;5 分钟图表里的一条K线代表是 5 分钟内交易的记录;10\15\30\60\120\240\480\日线\周线\月线\季线与年线,选择什么时间图表一条K线代表的就是什么时间内交易的记录。而一般做短线交易的操盘手都会喜欢选择时间较小的K线图表作为分析图应用。
            </p>
            <h5>K 线</h5>
            <p>
                K 线记录的是市场的力量,而市场只有三种情况:沽方力量大;渣方力量大;渣沽力量均衡.<br>

                <span class="study_knowledge__point">
                    <i class="fa fa-circle-o"></i>
                    K 线分阴线与阳线：由开盘价、收盘价、最高价与最低价构成    
                </span>
                <span class="study_knowledge__k_chart k1"></span>
                <div class="row">
                    <div class="col-xs-6">
                        <span class="study_knowledge__point">
                            <i class="fa fa-circle-o"></i>
                            阳烛：开盘价低于收盘价；   
                        </span>
                        <span class="study_knowledge__point">
                            <i class="fa fa-circle-o"></i>
                            实体：开盘价与收盘价之间；   
                        </span>
                        <span class="study_knowledge__point">
                            <i class="fa fa-circle-o"></i>
                            上影：实体顶点与最高价间；   
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <span class="study_knowledge__point">
                            <i class="fa fa-circle-o"></i>
                            阴烛：开盘价高于收盘价；   
                        </span>
                        <span class="study_knowledge__point">
                            <i class="fa fa-circle-o"></i>
                            波幅：最高价与最低价之间；   
                        </span>
                        <span class="study_knowledge__point">
                            <i class="fa fa-circle-o"></i>
                            下影：实体底点与最低价之间；   
                        </span>
                    </div>
                </div>
            </p>
            <h5>K 线分类</h5>
            <p>
                1.光头光脚 K 线:<br>
                表示开盘价与最高价相同，收盘价与最低价相同;实体较长,阳线表示渣方力量大; 阴线表示沽方力量大。
                <span class="study_knowledge__k_chart k2"></span>
                2.带上、下影的 K 线:<br>
                表示上有压力下有支持, 上影较长压力较大;下影较长,支持较大；阴线实体较长,沽方力量较大;阳线实体较长,渣方力量较大。
                <span class="study_knowledge__k_chart k3"></span>
                3.带上影 K 线:<br>
                表示渣方在上升途中遇到了压力，上影和实体的比例可以反映渣方遇阻的程度:上影较长压力较大;阴线实体较长,沽方力量较强;阳线实体较长,渣方力量较强。
                <span class="study_knowledge__k_chart k4"></span>
                4.带下影 K 线:<br>
                表示沽方在下跌途中得到了支持，下影和实体的比例可以反映沽方得到支持的程度:下影较长支持较大;阴线实体较长,沽方力量较强;阳线实体较长,渣方力量较强。
                <span class="study_knowledge__k_chart k5"></span>
                5.十字线:<br>
                表示开盘价和收盘价相同，渣沽力量暂处于平衡。十字星有很多变形形态，开盘价和收盘价可略有差异（中间可略带小实体）。上影较长压力较大；下影较长支持较大。<br>
                6.一字线:<br>
                表示开盘价、收盘价、最高价与最低价处于同一价位。通常只在一分种图里出现。
                <span class="study_knowledge__k_chart k6"></span>
                7.T 字线:<br>
                表示开盘价和收盘价相同，下影较长支持较大。
                <span class="study_knowledge__k_chart k7"></span>
                8.倒 T 字线:<br>
                表示开盘价与收盘价相同，上影较长压力较大。
                <span class="study_knowledge__k_chart k8"></span>
            </p>
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            趋势篇
        </div>
        <div class="info">
            <span class="pad10">趋势是价格的波动方向，也可以理解是市场发展的方向。</span>
            <span class="pad10">分为主要趋势、次要趋势和短暂趋势.</span>
            主要趋势:是指价格变动的要主方向,是我们必需弄清楚的,了解主要趋势才能做到顺势而为.主要趋势是价格波动的大方向,一般持续的时间比较长.适合长线投资.<br>
            次要趋势是在进行主要趋势的过程中出现的调整，我们清楚趋势不会一成不变的直上或直下，总有局部调整的时候，于是形成了次要趋势.适合中线投资。<br>短暂趋势是在次要趋势中出现的小调整，同样与主要、次要趋势一样会出现调整.适合短线投资。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            支持与压力
        </div>
        <div class="info">
            <span class="pad10">支持与压力位可以是一个价格，也可以是一个区域。</span>
            <span class="pad10">支持：是趋势形成的底，简单理解为价格在一个价位或区域跌不穿向上发展。</span>
            <span class="pad10">压力：是趋势形成的顶，简单理解为价格在一个价位或区域无力上涨而向下发展。</span>
            1.价格在压力位和支持位相持的时间越长，测试的次数越多，该压力和支持越重要；<br>
            2.价格从压力和支持弹开的距离越大，该压力和支持越重要；<br>
            3.支持和压力之间可以相互转换，支持位被突破之后，会对价格构成压力；压力位被突破之后，会对价格构成支持；<br>
            4.压力和支持与心理和习惯有关。(心理价位、整数价位)
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            通道
        </div>
        <div class="info">
            <span class="pad10">趋势通道简称通道，是趋势的一个重要作用，主要分为下降通道与上升通道及横向通道。</span>
            <span class="pad10">上升通道：沿着两个依次底点（AC）用一条直线连接，再沿着两个高点（BD）用一条直线连接，这就画出了上升通道，上面一条叫上轨趋势线;下面一条叫下轨趋势线.还需要验证这通道是否有效，如果说价格再一次碰到下轨折返向上视为有效上升通道。</span>
            <span class="pad10">下降通道：与上升通道相反。</span>
            <span class="pad10">横向通道:沿着两个同样的顶点(AC)用一条直线连接,再沿着两个同样的低点(BD)用一条直线连接,同样需要验证这通道是否有效,如果价格再一次碰到趋势线反转视为有效.在有单的情况下，如果反方向突破一定要平仓；如果有一定的距离也是加单的好时机。</span>
        </div>
    </div>
</div>