<ul class="side_navbar" tw-navbar>
    <li>
        <h4 class="side_navbar__title">基础知识</h4>
        
        <ul class="side_navbar__menu">
            <li>
                <a data-navbar-trigger href="/study/introduction">新手入门</a>
            </li>
            <li>
                <a data-navbar-trigger href="/study/term">外汇交易术语</a>
            </li>
            <li>
                <a data-navbar-trigger href="/study/fundamental">基本面分析</a>
            </li>
            <li>
                <a data-navbar-trigger href="/study/skill">技术分析</a>
            </li>
            <li>
                <a data-navbar-trigger href="/study/video">学习视频</a>
            </li>
        </ul>
    </li>
</ul>