<ul class="side_navbar" tw-navbar ng-controller="WebFaqController">
    <li>
        <h4 class="side_navbar__title"><%= lang.text("sidebar1")%></h4>
        
        <ul class="side_navbar__menu">
            <li>
                <a data-navbar-trigger href="/study/introduction"><%= lang.text("sidebar2")%></a>
            </li>
            <li>
                <a href="javascript:" ng-click="toggleNav($event)"><%= lang.text("sidebar3")%> <i class="fa fa-angle-right"></i></a>
            </li>
            <ul class="side_navbar__menu" ng-show="!show_faq">
                <li>
                    <a data-navbar-trigger class="font-size-12 mg-lf-15" href="/web/faq/simulate"><%= lang.text("sidebar4")%></a>
                </li>
                <li>
                    <a data-navbar-trigger class="font-size-12 mg-lf-15"  href="/web/faq/real"><%= lang.text("sidebar5")%></a>
                </li>
                <li>
                    <a data-navbar-trigger class="font-size-12 mg-lf-15"  href="/web/faq/wad"><%= lang.text("sidebar6")%></a>
                </li>
                <li>
                    <a data-navbar-trigger class="font-size-12 mg-lf-15"  href="/web/faq/type"><%= lang.text("sidebar7")%></a>
                </li>
                <li>
                    <a data-navbar-trigger class="font-size-12 mg-lf-15"  href="/web/faq/deal"><%= lang.text("sidebar8")%></a>
                </li>
                <li>
                    <a data-navbar-trigger class="font-size-12 mg-lf-15"  href="/web/faq/platform"><%= lang.text("sidebar9")%></a>
                </li>
                <li>
                    <a data-navbar-trigger class="font-size-12 mg-lf-15"  href="/web/faq/interest"><%= lang.text("sidebar10")%></a>
                </li>
            </ul>
            <%if(lang.isCompany("tigerwit")){%>
                <li>
                    <a data-navbar-trigger href="/study/video"><%= lang.text("sidebar11")%></a>
                </li>
            <%}%>
        </ul>
    </li>
</ul>