// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border, $background-hover, $border-hover) {
    color: $color;
    background-color: $background;
    border-color: $border;
    
    &:hover,
    &:active {
        background-color: $background-hover;
        border-color: $border-hover;
    }
    
    &.active {
        background-color: $background-hover;
        border-color: $border-hover;

        &:hover,
        &:active {
            background-color: $background;
            border-color: $border;
        }
    }
}

@mixin button-gradient($color, $backgroundstart, $backgroundend, $border-radius) {
    color: $color;
    @include gradient-horizontal($backgroundstart, $backgroundend);
    @include box-shadow(0 25px 60px $backgroundstart);
    border-radius: $border-radius;
    border: none;
    font-weight: 500;

    &:hover,
    &:active {
        @include gradient-horizontal(lighten($backgroundstart, 5%), lighten($backgroundend, 5%));
    }
    
    &.active {
        @include gradient-horizontal(lighten($backgroundstart, 5%), lighten($backgroundend, 5%));

        &:hover,
        &:active {
            @include gradient-horizontal(lighten($backgroundstart, 5%), lighten($backgroundend, 5%));
        }
    }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    height: $height;
    line-height: $height;
    border-radius: $border-radius;
}
