<div class="system_modal">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="system_modal__title">
        修改复制金额
    </h5>

    <div class="system_modal__content">
        <form class="mg-tp-30" name="copyForm" novalidate ng-show="!copyTrade.success">
            <div class="row">
                <div class="col-xs-4">
                    <label>复制金额：</label>
                </div>
                <div class="col-xs-8">
                    <div class="form-control-wrapper">
                        <input class="form-control icon"
                               name="amount"
                               type="text"
                               ng-class="{'form-control-error': frontErr.amount.show && copyForm.amount.$invalid}"
                               ng-model="copyTrade.amount"
                               required
                               ng-pattern="frontErr.amount.reg"
                               twform-max="{{ copyTrade.avaCopyAmount }}"
                               twform-min="{{ copyTrade.minCopyAmount }}"
                               ng-focus="hideErr('amount')"
                               ng-blur="showErr('amount')">

                        <i class="fa fa-dollar form-control-icon font-primary"></i>

                        <div ng-show="frontErr.amount.show">
                            <p class="alert-arrow_tp_lf" ng-show="copyForm.amount.$error.required">
                                请输入复制金额
                            </p>

                            <p class="alert-arrow_tp_lf" ng-show="copyForm.amount.$error.pattern">
                                输入的金额为大于零的整数或者小数（小数点后最多两位数字）
                            </p>

                            <p class="alert-arrow_tp_lf" ng-show="copyForm.amount.$error.twformMax">
                                复制金额不能超过可用复制金额
                            </p>

                            <p class="alert-arrow_tp_lf" ng-show="copyForm.amount.$error.twformMin">
                                复制金额最少为 {{ copyTrade.minCopyAmount }} 美金
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <label>可用金额：</label>
                </div>
                <div class="col-xs-8">
                    <label class="copy_modal__label">
                        <i class="fa fa-dollar font-primary"></i>
                        {{ copyTrade.avaCopyAmount || '0.00' }}
                    </label>
                </div>
            </div>
        </form>

        <div ng-if="copyTrade.success">
            <p class="system_modal__info">
                <i class="operate_tip__succ_icon fa fa-check-circle"></i>
                复制金额修改成功
            </p>
        </div>

        <div class="system_modal__btn_wrapper" ng-if="!copyTrade.success">
            <div ng-show="backErr.system.show">
                <p class="alert-system">
                    {{ backErr.system.msg }}
                </p>
            </div>
            <button class="btn btn-primary btn-sm" ng-if="clickable.copy" ng-click="submitForm()">
                修改复制金额
            </button>

            <button class="btn btn-primary btn-sm active" disabled ng-if="!clickable.copy">
                <i class="loading_spinner fa fa-spinner"></i>
                修改复制金额
            </button>

        </div>
    </div>
</div>
