<div class="sys_modal">
    <p class="clearfix">
        <button class="close" ng-click="closeModal()">&times;</button>
    </p>

    <h5 class="sys_modal__title" ng-if="copyTrade.title == 'modify'">
        {{lang.text('tigerWitID.tradingAccount.modifyCopyAmount')}}
    </h5>
    <h5 class="sys_modal__title" ng-if="copyTrade.title == 'copy'">
        {{lang.text('tigerWitID.copy')}}
    </h5>
    <h5 class="sys_modal__sub_title" ng-if="copyTrade.title == 'copy'">
        {{ copyTrade.username }}
    </h5>
    <h5 class="sys_modal__title" ng-if="copyTrade.title == 'tip'">
        {{lang.text('tigerWitID.depositWithdrawal.notice')}}
    </h5>

    <div class="sys_modal__content" ng-show="step == 1">
        <form class="mg-tp-30" name="copyForm" novalidate>
            <div class="row">
                <div class="col-xs-4">
                    <label>{{lang.text('tigerWitID.details.copyAmount')}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-control-wrapper">
                        <input class="form-control icon bd-bt"
                               name="amount"
                               type="number"
                               ng-class="{'form-control-error': frontErr.amount.show && copyForm.amount.$invalid}"
                               ng-model="copyTrade.amount"
                               required
                               ng-pattern="frontErr.amount.reg"
                               twform-min="{{ copyTrade.minCopyAmount }}"
                               ng-focus="hideErr('amount')"
                               ng-change="calAmount()"
                               ng-blur="[showErr('amount')]">

                        <i class="fa fa-dollar form-control-icon bd-bt font-base"></i>

                        <div ng-show="frontErr.amount.show">
                            <p class="alert-arrow_tp_lf" ng-show="copyForm.amount.$error.required">
                                {{lang.text('tigerWitID.tradingAccount.enterCopyAmount')}}
                            </p>

                            <p class="alert-arrow_tp_lf" ng-show="copyForm.amount.$error.twformMin">
                                {{lang.text('tigerWitID.tradingAccount.minimumCopyAmount')}}${{ copyTrade.minCopyAmount }} 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4">
                    <label>{{lang.text('tigerWitID.tradingAccount.availableCopyAmountM')}}</label>
                </div>
                <div class="col-xs-8 text-right">
                    <label class="copy_modal__label">
                        <i class="fa fa-dollar font-base"></i>
                        {{ copyTrade.avaCopyAmount || '0.00' }}
                    </label>
                </div>
            </div>

            <div class="row" ng-if="hasCanceled">
                <div class="col-xs-4">
                    <label>{{lang.text('tigerWitID.dataStatistics.currentCopyAmountM')}}</label>
                </div>
                <div class="col-xs-8 text-right">
                    <label class="copy_modal__label">
                        <i class="fa fa-dollar font-base"></i>
                        {{ copyTrade.amount || '0.00' }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <label>{{lang.text('tigerWitID.tradingAccount.recommendedM')}}</label>
                </div>
                <div class="col-xs-8 text-right">
                    <label class="copy_modal__label">
                        <i class="fa fa-dollar font-base"></i>
                        {{ copyTrade.advice || '0.00' }}
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label>{{lang.text('tigerWitID.tradingAccount.remainingCopiableFundsM')}}</label>
                </div>
                <div class="col-xs-6 text-right">
                    <label class="copy_modal__label">
                        <i class="fa fa-dollar font-base"></i>
                        {{ copyTrade.surplusAmount.toFixed(2) || '0.00' }}
                    </label>
                </div>
            </div>
        </form>
        <div class="text-left copy_modal__tip mg-tp-20 font-dark">
            {{lang.text('tigerWitID.tradingAccount.tip9')}}
        </div>
        <div class="text-left copy_modal__tip mg-tp-15 font-dark">
            {{lang.text('tigerWitID.tradingAccount.tip10')}}
        </div>

        <div class="font-danger text-center mg-tp-20">
            <p ng-if="frontErr.insufficient.show">{{lang.text('tigerWitID.tradingAccount.tip11')}}</p>
        </div>

        <div class="sys_modal__btn_wrapper clearfix">
            <div ng-if="backErr.system.show">
                <p class="alert-system">
                    {{ backErr.system.msg }}
                </p>
            </div>

            <button ng-if="frontErr.insufficient.show" class="btn btn-primary btn-lt fr">
               <a href="/space/#/space/asset/deposit" target="_blank" class="font-base">{{lang.text('tigerWitID.tradingAccount.goDeposit')}}</a>
            </button>

            <!--正常提交按钮-->
            <div class="clearfix" ng-if="!hasCanceled">
                <button ng-if="!frontErr.insufficient.show && clickable.copy && copyTrade.title == 'copy'" 
                    class="btn btn-lt btn-dark fr" 
                    ng-class="{ 'btn-disabled' : copyTrade.amount < 200, 'btn-primary' : copyTrade.amount >= 200 }"
                    ng-click="submitStep1(false)">
                    {{lang.text('tigerWitID.details.copyTrade')}}
                </button>

                <button ng-if="!frontErr.insufficient.show && clickable.copy && copyTrade.title == 'modify'" 
                    class="btn btn-lt btn-dark fr" 
                    ng-class="{ 'btn-disabled' : copyTrade.amount < 200, 'btn-primary' : copyTrade.amount >= 200 }"
                    ng-click="submitStep1(false)">
                    {{lang.text('tigerWitID.edit')}}
                </button>

                <button class="btn btn-primary btn-lt active fr" disabled ng-if="!clickable.copy">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.submitting')}}
                </button>
            </div>

            <!--返回修改按钮-->
            <div class="clearfix" ng-if="hasCanceled">
                <button ng-if="!frontErr.insufficient.show && clickable.copy" 
                    class="btn btn-lt btn-dark fr" 
                    ng-class="{ 'btn-disabled' : copyTrade.amount < 200, 'btn-primary' : copyTrade.amount >= 200 }"
                    ng-click="submitStep1(true)">
                    {{lang.text('tigerWitID.tradingAccount.confirm')}}
                </button>

                <button class="btn btn-primary btn-lt active fr" disabled ng-if="!clickable.copy">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.submitting')}}
                </button>
            </div>
        </div>
    </div>

    <div class="sys_modal__content" ng-if="step == 2">
        <div class="text-left copy_modal__tip mg-tp-20">
            {{lang.text('tigerWitID.tradingAccount.tip12')}}
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <label>{{lang.text('tigerWitID.details.copyAmountM')}}</label>
            </div>
            <div class="col-xs-8 text-right">
                <label class="copy_modal__label font-danger">
                    <i class="fa fa-dollar"></i>
                    {{ copyTrade.amount || '0.00' }}
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <label>{{lang.text('tigerWitID.tradingAccount.suggestedAmountM')}}</label>
            </div>
            <div class="col-xs-8 text-right">
                <label class="copy_modal__label">
                    <i class="fa fa-dollar font-base"></i>
                    {{ copyTrade.advice || '0.00' }}
                </label>
            </div>
        </div>

        <!--强制继续按钮组-->
        <div class="sys_modal__btn_wrapper clearfix">
            <button class="btn btn-primary btn-lt fr" ng-click="submitForm()" ng-if="clickable.copy">
                {{lang.text('tigerWitID.continue')}}
            </button>

            <button class="btn btn-primary btn-lt fr mg-rg-15" ng-click="cancleSubmit()" ng-if="clickable.copy">
                {{lang.text('tigerWitID.cancel')}}
            </button>
            
            <button class="btn btn-primary btn-lt active fr" disabled ng-if="!clickable.copy">
                <i class="loading_spinner fa fa-spinner"></i>
                {{lang.text('tigerWitID.submitting')}}
            </button>
        </div>
    </div>

    <div class="sys_modal__content" ng-if="step == 3">
        <div>
            <p class="text-center mg-tp-50">
                <svg width="70" height="70">
                    <image xlink:href="/images/web/circle-right.svg" src="/images/web/circle-right.png" width="70" height="70" />
                </svg>
            </p>
            <p class="text-center mg-tp-10 font-normal" ng-if="copyTrade.title == 'modify'">
                {{lang.text('tigerWitID.tradingAccount.copyAmountSucc')}}
            </p>
            <p class="text-center mg-tp-10 font-normal" ng-if="copyTrade.title == 'copy'">
                {{lang.text('tigerWitID.tradingAccount.copySuccess')}}
            </p>
        </div>
        <div class="sys_modal__btn_wrapper mg-tp-30 clearfix">
            <button class="btn btn-primary btn-lt fr" ng-click="closeModal()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </div>
    </div>

    <div class="sys_modal__content" ng-if="step == 4">
        <div>
            <p class="text-center mg-tp-30 font-normal">
                {{copyTrade.evidenceMsg}}
            </p>
        </div>
        <div class="sys_modal__btn_wrapper mg-tp-20 clearfix">
            <a class="btn btn-primary btn-lt fr" href="/space/#/space/asset/evidence">
                {{lang.text('tigerWitID.depositWithdrawal.uploadVoucher')}}
            </a>
        </div>
    </div>

</div>

