<div tw-loading-img></div>
<div class="invest_content">
    <div class="invest_content__tip">
        注：您复制高手的盈利部分将会扣除20%作为佣金给高手。详情请参考：
        <a ng-href="{{ lang.text('companyCopyRules') }}" target="_blank">{{ lang.text("companyCopyRules") }}</a>
    </div>
    <table class="table table-header">
        <colgroup>
            <col width="35%">
            <col width="17%">
            <col width="17%">
            <col width="16%">
            <col width="15%">
        </colgroup>
        <thead>
            <tr>
                <th>操作</th>
                <th>开仓价</th>
                <th>现价</th>           
                <th>收益</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="invest_table_wrapper">

        <!-- 自主交易持仓订单 -->
        <table class="invest_table table table-striped table-hover">
            <colgroup>
                <col width="35%">
                <col width="17%">
                <col width="17%">
                <col width="16%">
                <col width="15%">
            </colgroup>
            <!-- 自主交易持仓订单概况 -->
            <thead>
                <tr class="invest_orders" ng-if="orders.length > 0" ng-click="showOrders()">
                    <th class="text-left invest_orders__user">
                        <a href="" class="invest_orders__user-avatar">
                            <img ng-src="/avatar/{{ personal.usercode }}_50.jpg" alt="personal 头像">
                        </a>
                        
                        <div class="invest_orders__user-username">
                            <a href="" ng-class="{'font-info': orderCurrent.detailsShow}">
                                <span>{{ personal.username || '**' }}</span>
                            </a>
                            <i class="fa fa-chevron-right" ng-show="!orderCurrent.detailsShow"></i>
                            <i class="fa fa-chevron-up font-info" ng-show="orderCurrent.detailsShow"></i><br>
                            <span class="invest_orders__type own">自主交易</span>
                        </div>
                    </th>
                    <th colspan="2" class="invest_orders__rate-promise">
                        <span ng-class="{'green': orderCurrent.margin_level > 200, 'orange': orderCurrent.margin_level > 150 && orderCurrent.margin_level <= 200, 'red': orderCurrent.margin_level <= 150}">
                            保证金比例: {{ orderCurrent.margin_level }}%
                        </span>
                    </th>
                    <th ng-class="{'font-success': orderCurrent.group_profit.indexOf('-') != -1, 'font-danger':  orderCurrent.group_profit.indexOf('-') < 0}">
                        <i class="fa fa-dollar"></i>{{ orderCurrent.group_profit }}
                    </th>
                    <th class="invest_orders__btn">
                        <button href="" class="btn btn-primary btn-sm" ng-click="openInvestOwnDetailMdl($event)">详情</button>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="invest_table_wrapper__tbody" ng-show="orderCurrent.detailsShow">
            <table class="invest_table table table-striped table-hover">
                <colgroup>
                    <col width="35%">
                    <col width="17%">
                    <col width="17%">
                    <col width="16%">
                    <col width="15%">
                </colgroup>
                <!-- 自主交易持仓订单详情 -->
                <tbody>
                    <tr class="" ng-repeat="order in orders">
                        <td class="text-left invest_orders__detail">
                            <span class="invest_orders__trunk"></span>
                            <span class="invest_orders__branch"></span>

                            <span class="invest_orders__icon icon-forex-{{ order.symbol.toLowerCase() }} vertical-middle">
                            </span>
                            <div class="invest_orders__operate">
                                <p>
                                    <span class="invest_orders__action" ng-class="order.action?'font-down':'font-up'">
                                        {{ order.action ? '买跌' : '买涨' }}
                                    </span>
                                    <a class="invest_orders__symbol" href="">
                                        {{ order.symbol | symbolMod:'zh' }}
                                    </a>        
                                </p>
                            </div>
                        </td>
                        <td>{{ order.open_price }}</td>
                        <td>{{ order.close_price }}</td>
                        <td ng-class="{'font-success': order.profit.indexOf('-') != -1, 'font-danger': order.profit.indexOf('-') < 0}">
                            <i class="fa fa-dollar"></i>{{ order.profit }}
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr ng-if="orders.length <= 0 && orderCurrent.detailsShow">
                        <td colspan="5">无数据</td>
                    </tr>
                </tbody>
            </table>
        </div>

         <!-- 复制持仓单  - 取消跟单但不强平的单子 -->
        <table class="invest_table table table-striped table-hover">
            <colgroup>
                <col width="35%">
                <col width="17%">
                <col width="17%">
                <col width="16%">
                <col width="15%">
            </colgroup>
            <!-- 复制持仓单  - 取消跟单但不强平的单子 -->
            <thead>
                <tr class="invest_orders" ng-if="from_data.length > 0" ng-click="showFromOrders()">
                    <th class="text-left invest_orders__user">
                        <a href="" class="invest_orders__user-avatar">
                            <img ng-src="/avatar/{{ personal.usercode }}_50.jpg" alt="personal 头像">
                        </a>
                        
                        <div class="invest_orders__user-username">
                            <a href="" ng-class="{'font-info': orderCurrent.fromDetailsShow}">
                                <span>{{ personal.username || '**' }}</span>
                            </a>
                            <i class="fa fa-chevron-right" ng-show="!orderCurrent.fromDetailsShow"></i>
                            <i class="fa fa-chevron-up font-info" ng-show="orderCurrent.fromDetailsShow"></i><br>
                            <span class="invest_orders__type copy">跟随持仓</span>
                        </div>
                    </th>
                    <th colspan="2" class="invest_orders__rate-promise">
                        <!-- <span ng-class="{'green': orderCurrent.margin_level > 200, 'orange': orderCurrent.margin_level > 150 && orderCurrent.margin_level <= 200, 'red': orderCurrent.margin_level <= 150}">
                            保证金比例: {{ orderCurrent.margin_level }}%
                        </span> -->
                    </th>
                    <th ng-class="{'font-success': from_orders_profit < 0, 'font-danger':  from_orders_profit >= 0}">
                        <i class="fa fa-dollar"></i>{{ from_orders_profit }}
                    </th>
                    <th class="invest_orders__btn">
                         <button href="" class="btn btn-primary btn-sm" ng-click="openInvestOwnDetailMdl($event)">详情</button> 
                         <p class="btn-msg">已取消复制</p>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="invest_table_wrapper__tbody" ng-show="fromDetailsShow">
            <table class="invest_table table table-striped table-hover">
                <colgroup>
                    <col width="35%">
                    <col width="17%">
                    <col width="17%">
                    <col width="16%">
                    <col width="15%">
                </colgroup>
                <!-- 复制持仓单 详情  - 取消跟单但不强平的单子 -->
                <tbody>
                    <tr class="" ng-repeat="order in from_data">
                        <td class="text-left invest_orders__detail">
                            <span class="invest_orders__trunk"></span>
                            <span class="invest_orders__branch"></span>

                            <span class="invest_orders__icon icon-forex-{{ order.symbol.toLowerCase() }} vertical-middle">
                            </span>
                            <div class="invest_orders__operate">
                                <p>
                                    <span class="invest_orders__action" ng-class="order.action?'font-down':'font-up'">
                                        {{ order.action ? '买跌' : '买涨' }}
                                    </span>
                                    <a class="invest_orders__symbol" href="">
                                        {{ order.symbol | symbolMod:'zh' }}
                                    </a>        
                                </p>
                            </div>
                        </td>
                        <td></i>{{ order.open_price }}</td>
                        <td>{{ order.close_price }}</td>
                        <td ng-class="{'font-success': order.profit.indexOf('-') != -1, 'font-danger': order.profit.indexOf('-') < 0}">
                            <i class="fa fa-dollar"></i>{{ order.profit }}
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr ng-if="orders.length <= 0 && orderCurrent.detailsShow">
                        <td colspan="5">无数据</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 复制交易持仓订单 -->
        <div ng-if="traders.length > 0" ng-repeat="trader in traders">
            <table class="invest_table table table-striped table-hover">
                <colgroup>
                    <col width="35%">
                    <col width="17%">
                    <col width="17%">
                    <col width="16%">
                    <col width="15%">
                </colgroup>
                <!-- 复制交易持仓订单概况 -->
                <thead>
                    <tr class="invest_orders" ng-click="showDetails(trader)">
                        <th class="text-left invest_orders__user">
                            <a href="" class="invest_orders__user-avatar">
                                <img ng-src="/avatar/{{ trader.usercode }}_50.jpg" alt="trader 头像">
                            </a>
                            
                            <div class="invest_orders__user-username">
                                <a href="" ng-class="{'font-info': trader.detailsShow}">
                                    <span>{{ trader.username || '**' }}</span>
                                </a>
                                <i class="fa fa-chevron-right" ng-show="!trader.detailsShow"></i>
                                <i class="fa fa-chevron-up font-info" ng-show="trader.detailsShow"></i>
                                <br>
                                <span class="invest_orders__type copy">复制交易</span>
                            </div>
                        </th>
                        <th colspan="2" class="invest_orders__rate-copy">
                            <span class="number" ng-click="openCopyMdl(trader, $event)">
                                复制金额: {{ trader.copy_asset }}
                                <i class="fa fa-caret-down font-info"></i>
                            </span>
                        </th>
                        <th ng-class="{'font-success': trader.profit.indexOf('-') != -1, 'font-danger':  trader.profit.indexOf('-') < 0}">
                            <i class="fa fa-dollar"></i>{{ trader.profit }}
                        </th>
                        <th class="invest_orders__btn">
                            <button class="btn btn-primary btn-sm" ng-click="openInvestCopyDetailMdl(trader, $event)">详情</button>
                            <button class="btn btn-default btn-sm" ng-click="openCancelCopyMdl(trader, $event)">取消复制</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="invest_table_wrapper__tbody" ng-show="trader.detailsShow">
                
                <table class="invest_table table table-striped table-hover">
                    <colgroup>
                        <col width="35%">
                        <col width="17%">
                        <col width="17%">
                        <col width="16%">
                        <col width="15%">
                    </colgroup>
                    <!-- 复制交易持仓订单详情 -->
                    <tbody>
                        <tr class="" ng-repeat="order in trader.orders">
                            <td class="text-left invest_orders__detail">
                                <span class="invest_orders__trunk"></span>
                                <span class="invest_orders__branch"></span>

                                <span class="invest_orders__icon icon-forex-{{ order.symbol.toLowerCase() }} vertical-middle">
                                </span>
                                <div class="invest_orders__operate">
                                    <p>
                                        <span class="invest_orders__action" ng-class="order.action?'font-down':'font-up'">
                                            {{ order.action ? '买跌' : '买涨' }}
                                        </span>
                                        <a class="invest_orders__symbol" href="">
                                            {{ order.symbol | symbolMod:'zh' }}
                                        </a>        
                                    </p>
                                </div>
                            </td>
                            <td><i class="fa fa-dollar"></i>{{ order.open_price }}</td>
                            <td><i class="fa fa-dollar"></i>{{ order.close_price }}</td>
                            <td ng-class="{'font-success': order.profit.indexOf('-') != -1, 'font-danger': order.profit.indexOf('-') < 0}">
                                <i class="fa fa-dollar"></i>{{ order.profit }}
                            </td>
                    
                            <td>
                            </td>
                        </tr>
                        <tr ng-if="trader.orders.length <= 0 && trader.detailsShow">
                            <td colspan="5">该高手没有持仓订单</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="trader.notFirstLoad != true">
                    <div class="loading_img active">
                        <img src="/ngsrc/loading.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mg-tp-15" ng-if="orders.length <= 0 && traders.length <= 0">
        <p class="">无数据</p>
    </div>
</div>