<div tw-loading-img></div>
<div class="invest_content">
    <div class="invest_content__tip">
        {{lang.text('tigerWitID.tradingAccount.tip1')}}
        <a ng-href="{{ lang.text('companyCopyRules') }}" target="_blank">{{ lang.text("companyCopyRules") }}</a>
    </div>
    <table class="table table-traffic">
        <colgroup>
            <col width="35%">
            <col width="17%">
            <col width="17%">
            <col width="16%">
            <col width="15%">
        </colgroup>
        <thead>
            <tr>
                <th>{{lang.text('tigerWitID.details.operation')}}</th>
                <th>{{lang.text('tigerWitID.details.openPrice')}}</th>
                <th>{{lang.text('tigerWitID.details.currentPrice')}}</th>           
                <th>{{lang.text('tigerWitID.details.profit')}}</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="invest_table_wrapper">

        <!-- 自主交易持仓订单 -->
        <table class="invest_table table table-striped table-hover">
            <colgroup>
                <col width="35%">
                <col width="17%">
                <col width="17%">
                <col width="16%">
                <col width="15%">
            </colgroup>
            <!-- 自主交易持仓订单概况 -->
            <thead>
                <tr class="invest_orders" ng-if="orders.length > 0" ng-click="showOrders()">
                    <th class="text-left invest_orders__user">
                        <a href="" class="invest_orders__user-avatar">
                            <img ng-src="/avatar/{{ personal.usercode }}_50.jpg" alt="personal {{lang.text('tigerWitID.settings.photo')}}">
                        </a>
                        
                        <div class="invest_orders__user-username">
                            <a href="" ng-class="{'font-info': orderCurrent.detailsShow}">
                                <span>{{ personal.username || '**' }}</span>
                            </a>
                            <i class="fa fa-chevron-right" ng-show="!orderCurrent.detailsShow"></i>
                            <i class="fa fa-chevron-up font-info" ng-show="orderCurrent.detailsShow"></i><br>
                            <span class="invest_orders__type own">{{lang.text('tigerWitID.details.autonomousTransaction')}}</span>
                        </div>
                    </th>
                    <th colspan="2" class="invest_orders__rate-promise">
                        <span ng-class="{'green': orderCurrent.margin_level > 200, 'orange': orderCurrent.margin_level > 150 && orderCurrent.margin_level <= 200, 'red': orderCurrent.margin_level <= 150}">
                            {{lang.text('tigerWitID.details.marginLevelM')}} {{ orderCurrent.margin_level }}%
                        </span>
                    </th>
                    <th ng-class="{'font-success': orderCurrent.floating_profit.indexOf('-') != -1, 'font-danger':  orderCurrent.floating_profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                        <i class="fa fa-dollar"></i>{{ orderCurrent.floating_profit }}
                    </th>
                    <th ng-class="{'font-danger': orderCurrent.floating_profit.indexOf('-') != -1, 'font-success':  orderCurrent.floating_profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                        <i class="fa fa-dollar"></i>{{ orderCurrent.floating_profit }}
                    </th>
                    <th class="invest_orders__btn">
                        <button href="" class="btn font-info font-size-16" ng-click="openInvestOwnDetailMdl('own', $event)">{{lang.text('tigerWitID.details.title')}}</button>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="invest_table_wrapper__tbody" ng-show="orderCurrent.detailsShow">
            <table class="invest_table table table-striped table-hover">
                <colgroup>
                    <col width="35%">
                    <col width="17%">
                    <col width="17%">
                    <col width="16%">
                    <col width="15%">
                </colgroup>
                <!-- 自主交易持仓订单详情 -->
                <tbody>
                    <tr class="" ng-repeat="order in orders">
                        <td class="text-left invest_orders__detail">
                            <span class="invest_orders__trunk"></span>
                            <span class="invest_orders__branch"></span>

                            <span class="invest_orders__icon icon-forex-{{ order.symbol_origin.toLowerCase() }} vertical-middle">
                            </span>
                            <div class="invest_orders__operate">
                                <p>
                                    <span class="invest_orders__action" ng-class="order.cmd?'font-down':'font-up'">
                                        {{ order.cmd_name }}
                                    </span>
                                    <a class="invest_orders__symbol" href="">
                                        {{ lang.isEnglishArea() ? order.symbol : order.symbol_cn + ' ('+ order.symbol +')' }}
                                    </a>        
                                </p>
                            </div>
                        </td>
                        <td>{{ order.open_price }}</td>
                        <td>{{ order.close_price }}</td>
                        <td ng-class="{'font-success': order.gross_profit.indexOf('-') != -1, 'font-danger': order.gross_profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                        </td>
                        <td ng-class="{'font-danger': order.gross_profit.indexOf('-') != -1, 'font-success': order.gross_profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="orders.length <= 0 && orderCurrent.detailsShow" class="text-center mg-bt-20">
                <img src="/images/no_data.png" alt="" class="mg-bt-40">
                <p>{{ lang.text('tigerWitID.noData') }}</p> 
            </div>
        </div>

        <!-- 复制交易持仓订单 -->
        <div ng-if="traders.length > 0" ng-repeat="trader in traders">
            <table class="invest_table table table-striped table-hover">
                <colgroup>
                    <col width="35%">
                    <col width="17%">
                    <col width="17%">
                    <col width="16%">
                    <col width="15%">
                </colgroup>
                <!-- 复制交易持仓订单概况 -->
                <thead>
                    <tr class="invest_orders" ng-click="showDetails(trader)">
                        <th class="text-left invest_orders__user">
                            <a href="" class="invest_orders__user-avatar">
                                <img ng-src="/avatar/{{ trader.account_code }}_50.jpg" alt="trader {{lang.text('tigerWitID.settings.photo')}}">
                            </a>
                            
                            <div class="invest_orders__user-username">
                                <a href="" ng-class="{'font-info': trader.detailsShow}">
                                    <span>{{ trader.username || '**' }}</span>
                                </a>
                                <i class="fa fa-chevron-right" ng-show="!trader.detailsShow"></i>
                                <i class="fa fa-chevron-up font-info" ng-show="trader.detailsShow"></i>
                                <br>
                                <span class="invest_orders__type copy">{{lang.text('tigerWitID.details.copyTrade')}}</span>
                            </div>
                        </th>
                        <th colspan="2" class="invest_orders__rate-copy">
                            <span class="number" ng-click="openCopyMdl(trader, $event)">
                                {{lang.text('tigerWitID.details.copyAmountM')}} {{ trader.copy_amount }}
                                <i class="fa fa-caret-down font-info"></i>
                            </span>
                        </th>
                        <th ng-class="{'font-success': trader.profit.indexOf('-') != -1, 'font-danger':  trader.profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ trader.floating_profit }}
                        </th>
                        <th ng-class="{'font-danger': trader.profit.indexOf('-') != -1, 'font-success':  trader.profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ trader.floating_profit }}
                        </th>
                        <th class="invest_orders__btn">
                            <button class="btn font-info font-size-16" ng-click="openInvestCopyDetailMdl(trader, $event)">{{lang.text('tigerWitID.details.title')}}</button>
                            <button class="btn tw-btn-capsule-gradient tw-btn-sm" ng-click="openCancelCopyMdl(trader, $event)">{{lang.text('tigerWitID.details.cancel')}}</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="invest_table_wrapper__tbody" ng-show="trader.detailsShow">
                
                <table class="invest_table table table-striped table-hover">
                    <colgroup>
                        <col width="35%">
                        <col width="17%">
                        <col width="17%">
                        <col width="16%">
                        <col width="15%">
                    </colgroup>
                    <!-- 复制交易持仓订单详情 -->
                    <tbody>
                        <tr class="" ng-repeat="order in trader.orders">
                            <td class="text-left invest_orders__detail">
                                <span class="invest_orders__trunk"></span>
                                <span class="invest_orders__branch"></span>

                                <span class="invest_orders__icon icon-forex-{{ order.symbol_origin.toLowerCase() }} vertical-middle">
                                </span>
                                <div class="invest_orders__operate">
                                    <p>
                                        <span class="invest_orders__action" ng-class="order.cmd?'font-down':'font-up'">
                                            {{ order.cmd_name }}
                                        </span>
                                        <a class="invest_orders__symbol" href="">
                                            {{ lang.isEnglishArea() ? order.symbol : order.symbol_cn + ' ('+ order.symbol +')' }}
                                        </a>        
                                    </p>
                                </div>
                            </td>
                            <td><i class="fa fa-dollar"></i>{{ order.open_price }}</td>
                            <td><i class="fa fa-dollar"></i>{{ order.close_price }}</td>
                            <td ng-class="{'font-success': order.gross_profit.indexOf('-') != -1, 'font-danger': order.gross_profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                                <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                            </td>
                            <td ng-class="{'font-danger': order.gross_profit.indexOf('-') != -1, 'font-success': order.gross_profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                                <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                            </td>
                    
                            <td>
                                <span ng-if="!order.cancel_control" class="font-size-12">{{lang.text('tigerWitID.tradingAccount.tip13')}}</span>
                                <span ng-if="!!order.cancel_control" class="font-size-12">{{lang.text('tigerWitID.tradingAccount.tip14')}}</span>
                            </td>
                        </tr>
                        <tr ng-if="trader.orders.length <= 0 && trader.detailsShow">
                            <td colspan="5">{{lang.text('tigerWitID.tradingAccount.tip15')}}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="trader.notFirstLoad != true">
                    <div class="loading_img active">
                        <img src="/ngsrc/loading.gif">
                    </div>
                </div>
            </div>
        </div>
        <!-- 复制持仓单 详情  - 取消跟单但不强平的单子 -->
        <div ng-if="from_data.length > 0" ng-repeat="data in from_data">
            <table class="invest_table table table-striped table-hover">
                <colgroup>
                    <col width="35%">
                    <col width="17%">
                    <col width="17%">
                    <col width="16%">
                    <col width="15%">
                </colgroup>
                <!-- 复制交易持仓订单概况 -->
                <thead>
                    <tr class="invest_orders" ng-click="showDetails(data)">
                        <th class="text-left invest_orders__user">
                            <a href="" class="invest_orders__user-avatar">
                                <img ng-src="/avatar/{{ data.account_code }}_50.jpg" alt="personal {{lang.text('tigerWitID.settings.photo')}}">
                            </a>
                            
                            <div class="invest_orders__user-username">
                                <a href="" ng-class="{'font-info': data.detailsShow}">
                                    <span>{{ data.username || '**' }}</span>
                                </a>
                                <i class="fa fa-chevron-right" ng-show="!data.detailsShow"></i>
                                <i class="fa fa-chevron-up font-info" ng-show="data.detailsShow"></i>
                                <br>
                                <span class="invest_orders__type copy">{{lang.text('tigerWitID.details.followOrders')}}</span>
                            </div>
                        </th>
                        <th colspan="2" class="invest_orders__rate-copy">
                            <!-- <span class="number" ng-click="openCopyMdl(data, $event)">
                                {{lang.text('tigerWitID.details.copyAmountM')}} {{ data.copy_amount }}
                                <i class="fa fa-caret-down font-info"></i>
                            </span> -->
                        </th>
                        <th ng-class="{'font-success': data.profit.indexOf('-') != -1, 'font-danger':  data.profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ data.floating_profit }}
                        </th>
                        <th ng-class="{'font-danger': data.profit.indexOf('-') != -1, 'font-success':  data.profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ data.floating_profit }}
                        </th>
                        <th class="invest_orders__btn">
                            <button href="" class="btn font-info font-size-16" ng-click="openInvestCopyDetailMdl(data, $event)">{{lang.text('tigerWitID.details.title')}}</button>
                            <p class="btn tw-btn-capsule-gradient tw-btn-disabled tw-btn-sm">{{lang.text('tigerWitID.details.canceledCopy')}}</p>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="invest_table_wrapper__tbody" ng-show="data.detailsShow">
                
                <table class="invest_table table table-striped table-hover">
                    <colgroup>
                        <col width="35%">
                        <col width="17%">
                        <col width="17%">
                        <col width="16%">
                        <col width="15%">
                    </colgroup>
                    <!-- 复制交易持仓订单详情 -->
                    <tbody>
                        <tr class="" ng-repeat="order in data.orders">
                            <td class="text-left invest_orders__detail">
                                <span class="invest_orders__trunk"></span>
                                <span class="invest_orders__branch"></span>

                                <span class="invest_orders__icon icon-forex-{{ order.symbol_origin.toLowerCase() }} vertical-middle">
                                </span>
                                <div class="invest_orders__operate">
                                    <p>
                                        <span class="invest_orders__action" ng-class="order.cmd?'font-down':'font-up'">
                                            {{ order.cmd_name }}
                                        </span>
                                        <a class="invest_orders__symbol" href="">
                                            {{ lang.isEnglishArea() ? order.symbol : order.symbol_cn + ' ('+ order.symbol +')' }}
                                        </a>        
                                    </p>
                                </div>
                            </td>
                            <td><i class="fa fa-dollar"></i>{{ order.open_price }}</td>
                            <td><i class="fa fa-dollar"></i>{{ order.close_price }}</td>
                            <td ng-class="{'font-success': order.gross_profit.indexOf('-') != -1, 'font-danger': order.gross_profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                                <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                            </td>
                            <td ng-class="{'font-danger': order.gross_profit.indexOf('-') != -1, 'font-success': order.gross_profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                                <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                            </td>
                    
                            <td>
                                <span ng-if="!order.cancel_control" class="font-size-12">{{lang.text('tigerWitID.tradingAccount.tip13')}}</span>
                                <span ng-if="!!order.cancel_control" class="font-size-12">{{lang.text('tigerWitID.tradingAccount.tip14')}}</span>
                            </td>
                        </tr>
                        <tr ng-if="data.orders.length <= 0 && data.detailsShow">
                            <td colspan="5">{{lang.text('tigerWitID.tradingAccount.tip15')}}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="data.notFirstLoad != true">
                    <div class="loading_img active">
                        <img src="/ngsrc/loading.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mg-tp-15" ng-if="orders.length <= 0 && traders.length <= 0 && from_data <= 0">
        <img src="/images/no_data.png" alt="" class="mg-bt-40">
        <p>{{ lang.text('tigerWitID.noData') }}</p> 
    </div>
</div>