<div tw-loading-img></div>
<div class="invest_content">
    <table class="table table-traffic">
        <colgroup>
            <col width="35%">
            <col width="17%">
            <!--<col width="17%">-->
            <col width="16%">
            <col width="15%">
        </colgroup>
        <thead>
            <tr>
                <th>{{lang.text('tigerWitID.historyTransactions.portfolio')}}</th>
                <th>{{lang.text('tigerWitID.historyTransactions.lots')}}</th>
                <!--<th>保证金</th>-->
                <th>{{lang.text('tigerWitID.historyTransactions.profit')}}</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="invest_table_wrapper">
        <!-- 自主交易历史订单 -->
        <table class="invest_table table table-striped table-hover">
            <colgroup>
                <col width="35%">
                <col width="17%">
                <!--<col width="17%">-->
                <col width="16%">
                <col width="15%">
            </colgroup>
            <!-- 自主交易历史订单概况 -->
            <thead>
                <tr class="invest_orders" ng-if="orders.length > 0" ng-click="showOrders()">
                    <th class="text-left invest_orders__user">
                        <a href="" class="invest_orders__user-avatar">
                            <img ng-src="/avatar/{{ personal.usercode }}_80.jpg" alt="personal {{lang.text('tigerWitID.settings.photo')}}">
                        </a>
                        
                        <div class="invest_orders__user-username">
                            <a href="" ng-class="{'font-info': orderHistory.detailsShow}">
                                <span>{{ personal.username || '**' }}</span>
                            </a>
                            <i class="fa fa-chevron-right" ng-show="!orderHistory.detailsShow"></i>
                            <i class="fa fa-chevron-up font-info" ng-show="orderHistory.detailsShow"></i><br>
                            <span class="invest_orders__type own">{{lang.text('tigerWitID.historyTransactions.trading')}}</span>
                        </div>
                    </th>
                    <th class="">
                        {{ orderHistory.volume }}
                    </th>
                    <!--<th class="">
                        <i class="fa fa-dollar"></i>{{ orderHistory.group_occupy_asset }}
                    </th>-->
                    <th ng-class="{'font-success': orderHistory.group_profit.indexOf('-') != -1, 'font-danger':  orderHistory.group_profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                        <i class="fa fa-dollar"></i>{{ orderHistory.profit }}
                    </th>
                    <th ng-class="{'font-danger': orderHistory.group_profit.indexOf('-') != -1, 'font-success':  orderHistory.group_profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                        <i class="fa fa-dollar"></i>{{ orderHistory.profit }}
                    </th>
                    <th class="invest_orders__btn">
                        <button class="btn font-info font-size-16" ng-click="openInvestOwnDetailMdl($event)">{{lang.text('tigerWitID.details.title')}}</button>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="invest_table_wrapper__tbody" ng-show="orderHistory.detailsShow">
            <table class="invest_table table table-striped table-hover">
                <colgroup>
                    <col width="35%">
                    <col width="17%">
                    <!--<col width="17%">-->
                    <col width="16%">
                    <col width="15%">
                </colgroup>
                <!-- 自主交易历史订单详情 -->
                <tbody>
                    <tr class="" ng-repeat="order in orders">
                        <td class="text-left invest_orders__detail">
                            <span class="invest_orders__trunk"></span>
                            <span class="invest_orders__branch"></span>

                            <span class="invest_orders__icon icon-forex-{{ order.symbol_origin.toLowerCase() }} icon-history">
                            </span>
                            <div class="invest_orders__operate">
                                <p>
                                    <span class="invest_orders__action"  ng-class="order.cmd?'font-down':'font-up'">
                                        {{ order.cmd_name }}
                                    </span>
                                    <a class="invest_orders__symbol" href="">
                                        {{lang.isEnglishArea() ? order.symbol : order.symbol_cn + ' (' + order.symbol + ')' }}
                                    </a>        
                                </p>
                                <p class="text-left font-size-12">
                                    <span class="history-operation-way">{{order.close_type_name}}</span>
                                    <span>{{ lang.text('tigerWitID.before') }} {{order.passed_time | duration}}</span>
                                </p>   
                            </div>
                        </td>
                        <td>{{ order.volume }}</td>
                        <!--<td><i class="fa fa-dollar"></i>{{ order.occupy_asset }}</td>-->
                        <td ng-class="{'font-success': order.gross_profit.indexOf('-') != -1, 'font-danger': order.gross_profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                        </td>
                        <td ng-class="{'font-danger': order.gross_profit.indexOf('-') != -1, 'font-success': order.gross_profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                        </td>
                
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="orders.length <= 0 && orderHistory.detailsShow" class="text-center mg-bt-20">
                <img src="/images/no_data.png" alt="" class="mg-bt-40">
                <p>{{ lang.text('tigerWitID.noData') }}</p> 
            </div>           
        </div>

        <!-- 复制交易历史订单 -->
        <div ng-if="traders.length > 0" ng-repeat="trader in traders">
            <table class="invest_table table table-striped table-hover">
                <colgroup>
                    <col width="35%">
                    <col width="17%">
                    <!--<col width="17%">-->
                    <col width="16%">
                    <col width="15%">
                </colgroup>
                <!-- 复制交易历史订单概况 -->
                <thead>
                    <tr class="invest_orders" ng-click="showDetails(trader)">
                        <th class="text-left invest_orders__user">
                            <a href="" class="invest_orders__user-avatar">
                                <img ng-src="/avatar/{{ trader.user_code }}_80.jpg" alt="trader {{lang.text('tigerWitID.settings.photo')}}">
                            </a>
                            
                            <div class="invest_orders__user-username">
                                <a href="" ng-class="{'font-info': trader.detailsShow}">
                                    <span>{{ trader.username || '**' }}</span>
                                </a>
                                <i class="fa fa-chevron-right" ng-show="!trader.detailsShow"></i>
                                <i class="fa fa-chevron-up font-info" ng-show="trader.detailsShow"></i>
                                <br>
                                <span class="invest_orders__type copy">{{lang.text('tigerWitID.historyTransactions.copy')}}</span>
                            </div>
                        </th>
                        <th class="">
                            {{ trader.volume }}
                        </th>
                        <!--<th class="">
                            <i class="fa fa-dollar"></i>{{ trader.amount }}
                        </th>-->
                        <th ng-class="{'font-success': trader.profit.indexOf('-') != -1, 'font-danger':  trader.profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ trader.profit }}
                        </th>
                        <th ng-class="{'font-danger': trader.profit.indexOf('-') != -1, 'font-success':  trader.profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                            <i class="fa fa-dollar"></i>{{ trader.profit }}
                        </th>
                        <th class="invest_orders__btn">
                            <button class="btn font-info font-size-16" ng-click="openInvestCopyDetailMdl(trader, $event)">{{lang.text('tigerWitID.details.title')}}</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="invest_table_wrapper__tbody" ng-show="trader.detailsShow">
                
                <table class="invest_table table table-striped table-hover">
                    <colgroup>
                        <col width="35%">
                        <col width="17%">
                        <!--<col width="17%">-->
                        <col width="16%">
                        <col width="15%">
                    </colgroup>
                    <!-- 复制交易历史订单详情 -->
                    <tbody>
                        <tr class="" ng-repeat="order in trader.orders">
                            <td class="text-left invest_orders__detail">
                                <span class="invest_orders__trunk"></span>
                                <span class="invest_orders__branch"></span>

                                <span class="invest_orders__icon icon-forex-{{ order.symbol_origin.toLowerCase() }} icon-history">
                                </span>
                                <div class="invest_orders__operate">
                                    <p>
                                        <span class="invest_orders__action" ng-class="order.cmd?'font-down':'font-up'">
                                            {{ order.cmd_name }}
                                        </span>
                                        <a class="invest_orders__symbol" href="">
                                            {{lang.isEnglishArea() ? order.symbol : order.symbol_cn + ' (' + order.symbol + ')' }}
                                        </a>        
                                    </p>
                                    <p class="text-left font-size-12">
                                        <span class="history-operation-way">{{order.close_type_name}}</span>
                                        <span>{{ lang.text('tigerWitID.before') }} {{order.passed_time | duration}}</span>
                                    </p>                                    
                                </div>
                            </td>
                            <td>{{ order.volume }}</td>
                            <!--<td><i class="fa fa-dollar"></i>{{ order.occupy_asset }}</td>-->
                            <td ng-class="{'font-success': order.gross_profit.indexOf('-') != -1, 'font-danger': order.gross_profit.indexOf('-') < 0}" ng-if="lang.hostIsCn()">
                                <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                            </td>
                            <td ng-class="{'font-danger': order.gross_profit.indexOf('-') != -1, 'font-success': order.gross_profit.indexOf('-') < 0}" ng-if="!lang.hostIsCn()">
                                <i class="fa fa-dollar"></i>{{ order.gross_profit }}
                            </td>
                    
                            <td>
                            </td>
                        </tr>
                        <tr ng-if="trader.orders.length <= 0 && trader.detailsShow">
                            <td colspan="5">{{lang.text('tigerWitID.tradingAccount.tip15')}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <div tw-pagination></div>
                </div>
                <div ng-show="trader.notFirstLoad != true">
                    <div class="loading_img active">
                        <img src="/ngsrc/loading.gif">
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="text-center mg-tp-15" ng-if="orders.length <= 0 && traders.length <= 0">
        <img src="/images/no_data.png" alt="" class="mg-bt-40">
        <p>{{ lang.text('tigerWitID.noData') }}</p> 
    </div>
</div>