<div ng-if="!quackUnknow">
    <div ui-view="basic"></div>
    <div class="nav-tabs-wrapper margin-top60" ng-if="personal.basic === 'center.invest.subpage'">
        <ul class="nav-tabs">
            <li ui-sref-active="active">
                <a ui-sref="space.center.invest.subpage({subpage: 'current'})">{{lang.text('tigerWitID.details.currentTrading')}}</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="space.center.invest.subpage({subpage: 'history'})">{{lang.text('tigerWitID.historyTransactions.title')}}</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="space.center.invest.subpage({subpage: 'summary'})">{{lang.text('tigerWitID.dataStatistics.title')}}</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="space.center.invest.subpage({subpage: 'record'})">{{lang.text('tigerWitID.fundRecords.title')}}</a>
            </li>
            <li ui-sref-active="active" ng-if="investSelect.type == 3">
                <a ui-sref="space.center.invest.subpage({subpage: 'bonus'})">{{lang.text('tigerWitID.tradingAccount.masterLevelCommission')}}</a>
            </li>
            <li ui-sref-active="active" ng-if="investSelect.type == 2">
                <a ui-sref="space.center.invest.subpage({subpage: 'bonus'})">{{lang.text('tigerWitID.tradingAccount.commission')}}</a>
            </li>
        </ul>
    </div>

    <div class="relative invest_content" ng-if="personal.basic === 'center.invest.subpage'">
        <div ui-view="detail"></div>
    </div>
</div>
<div ng-if="quackUnknow" ng-include="'/views/asset/quack-account.html'" ></div>