<div ng-if="authenAsset">
    <div ui-view="basic"></div>
    <div class="nav-tabs-wrapper margin-top60" ng-if="personal.basic === 'center.invest.subpage'">
        <ul class="nav-tabs">
            <li ui-sref-active="active">
                <a ui-sref="space.center.invest.subpage({subpage: 'current'})">当前交易</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="space.center.invest.subpage({subpage: 'history'})">历史交易</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="space.center.invest.subpage({subpage: 'summary'})">数据统计</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="space.center.invest.subpage({subpage: 'record'})">资金记录</a>
            </li>
            <li ui-sref-active="active" ng-if="investSelect.type == 3">
                <a ui-sref="space.center.invest.subpage({subpage: 'bonus'})">高手等级&佣金</a>
            </li>
            <li ui-sref-active="active" ng-if="investSelect.type == 2">
                <a ui-sref="space.center.invest.subpage({subpage: 'bonus'})">跟单佣金</a>
            </li>
        </ul>
    </div>

    <div class="relative invest_content" ng-if="personal.basic === 'center.invest.subpage'">
        <div ui-view="detail"></div>
    </div>
</div>
<div ng-if="!authenAsset" ng-include="'/views/asset/quack-account.html'" ></div>