<div class="space_center_statistics" >
    <ul class="space_center_statistics__title">
        <li class="space_center_statistics__title-item">${{ totalDealAccount.total_balance || '--' }}</li>
        <li class="space_center_statistics__title-item">资产总额</li>
    </ul>
    <ul class="space_center_statistics__list">
        <li class="space_center_statistics__list-item">
            <div>{{ totalDealAccount.total_volume || '0.00' }}</div>
            <div>总交易手数</div>
        </li>
        <li class="space_center_statistics__list-item"></li>
        <li class="space_center_statistics__list-item">
            <div ng-class="{'font-danger': totalDealAccount.total_profit.indexOf('-') < 0, 'font-success': totalDealAccount.total_profit.indexOf('-') >= 0}">${{ totalDealAccount.total_profit || '0.00' }}</div>
            <div>总盈利</div>
        </li>
        <li class="space_center_statistics__list-item" ></li>
        <li class="space_center_statistics__list-item">
            <div ng-class="{'font-danger': totalDealAccount.profit_rate.indexOf('-') < 0, 'font-success': totalDealAccount.profit_rate.indexOf('-') >= 0}">{{ totalDealAccount.profit_rate || '0.00' }}%</div>
            <div>总收益率</div>
        </li>
    </ul>
</div>


<div class="space_center_trading">
    <div class="row">
        <div class="col-xs-5">
            <div class="block_title">交易子账户</div>
        </div>
        <div class="col-xs-7">
            <div class="block_btn_group text-right">
                <a class="tw-btn tw-btn-capsule-bordered tw-btn-md" ng-click="newSubAccount()">创建子账号</a>
                <a ui-sref="space.master.subpage({subpage: 'apply'})" ng-if="!personal.has_master" class="tw-btn tw-btn-capsule-bordered tw-btn-md">申请高手</a>
            </div>
        </div>
    </div>
    <ul class="space_sub_account">
        <li class="space_sub_account__list" ng-repeat="dealAccount in dealAccountList">
            <ul class="space_sub_account_info">
                <li class="space_sub_account_info__list">
                    <ul>
                        <li>
                            <div>
                                <span ng-if="!dealAccount.editName">
                                    <span class="name" >{{ dealAccount.account_name || "交易账户" }}</span>
                                    <span class="edit" ng-if="dealAccount.account_type !== 2 && info.clickEdit" ng-click="editAccountName(dealAccount)"></span>
                                    <span class="edit" ng-if="dealAccount.account_type !== 2 && !info.clickEdit"></span>
                                    <span class="z-symbol z-superior" ng-if="dealAccount.account_type === 3">高手账号</span>
                                    <span class="z-symbol z-documentary" ng-if="dealAccount.account_type === 2">跟单账号</span>
                                </span>
                                <span class="edit-name" ng-class="{'submit-error': editAccountNameAwake.result.error, 'submit-success': editAccountNameAwake.result.success}" ng-if="dealAccount.editName">
                                    <form name="editAccountNameForm" novalidate>
                                        <span class="input-box" >
                                            <input type="text" class="name" 
                                                autocomplete="off"
                                                name="account_name"
                                                required 
                                                ng-model="info.account_name" 
                                                ng-pattern="/^[0-9A-Za-z\u4e00-\u9fa5]{2,8}$/"
                                                ng-focus="editAccountNameTip.focus()"
                                                ng-change="editAccountNameTip.change()"
                                                ng-blur="confirmAccountName(dealAccount, editAccountNameForm.account_name.$invalid)">
                                            <!-- <span ng-blur="confirmAccountName(dealAccount)">确定</span> -->
                                            <!-- <span class="z-symbol z-superior" ng-if="dealAccount.account_type === 3">高手账号</span>
                                            <span class="z-symbol z-documentary" ng-if="dealAccount.account_type === 2">跟单账号</span> -->
                                        </span>
                                        <div ng-show="editAccountNameAwake.account_name.show" class="error">
                                            <p class="" ng-show="editAccountNameForm.account_name.$error.required">
                                                请输入账号名称
                                            </p>
                                            <p class="" ng-show="editAccountNameForm.account_name.$error.pattern">
                                                账号名称包含2-8个字符，支持中英文，数字
                                            </p>
                                        </div>
                                        <div ng-show="!editAccountNameAwake.account_name.show" class="error">
                                            <p class="">
                                                {{editAccountNameAwake.account_name.tip}}
                                            </p>
                                        </div>
                                    </form>
                                </span>
                            </div>
                            <div class="mt4id">MT4 ID: {{ dealAccount.mt4_id }}</div>
                        </li>
                        <li ng-if="dealAccount.account_type === 3">
                            <a class="progress" title="{{ dealAccount.master_info.available_amount }} / {{ dealAccount.master_info.follow_amount }}">
                                <span class="bar-bg">
                                    <span class="bar-on" ng-style="{'width': ((dealAccount.master_info.follow_amount - dealAccount.master_info.available_amount) / dealAccount.master_info.follow_amount * 100) + '%'}">
                                    
                                    </span>
                                </span> 
                            </a>
                            <div class="master_category">
                                <span class="grade">高手类别<span>{{ dealAccount.master_info.level || 'B' }}</span></span>
                                <a ui-sref="space.master.subpage({subpage: 'grade', account_code: dealAccount.account_code})" class="details">查看详情 &gt;</a>
                            </div>
                        </li>
                        <li class="mg-tp-15" ng-if="!dealAccount.is_active">
                            <a class="mg-lf-0 tw-btn tw-btn-sm130 tw-btn-capsule-gradient" ui-sref="space.asset.subpage({subpage: 'deposit', account: dealAccount.mt4_id})">充值激活账户</a>
                        </li>
                    </ul>
                </li>
                <li class="space_sub_account_info__list">
                    <ul>
                        <li>
                            <p>{{ dealAccount.equity }}</p>
                            <p>资产净值</p>
                        </li>
                        <li>
                            <p>{{ dealAccount.floating_profit }}</p>
                            <p>浮动盈亏</p>
                        </li>
                        <li class="noLine">
                            <p>{{ dealAccount.margin_level }}</p>
                            <p>保证金比例</p>
                        </li>
                    </ul>
                </li>
                <li class="space_sub_account_info__list">
                    <span ng-click="detailsUrl(dealAccount.mt4_id, dealAccount.account_type)">详情</span>
                </li>
            </ul>
        </li>
        <!-- <li class="space_sub_account__list">
            <ul class="space_sub_account_info">
                <li class="space_sub_account_info__list">
                    <ul>
                        <li>
                            <div>
                                <span class="name">跟单账号</span>
                                <span class="edit">🖌</span>
                                <span class="z-symbol " ng-class="{'superior':false, 'documentary': true}">跟单账号</span>
                            </div>
                            <div class="mt4id">MT4 ID: 1231231231</div>
                        </li>
                    </ul>
                </li>
                <li class="space_sub_account_info__list">
                    <ul>
                        <li>
                            <p>$1213123</p>
                            <p>资产净值</p>
                        </li>
                        <li>
                            <p>$1213123</p>
                            <p>资产净值</p>
                        </li>
                        <li class="noLine">
                            <p>$1213123</p>
                            <p>资产净值</p>
                        </li>
                    </ul>
                </li>
                <li class="space_sub_account_info__list">
                    <span>详情</span>
                </li>
            </ul>
        </li> -->
    </ul>
</div>