<div class="sys_modal">
    <p class="clearfix">
        <button class="close" ng-click="closeModal()">&times;</button>
    </p>

    <div ng-if="addAccountLogic.logic === 2">
        <h5 class="sys_modal__title">
            {{lang.text('tigerWitID.depositWithdrawal.notice')}}
        </h5>
        <div class="sys_modal__add_account mg-tp-40">
            <div class="text-center">
                {{ addAccountLogic.msg }}
            </div>
        </div>

        <div class="mg-tp-30 mg-bt-30 pd-tp-30 pd-bt-30 text-center">
            <button class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient" ng-click="closeModal()" ng-if="addAccountLogic.code !== 100608">
                {{lang.text('tigerWitID.confirm')}}
            </button>
            <a class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient" ng-click="depositActivate()" ng-if="addAccountLogic.code === 100608">
                {{lang.text('tigerWitID.tradingAccount.depositActivation')}}
            </a>
        </div>
    </div>
    <div ng-if="addAccountLogic.logic === 1">
        <h5 class="sys_modal__title">
            {{lang.text('tigerWitID.tradingAccount.newSubAccountRules')}}
        </h5>
        <div class="sys_modal__add_account mg-tp-40">
            <ol class="sys_modal__add_account-ol">
                <li>{{lang.text('tigerWitID.tradingAccount.tip17')}}</li>
                <li>{{lang.text('tigerWitID.tradingAccount.tip18')}}</li>
            </ol>
        </div>

        <div class="mg-tp-30 mg-bt-30 pd-tp-30 pd-bt-30 text-center">
            <button class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient" ng-click="addAccount()" ng-show="!clickAddAccount">
                {{lang.text('tigerWitID.tradingAccount.createSubAccount')}}
            </button>
            <button class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient width-auto" ng-show="clickAddAccount">
                <i class="loading_spinner fa fa-spinner"></i>
                {{lang.text('tigerWitID.tradingAccount.getVerificationInfo')}}...
            </button>
        </div>
    </div>
    <div ng-if="addAccountLogic.logic === 0">
        <h5 class="sys_modal__title">
            {{lang.text('tigerWitID.tradingAccount.tip19')}}
        </h5>
        <div class="sys_modal__add_account mg-tp-40">
            <div class="text-center">
                {{lang.text('tigerWitID.tradingAccount.tip20')}}
            </div>
        </div>

        <div class="mg-tp-30 mg-bt-30 pd-tp-30 pd-bt-30 text-center">
            <button class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient" ng-click="closeModalReload()">
                {{lang.text('tigerWitID.confirm')}}
            </button>
        </div>
        <!-- <form name="setName" novalidate autocomplete="off" class="sys_modal__add_account">
            <div class="mg-tp-40 pd-lf-35 pd-rg-35">
                <p class="sys_modal__add_account-tip">请设置子账号备注</p>
                <div class="form-control-wrapper">
                    <input class="form-control sys_modal__add_account-input"
                        name="account_name"
                        type="text"
                        placeholder="交易账号"
                        required
                        ng-pattern="/^[0-9A-Za-z\u4e00-\u9fa5]{2,8}$/"
                        ng-model="addAccountLogic.account_name"
                        ng-focus="showErr()"
                        ng-blur="">

                    <div ng-show="formVerifyShow">
                        <p class="alert-arrow_tp_lf" ng-show="setName.account_name.$error.required">
                            请输入交易账号名称
                        </p>

                        <p class="alert-arrow_tp_lf" ng-show="setName.account_name.$error.pattern">
                            {{lang.text('tigerWitID.tradingAccount.tip16')}}
                        </p>
                    </div>  
                </div>
                <p ng-show="setNameMsgShow" class="sys_modal__add_account-msg">{{ setNameMsg }}</p>
            </div>
            <div class="mg-tp-50 mg-bt-30 pd-tp-30 pd-bt-30 text-center">
                <button class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient" ng-click="setAccountName(setName.account_name.$invalid)" ng-if="clickable">
                    提交
                </button>

                <button class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient" disabled ng-if="!clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.submitting')}}
                </button>
            </div>
        </form> -->
        
    </div>

</div>

