<div tw-loading-img></div>
<div class="asset-public history pd-tp-30" ng-if="historyList.length > 0">

    <table class="table table-personal table-hover table-bordered">
        <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <!-- <col width="35%"> -->
        </colgroup>
        <thead>
        <tr>
            <th>日期</th>
            <th>全部类型</th>
            <th>金额</th>
            <th>状态</th>
        </tr>
        <!-- <th>备注</th> -->
        </thead>
        <tbody>
        <tr ng-repeat="history in historyList">
            <td>{{ history.order_date | dateFormatter }}</td>
            <td>{{ history.status_type }}</td>
            <td ng-class="{'font-danger': history.status === 2, 'font-success': history.status === 4, 'font-base': history.status === -2}">
                ${{ history.amount }}
            </td>
            <td>
                <span>{{ history.status_explain }}</span>
                <!-- <span ng-if="history.pay_again === 1 && history.type === 1">
                    <a class="font-info" href="/action/public/v4/pay_order/{{history.code}}" target="_blank">继续充值</a>
                </span> -->
                 <span ng-if="history.withdraw === 1">
                    <a class="deposit__pointer font-info" ng-click="cancelWithdraw(history.order_no)">撤销申请</a>
                </span>
                <!--<span ng-if="history.status === 99">订单已超时</span>-->
                <!--<span ng-if="history.status === 4">充值成功</span>-->
                <!--<span ng-if="history.status === 5">开户赠金</span>-->
                <!--<span ng-if="history.status === -2">提现已撤销</span>-->
                <!--<span ng-if="history.status === -4">拒绝提现</span>-->
                <!--<span ng-if="history.status === -5">提现处理完毕</span>-->
            </td>
            <!-- <td></td> -->
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <p tw-pagination></p>
    </div>
</div>
<div ng-if="historyList.length < 0">
    <p class="text-center mg-tp-50">无数据!</p>
</div>
