@include b(liverpool-event) {
  color: #000;
  .pc-have {
    display: block;
  }
  .phone-have {
    display: none;
  }
  .notParticipating {
    display: none;
  }
  .btn {
    width: auto;
    border-radius: 25px;
    margin: 0;
    display: inline-block;
    line-height: normal;
  }
  // @include e(logo) {
  //   > div {
  //     display: inline-block;
  //     background-color: #fff;
  //   }
  // }
  @include e(width) {
    width: 1200px;
    margin: 0 auto;
  }
  @include e(bg1) {
    background: url("/white_label/bd/liverpool/bg-pc.png") no-repeat;
    background-position: 60%;
    background-size: cover;
  }
  @include e(bg2) {
    background: url("/white_label/bd/liverpool/bg-charts.png") repeat;
    padding-bottom: 60px;
  }
  @include e(tit) {
    text-align: center;
    margin: 55px 0 38px;
    > .tit {
      font-size: 32px;
      font-weight: 500;
      line-height: 35px;
      display: inline-block;
      position: relative;
      margin-bottom: 10px;
      &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 280px;
        height: 20px;
        background-color: #ffd521;
      }
    }
  }
  @include e(con) {
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 0 15px #ebebeb;
    padding: 35px 65px;
    border-radius: 20px;
    @include m(lst) {
      font-size: 22px;
      font-weight: 500;
      > li {
        margin-bottom: 20px;
      }
    }
    @include m(table) {
      font-size: 14px;
      font-weight: 500;
      > li {
        @include displayFlex();
        > div {
          @include displayFlex();
          @include alignItems(center);
          @include justifyContent(center);
          word-break: break-word;
          padding: 18px 0;
          &:nth-child(1) {
            width: 20%;
          }
          &:nth-child(2) {
            width: 20%;
            > span {
              height: 30px;
              display: inline-block;
              margin: 0 10px;
              background-color: #fff;
              border-radius: 50%;
              > img {
                height: 100%;
              }
            }
          }
          &:nth-child(3) {
            width: 35%;
          }
          &:nth-child(4) {
            width: 25%;
          }
        }
        &:nth-child(1) {
          color: #b2b2b2;
          border-bottom: 2px solid #b2b2b2;
        }
        &:nth-child(n + 2) {
          border-bottom: 1px solid #e5e5e5;
        }
        &:nth-child(2) {
          > div {
            &:nth-child(1) {
              color: #d0be73;
            }
          }
        }
        &:nth-child(3) {
          > div {
            &:nth-child(1) {
              color: #acacac;
            }
          }
        }
        &:nth-child(4) {
          > div {
            &:nth-child(1) {
              color: #a7925e;
            }
          }
        }
        &.active {
          background-color: #ffd521;
        }
      }
    }
  }
  @include e(p) {
    font-size: 20px;
    line-height: 24px;
    font-weight: initial;
  }
  @include e(banner) {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 650px;
    padding: 120px 0 30px;
    @include m(lf) {
      .title {
        font-size: 62px;
        font-weight: 500;
        line-height: 66px;
        width: 720px;
      }
      .title2 {
        font-size: 42px;
        font-weight: 500;
        line-height: 46px;
        margin: 35px 0 50px;
      }
      .con {
        font-size: 20px;
        line-height: 25px;
        width: 590px;
        margin-top: 35px;
      }
      .title3 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        width: 770px;
        padding-top: 30px;
      }
      .rules {
        margin-bottom: 50px;
        margin-top: 25px;
        color: #1e39c6;
        display: inline-block;
      }
      .btn-row {
        @include displayFlex();
        .special-btn {
          background-color: #000;
          border: 3px solid #000;
          border-radius: 26px;
          min-width: 240px;
          font-size: 21px;
          button {
            width: 100%;
            padding: 8px 25px;
            border: 3px solid #ffd521;
            border-radius: 24px;
            background-color: #000;
            color: #ffd521;
          }
        }
      }
    }
    // @include m(rg) {
    //   > img {
    //     width: 100%;
    //   }
    // }
  }
  @include e(prizes) {
  }
  @include e(league) {
  }
  @include e(lay) {
    padding: 30px 0;
    @include m(tit) {
      padding: 0 50px 20px;
      @include displayFlex();
      @include justifyContent(space-between);
      > h5 {
        font-size: 30px;
        line-height: 32px;
        font-weight: 500;
        margin: 0;
      }
      > i {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    @include m(con) {
      padding: 0 50px;
      height: 450px;
      overflow: auto;
      > h6 {
        font-size: 22px;
        line-height: 26px;
        margin-top: 20px;
      }
      > ul {
        > li {
          font-size: 18px;
          line-height: 22px;
          padding: 3px 0;
        }
      }
    }
  }

  @include responsive(small-screens) {
    .phone-have {
      display: block;
    }
    .pc-have {
      display: none;
    }
    .btn {
      min-width: px2rem(280);
      margin: px2rem(15) 0;
    }
    @include e(logo) {
      text-align: center;
      > div {
        display: inline-block;
        width: px2rem(226);
        > img {
          width: 100%;
        }
      }
    }
    @include e(width) {
      width: 90%;
    }
    @include e(bg1) {
      background: url("/white_label/bd/liverpool/bg.png") no-repeat;
      background-position: top center;
      background-size: auto 75%;
    }
    @include e(bg2) {
      padding-bottom: px2rem(60);
    }
    @include e(tit) {
      margin: px2rem(55) 0 px2rem(38);
      > .tit {
        font-size: px2rem(50);
        line-height: px2rem(54);
        margin-bottom: px2rem(15);
        &::before {
          bottom: px2rem(-8);
          border-radius: px2rem(10);
          width: px2rem(280);
          height: px2rem(20);
        }
      }
    }
    @include e(con) {
      padding: px2rem(35) px2rem(34);
      @include m(lst) {
        font-size: px2rem(28);
        > li {
          margin-bottom: px2rem(20);
        }
      }
      @include m(table) {
        font-size: px2rem(24);
        > li {
          > div {
            padding: px2rem(18) 0;
            &:nth-child(2) {
              > span {
                margin: 0 px2rem(10);
              }
            }
          }
        }
      }
    }
    @include e(p) {
      font-size: px2rem(26);
      line-height: px2rem(30);
    }
    @include e(banner) {
      background-image: none !important;
      padding: px2rem(10) 0 px2rem(96);
      @include m(lf) {
        text-align: center;
        .title {
          font-size: px2rem(50);
          line-height: px2rem(55);
          width: auto;
        }
        .title2 {
          margin-top: px2rem(30);
          margin-bottom: px2rem(40);
          font-size: px2rem(47);
          line-height: px2rem(52);
        }
        .con {
          font-size: px2rem(26);
          line-height: px2rem(30);
          margin-top: px2rem(30);
          width: auto;
        }
        .title3 {
          font-weight: 500;
          font-size: px2rem(32);
          line-height: px2rem(36);
          width: auto;
          padding-top: px2rem(25);
        }
        .rules {
          margin-top: px2rem(50);
        }
        .btn-row {
          @include flexWrap(wrap);
          @include justifyContent(center);
          .special-btn {
            border-radius: px2rem(26);
            min-width: px2rem(240);
            font-size: px2rem(24);
            button {
              padding: px2rem(8) px2rem(25);
              border-radius: px2rem(24);
            }
          }
        }
      }
      @include m(rg) {
        width: px2rem(650);
        margin: 0 auto;
        padding: px2rem(95) 0 0;
        > img {
          width: 100%;
        }
      }
    }
    @include e(lay) {
      padding: px2rem(30) 0;
      @include m(tit) {
        padding: 0 px2rem(50) px2rem(20);
        > h5 {
          font-size: px2rem(35);
          line-height: px2rem(38);
          margin: 0;
        }
        > i {
          font-size: px2rem(30);
          margin-left: px2rem(10);
          margin-right: px2rem(10);
        }
      }
      @include m(con) {
        padding: 0 px2rem(50);
        height: px2rem(650);
        > h6 {
          font-size: px2rem(28);
          line-height: px2rem(33);
          margin-top: px2rem(20);
        }
        > ul {
          > li {
            font-size: px2rem(26);
            line-height: px2rem(30);
            padding: px2rem(3) 0;
          }
        }
      }
    }
  }
}
.layui-m-layer1 {
  .layui-m-layer-liverpool {
    border-radius: 15px;
    width: 80%;
  }
}
.ar-lang {
  .liverpool-event__banner {
    background-position: left;
  }
}
