.layer_content {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    background-size: 100% 100%;
    
    max-width: 1334px;
    .rules {
        width: 90%;
        height: 100%;
        padding: 4% 5%;
        line-height: 1.5rem;
        font-size: 0.8rem;
        background: #fff;
        border-radius: .5rem;
        a {
            color: #222;
        }
        p {
            padding-bottom: px2rem(20);
        }
    }
    .rule_close {
        border: 1px solid #fff;
        cursor: pointer;
        width: px2rem(60);
        height: px2rem(60);
        border-radius: 20px;
        margin: 0 auto;
        margin-top: px2rem(50);
        line-height: px2rem(60);
        text-align: center;
        color: #fff;
        font-size: px2rem(32);
    }
}

.layui-m-layercont {
    .layer_content {
        display: block!important;
    }
}

.tw_h5_body {
    padding: 0;
    min-width: 300PX;
    max-width: 750PX;
    min-height: 1000PX;
    margin: 0 auto;
}

.layui-m-layercont {
    .layer_content {
        display: block!important;
    }
}

@include b(m_4in1_layout) {
    text-align: center;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    /* Firefox 4 */
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -o-transition: all 1s ease;
    /* Opera */
    font-family: sans-serif, 'Microsoft Yahei', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    .logo {
        position: absolute;
        top: 2%;
        right: 6%;
        width: 30%;
    }
    .section {
        position: relative;
        max-width: 750PX;
        background-position: center top;
        background-size: auto 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        text-align: center;
        background-image: url("/images/bd_4in1/h5_sec_bg.png");
        .animation_box {
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center top;
            width: 100%;
            height: 82%;
            margin: 0 auto;
            margin-top: 10%;
            padding: 0 2rem;
            padding-top: 6rem;
        }
        .reg_btn {
            width: 45%;
            margin-top: -1rem;
        }
    }
    .section1 {
        background-image: url("/images/bd_4in1/h5_sec1_bg.png");
        padding-top: getHS(330);
        .text {
            display: inline-block;
            width: 100%;
        }
        .check_btn {
            width: px2rem(348);
            margin-top: getHS(150);
        }
    }
    .section2 {
        .animation_box {
            width: 81%;
            height: 80%;
            background-image: url("/images/bd_4in1/h5_sec2_anibox.png");
            .animation_item {
                width: 6.5rem;
                &:nth-child(2n) {
                    margin-left: 0.8rem;
                }
                &:nth-child(3) {
                    margin-top: 1.9rem;
                }
                &:nth-child(4) {
                    margin-top: 1.9rem;
                }
            }
        }
    }
    .section3 {
        .animation_box {
            background-image: url("/images/bd_4in1/h5_sec3_anibox.png");
            padding-top: 3.5rem;
            position: relative;
            height: 80%;
            width: 81%;
            margin-top: 14%;
            .text_logo {
                $w: px2rem(115);
                width: $w;
                position: absolute;
                top: 5.8rem;;
                left: 50%;
                transform: translateX(- $w / 2);
            }
            .circle {
                &.active {
                    animation: rotate 8s infinite linear;
                    -webkit-animation: rotate 8s infinite linear;
                }
                @-webkit-keyframes rotate {
                    0% {
                        transform: rotate(0deg)
                    }
                    50% {
                        transform: rotate(360deg)
                    }
                    100% {
                        transform: rotate(180deg)
                    }
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg)
                    }
                    50% {
                        transform: rotate(360deg)
                    }
                    100% {
                        transform: rotate(180deg)
                    }
                }
            }
            .animation_item {
                width: 9rem;
                &:nth-child(2) {
                    width: px2rem(200)
                }
                &:nth-child(3) {
                    width: 100%;
                }
            }
        }
    }
    .section4 {
        .rule_btn {
            position: absolute;
            top: 8%;
            right: 0%;
            width: getWS(190);
        }
        .content {
            width: 80%;
            padding-top: 12.5%;
            margin: 0 auto;
            .title {
                width: 52%;
            }
            .redbag {
                width: 80%;
            }
        }
        .reg_box {
            width: getWS(500);
            height: 40%;
            position: absolute;
            left: getWS(125);
            top: 44.5%;
            background: url('/images/bd_4in1/h5_sec5_regbg.png') no-repeat center top;
            background-size: 100%;
            padding-top: 2.65rem;
            transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            .submit_form_box {
                .form-control-wrapper {
                    margin: 0 auto;
                    height: 1.85rem;
                    width: px2rem(295);
                    transform: skew(15deg);
                    -webkit-transform: skew(-15deg);
                    input {
                        width: 95%;
                        height: 100%;
                        padding-left: 0.5rem;
                    }
                    &:nth-child(1) {
                        padding-left: 1rem;
                    }
                    &:nth-child(2) {
                        margin-top: 1.35rem;
                        display: flex;
                        flex-flow: row nowrap;
                        input {
                            width: 55%;
                        }
                        .verify_code_btn {
                            flex: 1;
                            border-left: 1px solid #ccc;
                            color: #ccc;
                            line-height: 1.8rem;
                            &.disable {
                                border: none!important;
                                border-left: 1px solid #ccc;
                            }
                        }
                    }
                }
                .btn-wrapper {
                    margin-top: 1.5rem;
                    .registerBtn {
                        display: inline-block;
                        border: 2px solid $brand-primary;
                        background: rgba(255,255,255, 0.3);
                        color: #222;
                        font-size: 1rem;
                        padding: 0.2rem 1rem;
                    }
                }
            }
        }
        .risk {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}