.layer_content {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    background-size: 100% 100%;
    max-width: 1334px;
    .rules {
        width: 90%;
        height: 100%;
        padding: 4% 5%;
        line-height: 1.5rem;
        font-size: 0.8rem;
        background: #fff;
        a {
            color: #222;
        }
        p {
            padding-bottom: px2rem(20);
        }
    }
    .rule_close {
        border: 1px solid #fff;
        cursor: pointer;
        width: px2rem(60);
        height: px2rem(60);
        border-radius: 20px;
        margin: 0 auto;
        margin-top: px2rem(50);
        line-height: px2rem(60);
        text-align: center;
        color: #fff;
        font-size: px2rem(32);
    }
}

.tw_h5_body {
    padding: 0;
    min-width: 300PX;
    max-width: 750PX;
    margin: 0 auto;
}

.layui-m-layercont {
    .layer_content {
        display: block!important;
    }
}

@include b(m_4in1_layout) {
    text-align: center;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    /* Firefox 4 */
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -o-transition: all 1s ease;
    /* Opera */
    font-family: sans-serif, 'Microsoft Yahei', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    .logo {
        position: absolute;
        top: 2%;
        right: 6%;
        width: 30%;
        &.panda {
            width: 40%;
            right: -2%;
        }
    }
    .section {
        position: relative;
        max-width: 1334px;
        background-position: center top;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background: aqua;
        overflow: hidden;
    }
    .section1 {
        // background: url("/images/bd_t38/h5_p1_bg.png") no-repeat;
    }
    .section2 {
        
    }
    .section3 {

    }
    .section4 {

    }
    .section5 {
        .redbag_regBox {
            background: #ff3a5c;
            width: 80%;
            padding: 0 4%;
            height: 20%;
            opacity: 0.99;
            margin: 0 auto;
            margin-top: 63%;
            transition: margin-top 0.1s linear;
            -webkit-transition: margin-top 0.1s linear;
            .submit_form {
                width: 85%;
                margin: 0 auto;
                margin-top: 5%;
                display: block;
                text-align: center;
                background-color: #e7e7e8;
                color: #d1d1d3;
                padding: 4%;
                border-radius: 1.5rem;
                font-size: px2rem(28);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            form {
                height: 100%;
                padding-top: px2rem(15);
                padding-bottom: px2rem(15);
                font-size: px2rem(30);
                div {
                    width: 100%;
                    height: 36%;
                    line-height: 2.5rem;
                    display: flex;
                    border-radius: px2rem(8);
                    overflow: hidden;
                    margin-top: 0.6rem;
                    padding-right: px2rem(36);
                    background: #ffffff;
                    input {
                        height: 100%;
                        width: 100%;
                        background: #ffffff;
                        padding-left: px2rem(36);
                        font-size: px2rem(30);
                        flex: 1;
                    }
                }
                .telephone {
                    img {
                        width: 0.9rem;
                        height: 60%;
                        margin-left: px2rem(-10);
                        margin-top: 4%;
                    }
                }
                .verify_code {
                    padding-right: px2rem(16);
                    .verify_code_btn {
                        line-height: 1.8rem;
                        text-align: center;
                        display: inline-block;
                        padding: 0 7%;
                        height: 68.42%;
                        color: #fff;
                        position: relative;
                        font-size: px2rem(28);
                        top: 15.79%;
                        background-color: #ff3a5c;
                        border-radius: px2rem(8);
                        vertical-align: middle;
                    }
                }
                .password {
                    border: none;
                    .password_btn {
                        display: inline-block;
                        width: 1.2rem;
                        text-align: center;
                        img {
                            width: px2rem(34);
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .m_t33_risk {
            background: #0193e8;
            color: #fff;
            font-size: px2rem(18);
            width: 100%;
            margin: 0 auto;
            padding: 3% 3%;
            text-align: left;
            line-height: px2rem(25);
            position: absolute;
            bottom: 0%;
        }
    }
}