<div class="m_vue m_vue_bgc" data-page="faq">
    <div id="m_vue_faq" v-cloak>
        <ul class="m_vue_nav">
            <li>
                <a>
                    <span class="m_vue_nav__title">常见问题</span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('simulate')">
                    <span class="m_vue_nav__list">关于模拟账户</span>
                    <span class="m_vue_nav__enter">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('real')">
                    <span class="m_vue_nav__list">关于真实账户</span>
                    <span class="m_vue_nav__enter">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('depwith')">
                    <span class="m_vue_nav__list">出入金</span>
                    <span class="m_vue_nav__enter">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('type')">
                    <span class="m_vue_nav__list">账户类型</span>
                    <span class="m_vue_nav__enter">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('transaction')">
                    <span class="m_vue_nav__list">交易</span>
                    <span class="m_vue_nav__enter">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('mt4')">
                    <span class="m_vue_nav__list">MT4平台</span>
                    <span class="m_vue_nav__enter">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('overnight')">
                    <span class="m_vue_nav__list">隔夜利息</span>
                    <span class="m_vue_nav__enter">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>