<div class="simulate_container pd-lf-10 pd-rg-10 pd-bt-10 text-bg full-height">
    <div class="steps">
        <span class="text_title">如何下载 MT4 平台？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <a href="<%= lang.text('webMt4Download')%>" class="font-primary-darker">点击MT4下载</a>
            </li>
        </ul>
        <span class="text_title">忘记了 MT4 登陆密码。怎么办？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    注册账户时的密码即为 MT4 登录密码。如果您在网站修改登录密码，那么 MT4 的密码也会同步修改。<br>
                    但，如果您只在 MT4 里修改密码，并不会影响到您实际网站的登录密码，请妥善保管所有密码。
                </p>
            </li>
        </ul>
        <span class="text_title">我无法登录 MT4（没有连接错误），应该怎么做？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    要更改 MT4 的密码，请登录 MT4 平台，点击“工具”，然后进入“选项”，点击密码选项卡旁边的“更改”。请输入当前的密码和新密码，然后点击确认。<br>
                    或，您在网站修改登录密码，那么 MT4 的密码也会同步修改。
                </p>
            </li>
        </ul>
    </div>
</div>