<div class="simulate_container pd-lf-10 pd-rg-10 pd-bt-10 text-bg full-height">
    <div class="steps">
        <span class="text_title">怎样开设一个真实账户？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>请点击注册完成真实账户的注册。 <br>如果您已经拥有模拟账户，请进入“个人中心”，点击开设“真实账户”。</p>
            </li>
        </ul>
        <span class="text_title">我可以开设 2 个甚至 2 个以上的真实账户吗？可以用不同货币开户吗？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>目前网站对一张身份证只允许开设一个账户。<br>如需添加更多账户，请联系您的客户经理。</p>
            </li>
        </ul>

        <span class="text_title">为何当我在开设真实账户时，需要我提供金融背景和个人投资经历？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    出于监管的原因我们需要收集这些信息，我们将确保这些信息的安全。
                </p>
            </li>
        </ul>

        <span class="text_title">开设一个真实账户需要多长时间？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    只要您提供完备的信息，您可以在 TigerWit 即时开户。
                </p>
            </li>
        </ul>

        <span class="text_title">我能开设一个联名账户吗？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    可以，需要的话请咨询客服或服务您的业务经理。
                </p>
            </li>
        </ul>

        <span class="text_title">模拟账户和实际账户有什么区别？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    模拟账户和实际账户的唯一区别是，使用模拟账户交易不用承担任何风险。模拟账户是一个虚拟的网上外汇交易账户。所谓“模拟”，是指账户中的资金是虚拟的。除此之外，模拟账户中的货币报价、图表汇评等都与真实汇市即时同步。根据模拟账户的使用效果，您可以进一步判断是否投资汇市。模拟账户完全免费，无须任何资金。
                </p>
                <a href="/m/h5_register/reg" class="font-primary-darker">点击此处注册</a>
            </li>
        </ul>

        <span class="text_title">我什么时候可以开始交易？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    只要您完成了真实账户的注册程序，上传了您的身份资料，并向您的账户注资，您就可以立即进行交易。
                </p>
            </li>
        </ul>

        <span class="text_title">需要何种类型的身份证明文件呢？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    您可以提交贴有您照片的护照、国民身份证或者由某个独立可靠的机构颁发的其他证件。您的照片、签名、发行日期及有效期、包括序列号在内的个人资料都必须清晰可见。
                </p>
            </li>
        </ul>

        <span class="text_title">在我开始交易之前是否需要下载软件？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    您有多个选择：<br>
                    直接在网站上进行交易。<br>
                    下载移动端，通过手机 APP 进行交易。<br>
                    下载 MT4 专业版客户端进行交易。
                </p>
            </li>
        </ul>

        <span class="text_title">为什么在网站中登陆不了用户中心呢？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    用户中心登陆为您的手机号和您开设的账户密码。
                </p>
            </li>
        </ul>

        <span class="text_sub_title">忘了登陆用户中心的密码，怎么办？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>请点击忘记密码，输入手机验证码后重新设置密码。</p>
            </li>
        </ul>
    </div>
</div>