<div class="simulate_container pd-lf-10 pd-rg-10 pd-bt-10 text-bg full-height">
    <div class="steps">
        <span class="text_title">市场的交易时段是什么？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    夏令时从每年3月的第2个星期日开始，结束在11月的第1个星期日，夏令时间之外为冬令时。<br>
                    外汇品种交易时段<br>
                    夏令时（周一-周五）<br>
                    <%= lang.text('companyEnName')%> 交易平台显示时间为：周一早 0:20 - 周五晚 23:55<br>
                    北京市区对应时间为：周一早 5:20 - 周六早 4:55 <br>
                    <span class="important">*</span> 说明：交易平台时间每天晚上23:55-0:05为维护时间，不提供报价。<br>
                    冬令时（周一-周五）<br>
                    <%= lang.text('companyEnName')%> 交易平台显示时间为：周一早 0:20 -周五晚 23:55 <br>
                    北京市区对应时间为：周一早 6:20 - 周六早 5:55 <br>
                    <span class="important">*</span> 说明：交易平台时间每天晚上23:55 - 0:05为维护时间，不提供报价。<br>
                    贵金属品种交易时段<br>
                    夏令时（周一-周五）<br>
                    <%= lang.text('companyEnName')%> 交易平台显示时间为：周一早 1:30 - 周五晚 23:55 <br>
                    北京市区对应时间为：周一早6:30-周六早4:55 <br>
                    <span class="important">*</span> 说明：交易平台时间每天晚上23:55-0:05为维护时间，不提供报价。<br>
                    冬令时（周一-周五）<br>
                    <%= lang.text('companyEnName')%> 交易平台显示时间为：周一早 1:30 - 周五晚 23:55 <br>
                    北京市区对应时间为：周一早 7:30 - 周六早5:55 <br>
                    <span class="important">*</span> 说明：黄金晚上休市一个小时，休市的时间是交易平台时间前一天的 23:55 - 第二天的 01:05 
                </p>
            </li>
        </ul>
        <span class="text_title">我下的单被强行平仓，为什么？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>您的订单被强制平仓了，当普通账户保证金比率（保证金/使用的保证金）低于100%，高手帐户的保证金比率（保证金/使用的保证金）低于200%，公司会从您损失最大的订单开始平仓的。</p>
            </li>
        </ul>

        <span class="text_title">我收到“重新报价”信息。 这是什么意思？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    如果出现大幅的市场波动，价格会急剧变化。在此情况之下，我们需要向您提供新的最新市场价。在此情况下，您可以接受新的重新报价或者拒绝新的价格并取消交易的执行。取得重新报价的另一个可能的原因在于因特网连接缓慢或出现故障，延迟了订单传输；意味着您在交易平台上看到的是以前的价格而非当前市场价格。
                </p>
            </li>
        </ul>

        <span class="text_title">您们是否支持跟踪止损（Trailing Stops）和智能交易系统（Expert Advisors）？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    我们的平台支持此类功能。您应当注意，尽管在您的客户端使用了诸如跟踪止损和智能交易系统等附加功能，
                    但交易操作的执行完全应由您承担责任，因为它们直接依赖于您的客户交易终端。
                    如果您的智能交易系统有攻击服务器的行为，<%= lang.text('companyEnName')%> 有权利拒绝您的智能交易系统。/使用的保证金）低于100%，高手帐户的保证金比率（保证金/使用的保证金）低于200%，公司会从您损失最大的订单开始平仓的。
                </p>
            </li>
        </ul>

        <span class="text_title">为什么单子没有按照已经设置好的止盈止损价格成交？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                   请注意，平仓时将按市场实际价格成交。如果当时市场上有跳空，那么将根据跳空后的第一口价格成交，
                   那么可能会与您设置的止盈止损价格有所出入。/使用的保证金）低于100%，
                   高手帐户的保证金比率（保证金/使用的保证金）低于200%，公司会从您损失最大的订单开始平仓的。
                </p>
            </li>
        </ul>

        <span class="text_title">为什么欧美/英美（例如 30 点）点差这么高？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    请注意， 为客户提供更全面，优惠的价格，我们使用尾数点差价格。我们使用 5 位小数，而不是 4 为小数。因此， 买卖价相差 30 实际为为 3.0 点。
                </p>
            </li>
        </ul>

        <span class="text_title">为什么我的隔夜利息这么高？</span>
        <ul class="text_pgh">
            <li>
                <span class="plan-line"></span>
                <p>
                    星期三持仓隔夜的仓位隔夜利息将是平常的三倍。
                </p>
            </li>
        </ul>
    </div>
</div>