<div class="study_knowledge">
    <h3>外汇交易术语</h3>

    <p class="study_knowledge__title"></p>

    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是点 ?
        </div>
        <div class="info mg-bt-20">
            在外汇中，报价的最小单位是点（pip），意为百分之 1%，即第四个小数位。以 EUR/USD 为例，如果点差为 3，其报价可能是 1.2500/1.2503。在主要货币对中，唯一的例外是日元。USD/JPY 仅报价至第二个小数位（1% 日元，而不是百分之 1% 的日元）。在 USD/JPY 中，3 点的点差报价可能为 114.05/114.08。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是点差 ?
        </div>
        <div class="info mg-bt-20">
            买价（Ask）与卖价（Bid）之间差额被称为点差(Spread)。举例而言，银行报出的美元/日元价格为 113.20/25，意即该银行愿意支付 113.20 日元来从交易对手那里买入 1 美元，同时其愿意以 113.25 日元的价格向交易对手卖出 1 美元。113.20 和 113.25 之间 0.05 日元的差距就是点差。点差的大小主要取决于该货币对的流动性大小。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是平仓 ?
        </div>
        <div class="info mg-bt-20">
            平仓正如，我们在商品交易的过程中，购进一个商品，必须要等这个商品价格上涨后我们卖出，才能获利外汇市场也一样，我们买入一种货币必须要在价格上涨后卖出才能获利，或者我们卖出一种货币，必须要等价格下跌时再补回，才能获得这个差价利润。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是交叉盘 ?
        </div>
        <div class="info mg-bt-20">
            简单讲，不含有美元的货币对就是交叉盘货币对。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是交叉汇率 ?
        </div>
        <div class="info mg-bt-20">
            在国际市场上，几乎所有的货币兑美元都有一个汇率。一种非美元货币对另外一种非美元货币的汇率，往往就需要通过这两种对美元的汇率进行套算，这种套算出来的汇率就称为交叉汇率。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是保证金 ?
        </div>
        <div class="info mg-bt-20">
            保证金是一种履约保证，开仓时必须投入一定比例的资金作为定单持有的证明。一般来说，这是交易者存在交易账户里用来支付未来有可能产生亏损的资金。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是保证金比例 ?
        </div>
        <div class="info mg-bt-20">
            保证金比例=净值/已用保证金。当保证金比例低于 100%，系统将会进行强制平仓。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是杠杆 ?
        </div>
        <div class="info mg-bt-20">
            杠杆的本质在于投资者可以利用小额的资金来进行数倍于原始金额的投资，以期望获取相对投资标的物波动的数倍收益，<%= lang.text('companyZhName')%>为客户提供100 倍、200 倍、400 倍的杠杆。例如，您的账户资金为 1,000.00 美元，杠杆比例为 200，您的最大交易量可达 20 万美元（1,000.00美元*200倍=200,000.00美元）。<%= lang.text('companyZhName')%>友情提示杠杆比率越高，市场价格每单位的变动可带来的盈利或亏损就越大，意味着投资风险较高，走势有利时会大有斩获，不利时则很可能血本无归。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是订单类型 ?
        </div>
        <div class="info">
            所谓“类型”是指你将如何进入或退出交易的方式。在这里，我们讨论了不同的订单类型。
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;即时下单</span>
            </h5>
            <p class="study_knowledge__content-detail">
                是以当下的价格购买或出售。例如，欧元/美元的买入价是 1.2140，卖出价为 1.2142。如果你想在市场上购买欧元/美元，那么你能以 1.2142 买入。你可以以准确的价格在交易平台上立即执行买入指令。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;Limit 挂单</span>
            </h5>
            <p class="study_knowledge__content-detail">
                Limit 挂单是以一定的低于市场的价格购买或高于市场的价格出售。例如，欧元/美元目前交易价是 1.2050。如果价格达到 1.2070 你会想要把它们全部卖掉。你可以坐在显示器前面，等待它到达 1.2070（此时你需要点击一个卖出按钮），或者您可以设置卖出价为 1.2070（那么你可以离开你的电脑）。如果价格上升到 1.2070，您的交易平台将自动执行卖出指令。当你认为价格会到达您按照与您的单子相反的方向击中您所指定的价格时，你可以使用这个交易指令。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;STOP 挂单</span>
            </h5>
            <p class="study_knowledge__content-detail">
                STOP 挂单是以一定的高于市场的价格购买或低于市场的价格出售。例如，英镑/美元目前交易价在 1.5050 并且还会有所上升。你相信价格会达到 1.5060，您可以执行以下的事情：在电脑前下单，设置 1.5060 的 STOP 挂单。当你觉得价格将朝着一个方向前进的时候，你可以使用 STOP 挂单。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;止损单</span>
            </h5>
            <p class="study_knowledge__content-detail">
                止损单是当价格与你的期望相悖的话以防止额外损失为目的的订单。请记住这种类型的订单。止损订单仍然有效，直至清偿或者取消停止该订单为止。<br>
                假如你长期持有价格为 1.2230 的欧元/美元。为了限制你的最大损失，你把止损订单的价格定在 1.2200。这意味着，一旦欧元/美元跌至 1.2200，你的交易平台将自动执行 1.2200 的卖出价程序，并关闭交易。如果你不想一整天都在电脑显示器前面担惊受怕失去所有钱的话，止损订单对你是非常有用的。
            </p>
            <h5 class="study_knowledge__content-tit">
                <i class="fa fa-circle-o font-primary"></i>
                <span>&nbsp;追踪止损订单</span>
            </h5>
            <p class="study_knowledge__content-detail mg-bt-20">
                追踪止损订单是由于价格的波动而起作用的订单。比方说，美元/日元在 90.80 移动 20 点。这意味着，你的止损价是 91.00，如果价格下降的话，价格会从 90.50 移动到 90.70。<br>
                但只要记住，你的价格会停留在这里。如果价格对你不利的话它将不会扩大。再例如，如果美元/日元的价格是 90.50，那么你的止损点就会到达 90.70。但是，如果价格被突然上升到 90.60，止损将一直保持在 90.70。<br>
                您的订单将一直处于开放状态，只要价格不超过 20 点。一旦价格达到你的止损订单设置的价格时，你的订单将被关闭。
            </p>
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是隔夜利息 ?
        </div>
        <div class="info mg-bt-20">
            隔夜利息通常在客户持仓隔夜的情况下发生。交易时段在美国东部时间下午 5 点进行交接。每种货币都有本身的利率，而每项外汇交易涉及两种货币，因此同时涉及两个不同的利率。若买入的货币利率高于卖出货币的利率，您就可以赚取隔夜利息；若买入的货币利率低于卖出货币的利率，您就需要支付隔夜利息。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            “日间交易”与“隔夜交易”的区别 ?
        </div>
        <div class="info mg-bt-20">
            日间头寸指在 24 小时内建立，并在GMT时间0点交易日收盘之前平仓的头寸。隔夜头寸指在正常交易时间(GMT 时间 0 点)后未平仓的头寸。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是合约单位 ?
        </div>
        <div class="info mg-bt-20">
            伦敦金/银市场中以美元标价，以盎司作为计量单位。伦敦金每手合约单位为 100 盎司；伦敦银每手合约单位为 5000 盎司。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么叫净值 ?
        </div>
        <div class="info mg-bt-20">
            即已将未平仓定单的盈亏列入计算所显示的实际余额，会随仓位的盈亏而变动。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么叫可用保证金 ?
        </div>
        <div class="info mg-bt-20">
            可用保证金=净值-已用保证金
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么叫已用保证金 ?
        </div>
        <div class="info mg-bt-20">
            已用保证金指所有用于建仓而被冻结使用的保证金总和。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么叫止损价 ?
        </div>
        <div class="info mg-bt-20">
            止损价是一种保护机制，指当某一投资出现的亏损到达设定的止损价时，系统自动执行指令及时斩仓出局避免形成更大的亏损。目的在于即使投资失误时该止损点把损失限定在较小的范围内。
        </div>
    </div>
    <div class="study_knowledge__content" tw-dropdown-knowledge>
        <div class="title">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-right active"></i>
            什么是爆仓 ?
        </div>
        <div class="info">
            当我们账户里除了已经使用的保证金外，剩余的钱也就是可用保证金为 0 的时候。就会爆仓，也就是强行平仓。通常强行平仓都从亏损最大的订单开始，直到保证金比例恢复到平台规定的比例。
        </div>
    </div>
</div>