@include b(kyc) {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    &.update{
        margin-left: 0;
    }
    &.en{
        width: 700px;
    }
    label {
        color: $gray-darker;
        line-height: 40px;
    }
    .investInfo{
        overflow: hidden;
        .answers {
            float: left;
            min-width: 25%; 
            padding: 0 15px;
            height: 50px;
        }
        .inputText {
            float: left;
            padding: 0 25px;
            width: 100%;
            input {
                min-width: 80%; 
                height:40px;
                padding: 0 10px;
            }
        }
    }
    
    @include e(title) {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 400;
        @include m(kyc_selection) {
            height: 32px;
            max-width: 300px;
        }
    }

}