<div class="container">
    <div class="trader_current">
        <div tw-loading-img></div>
        <table class="table table-header table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ lang.text("HoldingTrades1") }}</th>
                    <th>{{ lang.text("HoldingTrades2") }}</th>
                    <th>{{ lang.text("HoldingTrades3") }}</th>
                    <th>{{ lang.text("HoldingTrades4") }}</th>
                    <th>{{ lang.text("HoldingTrades5") }}</th>
                    <th>{{ lang.text("HoldingTrades6") }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders" ng-if="orders.length > 0">
                    <td>
                        <span class="icon-forex-{{ order.symbol.toLowerCase() }}">
                            
                        </span>
                        <span ng-class="order.action?'font-down':'font-up'">
                            &nbsp;&nbsp;{{ order.action ? lang.text("HoldingTrades7") : lang.text("HoldingTrades8") }}
                        </span>
                        <span class="">
                            {{ order.symbol | symbolMod:lang.text("HoldingTrades11") }}
                        </span>
                    </td>
                    <td>
                        {{ order.open_price }}
                    </td>
                    <td>
                        {{ order.close_price }}
                    </td>
                    <td>
                        {{ order.position_time | duration }}
                    </td>
                    <td ng-class="{'font-danger': order.profit.indexOf('-') < 0, 'font-success': order.profit.indexOf('-') != -1}">
                        {{ order.points }}
                    </td>
                    <td ng-class="{'font-danger': order.profit.indexOf('-') < 0, 'font-success': order.profit.indexOf('-') != -1}">
                        <i class="fa fa-dollar"></i>{{ order.profit }}
                    </td>
                </tr>
                <tr ng-if="orders.length <= 0">
                    <td colspan="6">
                        {{ lang.text("HoldingTrades9") }}
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="trader_current_note">{{ lang.text("HoldingTrades10") }} </p>
    </div>
</div>