<div class="container">
    <div class="trader_history">
        <div tw-loading-img></div>

        <table class="table table-header table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>{{ lang.text("TradingHistory1") }}</th>
                    <th>{{ lang.text("TradingHistory2") }}</th>
                    <th>{{ lang.text("TradingHistory3") }}</th>
                    <th>{{ lang.text("TradingHistory4") }}</th>
                    <th>{{ lang.text("TradingHistory5") }}</th>
                    <th>{{ lang.text("TradingHistory6") }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders" ng-if="orders.length > 0">
                    <td class=""> 
                        <div class="history-operation-td text-left">
                        <span class="icon-histroy icon-forex-{{ order.symbol.toLowerCase() }}">
                            
                        </span>
                        <div class="history-operation-box">
                            <p class="text-left">
                                <span ng-class="order.action?'font-down':'font-up'">
                                    {{ order.action_name }}
                                </span>
                                <span class="">
                                    {{ order.symbol | symbolMod:lang.text("TradingHistory11") }}
                                </span>
                            </p>
                            <p class="text-left font-size-12">
                                <span class="history-operation-way">{{order.type_name}}</span>
                                <span>{{order.ago | duration}}{{ lang.text("TradingHistory10") }}</span>
                            </p>
                        <div>
                        <div>
                    </td>
                    <td>
                        <i class="fa fa-dollar"></i>{{ order.open_price }}
                    </td>
                    <td>
                        <i class="fa fa-dollar"></i>{{ order.close_price }}
                    </td>
                    <td>
                        {{ order.position_time | duration }}
                    </td>
                    <td ng-class="{'font-danger': order.profit.indexOf('-') >= 0, 'font-success': order.profit.indexOf('-') < 0}">
                        {{ order.points }}
                    </td>
                    <td ng-class="{'font-danger': order.profit.indexOf('-') >= 0, 'font-success': order.profit.indexOf('-') < 0}">
                        <i class="fa fa-dollar"></i>{{ order.profit }}
                    </td>
                </tr>
                <tr ng-if="orders.length <= 0">
                    <td colspan="6">
                        {{ lang.text("TradingHistory9") }}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-right">
            <div tw-pagination></div>
        </div>
    </div>
</div>