<div class="col-fff">
    <div class="container">
        <div ng-cloak class="trader">
            <div class="trader__basic">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="trader_avatar">
                            <span class="trader_avatar__wrapper">
                                <img ng-src="/avatar/<%= master.usercode%>_150.jpg" alt="avatar">
                                <span class="trader_avatar__number">NO.<%= master.ranking%></span>
                            </span>
                        </div>
                        <div class="trader_user">
                            <span class="trader_user__username"><%= master.username%></span>
                            <span class="trader_user__position trader_gray_color">
                                <i class="fa fa-map-marker"></i>
                                <%= master.region_cn.world_name%>
                            </span>
                        </div>
                        <div class="trader_btn">

                            <button class="btn btn-primary" ng-if="!master.copied" ng-click="toCopy()"><%= lang.text("traderIndex1")%></button>
                            <button class="btn btn-primary" disabled ng-if="master.copied"><%= lang.text("traderIndex2")%></button>
                            
                            <!-- <div class="trader_gray_color trader_btn__profit">
                                已帮 {{ master.help_num || 0 }} 人赚取
                                <span><i class="fa fa-dollar"></i>{{ master.help_amount || 0 }}</span>
                            </div> -->
                        </div>
                    </div>
                    <ul class="col-xs-9 clearfix">
                        <li class="trader_profit">
                            <div class="trader_profit__item">
                                <span><i class="fa fa-users"></i>{{ master.copiers_sum || '0' }}</span>
                            </div>
                            <div class="trader_gray_color"><%= lang.text("traderIndex3")%></div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item" ng-class="{'font-danger': master.profit_rate.indexOf('-') >= 0, 'font-success': master.profit_rate.indexOf('-') < 0}">
                                <span>{{ master.profit_rate || '0.00' }}</span>%
                            </div>
                            <div class="trader_gray_color"><%= lang.text("traderIndex4")%></div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item" ng-class="{'font-danger': master.month_profit.indexOf('-') >= 0, 'font-success': master.month_profit.indexOf('-') < 0}">
                                <span>{{ master.month_profit || '0.00' }}</span>%
                            </div>
                            <div class="trader_gray_color"><%= lang.text("traderIndex5")%></div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item">
                                <span>{{ master.drawdown || '0.00' }}</span>%
                                
                            </div>
                            <div class="trader_gray_color"><%= lang.text("traderIndex9")%></div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item">
                                <span>{{ master.bonus || '0.00' }}</span>%
                            </div>
                            <div class="trader_gray_color"><%= lang.text("traderIndex10")%></div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item">
                                <span><i class="fa fa-dollar"></i>{{ master.min_copy_amount || '0.00' }}</span>
                            </div>
                            <div class="trader_gray_color"><%= lang.text("traderIndex11")%></div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            
            

            <div class="nav-tabs-wrapper">
                <ul class="nav-tabs">
                    <li ui-sref-active="active">
                        <a ui-sref="trader.subpage({subpage: 'summary'})"><%= lang.text("traderIndex17")%></a>
                    </li>
                    <li ui-sref-active="active">
                        <span class="nav-tabs__divider"></span>
                        <a ui-sref="trader.subpage({subpage: 'current'})"><%= lang.text("traderIndex18")%></a>
                    </li>
                    <li ui-sref-active="active">
                        <span class="nav-tabs__divider"></span>
                        <a ui-sref="trader.subpage({subpage: 'history'})"><%= lang.text("traderIndex19")%></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>