<div class="col-fff">
    <div class="container">
        <div ng-cloak class="trader">
            <div class="trader__basic">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="trader_avatar">
                            <span class="trader_avatar__wrapper">
                                <img ng-src="/avatar/<%= master.usercode%>_150.jpg" alt="avatar">
                                <span class="trader_avatar__number">NO.<%= master.ranking%></span>
                            </span>
                        </div>
                        <div class="trader_user">
                            <span class="trader_user__username"><%= master.username%></span>
                            <span class="trader_user__position trader_gray_color">
                                <i class="fa fa-map-marker"></i>
                                <%= master.region_cn.world_name%>
                            </span>
                        </div>
                        <div class="trader_btn">

                            <button class="btn btn-primary" ng-if="!master.copied" ng-click="toCopy()">复制</button>
                            <button class="btn btn-primary" disabled ng-if="master.copied">已复制</button>
                            
                            <!-- <div class="trader_gray_color trader_btn__profit">
                                已帮 {{ master.help_num || 0 }} 人赚取
                                <span><i class="fa fa-dollar"></i>{{ master.help_amount || 0 }}</span>
                            </div> -->
                        </div>
                    </div>
                    <ul class="col-xs-9 clearfix">
                        <li class="trader_profit">
                            <div class="trader_profit__item" ng-class="{'font-danger': master.profit_rate.indexOf('-') >= 0, 'font-success': master.profit_rate.indexOf('-') < 0}">
                                <span>{{ master.profit_rate || '0.00' }}</span>%
                            </div>
                            <div class="trader_gray_color">总收益率</div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item" ng-class="{'font-danger': master.month_profit.indexOf('-') >= 0, 'font-success': master.month_profit.indexOf('-') < 0}">
                                <span>{{ master.month_profit || '0.00' }}</span>%
                            </div>
                            <div class="trader_gray_color">月回报率</div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item">
                                <span>{{ master.drawdown || '0.00' }}</span>%
                                <i ng-show="master.drawdown_num === 0" class="font-success">低</i>
                                <i ng-show="master.drawdown_num === 1" class="font-warning">中</i>
                                <i ng-show="master.drawdown_num === 2" class="font-danger">高</i>
                            </div>
                            <div class="trader_gray_color">最大回撤</div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item">
                                <span>{{ master.bonus || '0.00' }}</span>%
                            </div>
                            <div class="trader_gray_color">分成比例</div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item">
                                <span><i class="fa fa-dollar"></i>{{ master.copy_amount || '0.00' }}</span>
                            </div>
                            <div class="trader_gray_color">复制金额</div>
                        </li>
                        <li class="trader_profit">
                            <div class="trader_profit__item">
                                <span><i class="fa fa-dollar"></i>{{ master.copy_profit || '0' }}</span>
                            </div>
                            <div class="trader_gray_color">复制者盈利</div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="trader__info">
                <ul>
                    <li class="trader_message clearfix">
                        <strong class="trader_message__item">交易经验：</strong>
                        <div class="trader_message__item trader_gray_color"><%= master.experience%> 年</div>
                    </li>
                    <li class="trader_message clearfix">
                        <strong class="trader_message__item">交易特色：</strong>
                        <div class="trader_message__item trader_gray_color"><%= master.special%></div>
                    </li>
                    <li class="trader_message clearfix">
                        <strong class="trader_message__item">交易策略：</strong>
                        <div class="trader_message__item trader_gray_color"><%= master.trading_strategy%></div>
                    </li>
                    <li class="trader_message clearfix">
                        <strong class="trader_message__item">更多介绍：</strong>
                        <div class="trader_message__item trader_gray_color"><%= master.desc%></div>
                    </li>
                </ul>
            </div>

            <div class="nav-tabs-wrapper">
                <ul class="nav-tabs">
                    <li ui-sref-active="active">
                        <a ui-sref="trader.subpage({subpage: 'summary'})">数据统计</a>
                    </li>
                    <li ui-sref-active="active">
                        <span class="nav-tabs__divider"></span>
                        <a ui-sref="trader.subpage({subpage: 'current'})">当前交易</a>
                    </li>
                    <li ui-sref-active="active">
                        <span class="nav-tabs__divider"></span>
                        <a ui-sref="trader.subpage({subpage: 'history'})">历史交易</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>