$font-space-size-sm: 12px;
$font-space-size-lg: 20px;
$font-space-gray-color: $gray-dark;

.space_gray_color {
    color: $font-space-gray-color;
    font-size: $font-space-size-sm;
}

.block_btn_group {
    .tw-btn {
        margin-left: 24px;
    }
}
.space_block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px $gray;
    padding: 25px;
    width: 940px;
    &.gapped {
        margin-top: 50px;
    }

    .block_title {
        font-size: 18px;
        font-weight: 500;
    }

    .block_tips {
        font-size: 14px;
        text-align: center;
        color: $gray-dark;
        margin: 80px 0;
    }
    @extend .block_btn_group;

}
// space.center
@include b(space_center_summary){
    margin-bottom: 50px;
    @include e(list){
        @include m(item){
            display: inline-block;
            box-sizing: border-box;
            float: left;
            width: 300px;
            height: 160px;
            border-radius: 8px;
            transition: all 0.22s linear;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 25px 24px 18px;
            cursor: pointer;
            // &:hover {
            //     box-shadow: 0 10px 60px $gray-dark;
            // }
            &:nth-child(1) {
                background-image: url('/images/space/center-trading.png');
            }
            &:nth-child(2) {
                background-image: url('/images/space/center-wallet.png');
                margin: 0 20px;
            }
            &:nth-child(3) {
                background-image: url('/images/space/center-total.png');
            }
            > a {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            p {
                color: #fff;
            }
            .summary_name {
                font-size: 16px;
            }
            .summary_amount {
                font-size: 32px;
                font-weight: 500;
                margin-top: 12px;
            }
            .summary_btn {
                margin-top: 19px;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                span {
                    display: inline-block;
                    font-size: 14px;
                    padding-right: 20px;
                    margin-right: 20px;
                    position: relative;
                    &.line:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 3px;
                        right: 0;
                        width: 1px;
                        height: 14px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

@include b(space_center_trading){
    @extend .space_block;
    
    // @include e(select) {
    //     min-width: 276px;
    //     height: 50px;
    //     border-radius: 8px;
    //     margin-left: 20px;
    //     font-size: 20px;
    //     color: rgb(25, 79, 130);
    //     padding: 13px 24px;
    //     span {
    //         display: inline-block;
    //         background: #494949
    //     }
    // }

    @include b(trading_details) {
        margin-top: 65px;
        margin-bottom: 25px;
        li {
            float: left;
            width: 25%;
            text-align: center;
            margin-top: 20px;
            color: #494949;
            position: relative;
            
            .num {
                line-height: 22px;
                font-size: 18px;
                font-weight: 500;
            }
            .tip {
                font-size: 12px;
                line-height: 22px;
            }

            &:not(.noLine):before {
                content: '';
                display: block;
                position: absolute;
                top: 3px;
                right: 0;
                width: 1px;
                height: 30px;
                background-color: #d2d2d2;
            }

            .space_center_hint{
                position:absolute;
                color:$brand-info;
                background:rgba(0,0,0,.7);
                border-radius:4px;
                padding:10px;
                z-index:1000;
                display:none;
            }

            &.active {
                .space_center_hint {
                    display:block
                }
            }
        }
    }
}

// 资产总额
@include b(space_center_statistics) {
    color: rgb(36, 42, 54);
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    &.align-items-center {
        align-items: center;
    }
    @include e(title) {
        margin-right: 80px;
        min-width: 110px;
        @include m(item) {
            &:nth-child(1) {
                font-size: 44px;
                font-weight: 700;
            }
            &:nth-child(2){
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    @include e(list) {
        display: flex;
        align-items: flex-end;
        flex: 1;
        @include m(item) {
            line-height: 22px;
            &:nth-child(odd) {
                min-width: 130px;
                div:nth-child(1) {
                    font-size: 18px;
                }
                div:nth-child(2) {
                    font-size: 12px;
                }
            }
            &:nth-child(even) {
                width: 1px;
                background-color: rgb(151, 151, 151);
                height: 40px;
                margin: 0 25px;
            }
        }
    }
    @include e(wallet) {
        flex: 1;
        @extend .block_btn_group;
    }
}