@include b(space_nav){
    padding-left: 42px;
    padding-right: 42px;
    @include e(box) {
        @include displayFlex();
        padding-top: 40px;
        @include m(item){
            margin-right: 18px;
            margin-left: 18px;
            position: relative;
            a {
                font-size: 20px;
                font-weight: 500;
                color: $gray-dark;
                cursor: pointer;
            }
            &.red_point:before {
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                background: $brand-danger;
                border-radius: 4px;
                position: absolute;
                top: 10px;
                right: -12px;
            }
            &.active, &:hover {
                a {
                    color: $gray-base;
                }
            }
        }
    }
    @include e(tip) {
        padding-top: 20px;
        margin-right: 18px;
        margin-left: 18px;
        color: $gray-darker;
        > i{
            cursor: pointer;
        }
    }
    @include e(prompt){
        color: red;
        a {
            font-size: 14px;
            cursor: pointer;
            color: red;
            &.link {
                font-weight: 200;
                font-size: 14px;
                line-height: 30px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}