@include b(space_bg) {
    background-color: $gray-lightest;
    padding-bottom: 200px;
}

@include b(space_sidebar) {

    .side_navbar {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    @include e(info) {
        background-color: $gray-base;
        color: $gray-lightest;
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include e(avatar) {
        text-align: center;
        padding-top: 20px;

        > a > img {
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    @include e(mes-num) {
        position: relative;
        left: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: $brand-primary;
        border-radius: 50%;
        font-size: 14px;
        text-align: center;
        color: $gray-base;
        cursor: pointer;
    }
    @include e(bag-num) {
        position: relative;
        left: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #e7312f;
        border-radius: 50%;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
        color: #fff;
        cursor: pointer;

        &.new {
            width: initial;
            border-radius: 10px;
            padding: 0 6px;
        }
    }

    @include e(user) {
        text-align: center;
        padding-top: 15px;

        @include m(username) {
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: middle;
            max-width: 100%;
            padding-right: 5px;
        }

        @include m(position) {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $gray-dark;
            max-width: 100%;
        }
    }

    @include e(verify) {
        padding-top: 15px;

        .col-xs-6 {
            padding-left: 20px;
            padding-right: 20px;

            &.bar {
                padding-left: 5px;
            }
        }

        .scale_bar {
            height: 10px;
            background-color: $gray-dark;
            border-radius: 2px;
            margin-top: 10px;
            position: relative;

            .scale_bar__info {
                position: absolute;
                right: -35px;
                top: 0px;
                color: $gray-dark;
                font-size: 12px;
                line-height: 12px;
            }

            .scale_bar__item {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 2px;
                width: 0%;
                height: 100%;
                background-color: $brand-primary;
                transition: width 1s ease-out;
            }
        }
    }

    @include e(data) {
        text-align: center;
        padding-top: 20px;

        .btn {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @include e(real) {
        text-align: center;
        color: $gray-dark;
        padding-bottom: 15px;
    }
    @include e(demo) {
        text-align: center;
        color: $gray-dark;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    @include e(copy) {
        text-align: center;
        color: $gray-dark;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    @include e(grade) {
        width: 80%;
        margin-left: 10%;

        @include m(bar) {
            width: 100%;
            height: 10px;
            background-color: #444;
            border-radius: 5px;
            position: relative;

            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 10px;
                border-radius: 5px;
                transition: all .4s;
                background: -webkit-linear-gradient(left,#fbf5af, #ff9118);
                background: -moz-linear-gradient(left,#fbf5af, #ff9118);
                background: -o-linear-gradient(left,#fbf5af, #ff9118);
                background: linear-gradient(left,#fbf5af, #ff9118);
            }
        }
        @include m(tip) {
            color: #999;
            font-size: 12px;
        }
        @include m(btn) {
            color: #4990e2;
            font-size: 12px;
            line-height: 20px;
        }
    }
}

