<div id="m_vue_password" v-cloak>
    <validator name="validatorMethod">

        <div class="username">
            <label for="">用户名：</label>
            <input type="text" v-model="username" initial="off" v-validate:username="['username']" placeholder="请输入用户名">
            <p class="red" v-if="$validatorMethod.username.username">由数字、26个英文字母或下划线和中文组成的字符串</p>
        </div>
        <div class="password">
            <label for="">密码：</label>
            <input type="password" v-model="password" initial="off" v-validate:password="['integer']"  placeholder="请输入密码">
            <p class="red" v-if="$validatorMethod.password.integer">只能是数字</p>
        </div>
        <div><a @click="loginMethods" class="btn">登录</a></div>
    </validator>
</div>
