<div class="m_vue" data-page="password">
    <div id="m_vue_password" v-cloak>
        <validator name="validatorMethod">
            <div class="form-control-wrapper">
                <input class="form-control m_vue_form-control" 
                       name="pwdOld" 
                       type="password"
                       placeholder="原密码"
                       initial="off"
                       :class="{'form-control-error': frontErr.pwdOld.show &&$validatorMethod.pwdOld.noempty}"
                       v-validate:pwd-old="['noempty']" 
                       v-model="password.pwdOld"
                       @focus="hideFrontErr('pwdOld')"
                       @blur="showFrontErr('pwdOld')">
                
                <i class="form-control-icon fa fa-lock"></i>

                <div v-show="frontErr.pwdOld.show">
                    <p class="alert-arrow_tp_lf" v-show="$validatorMethod.pwdOld.noempty">
                        请输入原密码
                    </p>
                </div>

                <div v-show="backErr.pwdOld.show">
                    
                </div>
            </div>

            <div class="form-control-wrapper">
                <div class="form-control-wrapper">
                    <input class="form-control m_vue_form-control"
                           name="pwdNew"
                           type="password"
                           placeholder="新密码"
                           initial="off"
                           :class="{'form-control-error': frontErr.pwdNew.show && $validatorMethod.pwdNew.pwdNew}"
                           v-validate:pwd-new="['pwdNew']" 
                           v-model="password.pwdNew"
                           @focus="hideFrontErr('pwdNew')"
                           @blur="showFrontErr('pwdNew')">
                    
                    <i class="form-control-icon fa fa-lock"></i>

                    <div v-show="frontErr.pwdNew.show">
                        <p class="alert-arrow_tp_lf" v-show="$validatorMethod.pwdNew.pwdNew">
                            {{ frontErr.pwdNew.msg || '请输入新密码' }}
                        </p>
                    </div>  
                </div>
            </div>

            <div class="form-control-wrapper">
                <div class="form-control-wrapper">
                    <input class="form-control m_vue_form-control" 
                           name="pwdConfirm" 
                           type="password"
                           placeholder="确认新密码"
                           initial="off"
                           :class="{'form-control-error': frontErr.pwdConfirm.show && $validatorMethod.pwdConfirm.pwdConfirm}"
                           v-validate:pwd-confirm="{pwdConfirm: pwdConfirm}"
                           v-model="password.pwdConfirm"
                           @focus="hideFrontErr('pwdConfirm')"
                           @blur="showFrontErr('pwdConfirm')">
                    
                    <i class="form-control-icon fa fa-lock"></i>

                    <div v-show="frontErr.pwdConfirm.show">

                        <p class="alert-arrow_tp_lf" v-show="$validatorMethod.pwdConfirm.pwdConfirm">
                            {{ frontErr.pwdConfirm.msg || '请再次输入新密码' }}
                        </p>
                    </div>  
                </div>
            </div>
            
            <div class="text-center" v-show="backErr.show">
                <p class="alert-system">
                    {{ backErr.msg || '提交失败' }}
                </p>
            </div>

            <button @click="loginMethods" class="btn btn-primary btn-lg mg-tp-20" v-if="clickable.submit">
                提交
            </button>

            <button class="btn btn-info btn-lg mg-tp-20" v-if="!clickable.submit">
                <i class="loading fa fa-spinner"></i>
                提交中
            </button>
        </validator>
    </div>
</div>
