<div class="agreement_common" data-list-type="business">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <h3 class="tit"><%= lang.text("amtIndex12")%></h3>
    </div>
    <h4 class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtBusiness1")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness2")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtBusiness3")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness4")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness5")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness6")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtBusiness7")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness8")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness9")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtBusiness10")%>
    </h4>
     <p class="agreement_common__detail">
        <%= lang.text("amtBusiness11")%><br>
        <%= lang.text("amtBusiness12")%><br>
        <%= lang.text("amtBusiness13")%><br>
        <%= lang.text("amtBusiness14")%><br>
        <%= lang.text("amtBusiness15")%><br>
        <%= lang.text("amtBusiness16")%><br>
        <%= lang.text("amtBusiness17")%><br>
        <%= lang.text("amtBusiness18")%><br>
        <%= lang.text("amtBusiness19")%><br>
        <%= lang.text("amtBusiness20")%><br>
        <%= lang.text("amtBusiness21")%><br>
        <%= lang.text("amtBusiness22")%><br>
        <%= lang.text("amtBusiness23")%><br>
        <%= lang.text("amtBusiness24")%><br>
        <%= lang.text("amtBusiness25")%><br>
        <%= lang.text("amtBusiness26")%><br>
        <%= lang.text("amtBusiness27")%><br>
        <%= lang.text("amtBusiness28")%><br>
        <%= lang.text("amtBusiness29")%><br>
        <%= lang.text("amtBusiness30")%><br>
        <%= lang.text("amtBusiness31")%><br>
        <%= lang.text("amtBusiness32")%><br>
        <%= lang.text("amtBusiness33")%><br>
        <%= lang.text("amtBusiness34")%><br>
        <%= lang.text("amtBusiness35")%><br>
        <%= lang.text("amtBusiness36")%><br>
        <%= lang.text("amtBusiness37")%><br>
        <%= lang.text("amtBusiness38")%><br>
        <%= lang.text("amtBusiness39")%><br>
        <%= lang.text("amtBusiness40")%><br>
        <%= lang.text("amtBusiness41")%><br>
        <%= lang.text("amtBusiness42")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtBusiness43")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness44")%><br>
        <%= lang.text("amtBusiness45")%><br>
        <%= lang.text("amtBusiness46")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness47")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness48")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness49")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness50")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness51")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness52")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness53")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness54")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness55")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness56")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness57")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness58")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness59")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtBusiness60")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness61")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness62")%><br>
        <%= lang.text("amtBusiness63")%><br>
        <%= lang.text("amtBusiness64")%><br>
        <%= lang.text("amtBusiness65")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtBusiness66")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness67")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness68")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness69")%><br>
        <%= lang.text("amtBusiness70")%><br>
        <%= lang.text("amtBusiness71")%><br>
        <%= lang.text("amtBusiness72")%><br>
        <%= lang.text("amtBusiness73")%><br>
        <%= lang.text("amtBusiness74")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness75")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness76")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness77")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtBusiness78")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness79")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness80")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness81")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness82")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness83")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness84")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness85")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness86")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness87")%><br>
        <%= lang.text("amtBusiness88")%><br>
        <%= lang.text("amtBusiness89")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness90")%><br>
        <%= lang.text("amtBusiness91")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness92")%><br>
        <%= lang.text("amtBusiness93")%><br>
        <%= lang.text("amtBusiness94")%><br>
        <%= lang.text("amtBusiness95")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement8">
        <%= lang.text("amtBusiness96")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness97")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness98")%><br>
        <%= lang.text("amtBusiness99")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness100")%><br>
        <%= lang.text("amtBusiness101")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement9">
        <%= lang.text("amtBusiness102")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness103")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness104")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness105")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness106")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness107")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness108")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness109")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement10">
        <%= lang.text("amtBusiness110")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness111")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness113")%>{{sysMessage.email}}
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement11">
        <%= lang.text("amtBusiness114")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtBusiness115")%><br>
        <%= lang.text("amtBusiness117")%>{{sysMessage.email}}<br>
        <%= lang.text("amtBusiness119")%>{{sysMessage.email}}
    </p>
    
    

    <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <% if (lang.isEnglishArea()) {%>
            <a href="/white_label/legal/TigerWit Limited Terms and Conditions of Business.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Limited Terms and Conditions of Business</a>

            <a href="/white_label/legal/TigerWit-商业条款及条件.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit-商业条款及条件</a>
        <%} else {%>
            <a href="/white_label/legal/TigerWit-商业条款及条件.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit-商业条款及条件</a>

            <a href="/white_label/legal/TigerWit Limited Terms and Conditions of Business.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Limited Terms and Conditions of Business</a>
        <%}%>
        
    </div>
</div>