<div class="agreement_common" data-list-type="categorization">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <h3 class="tit"><%= lang.text("amtIndex20")%></h3>
    </div>
    <h4 class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtCategorization1")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization2")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization3")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization4")%><br>
        <%= lang.text("amtCategorization5")%><br>
        <%= lang.text("amtCategorization6")%><br>
        <%= lang.text("amtCategorization7")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtCategorization8")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization9")%><br>
        <%= lang.text("amtCategorization10")%><br>
        <%= lang.text("amtCategorization11")%><br>
        <%= lang.text("amtCategorization12")%><br>
        <%= lang.text("amtCategorization13")%><br>
        <%= lang.text("amtCategorization14")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization15")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization16")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization17")%><br>
        <%= lang.text("amtCategorization18")%><br>
        <%= lang.text("amtCategorization19")%><br>
        <%= lang.text("amtCategorization20")%><br>
        <%= lang.text("amtCategorization21")%><br>
        <%= lang.text("amtCategorization22")%><br>
        <%= lang.text("amtCategorization23")%><br>
        <%= lang.text("amtCategorization24")%><br>
        <%= lang.text("amtCategorization25")%><br>
        <%= lang.text("amtCategorization26")%><br>
        <%= lang.text("amtCategorization27")%><br>
        <%= lang.text("amtCategorization28")%><br>
        <%= lang.text("amtCategorization29")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization30")%><br>
        <%= lang.text("amtCategorization31")%><br>
        <%= lang.text("amtCategorization32")%><br>
        <%= lang.text("amtCategorization33")%><br>
        <%= lang.text("amtCategorization34")%><br>
        <%= lang.text("amtCategorization35")%><br>
        <%= lang.text("amtCategorization36")%><br>
        <%= lang.text("amtCategorization37")%><br>
        <%= lang.text("amtCategorization38")%><br>
        <%= lang.text("amtCategorization39")%><br>
        <%= lang.text("amtCategorization40")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization41")%><br>
        <%= lang.text("amtCategorization42")%><br>
        <%= lang.text("amtCategorization43")%><br>
        <%= lang.text("amtCategorization44")%><br>
        <%= lang.text("amtCategorization45")%><br>
        <%= lang.text("amtCategorization46")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization47")%><br>
        <%= lang.text("amtCategorization48")%><br>
        <%= lang.text("amtCategorization49")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization50")%><br>
        <%= lang.text("amtCategorization51")%><br>
        <%= lang.text("amtCategorization52")%><br>
        <%= lang.text("amtCategorization53")%><br>
        <%= lang.text("amtCategorization54")%><br>
        <%= lang.text("amtCategorization55")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtCategorization56")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization57")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization58")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization59")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization60")%><br>
        <%= lang.text("amtCategorization61")%><br>
        <%= lang.text("amtCategorization62")%><br>
        <%= lang.text("amtCategorization63")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization64")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization65")%><br>
        <%= lang.text("amtCategorization66")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization67")%><br>
        <%= lang.text("amtCategorization68")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization69")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization70")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization71")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization72")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtCategorization73")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization74")%><br>
        <%= lang.text("amtCategorization75")%><br>
        <%= lang.text("amtCategorization76")%><br>
        <%= lang.text("amtCategorization77")%><br>
        <%= lang.text("amtCategorization78")%><br>
        <%= lang.text("amtCategorization79")%><br>
        <%= lang.text("amtCategorization80")%><br>
        <%= lang.text("amtCategorization81")%><br>
        <%= lang.text("amtCategorization82")%><br>
        <%= lang.text("amtCategorization83")%><br>
        <%= lang.text("amtCategorization84")%><br>
        <%= lang.text("amtCategorization85")%><br>
        <%= lang.text("amtCategorization86")%><br>
        <%= lang.text("amtCategorization87")%><br>
        <%= lang.text("amtCategorization88")%><br>
        <%= lang.text("amtCategorization89")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization90")%><br>
        <%= lang.text("amtCategorization91")%><br>
        <%= lang.text("amtCategorization92")%><br>
        <%= lang.text("amtCategorization93")%><br>
        <%= lang.text("amtCategorization94")%><br>
        <%= lang.text("amtCategorization95")%><br>
        <%= lang.text("amtCategorization96")%><br>
        <%= lang.text("amtCategorization97")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtCategorization98")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization99")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtCategorization100")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtCategorization101")%><br>
        <%= lang.text("amtCategorization103")%>{{sysMessage.email}}<br>
        <%= lang.text("amtCategorization104")%><br>
        <%= lang.text("amtCategorization106")%>{{sysMessage.email}}
    </p>
    
    
    <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <% if (lang.isEnglishArea()) {%>
            <a href="/white_label/legal/TigerWit Limited Client Categorization Notice.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Limited Client Categorization Notice</a>

            <a href="/white_label/legal/TigerWit-客户分类通知.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit-客户分类通知</a>
        <%} else {%>
            <a href="/white_label/legal/TigerWit-客户分类通知.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit-客户分类通知</a>

            <a href="/white_label/legal/TigerWit Limited Client Categorization Notice.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Limited Client Categorization Notice</a>
        <%}%>
        
    </div>
</div>
