<div class="agreement_common" data-list-type="client">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <div class="tit"><%= lang.text("amtIndex6")%></div>
    </div>
    <div class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtClient1")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient2")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtClient3")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient4")%><br>
        <%= lang.text("amtClient5")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient6")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient7")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtClient8")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient9")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient10")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient11")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtClient12")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient13")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtClient14")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient15")%><br>
        <%= lang.text("amtClient16")%><br>
        <%= lang.text("amtClient17")%><br>
        <%= lang.text("amtClient18")%><br>
        <%= lang.text("amtClient19")%><br>
        <%= lang.text("amtClient20")%><br>
        <%= lang.text("amtClient21")%><br>
        <%= lang.text("amtClient22")%><br>
        <%= lang.text("amtClient23")%><br>
        <%= lang.text("amtClient24")%><br>
        <%= lang.text("amtClient25")%><br>
        <%= lang.text("amtClient26")%><br>
        <%= lang.text("amtClient27")%><br>
        <%= lang.text("amtClient28")%><br>
        <%= lang.text("amtClient29")%><br>
        <%= lang.text("amtClient30")%><br>
        <%= lang.text("amtClient31")%><br>
        <%= lang.text("amtClient32")%><br>
        <%= lang.text("amtClient33")%><br>
        <%= lang.text("amtClient34")%><br>
        <%= lang.text("amtClient35")%><br>
        <%= lang.text("amtClient36")%><br>
        <%= lang.text("amtClient37")%><br>
        <%= lang.text("amtClient38")%><br>
        <%= lang.text("amtClient39")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtClient40")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient41")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient42")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient43")%><br>
        <%= lang.text("amtClient44")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient45")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient46")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient47")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient48")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient49")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient50")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtClient51")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient52")%><br>
        <%= lang.text("amtClient53")%><br>
        <%= lang.text("amtClient54")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient55")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtClient56")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient57")%><br>
        <%= lang.text("amtClient58")%><br>
        <%= lang.text("amtClient59")%><br>
        <%= lang.text("amtClient60")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement8">
        <%= lang.text("amtClient61")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient62")%><br>
        <%= lang.text("amtClient63")%><br>
        <%= lang.text("amtClient64")%><br>
        <%= lang.text("amtClient65")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient66")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement9">
        <%= lang.text("amtClient67")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient68")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient69")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient70")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient71")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient72")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient73")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient74")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient75")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient76")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient77")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient78")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient79")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient80")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient81")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient82")%><br>
        <%= lang.text("amtClient83")%><br>
        <%= lang.text("amtClient84")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient85")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient86")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement10">
        <%= lang.text("amtClient87")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient88")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient89")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient90")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient91")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient92")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient93")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient94")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient95")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient96")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient97")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement11">
        <%= lang.text("amtClient98")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient99")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient100")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient101")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient102")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement12">
        <%= lang.text("amtClient103")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient104")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement13">
        <%= lang.text("amtClient105")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient106")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement14">
        <%= lang.text("amtClient107")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient108")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement15">
        <%= lang.text("amtClient109")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient110")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient111")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement16">
        <%= lang.text("amtClient112")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient113")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient114")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient115")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient116")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient117")%><br>
        <%= lang.text("amtClient118")%><br>
        <%= lang.text("amtClient119")%><br>
        <%= lang.text("amtClient120")%><br>
        <%= lang.text("amtClient121")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient122")%><br>
        <%= lang.text("amtClient123")%><br>
        <%= lang.text("amtClient124")%><br>
        <%= lang.text("amtClient125")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient126")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient127")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement17">
        <%= lang.text("amtClient128")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient129")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement18">
        <%= lang.text("amtClient130")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient131")%><br>
        <%= lang.text("amtClient132")%><br>
        <%= lang.text("amtClient133")%><br>
        <%= lang.text("amtClient134")%><br>
        <%= lang.text("amtClient135")%><br>
        <%= lang.text("amtClient136")%><br>
        <%= lang.text("amtClient137")%><br>
        <%= lang.text("amtClient138")%><br>
        <%= lang.text("amtClient139")%><br>
        <%= lang.text("amtClient140")%><br>
        <%= lang.text("amtClient141")%><br>
        <%= lang.text("amtClient142")%><br>
        <%= lang.text("amtClient143")%><br>
        <%= lang.text("amtClient144")%><br>
        <%= lang.text("amtClient145")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient146")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement19">
        <%= lang.text("amtClient147")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient148")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient149")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient150")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement20">
        <%= lang.text("amtClient151")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient152")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient153")%><br>
        <%= lang.text("amtClient154")%><br>
        <%= lang.text("amtClient155")%><br>
        <%= lang.text("amtClient156")%><br>
        <%= lang.text("amtClient157")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient158")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement21">
        <%= lang.text("amtClient159")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient160")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement22">
        <%= lang.text("amtClient161")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient162")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient163")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient164")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient165")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient166")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient167")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient168")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient169")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient170")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient171")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient172")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient173")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement23">
        <%= lang.text("amtClient174")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient175")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient176")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient177")%><br>
        <%= lang.text("amtClient178")%><br>
        <%= lang.text("amtClient179")%><br>
        <%= lang.text("amtClient180")%><br>
        <%= lang.text("amtClient181")%><br>
        <%= lang.text("amtClient182")%><br>
        <%= lang.text("amtClient183")%><br>
        <%= lang.text("amtClient184")%><br>
        <%= lang.text("amtClient185")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement24">
        <%= lang.text("amtClient186")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient187")%><br>
        <%= lang.text("amtClient188")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient189")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement25">
        <%= lang.text("amtClient190")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient191")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient192")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient193")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient194")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement26">
        <%= lang.text("amtClient195")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient196")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient197")%><br>
        <%= lang.text("amtClient198")%><br>
        <%= lang.text("amtClient199")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement27">
        <%= lang.text("amtClient200")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient201")%><br>
        <%= lang.text("amtClient202")%><br>
        <%= lang.text("amtClient203")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtClient204")%><br>
        <%= lang.text("amtClient205")%><br>
        <%= lang.text("amtClient206")%>
    </p>


    <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <% if (lang.currentLanguage() == 'en') {%>
            <a href="/white_label/legal/TigerWit Client Agreement.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Client Agreement</a>

            <a href="/white_label/legal/老虎外汇-客户协议.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-客户协议</a>
        <%} else {%>
            <a href="/white_label/legal/老虎外汇-客户协议.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-客户协议</a>

            <a href="/white_label/legal/TigerWit Client Agreement.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Client Agreement</a>
        <%}%>
        
    </div>
</div>