<div class="agreement_common" data-list-type="complaint">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <h3 class="tit"><%= lang.text("amtIndex28")%></h3>
    </div>
    <h4 class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtComplaint1")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint2")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint3")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint4")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint5")%><br>
        <%= lang.text("amtComplaint6")%><br>
        <%= lang.text("amtComplaint7")%><br>
        <%= lang.text("amtComplaint8")%><br>
        <%= lang.text("amtComplaint9")%><br>
        <%= lang.text("amtComplaint10")%><br>
        <%= lang.text("amtComplaint11")%><br>
        <%= lang.text("amtComplaint13")%>{{sysMessage.email_list[0].email}}<br>
        <%= lang.text("amtComplaint14")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtComplaint15")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint16")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtComplaint17")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint18")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint19")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtComplaint20")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint21")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtComplaint22")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint23")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint24")%><br>
        <%= lang.text("amtComplaint25")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint26")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtComplaint27")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint28")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint29")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint30")%><br>
        <%= lang.text("amtComplaint31")%><br>
        <%= lang.text("amtComplaint32")%><br>
        <%= lang.text("amtComplaint33")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint34")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtComplaint35")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint36")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtComplaint37")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint38")%><br>
        <%= lang.text("amtComplaint40")%>{{sysMessage.email_list[0].email}}
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtComplaint41")%><br>
        <%= lang.text("amtComplaint43")%>{{sysMessage.email_list[0].email}}
    </p>
    
    <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <% if (lang.isEnglishArea()) {%>
            <a href="/white_label/legal/TigerWit Limited Complaint Handling Procedure.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Limited Complaint Handling Procedure</a>

            <a href="/white_label/legal/TigerWit-投诉处理流程.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit-投诉处理流程</a>
        <%} else {%>
            <a href="/white_label/legal/TigerWit-投诉处理流程.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit-投诉处理流程</a>

            <a href="/white_label/legal/TigerWit Limited Complaint Handling Procedure.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Limited Complaint Handling Procedure</a>
        <%}%>
        
    </div>
</div>
