<div class="agreement_common" data-list-type="conditions">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <h3 class="tit"><%= lang.text("amtIndex16")%></h3>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions1")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions2")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtConditions3")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions4")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions5")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions6")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions7")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtConditions8")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions9")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtConditions10")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions11")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtConditions12")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions13")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtConditions14")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions15")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtConditions16")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions17")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtConditions18")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions19")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions20")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions21")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions22")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtConditions23")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions24")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement8">
        <%= lang.text("amtConditions25")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions26")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions27")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement9">
        <%= lang.text("amtConditions28")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions29")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement10">
        <%= lang.text("amtConditions30")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions31")%><br>
        <%= lang.text("amtConditions32")%><br>
        <%= lang.text("amtConditions33")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement11">
        <%= lang.text("amtConditions34")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions35")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement12">
        <%= lang.text("amtConditions36")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions37")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement13">
        <%= lang.text("amtConditions38")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions39")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions40")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement14">
        <%= lang.text("amtConditions41")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions42")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions43")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement15">
        <%= lang.text("amtConditions44")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions45")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement16">
        <%= lang.text("amtConditions46")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions47")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement17">
        <%= lang.text("amtConditions48")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions49")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions50")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions51")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement18">
        <%= lang.text("amtConditions52")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions53")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement19">
        <%= lang.text("amtConditions54")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions55")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions56")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement20">
        <%= lang.text("amtConditions57")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions58")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions59")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConditions60")%>
    </p>
    
    

    <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <% if (lang.currentLanguage() == 'en') {%>
            <a href="/white_label/legal/TigerWit Trading Conditions Notice.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Trading Conditions Notice</a>

            <a href="/white_label/legal/老虎外汇-交易条件声明.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-交易条件声明</a>
        <%} else {%>
            <a href="/white_label/legal/老虎外汇-交易条件声明.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-交易条件声明</a>

            <a href="/white_label/legal/TigerWit Trading Conditions Notice.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Trading Conditions Notice</a>
        <%}%>
        
    </div>
</div>
