<div class="agreement_common" data-list-type="conflicts">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <div class="tit"><%= lang.text("amtIndex26")%></div>
    </div>
    <div class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtConflicts1")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts2")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts3")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts4")%><br>
        <%= lang.text("amtConflicts5")%><br>
        <%= lang.text("amtConflicts6")%><br>
        <%= lang.text("amtConflicts7")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts8")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts9")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtConflicts10")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts11")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts12")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts13")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtConflicts14")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts15")%><br>
        <%= lang.text("amtConflicts16")%><br>
        <%= lang.text("amtConflicts17")%><br>
        <%= lang.text("amtConflicts18")%><br>
        <%= lang.text("amtConflicts19")%><br>
        <%= lang.text("amtConflicts20")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtConflicts21")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts22")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts23")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts24")%><br>
        <%= lang.text("amtConflicts25")%><br>
        <%= lang.text("amtConflicts26")%><br>
        <%= lang.text("amtConflicts27")%><br>
        <%= lang.text("amtConflicts28")%><br>
        <%= lang.text("amtConflicts29")%><br>
        <%= lang.text("amtConflicts30")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts31")%><br>
        <%= lang.text("amtConflicts32")%><br>
        <%= lang.text("amtConflicts33")%><br>
        <%= lang.text("amtConflicts34")%><br>
        <%= lang.text("amtConflicts35")%><br>
        <%= lang.text("amtConflicts36")%><br>
        <%= lang.text("amtConflicts37")%><br>
        <%= lang.text("amtConflicts38")%><br>
        <%= lang.text("amtConflicts39")%><br>
        <%= lang.text("amtConflicts40")%><br>
        <%= lang.text("amtConflicts41")%><br>
        <%= lang.text("amtConflicts42")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtConflicts43")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts44")%><br>
        <%= lang.text("amtConflicts45")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts46")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtConflicts47")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts48")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts49")%><br>
        <%= lang.text("amtConflicts50")%><br>
        <%= lang.text("amtConflicts51")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtConflicts52")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtConflicts53")%><br>
        <%= lang.text("amtConflicts54")%><br>
        <%= lang.text("amtConflicts55")%>
    </p>
    
    <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <% if (lang.currentLanguage() == 'en') {%>
            <a href="/white_label/legal/TigerWit Conflicts of Interest Policy.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Conflicts of Interest Policy</a>

            <a href="/white_label/legal/老虎外汇-利益冲突政策.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-利益冲突政策</a>
        <%} else {%>
            <a href="/white_label/legal/老虎外汇-利益冲突政策.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-利益冲突政策</a>

            <a href="/white_label/legal/TigerWit Conflicts of Interest Policy.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Conflicts of Interest Policy</a>
        <%}%>
        
    </div>
</div>
