<div class="agreement_common" data-list-type="cookie">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <div class="tit"><%= lang.text("amtIndex10")%></div>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie1")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtCookie2")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie3")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtCookie4")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie5")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtCookie6")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie7")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie8")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie9")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie10")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtCookie11")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie12")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtCookie13")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie14")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie15")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtCookie16")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie17")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie18")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtCookie19")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie20")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie21")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie22")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie23")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie24")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtCookie25")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie26")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie27")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement8">
        <%= lang.text("amtCookie28")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie29")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement9">
        <%= lang.text("amtCookie30")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie31")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement10">
        <%= lang.text("amtCookie32")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie33")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie34")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement11">
        <%= lang.text("amtCookie35")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtCookie36")%>
    </p>
    

    <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <% if (lang.currentLanguage() == 'en') {%>
            <a href="/white_label/legal/TigerWit Privacy Policy and Cookie Disclosure.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Privacy Policy and Cookie Disclosure</a>

            <a href="/white_label/legal/老虎外汇-隐私政策和Cookie披露声明.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-隐私政策和Cookie披露声明</a>
        <%} else {%>
            <a href="/white_label/legal/老虎外汇-隐私政策和Cookie披露声明.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-隐私政策和Cookie披露声明</a>

            <a href="/white_label/legal/TigerWit Privacy Policy and Cookie Disclosure.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Privacy Policy and Cookie Disclosure</a>
        <%}%>
        
    </div>
</div>