<div class="agreement_common" data-list-type="execution">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <div class="tit"><%= lang.text("amtIndex24")%></div>
    </div>
    <div class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtExecution1")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution2")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution3")%><br>
        <%= lang.text("amtExecution4")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtExecution5")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution6")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution7")%><br>
        <%= lang.text("amtExecution8")%><br>
        <%= lang.text("amtExecution9")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution10")%><br>
        <%= lang.text("amtExecution11")%><br>
        <%= lang.text("amtExecution12")%><br>
        <%= lang.text("amtExecution13")%><br>
        <%= lang.text("amtExecution14")%><br>
        <%= lang.text("amtExecution15")%><br>
        <%= lang.text("amtExecution16")%><br>
        <%= lang.text("amtExecution17")%><br>
        <%= lang.text("amtExecution18")%><br>
        <%= lang.text("amtExecution19")%><br>
        <%= lang.text("amtExecution20")%><br>
        <%= lang.text("amtExecution21")%><br>
        <%= lang.text("amtExecution22")%><br>
        <%= lang.text("amtExecution23")%><br>
        <%= lang.text("amtExecution24")%><br>
        <%= lang.text("amtExecution25")%><br>
        <%= lang.text("amtExecution26")%><br>
        <%= lang.text("amtExecution27")%><br>
        <%= lang.text("amtExecution28")%><br>
        <%= lang.text("amtExecution29")%><br>
        <%= lang.text("amtExecution30")%><br>
        <%= lang.text("amtExecution31")%><br>
        <%= lang.text("amtExecution32")%><br>
        <%= lang.text("amtExecution33")%><br>
        <%= lang.text("amtExecution34")%><br>
        <%= lang.text("amtExecution35")%><br>
        <%= lang.text("amtExecution36")%><br>
        <%= lang.text("amtExecution37")%><br>
        <%= lang.text("amtExecution38")%><br>
        <%= lang.text("amtExecution39")%><br>
        <%= lang.text("amtExecution40")%><br>
        <%= lang.text("amtExecution41")%><br>
        <%= lang.text("amtExecution42")%><br>
        <%= lang.text("amtExecution43")%><br>
        <%= lang.text("amtExecution44")%><br>
        <%= lang.text("amtExecution45")%><br>
        <%= lang.text("amtExecution46")%><br>
        <%= lang.text("amtExecution47")%><br>
        <%= lang.text("amtExecution48")%><br>
        <%= lang.text("amtExecution49")%><br>
        <%= lang.text("amtExecution50")%><br>
        <%= lang.text("amtExecution51")%><br>
        <%= lang.text("amtExecution52")%><br>
        <%= lang.text("amtExecution53")%><br>
        <%= lang.text("amtExecution54")%><br>
        <%= lang.text("amtExecution55")%><br>
        <%= lang.text("amtExecution56")%><br>
        <%= lang.text("amtExecution57")%><br>
        <%= lang.text("amtExecution58")%><br>
        <%= lang.text("amtExecution59")%><br>
        <%= lang.text("amtExecution60")%><br>
        <%= lang.text("amtExecution61")%><br>
        <%= lang.text("amtExecution62")%><br>
        <%= lang.text("amtExecution63")%><br>
        <%= lang.text("amtExecution64")%><br>
        <%= lang.text("amtExecution65")%><br>
        <%= lang.text("amtExecution66")%><br>
        <%= lang.text("amtExecution67")%><br>
        <%= lang.text("amtExecution68")%><br>
        <%= lang.text("amtExecution69")%><br>
        <%= lang.text("amtExecution70")%><br>
        <%= lang.text("amtExecution71")%><br>
        <%= lang.text("amtExecution72")%><br>
        <%= lang.text("amtExecution73")%><br>
        <%= lang.text("amtExecution74")%><br>
        <%= lang.text("amtExecution75")%><br>
        <%= lang.text("amtExecution76")%><br>
        <%= lang.text("amtExecution77")%><br>
        <%= lang.text("amtExecution78")%><br>
        <%= lang.text("amtExecution79")%><br>
        <%= lang.text("amtExecution80")%><br>
        <%= lang.text("amtExecution81")%><br>
        <%= lang.text("amtExecution82")%><br>
        <%= lang.text("amtExecution83")%><br>
        <%= lang.text("amtExecution84")%><br>
        <%= lang.text("amtExecution85")%><br>
        <%= lang.text("amtExecution86")%><br>
        <%= lang.text("amtExecution87")%><br>
        <%= lang.text("amtExecution88")%><br>
        <%= lang.text("amtExecution89")%><br>
        <%= lang.text("amtExecution90")%><br>
        <%= lang.text("amtExecution91")%><br>
        <%= lang.text("amtExecution92")%><br>
        <%= lang.text("amtExecution93")%><br>
        <%= lang.text("amtExecution94")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtExecution95")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution96")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution97")%><br>
        <%= lang.text("amtExecution98")%><br>
        <%= lang.text("amtExecution99")%><br>
        <%= lang.text("amtExecution100")%><br>
        <%= lang.text("amtExecution101")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution102")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution103")%><br>
        <%= lang.text("amtExecution104")%><br>
        <%= lang.text("amtExecution105")%><br>
        <%= lang.text("amtExecution106")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution107")%><br>
        <%= lang.text("amtExecution108")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution109")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution110")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution111")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution112")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution113")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution114")%><br>
        <%= lang.text("amtExecution115")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution116")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution117")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution118")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution119")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution120")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution121")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution122")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution123")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution124")%><br>
        <%= lang.text("amtExecution125")%><br>
        <%= lang.text("amtExecution126")%><br>
        <%= lang.text("amtExecution127")%><br>
        <%= lang.text("amtExecution128")%><br>
        <%= lang.text("amtExecution129")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtExecution130")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution131")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution132")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution133")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution134")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtExecution135")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution136")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution137")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution138")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtExecution139")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution140")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution141")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtExecution142")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution143")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution144")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution145")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution146")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtExecution147")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution148")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution149")%><br>
        <%= lang.text("amtExecution150")%><br>
        <%= lang.text("amtExecution151")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement8">
        <%= lang.text("amtExecution152")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtExecution153")%><br>
        <%= lang.text("amtExecution154")%><br>
        <%= lang.text("amtExecution155")%>
    </p>
    
    <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <% if (lang.currentLanguage() == 'en') {%>
            <a href="/white_label/legal/TigerWit Order Execution Policy.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Order Execution Policy</a>

            <a href="/white_label/legal/老虎外汇-订单执行政策.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-订单执行政策</a>
        <%} else {%>
            <a href="/white_label/legal/老虎外汇-订单执行政策.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-订单执行政策</a>

            <a href="/white_label/legal/TigerWit Order Execution Policy.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Order Execution Policy</a>
        <%}%>
        
    </div>
</div>
