<div class="agreement_common" data-list-type="legal">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__title">
        <h3 class="tit"><%= lang.text("latencyTrading1")%></h3>
    </div>
    <p class="">
        <%= lang.text("latencyTrading3")%>
    </p>
    <p class="mg-tp-15">
        <%= lang.text("latencyTrading4")%>
    </p>
    <p class="mg-tp-15">
        <%= lang.text("latencyTrading5")%>
    </p>
    <p class="mg-tp-15">
        <%= lang.text("latencyTrading6")%>
    </p>
    <p class="">
        <%= lang.text("latencyTrading7")%>
    </p>
    <p class="mg-tp-15">
        <%= lang.text("latencyTrading8")%>
    </p>
    <p class="">
        <%= lang.text("latencyTrading9")%>
    </p>
</div>