<div class="agreement_common" data-list-type="legal">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__title clearfix">
        <div class="tit"><%= lang.text("amtIndex4")%></div>
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtLegal1")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal2")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtLegal3")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal4")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtLegal5")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal6")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtLegal7")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal8")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal9")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal10")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal11")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal12")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal13")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal14")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtLegal15")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal16")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtLegal17")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal18")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtLegal19")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal20")%>
    </p>
    <div class="agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtLegal21")%>
    </div>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal22")%>
    </p>

    <!-- <div class="agreement_common__tip">
        <span><%= lang.text("amtCommon1")%></span>
        <a href="/white_label/legal/老虎外汇-客户协议.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;老虎外汇-客户协议</a>

        <a href="/white_label/legal/TigerWit Client Agreement.pdf" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;TigerWit Client Agreement</a>
    </div> -->
</div>