<div class="agreement_common" data-list-type="legal">
    <div class="agreement_common__to_top" ng-class="{active: showScrollTop}">
        <span ng-click="toTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="agreement_common__catalog" ng-class="{active: showScrollTop}">
        <div tw-agreement-tab data-tab-list="tabList"></div>
    </div>
    <div class="agreement_common__title clearfix">
        <h3 class="tit"><%= lang.text("amtIndex4")%></h3>
    </div>
    <h4 class="agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtLegal1")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal2")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtLegal3")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal4")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtLegal5")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal6")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtLegal7")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal8")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal9")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal10")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal11")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal12")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal13")%>
    </p>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal14")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtLegal15")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal16")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtLegal17")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal18")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtLegal19")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal20")%>
    </p>
    <h4 class="agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtLegal21")%>
    </h4>
    <p class="agreement_common__detail">
        <%= lang.text("amtLegal22")%>
    </p>
</div>