<div class="m_agreement_common" data-list-type="conditions">
    <div class="m_agreement_common__to_top">
        <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="m_agreement_common__sign">
        <span><i class="fa fa-list" aria-hidden="true"></i></span>
    </div>
    <div class="m_agreement_common__title">
        <div class="tit"><%= lang.text("amtIndex16")%></div>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions1")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions2")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtConditions3")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions4")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions5")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions6")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions7")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtConditions8")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions9")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtConditions10")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions11")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtConditions12")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions13")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtConditions14")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions15")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtConditions16")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions17")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtConditions18")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions19")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions20")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions21")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions22")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtConditions23")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions24")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement8">
        <%= lang.text("amtConditions25")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions26")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions27")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement9">
        <%= lang.text("amtConditions28")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions29")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement10">
        <%= lang.text("amtConditions30")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions31")%><br>
        <%= lang.text("amtConditions32")%><br>
        <%= lang.text("amtConditions33")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement11">
        <%= lang.text("amtConditions34")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions35")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement12">
        <%= lang.text("amtConditions36")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions37")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement13">
        <%= lang.text("amtConditions38")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions39")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions40")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement14">
        <%= lang.text("amtConditions41")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions42")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions43")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement15">
        <%= lang.text("amtConditions44")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions45")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement16">
        <%= lang.text("amtConditions46")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions47")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement17">
        <%= lang.text("amtConditions48")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions49")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions50")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions51")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement18">
        <%= lang.text("amtConditions52")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions53")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement19">
        <%= lang.text("amtConditions54")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions56")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement20">
        <%= lang.text("amtConditions57")%><span class="sys_message_email"></span>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions58")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtConditions60")%><span class="sys_message_email"></span>
    </p>
    
    
</div>