<div class="m_agreement_common" data-list-type="complaint">
    <div class="m_agreement_common__to_top">
        <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="m_agreement_common__sign">
        <span><i class="fa fa-list" aria-hidden="true"></i></span>
    </div>
    <div class="m_agreement_common__title">
        <div class="tit"><%= lang.text("amtIndex28")%></div>
    </div>
    <div class="m_agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtComplaint1")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint2")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint3")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint4")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint5")%><br>
        <%= lang.text("amtComplaint6")%><br>
        <%= lang.text("amtComplaint7")%><br>
        <%= lang.text("amtComplaint8")%><br>
        <%= lang.text("amtComplaint9")%><br>
        <%= lang.text("amtComplaint10")%><br>
        <%= lang.text("amtComplaint11")%><br>
        <%= lang.text("amtComplaint13")%><span class="sys_message_email"></span><br>
        <%= lang.text("amtComplaint14")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtComplaint15")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint16")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement2">
        <%= lang.text("amtComplaint17")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint18")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint19")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement3">
        <%= lang.text("amtComplaint20")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint21")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement4">
        <%= lang.text("amtComplaint22")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint23")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint24")%><br>
        <%= lang.text("amtComplaint25")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint26")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement5">
        <%= lang.text("amtComplaint27")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint28")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint29")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint30")%><br>
        <%= lang.text("amtComplaint31")%><br>
        <%= lang.text("amtComplaint32")%><br>
        <%= lang.text("amtComplaint33")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint34")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement6">
        <%= lang.text("amtComplaint35")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint36")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement7">
        <%= lang.text("amtComplaint37")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint38")%><br>
        <%= lang.text("amtComplaint40")%><span class="sys_message_email"></span>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtComplaint41")%><br>
        <%= lang.text("amtComplaint43")%><span class="sys_message_email"></span>
    </p>
    
</div>