<div class="m_agreement_common" data-list-type="legal">
    <div class="m_agreement_common__to_top">
        <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <!-- <div class="m_agreement_common__sign">
        <span><i class="fa fa-list" aria-hidden="true"></i></span>
    </div> -->
    <div class="m_agreement_common__title">
        <div class="tit"><%= lang.text("amtIslamic3")%></div>
    </div>
    <p class="">
        <%= lang.text("amtIslamic4")%>
    </p>
    <p class="">
        <%= lang.text("amtIslamic5")%>
    </p>
    <p class="mg-tp-15">
        <%= lang.text("amtIslamic6")%>
    </p>
    <p class="">
        <%= lang.text("amtIslamic7")%>
    </p>
    <p class="">
        <%= lang.text("amtIslamic8")%>
    </p>
    <p class="mg-tp-15">
        <%= lang.text("amtIslamic9")%>
    </p>
    <p class="">
        <%= lang.text("amtIslamic10")%>
    </p>
    <p class="">
        <%= lang.text("amtIslamic11")%>
    </p>
    <p class="">
        <%= lang.text("amtIslamic12")%>
    </p>
    <p class="mg-tp-15">
        <%= lang.text("amtIslamic13")%>
    </p>
</div>