<div class="m_agreement_common" data-list-type="statement">
    <div class="m_agreement_common__to_top">
        <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </div>
    <div class="m_agreement_common__sign">
        <span><i class="fa fa-list" aria-hidden="true"></i></span>
    </div>
    <div class="m_agreement_common__title">
        <div class="tit">客户声明</div>
    </div>
    <div class="m_agreement_common__sub_title" data-action="agreement0">
        <%= lang.text("amtStatement1")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement2")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement3")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement4")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement5")%>
    </p>
    <div class="m_agreement_common__sub_title" data-action="agreement1">
        <%= lang.text("amtStatement6")%>
    </div>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement7")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement8")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement9")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement10")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement11")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement12")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement13")%>
    </p>
    <p class="m_agreement_common__detail">
        <%= lang.text("amtStatement14")%>
    </p>
    
</div>