@include b(global_g36) {
  padding-bottom: 60px;
  background-image: url('/white_label/bd/g36/web_bg.png');
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #fff;

  @include e(container) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    max-width: 700px;
  }
  @include e(whatsapp) {
    img{
      width: 100%;
    }
    padding-top: 74px;
  }
  @include e(whatsappTip) {
    padding-top: 43px;
    font-size: 12px;
    color: #444444;
    text-align: center;
    line-height: 20px;
  }
  @include e(whatsappBtn) {
    width: 74%;
    max-width: 240px;
    height: 44px;
    padding: 5px 0;
    border-radius: 22px;
    display: block;
    background-color: #ffe28c;
    font-size: 16.8px;
    text-align: center;
    margin: 25px auto 0; 
    box-shadow:0 5px 3px #d29a00;
    @include m(btn){
      color: #000;
      span{
        vertical-align: middle;
      }
      .img{
        width: 36px;
        margin: 0 10px;
        vertical-align: middle;
      }
    }
  }
  @include e(recommend){
    max-width: 350px;
    margin: 30px auto 0;
    padding: 20px 11px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px #f7b910;
    @include m(title){
      text-align: center;
      position: relative;
      .left, .right{
        width: 74px;
        position: absolute;
        top: 17px;
      }
      .left{
        left: 0;
      }
      .tit{
        font-size: 16.4px;
        color: #444444;
        line-height: 21px;
      }
      .right{
        right: 0;
      }
    }
    @include m(con){
      width: 72%;
      min-width: 268px;
      padding: 25px 0 20px;
      margin: 0 auto;
      overflow: hidden;
      .right{
        font-size: 12px;
        color: #767c83;
        line-height: 17px;
        margin-left: 25px;
        float: left;
      }
      .left{
        float: left;
        width: 38px;
      }
    }
    @include m(contact){
      width: 76%;
      min-width: 268px;
      margin: 0 auto;
      padding: 11px 0;
      border-bottom: 1px solid #ffedcc;
      text-align: center;
      .right{
        font-size: 12px;
        color: #444444;
        margin-left: 10px;
      }
      .left{
        height: 14px;
      }
      .left, .right{
        vertical-align: middle;
      }
      &:last-child{
        border-bottom: none;
        margin-bottom: 26px;
      }
    }
  }
  @include e(highRiskWarning){
    width: 88.7%;
    color: #7c5404;
    font-size: 12px;
    line-height: 16px;
    margin: 0 auto;
    padding-top: 35px;
    font-weight: 100;
    font-family: OpenSans Light;
  }
}