//  复制我的
@include b(space_bonus) {
    padding: 30px;
    .btn {
        padding: 0px 22px;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
    }

    @include e(total_box) {
        text-align: center;
    }
    
    @include e(total) {
        border: 1px solid $gray;
        width: 228px;
        text-align: center;

        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
        &.mid {
            display: inline-block;
        }

        > .item-num {
            height: 68px;
            line-height: 68px;
            font-size: 28px;
            border-bottom: 1px solid $gray;
        }
        > .item-tip {
            height: 44px;
            line-height: 44px;
            background-color: $gray-lighter;
            color: $gray-darker;

            &:hover {
                .fa {
                    span {
                        display: block;
                    }
                }
            }

            .fa {
                position: relative;

                > span {
                    display: none;
                    position: absolute;
                    top: 28px;
                    left: -121px;;
                    padding: 15px;
                    border: 1px solid #ccc;
                    width: 254px;
                    background-color: #fff;

                    &:before {
                        content: '';
                        border: 14px solid transparent;
                        border-bottom-color: #fff;
                        position: absolute;
                        top: -28px;
                        left: 50%;
                        margin-left: -14px;
                        z-index: 10;
                    }
                    &:after {
                        content: '';
                        border: 15px solid transparent;
                        border-bottom-color: #ccc;
                        position: absolute;
                        top: -30px;
                        left: 50%;
                        margin-left: -15px;
                        z-index: 8;
                    }
                }
            }
        }
    }
    @include e(title_box) {

        margin-top: 50px;

        > .tit {
            float: left;
            margin: 0;
            line-height: 40px;
        }

        > .form-control-wrapper {
            float: left;
            width: 200px;
            margin-left: 10px;
        }

        > .remark {
            float: left;
            margin-left: 10px;
            line-height: 40px;
        }

        .bootstrap-datetimepicker-widget.dropdown-menu {
            border: 1px solid #ccc;
            border-radius: $border-radius-base;
            background-color: #fff;
        }

        .bootstrap-datetimepicker-widget table td span:hover {
            background: #eee;
        }
        .bootstrap-datetimepicker-widget table td span.active {
            background-color: $brand-info;
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
    }

    @include e(modal) {
        @include m(content) {
            padding: 20px 0;
            background-color: #fafafa;
        }
    }
}