//  复制我的
@include b (bonus-cur) {


    // 添加右边框
    @include m (bor-rh) {
        border-right: 1px solid $gray;
    }
}


//  我的分成
@include b(bonus-his) {

    @include b(photo) {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

@include b(date_searchbar) {
    margin-bottom: 10px;

    > .form-control-wrapper {
        display: inline-block;
        width: 140px;
        margin-bottom: 0;
        vertical-align: top;
    }

    .bootstrap-datetimepicker-widget.dropdown-menu {
        border: 1px solid #ccc;
        border-radius: $border-radius-base;
        background-color: #fff;
    }

    .bootstrap-datetimepicker-widget table td span:hover {
        background: #eee;
    }
    .bootstrap-datetimepicker-widget table td span.active {
        background-color: $brand-info;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    @include e(btn) {
        margin-top: 2px;
        padding: 0 25px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }
}
