//  复制我的
@include b(space_bonus) {

    @include e(total_box) {
        text-align: center;
    }
    
    @include e(total) {
        border: 1px solid $gray;
        width: 228px;
        text-align: center;

        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
        &.mid {
            display: inline-block;
        }

        > .item-num {
            height: 68px;
            line-height: 68px;
            font-size: 28px;
            border-bottom: 1px solid $gray;
        }
        > .item-tip {
            height: 44px;
            line-height: 44px;
            background-color: $gray-lighter;
            color: $gray-darker;
        }
    }
    @include e(title_box) {

        margin-top: 50px;

        > .tit {
            float: left;
            margin: 0;
            line-height: 40px;
        }

        > .form-control-wrapper {
            float: left;
            width: 200px;
            margin-left: 10px;
        }

        > .remark {
            float: left;
            margin-left: 10px;
            line-height: 40px;
        }

        .bootstrap-datetimepicker-widget.dropdown-menu {
            border: 1px solid #ccc;
            border-radius: $border-radius-base;
            background-color: #fff;
        }

        .bootstrap-datetimepicker-widget table td span:hover {
            background: #eee;
        }
        .bootstrap-datetimepicker-widget table td span.active {
            background-color: $brand-info;
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
    }
}