<script>
    //声明_czc对象:
    var _czc = _czc || [];
    //绑定siteid
    _czc.push(["_setAccount", "1260394016"]);
</script>
<script>
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg)) {
            return unescape(arr[2]);
        }
        else {
            return null;
        }
    }
    // 神策统计已下线，这里保持事件，兼容未清理的统计代码
    (function (w) {
        var ifs = ['track', 'quick', 'register', 'registerPage', 'registerOnce', 'clearAllRegister', 'trackSignup', 'trackAbtest', 'setProfile', 'setOnceProfile', 'appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify', 'login', 'logout', 'trackLink', 'clearAllRegister', 'getAppStatus'];
        w.sa = {};
        for (var i = 0; i < ifs.length; i++) {
            // console.info(ifs[i]);
            w["sa"][ifs[i]] = publicFunc;
        }
        function publicFunc(param) {
            // 只有tigerwit计算到神策统计中
            // console.info("not tiger", param);
        }
    })(window);
</script>
<script>
    // 避免掉不必要的try catch
    function setGtagUserId(userId) {
        console.log('国内不需要google Analytics统计', userId)
    }

    function toGtagEvent(action) {
        console.log('国内不需要google Analytics统计')
        console.log('国内不需要facebook统计')
    };
</script>
<%if (lang.areaId != 1) {%>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '246588836047542');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=246588836047542&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code -->
<!-- 2019.01.03 -->
<!-- Facebook Pixel Code-->
<script>
    fbq('init', '2082695268476120');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=2082695268476120&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code -->
<!--here is the tracking code for the global website, we need to make sure this is implemented across every page.-->
<!-- Global site tag (gtag.js) - Google Analytics - added at 2019.06.28 -->
<!-- 接口文档 https://developers.google.com/analytics/devguides/collection/gtagjs/events -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142852435-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    // 设置用户名
    function setGtagUserId(userId) {
        gtag('config', 'UA-142852435-1', {
            'user_id': userId
        });
    }
    var user_id = getCookie('user_code');
    if (user_id) {
        setGtagUserId(user_id)
    } else {
        gtag('config', 'UA-142852435-1');
    }
    // 传递事件
    function toGtagEvent(action) {
        gtag('event', action, {
            'event_category': 'action',
            'event_label': 'catalogory'
        });
        // goog_report_conversion(action)

        // Add this to a button's onclick handler
        // FB.AppEvents.logEvent(action);
        fbq('trackCustom', action)
    };
</script>
<!-- facebook事件埋点 https://developers.facebook.com/docs/app-events/getting-started-app-events-web -->
<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2496083880613464',
      xfbml      : true,
      version    : 'v4.0'
    });
    FB.AppEvents.logPageView();
  };
</script>
<script async defer 
  src="https://connect.facebook.net/en_US/sdk.js">
</script> -->
<%}%>