@include b(master_lst) {
    @include e(bg) {
        background-color: $gray-lightest;
    }

    @include e(content) {
        border-top: 1px solid $gray;
    }

    @include e(nav) {
        margin-top: 40px;
        background-color: $gray-darker;
        border-radius: $border-radius-base;
        text-align: center;
    }

    @include e(nav_item) {
        display: block;
        color: $gray-light;
        padding: 15px 0;
    }

    @include e(ranking) {
        border: 1px solid $gray;
        border-top: none;
    }

    @include e(ranking_item) {
        height: 120px;

        &:nth-child(2n) {
            background-color: #fff;
        }
    }
}

@include b(col-1) {
    position: relative;
    float: left;
    width: percentage(1 / 8);
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    
    @include m(lg) {
        @extend .col-1;
        width: 15%;
    }
    @include m(sm) {
        @extend .col-1;
        width: 10%;
    }
}


// use for test must delete!
@include b(container) {
    width: 1080px !important;
}

