@include b(space_master) {
    @include e(title) {
        font-size: 18px;
        padding: 17px 0 14px;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        .process {
            flex: 1;
            text-align: right;
        }
        .tw-btn-md {
            text-align: center;
            width: 176px;
            font-weight: 300;
        }
    }
}
@include b(space_grade) {
    color: #4a4a4a;
    @include e(bar) {
        width: 60%;
        margin-left: 50px;
        margin-top: 60px;

        .space_sidebar__grade-bar {
            background-color: #eee;
        }
    }
    @include e(level) {
        margin-left: 50px;
        color: #c0c0c0;
        margin-top: 10px;

        .icon-grade {
            margin-left: 10px;
        }
    }
    @include e(info) {
        margin: 50px 0px 70px 50px;
        font-size: 16px;
        font-weight: 500;

        li {
            line-height: 24px;

            .t {
                display: inline-block;
                width: 200px;
            }
        }
    }
    @include e(tit) {
        padding-left: 50px;
        border-top: 1px dashed #eee;
        padding-top: 40px;
        color: #c0c0c0;
    }
    @include e(lst) {
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 20px;

        li {
            padding: 10px 0px;

            .desc {
                font-weight: 500;
                padding-left: 5px;
            }
        }
    }
    @include e(tip) {
        margin-left: 50px;

        li {
            padding: 10px 0px;
            color: #c0c0c0;
        }
    }
}

@include b(space_apply) {
    color: #4a4a4a;
    @include e(loading) {
        height: 50px;
        margin-top: 50px;
        text-align: center;

        img {
            height: 100%;
        }
    }
    @include e(content) {
        margin-top: 50px;
    }
    @include e(tip) {
        color: #c0c0c0;
    }
    @include e(list) {
        width: 60%;
        margin-left: 20%;
        margin-top: 50px;
        @include m(item) {
            width: 100%;
            background-color: #fff;
            box-shadow: 0px 0px 8px 5px #eee;
            margin-bottom: 20px;
            border-radius: 10px;
            padding: 20px 30px;
            &.active {
                background-image: linear-gradient(to bottom, #ffc500 0%, #ffd240 100%);
                background-repeat: repeat-x;
            }
            .account_title {
                margin-bottom: 18px;
                span {
                    display: inline-block;
                }
                span:nth-child(1) {
                    color: rgb(36,42,54);
                    font-size: 16px;
                    font-weight: 700;
                }
                span:nth-child(2) {
                    padding: 3px 10px 1px;
                    margin-left: 12px;
                    border: 1px solid rgb(74,144,226);
                    color: rgb(74,144,226);
                    border-radius: 12px;
                    font-size: 12px;
                }
            }
            .account_details {
                display: flex;
                li {
                    flex: 1;
                    text-align: center;
                    line-height: 22px;
                    p:nth-child(1) {
                        font-size: 18px;
                    }
                    p:nth-child(2) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    @include e(lst) {
        width: 60%;
        margin: 31px 20% 30px;

        li {
            width: 100%;
            height: 70px;
            background-color: #fff;
            border-radius: 18px;
            text-align: center;
            font-weight: 500;
            position: relative;
            display: table;
            margin-bottom: 30px;
            border: 1px solid #eee;
            span {
                display: table-cell;
                vertical-align: middle;
                padding: 0px 100px;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 52px;
                height: 52px;
                // background-image: url("/images/icon-complete.png");
            }
            &.active {
                &:before {
                    background-image: url("/images/icon-complete.png");
                }
            }

            
        }
    }
    @include e(message) {
        .message_wrapper {
            margin-left: 150px;
            margin-top: 60px;
            &.mg {
                margin-left: 0;
                margin-top: 20px;
            }
            .message_icon {
                float: left;
                height: 80px;

                img {
                    height: 100%;
                }
            }
            .message_tip {
                float: left;
                padding-left: 20px;
                width: 400px;

                .tit {
                    font-size: 22px;
                    font-weight: 500;
                    height: 30px;
                    line-height: 30px;
                }
                .reason {
                    color: #c0c0c0;
                    display: table;
                    width: 100%;
                    height: 50px;

                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }

            .message_nickname {
                > li {
                    width: 50%;
                    height: 50px;
                    line-height: 50px;
                    float: left;
                    .form-control-wrapper {
                        width: 35%;
                        display: inline-block;
                        .alert-arrow_tp_lf{
                            line-height: 16px;
                            text-align: left;
                        }
                    }
                }
            }

            .master_notice {
                p {
                    font-size: 15px;
                    line-height: 22px;
                    padding: 0 100px;
                    color: rgb(153,153,153);
                }
            }
        }
    }
}