<!DOCTYPE html>
<html style="height: 100%;">

<head>
  <% include /common/meta/h5n.html %>

  <meta name="description" content="Tigerwit get access for The global capital market。">
  <meta name="keywords" content="tigerwit，老虎外汇，Duplicate transaction，Forex，Metal，CFD">
  <title>Refer a friend</title>
</head>

<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<!--引入公用头部-->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>

<body class="<%= lang.isAr('ar-lang')%>"">
  <div class=" cashback">
  <div class="cashback__banner">
    <div class="space-between">
      <span></span>
      <select name="" id="switchLang" class="switch_lang">
        <option value="en">English</option>
        <option value="cn">简体中文</option>
        <option value="vi">Tiếng Việt</option>
        <option value="zh-Hant">繁體中文</option>
        <option value="id">Indonesia</option>
        <option value="es">Español</option>
        <option value="pt-BR">Português</option>
        <option value="ar">العربية</option>
      </select>

    </div>
    <h1 class="cashback__banner-title"><%= lang.text("referAFriend.profitFriends")%></h1>
  </div>
  <div>
    <div class="m_mg-200__bg">
      <div class="m_mg-200__two-title"><%= lang.text("referAFriend.profitFriends")%></span></div>
      <p class="">
        <%= lang.text("referAFriend.profitFriendsTip1")%>
      </p>
      <p class="mg-tp-10">
        <%= lang.text("referAFriend.profitFriendsTip2")%>
      </p>
      <div>
        <div class="m_mg-200__two-title">
          <%= lang.text("referAFriend.caraKerjanya")%>
        </div>
        <p class="m_mg-200__circle">
          <%= lang.text("referAFriend.caraKerjanya1")%>
        </p>
        <p class="m_mg-200__circle">
          <%= lang.text("referAFriend.caraKerjanya2")%>
        </p>
        <p class="m_mg-200__circle">
          <%= lang.text("referAFriend.caraKerjanya3")%>
        </p>
        <p class="mg-tp-20">
          <%= lang.text("referAFriend.caraKerjanyaTip")%>
        </p>

        <p class="mg-tp-20">
          <%= lang.text("referAFriend.startHere1")%><a href="/download"
            class="font-info"><%= lang.text("referAFriend.startHere2")%></a><%= lang.text("referAFriend.startHere3")%>
        </p>

        <p class="">
          <%= lang.text("referAFriend.registerHere1")%><a href="/?R_275=e96cabccaa0978f881f52b4560f78d8f"
            class="font-info"><%= lang.text("referAFriend.registerHere2")%></a><%= lang.text("referAFriend.registerHere3")%>
        </p>

        <div class="m_mg-200__two-title">
          <%= lang.text("referAFriend.whyTradeTigerWit")%>
        </div>
        <p class="">
          <%= lang.text("referAFriend.whyTradeTigerWitTip1")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.whyTradeTigerWitTip2")%>
        </p>
        <p class="m_mg-200__circle mg-tp-20">
          <%= lang.text("referAFriend.whyTradeTigerWit1")%>
        </p>
        <p class="m_mg-200__circle">
          <%= lang.text("referAFriend.whyTradeTigerWit2")%>
        </p>
        <p class="m_mg-200__circle">
          <%= lang.text("referAFriend.whyTradeTigerWit3")%>
        </p>

        <div class="m_mg-200__two-title">
          <%= lang.text("referAFriend.eligibilityConditions")%>
        </div>

        <p class="mg-tp-20">
          <%= lang.text("referAFriend.eligibility")%>
        </p>

        <p class="">
          <%= lang.text("referAFriend.eligibilityTip")%>
        </p>
        <p class="mg-tp-10">
          <%= lang.text("referAFriend.eligibility1")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.eligibility2")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.eligibility3")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.eligibility4")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.eligibility5")%>
        </p>

        <p class="mg-tp-20">
          <%= lang.text("referAFriend.termsConditions")%>
        </p>
        <p class="mg-tp-10">
          <%= lang.text("referAFriend.termsConditions1")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.termsConditions2")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.termsConditions3")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.termsConditions4")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.termsConditions5")%>
        </p>
        <p class="">
          <%= lang.text("referAFriend.termsConditions6")%>
        </p>
      </div>
    </div>
  </div>
  </div>
</body>
<script>
  setLang()
</script>

</html>