<div class="t36_game">
    <div class="t36_game__page1">
        <div class="t36_game__page1-logo">
            <img src="/images/bd_t36/t36_logo.png">
        </div>
        <div class="t36_game__page1-focus">
            <span>2017年4月1日----6月30日（每周日联众赛事当日进行）</span>
        </div>
        <div class="t36_game__page1-cont">
            <div class="page1_btn">
                <img class="btn-togame" src="/images/bd_t36/to_game.png">
                <img class="btn-login" src="/images/bd_t36/to_login.png">
            </div>
        </div>
        <div class="t36_game__page1-tip">
            <img class="btn-tip" src="/images/bd_t36/page1_tip.png">
            <p>老虎外汇为CMPT赛事2017-2018年度金融类独家合作伙伴</p>
        </div>
        <div id="layer-tip" style="display: none;">
            <p>1. 活动时间：CMPT赛事直播可进行抽奖；</p>
            <p>2. 本次抽奖活动仅针对新注册用户，老用户中奖无法领取奖励；</p>
            <p>3. 每个微信账号共计三次抽奖机会，每参与一次抽奖即消耗一次抽奖机会，领奖后抽奖机会统一清零；</p>
            <p>4. 参与CMPT官方竞猜的获奖者，如重复中奖仅享受其中一个最大值红包奖励；</p>
            <p>5. 中奖用户注册后可在老虎外汇app“红包中心”查看中奖红包；</p>
            <p>6. 中奖红包需完成兑现要求即可兑现支取；</p>
            <p>7. 若有用户存在恶意刷奖行为，老虎外汇有权取消其中奖资格</p>
            <p>8. 老虎外汇享有最终解释权，若有疑问，请咨询在线客服，或者拨打400 - 809 - 8509</p>
            <p>9.本活动与苹果公司无关；</p>
            <p>10.中奖者需在抽奖日进行领奖，非抽奖日无法领奖，且活动期内最后一个抽奖日之后未领奖视为放弃。</p>
        </div>
    </div>
    <div class="t36_game__page2">
        <div class="t36_game__page2-logo">
            <img src="/images/bd_t36/t36_logo.png">
        </div>
        <div class="t36_game__page2-award">
            <img src="/images/bd_t36/page2_award.png">
        </div>
        <div class="t36_game_box_wrapper">
            <div class="game_chance">
                <span>您有</span>
                <img class="num0 active" src="/images/bd_t36/num0.png">
                <img class="num1" src="/images/bd_t36/num1.png">
                <img class="num2" src="/images/bd_t36/num2.png">
                <img class="num3" src="/images/bd_t36/num3.png">
                <span>次抽奖机会</span>
            </div>
            <div class="t36_game_box">
                <ul class="t36_game_box__list clearfix">
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn-start"></div>
        </div>
        <div class="t36_game__page2-list">
            <ul class="navbar clearfix">
                <li>手机号</li>
                <li>红包</li>
                <li>姓名</li>
            </ul>
            <!-- <ul class="content">
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
            </ul> -->
            <div class="content text-center">
                稍后公布，敬请期待...
            </div>
        </div>
    </div>
    <div class="t36_game__page3">
        <div class="t36_game__page3-logo">
            <img src="/images/bd_t36/t36_logo.png">
        </div>
        <div class="t36_game__page3-focus"></div>
        <div class="t36_game__page3-reg">
            <form>
                <div class="telephone">
                    <input type="tel" placeholder="手机号">
                </div>
                <div class="verify_code">
                    <input type="text" pattern="[0-9]*" placeholder="验证码">
                    <span class="verify_code_btn">验证码</span>
                </div>
                <div class="password">
                    <input type="password" placeholder="密码">
                </div>
            </form>
        </div>
        <div class="btn-register">马上领奖</div>
        <div class="t36_game__page3-tel">
            客服电话：400-809-8509
        </div>
    </div>
</div>