<div class="t36_game">
    <div class="t36_game__page1">
        <div class="t36_game__page1-logo">
            <img src="/images/bd_t36/t36_logo.png">
        </div>
        <button class="btn-login">微信登陆</button>
        <button class="btn-togame">马上抽奖</button>
    </div>
    <div class="t36_game__page2">
        <div class="t36_game__page2-logo">
            <img src="/images/bd_t36/t36_logo.png">
        </div>
        <div class="t36_game__page2-award">
            <img src="/images/bd_t36/page2_award.png">
        </div>
        <div class="t36_game_box_wrapper">
            <div class="game_chance">
                <span>您有</span>
                <img class="num0 active" src="/images/bd_t36/num0.png">
                <img class="num1" src="/images/bd_t36/num1.png">
                <img class="num2" src="/images/bd_t36/num2.png">
                <img class="num3" src="/images/bd_t36/num3.png">
                <span>次抽奖机会</span>
            </div>
            <div class="t36_game_box">
                <ul class="t36_game_box__list clearfix">
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="select">
                            <span></span>
                        </div>
                        <div class="ready">
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn-start"></div>
        </div>
        <div class="t36_game__page2-list">
            <ul class="navbar clearfix">
                <li>手机号</li>
                <li>红包</li>
                <li>姓名</li>
            </ul>
            <!-- <ul class="content">
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
                <li class="clearfix">
                    <span>133****1234</span>
                    <span>$500红包</span>
                    <span>名字必须要长说的对</span>
                </li>
            </ul> -->
            <div class="content text-center">
                稍后公布，敬请期待...
            </div>
        </div>
    </div>
    <div class="t36_game__page3">
        page3
    </div>
</div>