<!DOCTYPE html>
<html lang="en" class="bd_t33">

<head>
    <meta charset="UTF-8">
    <% include /common/meta/web.html %>
    <title><%=lang.text("companyZhName")%>｜德州扑克</title>
    <% include /common/vendor/web.css.html %>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->

    <% include /common/statistic/main.html %>
    <% include /common/vendor/web.js.html %>
</head>

<body ng-app="fullstackApp" class="bd_t36_pc has_navBar">
<div class="layer_content">
    <div class="active_code">
        <img src="/images/bd/t36_m_code.png" alt="">
        <br>
        <span class="close_layer"></span>
    </div>
</div>
<div ng-controller="GlobalController">
    <% include /common/nav/web.header.html %>
    <div class="t36_pc_layout">
        <div class="gradient_layer">
            <div class="matters">
                <div class="con_box center">
                    <h2>注意事项：</h2>
                    <p> <span> 1.</span> 活动时间：CMPT赛事直播当日可进行抽奖；</p>
                    <p> <span> 2.</span> 本次抽奖活动仅针对新注册用户，老用户中奖无法领取奖励；</p>
                    <p> <span> 3.</span> 每个微信账号共计三次抽奖机会，每参与一次抽奖即消耗一次抽奖机会，领奖后抽奖机会统一清零；</p>
                    <p> <span> 4.</span> 参与CMPT官方竞猜的获奖者，如重复中奖仅享受其中一个最大值红包奖励；</p>
                    <p> <span> 5.</span> 中奖用户注册后可在<%=lang.text("companyZhName")%>app“红包中心”查看中奖红包；</p>
                    <p> <span> 6.</span> 中奖红包需完成兑现要求即可兑现支取；</p>
                    <p> <span> 7.</span> 若有用户存在恶意刷奖行为，<%=lang.text("companyZhName")%>有权取消其中奖资格</p>
                    <p> <span> 8.</span> <%=lang.text("companyZhName")%>享有最终解释权，若有疑问，请咨询在线客服，或者拨打<%=lang.text("telephone")%></p>
                    <p> <span> 9.</span> 本活动与苹果公司无关；</p>
                    <p> <span> 10.</span> 中奖者需在抽奖日进行领奖，非抽奖日无法领奖，且活动期内最后一个抽奖日之后未领奖视为放弃。</p>
                </div>
            </div>
            <div class="t36_main center twLayout clearfix">
                <div class="t36_main__banner center">
                    <img src="/images/bd/t36_banner.png" class="center" draggable="false">
                    <span class="getNow1 showCode"></span>
                    <p class="act_time">
                        <span>2017年4月1日——6月30日（每周日联众赛事当日进行）</span><br>
                        <span><%=lang.text("companyZhName")%>为CMPT赛事2017-2018年度的金融科技类独家合作伙伴&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </p>
                </div>
                <div class="t36_main__redbag center">
                    <ul class="clearfix">
                        <li>
                            <p class="p1"><span>一等奖</span><span>摇中四条</span></p>
                        </li>
                        <li>
                            <p><span>二等奖</span><span>摇中顺子</span></p>
                        </li>
                        <li>
                            <p class="p3"><span>三等奖</span><span>摇中三条</span></p>
                        </li>
                    </ul>
                </div>
                <div class="t36_main__gammer center">
                    <img src="/images/bd/t36_gammer.png" class="center" draggable="false">  
                    <span class="start_game center showCode" id="start_game"></span>                  
                </div>
                <div class="t36_main__table center">
                    <ul  id="award_list">
                        <li class="head">
                            <span>用户昵称</span>
                            <span>红包</span>
                        </li>
                        <ul id="template">
                            <li class="list">正在获取获奖名单...</li>
                        </ul>
                    </ul>
                </div>
                <img src="/images/bd/t36_advantages.png" class="t36_main__advantages" draggable="false">
            </div>
            <div class="footerbg clearfix" style="padding: 0">
                <div class="footer-wrap" data-scroll-reveal="enter bottom, move 40px, over 1s, wait 0.53s">
                     <%if(lang.isCompany("tigerwit")) {%>
                        <div class="t27_code">
                            <img src="/images/bd/t30_code_min.png" draggable="false"/>
                            <p>APP下载二维码</p>
                        </div>
                    <% } %>
                    <p>
                        风险警示：市场有风险，投资需谨慎。金融市场的保证金交易存在较高风险，不适合所有投资者，增大杠杆意味着高风险与高收益并存。在您决定交易前，应当谨慎考虑您的投资目标、投资经验及风险承受能力，并选择适合自己的投资方式；您需要知晓金融市场的保证金交易具有全部或部分亏损的可能。<%= lang.text('companyZhName')%>交易平台为广大交易高手及普通投资者提供复制交易服务，网站发布的任何信息，包括实时交易提醒、投资文章及其他资源等均来自互联网所有用户需仔细考量并权衡投资风险及安全性。交易高手的历史交易数据不代表未来操作能力，用户因此所产生的任何风险需自己承担。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script id="award_table" type="text/template">
        <$if(list.length > 0){$>
            <$for(var i=0; i<list.length; i++){$>
                <li class="list">
                    <span><$=(list[i].nickname || '未知昵称')$></span>
                    <span><$='$' + (list[i].amount || '') + '红包'$></span>
                </li>
            <$}$>
        <$} else {$>
           <li class="list">
                暂无获奖名单...
            </li>
        <$}$>
    </script>
    <!-- build:js(client) /scripts/bd_t36.js -->
    <script src="/scripts/common/config.service.js"></script>
    <script src="/scripts/common/account.service.js"></script>
    <script src="/scripts/common/authorization.service.js"></script>
    <script src="/scripts/common/navbar.directive.js"></script>
    <script src="/scripts/common/dropdown.directive.js"></script>
    <script src="/scripts/common/global.controller.js"></script>
    <script src="/scripts/common/loading_img.directive.js"></script>
    <script src="/scripts/common/modal.js"></script>
    <script src="/scripts/common/pagination.directive.js"></script>
    <script src="/scripts/common/duration.filter.js"></script>
    <script src="/scripts/common/transition.service.js"></script>
    <script src="/scripts/common/symbol_mod.filter.js"></script>
    <script src="/scripts/common/trader.service.js"></script>
    <script src="/scripts/bd/t30/check.js"></script>
    <script src="/scripts/common/lang.service.js"></script>
    <script src="/scripts/common/lang_data.service.js"></script>
    <script src="/scripts/common/redbag.service.js"></script>
    <script src="/scripts/bd/t36/t36_pc_game.js"></script>
    <script src="/scripts/plugins/baiduTemplate.js"></script>
    <!-- endbuild -->
</div>
</body>

</html>