<div class="sys_modal">
    <p class="clearfix">
        <button class="close" ng-click="closeModal()">&times;</button>
    </p>

    <div>
        <h5 class="sys_modal__title">
            提示
        </h5>
        <div class="sys_modal__add_account mg-tp-40">
            <div class="text-center">
                {{ 123 }}
            </div>
        </div>

        <div class="mg-tp-30 mg-bt-30 pd-tp-30 pd-bt-30 text-center">
            <button class="tw-btn tw-btn-lg162 tw-btn-capsule-gradient" ng-click="closeModal()">
                确定
            </button>
        </div>
    </div>

</div>

