<!-- <div tw-guide data-src-list="src" data-guide-type="center"></div> -->
<div class="space_center_statistics">
    <ul class="space_center_statistics__title">
        <li class="space_center_statistics__title-item">${{ assetInfo.total_balance || '--' }}</li>
        <li class="space_center_statistics__title-item">{{lang.text('tigerWitID.myAccount.totalAssets')}}</li>
    </ul>
    <ul class="space_center_statistics__list">
        <li class="space_center_statistics__list-item">
            <div>{{ assetInfo.total_volume || '0.00' }}</div>
            <div>{{lang.text('tigerWitID.myAccount.totalLots')}}</div>
        </li>
        <li class="space_center_statistics__list-item"></li>
        <li class="space_center_statistics__list-item">
            <div ng-class="{'font-danger': assetInfo.total_profit.indexOf('-') < 0, 'font-success': assetInfo.total_profit.indexOf('-') >= 0}">${{ assetInfo.total_profit || '0.00' }}</div>
            <div>{{lang.text('tigerWitID.myAccount.totalEarnings')}}</div>
        </li>
        <!-- <li class="space_center_statistics__list-item" ></li>
        <li class="space_center_statistics__list-item">
            <div ng-class="{'font-danger': assetInfo.profit_rate.indexOf('-') < 0, 'font-success': assetInfo.profit_rate.indexOf('-') >= 0}">{{ assetInfo.profit_rate || '0.00' }}%</div>
            <div>{{lang.text('tigerWitID.myAccount.totalProfitRate')}}总收益率</div>
        </li> -->
    </ul>
</div>

<div class="space_center_summary">
    <ul class="space_center_summary__list clearfix">
        <li class="space_center_summary__list-item" ng-class="{'not-active': assetInfo.trade_user_status === 0}">
            <!-- <a ui-sref="space.center.invest.home"> -->
                <p class="summary_name">{{lang.text('tigerWitID.myAccount.tradingAccount')}}</p>
                <p class="summary_btn" ng-if="assetInfo.trade_user_status === 0"><a ng-click="openDredgeMdl({position: 'sidebar'})"><i class="add-o" ng-style="{marginRight: lang.isEnglish() ? '5px' : ''}"></i>{{lang.text('tigerWitID.myAccount.quickOpenAccount')}}</a></p>
                <span ng-if="assetInfo.trade_user_status !== 0">
                    <p class="summary_amount">${{ assetInfo.trade_balance || '--' }}</p>
                    <p class="summary_btn" ng-if="assetInfo.trade_user_status === 2"><span><a ui-sref="authen.subpage({subpage: 'investInfo'})">{{lang.text('tigerWitID.myAccount.upgradeToLiveAccount')}} &gt;</a></span></p>
                    <p class="summary_btn" ng-if="assetInfo.trade_user_status === 1">
                        <span class="line" ng-class="{'en': lang.isEnglish()}"><a ui-sref="space.asset.subpage({ subpage: 'deposit' })">{{lang.text('tigerWitID.depositWithdrawal.deposit')}}</a></span>
                        <span class="line" ng-class="{'en': lang.isEnglish()}"><a ui-sref="space.asset.subpage({ subpage: 'withdraw' })">{{lang.text('tigerWitID.depositWithdrawal.withdrawal')}}</a></span>
                        <span ng-class="{'en': lang.isEnglish()}"><a ui-sref="space.center.invest.home">{{lang.text('tigerWitID.details.title')}}</a></span>
                    </p>
                </span>
            <!-- </a> -->
        </li>
        <li class="space_center_summary__list-item" ng-class="{'not-active': assetInfo.wallet_user_status === 0}">
            <!-- <a ui-sref="space.center.wallet.subpage({ subpage: 'summary'})"> -->
                <p class="summary_name">{{lang.text('tigerWitID.myAccount.wallet')}}</p>
                <p class="summary_btn" ng-if="assetInfo.wallet_user_status === 0"><a ng-click="notActiveModal()">{{lang.text('tigerWitID.myAccount.unactivated')}}</a></p>
                <span ng-if="assetInfo.wallet_user_status === 1">
                    <p class="summary_amount">${{ assetInfo.wallet_balance || '--' }}</p>
                    <p class="summary_btn" >
                        <span class="line" ng-class="{'en': lang.isEnglish()}"><a ui-sref="space.asset.subpage({ subpage: 'deposit', account: 'wallet'})">{{lang.text('tigerWitID.depositWithdrawal.deposit')}}</a></span>
                        <span class="line" ng-class="{'en': lang.isEnglish()}"><a ui-sref="space.asset.subpage({ subpage: 'withdraw', account: 'wallet'})">{{lang.text('tigerWitID.depositWithdrawal.withdrawal')}}</a></span>
                        <span ng-class="{'en': lang.isEnglish()}"><a ui-sref="space.center.wallet.subpage({ subpage: 'summary'})">{{lang.text('tigerWitID.details.title')}}</a></span>
                    </p>
                </span>
            <!-- </a> -->
        </li>
        <li class="space_center_summary__list-item" ng-class="{'not-active': assetInfo.agent_user_status === 0}">
            <!-- <a ui-sref="space.agent"> -->
                <p class="summary_name">{{lang.text('tigerWitID.partner.title')}}</p>
                <p class="summary_btn" ng-if="assetInfo.agent_user_status === 0"><a ui-sref="space.agent">{{lang.text('tigerWitID.myAccount.unactivated')}}</a></p>
                <span ng-if="assetInfo.agent_user_status === 1">
                    <p class="summary_amount">${{ assetInfo.agent_balance || '--' }}</p>
                    <p class="summary_btn" >
                        <span class="line" ng-class="{'en': lang.isEnglish()}"><a ui-sref="space.asset.subpage({ subpage: 'withdraw'})">{{lang.text('tigerWitID.depositWithdrawal.withdrawal')}}</a></span>
                        <span ng-class="{'en': lang.isEnglish()}"><a ng-href="{{lang.isDemo()?'https://ibdev.tigerwit.com':'https://ib.tigerwit.com'}}" target="_blank">{{lang.text('tigerWitID.details.title')}}</a></span>
                    </p>
                </span>
            <!-- </a> -->
        </li>
    </ul>
</div>

<!-- <div class="space_center_trading" ng-if="personal.basic === 'center.index' || personal.basic === 'center.invest.subpage'">
    <div class="row">
        <div class="col-xs-5">
            <div class="block_title">交易账户</div>
        </div>
        <div class="col-xs-7">
            <div class="block_btn_group text-right">
                <a ui-sref="space.asset.subpage({ subpage: 'deposit'})" class="tw-btn tw-btn-capsule-gradient tw-btn-md">充值</a>
                <a ui-sref="space.asset.subpage({ subpage: 'withdraw' })" class="tw-btn tw-btn-capsule-bordered tw-btn-md">提现</a>
                <a ng-if="personal.basic === 'center.index'" ui-sref="space.center.invest.subpage({ subpage: 'current'})" class="tw-btn tw-btn-capsule-bordered tw-btn-md">查看明细</a>
                <a ng-if="personal.basic === 'center.invest.subpage'" ui-sref="space.center.index" class="tw-btn tw-btn-capsule-bordered tw-btn-md">返回</a>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="trading_details clearfix">
            <li>
                <p class="num">${{ personal.equity || '0.00' }}</p>
                <p class="tip">资产净值</p>
            </li>
            <li>
                <p class="num">${{ personal.credit || '0.00' }}</p>
                <p class="tip">信用赠金</p>
            </li>
            <li>
                <p class="num">${{ personal.margin_free || '0.00' }}</p>
                <p class="tip">可用保证金</p>
            </li>
            <li class="noLine">
                <p class="num">{{ personal.margin_level || '0.00' }}%</p>
                <p class="tip">保证金比例</p>
            </li>
            <li>
                <p class="num">{{ personal.total_volume || '0.00' }}</p>
                <p class="tip">总交易手数</p>
            </li>
            <li ng-mouseenter="show_close_profit=true" ng-mouseleave="show_close_profit=false" ng-class="{'active':show_close_profit}">
                <p class="num" ng-class="{'font-danger': personal.profit.indexOf('-') < 0, 'font-success': personal.profit.indexOf('-') >= 0}">${{ personal.profit || '0.00' }}</p>
                <p class="tip">历史总收益</p>
                <p class="space_center_hint">{{lang.text('tigerWitID.tradingAccount.tip21')}}</p>
            </li>
            <li>
                <p class="num" ng-class="{'font-danger': personal.floating_profit.indexOf('-') < 0, 'font-success': personal.floating_profit.indexOf('-') >= 0}">${{ personal.floating_profit || '0.00' }}</p>
                <p class="tip">浮动盈亏</p>
            </li>
            <li class="noLine">
                <p class="num" ng-class="{'font-danger': personal.profit_rate.indexOf('-') < 0, 'font-success': personal.profit_rate.indexOf('-') >= 0}">{{ personal.profit_rate || '0.00' }}%</p>
                <p class="tip">总收益率</p>
            </li>
        </ul>
    </div>
</div> -->

<!-- <div class="space_block" ng-class="{'gapped': personal.basic != 'center.wallet.subpage'}" ng-if="personal.basic === 'center.index'">
    <div class="row">
        <div class="col-xs-3">
            <div class="block_title">钱包</div>
        </div>
        <div class="col-xs-9">
            <div class="block_btn_group text-right">
                <a ui-sref="space.asset.subpage({ subpage: 'deposit', account: 'wallet'})" class="tw-btn tw-btn-capsule-gradient tw-btn-md">划入交易账户</a>
                <a ui-sref="space.asset.subpage({ subpage: 'withdraw', account: 'wallet'})" class="tw-btn tw-btn-capsule-bordered tw-btn-md">提现</a>
                <a ng-if="personal.basic === 'center.index'" ui-sref="space.center.wallet.subpage({ subpage: 'summary'})" class="tw-btn tw-btn-capsule-bordered tw-btn-md">查看明细</a>
                <a ui-sref="space.center.wallet.subpage({ subpage: 'summary'})" class="tw-btn tw-btn-capsule-bordered tw-btn-md">管理银行卡</a>
                <a ng-if="personal.basic === 'center.wallet.subpage'" ui-sref="space.center.index" class="tw-btn tw-btn-capsule-bordered tw-btn-md">返回</a>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="block_tips">高手分成收益与代理商佣金收益会存入钱包，您可以提现或划入交易账户。</p>
    </div>
</div> -->