<div class="sys_modal_v2 slim_case">
    <button class="close" ng-click="closeModal()">&times;</button>

    <h5 class="sys_modal_v2__title">
        {{lang.text('tigerWitID.prompt')}}
    </h5>

    <div class="sys_modal_v2__content">
        <p class="sys_modal_v2__info mg-bt-15">
            {{message}}
        </p>

        <p class="btn_wrapper mg-bt-15">
            <a class="btn btn-primary-gradient btn-sm" ng-click="closeModal()" ui-sref="space.asset.subpage({subpage: 'evidence'})">
                {{lang.text('tigerWitID.depositWithdrawal.uploadVoucher')}}
            </a>
        </p>
    </div>
</div>
