<div class="space_nav">
    <!-- toState为global.controller 中的 $scope.toState -->
    <ul class="space_nav__box" ng-show="toState.name == 'space.master.subpage'">
        <li class="space_nav__box-item active">
            <a>申请高手</a>
        </li>
    </ul>

    <ul class="space_nav__box" ng-if="toState.name == 'space.center.index'">
        <li class="space_nav__box-item active">
            <a>账户概况</a>
        </li>
    </ul>
    <ul class="space_nav__box" ng-if="toState.name == 'space.center.invest.subpage'">
        <li class="space_nav__box-item" ui-sref-active="active">
            <a ui-sref="space.center.invest.subpage({subpage: 'current'})">当前交易</a>
        </li>
        <li class="space_nav__box-item" ui-sref-active="active">
            <a ui-sref="space.center.invest.subpage({subpage: 'history'})">历史交易</a>
        </li>
        <li class="space_nav__box-item" ui-sref-active="active">
            <a ui-sref="space.center.invest.subpage({subpage: 'summary'})">数据统计</a>
        </li>
        <li class="space_nav__box-item" ui-sref-active="active">
            <a ui-sref="space.center.invest.subpage({subpage: 'record'})">资金记录</a>
        </li>
    </ul>
    <ul class="space_nav__box" ng-if="toState.name == 'space.center.wallet.subpage'">
        <li class="space_nav__box-item active">
            <a>零钱包</a>
        </li>
    </ul>
    
    <ul class="space_nav__box" ng-show="toState.name == 'space.asset.subpage'">
        <li class="space_nav__box-item" ui-sref-active="active">
            <a ui-sref="space.asset.subpage({subpage: 'deposit'})">充值</a>
        </li>
        <li class="space_nav__box-item" ui-sref-active="active">
            <a ui-sref="space.asset.subpage({subpage: 'withdraw'})">提现</a>
        </li>
        <li class="space_nav__box-item" ui-sref-active="active">
            <a ui-sref="space.asset.subpage({subpage: 'evidence'})">凭证记录</a>
        </li>
    </ul>

    <ul class="space_nav__box" ng-show="toState.name == 'space.bonus'">
        <li class="space_nav__box-item active">
            <a>复制和分成</a>
        </li>
    </ul>

    <ul class="space_nav__box" ng-show="toState.name == 'space.redbag.subpage'">
        <li class="space_nav__box-item" ui-sref-active="active">
            <a ui-sref="space.redbag.subpage({subpage: 'own'})">我的红包</a>
        </li>
    </ul>

    <ul class="space_nav__box" ng-show="toState.name == 'space.invite'">
        <li class="space_nav__box-item active">
            <a>邀请好友</a>
        </li>
    </ul>

    <ul class="space_nav__box" ng-show="toState.name == 'space.notice.subpage'">
        <li class="space_nav__box-item" ng-class="{ 'red_point': personal.unreadMsg.trade > 0 }" ui-sref-active="active">
            <a ui-sref="space.notice.subpage({subpage: 'trade'})">交易提醒</a>
        </li>
        <li class="space_nav__box-item" ng-class="{ 'red_point': personal.unreadMsg.system > 0 }" ui-sref-active="active">
            <a ui-sref="space.notice.subpage({subpage: 'system'})">系统提醒</a>
        </li>
    </ul>

    <ul class="space_nav__box" ng-show="toState.name == 'space.setting.subpage'">
        <li class="space_nav__box-item active">
            <a>修改资料</a>
        </li>
    </ul>
    
    <div class="space_nav__prompt">
        <a  
            ng-if="personal.dredged_type == 'live' && personal.verify_status < 5"
            ui-sref="authen.subpage({subpage: 'investInfo'})"
            class="link">
            您的帐户尚未完成认证审核，将无法进行交易和资金相关操作，点击此处完成审核。
        </a>
        <p ng-if="personal.dredged_type == 'demo' && personal.verify_status < 5" class="font-danger">
            您当前账户为体验金账户，升级至真实账户只需两步：
            <a class="link" ui-sref="authen.subpage" ng-click="toAuthenTypeSensorsdata('真实账户')">1.完整填写个人信息</a> &nbsp;&nbsp;
            <a class="link" ui-sref="space.asset.subpage({subpage: 'deposit'})">2.充值激活</a>
        </p>
    </div>
</div>