<div class="space_sidebar mg-tp-30">
    <div class="space_sidebar__info">
        <div class="space_sidebar__avatar">
            <a ui-sref="space.invest.subpage({subpage: 'current'})">
                <img ng-src="{{ personal.lgAvatar }}">
            </a>
        </div>
        <div class="space_sidebar__user">
            <span class="space_sidebar__user-username">{{ personal.username }}</span>
            <!-- <span class="space_sidebar__user-position">
                <i class="fa fa-map-marker"></i>
                {{ personal.region.city_name || personal.region.state_name || personal.region.world_name || '中国' }}
            </span> -->
        </div>
        <div class="row space_sidebar__verify">
            <div class="col-xs-6 bar">
                <div new-scale-bar data-type="spaceSidebar"></div>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-gray btn-gray-sm" ui-sref="space.setting.subpage({subpage: 'verify'})" ng-if="personal.verifiedStatus === 0 || verifiedStatus === 1">
                    实名认证
                </a>

                <a class="btn btn-gray btn-gray-sm" ng-disabled="true" ng-if="personal.verifiedStatus === 2">
                    审核中
                </a>

                <a class="btn btn-gray btn-gray-sm" ui-sref="space.setting.subpage({subpage: 'info'})" ng-if="personal.verifiedStatus === 3 && personal.infoDegree < 100">
                    完善资料
                </a>

                <a class="btn btn-gray btn-gray-sm" ng-if="personal.verifiedStatus === 3 && personal.infoDegree === 100">
                    已认证
                </a>
            </div>
        </div>
        <!-- <div class="space_sidebar__data">
            <a class="btn btn-primary btn-sm" ui-sref="space.setting.subpage({subpage: 'info'})">完善个人资料 ></a>
        </div> -->
        <div ng-if="personal.master" class="space_sidebar__copy">
            复制高手：0
        </div>
        <div ng-if="!personal.master" class="space_sidebar__copy">
            复制高手：{{ personal.copy_num }}
        </div>
        <div class="space_sidebar__real">
            MT4 真实账户：{{ personal.real_id }}
        </div>
        <div class="space_sidebar__demo">
            MT4 模拟账户：{{ personal.demo_id }}
        </div>
    </div>

    <ul class="side_navbar">
        <li>
            <h4 class="side_navbar__title">账户</h4>

            <ul class="side_navbar__menu">
                <li ui-sref-active="active">
                    <a ui-sref="space.invest.subpage">
                        账户概况
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="space.asset.subpage">
                        充值/提现
                    </a>
                </li>
                <li ng-if="personal.disable" ui-sref-active="active">
                    <a ui-sref="space.bonus">复制和分成</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="space.invite">邀请好友</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="space.notice">
                        系统消息
                        <span class="space_sidebar__mes-num" ng-if="personal.unreadLength > 0">{{personal.unreadLength}}</span>
                    </a>

                </li>
                <li ui-sref-active="active">
                    <a ui-sref="space.setting.subpage">账户设置</a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <h4 class="side_navbar__title">投资顾问</h4>
        </li> -->
    </ul>
</div>
