<div class="space_sidebar mg-tp-30">
    <div class="space_sidebar__info">
        <div class="space_sidebar__avatar">
            <img ng-src="{{ personal.lgAvatar }}">
        </div>
        <div class="space_sidebar__user">
            <span class="space_sidebar__user-username">{{ personal.username }}</span>
            <span class="space_sidebar__user-position">
                <i class="fa fa-map-marker"></i>{{ personal.position || '乌鲁木齐' }}
            </span>
        </div>
        <div class="row space_sidebar__verify">
            <div class="col-xs-6 bar">
                <div tw-scale-bar data-type="spaceSidebar"></div>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-gray btn-gray-sm" href="" ng-if="personal.verifiedStatus === 0 || verifiedStatus === 1">
                    实名认证
                </a>

                <a class="btn btn-gray btn-gray-sm" href="" ng-disabled="true" ng-if="personal.verifiedStatus === 2">
                    认证审核中
                </a>

                <a class="btn btn-gray btn-gray-sm" href="" ng-if="personal.verifiedStatus === 3">
                    存入资金
                </a>
            </div>
        </div>
        <div class="space_sidebar__data">
            <a class="btn btn-primary btn-sm" href="">完善个人资料 ></a>
        </div>
        <div class="space_sidebar__real">
            MT4 真实账户：{{ personal.real_id }}
        </div>
    </div>

    <ul class="side_navbar">
        <li>
            <h4 class="side_navbar__title">账户</h4>

            <ul class="side_navbar__menu">
                <li ui-sref-active="active">
                    <a ui-sref="space.invest.subpage">
                        账户概况
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="space.asset.subpage">
                        充值/提现
                    </a>
                </li>
                <li>
                    <a href="">复制和分成</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="space.invite">邀请好友</a>
                </li>
                <li>
                    <a href="">系统消息</a>
                    <a class="space_sidebar__mes-num" ng-if="personal.unreadLength > 0">{{personal.unreadLength}}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="space.setting.subpage">账户设置</a>
                </li>
            </ul>
        </li>
        <li>
            <h4 class="side_navbar__title">投资顾问</h4>
        </li>
    </ul>
</div>
