<div class="sys_modal_v2 slim_case">
    <button class="close" ng-click="closeModal()">&times;</button>

    <div class="sys_modal_v2__title">
        {{lang.text('tigerWitID.systemPrompt')}}
    </div>

    <div class="sys_modal_v2__content">
        <p class="sys_modal_v2__info mg-bt-15">
            {{message}}
        </p>

        <p class="btn_wrapper mg-bt-15">
            <a class="btn btn-primary-gradient btn-sm" ng-click="closeModal()" ui-sref="space.center.invest.subpage({ subpage: 'current' })">
              {{lang.text('common_checkOrders')}}
            </a>
        </p>
    </div>
</div>
