<!doctype html>
<html>
    <head>
        <% include common/metas.html %>

        <title><%=lang.text("title")%> 直通全球资本市场</title>
        <meta name="description" content="<%=lang.text("companyZhName")%>倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">

        <% include vendor.css.html %>


        <!-- build:css(.tmp) /styles/404.css -->
        <link rel="stylesheet" href="/styles/study.css">
        <!-- endbuild -->

        <% include common/common_header.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>

            <div class="body">
                <div class="layout-2">
                    <div style="height: 575px; background: url('/images/404.png') no-repeat; background-position: center center; margin-top: 50px; margin-bottom: 50px;">
                        <p style="text-align: center; font-size: 24px; padding-top: 360px; padding-left: 154px; color: #666;">
                            别着急，点击
                            <a href="/" style="color: #fe5f5f;">这里</a>
                            就可以找到出路
                        </p>
                    </div>
                </div>
            </div>

        <% include vendor.js.html %>


        <!-- build:js(client) /scripts/404.js -->

        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/transition.service.js"></script>
        <script src="/scripts/common/validator.service.js"></script>
        <script src="/scripts/common/market.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/form_select.directive.js"></script>
        <script src="/scripts/common/media.directive.js"></script>
        <script src="/scripts/common/dropdown_knowledge.directive.js"></script>

        <script src="/scripts/common/modal.js"></script>

        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/study/video.controller.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
    </body>
</html>
