<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include common/m_common_head.html %>

<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<!--插入BGM-->
<audio src="/activity/t31_game/game_bgm.mp3" loop="" id="audio"></audio>
<!--引入原生API + 根据屏幕宽度改变根节点字体大小.js-->
<% include common/m_css_vendor.html %>
<% include common/common_header.html %>
<body>

<div class="t31_game_layout">
    <%- include('bd/t31/t31_game.html')%>
</div>

</body>
<!-- build:js(client) /scripts/m_vendor.js -->
<script src="/bower_components/jquery-3.0.0.min/index.js"></script>
<script src="/scripts/plugins/base64code.js"></script>
<script src="/scripts/plugins/jquery.tap.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<!-- endbuild -->
<!-- build:js(client) /scripts/m_t31_game.js -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/scripts/bd/t31/t31_game.js"></script>
<script src="/scripts/bd/t31/t31_game_wxConfig.js"></script>
<!-- endbuild -->
<!-- H5公共footer -->
<!--<%- include('common/m_footer.html') %>-->
</html>
