<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>老虎金融｜注册送100＋100美金赠金，还有机会领取iphone6s！</title>
    <!-- build:css(client) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/bower_components/mediaelement/build/mediaelementplayer.css">
    <link rel="stylesheet" href="/bower_components/swiper/dist/idangerous.swiper.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) /styles/h5_m7.css -->
    <link rel="stylesheet" href="/styles/h5_m7.css">
    <!-- endbuild -->
</head>
<body>
<div class="m7_layout">
    <img class="m7_navbar" src="/images/bd/m7_navbar.png" alt="">
    <div class="main">
        <div class="top_part">
            <img class="m7_head_bg" width="100%" src="/images/bd/m7_head.png" alt="bg">
            <span class="activity_rule_button"></span>
        </div>
        <div class="m7_reg">
            <h4>在老虎金融,已经有<span class="documentary_count"> 86523</span>&nbsp;人选择外汇跟单交易</h4>
            <p>注册帐号尾号为 "888" 均 <span>赠送小米手环</span>一个</p>
            <form class="reg_box">
                <input type="text" name="username" id="username" placeholder="昵称">
                <input type="text" name="tel" id="telephone" placeholder="电话">
                <input type="text" name="email" id="email" placeholder="邮箱">
                <span id="regist_btn">立即领取</span>
            </form>
        </div>
        <div class="m7_win">
            <h4 class="m7_title">来老虎金融,赢超级大奖</h4>
            <ul>
                <li><img src="/images/bd/t30_iphoto6s.png" alt="iphone"><span>iphone 6s&nbsp;&nbsp;3部</span></li>
                <li><img src="/images/bd/t30_ipadmini4.png" alt="ipad"><span>ipad mini&nbsp;&nbsp;10台</span></li>
                <li><img src="/images/bd/t30_jdshoptag.png" alt="京东购物卡"><span>京东购物卡&nbsp;&nbsp;20张</span></li>
                <li><img src="/images/bd/t30_fire.png" alt="便携式挂烫机"><span>便携式挂烫机&nbsp;&nbsp;50台</span></li>
                <li><img src="/images/bd/t30_miring.png" alt="小米手环"><span>小米手环 100个</span></li>
                <li>
                    <p>免费送</p>
                    <p>帐号尾号为"888"</p>
                    <p>均赠送小米手环一个</p>
                    <p>（仅限2016年8月1日-8月31日注册的用户）</p>
                </li>
            </ul>
        </div>
        <div class="guest_case">
            <h4 class="guest_case_title">客户案例</h4>
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/bd/1.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/2.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/3.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/4.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/5.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/6.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/7.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/8.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/9.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/10.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/11.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/12.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/13.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/14.png" alt=""></div>
                    <div class="swiper-slide"><img src="/images/bd/15.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="tiger_introduce">
            <h4>老虎金融简介</h4>
            <p>
                TigerWit老虎金融社交投资引领者，凭借雄厚的资本，结合丰富的金融行业阅历与互联网
                产品创新能力，自主研发了国内第一款互联网外汇产品，吸引了众多顶尖的交易精英汇聚在
                此，普通投资者可通过复制交易系统，自动复制高手的交易订单，同比例获得盈利。在这里
                人人都是投资高手
            </p>
        </div>
        <img class="m7_footer" src="/images/bd/m7_footer.png" alt="">
    </div>
</div>
<!-- build:js(client) /scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/highcharts-release/highcharts.js"></script>
<script src="/bower_components/highcharts-release/highcharts-more.js"></script>
<script src="/bower_components/highcharts-release/modules/exporting.js"></script>
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
<script src="/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="/bower_components/jsencrypt/bin/jsencrypt.min.js"></script>
<script src="/bower_components/mediaelement/build/mediaelement-and-player.js"></script>
<script src="/bower_components/swiper/dist/idangerous.swiper.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js(client) /scripts/bd_m7.js -->
<script src="/scripts/bd/m7/m7.js"></script>
<script src="/scripts/bd/t30/check.js"></script>
<!-- endbuild -->
</body>
</html>
