<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content="<%= lang.text('companyZhName')%> <%= lang.text('companyEnName')%> 跟单交易 外汇 CFD 指数 互联网金融">
  <meta name="description" content="<%= lang.text('companyZhName')%>倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">
  <meta name="apple-mobile-web-app-title" content="<%= lang.text('companyZhName')%>">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta name="format-detection" content="telephone=no">
  <title>
    <%= lang.text('companyZhName')%>
  </title>
</head>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<!--引入原生API + 根据屏幕宽度改变根节点字体大小.js-->
<% include common/m_css_vendor.html %>
  <% include common/common_header.html %>

    <body>
      <div class="bd_yellow_layout">
        <a class="action_btn" id="redirect"></a>
        <div class="yellow_text">
          <p><span>“老虎外汇”是互联网外汇APP，提供：外汇、CFD、股指等交易品种，用户下载APP可获得200美元体验金，完成交易手数可提取体验赠金；&nbsp;</span></p>
          <p><span>老司机带路：新手小白无需外汇知识，复制高手，1秒同步高手订单。</span></p>
        </div>
      </div>
    </body>
    <% include common/m_js_vendor.html %>
      <script>
        var aHref = '/m/h5_register/reg' + window.location.search || '';
        document.getElementById('redirect').setAttribute('href',aHref);
      </script>
<!-- 推广脚本footer -->
<%- include('bd/common/footer.html') %>

  </html>