<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include common/m_common_head.html %>

<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<!--引入原生API + 根据屏幕宽度改变根节点字体大小.js-->
<% include common/m_css_vendor.html %>
<% include common/common_header.html %>
<body>

<div class="t36_game_layout">
    <%- include('bd/t36/t36_game.html')%>
</div>

</body>
<% include m_js_vendor.html %>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!-- build:js(client) /scripts/t36_game.js -->
<script src="/bower_components/jsencrypt/bin/jsencrypt.min.js"></script>
<script src="/scripts/bd/common/wx_login.js"></script>
<script src="/scripts/bd/common/wx_share_config.js"></script>
<script src="/scripts/bd/t36/t36_game.js"></script>
<!-- endbuild -->
<!-- 推广脚本footer -->
<%- include('bd/common/footer.html') %>
</html>
