<!DOCTYPE html>
<html>
    <head>
        <% include common/metas.html %>

        <title>老虎外汇｜模拟盘大赛</title>
        <meta name="description" content="老虎外汇倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">
        <meta name="keywords" content="">

        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>

            <div class="body">
                <% include bd/t29/t29_main.html%>
            </div>


        <% include vendor.js.html %>

        <!-- build:js(client) /scripts/bd_t29.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/common/loading_img.directive.js"></script>
        <script src="/scripts/common/modal.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>
        <script src="/scripts/common/duration.filter.js"></script>
        <script src="/scripts/common/transition.service.js"></script>
        <script src="/scripts/common/symbol_mod.filter.js"></script>
        <script src="/scripts/common/trader.service.js"></script>
        <script src="/scripts/bd/t29/t29.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>

        <!-- endbuild -->

            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
    </body>
</html>
