<!DOCTYPE html>
<html lang="en" class="bd_redbag">

<head>
    <meta charset="UTF-8">
    <title>
        <%=lang.text("companyZhName")%>｜红包活动</title>
        <% include vendor.css.html %>
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->
        <% include common/common_header.html %>
        <% include vendor.js.html %>
</head>

<body ng-app="fullstackApp">
    <div ng-controller="GlobalController">
        <% include navbar/main.html %>
        <div class="bd_t37">
            <div class="bd_t37_layout">
                <div class="bd_t37_focus"><div class="bd_t37_detail"></div><a href="#bd_t37_form" target="_parent" class="bd_t37_toReg"></a><div class="bd_t37_logo"><img src="/images/basic_logo.png"></div><img src="/images/bd_t37/web_t37_focus_0531.png"></div>
                <div class="bd_t37_bag b1"><div class="fish"><img src="/images/bd_t37/web_t37_f1.png"></div><img src="/images/bd_t37/web_t37_bag1.png"></div>
                <div class="bd_t37_btn_wrapper">
                    <a href="#bd_t37_form" target="_parent" class="btn">注册即送$1000</a>
                    <p>客服电话: <i>400-809-8509</i></p>
                </div>
                <div class="bd_t37_bag b2"><div class="fish1"><img src="/images/bd_t37/web_t37_f2.png"></div><div class="fish2"><img src="/images/bd_t37/web_t37_f3.png"></div><img src="/images/bd_t37/web_t37_bag2_new_0601.png"></div>
                <div class="bd_t37_btn_wrapper">
                    <a href="#bd_t37_form" target="_parent" class="btn">注册即送$1000</a>
                    <p>客服电话: <i>400-809-8509</i></p>
                </div>
                <div class="bd_t37_bag b3"><div class="fish1"><img src="/images/bd_t37/web_t37_f4.png"></div><div class="fish2"><img src="/images/bd_t37/web_t37_f5.png"></div><img src="/images/bd_t37/web_t37_bag3.png"></div>
                <div class="bd_t37_btn_wrapper">
                    <a href="#bd_t37_form" target="_parent" class="btn">注册即送$1000</a>
                    <p>客服电话: <i>400-809-8509</i></p>
                </div>
                <div class="bd_t37_bag b4"><div class="fish1"><img src="/images/bd_t37/web_t37_f6.png"></div><div class="fish2"><img src="/images/bd_t37/web_t37_f7.png"></div><div class="fish3"><img src="/images/bd_t37/web_t37_f8.png"></div><img src="/images/bd_t37/web_t37_bag4.png"></div>
                <div class="bd_t37_form" id="bd_t37_form">
                    <div class="fish1"><img src="/images/bd_t37/web_t37_f9.png"></div><div class="fish2"><img src="/images/bd_t37/web_t37_f10.png"></div><div class="fish3"><img src="/images/bd_t37/web_t37_f11.png"></div>
                    <div class="form-control-wrapper">
                        <input type="text" class="form-control" name="username" id="username" placeholder="昵称">
                    </div>
                    <div class="form-control-wrapper">
                        <input type="text" class="form-control" name="telephone" id="telephone" placeholder="电话">
                    </div>
                    <div class="form-control-wrapper">
                        <input type="text" class="form-control" name="email" id="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="bd_t37_btn_wrapper">
                    <button class="btn" id="regist_btn">立即注册</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('bd/common/footer.html') %>
</body>

<!-- build:js(client) /scripts/bd_t37.js -->
<script src="/scripts/common/config.service.js"></script>
<script src="/scripts/common/account.service.js"></script>
<script src="/scripts/common/authorization.service.js"></script>
<script src="/scripts/common/redbag.service.js"></script>
<script src="/scripts/common/navbar.directive.js"></script>
<script src="/scripts/common/dropdown.directive.js"></script>
<script src="/scripts/common/global.controller.js"></script>
<script src="/scripts/common/loading_img.directive.js"></script>
<script src="/scripts/common/modal.js"></script>
<script src="/scripts/common/pagination.directive.js"></script>
<script src="/scripts/common/duration.filter.js"></script>
<script src="/scripts/common/transition.service.js"></script>
<script src="/scripts/common/symbol_mod.filter.js"></script>
<script src="/scripts/common/trader.service.js"></script>
<script src="/scripts/common/lang.service.js"></script>
<script src="/scripts/common/lang_data.service.js"></script>
<script src="/scripts/bd/t30/check.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<script src="/scripts/plugins/ripples.js"></script>
<script src="/scripts/bd/t37/bd_t37.js"></script>
<!-- endbuild -->
</html>