<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= lang.text('companyZhName')%>｜注册送100＋50美金赠金，还有机会领取iphone7！</title>
    <% include vendor.css.html %>
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->

    <% include common/common_header.html %>
</head>

<body ng-app="fullstackApp" class="t27_layout <%= lang_class%>" >
    <div ng-controller="GlobalController">
        <% include navbar/main.html %>
        <div>
            <%- include('bd/t27/t27.html')%>
        </div>
        <% include vendor.js.html %>
        <!-- build:js(client) /scripts/bd_t27.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/common/loading_img.directive.js"></script>
        <script src="/scripts/common/modal.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>
        <script src="/scripts/common/duration.filter.js"></script>
        <script src="/scripts/common/transition.service.js"></script>
        <script src="/scripts/common/symbol_mod.filter.js"></script>
        <script src="/scripts/common/trader.service.js"></script>
        <script src="/scripts/bd/t30/check.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/bd/t27/t27.js"></script>
        <!-- endbuild -->

        <%- include('bd/common/footer.html') %>
    </div>
</body>

</html>