<!doctype html>
<html lang="en">
<head>
    <!--引入公用头部-->
    <% include common/m_common_head.html %>

    <!--打包公用css-->
    <!-- build:css(.tmp) /styles/m_vendor.css -->
    <link rel="stylesheet" href="/styles/m_vendor.css">
    <!-- endbuild -->

    <!--打包本页样式-->
    <!-- build:css(.tmp) /styles/m_agent_become.css -->
    <link rel="stylesheet" href="/styles/m_agent_become.css">
    <!-- endbuild -->
</head>
<body>
<div class="m_agent_become">
    <div class="become_header"></div>
    <div class="become_container">
        <span class="text_title">如何成为明星交易员?</span>
        <% if(false){ %>
            <!--暂时不显示-->
            <ul class="become_flow">
            <li>
                <img src="/images/web/become-step1.png" alt="step1">
                <span class="small_font">开通老虎外汇真实账户</span>
            </li>
            <li>
                <img src="/images/web/become-arrow.png" alt="step">
            </li>
            <li>
                <img src="/images/web/become-step2.png" alt="step2">
                <span>提供两个月的交易记录</span>
            </li>
            <li>
                <img src="/images/web/become-arrow.png" alt="step">
            </li>
            <li>
                <img src="/images/web/become-step3.png" alt="step3">
                <span>通过一个月的考核期</span>
            </li>
            <li>
                <img src="/images/web/become-arrow.png" alt="step">
            </li>
            <li>
                <img src="/images/web/become-step4.png" alt="step4">
                <span>成为高手,获得复制者 20% 的盈利分成</span>
            </li>
        </ul>
        <% } %>
        <div class="steps">
            <span class="text_title">1、开通 TigerWit 真实账户并完成实名认证</span>
            <span class="text_title">2、提交过往历史交易记录</span>
            <span class="text_pgh" >提交邮箱:support@tigerwit.com<br/>交易表现越优越,审核通过几率越大</span>
            <span class="text_title">3、交易考核</span>
            <span class="text_pgh" >通过审核获得高手资质后，您将进入一个月考核期，考核期内，您需要在 TigerWit 交易平台入金至少 1000 美金并连续交易 20 个以上工作日，交易期间最大回撤率不超过 50%，账户整体表现优秀，即可通过 TigerWit 最终考核并获得上榜机会。</span>
            <span class="text_title">4、上榜</span>
            <span class="text_pgh" >TigerWit 排行榜是动态更新的，只有表现最好的交易高手才有机会出现在榜单上。</span>
            <span class="text_title">怎样在 TigerWit 高手榜获得展示?</span>
            <span class="text_pgh" >TigerWit 对排行榜按照高手交易表现进行排名，表现越优秀的高手排名越居前端。</span>
            <span class="text_title">1、初步-完善信息：</span>
            <span class="text_pgh" >升级为 TigerWit 高手后，进入个人中心，完善个人基本资料，如设置高手个人头像，填写个人交易经历简介、交易策略、交易年限、教育背景、证件资料等。</span>
            <span class="text_title">2、进阶-业绩指标：</span>
            <span class="text_pgh" >TigerWit 高手榜排名随着交易表现变动，影响排名的决定性因素有：</span>
            <span class="text_sub_title">总收益率：高手交易累计的收益比率。</span>
            <span class="text_pgh" >注意：TigerWit 不建议高手追求 100% 高胜率，金融市场投资收益与风险并存，一味追求高收益可能具有潜在危险性策略，最终导致严重后果。</span>
            <span class="text_sub_title">最大回撤：高手交易累计的收益占比</span>
            <span class="text_sub_title">复制人数：高手当前被复制投资的人数</span>
            <span class="text_sub_title">复制金额：高手当前被复制跟随的资金总额</span>
            <span class="text_title">3、终极-登上高手榜：</span>
            <span class="text_pgh" >TigerWit 根据高手的收益率、最大回撤、复制人数、复制金额、交易活跃度等指标评选上榜高手，高手完成初级、进阶任务后，即可登入高手排行榜！</span>
            <span class="text_title">影响排名因素最终以TigerWit官方统计数据为准</span>
        </div>
    </div>
    <span id="become_apply_btn" class="become_apply_btn">报名成为高手</span>
    <div id="become_modal_mask" class="become_modal_mask">
        <div id="become_modal" class="become_modal">
            <div class="modal_handler">
                <span id="close_btn" class="close_btn">取消</span>
                <span id="sure_btn" class="sure_btn">确定</span>
            </div>
            <form id="modal_form" class="modal_form">
                <label>
                    <span>交易经验:</span>
                    <select name="trade_exp" id="trade_exp">
                        <option value="3年以下">3年以下</option>
                        <option value="3年-5年">3年-5年</option>
                        <option value="5年以上">5年以上</option>
                    </select>
                </label>
                <br/>
                <label>
                    <span>交易方式</span>
                    <select name="trade_ways" id="trade_ways">
                        <option value="手动交易">手动交易</option>
                        <option value="智能交易EA">智能交易EA</option>
                        <option value="手动交易 + 智能交易">手动交易 + 智能交易</option>
                    </select>
                </label>
                <br/>
                <label>
                    <span>最低跟随金额:</span>
                    <input type="text" id="regular_money" placeholder="单位为美金$"/>
                </label>
            </form>
            <span id="modal_tips" class="modal_tips">
                必填项：交易经验、交易方式、最低跟随金额
            </span>
        </div>
    </div>
</div>
<!--引入原生交互方法与根节点字体改变脚本-->
<% include common/m_css_vendor.html %>
<!-- build:js(client) /scripts/m_vendor.js -->
<script src="/bower_components/jquery-3.0.0.min/index.js"></script>
<script src="/scripts/plugins/base64code.js"></script>
<!-- endbuild -->

<!-- build:js(client) /scripts/web/m_agent_become.js -->
<script src="/scripts/web/m_agent_become.js"></script>
<!-- endbuild -->
</body>
</html>