<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include common/m_common_head.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<% include common/m_css_vendor.html %>
<% include common/common_header.html %>

<body>

<div id="m_deposit_test" style="margin: 50px 100px;">
    <input type="text" class="number"><br>
    <a href="javascript:;" style="font-size: 18px; color: #699; cursor: pointer;">充值</a>
</div>

</body>
<% include m_js_vendor.html %>
<!-- build:js(client) /scripts/m_deposit.js -->
<script src="/scripts/asset/m_deposit.js"></script>
<!-- endbuild -->

<%- include('bd/common/footer.html') %>
</html>