<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include common/m_common_head.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<!--引入原生API + 根据屏幕宽度改变根节点字体大小.js-->
<% include common/m_css_vendor.html %>
<% include common/common_header.html %>
<body class="invite02_body">
<div class="m_share02_layout" id="m_share02_layout">
    <div class="share02_main">
        <div class="share02_main__banner"></div>
        <div class="p share02_main__invite">
            <div class="share02_main__invite-friends clearfix">
                <div class="invite_amount">
                    <p>已邀请人数</p>
                    <span id="invited_amount">0</span>
                </div>
                <div class="invite_income">
                    <p>累计邀请收益($)</p>
                    <span id="invited_income">0.00</span>
                </div>
            </div>
        </div>
        <div class="bdt p share02_main__history">
            <h5 class="title">邀请记录</h5>
            <table>
                <colgroup>
                    <col width="30%"></col>
                    <col width="40%"></col>
                    <col width="30%"></col>
                </colgroup>
                <thead>
                <tr>
                    <th>好友昵称</th>
                    <th>状态</th>
                    <th>我的佣金($)</th>
                </tr>
                </thead>
                <tbody id="history_list">
                    <!--模板引擎填充-->
                </tbody>
            </table>
        </div>
        <div class="bdt p share02_main__rule">
            <!--<h5 class="title">邀请好友规则</h5>
            <p>1、只有通过邀请链接进行注册才算有效。</p>
            <p>2、不限介绍好友的数量。</p>
            <p>3、同一手机号码、身份证号和银行卡号视为同一用户。任何通过第三方作弊软件刷取好友邀请奖励的用户，一经发现，<%= lang.text('companyZhName')%>有权取消所有奖励的承兑。</p>
            <p>4、本活动最终解释权归<%= lang.text('companyZhName')%>所有。如有疑问，请咨询客服 <%= lang.text('telephone')%>。</p>
            <span id="send_invitation">发送邀请给好友</span>-->
            <h5 class="title">邀请好友规则</h5>
            <p>1、注册即获得邀请类红包“人从众”，邀请3名好友注册，且至少有1人入金并完成1手交易即可兑现, 每位用户仅可领取一次。</p>
            <p>2、您只有通过邀请链接进行注册的好友才算有效。</p>
            <p>3、同一手机号，身份证号和银行卡号视为同一用户。</p>
            <p>4、任何通过第三方作弊软件刷取好友邀请奖励，一经发现老虎外汇有权取消红包兑现奖励。</p>
            <p>4、本活动最终解释权归<%= lang.text('companyZhName')%>所有。如有疑问，请咨询客服 <%= lang.text('telephone')%>。</p>
            <span id="send_invitation">发送邀请给好友</span>
        </div>
        <div class="share_box" id="share02_box">
            <div class="share02_modal clearfix" id="share02_modal">
                <h5>分享好友投资,即获$10奖励</h5>
                <span class="share_to_friends"   id="share_to_friends">  <img src="/images/mobile/share2wx.png"><br>微信好友</span>
                <span class="share_to_circle"    id="share_to_circle">   <img src="/images/mobile/share2circle.png"><br>朋友圈</span>
                <span class="share_to_qf new_share"        id="share_to_qFriend">  <img src="/images/mobile/share2qq.png"><br>QQ好友</span>
                <span class="share_to_qZone new_share"     id="share_to_qZone">    <img src="/images/mobile/share2qZone.png"><br>QQ空间</span>
                <span class="share_to_microBlog new_share" id="share_to_microBlog"><img src="/images/mobile/share2mBlog.png"><br>微博</span>
                <span id="cancel_share"><button>取消</button></span>
            </div>
        </div>
    </div>
</div>
</body>
<script id="invite_table" type="text/template">
    <$if(list.length > 0){$>
        <$for(var i=0; i<list.length; i++){$>
            <tr>
                <td><$=list[i].username$></td>
                <td><$=list[i].status$></td>
                <td><$=list[i].money$></td>
            </tr>
        <$}$>
    <$} else {$>
        <tr>
            <td></td>
            <td>暂无数据!</td>
            <td></td>
        </tr>
    <$}$>
</script>
<% include m_js_vendor.html %>
<!-- build:js(client) /scripts/m_invite.js -->
<script src="/scripts/invite/m_invite.js"></script>
<script src="/scripts/plugins/baiduTemplate.js"></script>
<!-- endbuild -->

<%- include('bd/common/footer.html') %>
</html>