<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include common/m_common_head.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<!--引入原生API-->
<% include common/m_css_vendor.html %>
<% include common/common_header.html %>
<body>
<div class="m_register_page1">
    <div class="reg_layout">
        <span class="reg_title reg_font">&nbsp;&nbsp;
            请设置邮箱,方便收取重要的提醒信息
        </span>
        <form>
            <label class="reg_code">
                <span class="reg_font">验证码</span>
                <input class="verify_code" id="verify_code" type="text" placeholder='请输入验证码'>
                <span class="code send_code" id="verify_code_btn">获取验证码</span>
                <br/>
            </label>
            <label>
                <span class="reg_font">邮箱</span>
                <input id="email" type="text" placeholder='邮箱会收到重要的提醒信息'>
                <br/>
            </label>
        </form>
        <span class="reg_btn" id="regist_btn2">完成注册</span>
    </div>
</div>
</body>
<% include m_js_vendor.html %>
<!-- build:js(client) /scripts/m_register.js -->
<script src="/scripts/regular/m_register.js"></script>
<!-- endbuild -->

<%- include('bd/common/footer.html') %>
</html>
