<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include common/m_common_head.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<!--引入原生API + 根据屏幕宽度改变根节点字体大小.js-->
<% include common/m_css_vendor.html %>
<% include common/common_header.html %>
<body>
<div class="m_register_page1">
    <div class="reg_layout">
        <span class="reg_title reg_font">&nbsp;&nbsp;请设置昵称,方便成为高手,获取收益分成</span>
        <form>
            <label>
                <span class="reg_font">昵称</span><input id="username" type="text" placeholder='例如"交易大神"'><br/>
            </label>
            <label>
                <span class="reg_font">手机号</span><input id="telephone" type="text" placeholder="<%= lang.text('companyZhName')%>不会泄露您的号码"><br/>
            </label>
            <label>
                <span class="reg_font">密码</span>
                <input id="password" type="password" placeholder='组合、字母数字,不少于6位'>
                <span class="password_view">
                    <img id="show" class="hide" src="/images/mobile/reg_password_show.png">
                    <img id="hide" src="/images/mobile/reg_password_hide.png">
                </span>
                <br/>
            </label>
        </form>
        <span class="reg_btn" id="regist_btn">注册</span>
        <p>轻触"注册按钮",表示您同意</p>
        <p class="tiger_user_rule"><%= lang.text('companyZhName')%>用户协议</p>
    </div>
</div>
</body>
<% include m_js_vendor.html %>
<!-- build:js(client) /scripts/m_register.js -->
<script src="/scripts/regular/m_register.js"></script>
<!-- endbuild -->

<%- include('bd/common/footer.html') %>
</html>