<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include common/m_common_head.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<% include common/m_css_vendor.html %>
<% include common/common_header.html %>

<body>
<div class="m_third_password">
    <div class="m_third_password__detail active">
        <div class="m_third_password__detail-tip">
            建议使用字母、数字和符号两种及以上组合，长度为6-15个字符
        </div>
        <div class="m_third_password__detail-wrapper">
            <input class="info new_password"
                   type="password"
                   placeholder="新密码">
        </div>
        <div class="m_third_password__detail-wrapper">
            <input class="info confirm_password"
                   type="password"
                   placeholder="确认新密码">
        </div>
        <div class="m_third_password__detail-btn">
            <button class="btn btn-primary">
                提交
            </button>
        </div>
    </div>
    <div class="m_third_password__success">
        <div class="m_third_password__success-tit">
            <span class="icon">
                <img src="/images/icon-right.png">
            </span>
            <span class="tip">新密码修改成功</span>
        </div>
        <div class="m_third_password__success-tip">
            请使用新密码重新登陆MT4服务器
        </div>
        <div class="m_third_password__success-btn">
            <button class="btn btn-primary">
                确定
            </button>
        </div>
    </div>
</div>


</body>
<% include m_js_vendor.html %>
<!-- build:js(client) /scripts/m_third_password.js -->
<script src="/scripts/account/m_third_password.js"></script>
<!-- endbuild -->

<%- include('bd/common/footer.html') %>
</html>