<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include common/m_common_head.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/m_vue_common.css -->
<link rel="stylesheet" href="/styles/m_vue_common.css">
<!-- endbuild -->
<% include common/m_css_vendor.html %>
<% include common/common_header.html %>
<body>

<%- include('m_vue/' + pageInfo.id + '.html') %>

</body>
<% include m_vue_vendor.html %>

<!-- build:js(client) /scripts/m_vue.js -->
<script src="/scripts/m_vue/validator/validator.js"></script>
<script src="/scripts/m_vue/resource/resource.js"></script>
<script src="/scripts/m_vue/directive/directive.js"></script>
<script src="/scripts/m_vue/component/component.js"></script>
<script src="/scripts/m_vue/m_vue_password.js"></script>
<script src="/scripts/m_vue/m_vue_info.js"></script>
<script src="/scripts/m_vue/m_vue_binding.js"></script>
<script src="/scripts/m_vue/m_vue_forget.js"></script>
<!-- endbuild -->

</html>