<%
    var product = model.getProduct(detail_id);
    var status = model.judgeStatus(product);
    var profit_text = model.getProfitText(product);
 %>
<!doctype html>
<html>
    <head>
        <% include common/metas.html %>
        <title>老虎金融｜定期跟单</title>
        <meta name="description" content="老虎金融高手排行榜，您可以根据自身需要按照复制人数、复制资金、最大回撤和总收益进行排序，让你轻松筛选高手。">

        <!-- build:css(.tmp) /styles/regular.css -->
        <link rel="stylesheet" href="/styles/regular.css">
        <!-- endbuild -->
    </head>
    <body ng-app="fullstackApp">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>
            <div class="body">
                <div ui-view>
                    <div class="container" ng-controller="AgreeController">
                        <div class="hy-detail hy-detail__fix-box mg-bt-20">
                            <div class="title_box">
                                <h3 class="text-center">委托协议书</h3>
                                <hr class="hr_top"/>
                            </div>
                            <p class="font-bold">甲方：<span id="agreement_jia"><%= product.jiafang %></span></p>
                            <p class="font-bold">乙方：<span id="agreement_yi">{{name}}</span></p>
                            <p class="font-bold">
                                甲方和乙方就委托外汇交易等相关事宜，经友好协商一致后，签署《委托协议书》（以下简称“本协议”）。
                            </p>
                            <p>
                                <em class="font-bold">第 1条：</em>甲方和乙方共同确认，甲方和乙方均在Tigerwit Prime Limited运营的外汇交易平台上开设了外汇交易账户（以下简称“外汇交易账户”）。
                            </p>
                            <p>
                                <em class="font-bold">第 2条：</em>乙方通过将其外汇交易账户与甲方的外汇交易账户进行绑定的方式，委托甲方进行外汇交易。
                            </p>
                            <p>
                                <em class="font-bold">第 3条：</em>按照本协议的约定，乙方委托甲方进行外汇交易，委托期限为TigerWit网站描述所述，委托时间为网站所述“账户交易时间”。
                            </p>
                            <p>
                                <em class="font-bold">第 4条：</em>委托期限内，乙方不得擅自解除外汇交易账户的绑定、不得擅自自行进行自主外汇交易、不得向外汇交易账户进行入金或出金等操作。若乙方需要补充操作资金，需要提前一周告知甲方和TigerWit，甲方可根据实际情况决定是否以及何时接受乙方的补充资金。委托期限内，乙方解除外汇交易账户绑定或进行外汇交易账户出金的，乙方应向TigerWit支付委托甲方进行外汇交易金额的10%作为违约金，并且如乙方的外汇交易账户内产生所有盈利应支付给甲方；如乙方的外汇交易账户内产生的所有亏损应由乙方自行承担。
                            </p>
                            <p>
                                <em class="font-bold">第 5条：</em>委托期限届满之前，甲方需要把委托账户所有订单平仓，并且在委托期限届满之时保证所账户空仓，委托期满后，乙方的外汇交易账户自动解除与甲方的外汇交易账户的绑定，并终止委托交易关系。
                            </p>
                            <p>
                                <em class="font-bold">第 6条：</em>委托结束后或者触发分红条件时，乙方的外汇交易账户产生盈余的，<%= model.getProfitText(product) %>如乙方的外汇交易账户发生亏损的，乙方无需向甲方支付委托费。不论乙方是否延长委托期限，本协议约定委托期限届满后，乙方应立即按照本协议的约定向甲方支付委托费。
                            </p>
                            <p>
                                <em class="font-bold">第 7条：</em>乙方确认，签署以及履行本协议已经进行了充分的了解和认识，并且乙方确认，乙方按照本协议的约定委托甲方进行外汇交易操作可能会发生亏损或委托本金全部损失的结果，如发生该等结果，乙方不得向甲方或Tigerwit Prime Limited主张任何权利或要求赔偿损失等相关事宜。
                            </p>
                            <p>
                                <em class="font-bold">第 8条：</em>乙方确认，本协议签署前甲方的交易记录或交易业绩，仅作为乙方签署本协议的参考，并保证乙方签署本协议后，甲方仍然可以保持本协议签署前的交易记录或交易业绩。
                            </p>
                            <p>
                                <em class="font-bold">第 9条：</em>乙方已经充分确认并认知，签署本协议以及委托甲方进行外汇交易的风险后，签署的本协议。
                            </p>
                            <p>
                                <em class="font-bold">第 10条：</em>乙方保证，乙方为具有完全民事行为能力的法律主体，签署本协议为乙方的真实意思表示，签署本协议不会发生违反乙方作为其他协议书或合同当事方的义务，签署本协议已经完成了相关审批、备案、登记、同意等相关手续或程序。
                            </p>
                            <p>
                                <em class="font-bold">第 11条：</em>本协议经乙方接受同意后生效。
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- build:js(client) /scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/highcharts-release/highcharts.js"></script>
        <script src="/bower_components/highcharts-release/highcharts-more.js"></script>
        <script src="/bower_components/highcharts-release/modules/exporting.js"></script>
        <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
        <script src="/bower_components/jsencrypt/bin/jsencrypt.min.js"></script>
        <script src="/bower_components/mediaelement/build/mediaelement-and-player.js"></script>
        <script src="/bower_components/swiper/dist/idangerous.swiper.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(client) /scripts/agree.js -->
        <script src="/scripts/app.js"></script>

        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/ranklist.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/line_chart.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/loading_img.directive.js"></script>
        <script src="/scripts/common/progress.directive.js"></script>
        <script src="/scripts/common/tabs.directive.js"></script>
5
        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/regular/agree.controller.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
    </body>
</html>
