<!doctype html>
<html>
    <head>
        <% include common/metas.html %>
        <title>老虎金融｜个人中心</title>

        <!-- build:css(client) /styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css(.tmp) /styles/space.css -->
        <link rel="stylesheet" href="/styles/space.css">
        <!-- endbuild -->
    </head>
    <body ng-app="fullstackApp">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>
            <div class="body">
                <div ui-view></div>
            </div>
            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
        <!-- build:js(client) /scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/highcharts-release/highcharts.js"></script>
        <script src="/bower_components/highcharts-release/highcharts-more.js"></script>
        <script src="/bower_components/highcharts-release/modules/exporting.js"></script>
        <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
        <script src="/bower_components/jsencrypt/bin/jsencrypt.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(client) /scripts/space.js -->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/routes.js"></script>

        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/utils.service.js"></script>
        <script src="/scripts/common/asset.service.js"></script>
        <script src="/scripts/common/validator.service.js"></script>
        <script src="/scripts/common/forex.service.js"></script>
        <script src="/scripts/common/invite.service.js"></script>
        <script src="/scripts/common/invest.service.js"></script>
        <script src="/scripts/common/trader.service.js"></script>
        <script src="/scripts/common/transition.service.js"></script>

        <script src="/scripts/common/modal.js"></script>
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/scale_bar.directive.js"></script>
        <script src="/scripts/common/pie_chart.directive.js"></script>
        <script src="/scripts/common/line_chart.directive.js"></script>
        <script src="/scripts/common/loading_img.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>
        <script src="/scripts/common/form_valid_txt.directive.js"></script>
        <script src="/scripts/common/form_valid_pwd.directive.js"></script>
        <script src="/scripts/common/form_repeat.directive.js"></script>
        <script src="/scripts/common/form_max.directive.js"></script>
        <script src="/scripts/common/form_min.directive.js"></script>
        <script src="/scripts/common/form_select.directive.js"></script>
        <script src="/scripts/common/form_editbox.directive.js"></script>
        <script src="/scripts/common/upload_avatar.directive.js"></script>
        <script src="/scripts/common/upload_id_card.directive.js"></script>
        <script src="/scripts/common/captcha_timer.directive.js"></script>

        <script src="/scripts/common/symbol_mod.filter.js"></script>
        <script src="/scripts/common/duration.filter.js"></script>
        <script src="/scripts/common/date_formatter.filter.js"></script>

        
        <script src="/scripts/common/global.controller.js"></script>
        
        <script src="/scripts/space/info.controller.js"></script>

        <script src="/scripts/invest/current.controller.js"></script>
        <script src="/scripts/invest/history.controller.js"></script>
        <script src="/scripts/invest/summary.controller.js"></script>
        
        <script src="/scripts/trader/copy.controller.js"></script>

        <script src="/scripts/invite/index.controller.js"></script>
        <script src="/scripts/invite/index_blank.controller.js"></script>

        <script src="/scripts/asset/deposit.controller.js"></script>
        <script src="/scripts/asset/history.controller.js"></script>
        <script src="/scripts/asset/withdraw.controller.js"></script>
        <script src="/scripts/asset/card_modal.controller.js"></script>

        <script src="/scripts/notice/index.controller.js"></script>
        
        <script src="/scripts/setting/index.controller.js"></script>
        <script src="/scripts/setting/info.controller.js"></script>
        <script src="/scripts/setting/info-basic.controller.js"></script>
        <script src="/scripts/setting/info-avatar.controller.js"></script>
        <script src="/scripts/setting/info-pwd.controller.js"></script>
        <script src="/scripts/setting/info-phone.controller.js"></script>
        <script src="/scripts/setting/kyc.controller.js"></script>
        <script src="/scripts/setting/verify.controller.js"></script>

        <script src="/scripts/bonus/index.controller.js"></script>
        <script src="/scripts/bonus/current.controller.js"></script>
        <script src="/scripts/bonus/history.controller.js"></script>
        <script src="/scripts/bonus/history_modal.controller.js"></script>
        

        <script src="/scripts/account/login.controller.js"></script>
        <script src="/scripts/account/register.controller.js"></script>
        <script src="/scripts/account/forget.controller.js"></script>
        <!-- endbuild -->
    </body>
</html>
