<!doctype html>
<html>
    <head>
        <% include /common/meta/web.html %>
        <% include /common/vendor/web.css.html %>

        <!-- build:css(.tmp) /styles/space.css -->
        <link rel="stylesheet" href="/styles/space.css">
        <!-- endbuild -->

        <% include /common/statistic/main.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include /common/nav/web.header.html %>
            </div>
            <div class="body">
                <div ui-view></div>
            </div>

        <% include /common/vendor/web.js.html %>

        <!-- build:js(client) /scripts/space.js -->
        <script src="/scripts/routes.js"></script>

        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/utils.service.js"></script>
        <script src="/scripts/common/asset.service.js"></script>
        <script src="/scripts/common/validator.service.js"></script>
        <script src="/scripts/common/forex.service.js"></script>
        <script src="/scripts/common/invite.service.js"></script>
        <script src="/scripts/common/invest.service.js"></script>
        <script src="/scripts/common/trader.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>
        <script src="/scripts/common/preview_image.service.js"></script>
        
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/scale_bar.directive.js"></script>
        <script src="/scripts/common/select_list.directive.js"></script>
        <script src="/scripts/common/pie_chart.directive.js"></script>
        <script src="/scripts/common/line_chart.directive.js"></script>
        <script src="/scripts/common/loading_img.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>
        <script src="/scripts/common/form_valid_txt.directive.js"></script>
        <script src="/scripts/common/form_valid_pwd.directive.js"></script>
        <script src="/scripts/common/form_repeat.directive.js"></script>
        <script src="/scripts/common/form_max.directive.js"></script>
        <script src="/scripts/common/form_min.directive.js"></script>
        <script src="/scripts/common/form_select.directive.js"></script>
        <script src="/scripts/common/form_editbox.directive.js"></script>
        <script src="/scripts/common/upload_avatar.directive.js"></script>
        <script src="/scripts/common/upload_id_card.directive.js"></script>
        <script src="/scripts/common/captcha_timer.directive.js"></script>
        <script src="/scripts/common/datetimepicker.directive.js"></script>
        <script src="/scripts/common/datepicker.directive.js"></script>
        <script src="/scripts/common/on_enter.directive.js"></script>
        <script src="/scripts/common/new_scale_bar.directive.js"></script>
        <script src="/scripts/common/whiteLabel.service.js"></script>
        <script src="/scripts/common/window_height.directive.js"></script>
        <script src="/scripts/common/scroll_prevent.directive.js"></script>

        <script src="/scripts/common/symbol_mod.filter.js"></script>
        <script src="/scripts/common/duration.filter.js"></script>
        <script src="/scripts/common/bind_html.filter.js"></script>
        <script src="/scripts/common/date_formatter.filter.js"></script>
        <script src="/scripts/common/close_type.filter.js"></script>
        <script src="/scripts/common/deal_timestamp.filter.js"></script>


        <script src="/scripts/common/global.controller.js"></script>

        <script src="/scripts/space/info.controller.js"></script>

        <script src="/scripts/space/center.controller.js"></script>
        <script src="/scripts/invest/home.controller.js"></script>
        <script src="/scripts/invest/current.controller.js"></script>
        <script src="/scripts/invest/account.controller.js"></script>
        <script src="/scripts/invest/history.controller.js"></script>
        <script src="/scripts/invest/summary.controller.js"></script>
        <script src="/scripts/invest/record.controller.js"></script>

        <script src="/scripts/wallet/summary.controller.js"></script>
        <script src="/scripts/wallet/bankcard.controller.js"></script>

        <script src="/scripts/trader/copy.controller.js"></script>

        <script src="/scripts/invite/index.controller.js"></script>
        <script src="/scripts/invite/index_blank.controller.js"></script>
        
        <script src="/scripts/asset/index.controller.js"></script>
        <script src="/scripts/asset/deposit.controller.js"></script>
        <script src="/scripts/asset/withdraw.controller.js"></script>
        <script src="/scripts/asset/evidence.controller.js"></script>
        <script src="/scripts/asset/card_modal.controller.js"></script>

        <script src="/scripts/notice/index.controller.js"></script>

        <script src="/scripts/authen/authen.controller.js"></script>

        <script src="/scripts/setting/index.controller.js"></script>
        <script src="/scripts/setting/info.controller.js"></script>
        <script src="/scripts/setting/info-basic.controller.js"></script>
        <script src="/scripts/setting/info-avatar.controller.js"></script>
        <script src="/scripts/setting/info-pwd.controller.js"></script>
        <script src="/scripts/setting/info-phone.controller.js"></script>
        <script src="/scripts/setting/info-email.controller.js"></script>

        <script src="/scripts/bonus/index.controller.js"></script>
        <script src="/scripts/bonus/current.controller.js"></script>
        <script src="/scripts/bonus/history.controller.js"></script>
        <script src="/scripts/bonus/history_modal.controller.js"></script>


        <script src="/scripts/account/login.controller.js"></script>
        <script src="/scripts/account/register.controller.js"></script>
        <script src="/scripts/account/forget.controller.js"></script>

        <script src="/scripts/redbag/own.controller.js"></script>
        <script src="/scripts/redbag/pool.controller.js"></script>

        <script src="/scripts/master/grade.controller.js"></script>
        <script src="/scripts/master/apply.controller.js"></script>
        <!-- endbuild -->

        <!-- 注册协议相关弹窗 -->
        <%include /common/component/agment_mdl.html %>

            <div class="footer">
                <% include /common/nav/web.footer.html %>
            </div>
        </div>
    </body>
</html>
