<% if (pageInfo.id === 'skill') { %>
    <% var title = '技术分析' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'video') { %>
    <% var title = '学习视频' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'introduction') { %>
    <% var title = '新手入门' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'term') { %>
    <% var title = '外汇交易术语' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'fundamental') { %>
    <% var title = '基本面分析' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } %>
<!doctype html>
<html>
    <head>
        <% include common/metas.html %>

        <title>老虎外汇｜<%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta name="keywords" content="<%= keywords %>">

        <!-- build:css(client) /styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/bower_components/mediaelement/build/mediaelementplayer.css">
        <link rel="stylesheet" href="/bower_components/swiper/dist/idangerous.swiper.css">
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css(.tmp) /styles/study.css -->
        <link rel="stylesheet" href="/styles/study.css">
        <!-- endbuild -->
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>

            <div class="body">
                <div class="layout-2">
                    <div class="layout-2__side mg-tp-30">
                        <%- include('study/sidebar.html') %>
                    </div>
                    <div class="layout-2__content mg-tp-30">
                        <%- include('study/' + pageInfo.id + '.html') %>
                    </div>
                </div>
            </div>

        <% include vendor.js.html %>

        <!-- build:js(client) /scripts/study.js -->
        <script src="/scripts/app.js"></script>

        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/transition.service.js"></script>
        <script src="/scripts/common/validator.service.js"></script>
        <script src="/scripts/common/market.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/form_select.directive.js"></script>
        <script src="/scripts/common/media.directive.js"></script>
        <script src="/scripts/common/dropdown_knowledge.directive.js"></script>

        <script src="/scripts/common/modal.js"></script>

        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/study/video.controller.js"></script>
        <script src="/scripts/web/faq.controller.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
    </body>
</html>
