<!doctype html>
<html>
    <head>
        <% include common/metas.html %>
        <title><%=lang.text("companyZhName")%>｜<%= master.username %></title>

        <!-- build:css(.tmp) /styles/trader.css -->
        <link rel="stylesheet" href="/styles/trader.css">
        <!-- endbuild -->

        <% include common/common_header.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>
            <div class="body">
                <div ng-controller="TraderIndexController">
                    <% include trader/index.html %>
                </div>
                <div ui-view></div>
            </div>

        <% include vendor.js.html %>

        <!-- build:js(client) /scripts/trader.js -->
        <script src="/scripts/routes.js"></script>

        <script src="/scripts/common/whiteLabel.service.js"></script>
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/trader.service.js"></script>
        <script src="/scripts/common/transition.service.js"></script>
        <script src="/scripts/common/validator.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        <script src="/scripts/common/redbag.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/line_chart.directive.js"></script>
        <script src="/scripts/common/pie_chart.directive.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/scale_bar.directive.js"></script>
        <script src="/scripts/common/form_max.directive.js"></script>
        <script src="/scripts/common/form_min.directive.js"></script>
        <script src="/scripts/common/loading_img.directive.js"></script>
        <script src="/scripts/common/column_chart.directive.js"></script>
        <script src="/scripts/common/area_chart.directive.js"></script>
        <script src="/scripts/common/bar_chart.directive.js"></script>
        <script src="/scripts/common/datetimepicker.directive.js"></script>

        <script src="/scripts/common/symbol_mod.filter.js"></script>
        <script src="/scripts/common/duration.filter.js"></script>
        <script src="/scripts/common/close_type.filter.js"></script>

        <script src="/scripts/common/modal.js"></script>

        <script src="/scripts/common/global.controller.js"></script>

        <script src="/scripts/trader/index.controller.js"></script>
        <script src="/scripts/trader/summary.controller.js"></script>
        <script src="/scripts/trader/current.controller.js"></script>
        <script src="/scripts/trader/history.controller.js"></script>
        <script src="/scripts/trader/copy.controller.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
    </body>
</html>
