<!doctype html>
<html>
    <head>
        <% include common/metas.html %>
        <title>老虎金融｜<%= master.username %></title>

        <!-- build:css(.tmp) /styles/trader.css -->
        <link rel="stylesheet" href="/styles/trader.css">
        <!-- endbuild -->
    </head>
    <body ng-app="fullstackApp">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>
            <div class="body">
                <div ng-controller="TraderIndexController">
                    <% include trader/index.html %>
                </div>
                <div ui-view></div>
            </div>
            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
        <!-- build:js(client) /scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/highcharts-release/highcharts.js"></script>
        <script src="/bower_components/highcharts-release/highcharts-more.js"></script>
        <script src="/bower_components/highcharts-release/modules/exporting.js"></script>
        <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
        <script src="/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
        <script src="/bower_components/jsencrypt/bin/jsencrypt.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(client) /scripts/trader.js -->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/routes.js"></script>

        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/trader.service.js"></script>
        <script src="/scripts/common/transition.service.js"></script>
        <script src="/scripts/common/validator.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/line_chart.directive.js"></script>
        <script src="/scripts/common/pie_chart.directive.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/scale_bar.directive.js"></script>
        <script src="/scripts/common/form_max.directive.js"></script>
        <script src="/scripts/common/form_min.directive.js"></script>

        <script src="/scripts/common/symbol_mod.filter.js"></script>
        <script src="/scripts/common/duration.filter.js"></script>

        <script src="/scripts/common/modal.js"></script>

        <script src="/scripts/common/global.controller.js"></script>

        <script src="/scripts/trader/index.controller.js"></script>
        <script src="/scripts/trader/summary.controller.js"></script>
        <script src="/scripts/trader/current.controller.js"></script>
        <script src="/scripts/trader/history.controller.js"></script>
        <script src="/scripts/trader/copy.controller.js"></script>
        <!-- endbuild -->
    </body>
</html>
