<% var title = '交易平台' %>
<% var description = '' %>
<% var keywords = '' %>
<!doctype html>
<html>
    <head>
        <% include common/metas.html %>

        <title>老虎外汇｜<%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta name="keywords" content="<%= keywords %>">

        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->

        <% include common/common_header.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>

            <div class="body" style="background-color: #fafafa">
              <p style="height:84px;"></p>
              <iframe src="https://trade.mql5.com/trade?servers=TigerWit-Demo,TigerWit-Live&amp;trade_server=TigerWit-Live&amp;demo_server=TigerWit-Demo&amp;demo_type=&amp;demo_leverage=50,100,200,400&amp;startup_mode=open_live&amp;lang=<%= lang.text('trade_tool')%>" allowfullscreen="allowfullscreen" style="width: 100%; height: 677px; border: none"></iframe>
            </div>

        <% include vendor.js.html %>

        <!-- build:js(client) /scripts/trade_tool.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/product.service.js"></script>
        <script src="/scripts/common/utils.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/pagination.directive.js"></script>

        <script src="/scripts/common/global.controller.js"></script>

        <script src="/scripts/product/comment.controller.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
    </body>
</html>
