<!DOCTYPE html>
<html lang="en">
<head>
    <% include /common/meta/web.html %>
    <% include /common/vendor/web.css.html %>

    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->

    <% include /common/statistic/main.html %>
</head>
<body ng-app="fullstackApp" class="<%= lang_class%>">
<div ng-controller="GlobalController">
    <p style="padding: 10px; background-color: #fff;">Jumping, please wait…</p>

    <% include /common/vendor/web.js.html %>

    <!-- build:js(client) /scripts/waiting.js -->

    <script src="/scripts/common/config.service.js"></script>
    <script src="/scripts/common/account.service.js"></script>
    <script src="/scripts/common/authorization.service.js"></script>
    <script src="/scripts/common/ranklist.service.js"></script>
    <script src="/scripts/common/product.service.js"></script>
    <script src="/scripts/common/lang.service.js"></script>
    <script src="/scripts/common/lang_data.service.js"></script>
    <script src="/scripts/common/redbag.service.js"></script>

    <script src="/scripts/common/global.controller.js"></script>

    <script src="/scripts/common/navbar.directive.js"></script>
    <script src="/scripts/common/dropdown.directive.js"></script>
    <script src="/scripts/common/carousel.directive.js"></script>
    <script src="/scripts/common/line_chart.directive.js"></script>
    <script src="/scripts/common/progress.directive.js"></script>
    <!-- endbuild -->

</div>
</body>
</html>
