<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/metas.html %>
    <title><%=lang.text("title")%> 直通全球资本市场</title>
    <meta name="description" content="<%=lang.text("companyZhName")%>倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">

    <% include vendor.css.html %>

    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->

    <% include common/common_header.html %>
</head>
<body ng-app="fullstackApp" class="<%= lang_class%>">
    <div ng-controller="GlobalController">
        <div class="header">
            <% include navbar/main.html %>
        </div>
        <div class="body" style="background-color: #fafafa;">
            <div class="container">
                <div class="web-partner">
                    <p class="web-partner__title">合作伙伴</p>
                    <ul class="web-partner__ul">
                        <!--
                        <li>
                            <div class="web-partner__ul-img web-partner__ul-icon1"></div>
                            <div class="web-partner__ul-con">CCTV证券资讯频道于2006年4月开播，是在原广电总局批准下、中国证监会明文支持下成立的数字频道，也是一家可以辐射全国、制作并提供证券资讯节目的数字电视专业化财经频道。</div>
                        </li>
                        -->
                        <li>
                            <div class="web-partner__ul-img web-partner__ul-icon2"></div>
                            <div class="web-partner__ul-con">汇金网作为中国专业的黄金门户网站，为用户提供最快、最全的资讯服务，提供稳定、实用的软件系统，提供专业、全面的培训教学。汇金网，最专业的直播证券、期货、外汇黄金、大宗商品等金融领域的实时新闻。最快速、最精准、最深入的全球财经资讯和市场行情。</div>
                        </li>
                        <li>
                            <div class="web-partner__ul-img web-partner__ul-icon3"></div>
                            <div class="web-partner__ul-con">汇通财经作为中国专业的外汇黄金媒体，为用户提供最快最全面的资讯服务，提供稳定实用的软件系统及完善的培训教学，帮助投资者实现信息对称，让更多的投资者了解和参与外汇黄金市场。</div>
                        </li>
                        <li>
                            <div class="web-partner__ul-img web-partner__ul-icon4"></div>
                            <div class="web-partner__ul-con">银率网是中国金融产品搜索平台的领航者，纽交所上市公司(NYSE：RATE)。2007年进入中国，2008年网站正式上线，银率网凭借强大的数据库和分析师团队，提供有关信用卡、银行理财产品、存贷款利率、P2P网贷、基金、信托、保险等产品的在线搜索。</div>
                        </li>
                        <li>
                            <div class="web-partner__ul-img web-partner__ul-icon5"></div>
                            <div class="web-partner__ul-con">“价值中国”成立于2004年5月，是关注中国财经领域的专业性、实名制的新媒体网站，涵盖经济、投资、金融、管理等大财经商业领域，具有行业新闻的专业性、权威性、及时性和评论性。被誉为中国创新的和领先的专业财经‧商业新媒体。</div>
                        </li>
                        <li>
                            <div class="web-partner__ul-img web-partner__ul-icon6"></div>
                            <div class="web-partner__ul-con">金融界网站成立于1999年8月，是中国金融在线（NASDAQ：JRJC）旗下成员之一，是目前中国领先的以证券交易为核心的互联网综合理财平台。金融界网站在“让投资更简单”的使命驱动下，凭借庞大的用户群，及业界领先的服务团队，为中国日益庞大的投资者打造、并不断拓展和优化互联网综合理财平台。</div>
                        </li>
                        <li>
                            <div class="web-partner__ul-img web-partner__ul-icon7"></div>
                            <div class="web-partner__ul-con">领先的金融资讯平台，A股、外汇、贵金属、财经日历、24小时资讯直播、投资问答。让投资者快速掌握第一手投资资讯，友财网—您值得信赖的金融资讯平台！</div>
                        </li>
                        <li>
                            <div class="web-partner__ul-img web-partner__ul-icon8"></div>
                            <div class="web-partner__ul-con" style="padding-top: 16px;">中文外汇财经网站论坛社区，全球华人外汇投资者、外汇交易员、外汇分析师、外汇专业机构在线交流平台。</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <% include common/footer.html %>
        </div>
    </div>
    <% include vendor.js.html %>

    <!-- build:js(client) /scripts/home.js -->
    <script src="/scripts/common/config.service.js"></script>
    <script src="/scripts/common/account.service.js"></script>
    <script src="/scripts/common/authorization.service.js"></script>
    <script src="/scripts/common/ranklist.service.js"></script>
    <script src="/scripts/common/product.service.js"></script>
    <script src="/scripts/common/lang.service.js"></script>
    <script src="/scripts/common/lang_data.service.js"></script>

    <script src="/scripts/common/global.controller.js"></script>

    <script src="/scripts/common/navbar.directive.js"></script>
    <script src="/scripts/common/dropdown.directive.js"></script>
    <script src="/scripts/common/carousel.directive.js"></script>
    <script src="/scripts/common/line_chart.directive.js"></script>
    <script src="/scripts/common/progress.directive.js"></script>

    <script src="/scripts/ranklist/all.controller.js"></script>

    <script src="/scripts/home/index.controller.js"></script>
    <!-- endbuild -->

</body>
</html>
