<%
 var date = new Date();
 
 var month = date.getMonth() + 1;
 date.setMonth(date.getMonth()+1);
 date.setDate(0);
 var endDate = date.getDate();
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/metas.html %>
    <title>老虎外汇 - TigerWit 直通全球资本市场</title>
    <meta name="description" content="老虎外汇倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">

    <% include vendor.css.html %>

    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->
</head>
<body ng-app="fullstackApp" class="<%= lang_class%>">
    <div ng-controller="GlobalController">
        <div class="header">
            <% include navbar/main.html %>
        </div>
        <div class="body">
            <!-- 赠金开始 -->
            <div class="new-bonus">
            <div class="new-bonus__banner">
                <div>
                    <a class="new-bonus__btn" href="/space/#/account/register" target="_blank">立即开户</a>
                </div>
                <div class="new-bonus__row container" style="width:1060px;">
                    <div class="row">
                        <div class="col-xs-6">
                            <div>
                                <a href="/space/#/account/register" target="_blank">
                                    立即开户
                                </a>
                                <p>注册即可获得 100 美金</p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div>
                                <a href="/space/#/space/asset/deposit" target="_blank">
                                    立即入金
                                </a>
                                <p>入金赠金高达 10000 美金</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-bonus__date">活动时间：<%= month%>月1日 —— <%= month%>月<%= endDate%>日</div>
            </div>
                
            <div class="container new-bonus__no-padding" style="width:1061px;">
                <div class="new-bonus__con b-con">
                    <div class="b-con__sign">
                        <span class="b-con__triangle1"></span>
                        <p class="font-size-14 font-light">如有疑问请咨询在线客服，或者拨打 400-809-8509</p>
                        <span class="b-con__triangle2"></span>
                    </div>
                    <div class="b-con__rules-con">
                        <p class="b-con__title">活动规则</p>
                        <ul class="mg-tp-20">
                            <li>1. 注册即可获得 100 美金体验资金，可直接用于交易，体验资金即刻到账；</li>
                            <li>2. 5 天内入金可额外获得 50 美金赠金，入金后交易满 15 手，可提取全部的体验资金和盈利，无时间限制。</li>
                            <li>3. 任何时间内，首次充值大于 2000 美金，即可享受更优厚的赠金条件，如下：</li>
                        </ul>
                        <table class="b-con__rules_table">
                            <thead>
                                <tr>
                                    <th>入金金额</th>
                                    <th>赠金比例</th>
                                    <th>交易手数</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2000-4999 美金</td>
                                    <td>10.0%</td>
                                    <td>赠金金额／4</td>
                                </tr>
                                <tr>
                                    <td>5000-9999 美金</td>
                                    <td>12.5%</td>
                                    <td>赠金金额／4</td>
                                </tr>
                                <tr>
                                    <td>10000 美金以上</td>
                                    <td>15%，不超过 10000 美金</td>
                                    <td>赠金金额／4</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="b-con__title mg-tp-50">注意事项</p>
                        <ul>
                            <li>1. 首次入金时，系统将会自动平仓您的所有持仓订单，同时清除当前余额，并重新发放100美金赠金。</li>
                            <li>2. 超过 5 天且充值小于 2000 美金的用户，只享受 100 美金的体验金，活动期间交易 15 手后可提取体验资金；</li>
                            <li>3. 本活动的交易手数适用于外汇，贵金属以及能源类产品，CFD 股指交易手数不计入统计范围；</li>
                            <li>4. 本活动仅限首次入金的新用户，为了保证您的资金快速出入，请提交正确的开户信息；</li>
                            <li>5. 完成规定交易手数之前，赠金不可抵消账户亏损，若账户净值低于赠金金额的 105%，老虎外汇有权强行平仓；</li>
                            <li>6.首次申请出金时，未达到要求交易量，系统将会自动扣除赠金金额；</li>
                            <li>7.定期跟单账户不参加赠金活动；</li>
                            <li>8. 老虎外汇享有最终解释权，若有疑问，请咨询在线客服，或者拨打 400-809-8509。</li>
                        </ul>
                    </div>
                </div>
                <div class="new-bonus__bottom">

                </div>
                <!-- <div class="text-center">
                    <a class="b-con__feed-btn" href="/about/bonus_before" target="_blank">
                        往期活动
                    </a>
                </div> -->
            </div>
        </div>

    <% include vendor.js.html %>

    <!-- build:js(client) /scripts/home.js -->
    <script src="/scripts/common/config.service.js"></script>
    <script src="/scripts/common/account.service.js"></script>
    <script src="/scripts/common/authorization.service.js"></script>
    <script src="/scripts/common/ranklist.service.js"></script>
    <script src="/scripts/common/product.service.js"></script>
    <script src="/scripts/common/lang.service.js"></script>
    <script src="/scripts/common/lang_data.service.js"></script>

    <script src="/scripts/common/global.controller.js"></script>

    <script src="/scripts/common/navbar.directive.js"></script>
    <script src="/scripts/common/dropdown.directive.js"></script>
    <script src="/scripts/common/carousel.directive.js"></script>
    <script src="/scripts/common/line_chart.directive.js"></script>
    <script src="/scripts/common/progress.directive.js"></script>

    <script src="/scripts/ranklist/all.controller.js"></script>

    <script src="/scripts/home/index.controller.js"></script>
    <!-- endbuild -->

        <div class="footer">
            <% include common/footer.html %>
        </div>
    </div>
</body>
</html>
