<% if (pageInfo.id === 'proxy') { %>
    <% var title = '代理合作' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'become') {%>
    <% var title = '成为高手' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } %>
<!DOCTYPE html>
<html>
    <head>
        <% include common/metas.html %>

        <title>老虎外汇｜<%= title %></title>
        <meta name="description" content="老虎外汇倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">
        <meta name="keywords" content="">

        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->

        <% include common/common_header.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>

            <div class="body">
                <div class="layout-2">
                    <div class="layout-2__side mg-tp-30">
                        <%- include('web/agent-sidebar.html') %>
                    </div>
                    <div class="layout-2__content mg-tp-30">
                        <%- include('web/agent-' + pageInfo.id + '.html') %>
                    </div>
                </div>
            </div>


        <% include vendor.js.html %>

        <!-- build:js(client) /scripts/web_agent.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/transition.service.js"></script>
        <script src="/scripts/common/validator.service.js"></script>
        <script src="/scripts/common/market.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>

        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        <script src="/scripts/common/form_select.directive.js"></script>
        <script src="/scripts/common/upload_history_file.directive.js"></script>

        <script src="/scripts/common/modal.js"></script>

        <script src="/scripts/common/global.controller.js"></script>
        <script src="/scripts/web/become_master.controller.js"></script>
        <script src="/scripts/web/become_modal.controller.js"></script>

        <script src="/scripts/web/agent.controller.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
    </body>
</html>
