<% if (pageInfo.id === 'stp') { %>
    <% var title = 'STP交易模式' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'team') { %>
    <% var title = '精英团队' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'report') { %>
    <% var title = '媒体报道' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'control') { %>
    <% var title = '合规和监管' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'tigerwit') { %>
    <% var title = '关于老虎外汇' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } %>
<!doctype html>
<html>
    <head>
        <% include common/metas.html %>
    
        <title>老虎外汇｜<%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta name="keywords" content="<%= keywords %>">

        <% include vendor.css.html %>

        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->

        <% include common/common_header.html %>
    </head>
    <body ng-app="fullstackApp" class="<%= lang_class%>">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>
            
            <div class="body" style="background-color: #fafafa">
                <div class="layout-2">
                    <div class="layout-2__side mg-tp-30">
                        <%- include('web/about-sidebar.html') %>
                    </div>
                    <div class="layout-2__content mg-tp-30">
                        <%- include('web/about-' + pageInfo.id + '.html') %>
                    </div>
                </div>
            </div>


        <% include vendor.js.html %>

        <!-- build:js(client) /scripts/web_about.js -->
        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        <script src="/scripts/common/authorization.service.js"></script>
        <script src="/scripts/common/lang.service.js"></script>
        <script src="/scripts/common/lang_data.service.js"></script>
        
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        
        <script src="/scripts/common/global.controller.js"></script>

        <script src="/scripts/common/media.directive.js"></script>
        <!-- endbuild -->

            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
    </body>
</html>