<% if (pageInfo.id === 'rules') { %>
    <% var title = '复制规则' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'select') { %>
    <% var title = '选择高手' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } else if (pageInfo.id === 'become') { %>
    <% var title = '成为高手' %>
    <% var description = '' %>
    <% var keywords = '' %>
<% } %>
<!doctype html>
<html>
    <head>
        <% include common/metas.html %>
    
        <title>老虎金融｜<%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta name="keywords" content="<%= keywords %>">
        
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->
    </head>
    <body ng-app="fullstackApp">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>
            
            <div class="body">
                <div class="layout-2">
                    <div class="layout-2__side">
                        <%- include('web/copy-sidebar.html') %>
                    </div>
                    <div class="layout-2__content">
                        <%- include('web/copy-' + pageInfo.id + '.html') %>
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
        <!-- build:js(client) /scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(client) /scripts/web.js -->
        <script src="/scripts/app.js"></script>

        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        
        <script src="/scripts/common/global.controller.js"></script>
        <!-- endbuild -->
    </body>
</html>