<!doctype html>
<html>
    <head>
        <% include common/metas.html %>
        <title>老虎金融｜<%= pageInfo.title %></title>
        <meta name="description" content="<%= pageInfo.description %>">
        <meta name="keywords" content="<%= pageInfo.keywords %>">

        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->
    </head>
    <body ng-app="fullstackApp">
        <div ng-controller="GlobalController">
            <div class="header">
                <% include navbar/main.html %>
            </div>
            <div class="body">
                <% include web/copy-index.html %>
            </div>
            <div class="footer">
                <% include common/footer.html %>
            </div>
        </div>
        <!-- build:js(client) /scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(client) /scripts/web.js -->
        <script src="/scripts/app.js"></script>

        <script src="/scripts/common/config.service.js"></script>
        <script src="/scripts/common/account.service.js"></script>
        
        <script src="/scripts/common/navbar.directive.js"></script>
        <script src="/scripts/common/dropdown.directive.js"></script>
        
        <script src="/scripts/common/global.controller.js"></script>
        <!-- endbuild -->
    </body>
</html>
