<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/metas.html %>
    <title>MT4 下载｜老虎金融－TigerWit 直通全球资本市场</title>
    <meta name="description" content="老虎金融倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">
    <!-- build:css(.tmp) /styles/web.css -->
    <link rel="stylesheet" href="/styles/web.css">
    <!-- endbuild -->
</head>
<body ng-app="fullstackApp">
    <div ng-controller="GlobalController">
        <div class="header">
            <% include navbar/main.html %>
        </div>
        <div class="body mg-tp-84" style="background-color: #fafafa;">
            <div class="container">
                <div class="mt4">
                    <p class="mt4__title mg-tp-100">MT4 交易软件下载</p>
                    <p class="font-info text-center font-size-18 mg-tp-20">操作方便，高效易用</p>
                    <p class="mt4__con1 mg-tp-30">
                        MT4 交易平台可以即时查看黄金、白银、外汇、股票、期货等行情，同时可以进行模拟交易。MT4 交易平台功能强大，页面简洁，操作方便，最主要的开仓平仓功能简单易用，投资者可以通过设置止赚止损来进行风险控制。MT4 交易平台除了提供实时行情和交易功能外，还包括 18 种画线工具、9 个交易时段图表选项、30 种国际流行技术指标和声音预警提示。用户可进行下单、平仓、限价单、止损、止赢、查看实时新闻、公告、预警、查看报表，以及数据分析和处理等操作。
                    </p>
                    <div class="row text-center mg-tp-100">
                        <div class="col-xs-4">
                            <img src="../images/web/mt4-ios.png">
                            <a class="mt4__info" href="https://itunes.apple.com/cn/app/metatrader-4/id496212596?l=en&mt=8" target="_blank">
                                <img src="../images/web/mt4-ios-s.png">
                                 <span>IOS 下载</span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <img src="../images/web/mt4-and.png">
                            <a class="mt4__info" href="http://zhushou.360.cn/detail/index/soft_id/260622?recrefer=SE_D_meta" target="_blank">
                                <img src="../images/web/mt4-and-s.png">
                                 <span>Android 下载</span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <img class="mt4__img-com" src="../images/web/mt4-com.png">
                            <a class="mt4__info" href="https://www.tigerwit.com/files/tigerwit_setup_150807.exe" target="_blank">
                                <img src="../images/web/mt4-com-s.png">
                                 <span>PC端下载</span>
                            </a>
                        </div>
                    </div>
                    <p class="mg-tp-50 text-right">
                        <a class="mt4__link" href="">PC端软件安装教程 ></a>
                    </p>
                    <p class="text-right font-info">
                        <a class="mt4__link" href="">交易软件使用教程 ></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <% include common/footer.html %>
        </div>
    </div>
    <!-- build:js(client) /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/highcharts-release/highcharts.js"></script>
    <script src="/bower_components/highcharts-release/highcharts-more.js"></script>
    <script src="/bower_components/highcharts-release/modules/exporting.js"></script>
    <script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script src="/bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="/bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="/bower_components/jsencrypt/bin/jsencrypt.min.js"></script>
    <script src="/bower_components/mediaelement/build/mediaelement-and-player.js"></script>
    <script src="/bower_components/swiper/dist/idangerous.swiper.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(client) /scripts/web.js -->
    <script src="/scripts/app.js"></script>
    
    <script src="/scripts/common/config.service.js"></script>        
    <script src="/scripts/common/account.service.js"></script>
    <script src="/scripts/common/ranklist.service.js"></script>
    <script src="/scripts/common/product.service.js"></script>

    <script src="/scripts/common/global.controller.js"></script>
        
    <script src="/scripts/common/navbar.directive.js"></script>
    <script src="/scripts/common/dropdown.directive.js"></script>
    <!-- endbuild -->
</body>
</html>