<!DOCTYPE html>
<html lang="en" class="bd_greenhand_html">

<head>
    <meta charset="UTF-8">
    <title>
        <%=lang.text("companyZhName")%>｜注册送200美金赠金</title>
        <% include /common/vendor/web.css.html %>
        <!-- build:css(.tmp) /styles/web.css -->
        <link rel="stylesheet" href="/styles/web.css">
        <!-- endbuild -->
        <% include /common/statistic/main.html %>
        <% include /common/vendor/web.js.html %>
</head>

<body ng-app="fullstackApp" class="bd_greenhand">
    <div ng-controller="GlobalController">
        <% include /common/nav/web.header.html %>
        <div class="bd_recruit_layout">
            <div class="container">
                <div class="bd_recruit_logo">
                    <img src="/images/basic_logo.png">
                </div>
                <div class="bd_recruit_title">
                    <img src="/images/bd_recruit/comm_title.png">
                </div>
                <div class="bd_recruit_btn_box1">
                    <span class="bd_recruit_btn">认证高手是什么？</span>
                </div>
                <ul class="bd_recruit_icon_box clearfix">
                    <li class="bd_recruit_icon">
                        <div class="icon"><img src="/images/bd_recruit/comm_icon1.png"></div>
                        <p class="icon_tit">具有较强的</p>
                        <p class="icon_sub_tit">外汇操盘实力</p>
                    </li>
                    <li class="bd_recruit_icon">
                        <div class="icon"><img src="/images/bd_recruit/comm_icon2.png"></div>
                        <p class="icon_tit">具有张弛有度的</p>
                        <p class="icon_sub_tit">风险掌控能力</p>
                    </li>
                    <li class="bd_recruit_icon">
                        <div class="icon"><img src="/images/bd_recruit/comm_icon3.png"></div>
                        <p class="icon_tit">能够带领普通投资者</p>
                        <p class="icon_sub_tit">叱咤汇市</p>
                    </li>
                    <li class="bd_recruit_icon">
                        <div class="icon"><img src="/images/bd_recruit/comm_icon4.png"></div>
                        <p class="icon_tit">享受荣耀的同时</p>
                        <p class="icon_sub_tit">赢得财富</p>
                    </li>
                </ul>
                <div class="bd_recruit_btn_box2">
                    <span class="bd_recruit_btn">认证高手将获得什么？</span>
                </div>
                <ul class="bd_recruit_reward_box">
                    <li class="bd_recruit_reward reward1">
                        高手享有官方认证荣誉标签；
                    </li>
                    <li class="bd_recruit_reward reward2">
                        高手享有交易操作部分盈利作为分成奖励；
                    </li>
                    <li class="bd_recruit_reward reward3">
                        高手享有专属运营管理员的VIP级服务；
                    </li>
                    <li class="bd_recruit_reward reward4">
                        高手享有平台不定期打造的明星高手专题活动；
                    </li>
                    <li class="bd_recruit_reward reward5">
                        按照提交申请的先后顺序，通过申请的前20名认证高手， 将额外获得50美金奖励红包
                        <span>（通过认证后14日内完成1手交易即可兑现）。</span>
                    </li>
                </ul>
                <div class="bd_recruit_btn_box3">
                    <span class="bd_recruit_btn">认证高手有哪些义务？</span>
                </div>
                <ul class="bd_recruit_task_box">
                    <li class="bd_recruit_task clearfix">
                        <div class="shape">
                            <img src="/images/bd_recruit/comm_shape.png">
                        </div>
                        <div class="tip">
                            高手需要提供个人详细信息，平台将根据高手交易情况进行交易经验、策略等展示；
                        </div>
                    </li>
                    <li class="bd_recruit_task clearfix">
                        <div class="shape">
                            <img src="/images/bd_recruit/comm_shape.png">
                        </div>
                        <div class="tip">
                            高手需要与平台建立交流互动关系，针对跟单者所需内容提供相关的配套服务；
                        </div>
                    </li>
                    <li class="bd_recruit_task clearfix">
                        <div class="shape">
                            <img src="/images/bd_recruit/comm_shape.png">
                        </div>
                        <div class="tip">
                            针对高手账户风险过高或一切不利跟单者的情况下，平台会做出提示，高手需要根据实 际情况做出妥善改进；
                        </div>
                    </li>
                    <li class="bd_recruit_task clearfix">
                        <div class="shape">
                            <img src="/images/bd_recruit/comm_shape.png">
                        </div>
                        <div class="tip">
                            如高手认证后不符合上榜标准或净值浮亏较大，平台有权将高手下榜或取消认证资格。
                        </div>
                    </li>
                </ul>
                <div class="bd_recruit_btn_box4">
                    <span class="bd_recruit_btn">如何成为认证高手？</span>
                </div>
                <ul class="bd_recruit_condition_box">
                    <li class="bd_recruit_condition">
                        1、开通老虎外汇真实账户并完成<span>实名认证</span>；
                    </li>
                    <li class="bd_recruit_condition">
                        2、在老虎外汇交易平台<span>真实入金</span>并连续自主交易<span>20个交易日</span>以上；
                    </li>
                    <li class="bd_recruit_condition">
                        3、账户<span>总收益大于20%</span>；
                    </li>
                    <li class="bd_recruit_condition">
                        4、账户<span>余额不得低于500美金</span>；
                    </li>
                    <li class="bd_recruit_condition">
                        5、填写《老虎外汇认证高手申请表》并发送到指定邮箱。
                    </li>
                </ul>
                <div class="bd_recruit_download">
                    <a href="/bd/recruit_master/info" target="_blank"><img src="/images/bd_recruit/web_download_new.png"></a>
                </div>
                <div class="bd_recruit_qq">如有任何疑问请联系QQ号：3250619100</div>
            </div>
        </div>
        <div class="bd_recruit_footer">
            <div class="container boxing">
                风险警示：市场有风险，投资需谨慎。金融市场的保证金交易存在较高风险， 可能并不适合所有投资者，增大杠杆意味着高风险与高收益并存。在您决定交易前， 应当谨慎考虑您的投资目标、投资经验及风险承受能力，并选择适合自己的投资方式。 老虎外汇交易平台为广大交易高手及普通投资者提供复制交易服务， 交易高手的历史交易数据不代表未来操作能力，用户因此所产生的任何风险需自己承担。
            </div>
        </div>
    </div>
    <% include /common/nav/web.footer.html %>
    <%- include('/common/statistic/_all.html') %>
</body>
<!-- build:js(client) /scripts/bd_recruit.js -->
<script src="/scripts/common/config.service.js"></script>
<script src="/scripts/common/account.service.js"></script>
<script src="/scripts/common/authorization.service.js"></script>
<script src="/scripts/common/navbar.directive.js"></script>
<script src="/scripts/common/dropdown.directive.js"></script>
<script src="/scripts/common/global.controller.js"></script>
<script src="/scripts/common/loading_img.directive.js"></script>

<script src="/scripts/common/pagination.directive.js"></script>
<script src="/scripts/common/duration.filter.js"></script>

<script src="/scripts/common/symbol_mod.filter.js"></script>
<script src="/scripts/common/trader.service.js"></script>
<script src="/scripts/common/lang.service.js"></script>
<script src="/scripts/common/lang_data.service.js"></script>
<script src="/scripts/common/redbag.service.js"></script>
<script src="/scripts/plugins/layer.js"></script>
<script src="/scripts/plugins/plugins.js"></script>
<!-- endbuild -->
</html>