<div class="h5_register_reg_layout">
    <div class="h5_register_logo">
        <img src="<%= lang.image('h5RegisterLogo')%>" alt="">
    </div>
    <div class="h5_register_main">
        <form>
            <div class="telephone">
                <span class="area_code">
                    <span id="areaCodeShow"><%=lang.text('mRegister01')%></span>
                    <select name="" class="selector" id="areaCode" style="border: none!important"></select>
                </span>
                <input id="telephone" type="tel" placeholder="<%=lang.text('mRegister02')%>">
            </div>
            <div class="verify_code"><span><%=lang.text('mRegister03')%></span><input type="number" placeholder="<%=lang.text('mRegister04')%>" id="verify_code"><span class="verify_code_btn" id="verify_code_btn"><%=lang.text('mRegister05')%></span></div>
            <!-- <div class="password"><span>密码</span><input type="password" id="password" placeholder="密码为6-15位字母、数字或符号组合"><span class="password_btn" id="password_btn">
                <img id="show" class="hide" src="/images/mobile/reg_password_show.png">
                <img id="hide" src="/images/mobile/reg_password_hide.png">
            </span></div> -->
        </form>
        <span class="submit_form" id="submit_form"><%=lang.text('mRegister06')%></span>
        <div class="user_protocol">
            <span><%=lang.text('mRegister07')%></span>
            <a class="protocol" href="/m/h5_register/agreement">&nbsp;<%=lang.text('mRegister08')%></a>
        </div>
    </div>
</div>