<div class="h5_register_succ_layout">
    <div class="h5_register_logo <%= lang.text('companyEnName') %>">
        <img src="<%= lang.image('h5RegisterLogo')%>" alt="">
    </div>
    <div class="h5_register_main">
        <span class="reg_success_title forNormalPage">
            <%=lang.text('mRegister09')%>&nbsp;&nbsp;<img src="/images/mobile/h5_reg_succ.png" alt="成功注册!">
        </span>
        <span class="reg_success_title forRedbag">
            您已注册成功！<br>
            前往红包中心查看&nbsp;&nbsp;<img src="/images/mobile/h5_reg_succ.png" alt="成功注册!">
        </span>
        <!--<span class="reg_success_tip2">-->
            <!--MT4真实账号:-->
            <!--<span class="reg_MT4_number" id="reg_MT4_number">-->
                <!--正在获取...-->
            <!--</span>-->
            <!--(TigerWit-Live服务器)-->
        <!--</span>-->
        <!--<p class="reg_success_tip3">MT4密码:与登录密码相同</p>-->
        <a class="reg_btn" id="regist_btn3" data-url="/m/blank"><%=lang.text('mRegister10')%></a>
    </div>
</div>