//== 登录
.account-form-control[name=step1Phone],
.account-form-control[name=step2Phone],
.account-form-control[name=forgetPhone] {
    padding-right: 30px;
}
.account-form-control[name=step1Code],
.account-form-control[name=forgetCode] {
    padding-right: 140px;
}
.account-form-control[name=step1Password],
.account-form-control[name=step2Password],
.account-form-control[name=forgetPassword] {
    padding-right: 40px;
}


@include b(account_login-bg) {
    max-width: 2560px;
    min-height: 800px;
    overflow: hidden;
    padding-bottom: 80px;
    padding-top: 150px;
    background-position: center center;
    background-size: cover;
    @include img-normal($image-path-base + "login_bg_new3.jpg");

}
@include b(account_login_box) {
    width: 580px;
    height:100%;
    margin: 0 auto;
    overflow: hidden;
}

// @include b(account_describe) {
//     width: 50%;
//     float: left;
//     margin-bottom: -9999px;
//     padding-bottom: 9999px;
//     // color: #fff;
//     @include img-normal($image-path-base + "login_left.png");
//     &.en{
//         @include img-normal($image-path-base + "login_left_en.png");
//     }
//     @include e(title){
//         font-size: 54px;
//         line-height: 74px;
//         font-weight: 600;
//     }
//     @include e(content){
//         font-size:18px;
//         font-weight:600;
//         opacity: 0.5;
//         margin-top: 33px;
//         margin-bottom: 80px;
//         width: 400px;
//         line-height: 24px;
//     }
// }
@include b(account_login) {
    min-height: 400px;
    // width: 50%;
    // float: right;
    background-color: $bg-fff;
    padding: 62px 70px 62px;

    @include e(title) {
        font-size: 30px;
        line-height: 42px;
        font-weight: 600;
        color: $main-char-color-100;
        margin-bottom: 50px;
        > span{
            cursor: pointer;
        }
        > .no_active{
            color: $main-char-color-30;
        }
    }
    @include e(content) {
        // margin-right: 80px;
    }
    @include e(form) {
        
    }
    @include e(pass) {

        @include m(tip) {
            font-size: 13px;
            color: $login-link;
            font-weight: 600;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 3px;
            line-height: 44px;
        }
        @include m(tip2) {
            color: $main-char-color-30;
            font-size: 12px;
            padding-bottom: 20px;
        }
    }
    @include e(remenber) {
        font-size: 13px;
        padding: 0 3px;
        margin-bottom: 30px;
        @include m(btn) {
            color: $main-char-color-50;
            cursor: pointer;
            font-weight:400;
        }
        @include m(switch) {
            color: $login-link;
            font-weight: 600;
            cursor: pointer;
        }
    }
    @include e(btn) { 
        color: $main-color;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
        // text-align: center;
    }
    @include e(docs) {
        color: $main-char-color-100;
        font-size: 12px;
        line-height: 17px;
        @include m(go) {
            font-size: 13px;
            color: $main-char-color-30;
        }
        @include m(deal) {
            font-weight:400;
            a {
                color: #5496E4;
            }
        }
    }
    @include e(close) {
        position: absolute;
        top: 13px;
        right: 15px;
        font-size: 20px;
        height: 20px;
        line-height: 20px;
        cursor: pointer;
        color: $main-char-color-100;
    }
    @include e(code_btn) {
        position: absolute;
        top: 12px;
        height: 22px;
        line-height: 22px;
        right: 0px;
        color: $login-link;
        cursor: pointer;

        &.notAllowed {
            color: $main-char-color-30;
            cursor: not-allowed;
        }
    }
    @include e(layer) {
        @include m(title) {
            font-size:24px;
            font-weight:600;
            color:$main-char-color-100;
            text-align: center;
            margin-bottom: 29px;
        }
        @include m(msg) {
            font-size:14px;
            font-weight:400;
            color:$main-char-color-100;
            line-height:20px;
            text-align: center;
            padding-bottom: 42px;
            border-bottom:1px solid rgba(187,196,215,0.3);
            > span {
                text-align: left;
                display: inline-block;
            }
        }
        @include m(btns) {
            > a {
                font-weight:600;
                color:$main-char-color-100;
                &:last-child{
                    background: transparent;
                    border: 1px solid $main-char-color-30;
                }
            }
        }
    }
    
  
}


//== 注册register_copy 已弃用
@include b(account_register) {
    width: 600px;
    margin: 0px auto 200px;
    padding-top: 140px;

    @include e(title) {
        margin: 40px auto;
        text-align: center;
        
        img {
            width: 85px;
        } 
    }

    @include e(step-1) {
        width: 360px;
        margin: 0 auto;

        .phone_tip {
            width: 50px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 0;
            border-right: 1px solid $main-char-color-30;
            text-align: center;
            line-height: 40px;
            color: $main-char-color-50;
        }
        input[name=phone] {
            padding-left: 60px;
        }

        .btn-primary {
            width: 100%;
        }
        .col-xs-7 {
            padding-right: 0;
        }
        .captcha_btn {
            border-color: $main-char-color-30;
        }

        a.font-info:hover {
            text-decoration: underline;
        }
    }
    @include e(step-2) {
        width: 360px;
        margin: 0 auto;

        .password_tip {
            width: 80px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            line-height: 40px;
            color: $main-char-color-50;
        }
        input[name=password] {
            padding-left: 90px;
        }

        .btn-primary {
            width: 100%;
        }
    }
    @include e(step-3) {
        width: 360px;
        margin: 0 auto;

        p {
            text-align: center;
            font-size: 20px;
        }
    }
}

//== 步骤register_copy 已弃用
@include b(step_by_step) {
    margin-left: -100px;
    margin-right: -100px;
    padding-bottom: 10px;
    padding-left: 100px;
    border-bottom: 2px solid $main-char-color-8;

    @include e(step) {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        position: relative;

        > span {
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -12px;
        }

        > p {
            margin-bottom: 0;
            font-size: 16px;
            padding-left: 20px;
            color: $main-char-color-50;

            > span {
                display: inline-block;
                width: 22px;
                height: 22px;
                background-color: $main-char-color-8;
                text-align: center;
                line-height: 22px;
                font-size: 16px;
                margin-right: 4px;
                border-radius: 50%;
            }
        }

        &.active {
            > span {
                background-color: $brand-primary;    
            }
            
            > p {
                color: $main-char-color-100;
                font-weight: 700;

                > span {
                    background-color: $brand-primary;
                }
            }
        }
    }
}
