.h5_register_reg_layout {

  max-width: px2rem(750);
  width: 100%;
  height: 100%;
  background: url("/images/mobile/h5_register_bg2.png") no-repeat center center;
  background-size: 100% auto;
  position: relative;
  .h5_register_logo{
    margin: 0 auto;
    padding-top: px2rem(110);
    width: px2rem(385);
    img{
      width: 100%;
    }
  }
  .h5_register_main {
    width: 92%;
    height: 22.5rem;
    position: absolute;
    bottom: 0;
    left: 4%;
    opacity: 0.95;
    .submit_form {
      width: 100%;
      margin-top: px2rem(60);
      display: block;
      text-align: center;
      height: px2rem(96);
      background-color: $brand-primary-dark;
      color: $brand-button-color;
      line-height: 3rem;
      border-radius: px2rem(8);
      font-size: px2rem(30);
    }
    .user_protocol {
      margin-top: 6rem;
      text-align: center;
      font-size: px2rem(24);
      color: #fff;
      .protocol {
        color: $brand-primary-dark;
      }
    }
    form {
      height: px2rem(295);
      background-color: #fff;
      padding-left: px2rem(20);
      padding-top: px2rem(15);
      padding-bottom: px2rem(15);
      border-radius: px2rem(8);
      font-size: px2rem(30);
      div {
        width: 100%;
        height: 35%;
        line-height: 2.8rem;
        display: flex;
        border-bottom: 1px solid $gray;
        span {
          display: inline-block;
        }
        span:nth-child(1) {
          margin-right: px2rem(20);
        }
      }
      .telephone {
        span:nth-child(1) {

        }
        input {
          flex: 1;
        }
      }
      .verify_code {
        span:nth-child(1) {

        }
        .verify_code_btn {
          text-align: center;
          flex: none;
          display: inline-block;
          width: px2rem(210);
          height: 104%;
          // line-height: 3.3rem;
          padding-top: 0.8%;
          background-color: $brand-primary-dark;
          color: $brand-button-color;
          position: relative;
          top: -2%;
        }
        input {
          flex: 1;
        }
      }
      .password {
        border: none;
        span:nth-child(1) {

        }
        .password_btn {
          display: inline-block;
          width: px2rem(80);
          text-align: center;
          margin-right: px2rem(10);
          img {
            width: px2rem(60);
            vertical-align: middle;
          }
        }
        input {
          flex: 1;
        }
      }
    }
  }
}

.h5_register_succ_layout {
  max-width: px2rem(750);
  width: 100%;
  height: 100%;
  background: url("/images/mobile/h5_register_bg2.png") no-repeat center center;
  background-size: 100% auto;
  position: relative;

  .h5_register_logo{
    margin: 0 auto;
    padding-top: px2rem(110);
    width: px2rem(385);
    &.pandafx{
      width: 100%;
    }
    img{
      width: 100%;
    }
  }
  .h5_register_main {
    opacity: 0.95;
    width: 92%;
    height: 22.5rem;
    position: absolute;
    bottom: 0;
    left: 4%;
    text-align: center;
    .reg_btn {
      color: $brand-button-color;
      font-size: px2rem(36);
      font-weight: 400;
      display: block;
      width: 90%;
      height: px2rem(90);
      line-height: px2rem(90);
      text-align: center;
      margin: 0 auto;
      margin-top: px2rem(60);
      background-color: $brand-primary-dark;
      margin-bottom: 1rem;
      border: 1px solid $brand-primary-dark;
      -webkit-border-radius: px2rem(8);
      -moz-border-radius: px2rem(8);
      border-radius: px2rem(8);
    }
    span, p {
      color: $gray-light;
      font-weight: 200;
    }
    .reg_success_title {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: px2rem(48);
      margin-bottom: px2rem(40);
      font-weight: 500;
      color: #fff;
      &.forNormalPage, &.forRedbag{
        display: none;
      }
      img {
        display: inline-block;
        border-radius: px2rem(25);
        width: px2rem(50);
        height: px2rem(50);
        background-color: $brand-primary-dark;
      }
      span{
        display: inline-block;
        line-height:px2rem(50);
        text-align: center;
      }
      span.forRedbag{
        font-size: 1.2rem;
      }
    }
    .reg_success_tip1 {
      font-size: px2rem(30);
      display: block;
      margin-bottom: px2rem(50);
      font-family: PingFangSC-Regular;
      text-align: center;
    }
    .reg_success_tip2 {
      display: block;
      margin: 0 auto;
      font-family: PingFangSC-Regular;
      text-align: center;
      font-size: px2rem(28);
    }
    .reg_success_tip3 {
      font-family: PingFangSC-Regular;
      font-size: px2rem(28);
      margin-top: px2rem(10);
    }
  }
}

.h5_agreement_layout {
  width: 100%;
  font-size: px2rem(32);
  .tabNav {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $gray-lightest;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: px2rem(100);
    li {
      flex: 1;
      height: 100%;
      line-height: px2rem(96);
      text-align: center;
      border-bottom: px2rem(4) solid transparent;
      display: inline-block;
      color: $gray-darker;
      font-weight: 500;
    }
    li.active {
      color: #222 !important;
      border-bottom: px2rem(4) solid $brand-primary-dark !important;
    }
  }
  .tips {
    position: relative;
    width: 100%;
    font-size: px2rem(28);
    color: $gray-darker;
    h5 {
      font-size: px2rem(32);
      color: #222;
    }
    .tips_item {
      background-color: #f3f3f3;
      display: none;
      position: absolute;
      width: 100%;
      padding: px2rem(30) px2rem(30);
      padding-top: px2rem(100);
      top: 0;
      left: 0;
    }
    .tips_item:nth-child(3) {
      div {
        margin-top: px2rem(20);
        margin-bottom: px2rem(20);
        h5 {
          margin-top: px2rem(15);
          margin-bottom: px2rem(15);
          position: relative;
          padding-left: px2rem(32);
          span {
            position: absolute;
            left: 0;
            top:0;
            transition: all 0.2s linear;
          }
          span.active{
            transform:rotateZ(90deg)
          }
        }
        .detail {
          display: none;
        }
      }
    }
    .active {
      display: block;
    }
  }
}