.modal-open {
    overflow-y: hidden;
}
@include b(regular_detail) {
    background-color: $m-background-color;

    @include e(mar35) {
        margin: 0 px2rem(35);
    }
}
@include b(regular_detail_summary){
	@include e(info){
        background-color: $brand-primary;
        height: px2rem(228);

        @include m(tit) {
            color: $m-opacity-gray;
            padding: px2rem(35) 0 px2rem(40);
        }

        @include m(profit){
            font-size : px2rem(100);
            line-height: px2rem(62);
            color: $brand-button-color;
        }
	}

    @include e(instr) {
        background-color: $brand-primary;
        padding: px2rem(20) 0;

        > li {
            float: left;
            width: 50%;
            height: px2rem(198);
            border-left: 1px solid $m-opacity-border;

            &:first-child {
                border: none;
            }
        }

        @include m(tit) {
            font-size: px2rem(26);
            color: $m-opacity-gray;
            margin-bottom: px2rem(18);
        }
        @include m(num) {
            font-size: px2rem(40);
            color: $brand-button-color;
        }           
    }
	
}
@include b(regular_detail_progress) {
    background-color: #fff;
    height: px2rem(110);

    @include e(info) {
        padding-top: px2rem(34);
    }
    @include e(total) {
        float: left;

        > .tip {
            color: $m-gray-base;
            font-size: px2rem(28);
        }
        > .num {
            color: $m-brand-danger;
            font-size: px2rem(30);
        }
    }
    @include e(complete) {
        float: right;
        color: $m-gray-base;
        font-size: px2rem(28);
    }
    @include e(bar) {
        height: px2rem(4);
        width: 100%;
        background-color: $m-gray-light;
        border-radius: px2rem(2);
        position: relative;

        > .bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: $m-brand-info;
            border-top-left-radius: px2rem(2);
            border-bottom-left-radius: px2rem(2);
        }
    }
}
@include b(regular_detail_content){
    margin-top: px2rem(20);
    background-color: #fff;

	@include e(dl){
        padding: px2rem(34) 0 px2rem(16);

		dt{
			color: $gray-base;
			padding-bottom: px2rem(18);
		}
		dd{
			padding-bottom: px2rem(40);
			color: $m-gray-base;
			font-size: px2rem(28);
		}
	}
}
@include b(regular_detail_tab) {
    margin-top: px2rem(20);
    background-color: #fff;
}
@include b(regular_detail_comment) {
    padding: px2rem(20) 0 px2rem(43);
    color: $m-gray-base;
    font-size: px2rem(28);
}
@include b(regular_detail_btn) {
    padding-bottom: px2rem(24);
}

@include b(regular_detail_team) {

    @include e(title) {
        color: $m-gray-base;
        font-size: px2rem(34);
        margin: px2rem(20) 0 px2rem(45);
    }
    @include e(content) {

        > dt {
            color: $gray-base;
            font-size: px2rem(34);
            margin-bottom: px2rem(20);
            line-height: px2rem(34);
            // font-weight: bold;

            > span {
                display: inline-block;
                width: px2rem(20);
                height: px2rem(20);
                border: 2px solid $brand-primary;
                border-radius: 50%;
                margin-right: px2rem(10);
            }
        }
        > dd {
            color: $m-gray-base;
            margin-bottom: px2rem(45);
            line-height: px2rem(60);

            > .list {
                padding-top: px2rem(16);
                padding-left: px2rem(40); 
            }
        }
    }
}
@include b(regular_detail_history) {
    padding-top: px2rem(20);
}
@include b(regular_detail_history_tab) {
    background-color: #fff;

    @include e(img) {
        background-color: $m-gray-lightest;
        padding: px2rem(46) px2rem(50);
        margin-left: px2rem(-35);
        display: none;

        &.active {
            display: block;
        }

        > img {
            width: 100%;
        }
    }
    .tab__item {
        &.no-border {
            border: none;
        }
        
        .fa-angle-down {
            display: none;

            &.active {
                display: block;
            }
        }

        .fa-angle-up {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
@include b(regular_detail_form) {
    @include e(wrapper) {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: px2rem(20);
    }
    @include e(input) {
        display: block;
        width: 100%;
        height: px2rem(80);
        padding: px2rem(8) px2rem(10);
        border: none;
        border-radius: 2px;
        line-height: px2rem(80);
        font-size: px2rem(28);
        background-color: #fff;
        color: $m-gray-base;
    }
}
@include b(regular_modal) {
    @include e(backdrop) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1070;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        z-index: 100;
        display: none;

        &.active {
            display: block;
        }
    }
    // @include e(loading) {
    //     position: fixed;
    //     top: 50%;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     text-align: center;
    //     // color: #fff;
    //     display: none;

    //     &.active {
    //         display: block;
    //     }
    // }
    @include e(wrapper) {
        position: fixed;
        top: 30%;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 200;
        display: none;

        &.active {
            display: block;
        }
        &.in {
            .regular_modal__content {
                transform: translate(0, 0);
            }
        }
    }
    @include e(content) {
        width: 100%;
        height: 100%;
        background-color: $m-gray-modal;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        transition: transform .35s ease-out;
        transform: translate(0, 100%);

        &.active {
            display: block;
        }

        > .title {
            padding: px2rem(30) px2rem(18);

            > h4 {
                font-size: px2rem(32);
                display: inline-block;
                font-weight: normal;
            }
            > span {
                color: $m-gray-base;
                font-size: px2rem(20);
                float: right;
            }
        }
        > .content {
            text-align: center;
            padding: 0 1px px2rem(60) 1px;

            > .title {
                font-size: px2rem(32);
                font-weight: normal;
                padding-top: px2rem(30);
            }
            > .info {
                color: $m-gray-base;
                font-size: px2rem(26);
                padding-top: px2rem(15);
            }
        }
        > .checkbox-wrapper {
            color: $m-gray-base;
            font-size: px2rem(20);
            text-align: center;
        }
        > .modal_btn {
            text-align: center;
            padding: px2rem(30);
        }
        > .regular-close {
            text-align: right;

            > span {
                padding: px2rem(15) px2rem(15);
                display: inline-block;
            }
        }
    }
}

@include b(hy-detail) {
    @include e(fix-box) {
        > .title_box {
            margin-top: px2rem(20);
        }
        > p {
            margin-top: px2rem(15);
            line-height: px2rem(46);
            padding: 0 px2rem(15);
            font-size: px2rem(28);
        }
    }
}
