<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- build:css(.tmp) /styles/web.css -->
  <link rel="stylesheet" href="/styles/web.css">
  <!-- endbuild -->
  <title>TigerWit</title>
</head>
<body>
  <div class="bonus25-layout">
    <div class="bonus25-rules-wrapper">
      <h1><img src="/white_label/tigerwit-logo-black.png" alt=""></h1>
      <h2 class="mg-bt-20">حساب مجاني بقيمة 25$!</h2>
      <p class="sub-title mg-bt-20">
        عند فتح حساب تداول حقيقي جديد مع TigerWit، سنمنحك مكافأة تداول بقيمة 25 دولارًا لفتح صفقتك الأولى.
      </p>
      <p class="tips mg-bt-20">
        الشروط والأحكام  لهذا العرض:
      </p>
      <ul>
        <li>1)  يتم منح مكافأة تداول 25 دولارًا لعملاء TigerWit الجدد عند فتح حساب تداول حقيقي ولا يمكن المطالبة به سوى مرة واحدة.</li>
        <li>2) سحب هذه المكافأة مقيد. يعتبر هذا الحساب لأغراض التداول فقط وليس متاحًا للسحب.</li>
        <li>3) هذا العرض لا يدعم منصات الطرف الثالث.</li>
        <li>4) لا يوجد قيود على التداول.</li>
        <li>5)  سيتم استبعاد أي مستخدم يخالف أيًا من الشروط أعلاه أو اتفاقية عميل TigerWit من هذا العرض الترويجي وستتم إزالة المكافأة من حسابه.</li>
        <li>6)  تحتفظ TigerWit بالحق في إلغاء هذا العرض الترويجي أو تعديل الشروط والأحكام في أي وقت.</li>
        <li>7) يستمر العرض لمدة 30 يوم يبدأ من 15/6/20 حتى 15/7/20</li>
        <li>8)  إذا لم يتم الإيداع أو استخدام هذه المكافأة، فسيتم إلغاء 25 دولار وإزالتها من حسابهم بعد 3 أشهر.</li>
      </ul>
      <a href="/ar/get-a-25-trading-bonus">رجوع للعرض</a>
    </div>
    <div class="bonus25-footer-wrapper">
      <div style="width: 100%;height: 1px;margin: 0 auto; background-color: #333;"></div>
      <h1 style="padding-top: 20px;"><img src="/white_label/tigerwit-logo-en.png" alt=""></h1>
      <p class="doc">
        <a href="https://contrabass-dandelion-dp8b.squarespace.com/global/privacy-policy-and-cookie-disclosure">Privacy Policy & Cookie Disclosure</a>
        |
        <a href="https://contrabass-dandelion-dp8b.squarespace.com/global/terms-and-conditions">Terms & Conditions</a>
        |
        <a href="https://contrabass-dandelion-dp8b.squarespace.com/global/risk-disclosure-notice">Risk Disclosure Notice</a>
      </p>
      <h4>التحذير بشأن المخاطر: </h4>
      <p class="mg-bt-10">ينطوي تداول عقود الفروقات على مخاطر ويمكن أن يؤدي إلى خسارة أموال.</p>
      <p class="mg-bt-10">شركة TigerWit Limited (Bahamas) هي شركة مرخصة وخاضعة للرقابة من جانب هيئة الأوراق المالية في جزر البهاما (SCB)، رقم الترخيص SIA-F185. حتى يتسنى لك الوصول إلى الموقع الإلكتروني لشركة TigerWit Limited (UK) المرخصة والخاضعة للرقابة في المملكة المتحدة من جانب هيئة السلوك المالي (FCA)، يرجى النقر هنا: <a href="https://uk.tigerwit.com">https://uk.tigerwit.com</a></p>
    </div>
  </div>
</body>
</html>