@include b(bd_honor_layout) {
    margin-top: 69px;
}
@include b(bd_honor) {
    min-height: 500px;
    background: url('/images/bd_honor/web_bg.png');
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center top;
    background-size: auto auto;
    padding-top: 450px;
    color: #fff;

    @include e(date) {
        font-size: 22px;
        text-align: center;
    }
    @include e(rules) {
        width: 710px;
        height: 600px;
        background: url('/images/bd_honor/web_tip2.png');
        background-position: center top;
        background-size: 100% 100%;
        margin: 120px auto 0px;
        padding: 115px 80px 0px;

        p {
            padding-bottom: 40px;
        }
    }

    @include e(box1) {
        width: 710px;
        height: 441px;
        background: url('/images/bd_honor/web_tip1.png');
        margin: 70px auto 0px;
        padding-top: 110px;

        .bag_wrapper {
            padding-top: 40px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .bag_item {
            width: 25%;
            float: left;

            .bag {
                width: 138px;
                height: 179px;
                background: url('/images/bd_honor/bd_honor_bag.png');
                margin: 0 auto;
                text-align: center;

                .tit {
                    font-size: 26px;
                    padding-top: 20px;
                }
                .tip {
                    padding-top: 10px;
                }
            }
            .bag_btn_wrapper {
                text-align: center;
                padding-top: 20px;
            }
            .bag_btn {
                width: 103px;
                height: 35px;
                border: none;

                &.is_recevie {
                    background: url('/images/bd_honor/bd_honor_btn_2.png');
                }
                &.not_recevie {
                    background: url('/images/bd_honor/bd_honor_btn_1.png');
                }
            }
        }
    }
    @include e(box2) {
        width: 710px;
        height: 290px;
        background: url('/images/bd_honor/web_tip3.png');
        margin: 70px auto 0px;

        .bag_tip {
            padding: 120px 40px 0px;
        }
    }
    @include e(footer) {
        padding-top: 120px;
        padding-bottom: 60px;
        text-align: center;

        .bd_honor_logo {
            width: 175px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }
        .bd_honor_tip {
            padding-top: 20px;
        }
        .bag_btn_wrapper {
            padding-top: 15px;

            img {
                width: 120px;
            }
        }
    }
}