.layui-m-layercont {
    // .layer_bdr01 {
    //     padding-top: 1rem;

    //     .tit {
    //         color: #e66b2a;
    //         text-align: center;
    //         font-size: px2rem(32);
    //         padding-bottom: px2rem(32);
    //     }
    // }
    padding: 0;
    * {box-sizing: border-box;}
    .layerui_layercont-child{
        text-align: center;
        padding-bottom: 25px;
        border-radius: 30px;
        background-color: #fff;
    }
    // .layer_bdr01_dollar {
    //     background: #8e0a07;
    //     border-radius: 4px;

    //     .cont {
    //         font-size: 20px;
    //         text-align: center;
    //         border-bottom: 1px dashed #fff;
    //         width: 85%;
    //         margin: 0 auto;

    //         p {
    //             padding-bottom: 5px;
    //         }
    //     }
    //     .pic {
    //         text-align: center;

    //         img {
    //             width: 70%;
    //             vertical-align: top;
    //         }
    //     }
    // }
    .layer_tit{
        background-image: url("/white_label/bd/turntable/layer-top-bg.png");
        background-size: 100% 100%; 
        height: 170px;
        font-size: 32px;
        padding: 0 15%;
        line-height: 32px;
        word-break: break-all;
        margin-bottom: 30px;
        position: relative;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        @include justifyContent(center);
        .star-right, .star-left{
            position: absolute;
            top: -20px;
            height: 80px;
        }
        .star-left{
            left: -20px;
        }
        .star-right{
            right: -20px;
        }
        > h6{
            padding-top: 45px;
            margin-bottom: 15px;
            font-size: 32px;
        }
        > p{
            font-size: 20px;
        }
        @include responsive(phone-screens){
            height: px2rem(170);
            font-size: px2rem(32);
            line-height: px2rem(32);
            .star-right, .star-left{
                top: px2rem(-20);
                height: px2rem(80);
            }
            .star-left{
                left: px2rem(-20);
            }
            .star-right{
                right: px2rem(-20);
            }
            > h6{
                padding-top: px2rem(45);
                margin-bottom: px2rem(15);
                font-size: px2rem(32);
            }

            > p{
                font-size: px2rem(20);
            }
        }

    }
    .layer_con{
        padding: 0 50px 0;
        min-height: 150px;

        @include responsive(phone-screens){
            padding: 0 px2rem(50) 0;
            min-height: px2rem(150);
        }
    }
    .layer_register-con{
        .form-control-wrapper{
            border: 1px solid  #ccc;
            border-radius: 15px;
            display: flex;
            .form-control{
                height: auto;
                flex: 1;
                border: none !important;
                border-radius: 0;
                &:focus{
                    border:none;
                    box-shadow: none;
                }
                &.after, &.before{
                    min-width: 150px;
                    flex: 0;
                }
                &.after{
                    border-right: 1px solid #ccc !important;
                }

                &.before{ 
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    border-left:  1px solid #ccc !important;
                }
            }

            @include responsive(phone-screens){
                .form-control{
                    &.after, &.before{
                        min-width: px2rem(150);
                    }
                }
            }
        }

    }
    .layer_download-con{
        .practicality{
            >img{
                height: 100px;
            }
        }
        .tit{
            font-size: 32px;
            margin: 10px 0 24px;
        }
        .con {
            font-size: 14px;
            text-align: left;
        }
    }
    .layer_download-code{
        margin-top: 10px;
        > img{
            height: 100px;
        }
    }
    .layer_download-btn{
        > a{
            display: inline-block;
            padding: 20px 30px 0;
            > img{
                width: 100%;
            }
        }
    }

    @include responsive(phone-screens){
        .layer_download-con{
            .practicality{
                >img{
                    height: px2rem(100);
                }
            }
            .tit{
                font-size: px2rem(32);
                margin: px2rem(10) 0 px2rem(24);
            }
            .con {
                font-size: px2rem(14);
            }
        }
        .layer_download-code{
            > img{
                height: px2rem(150);
            }
        }
        .layer_download-btn{
            > a{
                padding: px2rem(20) px2rem(30) 0;
                width: 48%;
            }
        }
    }
}
@include b(bd_r01) {
    .layer_register, .layer_register_succ, .layer_download, .layer_won {
        display: none;
    }
    @include e(focus) {
        position: relative;
        > img{
            display: inline-block;
            width: 100%;
        }
    }
    @include e(box) {
        width: 710px;
        margin: -120px auto 0;
        position: relative;
        padding-top: 40px;
        padding-bottom: 64px;
        @include responsive(phone-screens){
            width: px2rem(710);
            margin: px2rem(-50) auto 0;
            position: relative;
            padding-top: px2rem(40);
            padding-bottom: px2rem(64);
        }
    }
    @include e(step) {
        @include m(tit){
            text-align: center;
            font-size: 18px;
            color: #4a4a4a;
            margin-bottom: 30px;
            @include responsive(phone-screens){
                font-size: px2rem(18);
                margin-bottom: px2rem(30);

            }
        }
        @include m(list){
            @include displayFlex();
            margin-bottom: 25px;
            > li{
                @include flex(1);
                margin-right: 25px;
                &:last-child{
                    margin-right: 0; 
                }
                color: #fff;
                background-color: #bc3430;
                padding: 0 13px 35px;
                border-radius: 15px;
                > h5{
                    font-size: 37.66px;
                }
                > p{
                    font-size: 14px;
                }
            }

            @include responsive(phone-screens){
                margin-bottom: px2rem(25);
                > li{
                    margin-right: px2rem(25);
                    padding: 0 px2rem(13) px2rem(35);
                    border-radius: px2rem(15);
                    > h5{
                        font-size: px2rem(37.66);
                    }
                    > p{
                        font-size: px2rem(14);
                    }
                }
            }
        }
        @include m(p){
            font-size: 14px;
            color: #4a4a4a;
            margin-bottom: 16px;
            
            @include responsive(phone-screens){
                font-size: px2rem(14);
                margin-bottom: px2rem(16);
            }
        }

    }
    @include e(btn){
        text-align: center;
        margin-top: 25px;
        >.btn{
            display: inline-block;
            width: 182px;
            border-radius: 25px;
            margin: 15px;
            line-height: normal;   
        }
        @include responsive(phone-screens){
            margin-top: px2rem(25);
            >.btn{
                padding-top: px2rem(15); 
                padding-bottom: px2rem(15); 
            }   
        }
    }
    @include e(rotate_box) {
        width: 680px;
        height: 680px;
        background: url("/white_label/bd/turntable/h5_rotate_box1.png") no-repeat;
        background-position: center top;
        background-size: 100% 100%;
        margin: 0 auto;
        padding: 30px;
        margin-top: 35px;
        position: relative;

        @include responsive(phone-screens){
            width: px2rem(680);
            height: px2rem(680);
            padding: px2rem(30);
            margin-top: px2rem(35);

        }
        // &.active {
        //     background: url("/white_label/bd/turntable/h5_rotate_box2.png") no-repeat;
        //     background-position: center top;
        //     background-size: 100% 100%;
        // }
    }
    @include e(pointer) {
        position: absolute;
        top: 0;
        left: 50%;
        width: 48px;
        margin-left: -24px;
        z-index: 100;

        img {
            width: 100%;
            vertical-align: top;
        }

        @include responsive(phone-screens){
            width: px2rem(48);
            margin-left: px2rem(-24);
        }
    }
    @include e(rotate) {
        border-radius: 50%;
        position: relative;
        margin: 0 auto;

        @include m(pic) {
            width: 100%;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                vertical-align: top;
            }
        }

        @include m(btn) {
            background: url('/white_label/bd/turntable/h5_rotate_start.png') no-repeat;
            background-size: 100%;
            position: absolute;
            top: 33%;
            left: 33%;
            width: 34%;
            height: 34%;
            padding: 7%;
            color: #fff;
            font-size: 30px;
            font-weight: 500;
            cursor: pointer;
            @include justifyContent(center);
            @include responsive(phone-screens){
                font-size: px2rem(30);
            }
            &.no-start{
                background: url('/white_label/bd/turntable/h5_rotate_no_start.png') no-repeat;
                background-size: 100%;
            }
            
        }
    }
    // @include e(lst) {
    //     width: px2rem(680);
    //     height: px2rem(350);
    //     background: url("/white_label/bd/turntable/h5_award_box.png") no-repeat;
    //     background-position: center top;
    //     background-size: 100% 100%;
    //     margin: 0 auto;
    //     background-color: #fff;
    //     padding: px2rem(32);
    //     margin-top: px2rem(60);

    //     @include m(tit) {
    //         width: 40%;
    //         margin: 0 auto;

    //         img {
    //             width: 100%;
    //             vertical-align: top;
    //         }
    //     }
    //     @include m(detail) {
    //         text-align: center;
    //         color: #8a0101;
    //         margin-top: px2rem(32);
    //         height: px2rem(192);
    //         overflow: hidden;
    //         position: relative;

    //         ul {
    //             width: 100%;
    //             position: absolute;
    //             left: 0;
    //         }

    //         li {
    //             font-size: px2rem(28);
    //             line-height: px2rem(38);
    //         }
    //     }
    // }
    // @include e(client) {
    //     width: 40%;
    //     margin: 0 auto;
    //     margin-top: px2rem(100);

    //     img {
    //         width: 100%;
    //         vertical-align: top;
    //     }
    // }
    @include e(footer) {
        background-color: #cc2321;
        padding: 50px 80px;
        color: #fff;
        border-radius: 30px;
        margin-top: 46px;
        > h6{
            margin-bottom: 31px;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
        }
        > ul{
            font-size: 14px;
            > li{
                list-style-type: decimal;
                list-style-position:outside;
                margin-bottom: 17px;
            }
        }

        @include responsive(phone-screens){
            padding: px2rem(50) px2rem(80);
            margin-top: px2rem(46);
            > h6{
                margin-bottom: px2rem(31);
                font-size: px2rem(18);
            }
            > ul{
                font-size: px2rem(14);
                > li{
                    margin-bottom: px2rem(17);
                }
            }
        }
    }
}