<!DOCTYPE html>
<html>
<!--引入公用头部-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="<%= lang.text('companyZhName')%> <%= lang.text('companyEnName')%> 跟单交易 外汇 CFD 指数 股指 互联网金融">
    <meta name="description" content="<%= lang.text('companyZhName')%>倾力打造一个高手云集的平台，普通投资者可以选择随时随地跟随高手进行交易，随意选择想要跟随的金额，并且从中获利。">
    <meta name="apple-mobile-web-app-title" content="<%= lang.text('companyZhName')%>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="format-detection" content="telephone=no">
    <title><%= lang.text('companyZhName')%></title>
</head>

<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<% include /common/vendor/h5.utiljs.html %>
<% include /common/vendor/h5.js.html %>
<% include /common/statistic/main.html %>
<body class="m_download">
<!-- 引入H5导航条 -->
<div class="m_download_layout">
    <!--<div class="m_download_layout__loading_mask">-->
        <!--<div class="m_download_layout__loading_mask">-->
            <!--<div class="loading_percentage"></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="full_page" id="dowebok">

        <div class="section section1">
            <%- include('/common/component/h5.navbar.html') %>
            <h5>
                <span>高</span>
                <span>手</span>
                <span>跟</span>
                <span>单</span>
            </h5>
            <p class="line1">鸟随鸾凤飞腾远，这里有老司机带路</p>
            <p class="line2">无需盯盘，选择高手，一键复制，<%=regularTip%></p>
            <p class="next" id="next">∨</p>
        </div>
        <div class="section section2">
            <a class="download_btn" id="download_btn2" data-url="<%= lang.text('download')%>"><%=download%></a>
            <h5>移动端交易</h5>
            <p class="line1">瞬息万变随掌控，这里随时完成交易</p>
            <p class="line2">K线追踪实时行情,一键下单,快捷方便</p>
        </div>
        <div class="section section3">
            <a class="download_btn" id="download_btn3" data-url="<%= lang.text('download')%>"><%=download%></a>
            <h5>品种丰富</h5>
            <p>汇金油约全品类,这里应有尽有</p>
            <p>覆盖市场主流交易品种,一个账户全搞定</p>
            <ul class="clearfix">
                <li><img src="/images/bd/adv_01.png"></li>
                <li><img src="/images/bd/adv_02.png"></li>
                <li><img src="/images/bd/adv_03.png"></li>
                <li><img src="/images/bd/adv_04.png"></li>
            </ul>
        </div>
        <div class="section section4">
            <a class="download_btn" id="download_btn4" data-url="<%= lang.text('download')%>"><%=download%></a>
            <h5>出入金快</h5>
            <p>出金入金一日达，这里有高效资金通道</p>
            <p>出入金最快24小时到账，入金低门槛，出金无限制</p>
            <div class="circle" id="circle"></div>
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="img_box">
                <img src="/images/mobile/section4min.png">
            </div>
        </div>
        <div class="section section5">
            <p>在<%= lang.text('companyZhName')%></p>
            <p>已经有 <span class="number">86523</span>人选择外汇跟单交易</p>
            <a class="download_btn" id="download_btn5" data-url="<%= lang.text('download')%>"><%=download%></a>
            <a class="connect_us turn_pc" href="/">登录电脑版  /  </a><a class="connect_us" href="tel:<%= lang.text('telephone')%>">联系我们</a>
            <div class="tips">
                风险警示：市场有风险，投资需谨慎。外汇商品、期权和差价合约（CFD交易）是杠杆产品，内含高达投入资本的重大损失风险，可能并不适合每个人。请确认您完全了解有关风险，请勿投入超过自己承担范围的金额。此处提供的信息仅出于告知性目的，无论如何不得视作建议参与某类交易。
                <br><%=coInfo%>
            </div>
        </div>
    </div>
</div>
</body>

<!-- build:js(client) /scripts/m_download.js -->
<script src="/scripts/product/m_download.js"></script>
<!-- endbuild -->
<!-- 推广脚本footer -->
<%- include('/common/statistic/all.html') %>
</html>
