<!DOCTYPE html>
<html>
<!--引入公用头部-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-title" content="<%= lang.text('companyZhName')%>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="format-detection" content="telephone=no">
    <title><%= lang.text('companyZhName')%></title>
</head>

<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<% include /common/vendor/h5.utiljs.html %>
<% include /common/vendor/h5.js.html %>
<% include /common/statistic/main.html %>
<body class="m_download">
<!-- 引入H5导航条 -->
<div class="m_download_layout">
    <!--<div class="m_download_layout__loading_mask">-->
        <!--<div class="m_download_layout__loading_mask">-->
            <!--<div class="loading_percentage"></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="full_page" id="dowebok_global">

        <div class="section section1" style="background-image: url('<%= lang.image("downloadGlobalH5Section1")%>')">
            <!-- <%- include('/common/component/h5.navbar.html') %> 不能再公用-->
            <div class="h5_nav clearfix">
                <a href="/"><img class="h5_nav_logo" src="<%= lang.image('logo')%>" alt="logo"></a>
                <select name="" id="switchLang" class="switch_lang">
                    <option value="en">English</option>
                    <option value="cn">简体中文</option>
                    <option value="vi">Tiếng Việt</option>
                    <option value="zh-Hant">繁體中文</option>
                    <option value="id">Bahasa Indonesia</option>
                </select>
            </div>
            <h5>
                <%= lang.text("newhome_1")%> <%= lang.text("newhome_1_1")%> <%= lang.text("newhome_1_2")%>
            </h5>
            <p class="line1"><%= lang.text("newhome_h5_1")%></p>
            <p class="line2"><%= lang.text("newhome_h5_2")%></p>
            <div class="download_app">
                <a class="download_btn" href="<%= lang.text('downloadGlobalApp')%>"><img src="<%= lang.image('downloadGlobalH5App')%>" alt=""></a>
                <a class="download_btn" href="<%= lang.text('downloadCnApp')%>"><img src="<%= lang.image('downloadCnH5App')%>" alt=""></a>
            </div>
            <p class="next" id="next">∨</p>
        </div>
        <div class="section section2">
            <h5><%= lang.text("newhome_10")%></h5>
            <p class="line1"><%= lang.text("newhome_11")%></p>

            <ul class="self_directed">
                <li>
                    <img src="/white_label/m_download_global/section2-icon-1.png">
                    <p class="sequence">1</p>
                    <p class="content"><%= lang.text("newhome_12")%></p>
                </li>
                <li>
                    <img src="/white_label/m_download_global/section2-icon-2.png">
                    <p class="sequence">2</p>
                    <p class="content"><%= lang.text("newhome_13")%></p>
                </li>
                <li>
                    <img src="/white_label/m_download_global/section2-icon-3.png">
                    <p class="sequence">3</p>
                    <p class="content"><%= lang.text("newhome_14")%></p>
                </li>
                <li>
                    <img src="/white_label/m_download_global/section2-icon-4.png">
                    <p class="sequence">4</p>
                    <p class="content"><%= lang.text("newhome_15")%></p>
                </li>
            </ul>
            <div class="download_app">
                <a class="download_btn" href="<%= lang.text('downloadGlobalApp')%>"><img src="<%= lang.image('downloadGlobalH5App')%>" alt=""></a>
                <a class="download_btn" href="<%= lang.text('downloadCnApp')%>"><img src="<%= lang.image('downloadCnH5App')%>" alt=""></a>
            </div>
            
        </div>
        <div class="section section3">
            <h5><%= lang.text("newhome_17")%></h5>
            <p class="line1"><%= lang.text("newhome_17_1")%> <%= lang.text("newhome_17_2")%></p>

            <ul class="self_directed">
                <li>
                    <img src="/white_label/m_download_global/section3-icon-1.png">
                    <p class="title"><%= lang.text("newhome_18")%></p>
                    <p class="content"><%= lang.text("newhome_20")%></p>
                </li>
                <li>
                    <img src="/white_label/m_download_global/section3-icon-2.png">
                    <p class="title"><%= lang.text("newhome_21")%></p>
                    <p class="content"><%= lang.text("newhome_22")%> <%= lang.text("newhome_23")%></p>
                </li>
                <li>
                    <img src="/white_label/m_download_global/section3-icon-3.png">
                    <p class="title"><%= lang.text("newhome_27")%></p>
                    <p class="content"><%= lang.text("newhome_24")%></p>
                </li>
                <li>
                    <img src="/white_label/m_download_global/section3-icon-4.png">
                    <p class="title"><%= lang.text("newhome_28")%></p>
                    <p class="content"><%= lang.text("newhome_25")%> <%= lang.text("newhome_26")%></p>
                </li>
            </ul>
            <div class="download_app">
                <a class="download_btn" href="<%= lang.text('downloadGlobalApp')%>"><img src="<%= lang.image('downloadGlobalH5App')%>" alt=""></a>
                <a class="download_btn" href="<%= lang.text('downloadCnApp')%>"><img src="<%= lang.image('downloadCnH5App')%>" alt=""></a>
            </div>
        </div>
        <div class="section section4" style="background-image: url('<%= lang.image("downloadGlobalH5Section4")%>')">
            <h5><%= lang.text("newhome_32")%></h5>
            <p class="line1"><%= lang.text("newhome_33")%></p>
            <p class="line1"><%= lang.text("newhome_34")%></p>
            <p class="line1"><%= lang.text("newhome_35")%></p>
            <p class="line1"><%= lang.text("newhome_35_1")%> <%= lang.text("newhome_35_2")%></p>
            <div class="download_app">
                <a class="download_btn" href="<%= lang.text('downloadGlobalApp')%>"><img src="<%= lang.image('downloadGlobalH5App')%>" alt=""></a>
                <a class="download_btn" href="<%= lang.text('downloadCnApp')%>"><img src="<%= lang.image('downloadCnH5App')%>" alt=""></a>
            </div>
        </div>
        <div class="section section5">
            <h5><%= lang.text("newhome_36")%></h5>
            <ul class="self_directed">
                <li>
                    <p class="title"><%= lang.text("newhome_37_1")%></p>
                    <p class="content"><%= lang.text("newhome_37_h5_1")%><span class="ellipsis">...</span><span class="limit_line"><%= lang.text("newhome_37_h5_2")%></span></p>
                    <p class="more"><span><%= lang.text("h5_more")%></span></p>
                </li>
                <li>
                    <p class="title"><%= lang.text("newhome_37")%></p>
                    <p class="content"><%= lang.text("newhome_38_h5_1")%><span class="ellipsis">...</span><span class="limit_line"><%= lang.text("newhome_38_h5_2")%></span></p>
                    <p class="more"><span><%= lang.text("h5_more")%></span></p>
                </li>
                <li>
                    <p class="title"><%= lang.text("newhome_39")%></p>
                    <p class="content"><%= lang.text("newhome_40_h5_1")%><span class="ellipsis">...</span><span class="limit_line"><%= lang.text("newhome_40_h5_2")%></span></p>
                    <p class="more"><span><%= lang.text("h5_more")%></span></p>
                </li>
            </ul>
            <div class="download_app">
                <a class="download_btn" href="<%= lang.text('downloadGlobalApp')%>"><img src="<%= lang.image('downloadGlobalH5App')%>" alt=""></a>
                <a class="download_btn" href="<%= lang.text('downloadCnApp')%>"><img src="<%= lang.image('downloadCnH5App')%>" alt=""></a>
            </div>
        </div>

        <div class="section section6" style="background-image: url('<%= lang.image("downloadGlobalH5Section6")%>')">
            <h5><%= lang.text("newhome_42")%></h5>
            <p class="line1"><%= lang.text("newhome_42_1")%></p>
            <div class="download_app">
                <a class="download_btn" href="<%= lang.text('downloadGlobalApp')%>"><img src="<%= lang.image('downloadGlobalH5App')%>" alt=""></a>
                <a class="download_btn" href="<%= lang.text('downloadCnApp')%>"><img src="<%= lang.image('downloadCnH5App')%>" alt=""></a>
            </div>
        </div>
        <div class="section section7">
            <h5><%= lang.text("newhome_9_1")%></h5>
            <p class="line1"><%= lang.text("newhome_44")%></p>
            <p class="line1"><%= lang.text("newhome_45")%></p>
            <div class="download_app">
                <a class="download_btn" href="<%= lang.text('downloadGlobalApp')%>"><img src="<%= lang.image('downloadGlobalH5App')%>" alt=""></a>
                <a class="download_btn" href="<%= lang.text('downloadCnApp')%>"><img src="<%= lang.image('downloadCnH5App')%>" alt=""></a>
            </div>
            <p class="footer">
                <%= lang.text("foot_38")%><%= lang.text("foot_39_1")%><a href="https://uk.tigerwit.com">https://uk.tigerwit.com</a><%= lang.text("foot_39_2")%>
            </p>
           <p class="h5_footer_email" id="footerEmail"></p>
        </div>
    </div>
</div>
</body>

<!-- build:js(client) /scripts/m_download_global.js -->
<script src="/scripts/product/m_download_global.js"></script>
<!-- endbuild -->
<!-- 推广脚本footer -->
<%- include('/common/statistic/all.html') %>
</html>
