<div class="m_vue m_vue_bgc" data-page="info">
    <div id="m_vue_info" v-cloak>
        <ul class="m_vue_nav">
            <li class="nav_avatar">
                <a @click="toStatePage('avatar')">
                    <img class="m_vue_nav__avatar" :src="settingInfo.avatar" alt="avatar">
                    <span class="m_vue_nav__enter">
                        <%= lang.text("mWapInfo1")%>
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('username')">
                    <span class="m_vue_nav__title"><%= lang.text("mWapInfo2")%></span>
                    <span class="m_vue_nav__enter">
                        {{ settingInfo.username || '**' }}
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a @click="toStatePage('location')">
                    <span class="m_vue_nav__title"><%= lang.text("mWapInfo3")%></span>
                    <span class="m_vue_nav__enter">
                        {{ settingInfo.location.state_name || '**' }}
                        {{ settingInfo.location.city_name || '**' }}
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
