<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include /common/meta/h5.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>
<body>

<div class="m_about_us">
    <div class="tigerwit about-public__con mg-bt-30">
        <%if(lang.currentLanguage() == 'en'){%>
            <h1 class="m_about_us__title">
                About Us
            </h1>
            <p class="font-dark">
                Business name: TigerWit Limited
            </p>
            
            <p class="font-dark">
                Registration: The Bahamas, company number 198255 B
            </p>
            <p class="font-dark">
                Financial Services Licence: TigerWit has obtained authoritative regulatory license from Financial Conduct Authority (FCA) and Securities Commission of The Bahamas (SCB), which authorises TigerWit to carry on a financial services business in British and Bahamas and other areas.TigerWit Limited (UK) and TigerWit Limited (Bahamas) are subsidiaries of TigerWit Holding Limited.TigerWit Limited (UK) is regulated by Financial Conduct Authority (FCA), license number 679941. TigerWit Limited (Bahamas) is regulated by Securities Commission of The Bahamas (SCB), license number SIA-F185.
            </p>
            <p class="font-dark">
                Website: https://www.tigerwit.com
            </p>
            <h1 class="m_about_us__title">
                Who We Are
            </h1>
            <p class="font-dark">
                 With a strong technological core built upon a philosophy of transparency, credibility and integrity, TigerWit offers its clients exceptional capabilities to trade in the markets.
            </p>
            <p class="font-dark mg-tp-20">
                TigerWit’s founders are experienced individuals with successful backgrounds and a long history of achievement, who bring together a team of professionals with diverse academic and applied backgrounds experienced in trading Forex, CFD and spread betting, regulatory compliance, investment management, research & development of online platforms and global sales & marketing.
            </p>
        <%} else {%>
            <h1 class="m_about_us__title">
                关于我们
            </h1>
            <p class="font-dark">
                TigerWit成立于2015年初，是首批国内资本市场投资的互联网外汇交易服务平台。公司由互联网领域或金融科技领域15年以上经验的团队组成。凭借雄厚的资本，结合强大的产品创新能力，TigerWit自主研发了复制跟单交易系统和移动端交易系统，并提供近百种外汇
                <%if(!lang.isCloned()){ %>
                  、原油、贵金属
                <% } %>
                和指数差价合约等品种的交易服务，致力于降低用户参与外汇市场门槛，为用户提供一个公平稳定的交易平台。
            </p>
            <h1 class="m_about_us__title">
                管理团队
            </h1>
            <p class="font-dark">
                TigerWit创始人具有丰富的外汇交易行业经验和行业成功背景，他们汇集了具有不同学术和应用背景的专业人士，分别在外汇交易、差价合约、监管合规性、投资管理、在线平台研发和全球营销等方面拥有丰富的经验。
            </p>
        <%}%>  

        <h1 class="m_about_us__title">
            <%= lang.text("about_1")%>
        </h1>
        <p class="font-darkest font-size-18 mg-tp-20">
            <%= lang.text("about_2")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_3")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_4")%>
        </p>
        <%if(lang.currentLanguage() == 'zh'){%>
            <p class="font-darkest font-size-18 mg-tp-20">
                所受监管
            </p>
            <p class="font-dark mg-tp-10">
                TigerWit受巴哈马证券交易委员会（SCB）的授权和监管。
            </p>
            <p class="font-dark">
                监管号：SIA-F185
            </p>
            <p class="font-dark mg-tp-10">
                TigerWit受英国金融行为监管局（FCA）的授权和监管。
            </p>
            <p class="font-dark">
                授权编号为：679941
            </p>
        <%}%>  
        <p class="font-darkest font-size-18 mg-tp-20">
            <%= lang.text("about_5")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_6")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_7")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_8")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_9")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_10")%>
        </p>

        <p class="font-darkest font-size-18 mg-tp-20">
            <%= lang.text("about_11")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_12")%>
        </p>

        <p class="font-darkest font-size-18 mg-tp-20">
            <%= lang.text("about_13")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_14")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_15")%>
        </p>

        <p class="font-darkest font-size-18 mg-tp-20">
            <%= lang.text("about_16")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_17")%>
        </p>

        <p class="font-darkest font-size-18 mg-tp-20">
            <%= lang.text("about_18")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_19")%>
        </p>


        <h1 class="m_about_us__title">
            <%= lang.text("about_20")%>
        </h1>
        <p class="font-dark">
            <%= lang.text("about_21")%>
        </p>
        <p class="font-darkest font-size-18 mg-tp-20">
            <%= lang.text("about_22")%>
        </p>

        <p class="font-darker font-size-16 mg-tp-20">
            <%= lang.text("about_23")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_24")%>
        </p>

        <p class="font-darker font-size-16 mg-tp-20">
            <%= lang.text("about_25")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_26")%>
        </p>
        <p class="font-darker font-size-16 mg-tp-20">
            <%= lang.text("about_27")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_28")%>
        </p>
        <p class="font-darker font-size-16 mg-tp-20">
            <%= lang.text("about_29")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_30")%>
        </p>
        <p class="font-darker font-size-16 mg-tp-20">
            <%= lang.text("about_31")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_32")%>
        </p>
        <p class="font-darker font-size-16 mg-tp-20">
            <%= lang.text("about_33")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_34")%>
        </p>
        <p class="font-darker font-size-16 mg-tp-20">
            <%= lang.text("about_35")%>
        </p>
        <p class="font-dark mg-tp-10">
            <%= lang.text("about_36")%>
        </p>
    </div>
</div>

</body>
<% include /common/vendor/h5.js.html %>

<%- include('/common/statistic/all.html') %>
</html>