<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include /common/meta/h5.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>
<script>
    var nodeResponseInfo = {
        language: '<%= lang.currentLanguage() %>',
        telephone: '<%= lang.text("telephone") %>',
        company: '<%= lang.text("companyZhName") %>'
    };
</script>
<body>

<%- include('/asset/new_asset_' + pageInfo.id + '.html') %>

</body>
<% include /common/vendor/h5.js.html %>

<!-- build:js(client) /scripts/m_asset_new.js -->
<script src="/scripts/plugins/baiduTemplate.js"></script>
<script src="/scripts/plugins/m_config.js"></script>
<script src="/scripts/plugins/bankcardinfo.js"></script>
<script src="/scripts/asset/m_asset_new.js"></script>
<!-- endbuild -->

<%- include('/common/statistic/all.html') %>
</html>