<!doctype html>
<html lang="en">
<head>
    <!--引入公用头部-->
    <% include /common/meta/h5.html %>

    <!-- 引入H5 CSS -->
    <!-- build:css(.tmp) /styles/h5_common.css -->
    <link rel="stylesheet" href="/styles/h5_common.css">
    <!-- endbuild -->

    <% include /common/statistic/main.html %>
</head>
<body>
<div class="m_copy_rule">
    <h2 class="m_copy_rule_title"><%= lang.text("copyRule1")%></h2>
    <p class="m_copy_rule_content mg-tp-15"><%= lang.text("copyRule2")%></p>
    <h3 class="m_copy_rule_sub_title">
      <span></span>
      <%= lang.text("copyRule3")%>
    </h3>
    <p class="m_copy_rule_content"><%= lang.text("copyRule4")%></p>
    <p class="m_copy_rule_tip"><%= lang.text("copyRule5")%></p>
    <h3 class="m_copy_rule_sub_title">
      <span></span>
      <%= lang.text("copyRule6")%>
    </h3>
    <p class="m_copy_rule_content"><%= lang.text("copyRule7")%></p>
    <p class="m_copy_rule_tip"><%= lang.text("copyRule8")%></p>
    <p class="m_copy_rule_content"><%= lang.text("copyRule9")%></p>
    <p class="m_copy_rule_content"><%= lang.text("copyRule10")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule11")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule12")%></p>
    <h3 class="m_copy_rule_sub_title">
      <span></span>
      <%= lang.text("copyRule13")%>
    </h3>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule14")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule15")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule16")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule17")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule18")%></p>
    <h3 class="m_copy_rule_sub_title">
      <span></span>
      <%= lang.text("copyRule19")%>
    </h3>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule20")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule21")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule22")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule23")%></p>
    <p class="m_copy_rule_content mg-tp-10"><%= lang.text("copyRule24")%></p>
    <p class="m_copy_rule_concat mg-tp-20"><%= lang.text("copyRule25")%> <a href="tel:<%= lang.text('telephone')%></a>"><%= lang.text("telephone")%></a> <%= lang.text("copyRule26")%></p>
</div>
<% include /common/vendor/h5.js.html %>

<%- include('/common/statistic/all.html') %>
</body>
</html>
