<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include /common/meta/h5.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>

<body>

<div class="m_deposit_pay">
    <!-- <div>
        <a href="" class="m_deposit_pay__bank" data-pmode="126">
            <span class="pic"><img src="/images/icons-bank/up.png"></span>
            <span class="tit">银联支付</span>
            <span class="tip">单日交易限额 ¥500</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
    </div> -->
    <div class="m_deposit_pay__title">
        <!-- <span class="tip">更高限额支付方式</span> -->
        <span class="tip">请选择支付方式</span>
        <span class="sub-tip">单日交易限额以银行规定为准</span>   
    </div>
    <div id="m_deposit_pay">
        <a href="" class="m_deposit_pay__bank" data-pmode="ICBC">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">工商银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="ABC">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">农业银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="BOC">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">中国银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="CCB">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">建设银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="BOCM">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">交通银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="CMB">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">招商银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="CITIC">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">中信银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="CMBC">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">民生银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="CEB">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">光大银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="PABC">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">平安银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="SPDB">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">上海浦东发展银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="PSBC">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">中国邮政储蓄银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="HXB">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">华夏银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="CIB">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">兴业银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="BOB">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">北京银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
        <a href="" class="m_deposit_pay__bank" data-pmode="BOS">
            <!-- <span class="pic"><img src="/downloads/static/bank/icbc.png"></span> -->
            <span class="tit">上海银行</span>
            <span class="sign"><img src="/images/icons-bank/arrow.png"></span>
        </a>
    </div>
    <div class="m_deposit_pay__desc">
        即将支持更多的银行
    </div>
</div>

</body>
<% include /common/vendor/h5.js.html %>
<!-- build:js(client) /scripts/m_deposit.js -->
<script src="/scripts/asset/m_deposit.js"></script>
<!-- endbuild -->

<%- include('/common/statistic/all.html') %>
</html>