@include b(m_global_t35_success) {
  width: 100%;
  height: 100%;
  background-image: url('/images/bd_t35/h5_succ_bg.png');
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #fff;
  display: none;

  &.active {
    display: block;
  }
  .m_global_t35__btn_wrapper {
    text-align: left;
    margin-top: 15px;
  }

  @include e(tip) {
    font-size: 16px;
    padding-bottom: 50px;

    p {
      padding-bottom: 5px;
    }
  }
  @include e(download) {
    font-size: 16px;
    margin-top: 30px;
    text-decoration: underline;
  }

  @include e(layout) {
    padding: 60px 30px 0px;
  }
}
@include b(m_global_t35) {
  height: 2400px;
  background-image: url('/images/bd_g35/h5_bg.png');
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #fff;
  display: none;

  &.active {
    display: block;
  }

  .m_global_t35_layout {
    padding: 10px 15px;
  }

  @include e(btn_wrapper) {
    text-align: center;
  }
  @include e(btn) {
    color: #222;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    box-shadow: 0px 0px 15px 1px #ccc;
    background: -webkit-linear-gradient(left, #fbd427, #e4c548); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #fbd427, #e4c548); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #fbd427, #e4c548); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #fbd427, #e4c548); /* 标准的语法 */

    &.unable {
      background: #ccc;
    }
  }
  @include e(float_box) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: 500;
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 0px 15px 1px #ccc;
    background: -webkit-linear-gradient(left, #fbd427, #e4c548); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #fbd427, #e4c548); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #fbd427, #e4c548); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #fbd427, #e4c548); /* 标准的语法 */

    a {
      display: block;
      color: #222;
    }
  }

  @include e(logo) {
    width: 40%;
    margin-top: 25px;

    img {
      width: 100%;
    }
  }
  @include e(focus) {
    text-align: center;
    margin-top: 80px;

    img {
      width: 100%;
    }
  }
  @include e(focus_tip) {
    text-align: center;

    span {
      font-weight: 500;
      font-size: 18px;
    }
  }
  @include e(date) {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    font-weight: 500;
    padding-bottom: 40px;
  }
  @include e(title) {
    text-align: center;

    &.t1 {
      margin-top: 60px;

      img {
        width: 70%;
      }
    }
    &.t2 {
      margin-top: 60px;

      img {
        width: 75%;
      }
    }
    &.t3 {
      margin-top: 60px;
      margin-bottom: 10px;

      img {
        width: 50%;
      }
    }
  }
  @include e(cont-1) {
    margin-top: 20px;
    margin-left: 20px;
    .cont-left {
      float: left;
      height: 375px;

      img {
        height: 100%;
      }
    }
    .cont-right {
      float: left;
      padding-left: 20px;

      li {
        padding: 5px 0px;
        margin-bottom: 15px;
        .l {
          float: left;
          width: 70px;
          text-align: center;
          font-size: 16px;
          line-height: 20px;
        }
        .r {
          float: left;
          line-height: 18px;
          padding-top: 2px;
        }
        &.l1 {
          width: 195px;
          background: rgba(5,8,39,.4);
        }
        &.l2 {
          width: 215px;
          background: rgba(220,220,220,.4);
        }
        &.l3 {
          width: 235px;
          background: rgba(5,8,39,.4);
        }
        &.l4 {
          width: 255px;
          background: rgba(220,220,220,.4);
        }
        &.l5 {
          width: 275px;
          background: rgba(5,8,39,.4);
        }
        &.l6 {
          width: 295px;
          background: rgba(220,220,220,.4);
          margin-bottom: 0px;
        }
      }
    }
  }
  @include e(cont-2) {
    margin-top: 20px;

    li {
      float: left;
      width: 50%;
      text-align: center;
      padding: 0 12px;

      img {
        height: 60px;
        margin-bottom: 15px;
      }
    }
  }
  @include e(download) {
    margin-top: 30px;

    li {
      float: left;
      width: 50%;
      text-align: center;
      img {
        width: 80%;
      }
    }
  }
  @include e(cont-3) {
    position: relative;

    span {
      width: 8px;
      height: 8px;
      position: absolute;
      top: 5px;
      left: 4px;
      background-color: #fff;
      border-radius: 8px;
    }
    p {
      padding-left: 20px;
      padding-bottom: 10px;
    }
  }
  @include e(register_box) {
    border: 1px solid #ccc;
    background: rgba(255,255,255,.25);
    border-radius: 2px;
    padding: 25px;
    margin: 10px 30px 0px;

    .form-control-wrapper {
      margin-bottom: 15px;
      position: relative;
      .verify_code_btn_wrapper {
        position: absolute;
        top: 10px;
        right: 0;
        width: 100px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-left: 1px solid #ccc;
        color: #333;

        .verify_code_btn {

          &.unable {
              color: #ccc;
          }
        }
      }

      .form-control {
        padding: 8px 10px;
        border-radius: 4px;
        width: 100%;
        color: #333;
      }
    }
  }
  @include e(warning) {
    .tit {
      margin-bottom: 10px;
    }
    color: #6e859e;
    font-size: 12px;
    margin-top: 50px;
  }
}