@include b(m_global_t35) {
  @include e(focus) {
    position: relative;
    @include m(bg) {
      img {
        width: 100%;
        vertical-align: top;
      }
    }
    @include m(content) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: px2rem(20) px2rem(56) 0;
      h2 {
        margin: 0;
        text-align: center;
        img {
          width: 40%;
          vertical-align: top;
        }
      }
      h3 {
        font-size: px2rem(56);
        color: #ffd521;
        text-align: center;
        margin: px2rem(40) 0;
      }
      p {
        font-size: px2rem(24);
        line-height: px2rem(32);
        margin: 0;
        color: #ffd521;
        opacity: .6;
        text-align: center;
      }
    }
    @include m(btn) {
      position: absolute;
      right: px2rem(42);
      bottom: px2rem(62);
      width: px2rem(160);
      height: px2rem(160);
      text-align: center;
      background-color: #ffd521;
      font-size: px2rem(32);
      line-height: px2rem(38);
      color: #4a4a4a;
      font-weight: 600;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include e(register_box) {
    background-color: #a62125;
    padding-bottom: px2rem(68);
  }
  @include e(register) {
    margin: 0 px2rem(36);
    padding: px2rem(45) px2rem(42) px2rem(30);
    background: rgba(255, 255, 255, .3);
    border-radius: px2rem(50);

    .box_tip {
      color: #ffd521;
      text-align: center;
      font-size: px2rem(36);
      margin-bottom: px2rem(48);
    }
    .form-control-wrapper {
      margin-bottom: px2rem(45);
      position: relative;
      .verify-code{
        padding-right: px2rem(220);
      }
      .verify_code_btn_wrapper {
        top: px2rem(20);
        width: px2rem(200);
        height: px2rem(40);
        text-align: center;
        line-height: px2rem(40);
        color: #333;

        .verify_code_btn {
          &.unable {
              color: #ccc;
          }
        }
      }
      
      .form-control {
        background-color: #fff;
        border-radius: px2rem(40);
        border: none;
        color: #333;
        padding-left: px2rem(48);
      }
      &.ar{
        .verify-code{
          padding-right: px2rem(20);
          padding-left: px2rem(220);
        }
      }
    }
    .select-wrapper {
      span {
        color: #fff;
        font-size: px2rem(24);
        line-height: px2rem(30);
      }
    }
    .m_global_t35__btn {
      border-radius: 1000px;
    }
  }
  @include e(content_wrapper) {
    padding-bottom: px2rem(100);
    h3 {
      padding: px2rem(64) px2rem(80);
      text-align: center;
      font-size: px2rem(28);
      color: #4a4a4a;
      font-weight: 600;
    }
  }
  @include e(content) {
    li {
      width: 50%;
      text-align: center;
      padding: 0 px2rem(34);
      margin-bottom: px2rem(68);
      h4 {
        font-size: px2rem(28);
        margin: px2rem(26) 0;
      }
      p {
        font-size: px2rem(20);
        color: #fed914;
      }
      img {
        height: px2rem(90);
      }
    }
  }
  @include e(payment_wrapper) {
    background-color: #ffd521;
    padding-bottom: px2rem(60);
    h3 {
      padding: px2rem(64) 0;
      text-align: center;
      font-size: px2rem(28);
      color: #4a4a4a;
      font-weight: 600;
    }
    .tips {
      font-size: px2rem(24);
      text-align: center;
      opacity: .3;
    }
  }
  @include e(payment) {
    margin-bottom: px2rem(60);
    li {
      font-size: px2rem(24);
      text-align: center;
      width: 50%;
      img {
        height: px2rem(60);
      }
    }
  }
  @include e(warning) {
    margin: px2rem(50) 0 px2rem(70);
    text-align: center;
    opacity: .5;
    padding: 0px px2rem(60);
    h3 {
      margin: 0 0 px2rem(10);
      font-size: px2rem(30);
    }
    p {
      font-size: px2rem(24);
    }
  }
}