.bd_layer {
  .layui-layer-content {
    padding: 35px 15px 30px;
    position: relative;
  }
  .tit {
    text-align: center
  }
  .cont {
    margin-top: 20px;
    p {
      float: left;
      width: 50%;

      a {
        width: 60%;
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 5px 0px;
        color: #333;
        background: -webkit-linear-gradient(left, #fbd427, #e4c548); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(left, #fbd427, #e4c548); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(left, #fbd427, #e4c548); /* Firefox 3.6 - 15 */
        background: linear-gradient(left, #fbd427, #e4c548); /* 标准的语法 */
        border-radius: 2px;

        &.unable {
          background: #ccc;
        }
      }
    }
  }
  .tip {
    position: absolute;
    bottom: 4px;
    right: 15px;
    color: #1099ad;
    cursor: pointer;
  }
}
@include b(global_t35) {
  padding-top: 69px;
  .global_t35_container {
    width: 100%;
    min-width: 1200px;
    max-width: 1600px;
    padding: 0 70px;
    margin: 0 auto;
  }

  @include e(focus) {
    height: 1136px;
    background-image: url('/white_label/bd/g35/web-focus.png');
    background-position: center top;
    background-size: auto 100%;
    background-repeat: no-repeat;
    @include m(content) {
      .main_info {
        margin-top: 580px;
        color: #ffd521;
        h3 {
          font-size: 68px;
        }
        p {
          font-size: 22px;
        }
        img {
          vertical-align: top;
        }
      }
    }
    h2 img {
      width: 224px;
    }
  }
  @include e(arrow_wrapper) {
    position: absolute;
    left: 50%;
    bottom: 70px;
    margin-left: -25px;
  }
  @include e(register_wrapper) {
    margin-top: 320px;
  }
  @include e(register_box) {
    background: rgba(255,255,255,.25);
    border-radius: 6px;
    padding: 25px;
    width: 350px;

    .form-control-wrapper {
      .verify-code{
        padding-right: 140px;
      }
      .verify_code_btn_wrapper {
        width: 136px;
        height: 22px;
        line-height: 22px;
        top: 9px;
        color: #049ee9;
      }
      select.form-control {
        -webkit-appearance: none;
        color: #999;
      }
      .form-control {
        border-radius: 20px;
        color: #333;
        background-color: #fff;
        padding-left: 20px;
      }
      &.ar{
        .verify-code{
          padding-right: 10px;
          padding-left: 172px;
        }
      }
    }
    .select-wrapper {
      .select-box {
        width: 16px;
        vertical-align: middle;
        display: none;
        cursor: pointer;
        &.active {
          display: inline-block;
        }
      }
      span {
        color: #fff;
        padding-left: 2px;
        line-height: 16px;
      }
    }
    @include m(tip) {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 25px;
      color: #ffd521;
      padding-right: 40px;
    }
  }
  @include e(btn_wrapper) {
  }
  @include e(btn) {
    color: #222;
    font-weight: 500;
    padding: 9px 34px;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    border: none;
    background: -webkit-linear-gradient(left, #fbd427, #e4c548); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #fbd427, #e4c548); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #fbd427, #e4c548); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #fbd427, #e4c548); /* 标准的语法 */

    &.gray {
      opacity: .6;
      cursor: not-allowed;
    }
  }
  @include e(content_wrapper) {
    margin-bottom: 120px !important;
    h3 {
      width: 700px;
      margin: 80px auto 0px;
      text-align: center;
      font-size: 20px;
    }
  }
  @include e(content) {
    margin-top: 50px;
    li {
      width: 33.33%;
      text-align: center;
      padding: 0 35px;
      h4 {
        font-size: 20px;
        margin: 10px 0px;
      }
      p {
        color: #fed914;
      }
      img {
        height: 90px;
      }
    }
  }
  @include e(payment_wrapper) {
    background-color: #ffd521;
    h3 {
      margin: 0px auto;
      padding: 70px 0px;
      text-align: center;
      font-size: 20px;
    }
    .tips {
      text-align: center;
      opacity: .3;
      padding: 40px 0px;
    }
  }
  @include e(payment) {
    li {
      width: 20%;
      text-align: center;
      padding: 0 35px;
      img {
        height: 60px;
      }
    }
  }
  @include e(warning) {
    margin: 70px auto 100px !important;
    text-align: center;
    opacity: .5;
    padding: 0px 150px !important;
    h3 {
      font-size: 22px;
    }
  }
}