.bd_layer {
  .layui-layer-content {
    padding: 35px 15px 30px;
    position: relative;
  }
  .tit {
    text-align: center
  }
  .cont {
    margin-top: 20px;
    p {
      float: left;
      width: 50%;

      a {
        width: 60%;
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 5px 0px;
        color: #333;
        background: -webkit-linear-gradient(left, #fbd427, #e4c548); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(left, #fbd427, #e4c548); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(left, #fbd427, #e4c548); /* Firefox 3.6 - 15 */
        background: linear-gradient(left, #fbd427, #e4c548); /* 标准的语法 */
        border-radius: 2px;

        &.unable {
          background: #ccc;
        }
      }
    }
  }
  .tip {
    position: absolute;
    bottom: 4px;
    right: 15px;
    color: #1099ad;
    cursor: pointer;
  }
}
@include b(global_t35) {
  height: 2700px;
  // 阿拉伯换图
  background-image: url('/images/bd_g35/web_bg_new.png');
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #fff;

  @include e(layer_wrapper) {
    display: none;
  }
  @include e(register_box) {
    border: 1px solid #ccc;
    background: rgba(255,255,255,.25);
    border-radius: 2px;
    padding: 25px;
    width: 350px;
    margin-top: 20px;

    .form-control-wrapper {
      .verify-code{
        padding-right: 172px;
      }
      .form-control {
        border-radius: 4px;
        color: #333;
        background-color: #fff;
      }
      &.ar{
        .verify-code{
          padding-right: 10px;
          padding-left: 172px;
        }
      }
    }
  }
  @include e(btn_wrapper) {
    text-align: center;
  }
  @include e(btn) {
    color: #222;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    border: none;
    box-shadow: 0px 0px 15px 1px #ccc;
    background: -webkit-linear-gradient(left, #fbd427, #e4c548); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #fbd427, #e4c548); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #fbd427, #e4c548); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #fbd427, #e4c548); /* 标准的语法 */
  }

  @include e(focus) {
    margin-top: 265px;
    .img-parent{
      width: 575px;
    }
    img {
      width: 100%;
    }
  }
  @include e(focus_tip) {
    font-size: 20px;
    padding-left: 20px;

    span {
      font-weight: 500;
      font-size: 30px;
    }
  }
  @include e(date) {
    font-weight: 500;
    font-size: 26px;
    padding-top: 20px;
    padding-left: 20px;
  }

  @include e(title) {
    text-align: center;
    position: relative;

    &.t1 {
      margin-top: 260px;
      .bar {
        position: absolute;
        top: -85px;
        left: 0;
        width: 100%;
      }
    }
    &.t2 {
      margin-top: 115px;
    }
    &.t3 {
      margin-top: 120px;
      margin-bottom: 50px;
    }
  }
  @include e(plan) {
    @include displayFlex();
    @include alignItems(flex-end);
    li {
      text-align: center;
      width: 166px;
      margin-right: 2.5px;
      margin-left: 2.5px;
      font-size: 16px;

      span {
        font-size: 20px;
      }

      .l {
        height: 50%;
        font-size: 18px;
        line-height: 22px;
        @include displayFlex();
        @include alignItems(center);
        @include justifyContent(center);
        width: 100%;

      }
      .r {
        height: 50%;
        line-height: 22px;
        @include displayFlex();
        @include alignItems(center);
        @include justifyContent(center);
      }
      &.l1 {
        height: 130px;
        background: rgba(5,8,39,.4);
      }
      &.l2 {
        height: 165px;
        background: rgba(220,220,220,.4);
      }
      &.l3 {
        height: 200px;
        background: rgba(5,8,39,.4);
      }
      &.l4 {
        height: 240px;
        background: rgba(220,220,220,.4);
      }
      &.l5 {
        height: 280px;
        background: rgba(5,8,39,.4);
      }
      &.l6 {
        height: 340px;
        background: rgba(220,220,220,.4);
      }
    }
  }
  @include e(cont) {
    margin-top: 50px;

    li {
      width: 25%;
      text-align: center;
      padding: 0 35px;

      img {
        height: 110px;
        margin-bottom: 15px;
      }
    }
  }
  @include e(download) {
    margin-top: 50px;

    li {
      padding: 0 15px;
      a{
        display: inline-block;
        img {
          width: 250px;
        }
      }
    }
  }
  @include e(details) {
    @include displayFlex();
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;

    span {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 8px;
      margin-top: 8px;
    }
    p {
      @include flex(1);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @include e(warning) {
    .tit {
      margin-bottom: 10px;
    }
    font-size: 16px;
    margin-top: 150px;
  }
}