@font-face {
    // 方正幼圆
    font-family: 'fontYY';
    /*这里是说明调用来的字体名字*/
    src: url("#{$font-path-base}"+"_fontyouyuan.ttf");
    /*这里是字体文件路径*/
}

@include b(m_mon_report_layout) {
    text-align: center;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    /* Firefox 4 */
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -o-transition: all 1s ease;
    /* Opera */
    font-family: 'fontYY';
    .mon_report_logo {
        position: absolute;
        top: 2%;
        right: 6%;
        width: 30%;
    }
    #dowebok {
        .section {
            background: url("/images/bd_mon_report/bg.png");
            background-position: center center;
            background-size: auto 100%;
            position: relative;
            max-width: 1334px;
            font-family: 'fontYY';
            .full_img {
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            .text_box{
                background: url('/images/bd_mon_report/text_box.png');
                background-size: 100% 100%;
                color: #475c95;
                font-size: px2rem(55);
            }
        }
        .section1 {
            .banner {
                z-index: 1;
            }
            .logo {
                z-index: 2;
                top: 77%;
                left: 32.5%;
                width: 35%;
            }
            .check_now {
                z-index: 3;
                width: 50%;
                top: 61%;
                left: 25%;
            }
        }
        .section2 {
            .mon_profit {
                top: -35%;
            }
            .mon_profit_text{
                width: 54.5%;
                margin-top: 7.8%;
            }
        }
    }
}