.scroll_top{
  position: fixed;
  bottom: 6rem;
  right: px2rem(30);
}
.m_t31_layout{
  transition: all 1s ease;
}
@include b(m_t31) {
  @include e(banner) {
    height: px2rem(505);
    width: 100%;
    background: url("/images/bd/m_t31_banner.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
  }

  @include e(rules) {
    background-color: #fff;
    padding: 0 px2rem(40);

    .title {
      text-align: center;
      font-size: px2rem(36);
      font-weight: 500;
      padding: px2rem(40) 0;
    }
    .detail {
      font-size: px2rem(30);
      line-height: px2rem(50);
      margin-bottom: px2rem(50);
    }
    table {
      border-radius: px2rem(8);
      overflow: hidden;

      thead tr th {
        background-color: #ffdb15;
        color: #000;
        text-align: center;
        font-size: px2rem(30);
        padding: px2rem(20);
        font-weight: 500;
      }
      tbody tr td {
        background-color: #f3f3f3;
        border-bottom: 1px solid #fff;
        text-align: center;
        font-size: px2rem(25);
        padding: px2rem(20);
      }
    }
    .example {
      p {
        font-size: px2rem(30);
        line-height: px2rem(50);
      }
    }
  }

  @include e(attention) {
    transition: all 1s ease;
    position: relative;
    text-align: center;
    margin-top: px2rem(25);
    .btn {
      font-size: px2rem(32);
      display: inline-block;
      background-color: #ffdb15;
      border-radius: px2rem(8);
      padding: px2rem(20) px2rem(100);
      font-weight: 500;
      margin-bottom: px2rem(35);
    }
    .detail {
      margin-top: 0!important;
      position: relative;
      background-color: #ffdb15;
      padding: px2rem(42) px2rem(40);
      font-size: px2rem(24);
      text-align: left;
      line-height: px2rem(40);
      display: none;

      &:before {
        border: px2rem(20) solid transparent;
        border-bottom-color: #ffdb15;
        display: block;
        content: '';
        position: absolute;
        top: px2rem(-36);
        left: 50%;
        margin-left: px2rem(-20);
      }
    }
  }

  @include e(help){
    width: 100%;
    img.tiger_help {
      display: inline-block;
      width: 100%;
    }
  }

  @include e(production) {
    background-color: #eee;
    padding-top: px2rem(80);
    padding-bottom: px2rem(100);
    //margin-top: px2rem(20);
    h4 {
      font-size: px2rem(34);
      margin: 0;
      text-align: center;
    }
    .list {
      .item {
        float: left;
        width: 50%;
        text-align: center;
        margin-top: px2rem(80);

        img {
          width: px2rem(140);
        }
        h4 {
          margin-bottom: px2rem(10);
        }
        p {
          font-size: px2rem(20);
        }
      }
    }
  }
  @include e(regBox) {
    width: 100%;
    padding-top: px2rem(110);
    padding-bottom: 1.5rem;
    background-color: #ffdb15;
    position: relative;
    //.m_t31__rebox{
    //  width: px2rem(530);
    //  height: px2rem(365);
    //  background-color: #fff;
    //  border-radius: px2rem(8);
    //  box-shadow: #666 0 0 12px;
    //  padding: px2rem(50) px2rem(37.5);
    //  form {
    //    input ,.button{
    //      display: inline-block;
    //      margin: 0 auto;
    //      width: px2rem(455);
    //      height: px2rem(75);
    //      line-height: px2rem(80);
    //    }
    //    input {
    //      border: 1px solid #dcdcdc;
    //    }
    //    input:nth-child(2){
    //      margin-top:px2rem(18);
    //    }
    //    .button {
    //      border-bottom: 0;
    //      margin-top: px2rem(30);
    //      background-color: #ffdb15;
    //      color: #222;
    //    }
    //  }
    //
    //  &.active {
    //    position: fixed;
    //    top: 0;
    //    left: 50%;
    //    margin-left: -125px;
    //    z-index: 1000;
    //  }
    //}
    .h5_register_main {
      width: 92%;
      //height: 22.5rem;
      //position: absolute;
      margin: 0 auto;
      bottom: 0;
      left: 4%;
      opacity: 1;
      .submit_form {
        width: 100%;
        margin-top: px2rem(60);
        display: block;
        text-align: center;
        height: px2rem(96);
        background-color: $brand-primary-dark;
        line-height: 3rem;
        border: 1px solid #fff;
        border-radius: px2rem(8);
        font-size: px2rem(30);
        font-weight: 400;
      }
      form {
        height: px2rem(295);
        background-color: #fff;
        padding-left: px2rem(20);
        padding-top: px2rem(15);
        padding-bottom: px2rem(15);
        border: 1px solid $gray;
        border-radius: px2rem(8);
        font-size: px2rem(30);
        div {
          width: 100%;
          height: 35%;
          line-height: 2.8rem;
          display: flex;
          border-bottom: 1px solid $gray;
          span {
            display: inline-block;
          }
          span:nth-child(1) {
            margin-right: px2rem(20);
          }
        }
        .telephone {
          span:nth-child(1) {

          }
          input {
            flex: 1;
          }
        }
        .verify_code {
          span:nth-child(1) {

          }
          .verify_code_btn {
            text-align: center;
            flex: none;
            display: inline-block;
            width: px2rem(210);
            height: 104%;
            line-height: 3.3rem;
            background-color: $brand-primary-dark;
            position: relative;
            top: -2%;
          }
          input {
            flex: 1;
          }
        }
        .password {
          border: none;
          span:nth-child(1) {

          }
          .password_btn {
            display: inline-block;
            width: px2rem(80);
            text-align: center;
            margin-right: px2rem(10);
            img {
              width: px2rem(60);
              vertical-align: middle;
            }
          }
          input {
            flex: 1;
          }
        }
      }
    }
  }
  @include e(footer) {
    padding: px2rem(40);
    background-color: #ffdb15;
    font-size: px2rem(30);
  }
}

