
// 背景
.help_banner {
  height: 550px;
  @include img-normal($white_label_new_bg + "help-bg.png");
  background-size: auto 100%;
  background-position: center center;
}
// 帮助文档导航旧版（暂无用）
@include b(help_layout) {
  //声明特殊字体
  @font-face {
    font-family: "NotoSansHans Light"; /*这里是说明调用来的字体名字*/
    src: url("../../fonts/NotoSansHans-Light.otf"); /*这里是字体文件路径*/
  }
  font-size: 16px;
  width: 100%;
  //border: 1px solid aqua;
  min-height: 455px !important;
  min-width: 1300px !important;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  overflow-y: scroll;
  //padding-left: 15.52%;
  .highlightedText{
    background-color: $brand-primary;
  }
  // 帮助文档导航旧版（暂无用）
  @include b(sidebar) {
    float: left;
    width: 300px;
    position: fixed;
    font-size: 16px;
    top: 0;
    left: -15.625%;
    transition: all 0.5s ease;
    background-color: $gray-light;
    border-right: 1px solid $gray;
    input {
      margin-bottom: 25px;
      width: 100%;
      height: 50px;
      background-color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 50px;
      border: none;
      border-bottom: 1px solid $gray;
      font-family: "NotoSansHans Light";
    }

    li {
      margin-left: 50px;
      height: 40px;
      margin-right: 50px;
      a {
        font-family: "NotoSansHans Light";
        color: #222;
      }
      a.active {
        color: #5a8fc9;
      }
    }

    .help_logo {
      margin-bottom: 28px;
      a {
        img {
          width: 190px;
        }
      }
    }

    @include e(menu) {
      margin-left: 0 !important;
      width: 30px;
      height: 40px;
      position: absolute;
      right: -85px;
      top: 0;
      //background-color: rgba(255, 255, 255, 0.9);
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      span {
        transition: all 0.5s 0.5s ease;
        display: block;
        margin: 0 auto;
        margin-top: 4px;
        width: 80%;
        height: 3px;
        background-color: $gray-dark;
        border-radius: 20%;
      }
      .top.active {
        transform-origin: 20px 6px;
        transform: rotateZ(-45deg);
      }
      .mid.active {
        transform-origin: center center;
        transform: rotateZ(45deg);
      }
      .bot.active {
        background-color: transparent;
      }
    }
  }
  // 帮助文档通用样式
  @include b(help_content) {
    // index
    @include e(products) {
      display: inline-block;
      @include m(item) {
        float: left;
        width: 165px;
        height: 165px;
        border: 8px solid;
        border-radius: 100%;
        display: flex;
        padding: 8px;
        align-items:center;/*垂直居中*/
        justify-content: center;/*水平居中*/
        position: relative;
        margin: 0 29px;
        &::after {
          content: '';
          width: 18px;
          height: 18px;
          border:4px solid;
          border-radius: 100%;
          position: absolute;
          right: -15px;
          top: -15px;
        }
        &:nth-child(1){
          border-color: $login-line;
          &::after {
            border-color: $login-line;
          }
        }
        &:nth-child(2){
          border-color: $primary-darker;
          &::after {
            border-color: $primary-darker;
          }
        }
        // &:nth-child(3){
        //   border-color:#242A36;
        //   &::after {
        //     border-color:#242A36;
        //   }
        // }
      }
    }
   .route_list {
      margin-top: 35px;
      margin-bottom: 35px;
      li {
        margin-top: 15px;
        a {
          color: #5a8fc9;
          font-size: 18px;
        }
      }
    }
    @include e(prompt) {
      background:rgba(187,196,215,0.1);
      border-radius:20px;
      position: relative;
      border:1px solid rgba(187,196,215,0.5);
      padding: 63px 37px 28px;
      overflow: hidden;
      > div{
        p {
          font-size: 16px;
          line-height:28px;
          color: $main-char-color-50;
        }
      }
      &::before {
        content: '提示';
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 25px;
        background: $primary-darker;
        border-radius: 0 0px 20px 0px;
        font-size:18px;
        font-weight:600;
        color:rgba(36,42,54,1);
        line-height:25px;
      }

    }
    @include b(help_flowChart) {
      font-family: "NotoSansHans Light";
      @include e(step){
        margin-top:25px;
        p{
          color: $main-char-color-100;
          .step_pre{
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size:24px;
            font-weight:600;
            border-radius: 100%; 
            background-color: $brand-primary-dark;
            display: inline-block;
            margin-right: 12px;
          }
        }
      }
      @include e(imgs){
        margin: 0 auto;
        padding: 60px;
        padding-bottom: 0;
        text-align: center;
        img.web-col-1{
          width: 85%;
        }
        img.app-col-1{
          display: block;
          margin:0 auto;
          width: 28em;
        }
        .app_imgs_box{
          display: block;
          margin: 0 auto;
          text-align: center;
          img.app-col-2{
            width: 25em;
            margin-left: 2em;
            margin-right: 2em;
          }
        }
        img.app-col-3{
          width: 30%;
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }



    .help_authen {
      font-family: "NotoSansHans Light";
      text-align: center;
      margin-top: 125px;
      margin-bottom: 45px;
      font-size: 16px;
      color: $gray-dark;
      a {
        color: $gray-darker;
      }
    }
  }
}