<div class="tw-space-layout">
    <!-- <div class="tw-space-layout__side" tw-window-height data-min-height="500">
        <div class="tw-space-layout__side-view">
            <div class="space_sidebar">
                <div class="space_sidebar__info">
                    <div class="space_sidebar__avatar">
                        <a ui-sref="space.invest.subpage({subpage: 'current'})">
                            <img ng-src="{{ main.thirdInfo.userAvatar }}">
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <ul class="space_sidebar__detail clearfix">
                    <li class="detail_item">
                        <div class="item__number">
                            
                        </div>
                        <div class="item__text">
                            <span>用户昵称</span>
                        </div>
                    </li>
                    <li class="detail_item">
                        <div class="item__number">
                            <span>{{ main.mt4_id }}</span>
                        </div>
                        <div class="item__text">MT4账号</div>
                    </li>
                </ul>
                <br>
                <ul class="space_sidebar__detail clearfix">
                    <li class="detail_item">
                        <div class="item__number">
                            {{ main.balance }}
                        </div>
                        <div class="item__text">
                            <span>账户余额</span>
                        </div>
                    </li>
                    <li class="detail_item">
                        <div class="item__number">
                            <span>{{ main.wallet_balance }}</span>
                        </div>
                        <div class="item__text">钱包账户</div>
                    </li>
                </ul>
            
                <div class="space_sidebar__logout">
                    <span ng-click="main.thirdLogout()" title="退出登录"><i class="fa fa-sign-out"></i>退出</span>
                </div>
            </div>
        </div>
    </div> -->
    <div class="tw-space-layout__con">
        <div class="tw-space-layout__con-info">
            <div class="logout"> 
                <div class="account_login__switch_lang relative">
                    <div class="lang-toggle">
                        {{ lang.text("footlang") }}
                        <i class="fa fa-sort-down"></i>
                    </div>
                    <ul class="lang-menu">
                        <li>
                            <a href="" ng-click="lang.reloadLanguage('en')">English</a>
                        </li>
                        <li>
                            <a href="" ng-click="lang.reloadLanguage('cn')">简体中文</a>
                        </li>
                        <li>
                            <a href="" ng-click="lang.reloadLanguage('vi')">Tiếng Việt</a>
                        </li>
                        <li>
                            <a href="" ng-click="lang.reloadLanguage('zh-Hant')">繁體中文</a>
                        </li>
                    </ul>
                </div>
                <span ng-click="main.thirdLogout()" title="{{lang.text('tigerWitID.signOut')}}"><i class="fa fa-sign-out"></i> {{lang.text('tigerWitID.myAccount.exit')}}</span>
            </div>
            <div class="info_box">
                <!-- <div class="info_box__avatar">
                    <img ng-src="{{ main.thirdInfo.userAvatar }}">
                    <p>{{ main.thirdInfo.userName }}</p>
                </div> -->
                <ul class="info_box__detail">
                    <li>
                        <div class="item__number">
                            {{ main.accountStatus == 1 ? main.trade_account.mt4_id : '-' }}
                        </div>
                        <div class="item__text">
                            <span>MT4账户{{lang.text('tigerWitID.wallet.manageBankCards')}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="item__number">
                            {{ main.accountStatus == 1 ? main.trade_balance : '-' }}
                        </div>
                        <div class="item__text">
                            <span>{{lang.text('tigerWitID.tradingAccount.accountBalance')}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="item__number">
                            {{ main.accountStatus == 1 ? main.wallet_balance : '-' }}
                        </div>
                        <div class="item__text">
                            <span>{{lang.text('tigerWitID.wallet.walletBalance')}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tw-space-layout__con-nav">
            <div class="nav-view">
                <div class="space_nav">
                    <ul class="space_nav__box">
                        <li class="space_nav__box-item" ng-class="{'active': main.pageCtrl == 'deposit'}">
                            <a ng-click="main.switchPage('deposit')">{{lang.text('tigerWitID.depositWithdrawal.deposit')}}</a>
                        </li>
                        <li class="space_nav__box-item" ng-class="{'active': main.pageCtrl == 'withdraw'}">
                            <a ng-click="main.switchPage('withdraw')">{{lang.text('tigerWitID.depositWithdrawal.withdrawal')}}</a>
                        </li>
                        <li class="space_nav__box-item" ng-class="{'active': main.pageCtrl == 'record'}">
                            <a ng-click="main.switchPage('record')">{{lang.text('tigerWitID.fundRecords.title')}}</a>
                        </li>
                        <li class="space_nav__box-item" ng-class="{'active': main.pageCtrl == 'evidence'}">
                            <a ng-click="main.switchPage('evidence')">{{lang.text('tigerWitID.depositWithdrawal.voucher')}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tw-space-layout__con-content" ng-controller="AssetIndexController">
            <div ng-controller="CommonAccountxController">
                <div class="content-view" ng-if="main.pageCtrl == 'deposit'">
                    <div class="space_block" ng-controller="AssetDepositController">
                        <div ng-include="'/views/third/asset/common_account.html'" ng-show="!walletDepositSucc && !teleDepositSucc"></div>
                        <div class="mg-tp-40" ng-include="'/views/asset/deposit.html'"></div>
                    </div>
                </div>
                <div class="content-view" ng-if="main.pageCtrl == 'withdraw'">
                    <div class="space_block" ng-controller="AssetWithdrawController">
                        <div ng-include="'/views/third/asset/common_account.html'"></div>
                        <div class="mg-tp-40" ng-include="'/views/asset/withdraw.html'"></div>
                    </div>
                </div>
                <div class="content-view relative" ng-if="main.pageCtrl == 'record'">
                    <div ng-controller="InvestRecordController">
                        <div tw-loading-img></div>
                        <div ng-include="'/views/invest/record.html'"></div>
                    </div>
                </div>
                <div class="content-view relative" ng-if="main.pageCtrl == 'evidence'">
                    <div ng-controller="AssetEvidenceController">
                        <div ng-include="'/views/asset/evidence.html'"></div>
                    </div>
                </div>
                <div class="content-view relative" ng-if="main.pageCtrl == 'wallet'">
                    <div ng-controller="WalletSummaryController">
                        <div tw-loading-img></div>
                        <div ng-include="'/views/wallet/summary.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>