<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TigerWit</title>
    <% include /common/vendor/web.css.html %>

    <!-- build:css(.tmp) /styles/entry.index.css -->
    <link rel="stylesheet" href="/styles/entry.css">
    <!-- endbuild -->

</head>

<body>
    <div class="blockchain_layout">
        <div class="blockchain_banner banner_ele">
            <a href="/" class="banner_logo"></a>
            <div class="banner_particle banner_ele"></div>
            <div class="banner_cont banner_ele">
                <div class="cont_main clearfix">
                    <div class="cont_main__slogan">
                        <p class="slogan_main">
                            SECURE AND RELIABLE <br>
                            NEXT-GENERATION TRADING NETWORKS
                        </p>
                        <br>
                        <p class="slogan_sub">
                            Hundreds of millions of orders processing experience <br>
                            Support mobile platform and web platform's follow trade and independent trading.
                            <br>
                            <br>
                            <img class="sys_icon" src="/images/entry/sys_icons.png">
                        </p>
                    </div>
                    <img class="scroll_bar" src="/images/entry/blockchain/scroll_bar.png">
                </div>
            </div>
        </div>
        <div class="blockchain_goal">
            <div class="blockchain_goal_text">
                <p class="goal_title">
                    OUR GOAL
                </p>
                <P class="goal_slogan">
                    Based on blockchain infrastructure, <br>
                    provide transparent quotation and transaction. <br>
                    Build efficient solutions to improve transaction speed.
                </P>
            </div>
        </div>
        <div class="blockchain_solution">
            <div class="solution_title">
                A SIMPLE SOLUTION WITH <br>
                HIGHER REQUIREMENTS
            </div>
            <div class="solution_subtitle">
                TRADING TRANSPARENCY
            </div>
            <ul class="solution_icons clearfix">
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/1.png">
                    <div class="item_text">
                        The data computing capability <br>
                        accelerates the processing of <br>
                        millions of orders
                    </div>
                </li>
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/2.png">
                    <div class="item_text">
                        Order real-time tracking <br>
                        support independent query
                    </div>
                </li>
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/3.png">
                    <div class="item_text">
                        Order real-time tracking <br>
                        support independent query
                    </div>
                </li>
            </ul>
            <div class="solution_subtitle">
                POINT-TO-POINT TRANSACTION
            </div>
            <ul class="solution_icons clearfix">
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/4.png">
                    <div class="item_text">
                        The data computing capability <br>
                        accelerates the processing of <br>
                        millions of orders
                    </div>
                </li>
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/5.png">
                    <div class="item_text">
                        Order real-time tracking <br>
                        support independent query
                    </div>
                </li>
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/6.png">
                    <div class="item_text">
                        Order real-time tracking <br>
                        support independent query
                    </div>
                </li>
            </ul>
            <div class="solution_subtitle">
                SAFETY COMPLIANCE
            </div>
            <ul class="solution_icons clearfix">
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/7.png">
                    <div class="item_text">
                        The data computing capability <br>
                        accelerates the processing of <br>
                        millions of orders
                    </div>
                </li>
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/8.png">
                    <div class="item_text">
                        Order real-time tracking <br>
                        support independent query
                    </div>
                </li>
                <li class="icon_item fl">
                    <img class="item_img" src="/images/entry/blockchain/9.png">
                    <div class="item_text">
                        Order real-time tracking <br>
                        support independent query
                    </div>
                </li>
            </ul>
        </div>
        <div class="blockchain_join clearfix">
            <div class="join_title">JOIN OUR SECURE TRADING NETWORK</div>
            <!-- <div class="join_btn">JOIN US</div> -->
        </div>
        <div class="blockchain_footer">
            <div class="footer_main">
                <div>
                    <img src="/images/entry/logo.png" class="footer_logo">
                </div>
                <br>
                <div class="footer_link">
                    Email: 
                    <a class="link_mail" href="mailto:support@tigerwit.com">support@tigerwit.com</a>
                </div>
                <br>
                <div class="footer_text">
                    TigerWit has obtained authoritative regulatory license from Financial Conduct Authority(FCA) and Securities Commission of The Bahamas(SCB), which authorises TigerWit to carry on a financial services business in British and Bahamas and other areas.
                    <br><br>
                    TigerWit Limited (UK) and TigerWit Limited (Bahamas) are subsidiaries of TigerWit Holding Limited.TigerWit Limited (UK) is regulated by Financial Conduct Authority（FCA）, license number 679941. TigerWit Limited (Bahamas) is regulated by Securities Commission of The Bahamas（SCB）, license number SIA-F185.
                </div>
                <br>
                <div class="footer_copy">
                    Copyright © 2017 TigerWit. All rights reserved
                </div>
            </div>
        </div>
    </div>
    <!-- build:js(client) /scripts/entry.blockchain.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/scripts/entry/three.js"></script>
    <script src="/scripts/entry/blockchain.js"></script>
    <script src="/scripts/plugins/plugins.js"></script>
    <script src="/scripts/plugins/layer.js"></script>
    <!-- endbuild -->
</body>

</html>