<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include /common/meta/h5.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>
<body>
  <div class="third_app_bank">
    <h3 class="third_app_bank__title">
      <%=lang.text('thirdH5.addBankCards')%>
      <span class="cancel" id="third_app_bank_cancel"><%=lang.text('thirdH5.cancel')%></span>
    </h3>
    <p class="third_app_bank__sub_tit"><%=lang.text('thirdH5.bindAccountBind')%></p>
    <form action="">
      <div class="third_app_bank__item">
        <p class="name active" data-name="realname"><%=lang.text('thirdH5.name')%></p>
        <input type="text" class="cont" disabled name="realname" placeholder="">
      </div>
      <div class="third_app_bank__item">
        <p class="name active" data-name="country"><%=lang.text('thirdH5.bankCountry')%></p>
        <input type="text" class="cont" disabled name="country" placeholder="">
      </div>
      <div class="third_app_bank__item">
        <p class="name" data-name="card"><%=lang.text('thirdH5.cardNumber')%></p>
        <input type="text" class="cont" name="card" placeholder="<%=lang.text('thirdH5.enterCardNumber')%>">
      </div>
      <div class="third_app_bank__item is_bank_input">
        <p class="name" data-name="bankOther"><%=lang.text('thirdH5.fillBank')%></p>
        <input type="text" class="cont" name="bankOther" placeholder="<%=lang.text('thirdH5.fillBank')%>">
      </div>
      <div class="third_app_bank__item is_vn">
        <p class="name" data-name="swift_code"><%=lang.text('thirdH5.bankIdentificationCode')%></p>
        <input type="text" class="cont" name="swift_code" placeholder="<%=lang.text('thirdH5.fillBankIdentificationCode')%>">
      </div>
      <div class="third_app_bank__item is_bank_select">
        <p class="name" data-name="bank_name"><%=lang.text('thirdH5.bankName')%></p>
        <input type="text" class="cont" name="bank_name" placeholder="<%=lang.text('thirdH5.enterBankName')%>">
        <select name="bank_name" id="third_app_bank_bank_name"></select>
      </div>
      <div class="third_app_bank__item is_cn">
        <p class="name" data-name="province"><%=lang.text('thirdH5.provinces')%></p>
        <input type="text" class="cont" name="province" placeholder="<%=lang.text('thirdH5.selectAccountPro')%>">
        <select name="province" id="third_app_bank_province"></select>
      </div>
      <div class="third_app_bank__item is_cn">
        <p class="name" data-name="city"><%=lang.text('thirdH5.city')%></p>
        <input type="text" class="cont" name="city" placeholder="<%=lang.text('thirdH5.selectAccountCity')%>">
        <select name="city" id="third_app_bank_city"></select>
      </div>
      <div class="third_app_bank__item">
        <p class="name" data-name="address"><%=lang.text('thirdH5.branch')%></p>
        <input type="text" class="cont" name="address" placeholder="<%=lang.text('thirdH5.enterBranchBankName')%>">
      </div>
      <div class="third_app_bank__item is_cn">
        <p class="name" data-name="phone"><%=lang.text('thirdH5.reservedPhoneNumber')%></p>
        <input type="text" class="cont" name="phone" placeholder="<%=lang.text('thirdH5.enterReservedPhoneNumber')%>">
      </div>
    </form>
    <div class="btn-wrapper third_app_bank__btn_wrapper">
      <button class="btn btn-primary-gradient" id="third_app_bank_btn"><%=lang.text('thirdH5.submit')%></button>
    </div>
  </div>
</body>
<script id="template_add_bank_lst" type="text/html">
  <option value=""></option>
<$ for(var i=0;i<data.lst.length;i++) {$>
  <option value="<$= data.lst[i][data.value]$>"><$= data.lst[i][data.key]$></option>
<$}$>
</script>
<% include /common/vendor/h5.js.html %>
<% include /third_app/template_modal.html %>
<!-- 注册协议相关弹窗 -->
<%include /common/component/agment_mdl.html %>
<!-- build:js(client) /scripts/third_app_bank.js -->
<script src="/scripts/plugins/baiduTemplate.js"></script>
<script src="/scripts/third_app/common.js"></script>
<script src="/scripts/third_app/add_bank.js"></script>
<!-- endbuild -->

<%- include('/common/statistic/all.html') %>
</html>