<div class="">
  <div class="third_app_evidence__comm">
    <div class="clearfix third_app_evidence__comm-tit">
      <h4 class="fl">凭证注意事项</h4>
      <span class="fr" id="third_app_evidence_example">查看凭证示例</span>
    </div>
    <p class="third_app_evidence__comm-tip">
      1.凭证信息必须显示姓名、银行卡号、支付金额等内容 <br>
      2.凭证信息必须为实名认证本人银行账户。<br>
      3.未满足以上要求，审核将被驳回。<br>
      4.审核驳回后，支付金额将原路退还，产生的1.5%手续费由您自行承担。<br>
      <span>
        注意：充值成功后请及时上传凭证，若超过两周未上传，将无法进行交易操作。<br>
        ＊代表必须上传凭证
      </span>
    </p>
    <ul class="third_app_evidence__comm-navbar" id="third_app_evidence_navbar">
      <li><span data-page="1">待上传</span></li>
      <li><span data-page="2">审核中</span></li>
      <li><span data-page="0">审核成功</span></li>
    </ul>
  </div>
  <div class="third_app_evidence__details" id="third_app_evidence_details">
    
  </div>
  <div class="third_app_evidence__details-default text-center" id="third_app_evidence_details_default">
    <img src="/images/no_voucher.png" alt="">
    <p class="mg-tp-10">当前没有凭证</p>
  </div>
</div>

<script id="template_evidence_list" type="text/html">
  <ul class="third_app_evidence__details-lst">
    <$ for(var i=0;i<data.lst.length;i++) {$>
      <li class="">
        <div class="item-title clearfix">
          <span class="fl">
            <$if (data.lst[i].must) {$>
              <i>＊</i>
            <$}$>
            充值成功
          </span>
          <span class="fr">
            $<$= data.lst[i].amount$>
          </span>
        </div>
        <div class="item-date clearfix">
          <span class="fl"><$= dealTimestamp(data.lst[i].created_at)$></span>
          <span class="fr"><$= data.pageEvidenceIndex === '1' ? data.lst[i].reason || '' : '交易成功'$></span>
        </div>
        <div class="item-op clearfix">
          <div class="fl op-append-file" data-id="<$= data.lst[i].id$>">
            <!-- insert item -->
          </div>
          <div class="fr">
          <$if (data.pageEvidenceIndex === '1') {$>
            <button class="btn btn-primary-gradient third_app_evidence_file_btn active" data-id="<$= data.lst[i].id$>">
              上传凭证
              <input type="file" name="file" accept="image/*" data-id="<$= data.lst[i].id$>" data-action="0" />
            </button>
            <button class="btn btn-info third_app_evidence_submit_btn" data-id="<$= data.lst[i].id$>">提交审核</button>
          <$} else if (data.pageEvidenceIndex === '2') {$>
            <button class="btn btn-info third_app_evidence_cancel_btn active" data-id="<$= data.lst[i].id$>">撤销</button>
          <$}$>
          </div>
        </div>
      </li>
    <$}$>
  </ul>
</script>
<script id="template_evidence_list_item" type="text/html">
  <div class="op-file <$= data.fileImages.length > 0 ? 'active' : ''$>">
    <div class="img"><img src="<$= data.fileImages[0] || ''$>" alt=""></div>
    <form class="form">
      <input type="file" name="file" accept="image/*" data-id="<$= data.id$>" data-action="0" />
    </form>
  </div>
  <div class="op-file <$= data.fileImages.length > 0 ? 'active' : ''$>">
    <div class="img"><img src="<$= data.fileImages[1] || ''$>" alt=""></div>
    <form class="form">
      <input type="file" name="file" accept="image/*" data-id="<$= data.id$>" data-action="1" />
    </form>
  </div>
  <div class="op-file <$= data.fileImages.length > 1 ? 'active' : ''$>">
    <div class="img"><img src="<$= data.fileImages[2] || ''$>" alt=""></div>
    <form class="form">
      <input type="file" name="file" accept="image/*" data-id="<$= data.id$>" data-action="2" />
    </form>
  </div>
</script>
<script id="template_evidence_list_item_2" type="text/html">
  <div class="op-file <$= data.fileImages.length > 0 ? 'active' : ''$>">
    <div class="img"><img src="<$= data.fileImages[0] || ''$>" alt=""></div>
  </div>
  <div class="op-file <$= data.fileImages.length > 1 ? 'active' : ''$>">
    <div class="img"><img src="<$= data.fileImages[1] || ''$>" alt=""></div>
  </div>
  <div class="op-file <$= data.fileImages.length > 2 ? 'active' : ''$>">
    <div class="img"><img src="<$= data.fileImages[2] || ''$>" alt=""></div>
  </div>
</script>