<!DOCTYPE html>
<html>
<!--引入公用头部-->
<% include /common/meta/h5.html %>
<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->
<% include /common/vendor/h5.utiljs.html %>
<% include /common/statistic/main.html %>
<script>
    var thirdH5 = {
      beneficiaryName: '<%= lang.text("thirdH5.beneficiaryName") %>',
      beneficiaryBank: '<%= lang.text("thirdH5.beneficiaryBank") %>',
      australia: '<%= lang.text("thirdH5.australia") %>',
      beneA_CNo: '<%= lang.text("thirdH5.beneA_CNo") %>',
      swift: '<%= lang.text("thirdH5.swift") %>',
      beneficiaryBankName: '<%= lang.text("thirdH5.beneficiaryBankName") %>',
      beneficiaryBankAddress: '<%= lang.text("thirdH5.beneficiaryBankAddress") %>',
      bsb: '<%= lang.text("thirdH5.bsb") %>',
      beneficiaryAddress: '<%= lang.text("thirdH5.beneficiaryAddress") %>',
      copySuccess: '<%= lang.text("thirdH5.copySuccess") %>',
    };
</script>

<body>
  <div class="third_app_static">
    <p class="third_app_static__transfer-tip">
        <%=lang.text('thirdH5.transferTip1')%>
        <span><%=lang.text('thirdH5.transferTip2')%></span>
        <%=lang.text('thirdH5.transferTip3')%>
    </p>
    <div class="third_app_static__transfer-details">
      
    </div>
  </div>
</body>
<script id="template_transfer_info" type="text/html">
  <p class="tit"><%=lang.text('thirdH5.telegraphicTransferTip3')%></p>
  <ul class="content account_content">
    <$ for(var i=0;i<data.length;i++) {$>
      <li>
        <p class="clearfix">
          <span class="fl"><$=data[i].name$></span>
          <span class="fr copy" data-details="<$=data[i].cont$>"><%=lang.text('thirdH5.copy')%></span>
        </p>
        <p class="cont"><$=data[i].cont$></p>
      </li>
      <li>
        <p class="clearfix">
          <span class="fl"><%=lang.text('thirdH5.remittanceInformation')%></span>
        </p>
        <p class="cont"><%=lang.text('thirdH5.nameSpellAccount')%>12345678</p>
      </li>
    <$}$>
  </ul>
</script>
<% include /common/vendor/h5.js.html %>
<!-- 注册协议相关弹窗 -->
<%include /common/component/agment_mdl.html %>
<!-- build:js(client) /scripts/third_app_transfer.js -->
<script src="/scripts/plugins/baiduTemplate.js"></script>
<script src="/scripts/third_app/transfer.js"></script>
<!-- endbuild -->

<%- include('/common/statistic/all.html') %>
</html>