<div class="">
  <div class="clearfix mg-bt-15">
    <div class="third_app_common__item">提现账户</div>
    <div class="third_app_common__select" id="third_app_withdraw_account_btn">
      <span class="info" id="third_app_withdraw_account_name">请选择</span>
      <span class="tag btn btn-primary-gradient" id="third_app_withdraw_account_tag"></span>
    </div>
  </div>
  <div class="clearfix mg-bt-15">
    <div class="third_app_common__item">提现金额</div>
    <div class="third_app_common__inp mg-tp-10">
      <span class="icon">$</span>
      <input type="text" class="" placeholder="最低20美元" id="third_app_withdraw_amount">
    </div>
    <div class="third_app_common__rate" id="third_app_withdraw_account_amount">
      <span class="name"></span>余额：$<span class="num"></span>
    </div>
  </div>
  <div class="clearfix mg-bt-15">
    <div class="third_app_common__item">提现到</div>
    <ul class="third_app_withdraw__account_lst" id="third_app_withdraw_account_list"></ul>
  </div>
  <div class="btn-wrapper third_app_common__btn mg-tp-25">
    <button class="btn btn-primary-gradient disabled" id="third_app_withdraw_btn">确认提现</button>
  </div>
</div>

<script id="template_withdraw_account_type" type="text/html">
<$ for(var i=0;i<data.lst.length;i++) {$>
  <li class="clearfix <$= data.isToWallet && data.lst[i].key === 'wallet' ? 'un_active' : ''$>" data-type="<$= data.lst[i].key$>">
    <span class="icon"></span>
    <span><$= data.lst[i].name$></span>
  </li>
<$}$>
</script>