<!DOCTYPE html>
<html style="height: 100%;">

<head>
  <% include /common/meta/h5n.html %>

  <meta name="description" content="Tigerwit get access for The global capital market。">
  <meta name="keywords" content="tigerwit，老虎外汇，Duplicate transaction，Forex，Metal，CFD">
</head>

<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<!--引入公用头部-->
<% include /common/vendor/h5.utiljs.html %>

<body>
  <div id="bd_resurrection_detail" class="bd_resurrection_detail" data-page-id="<%= id%>">
    <h4 class="bd_resurrection_detail_title"><%= lang.text('resTitle')%></h4>
    <div class="bd_resurrection_detail_redbag active" id="redbag-closed">
      <div class="message">
        <!-- <p><%= lang.text('resTip1')%></p>
        <p><%= lang.text('resTip2')%></p> -->
      </div>
      <div class="open"><span id="open"><%= lang.text('resOpen')%></span></div>
      <img src="/white_label/bd_resurrection/redbag.png" alt="">
    </div>
    <div class="bd_resurrection_detail_redbag" id="redbag-opened">
      <div class="s-message">
        <p><%= lang.text('resTip3')%></p>
        <p class="amount">$<span class="dollar"></span></p>
        <p><%= lang.text('resTip4')%></p>
      </div>
      <img src="/white_label/bd_resurrection/redbag-opened.png" alt="">
    </div>
    <div class="bd_resurrection_detail_tip">
      <p><%= lang.text('resTip5')%> <span class="dollar"></span> <%= lang.text('resTip6')%></p>
    </div>
    <div class="bd_resurrection_detail_rules">
      <p><%= lang.text('resTip7')%></p>
      <p><%= lang.text('resTip8')%> <span class="<%= lang.isEnglishArea() ? 'lots' : 'date'%>"></span>
        <%= lang.text('resTip9')%> <span class="<%= lang.isEnglishArea() ? 'date' : 'lots'%>"></span>
        <%= lang.text('resTip10')%></p>
      <p><%= lang.text('resTip11')%></p>
      <p><%= lang.text('resTip12')%></p>
    </div>
  </div>
</body>
<% include /common/vendor/h5.js.html %>
<!-- build:js(client) /scripts/bd_resurrection.js -->
<script src="/scripts/bd/bd_resurrection/index.js"></script>
<!-- endbuild -->

</html>