<!DOCTYPE html>
<html style="height: 100%;">

<head>
  <% include /common/meta/h5n.html %>

  <meta name="description" content="Tigerwit get access for The global capital market。">
  <meta name="keywords" content="tigerwit，老虎外汇，Duplicate transaction，Forex，Metal，CFD">

</head>

<!-- 引入H5 CSS -->
<!-- build:css(.tmp) /styles/h5_common.css -->
<link rel="stylesheet" href="/styles/h5_common.css">
<!-- endbuild -->

<!--引入公用头部-->
<% include /common/vendor/h5.utiljs.html %>

<body>
  <div id="bd_resurrection" class="bd_resurrection <%= lang.isEnglishArea() ? 'en' : 'cn' %>" data-page-id="<%= id%>">
    <div class="bd_resurrection_form_wrapper">
      <form action="">
        <div class="bd_resurrection_control_wrapper">
          <div class="phone_code_wrapper">
            <span>+<i id="phone_code"><%= lang.isEnglishArea() ? '0' : '86' %></i></span>
            <select name="" id="phone_code_select"></select>
          </div>
          <input id="phone" class="bd_resurrection_control phone" type="text"
            placeholder="<%= lang.text('resAccount')%>">
        </div>
        <div class="bd_resurrection_control_wrapper">
          <input id="password" class="bd_resurrection_control" type="password"
            placeholder="<%= lang.text('resPassword')%>">
        </div>
        <div class="bd_resurrection_btn" id="login"><%= lang.text('resLogin')%></div>
      </form>
    </div>
  </div>
</body>
<% include /common/vendor/h5.js.html %>
<!-- build:js(client) /scripts/bd_resurrection.js -->
<script src="/scripts/bd/bd_resurrection/index.js"></script>
<!-- endbuild -->

</html>