<div class="t27_box">
    <div class="banner-bg">
        <div class="wrapbanner warpbanner-nodate">
            <div class="bonus-date">2016年9月1日~2016年9月30日</div>
            <div class="login-wrap">
                <p class="div-title">注册领100美金</p>
                <ul>
                    <li><input type="text" name="r_name" id="username" placeholder="姓名"></li>
                    <li><input type="text" name="r_phone" id="telephone" placeholder="电话"></li>
                    <li><input type="text" name="r_email" id="email" placeholder="邮箱"></li>
                </ul>
                <p class="p-btn">
                    <button type="button" id="regist_btn">免费注册</button>
                </p>
                <div class="t27_reg_tip">
                    <p>2016年9月1日~2016年9月30日注册的用户，帐号尾号为“888”均赠小米手环一个</p>
                </div>
            </div>
        </div>
        <ul class="hongbao-ulList" ng-controller="IncomeController">
            <li>
                <img src="/images/bd/hongbao-img3.png" draggable="false" />
                <p>
                    <a class="skipTop">立即注册</a>
                </p>
            </li>
            <li>
                <img src="/images/bd/hongbao-img4.png" draggable="false" />
                <p><a class="jiajin skipTop">马上入金</a></p>
            </li>
        </ul>
    </div>
    <div class="guizebg">
        <div class="wrap">
            <p class="textcenter pb40"><img src="/images/bd/hongbao-img6.png" draggable="false" /></p>
            <p>1. 注册即可获得100美金体验金，可直接用于交易，体验资金即刻到账；</p>
            <p>2. 5个工作日内入金可额外获得50美金体验金，入金后交易满15手，可提取全部的体验资金和盈利，无时间限制；</p>
            <p>3. 任何时间内，首次充值大于2000美金，即可享受更优厚的赠金条件，如下：</p>
            <div class="ptb30">
                <table border="0" cellspacing="0" cellpadding="0" class="guize-table">
                    <tr>
                        <th>入金金额</th>
                        <th>赠金比例</th>
                        <th>交易手数</th>
                    </tr>
                    <tr>
                        <td>2000-4999 美金</td>
                        <td>10.0%</td>
                        <td>赠金金额／4</td>
                    </tr>
                    <tr>
                        <td>5000-9999 美金</td>
                        <td>12.5%</td>
                        <td>赠金金额／4</td>
                    </tr>
                    <tr>
                        <td>10000 美金以上</td>
                        <td>15%，不超过 10000 美金</td>
                        <td>赠金金额／4</td>
                    </tr>
                </table>
            </div>
            <p class="pb30">活动时间：2016年9月1日~9月30日</p>
            <p class="pb40">举例： 张先生8月1日在TigerWit老虎外汇平台注册，获得了100美金赠金，8月2日张先生入金2000美金， 并获得赠金200美金（2000*10%），开始选择高手跟单交易，8月25日张先生交易满15手，并盈利了3000美 金，所以张先生的账户余额为：100+2200+3000=5300美金</p>
            <p class="textcenter pb40"><img src="/images/bd/hongbao-img7.png" draggable="false" /></p>
            <p>1.入金后所有订单平仓体验金扣除，重新发放100美金体验金，100美金体验金以及50美金入金赠金都是以信用形式发放到客户账户；</p>
            <p>2.超过5个工作日且充值小于2000美金的用户，只享受100美金的体验金，活动期间交易15手后可提取体验资金；</p>
            <p>3.本活动的交易手数适用于外汇，贵金属以及能源类产品，CFD股指交易手数不计入统计范围；</p>
            <p>4.本活动仅限首次入金的新用户，为了保证您的资金快速出入，请提交正确的开户信息；</p>
            <p>5.完成规定交易手数之前，赠金不可抵消账户亏损，若账户净值低于赠金金额的105%，老虎外汇有权强行平仓；</p>
            <p>6.老虎外汇享有最终解释权，若有疑问，请咨询在线客服，或者拨打400-809-8509</p>
        </div>
    </div>
    <p class="guize-bottombg"></p>
    <p class="textcenter pb55">
        <img src="/images/bd/hongbao-img13_.png" width="500px">
    </p>
    <ul class="tedian-wrap">
        <li>
            <p class="textcenter">
                <img src="/images/bd/hongbao-img14.png" draggable="false" />
            </p>
            <p class="p-title">外汇</p>
            <div class="divlist-text">
                <p>● 最高400倍杠杆</p>
                <p>● 复制跟单，即可盈利，无须盯盘</p>
                <p>● STP交易安全，透明，放心</p>
            </div>
        </li>
        <li>
            <p class="textcenter">
                <img src="/images/bd/hongbao-img15.png" draggable="false" />
            </p>
            <p class="p-title">贵金属</p>
            <div class="divlist-text">
                <p>● 杠杆高</p>
                <p>● 交易成本低，黄金一手不到50美金</p>
                <p>● 门槛低，保证金 仅为10美金
                </p>
            </div>
        </li>
        <li>
            <p class="textcenter">
                <img src="/images/bd/hongbao-img16.png" draggable="false" />
            </p>
            <p class="p-title">能源</p>
            <div class="divlist-text">
                <p>● 50倍以上杠杆</p>
                <p>● 无手续费，仅收取点差</p>
                <p>● 只需设置一次止损，隔天仍然有效</p>
            </div>
        </li>
        <li>
            <p class="textcenter">
                <img src="/images/bd/hongbao-img17.png" draggable="false" />
            </p>
            <p class="p-title">CFD</p>
            <div class="divlist-text">
                <p>● 提供全球主流股市交易品种</p>
                <p>● 提供低至2%的保证金水平</p>
                <p>● 入市门槛极低</p>
            </div>
        </li>
    </ul>
    <p class="clear"></p>
    <div class="tedian-bottombg">
        <div class="get_award">
            <p class="textcenter pb55">
                <img src="/images/bd/hongbao-img_award.png" width="360px">
            </p>
           <ul class="clearfix">
               <li class="award"><img src="/images/bd/t27_award1.png"><span>最具创新力品牌奖</span></li>
               <li class="award"><img src="/images/bd/t27_award2.png"><span>最具创新经济奖</span></li>
               <li class="award"><img src="/images/bd/t27_award3.png"><span>最佳推荐平台</span></li>
           </ul>
            <div class="tiger_path">
                <div class="path_box last"><span class="time">●&nbsp;&nbsp;&nbsp;2016年8月</span><span class="des">正式规范中文宣传名称为“老虎外汇”</span></div>
                <div class="path_box"><span class="time">●&nbsp;&nbsp;&nbsp;2016年6月</span><span class="des">获取数千万人民币融资，APP2.0上线 支持微盘与定期跟单</span></div>
                <div class="path_box"><span class="time">●&nbsp;&nbsp;&nbsp;2016年4月</span><span class="des">APP1.0上线 支持跟单交易，APP产品取代WAP</span></div>
                <div class="path_box"><span class="time">●&nbsp;&nbsp;&nbsp;2016年3月</span><span class="des">WAP3.0上线 第一代定期跟单、微盘交易产品上线</span></div>
                <div class="path_box"><span class="time">●&nbsp;&nbsp;&nbsp;2015年11月</span><span class="des">WAP2.0上线</span></div>
                <div class="path_box"><span class="time">●&nbsp;&nbsp;&nbsp;2015年8月</span><span class="des">WAP第一代复制跟单产品上线</span></div>
                <div class="path_box"><span class="time">●&nbsp;&nbsp;&nbsp;2015年3月</span><span class="des">老虎外汇公司成立即获得上千万元天使投资</span></div>
            </div>
        </div>
        <div>
            <p class="hezuo-txt">TigerWit老虎外汇其他媒体合作伙伴</p>
        </div>
        <div class="wrap">
            <img src="/images/bd/hongbao-img12.png" draggable="false" />
        </div>
    </div>
    <div class="footerbg">
        <div class="footer-wrap" data-scroll-reveal="enter bottom, move 40px, over 1s, wait 0.53s">
            <p>
                风险警示: 下载“老虎外汇”APP，随时随地监测交易状态，即时根据行情快速下单交易。微盘交易系统实时与国际大型银行报价无缝对接，可直接进行外汇、原油、贵金属、差价合约等品种交易；同时结合老虎外汇的跟单产品，推出更丰富的投资组合方式，满足投资人群的多样化需求；无论是有经验的交易员还是入门级的投资爱好者，无需MT4客户端，在“老虎外汇”APP完成注册即可立即下单操作。
            </p>
            <div class="t27_code">
                <img src="/images/bd/t30_code_min.png">
                <p>APP下载二维码</p>
            </div>
        </div>
    </div>
</div>