<div class="index_new">
  <div class="index_new__focus <%= lang.currentLanguage() === 'en' ? 'en' : 'cn'%>">
    <div class="index_new__container">
      <h3 class="index_new__focus-title"><%= lang.text("newhome_1")%></h3>
      <p class=""><%= lang.text("newhome_2")%></p>
      <p class="index_new__focus-sub_tit"><%= lang.text("newhome_3")%></p>
      <ul class="index_new__focus-icon_box clearfix">
        <li>
          <img src="/white_label/home/focus-icon-1.png" alt="">
          <p><%= lang.text("newhome_4")%></p>
        </li>
        <li>
          <img src="/white_label/home/focus-icon-2.png" alt="">
          <p><%= lang.text("newhome_5")%></p>
        </li>
        <li>
          <img src="/white_label/home/focus-icon-3.png" alt="">
          <p><%= lang.text("newhome_6")%></p>
        </li>
        <li>
          <img src="/white_label/home/focus-icon-4.png" alt="">
          <p><%= lang.text("newhome_7")%></p>
        </li>
      </ul>
      <div class="index_new__focus-btn_box">
        <a href="/space/#/account/register" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_8")%></a>
        <a href="/space/#/account/register" class="tw-btn tw-btn-lg200 tw-btn-capsule-bordered"><%= lang.text("newhome_9")%></a>
      </div>
      <div class="index_new__focus-download">
        <a href="http://20805457p.rfihub.com/ca.gif?rb=36314&ca=20805457&_o=36314&_t=20805457&rd=http://hyperurl.co/4roggv?utm_source=website&utm_medium=appstorebutton"><img src="/white_label/home/focus-icon-ios.png" alt=""></a>
        <a href="http://20805458p.rfihub.com/ca.gif?rb=36314&ca=20805458&_o=36314&_t=20805458&rd=https://play.google.com/store/apps/details?id=com.tigerwit.forex"><img src="/white_label/home/focus-icon-android.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__copy">
      <h3 class="index_new__copy-title"><%= lang.text("newhome_10")%></h3>
      <p class="index_new__copy-sub_tit"><%= lang.text("newhome_11")%></p>
      <ul class="index_new__copy-lst clearfix">
        <li>
          <img src="/white_label/home/copy-icon-1.png" alt="">
          <p class="num">1</p>
          <p class="tip"><%= lang.text("newhome_12")%></p>
        </li>
        <li>
          <img src="/white_label/home/copy-icon-2.png" alt="">
          <p class="num">2</p>
          <p class="tip"><%= lang.text("newhome_13")%></p>
        </li>
        <li>
          <img src="/white_label/home/copy-icon-3.png" alt="">
          <p class="num">3</p>
          <p class="tip"><%= lang.text("newhome_14")%></p>
        </li>
        <li>
          <img src="/white_label/home/copy-icon-4.png" alt="">
          <p class="num">4</p>
          <p class="tip"><%= lang.text("newhome_15")%></p>
        </li>
      </ul>
      <div class="index_new__copy-btn_box">
        <a href="/ranklist/#/ranklist/masters" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_16")%></a>
      </div>
    </div>
  </div>
  <div class="index_new__container" ng-controller="HomeIndexController" ng-cloak>
    <div class="index_new__flexible">
      <h3 class="index_new__flexible-title"><%= lang.text("newhome_17")%></h3>
      <div class="relative">
        <div class="curcle-1"><img src="/white_label/home/curcle-1.png" alt=""></div>
        <div class="index_new__flexible-box">
          <div class="content">
            <div class="clearfix">
                <ul class="index_new_qupte__title clearfix h_border">
                    <li class="pro">
                        <%= lang.text("home64")%>
                    </li>
                    <li class="sell">
                        <%= lang.text("home65")%>
                    </li>
                    <li class="buy">
                        <%= lang.text("home66")%>
                    </li>
                </ul>
                <ul class="index_new_qupte__title clearfix">
                    <li class="pro">
                        <%= lang.text("home64")%>
                    </li>
                    <li class="sell">
                        <%= lang.text("home65")%>
                    </li>
                    <li class="buy">
                        <%= lang.text("home66")%>
                    </li>
                </ul>
            </div>
            <div class="clearfix">
                <ul ng-repeat="quoteSymbol in quoteSymbols" class="index_new_qupte__content clearfix" ng-class="{h_border: $index%2 === 0}">
                    <li class="pro">
                        <%if (lang.currentLanguage() === 'zh'){%>
                        {{ quoteSymbol.symbol_zh }}({{ quoteSymbol.symbol }})
                        <%}else {%>
                        {{ quoteSymbol.symbol }}
                        <%}%>
                    </li>
                    <li class="sell" ng-class="{up: quoteSymbol.type === 'up', down: quoteSymbol.type === 'down'}">
                        <span>
                            {{ quoteSymbol.sell }}
                        </span>
                    </li>
                    <li class="buy" ng-class="{up: quoteSymbol.type === 'up', down: quoteSymbol.type === 'down'}">
                        <span>
                            {{ quoteSymbol.buy }}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="index_new_qupte__tip">
                *<%= lang.text("home67")%>
            </div>
          </div>
        </div>
      </div>
      <ul class="index_new__flexible-lst">
        <li>
          <img src="/white_label/home/flex-icon-1.png" alt="">
          <h5><%= lang.text("newhome_18")%></h5>
          <p><%= lang.text("newhome_20")%></p>
        </li>
        <li>
          <img src="/white_label/home/flex-icon-2.png" alt="">
          <h5><%= lang.text("newhome_21")%></h5>
          <p><%= lang.text("newhome_22")%></p>
          <p><%= lang.text("newhome_23")%></p>
        </li>
        <li>
          <img src="/white_label/home/flex-icon-3.png" alt="">
          <h5><%= lang.text("newhome_27")%></h5>
          <p><%= lang.text("newhome_24")%></p>
        </li>
        <li>
          <img src="/white_label/home/flex-icon-4.png" alt="">
          <h5><%= lang.text("newhome_28")%></h5>
          <p><%= lang.text("newhome_25")%></p>
          <p><%= lang.text("newhome_26")%></p>
        </li>
      </ul>
      <div class="index_new__flexible-btn_box">
        <a href="/space/#/account/register" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_29")%></a>
      </div>
    </div>
  </div>
  <!-- <div class="index_new__container">
    <div class="index_new__block">
      <h3 class="index_new__block-title"><%= lang.text("newhome_30")%></h3>
      <p class="index_new__block-sub_tit"><%= lang.text("newhome_31")%></p>
      <div class="index_new__block-content"></div>
    </div>
  </div> -->
  <div class="index_new__tools <%= lang.currentLanguage() === 'en' ? 'en' : 'cn'%>">
    <div class="index_new__container">
      <h3 class="index_new__tools-title"><%= lang.text("newhome_32")%></h3>
      <p class="index_new__tools-sub_tit"><%= lang.text("newhome_33")%></p>
      <p class="index_new__tools-sub_tit"><%= lang.text("newhome_34")%></p>
      <p class="index_new__tools-sub_tit"><%= lang.text("newhome_35")%></p>
      <div class="index_new__tools-download">
        <a href=""><img src="/white_label/home/tools-icon-ios.png" alt=""></a>
        <a href="http://20805458p.rfihub.com/ca.gif?rb=36314&ca=20805458&_o=36314&_t=20805458&rd=https://play.google.com/store/apps/details?id=com.tigerwit.forex"><img src="/white_label/home/tools-icon-android.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__reliable">
      <h3 class="index_new__reliable-title"><%= lang.text("newhome_36")%></h3>
      <ul class="index_new__reliable-lst">
        <li>
          <h5 class="f"><%= lang.text("newhome_37")%></h5>
          <p><%= lang.text("newhome_38")%></p>
        </li>
        <li>
          <h5 class="b"><%= lang.text("newhome_39")%></h5>
          <p><%= lang.text("newhome_40")%></p>
          <p><%= lang.text("newhome_41")%></p>
        </li>
      </ul>
      <div class="index_new__reliable-btn_box">
        <a href="/space/#/account/register" class="tw-btn tw-btn-lg200 tw-btn-capsule-bordered"><%= lang.text("newhome_29")%></a>
      </div>
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__client">
      <h3 class="index_new__client-title"><%= lang.text("newhome_42")%></h3>
      <% if (lang.currentLanguage() === 'en') {%>
        <img src="/white_label/home/client-map-en.png" alt="">
      <%} else {%>
        <img src="/white_label/home/client-map-cn.png" alt="">
      <%}%>
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__float_box">
      <div class="index_new__float clearfix">
        <div class="fl f">
          <h3><%= lang.text("newhome_43")%></h3>
          <h3><%= lang.text("newhome_44")%></h3>
          <p><%= lang.text("newhome_45")%></p>
        </div>
        <div class="fl b">
          <a href="/space/#/account/register" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_46")%></a>
        </div>
      </div>
    </div>
  </div>
</div>