<div class="index_new">
  <div class="index_new__focus <%= lang.showScheme('cnEn', 'globalEn', 'cnCn', 'globalCn')%>">
    <div class="index_new__container">
      <h3 class="index_new__focus-title"><%= lang.text("newhome_1")%></h3>
      <h3 class="index_new__focus-title"><%= lang.text("newhome_1_1")%></h3>
      <h3 class="index_new__focus-title"><%= lang.text("newhome_1_2")%></h3>
      <p class="index_new__focus-sub_tit"><%= lang.text("newhome_2")%></p>
      <ul class="index_new__focus-icon_box clearfix">
        <li>
          <img src="/white_label/home/focus-icon-1.png" alt="">
          <p><%= lang.text("newhome_4")%></p>
        </li>
        <li>
          <img src="/white_label/home/focus-icon-2.png" alt="">
          <p><%= lang.text("newhome_5")%></p>
        </li>
        <li>
          <img src="/white_label/home/focus-icon-3.png" alt="">
          <p><%= lang.text("newhome_6")%></p>
        </li>
        <li>
          <img src="/white_label/home/focus-icon-4.png" alt="">
          <p><%= lang.text("newhome_7")%></p>
        </li>
      </ul>
      <!-- <div class="index_new__focus-btn_box">
        <a href="/space/#/account/register" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient focus_btn"><%= lang.text("newhome_9_1")%></a>
      </div> -->
      <div class="index_new__focus-btn_box">
          <%= lang.text("newhome_9_1")%>
      </div>
      <div class="index_new__focus-download">
          
        <a href="<%= lang.showScheme('https://itunes.apple.com/app/id1091437876', lang.text('downloadGlobalIos')) %>"><img src="/white_label/home/<%= lang.showScheme('focus-icon-ios-en', 'focus-icon-ios-en', 'focus-icon-ios-cn', 'focus-icon-ios-cn') %>.png" alt=""></a>
        <a href="<%= lang.showScheme(lang.text('androidApp'), lang.text('downloadGlobalAndroid')) %>"><img src="/white_label/home/<%= lang.showScheme('focus-icon-cn-android-en', 'focus-icon-google-en', 'focus-icon-cn-android-cn', 'focus-icon-google-cn') %>.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__copy">
      <h3 class="index_new__copy-title"><%= lang.text("newhome_10")%></h3>
      <p class="index_new__copy-sub_tit"><%= lang.text("newhome_11")%></p>
      <ul class="index_new__copy-lst clearfix">
        <li>
          <img src="/white_label/home/copy-icon-1.png" alt="">
          <p class="num">1</p>
          <p class="tip"><%= lang.text("newhome_12")%></p>
        </li>
        <li>
          <img src="/white_label/home/copy-icon-2.png" alt="">
          <p class="num">2</p>
          <p class="tip"><%= lang.text("newhome_13")%></p>
        </li>
        <li>
          <img src="/white_label/home/copy-icon-3.png" alt="">
          <p class="num">3</p>
          <p class="tip"><%= lang.text("newhome_14")%></p>
        </li>
        <li>
          <img src="/white_label/home/copy-icon-4.png" alt="">
          <!-- <p class="num">4</p> -->
          <p class="tip"><%= lang.text("newhome_15")%></p>
        </li>
      </ul>
      <div class="index_new__copy-btn_box">
        <a href="/ranklist/#/ranklist/masters" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_16")%></a>
      </div>
    </div>
  </div>
  <div class="index_new__container" ng-controller="HomeIndexController" ng-cloak>
    <div class="index_new__flexible">
      <h3 class="index_new__flexible-title"><%= lang.text("newhome_17")%></h3>
      <p class="index_new__flexible-sub_tit"><%= lang.text("newhome_17_1")%></p>
      <p class="index_new__flexible-sub_tit"><%= lang.text("newhome_17_2")%></p>
      <div class="relative">
        <div class="curcle-1"><img src="/white_label/home/curcle-1.png" alt=""></div>
        <div class="index_new__flexible-box">
          <div class="content">
            <div class="clearfix">
                <ul class="index_new_qupte__title clearfix h_border">
                    <li class="pro">
                        <%= lang.text("home64")%>
                    </li>
                    <li class="sell">
                        <%= lang.text("home65")%>
                    </li>
                    <li class="buy">
                        <%= lang.text("home66")%>
                    </li>
                </ul>
                <ul class="index_new_qupte__title clearfix">
                    <li class="pro">
                        <%= lang.text("home64")%>
                    </li>
                    <li class="sell">
                        <%= lang.text("home65")%>
                    </li>
                    <li class="buy">
                        <%= lang.text("home66")%>
                    </li>
                </ul>
            </div>
            <div class="clearfix">
                <ul ng-repeat="quoteSymbol in quoteSymbols" class="index_new_qupte__content clearfix" ng-class="{h_border: $index%2 === 0}">
                    <li class="pro">
                        <%if (lang.currentLanguage() === 'zh'){%>
                        {{ quoteSymbol.symbol_zh }}({{ quoteSymbol.symbol }})
                        <%}else {%>
                        {{ quoteSymbol.symbol }}
                        <%}%>
                    </li>
                    <%if (req.host.indexOf('global') != -1) {%>
                    <li class="sell" ng-class="{down: quoteSymbol.type === 'up', up: quoteSymbol.type === 'down'}">
                        <span>
                            {{ quoteSymbol.sell }}
                        </span>
                    </li>
                    <li class="buy" ng-class="{down: quoteSymbol.type === 'up', up: quoteSymbol.type === 'down'}">
                        <span>
                            {{ quoteSymbol.buy }}
                        </span>
                    </li>
                    <%} else {%>
                      <li class="sell" ng-class="{up: quoteSymbol.type === 'up', down: quoteSymbol.type === 'down'}">
                          <span>
                              {{ quoteSymbol.sell }}
                          </span>
                      </li>
                      <li class="buy" ng-class="{up: quoteSymbol.type === 'up', down: quoteSymbol.type === 'down'}">
                          <span>
                              {{ quoteSymbol.buy }}
                          </span>
                      </li>
                    <%}%>
                </ul>
            </div>
            <div class="index_new_qupte__tip">
                *<%= lang.text("home67")%>
            </div>
          </div>
        </div>
      </div>
      <ul class="index_new__flexible-lst">
        <li>
          <img src="/white_label/home/flex-icon-1.png" alt="">
          <h5><%= lang.text("newhome_18")%></h5>
          <p><%= lang.text("newhome_20")%></p>
        </li>
        <li>
          <img src="/white_label/home/flex-icon-2.png" alt="">
          <h5><%= lang.text("newhome_21")%></h5>
          <p><%= lang.text("newhome_22")%></p>
          <p><%= lang.text("newhome_23")%></p>
        </li>
        <li>
          <img src="/white_label/home/flex-icon-3.png" alt="">
          <h5><%= lang.text("newhome_27")%></h5>
          <p><%= lang.text("newhome_24")%></p>
        </li>
        <li>
          <img src="/white_label/home/flex-icon-4.png" alt="">
          <h5><%= lang.text("newhome_28")%></h5>
          <p><%= lang.text("newhome_25")%></p>
          <p><%= lang.text("newhome_26")%></p>
        </li>
      </ul>
      <div class="index_new__flexible-btn_box">
        <a href="/web/product/forex" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_29")%></a>
      </div>
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__block">
      <h3 class="index_new__block-title"><%= lang.text("newhome_30")%></h3>
      <p class="index_new__block-sub_tit"><%= lang.text("newhome_31")%></p>
      <div class="index_new__block-content">
        <video height="500" controls autobuffer poster="/white_label/home/block-poster.png">
          <source src="https://static.tigerwitfx.com/downloads/static/video/TigerWit_Final_v4.mp4" type="video/mp4" />
          <!-- <source src="my_video.ogv" type="video/ogg" />
          <source src="my_video.webm" type="video/webm" /> -->
          你浏览器不支持 video 功能，点击这里下载视频：<a href="https://static.tigerwitfx.com/downloads/static/video/TigerWit_Final_v4.mp4">下载视频</a>
        </video>
      </div>
      <div class="index_new__flexible-btn_box">
        <a href="https://tech.tigerwit.com" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient flexible_btn"><%= lang.text("newhome_31_1")%></a>
      </div>
    </div>
  </div>
  <div class="index_new__tools <%= lang.showScheme('cnEn', 'globalEn', 'cnCn', 'globalCn')%>">
    <div class="index_new__container">
      <h3 class="index_new__tools-title"><%= lang.text("newhome_32")%></h3>
      <p class="index_new__tools-sub_tit"><%= lang.text("newhome_33")%></p>
      <p class="index_new__tools-sub_tit"><%= lang.text("newhome_34")%></p>
      <p class="index_new__tools-sub_tit"><%= lang.text("newhome_35")%></p>
      <p class="index_new__tools-sub_tit"><%= lang.text("newhome_35_1")%></p>
      <p class="index_new__tools-sub_tit"><%= lang.text("newhome_35_2")%></p>
      <div class="index_new__tools-download">
        <a href="<%= lang.showScheme('https://itunes.apple.com/app/id1091437876', lang.text('downloadGlobalIos')) %>"><img src="/white_label/home/<%= lang.showScheme('focus-icon-ios-en', 'focus-icon-ios-en', 'focus-icon-ios-cn', 'focus-icon-ios-cn') %>.png" alt=""></a>
        <a href="<%= lang.showScheme(lang.text('androidApp'), lang.text('downloadGlobalAndroid')) %>"><img src="/white_label/home/<%= lang.showScheme('focus-icon-cn-android-en', 'focus-icon-google-en', 'focus-icon-cn-android-cn', 'focus-icon-google-cn') %>.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__reliable">
      <h3 class="index_new__reliable-title"><%= lang.text("newhome_36")%></h3>
      <ul class="index_new__reliable-lst">
        <li>
          <h5 class="f"><%= lang.text("newhome_37_1")%></h5>
          <p><%= lang.text("newhome_37_2")%></p>
        </li>
        <li>
          <h5 class="s"><%= lang.text("newhome_37")%></h5>
          <p><%= lang.text("newhome_38")%></p>
        </li>
        <li>
          <h5 class="t"><%= lang.text("newhome_39")%></h5>
          <p><%= lang.text("newhome_40")%></p>
          <p><%= lang.text("newhome_41")%></p>
        </li>
      </ul>
      <!-- <div class="index_new__reliable-btn_box">
        <a href="/space/#/account/register" class="tw-btn tw-btn-lg200 tw-btn-capsule-bordered"><%= lang.text("newhome_29")%></a>
      </div> -->
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__client">
      <h3 class="index_new__client-title"><%= lang.text("newhome_42")%></h3>
      <p class="index_new__client-sub_tit"><%= lang.text("newhome_42_1")%></p>
      <% if (lang.currentLanguage() === 'en') {%>
        <img src="/white_label/home/client-map-en-en.png" alt="">
      <%} else {%>
        <img src="/white_label/home/client-map-cn-cn.png" alt="">
      <%}%>
    </div>
  </div>
  <div class="index_new__container">
    <div class="index_new__float_box">
      <div class="index_new__float clearfix">
        <div class="fl f">
          <h3><%= lang.text("newhome_43")%></h3>
          <p><%= lang.text("newhome_44")%></p>
          <p><%= lang.text("newhome_45")%></p>
        </div>
        <div class="fl b">

          <a href="<%= lang.showScheme('https://itunes.apple.com/app/id1091437876', lang.text('downloadGlobalIos')) %>"><img src="/white_label/home/<%= lang.showScheme('focus-icon-ios-en', 'focus-icon-ios-en', 'focus-icon-ios-cn', 'focus-icon-ios-cn') %>.png" alt=""></a>
          <a href="<%= lang.showScheme(lang.text('androidApp'), lang.text('downloadGlobalAndroid')) %>"><img src="/white_label/home/<%= lang.showScheme('focus-icon-cn-android-en', 'focus-icon-google-en', 'focus-icon-cn-android-cn', 'focus-icon-google-cn') %>.png" alt=""></a>
          <!-- <a href="/space/#/account/register" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient"><%= lang.text("newhome_46")%></a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="index_new__camber">

  </div>
</div>