<div class="about mg-200__bg">
    <div class="abouts_conter">
        <div class="center">
            <h3 class="mg-bt-30"><span><%= lang.text("abouttiger.about1")%></span></h3>
            <p><%= lang.text("abouttiger.about2")%></p>
            <p class="tip"><%= lang.text("abouttiger.about3")%></p>
            <p><%= lang.text("abouttiger.about4")%></p>
            <p><%= lang.text("abouttiger.about5")%></p>
    
        </div>
    </div>
    <div class="holderCircle">
        <div class="dotCircle">
            <span class="itemDot itemDot1" data-tab="1">
                <span><%= lang.text("abouttiger.about6")%></span> </span>
            <span class="itemDot itemDot2" data-tab="2">
                <span><%= lang.text("abouttiger.about7")%></span> </span>
            <span class="itemDot itemDot3" data-tab="3">
                <span><%= lang.text("abouttiger.about8")%></span> </span>
            <span class="itemDot itemDot4" data-tab="4">
                <span><%= lang.text("abouttiger.about9")%></span> </span>
            <span class="itemDot itemDot5" data-tab="5">
                <span><%= lang.text("abouttiger.about10")%></span> </span>
            <span class="itemDot itemDot6" data-tab="6">
                <span><%= lang.text("abouttiger.about11")%></span> </span>
            <span class="itemDot itemDot7" data-tab="7">
                <span><%= lang.text("abouttiger.about12")%></span> </span>
            <span class="itemDot itemDot8" data-tab="8">
                <span><%= lang.text("abouttiger.about13")%></span> </span>
            <span class="itemDot itemDot9" data-tab="9">
                <span><%= lang.text("abouttiger.about14")%></span> </span>
            <span class="itemDot itemDot10" data-tab="10">
                <span><%= lang.text("abouttiger.about15")%></span> </span>
        </div>
        <div class="contentCircle">
            <div class="CirItem active CirItem0">
                <p><img src="/white_label/aboutus/tigerwit.png" alt=""> </p>
            </div>
            <div class="CirItem CirItem1">
                <p>
                    <%= lang.text("abouttiger.about16")%><br>
                    <a href="/download"><%= lang.text("abouttiger.about30")%></a>
                </p>
            </div>
            <div class="CirItem CirItem2">
                <p>
                    <%= lang.text("abouttiger.about17")%><br>
                    <a href="https://www.tigerwit.com/index/" target="_blank"><%= lang.text("abouttiger.about30")%></a>
                </p>
            </div>
            <div class="CirItem CirItem3">
                <p>
                    <%= lang.text("abouttiger.about18")%><br>
                    <!-- <a href=""><%= lang.text("abouttiger.about30")%></a> -->
                </p>
            </div>
            <div class="CirItem CirItem4">
                <p>
                    <%= lang.text("abouttiger.about19")%>
                </p>
            </div>
            <div class="CirItem CirItem5">
                <p>
                    <%= lang.text("abouttiger.about20")%><br>
                    <%= lang.text("abouttiger.about21")%><br>
                    <%= lang.text("abouttiger.about22")%><br>
                    <a href="/web/aboutus/liverpool"><%= lang.text("abouttiger.about30")%></a>
                </p>
            </div>
            <div class="CirItem CirItem6">
                <p>
                    <%= lang.text("abouttiger.about23")%>    
                </p>
            </div>
            <div class="CirItem CirItem7">
                <p>
                    <%= lang.text("abouttiger.about24")%><br>
                    <%= lang.text("abouttiger.about25")%><br>
                    <%= lang.text("abouttiger.about26")%><br>
                    <a href="https://tech.tigerwit.com/home"><%= lang.text("abouttiger.about30")%></a>
                </p>
            </div>
            <div class="CirItem CirItem8">
                <p>
                    <%= lang.text("abouttiger.about27")%><br>
                    <a href="/web/product/forex"><%= lang.text("abouttiger.about30")%></a>
                </p>
            </div>
            <div class="CirItem CirItem9">
                <p>
                    <%= lang.text("abouttiger.about28")%>
                </p>
            </div>
            <div class="CirItem CirItem10">
                <p>
                    <%= lang.text("abouttiger.about28")%><br>
                    <a href="https://tech.tigerwit.com/home"><%= lang.text("abouttiger.about30")%></a>
                </p>
            </div>
        </div>
    </div>
</div>