<div class="liverpool">
    <div class="liverpool__centers">
        <div class="liverpool__centers-introduce">
            <h3><span>Win tickets to see Liverpool FC and enjoy</span><br><span>legendary hospitality courtesy of TigerWit</span><br><span>and Liverpool FC</span></h3>
            <p>As 'Official Forex Trading Partner' of Liverpool FC we are delighted to be able to invite our clients to</p>
            <p>Liverpool's historic Anfield stadium.</p>
            <p>For the latest news and competitions to win tickets, check back here and make sure to follow us on Facebook.</p>
            <p>We look forward to seeing you at Anfield very soon.</p>
        </div>

        <div class="liverpool__centers-compare clearfix">
            <div class="compare_conter">
                <div class="compare_tigerwit">
                <div class="img">
                    <div></div>
                </div>
                <div>
                    <p>
                    <span>“</span>&nbsp;&nbsp;&nbsp;&nbsp;Today is a proud day for TigerWit, we are launching our innovative blockchain-based trading app and partnering with Liverpool FC. TigerWit believes in a market that does not discriminate or play favourites. We have developed a pioneering blockchain-based settlement system that instills trust by delivering greater security and process efficiency. Trading should be, and can be, more transparent and fair for all traders, regardless of experience or the size of their account.<span>”</span>
                    </p>
                </div>
                <div class="signature">
                    <p>Tim Hughes</p>
                    <p>TigerWit CEO</p>
                </div>
                </div>

                <div class="compare_liverpool">
                <div class="img">
                    <div></div>
                </div>
                <div>
                    <p>
                    <span>“</span>&nbsp;&nbsp;&nbsp;&nbsp;As our official Online Foreign Exchange Trading Partner, we are very excited to develop our partnership with TigerWit. Liverpool FC has a large number of fans across the globe, particularly in TigerWit’s core markets in the UK, Europe and Asia. Through this new partnership with TigerWit, we look forward to marketing activations, which help bring our fans around the world even closer to the Club.<span>”</span>
                    </p>
                </div>
                <div class="signature">
                    <p>Billy Hogan</p>
                    <p>Managing Director and Chief</p>
                    <p>Commercial Officer,Liverpool FC</p>
                </div>
                </div>
            </div>
        </div>

        <div class="liverpool__visit">
            <img src="/images/web/liverpool-crest.png" alt="">
            <div class="liverpool__visit-btn">
                <a target="_blank" href="https://www.liverpoolfc.com/welcome-to-liverpool-fc">Visit Liverpool FC</a>
            </div>
        </div>

        <div class="liverpool__videoBox">
            <div>
                <video height="400" controls autobuffer poster="/images/web/liverpool-play.png">
                    <source src="https://static.tigerwitfx.com/downloads/static/video/FINAL_Trading_Evolved_30_Second_H264.mp4" type="video/mp4" />
                    <!-- <source src="my_video.ogv" type="video/ogg" />
                    <source src="my_video.webm" type="video/webm" /> -->
                    你浏览器不支持 video 功能，点击这里下载视频：<a href="https://static.tigerwitfx.com/downloads/static/video/FINAL_Trading_Evolved_30_Second_H264.mp4">下载视频</a>
                </video>
                <!-- <a href="https://www.youtube.com/watch?v=dCYLhHccYwY" target="_blank"><img src="/images/web/liverpool-play.png" alt=""></a> -->
            </div>
        </div>
    </div>
</div>