<div class="liverpool">
    <div class="liverpool__centers">
        <div class="liverpool__centers-introduce">
            <h3><span><%= lang.text("liverpool.liverpool1")%></span><br><span><%= lang.text("liverpool.liverpool2")%></span></h3>
            <p><%= lang.text("liverpool.liverpool3")%> </p>
            <p><%= lang.text("liverpool.liverpool4")%></p>
        </div>

        <div class="liverpool__centers-compare clearfix">
            <div class="compare_conter">
                <div class="compare_tigerwit">
                <div class="img">
                    <div></div>
                </div>
                <div>
                    <p>
                    <span>“</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("liverpool.liverpool5")%><span>”</span>
                    </p>
                </div>
                <div class="signature">
                    <p><%= lang.text("liverpool.liverpool6")%></p>
                    <p><%= lang.text("liverpool.liverpool7")%></p>
                </div>
                </div>

                <div class="compare_liverpool">
                <div class="img">
                    <div></div>
                </div>
                <div>
                    <p>
                    <span>“</span>&nbsp;&nbsp;&nbsp;&nbsp;<%= lang.text("liverpool.liverpool8")%><span>”</span>
                    </p>
                </div>
                <div class="signature">
                    <p><%= lang.text("liverpool.liverpool9")%></p>
                    <p><%= lang.text("liverpool.liverpool10")%></p>
                    <p><%= lang.text("liverpool.liverpool11")%></p>
                </div>
                </div>
            </div>
        </div>

        <div class="liverpool__visit">
            <img src="/images/web/liverpool-crest.png" alt="">
            <div class="liverpool__visit-btn">
                <a target="_blank" href="https://www.liverpoolfc.com/welcome-to-liverpool-fc"><%= lang.text("liverpool.liverpool12")%></a>
            </div>
        </div>

        <div class="liverpool__videoBox">
            <div>
                <video height="400" controls autobuffer poster="/images/web/liverpool-play.png">
                    <source src="https://static.tigerwitfx.com/downloads/static/video/FINAL_Trading_Evolved_30_Second_H264.mp4" type="video/mp4" />
                    <!-- <source src="my_video.ogv" type="video/ogg" />
                    <source src="my_video.webm" type="video/webm" /> -->
                    你浏览器不支持 video 功能，点击这里下载视频：<a href="https://static.tigerwitfx.com/downloads/static/video/FINAL_Trading_Evolved_30_Second_H264.mp4">下载视频</a>
                </video>
                <!-- <a href="https://www.youtube.com/watch?v=dCYLhHccYwY" target="_blank"><img src="/images/web/liverpool-play.png" alt=""></a> -->
            </div>
        </div>
    </div>
</div>