<div class="media-content">
    <h3>
        <span>Media enquiries</span>
    </h3>
    <p>For all media enquiries regarding TigerWit Limited, TigerWit Group and our sponsorship of Liverpool FC please contact
        us at
        <a href="mailto:media@tigerwit.com">media@tigerwit.com</a>
    </p>
    <h3>
        <span>Latest press releases</span>
    </h3>
    <div class="media-content__content_list">
        <div class="pubilc clearfix">
            <div>
                <ul>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-LFC-17.09.18-D.9.pdf" target="_blank">September 17, 2018 - TigerWit launches blockchain-based trading app and partners with Liverpool FC
                        </a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-Susquehanna-01.03.18-D.1.pdf" target="_blank">March 1, 2018 - Technology Investment Firm Susquehanna International Group Invests $5 Million
                            in TigerWit Group </a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-CEO-26.02.18-D.1.pdf" target="_blank">February 26, 2018 - Mercor Index Changes Name to TigerWit Limited and Appoints New CEO </a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-Mercor-11.01.18-D.1.pdf" target="_blank">January. 11, 2018 - TigerWit Acquires UK Based FCA-Regulated Retail Broker Mercor Index Ltd </a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-Bahamas-29.08.17-D.1.pdf" target="_blank">August 29, 2017 - TigerWit Secures Financial Services Licence from Securities Commission of The
                            Bahamas </a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-Growth-01.02.17-D.1.pdf" target="_blank">February 23, 2017 - TigerWit Group Sees Significant Growth and Plans Further Expansion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>