<div class="media-content mg-200__bg">
    <h3 class="mg-bt-30">
        <span><%= lang.text("medianewsandcontact.medianewsandcontact1")%></span>
    </h3>
    <p><%= lang.text("medianewsandcontact.medianewsandcontact2")%>
        <a href="mailto:media@tigerwit.com">media@tigerwit.com</a>
    </p>
    <h3>
        <span><%= lang.text("medianewsandcontact.medianewsandcontact3")%></span>
    </h3>
    <div class="media-content__content_list">
        <div class="pubilc clearfix">
            <div>
                <ul>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-LFC-17.09.18-D.9.pdf" target="_blank"><%= lang.text("medianewsandcontact.medianewsandcontactList1")%>
                        </a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-Susquehanna-01.03.18-D.1.pdf" target="_blank"><%= lang.text("medianewsandcontact.medianewsandcontactList2")%> </a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-CEO-26.02.18-D.1.pdf" target="_blank"><%= lang.text("medianewsandcontact.medianewsandcontactList3")%></a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-Mercor-11.01.18-D.1.pdf" target="_blank"><%= lang.text("medianewsandcontact.medianewsandcontactList4")%></a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-Bahamas-29.08.17-D.1.pdf" target="_blank"><%= lang.text("medianewsandcontact.medianewsandcontactList5")%></a>
                    </li>
                    <li>
                        <a href="/white_label/pdf/TW-UK-PR-Growth-01.02.17-D.1.pdf" target="_blank"><%= lang.text("medianewsandcontact.medianewsandcontactList6")%></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>