<ul class="side_navbar" tw-navbar>
    <li>
        <h4 class="side_navbar__title"><%= lang.text("navbar10")%></h4>

        <ul class="side_navbar__menu">
            <% if(lang.isEnglishArea()) { %> 
                <li>
                    <div class="h2"><a data-navbar-trigger href="/web/aboutus/abouttigerwit"><%= lang.text("navbar11")%></a></div>
                </li>
                <li>
                    <div class="h2"><a data-navbar-trigger href="/web/aboutus/liverpool">Liverpool FC</a></div>
                </li>
                <li>
                    <div class="h2"><a data-navbar-trigger href="/web/aboutus/medianewsandcontact">Media news and contact</a></div>
                </li>
            <% } else { %> 
                <li>
                    <div class="h2"><a data-navbar-trigger href="/web/aboutus/abouttigerwit"><%= lang.text("navbar11_f")%></a></div>
                </li>
                <li>
                    <div class="h2"><a data-navbar-trigger href="/web/aboutus/team"><%= lang.text("downloadApp.eliteTeam")%></a></div>
                </li>
                <li>
                    <div class="h2"><a data-navbar-trigger href="/web/aboutus/report"><%= lang.text("downloadApp.mediaReports")%></a></div>
                </li>
            <% } %>
        </ul>
    </li>
</ul>
