<div class="about-public mg-200__bg">
    <div class="sitemap">
        <h1 class="mg-200__circle-title pd-bt-20">
            <span>Sitemap</span>
        </h1>
        <ul class="sitemap__nav">
            <li>
                <div class="font-darkest font-normal font-size-22 h4">
                    <%= lang.text("navbar10")%>
                </div>

                <ul class="sitemap__nav-lst">
                    <% if(lang.isEnglishArea()) { %>
                    <li><a href="/web/aboutus/abouttigerwit"><%= lang.text("navbar11")%></a></li>
                    <li><a href="/web/aboutus/liverpool"><%= lang.text("liverpool.nav")%></a></li>
                    <li><a href="/web/aboutus/medianewsandcontact"><%= lang.text("medianewsandcontact.nav")%></a></li>
                    <% } else { %>
                    <li><a href="/web/aboutus/abouttigerwit"><%= lang.text("navbar10")%></a></li>
                    <% } %>
                </ul>
            </li>
            <li>
                <div class="font-darkest font-normal font-size-22 h4">
                    <%= lang.text("sidebar8")%>
                </div>
                <ul class="sitemap__nav-lst">
                    <li><a href="/forex-trading"><%= lang.text("navbar6")%></a></li>
                    <li><a href="/oil-trading"><%= lang.text("navbar7")%></a></li>
                    <li><a href="/glod-trading"><%= lang.text("navbar8")%></a></li>
                    <li><a href="/cfd-trading"><%= lang.text("navbar9")%></a></li>
                </ul>
            </li>
            <li>
                <div class="font-darkest font-normal font-size-22 h4">
                    <%= lang.text("navbar5")%>
                </div>
                <ul class="sitemap__nav-lst">
                    <li><a href="/ranklist/#/ranklist/masters"><%= lang.text("navbar2")%></a></li>
                    <li><a href="/web/agent/partner"><%= lang.text("downloadApp.partners")%></a></li>
                    <li><a href="/web/agent/become"><%= lang.text("downloadApp.becomeMaster")%></a></li>
                </ul>
            </li>
            <li>
                <div class="font-darkest font-normal font-size-22 h4">
                    <%= lang.text("foot1")%>
                </div>
                <ul class="sitemap__nav-lst">
                    <li><a href="/web/mt4"><%= lang.text("foot2")%></a></li>
                    <li><a href="/web/product/trade"><%= lang.text("foot3")%></a></li>
                    <li><a href="/download"><%= lang.text("navbar16")%></a></li>
                </ul>
            </li>
            <li>
                <div class="font-darkest font-normal font-size-22 h4">
                    <%= lang.text("header.education")%>
                </div>
                <ul class="sitemap__nav-lst">
                    <li><a href="/web/faq/real"><%= lang.text("faq")%></a></li>
                    <li><a href="/web/copy/rules"><%= lang.text("downloadApp.copyRegulations")%></a></li>
                    <% if(!lang.isEnglishArea()) { %> 
                    <li><a href="/web/copy/select"><%= lang.text("downloadApp.howChooseMaster")%></a></li>
                    <li><a href="/web/copy/comment"><%= lang.text("downloadApp.analysis")%></a></li>
                    <% } %>
                </ul>
            </li>
            <li>
                <div class="font-darkest font-normal font-size-22 h4">
                    <%= lang.text("amtExecution142")%>
                </div>
                <ul class="sitemap__nav-lst">
                    <li><a href="/web/blog/trade_fee"><%= lang.text("foot15")%></a></li>
                    <li><a href="/web/blog/agreement"><%= lang.text("foot7")%></a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>