<div class="footer-wrap">
    <div class="container">
        <div class="row mg-tp-50">
            <div class="col-xs-2">
                <p class="mg-bt-20">
                    <span>客户支持</span>
                </p>
                <ul>
                    <li>
                        <a href="">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;MT4下载
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;常见问题下载
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2">
                <p class="mg-bt-20">
                    <span>交易品种</span>
                </p>
                <ul>
                    <li>
                        <a href="">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;外汇
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;贵金属
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2">
                <p class="mg-bt-20">
                    <span>学习中心</span>
                </p>
                <ul>
                    <li>
                        <a href="">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;基础知识
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;学习视频
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2">
                <p class="mg-bt-20">
                    <span>市场合作</span>
                </p>
                <ul>
                    <li>
                        <a href="">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;媒体合作
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <p class="mg-bt-20">
                    <span>联系我们</span>
                </p>
                <ul>
                    <li>
                        <p>
                            <i class="fa fa-phone"></i>&nbsp;&nbsp;
                            <span>400 - 809 - 8509</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-envelope"></i>
                            &nbsp;support@tigerwit.com
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-map-marker"></i>
                            &nbsp;&nbsp;
                            <span>Level 15, 120 Albert Street, Auckland, 1010, New Zealand</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_con mg-tp-30">
            <p class="mg-bt-30">
                高风险投资警告:金融市场的保证金交易存在较高风险，不适合所有投资者，增大杠杆意味着高风险与高收益并存。在您决定交易前，应当谨慎考虑您的投资目标、投资经验及风险承受能力，并选择适合自己的投资方式；您需要知晓金融市场的保证金交易具有全部或部分亏损的可能。老虎金融交易平台为广大交易高手及普通投资者提供复制交易服务，网站发布的任何信息，包括实时交易提醒、投资文章及其他资源等均来自互联网所有用户需仔细考量并权衡投资风险及安全性。交易高手的历史交易数据不代表未来操作能力，用户因此所产生的任何风险需自己承担。
            </p>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p class="mg-tp-20 mg-bt-20">
            Copyright © 2014-2015 &nbsp;&nbsp;TigerWit Prime Limited &nbsp;&nbsp; 
            <span>www.tigerwit.com</span>
        </p>
    </div>
</div>

