<div class="footer-wrap">
    <div class="container">
        <div class="row mg-tp-50">
            <div class="col-xs-2">
                <p class="mg-bt-20">
                    <span><%= lang.text("foot1")%></span>
                </p>
                <ul>
                    <li>
                        <a href="/web/mt4">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;<%= lang.text("foot2")%>
                        </a>
                    </li>
                    <%if(lang.isCompany("tigerwit")){%>
                    <li>
                        <a href="/web/product/trade">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;<%= lang.text("foot3")%>
                        </a>
                    </li>
                    <%}%>
                </ul>
            </div>
            <div class="col-xs-2">
                <p class="mg-bt-20">
                    <span><%= lang.text("foot4")%></span>
                </p>
                <ul>
                    <li>
                        <a href="/study/introduction">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;<%= lang.text("foot5")%>
                        </a>
                    </li>
                    <li>
                        <a href="/web/faq/simulate">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;<%= lang.text("faq")%>
                        </a>
                    </li>
                    <%if(lang.isCompany("tigerwit")){%>
                    
                    <li>
                        <a href="/help/#/help/introduce">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;<%= lang.text("foot14")%>
                        </a>
                    </li>
                    <%}%>
                </ul>
            </div>
            <div class="<%= lang.text('foot13')%>">
                <p class="mg-bt-20">
                    <span><%= lang.text("foot7")%></span>
                </p>
                <ul>
                    <li>
                        <a href="/web/blog/risk">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;<%= lang.text("foot8")%>
                        </a>
                    </li>
                    <li>
                        <a href="/web/blog/statement">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;<%= lang.text("foot9")%>
                        </a>
                    </li>
                    <li>
                        <a href="/web/blog/notice">
                            <i class="fa fa-angle-right"></i>
                            &nbsp;<%= lang.text("foot10")%>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <p class="mg-bt-20">
                    <span class="font-light"><%= lang.text("foot11")%></span>
                </p>
                <ul>
                    <li>
                        <p>
                            <i class="fa fa-phone"></i>&nbsp;&nbsp;
                            <span>
                                <%=lang.text("telephone")%>
                            </span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-envelope"></i>
                            <%=lang.text("supportEmail")%>
                        </p>
                    </li>
                    <!-- <li>
                        <p>
                            <i class="fa fa-map-marker"></i>
                            &nbsp;&nbsp;
                            <span>Level 15, 120 Albert Street, Auckland, 1010, New Zealand</span>
                        </p>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="footer_con mg-tp-30">
            <p class="mg-bt-30">
                <%= lang.text("foot12")%>
            </p>
        </div>
    </div>
</div>

<%if(lang.isCompany("tigerwit")){%>
<!-- Live800Online operator icon:online service(in use)[Floating icon] Start-->
<script language="javascript">
    window.OpenChat = function () {
        var chatUrl = "http://chat8.live800.com/live800/chatClient/chatbox.jsp?companyID=371437&jid=2997261242";
        chatUrl += "&enterurl=" + encodeURIComponent(document.referrer || document.URL);
        chatUrl += "&t=" + new Date().getTime();
        try {
            window.open(chatUrl, "chatbox79482", "toolbar=0,scrollbars=0,location=0,menubar=0,resizable=1,width=570,height=424");
        } catch (e) {
            // browser blocked
            // do nothing;
        }
    }
</script>
<div style="position: fixed; padding: 5px; line-height: 20px; color: #fff; bottom: 40px; right: 10px;z-index: 8888;" <%= lang.text("navbar15")%>>
<span style="position: absolute;font-size: 20px;color: #000; cursor: pointer;" onclick="this.parentNode.style.display='none';">x</span>
<img src="https://chat8.live800.com/live800/SurferServer?cmd=111&amp;companyID=371437&amp;online=https%3A%2F%2Ficon.live800.com%2Ffileupload%2FCustomFileDownloadServer%3FcompanyID%3D371437%26fna%3D1433753733505371437&amp;offline=https%3A%2F%2Ficon.live800.com%2Ffileupload%2FCustomFileDownloadServer%3FcompanyID%3D371437%26fna%3D1433754373517371437&amp;tm=1434339880102"
     onclick="OpenChat();"
     border="0"  <%= lang.text("navbar15")%>>
</div>
<!-- Online operator icon:online service(in use) End-->
<%}%>


<!-- 友盟统计 2016.09.21 -->
<%if(lang.isCompany("tigerwit")){%>
<div style="display:none">
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1260394016'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260394016' type='text/javascript'%3E%3C/script%3E"));
    </script>

</div>
<%}%>
<!-- 友盟统计 pkds 2016.11.25 -->
<%if(lang.isCompany("pkds")){%>
<div style="display:none">
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1260871639'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1260871639' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<%}%>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?e2d8c88ce38a79186b7acc81d614806c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<noscript><img src="//stats.ipinyou.com/adv.gif?a=Hms..ZDXo82LhzxK1JTfTHaiAX0&e=" style="display:none;"/></noscript>
