<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="logo" href=""></a>
        </div>

        <ul class="nav navbar-nav">
            <li ng-class="{'active': stateCurrentName === 'personal.invest.type'}" >
                <a href="#/personal/invest/position">
                    {{i18nConfig.value['personalCenter'][i18nConfig.key]}}
                </a>
            </li>
            <li ng-class="{'active': stateCurrentName === 'personal.asset.type'}">
                <a href="#/personal/asset/deposit">
                    {{i18nConfig.value['depWith'][i18nConfig.key]}}
                </a>
            </li>
            <li ng-class="{'active': stateCurrentName === 'personal.bonus'}" ng-if="personal.master">
                <a href="#/personal/bonus">
                    我的分成
                </a>
            </li>

            <li ng-class="{'active': stateCurrentName === 'personal.invite'}">
                <a href="#/personal/invite">
                    邀请好友
                </a>
            </li>

            </li>

            <li ng-class="{'active': stateCurrentName === 'personal.setting'}">
                <a href="#/personal/setting?scroll=false">
                    账户设置
                </a>
            </li>
            <li ng-class="{'active': stateCurrentName === 'personal.notice.type'}">
                <a href="#/personal/notice/news">
                    消息
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="navbar_logout" href="" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    退出
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav">
            <li class="dropdown" tw-dropdown>

                <a class="nav_more_bar" href="">
                    <i class="fa fa-bars"></i>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a href="{{urlPrefix.main}}/master/list" target="_blank">
                            {{i18nConfig.value['rankingList'][i18nConfig.key]}}
                        </a>
                    </li>
                    <li>
                        <a href="{{urlPrefix.main}}/about/download" target="_blank">
                            {{i18nConfig.value['MT4Download'][i18nConfig.key]}}
                        </a>
                    </li>
                    <li>
                        <a href="{{urlPrefix.main}}/about/bonus?pid=116&unit=&key=" target="_blank">开户赠金</a>
                    </li>
                    <li>
                        <a href="{{urlPrefix.main}}/about/agent" target="_blank">代理加盟</a>
                    </li>
                    <li>
                        <a href="{{urlPrefix.main}}/about/us" target="_blank">
                            {{i18nConfig.value['aboutUs'][i18nConfig.key]}}
                        </a>
                    </li>
                    <li>
                        <a href="{{urlPrefix.main}}/about/faq" target="_blank">
                            {{i18nConfig.value['FAQ'][i18nConfig.key]}}
                        </a>
                    </li>
                    <li>
                        <a href="{{urlPrefix.main}}/safe" target="_blank">
                            {{i18nConfig.value['securityAssurance'][i18nConfig.key]}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
