<ul class="notice__list">
    <div tw-loading-img class="mg-bt-20"></div>
    <li class="notice__list-li" ng-repeat="notice in noticeList.trade">
        <div class="row">
            <div class="col-xs-12">
                <p class="notice__li-title">{{notice.title}}</p>
                <p class="notice__li-time font-size-12"> {{notice.created_at | dateFormatter }}</p>
                <p class="notice__li-info" ng-bind-html="formatText(notice.contentOmit, 'trade') | bindhtml">
                </p>
                <div ng-if="notice.content.length > 150 && notice.openOrClose == 'open'" class="text-right">
                    <a class="notice__open" href="" ng-click="openNotice(notice, 1)">{{lang.text('tigerWitID.unfold')}}</a>
                </div>
                <div ng-if="notice.content.length > 150 && notice.openOrClose == 'close'" class="text-right">
                    <a class="notice__close" href="" ng-click="openNotice(notice, 0)">{{lang.text('tigerWitID.fold')}}</a>
                </div>
            </div>
        </div>
    </li>
    <li class="notice__list-li text-center mg-bt-20" ng-if="noticeList.trade.length == 0">
        <img src="/images/no_news.png" alt="" class="mg-bt-40">
        <p>{{lang.text('tigerWitID.noRemember')}}</p> 
    </li>
</ul>
<div class="text-right notice__pager" ng-show="noticeList.trade.length > 0">
    <div tw-pagination></div>
</div>