<div ng-controller="SettingInfoPhoneController">
    <p class="pd-tp-20 pd-bt-30 setting_info_zero__list-title">
        <span class="line">{{lang.text('tigerWitID.settings.phoneNumberSettings')}}</span>
        <span>{{lang.text('tigerWitID.settings.boundPhoneXXX')}}</span>
        <span class="font-info">{{settingInfo.phone}}</span>
    </p>
    <div class="row setting_info_zero__list-input">
        <form name="phoneForm" novalidate autocomplete="off">
            <div class="col-xs-2">
                <div class="form-control-wrapper">
                    <div class="select">
                        <input class="select__input"
                                name="location"
                                type="text"
                                placeholder="{{lang.text('tigerWitID.areaCode')}}"
                                required
                                ng-model="phone.phone_code.key">
                        
                        <i class="select__icon fa fa-angle-down"></i>

                        <ul class="select__dropdown" twform-select data-bind-model="phone_test">
                            
                            <li ng-repeat="world in worlds" ng-class="{'selected': world.code === phone.phone_code.value}">
                                <span data-value="{{world.code}}" ng-click="selectWorld(world)">+{{world.phone_code}}({{world.name}})</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-control-wrapper">
                    <input class="form-control"
                           name="phoneNew"
                           type="text"
                           placeholder="{{lang.text('tigerWitID.settings.newPhoneNumber')}}"
                           required
                           ng-class="{'form-control-error': (frontErr.phoneNew.show && phoneForm.phoneNew.$invalid) || (backErr.phoneNew.show && backErr.phoneNew.status > 0)}"
                           ng-model="phone.phoneNew"
                           ng-pattern="frontErr.phoneNew.reg"
                           ng-focus="hideErr('phoneForm', 'phoneNew')"
                           ng-blur="showErr('phoneForm', 'phoneNew')">
        
                    <div ng-show="frontErr.phoneNew.show">
                        <p class="alert-arrow_tp_lf" ng-show="phoneForm.phoneNew.$error.required">
                            {{lang.text('tigerWitID.settings.enterNewPhoneNum')}}
                        </p>

                        <p class="alert-arrow_tp_lf" ng-show="phoneForm.phoneNew.$error.pattern">
                            {{lang.text('tigerWitID.settings.phoneNumNo')}}
                        </p>
                    </div>

                    <div ng-show="backErr.phoneNew.show">
                        <p class="alert-arrow_tp_lf" ng-show="backErr.phoneNew.status == 1">
                            {{lang.text('tigerWitID.settings.phoneNumberExists')}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="form-control-wrapper">
                    <input class="form-control" 
                           name="captcha" 
                           type="text"
                           placeholder="{{lang.text('tigerWitID.settings.verificationCode')}}"
                           required
                           ng-class="{'form-control-error': (frontErr.captcha.show && phoneForm.captcha.$invalid) || (backErr.captcha.show && backErr.captcha.status > 0)}"
                           ng-model="phone.captcha"
                           ng-focus="hideErr('phoneForm', 'captcha')"
                           ng-blur="showErr('phoneForm', 'captcha')">

                    <div ng-show="frontErr.captcha.show">
                        <p class="alert-arrow_tp_lf" ng-show="phoneForm.captcha.$error.required" ng-style="{padding: lang.isEnglish() ? '8px 7px' : ''}">
                            {{lang.text('tigerWitID.settings.enterVerificationCode')}}
                        </p>
                    </div>

                    <div ng-show="backErr.captcha.show">
                        <p class="alert-arrow_tp_lf" ng-show="backErr.captcha.status === 1">
                            {{lang.text('tigerWitID.settings.verificationCodeNo')}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 text-center">
                <div class="relative">
                    <div class="captcha_btn" 
                            tw-captcha-timer 
                            start-timer="startTimer" 
                            voice-captcha="voiceCaptcha" 
                            captcha-btn-clickable="clickable.captcha" 
                            ng-disabled="!clickable.captcha" 
                            ng-click="getCaptcha()">
                        {{lang.text('tigerWitID.settings.getVerificationCode')}}
                    </div>

                    <div ng-show="backErr.captchaBtn.show">
                        <p class="alert-arrow_tp_lf">
                            {{ backErr.captchaBtn.msg }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-2 text-right pd-lf-0">
                <button class="tw-btn tw-btn-md tw-btn-capsule-gradient mg-lf-0" type="submit" ng-if="clickable.submit" ng-click="submitForm('phoneForm')">
                    {{lang.text('tigerWitID.submit')}}
                </button>

                <button class="tw-btn tw-btn-md tw-btn-capsule-gradient mg-lf-0" ng-if="!clickable.submit">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.submitting')}}
                </button>
            </div>
        </form>
    </div>

    <div class="text-center" ng-show="backErr.system.show">
        <p class="alert-system" ng-show="backErr.system.status === 1">
            {{lang.text('tigerWitID.settings.phoneNumSetSucc')}}
        </p>
        <p class="alert-system" ng-show="backErr.system.status === 2">
            {{ backErr.system.msg || lang.text('tigerWitID.networkError') }}
        </p>
    </div>
</div>