<div ng-controller="SettingInfoBasicController" >
    <form name="basicInfoForm" novalidate>
        <div class="row">
            <div class="col-xs-2 pd-rg-0">
                <label for="">昵称</label>
            </div>
            
            <div class="col-xs-5">
                <div class="form-control-wrapper">
                    <input class="form-control"
                           name="username"
                           type="text"
                           placeholder="昵称"
                           required
                           ng-class="{'form-control-error': (frontErr.username.show && basicInfoForm.username.$invalid) || (backErr.username.show && backErr.username.status > 0)}"
                           ng-model="basicInfo.username"
                           twform-valid-txt
                           data-txt-type="username"
                           data-min-len="4"
                           data-max-len="16"
                           ng-blur="showErr('basicInfoForm', 'username')"
                           ng-focus="hideErr('basicInfoForm', 'username')">

                    <div ng-show="frontErr.username.show">
                        <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.username.$error.required">
                            请输入昵称
                        </p>
                        <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.username.$error.twformValidTxt">
                            {{frontErr.username.tip}}
                        </p>
                    </div>

                    <div ng-show="backErr.username.show">
                        <p class="alert alert-arrow_tp_lf" ng-show="backErr.username.status == 1">
                            昵称已存在
                        </p>

                        <p class="alert alert-arrow_tp_lf" ng-show="backErr.username.status == 2">
                            昵称包含敏感词汇，请修改
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2 pd-rg-0">
                <label for="">所在地</label>
            </div>

            <div class="col-xs-5">
                <div class="form-control-wrapper">
                    <div class="select">
                        <input class="select__input"
                               name="locationWorld"
                               type="text"
                               placeholder="请选择国家"
                               required
                               ng-model="basicInfo.locationWorld.key"
                               ng-class="{'form-control-error': frontErr.locationWorld.show && basicInfoForm.locationWorld.$invalid}"
                               ng-blur="showErr('basicInfoForm', 'locationWorld')"
                               ng-focus="hideErr('basicInfoForm', 'locationWorld')">
                        
                        <i class="select__icon fa fa-angle-down"></i>

                        <ul class="select__dropdown" twform-select data-bind-model="basicInfo.locationWorld">
                            
                            <li ng-repeat="world in worlds" ng-class="{'selected': world.code === basicInfo.locationWorld.value}">
                                <span data-value="{{world.code}}" ng-click="selectRegion('world', world.code)">{{world.name_cn}}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div ng-show="frontErr.locationWorld.show">
                        <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.locationWorld.$error.required">
                            请选择国家
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="basicInfo.locationWorld.value == 'CN'">
            <div class="col-xs-2 pd-rg-0">
                
            </div>
            <div class="col-xs-5">
                <div class="form-control-wrapper">
                    <div class="select">
                        <input class="select__input"
                               name="locationState"
                               type="text"
                               placeholder="请选择省/市"
                               required
                               ng-model="basicInfo.locationState.key"
                               ng-class="{'form-control-error': frontErr.locationState.show && basicInfoForm.locationState.$invalid}"
                               ng-blur="showErr('basicInfoForm', 'locationState')"
                               ng-focus="hideErr('basicInfoForm', 'locationState')">
                        
                        <i class="select__icon fa fa-angle-down"></i>

                        <ul class="select__dropdown" twform-select data-bind-model="basicInfo.locationState">
                            
                            <li ng-repeat="state in states" ng-class="{'selected': state.code === basicInfo.locationState.value}">
                                <span data-value="{{state.code}}" ng-click="selectRegion('state', state.code)">{{state.name_cn}}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div ng-show="frontErr.locationState.show">
                        <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.locationState.$error.required">
                            请选择省/市
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-5">
                <div class="form-control-wrapper">
                    <div class="select">
                        <input class="select__input"
                               name="locationCity"
                               type="text"
                               placeholder="请选择市/区"
                               required
                               ng-model="basicInfo.locationCity.key"
                               ng-class="{'form-control-error': frontErr.locationCity.show && basicInfoForm.locationCity.$invalid}"
                               ng-blur="showErr('basicInfoForm', 'locationCity')"
                               ng-focus="hideErr('basicInfoForm', 'locationCity')">
                        
                        <i class="select__icon fa fa-angle-down"></i>

                        <ul class="select__dropdown" twform-select data-bind-model="basicInfo.locationCity">
                            
                            <li ng-repeat="city in cities" ng-class="{'selected': city.code === basicInfo.locationCity.value}">
                                <span data-value="{{city.code}}">{{city.name_cn}}</span>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="frontErr.locationCity.show">
                        <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.locationCity.$error.required">
                            请选择市/区
                        </p>
                    </div>
                </div>
            </div>   
        </div>

        <div class="row">
            <div class="col-xs-2 pd-rg-0">
                <label for="">交易特色</label>
            </div>
            <div class="col-xs-5">
                <div class="form-control-wrapper">
                    <div class="select">
                        <input class="select__input"
                               name="special"
                               type="text"
                               placeholder="请选择"
                               required
                               ng-model="basicInfo.special.key"
                               ng-class="{'form-control-error': frontErr.special.show && basicInfoForm.special.$invalid}"
                               ng-blur="showErr('basicInfoForm', 'special')"
                               ng-focus="hideErr('basicInfoForm', 'special')">
                        
                        <i class="select__icon fa fa-angle-down"></i>

                        <ul class="select__dropdown" twform-select data-bind-model="basicInfo.special">
                            
                            <li ng-repeat="special in specials" ng-class="{'selected': special.value === basicInfo.special.value}">
                                <span data-value="{{special.value}}">{{special.key}}</span>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="frontErr.special.show">
                        <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.special.$error.required">
                            请选择交易特色
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-2 pd-rg-0">
                <label for="">交易策略</label>
            </div>
            <div class="col-xs-8">
                <div class="editbox">
                    <textarea class="editbox__textarea"
                              name="strategy"
                              ng-class="{'editbox__textarea-error': (frontErr.strategy.show && basicInfoForm.strategy.$invalid) || (backErr.strategy.show && backErr.strategy.status > 0)}"
                              ng-model="basicInfo.strategy"
                              twform-editbox
                              data-words-limit="1000"
                              data-words="strategy.words"
                              ng-focus="hideErr('basicInfoForm', 'strategy')"
                              ng-blur="showErr('basicInfoForm', 'strategy')"></textarea>

                    <span class="editbox__words_limit">
                        {{ strategy.words }}/1000 字符
                    </span>
                    
                    <div ng-show="frontErr.strategy.show">
                        <p class="alert-arrow_tp_lf" ng-show="basicInfoForm.strategy.$error.twformEditbox">
                            超出字符数限制
                        </p>
                    </div>

                    <div ng-show="backErr.strategy.show">
                        <p class="alert-arrow_tp_lf" ng-show="backErr.strategy.status === 1">
                            包含敏感词汇，请修改
                        </p>
                    </div>          
                </div>
            </div>
        </div>    

        <div class="row">
            <div class="col-xs-2 pd-rg-0">
                <label for="">更多介绍</label>
            </div>
            <div class="col-xs-8">
                <div class="editbox">
                    <textarea class="editbox__textarea"
                              name="desc"
                              ng-class="{'editbox__textarea-error': (frontErr.desc.show && basicInfoForm.desc.$invalid) || (backErr.desc.show && backErr.desc.status > 0)}"
                              ng-model="basicInfo.desc"
                              twform-editbox
                              data-words-limit="1000"
                              data-words="desc.words"
                              ng-focus="hideErr('basicInfoForm', 'desc')"
                              ng-blur="showErr('basicInfoForm', 'desc')"></textarea>

                    <span class="editbox__words_limit">
                        {{ desc.words }}/1000 字符
                    </span>
                    <div ng-show="frontErr.desc.show">
                        <p class="alert-arrow_tp_lf" ng-show="basicInfoForm.desc.$error.twformEditbox">
                            超出字符数限制
                        </p>
                    </div>

                    <div ng-show="backErr.desc.show">
                        <p class="alert-arrow_tp_lf" ng-show="backErr.desc.status === 1">
                            包含敏感词汇，请修改
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mg-bt-20 mg-tp-20">
            <div ng-show="backErr.system.show">
                <p class="alert-system" ng-show="backErr.system.status === 1">
                    保存成功
                </p>
                <p class="alert-system" ng-show="backErr.system.status === 2">
                    登录超时
                </p>
            </div>
            
            <button class="btn btn-primary btn-sm" type="submit" ng-if="clickable" ng-click="submitForm('basicInfoForm')">
                提交
            </button>

            <button class="btn btn-primary btn-sm" disabled ng-if="!clickable">
                <i class="loading_spinner fa fa-spinner"></i>
                提交中
            </button>
        </div>
    </form>
</div>