<div ng-controller="SettingInfoBasicController">
    <form name="basicInfoForm" novalidate autocomplete="off">
        
        <!-- <div class="row" ng-if="basicInfo.locationWorld.value == 'CN'">
            <div class="col-xs-2 pd-rg-0">
                <label for="">所在地</label>
            </div>
            <div class="col-xs-5">
                <div class="form-control-wrapper">
                    <div class="select">
                        <input class="select__input"
                               name="locationState"
                               type="text"
                               placeholder="省/市"
                               required
                                readonly
                               ng-model="basicInfo.locationState.key"
                               ng-class="{'form-control-error': frontErr.locationState.show && basicInfoForm.locationState.$invalid}"
                               ng-blur="showErr('basicInfoForm', 'locationState')"
                               ng-focus="hideErr('basicInfoForm', 'locationState')">
                        
                        <i class="select__icon fa fa-angle-down"></i>

                        <ul class="select__dropdown" twform-select data-bind-model="basicInfo.locationState">
                            
                            <li ng-repeat="state in states" ng-class="{'selected': state.code === basicInfo.locationState.value}">
                                <span data-value="{{state.code}}" ng-click="selectRegion('state', state.code)">{{state.name_cn}}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div ng-show="frontErr.locationState.show">
                        <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.locationState.$error.required">
                            {{lang.text('tigerWitID.settings.selectProvincesCities')}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-5">
                <div class="form-control-wrapper">
                    <div class="select">
                        <input class="select__input"
                               name="locationCity"
                               type="text"
                               placeholder="市/区"
                               required
                                readonly
                               ng-model="basicInfo.locationCity.key"
                               ng-class="{'form-control-error': frontErr.locationCity.show && basicInfoForm.locationCity.$invalid}"
                               ng-blur="showErr('basicInfoForm', 'locationCity')"
                               ng-focus="hideErr('basicInfoForm', 'locationCity')">
                        
                        <i class="select__icon fa fa-angle-down"></i>

                        <ul class="select__dropdown" twform-select data-bind-model="basicInfo.locationCity">
                            
                            <li ng-repeat="city in cities" ng-class="{'selected': city.code === basicInfo.locationCity.value}">
                                <span data-value="{{city.code}}">{{city.name_cn}}</span>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="frontErr.locationCity.show">
                        <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.locationCity.$error.required">
                            {{lang.text('tigerWitID.settings.selectCityDistrict')}}
                        </p>
                    </div>
                </div>
            </div>   
        </div> -->
        <div class="setting_info_zero__name-center">
            <div class="setting_info_zero__name-item item-center">
                <div class="name-input">
                    <label for="" class="stress">{{lang.text('tigerWitID.settings.userNameM')}}</label>
                </div>
                
                <div class="value-input">
                    <div class="form-control-wrapper item-center" ng-if="!isEditName">
                        <div class="select">
                            {{ basicInfo.username }}
                        </div>
                        <div class="edit" ng-click="editName('cn')" ng-if="!personal.has_master">
                            {{lang.text('tigerWitID.edit')}}
                        </div>
                    </div>
                    <div class="form-control-wrapper" ng-if="isEditName">
                        <input class="form-control"
                                name="username"
                                type="text"
                                placeholder="{{lang.text('tigerWitID.settings.userName')}}"
                                required
                                ng-class="{'form-control-error': frontErr.username.show && basicInfoForm.username.$invalid}"
                                ng-model="basicInfo.username"
                                twform-valid-txt
                                data-txt-type="username"
                                data-min-len="4"
                                data-max-len="16"
                                ng-blur="showErr('basicInfoForm', 'username')"
                                ng-focus="hideErr('basicInfoForm', 'username')">

                        <div ng-show="frontErr.username.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.username.$error.required">
                                {{lang.text('tigerWitID.settings.enterUsername')}}
                            </p>
                            <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.username.$error.twformValidTxt">
                                {{frontErr.username.tip}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="setting_info_zero__name-item item-center">
                <div class="name-input">
                    <label for="" class="stress">{{lang.text('tigerWitID.settings.userNameEnM')}}</label>
                </div>
                
                <div class="value-input">
                    <div class="form-control-wrapper item-center" ng-if="!isEditNameEn">
                        <div class="select">
                            {{ basicInfo.username_en }}
                        </div>
                        <div class="edit" ng-click="editName('en')">
                            {{lang.text('tigerWitID.edit')}}
                        </div>
                    </div>
                    <div class="form-control-wrapper" ng-if="isEditNameEn">
                        <input class="form-control"
                                name="username_en"
                                type="text"
                                placeholder="{{lang.text('tigerWitID.settings.userNameEn')}}"
                                required
                                ng-class="{'form-control-error': frontErr.username_en.show && basicInfoForm.username_en.$invalid}"
                                ng-model="basicInfo.username_en"
                                twform-valid-txt
                                data-txt-type="username_en"
                                data-min-len="2"
                                data-max-len="18"
                                ng-blur="showErr('basicInfoForm', 'username_en')"
                                ng-focus="hideErr('basicInfoForm', 'username_en')">

                        <div ng-show="frontErr.username_en.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.username_en.$error.required">
                                {{lang.text('tigerWitID.settings.enterUsername')}}
                            </p>
                            <p class="alert alert-arrow_tp_lf" ng-show="basicInfoForm.username_en.$error.twformValidTxt">
                                {{frontErr.username_en.tip}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="setting_info_zero__name-item  item-center">
                <div class="name-input">
                    <label for="">{{lang.text('tigerWitID.settings.countryM')}}</label>
                </div>
                <div class="value-input">
                    <div class="form-control-wrapper">
                        <div class="select">
                            <!-- <input class="form-control disabled"
                                name="locationState"
                                type="text"
                                placeholder="{{lang.text('tigerWitID.settings.country')}}"
                                disabled
                                required
                                ng-model="personal.region.world_name"
                            > -->
                            {{ personal.region.world_name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mg-bt-30 mg-tp-70" ng-if="isEditName">
            <div ng-show="backErr.system.show">
                <p class="alert-system">
                    {{ backErr.system.msg }}
                </p>
            </div>
            
            <button class="tw-btn-lg162 tw-btn-capsule-gradient" type="submit" ng-if="clickable" ng-click="submitForm('basicInfoForm')">
                {{lang.text('tigerWitID.submit')}}
            </button>

            <button class="tw-btn-lg162 tw-btn-capsule-gradient" disabled ng-if="!clickable">
                <i class="loading_spinner fa fa-spinner"></i>
                {{lang.text('tigerWitID.submitting')}}
            </button>
        </div>

        <div class="text-center mg-bt-30 mg-tp-70" ng-if="isEditNameEn">
                <div ng-show="backErr.system.show">
                    <p class="alert-system">
                        {{ backErr.system.msg }}
                    </p>
                </div>
                
                <button class="tw-btn-lg162 tw-btn-capsule-gradient" type="submit" ng-if="clickable" ng-click="submitEnNameForm('basicInfoForm')">
                    {{lang.text('tigerWitID.submit')}}
                </button>
    
                <button class="tw-btn-lg162 tw-btn-capsule-gradient" disabled ng-if="!clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.submitting')}}
                </button>
            </div>
    </form>
</div>