<div class="setting_pnl">
    <div class="navbar_summary">
        <h5 class="navbar_summary__title">基本资料</h5>
        <div class="navbar_summary__content">
            <div class="row mg-tp-20">
                <div class="col-xs-9">
                    <div ng-include="'/views/setting/info-basic.html'"></div>
                </div>
                
                
                <div class="col-xs-3">
                    <div ng-include="'/views/setting/info-avatar.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
