<!-- 
<div class="navbar_summary">
    <h5 class="navbar_summary__title">密码管理</h5> -->
    <div class="setting_info_zero__list pd-bt-20">
        <div ng-include="'/views/setting/info-pwd.html'"></div>
    </div>
<!-- </div> -->
<!-- 
<div class="navbar_summary">
    <h5 class="navbar_summary__title">手机号码设置</h5> -->
    <div class="setting_info_zero__list pd-bt-20">
        <div ng-include="'/views/setting/info-phone.html'"></div>
    </div>
<!-- </div> -->
<!-- 
<div class="navbar_summary">
    <h5 class="navbar_summary__title">电子邮箱管理</h5> -->
    <div class="setting_info_zero__list pd-bt-20 not-bt-border">
        <div ng-include="'/views/setting/info-email.html'"></div>
    </div>
<!-- </div> -->