<div class="verify" ng-controller="SettingVerifyController">
    <h3 class="verify__title">填写真实姓名</h3>
    <form name="verifyForm" novalidate>
        <div class="form-control-wrapper">
            <input class="form-control"
                   name="realname"
                   type="text"
                   placeholder="真实姓名"
                   required
                   ng-class="{'form-control-error': frontErr.realname.show && verifyForm.realname.$invalid}"
                   ng-model="verification.realname"
                   ng-pattern="frontErr.realname.reg"
                   ng-blur="showErr('verifyForm', 'realname')"
                   ng-focus="hideErr('verifyForm', 'realname')">

            <div ng-show="frontErr.realname.show">
                <p class="alert-arrow_tp_lf" ng-show="verifyForm.realname.$error.required">
                    请输入真实姓名
                </p>
                <p class="alert-arrow_tp_lf" ng-show="verifyForm.realname.$error.pattern">
                    真实姓名由 2-20 个汉字以及 . 号组成
                </p>
            </div>
        </div>
    </form>
    
    <h3 class="verify__title">上传证件照片</h3>
    <div class="upload_id_card">
        <div class="row">
            <div class="col-xs-6">
                <div class="upload_id_card__front" tw-upload-image>
                    <i class="upload_id_card__icon fa fa-camera"></i>
                    <h2 class="upload_id_card__title">
                        点击上传证件正面
                    </h2>
                    <input class="upload_id_card__input"
                           name="file"
                           type="file"
                           accept="image/jpeg,image/png"
                           data-face="front">
                </div>

                <div class="upload_id_card__tip">
                    <p class="alert" ng-if="verification.id.frontImgStatus === 0 && frontErr.idFrontImg.show">
                        请上传证件正面
                    </p>
                    <p class="alert" ng-if="verification.id.frontImgStatus === 1">
                        正在上传......
                    </p>
                    <p class="alert" ng-if="verification.id.frontImgStatus === 2">
                        上传成功
                    </p>
                    <p class="alert" ng-if="verification.id.frontImgStatus === 3">
                        上传失败！请上传小于 2MB 的图片
                    </p>
                </div>    
            </div>
            
            <div class="col-xs-6">
                <div class="upload_id_card__back" tw-upload-image>
                    <i class="upload_id_card__icon fa fa-camera"></i>
                    <h2 class="upload_id_card__title">
                        点击上传证件反面
                    </h2>
                    <input class="upload_id_card__input"
                           name="file"
                           type="file"
                           accept="image/jpeg,image/png"
                           data-face="back">
                </div>

                <div class="upload_id_card__tip">
                    <p class="alert" ng-if="verification.id.backImgStatus === 0 && frontErr.idBackImg.show">
                        请上传证件背面
                    </p>
                    <p class="alert" ng-if="verification.id.backImgStatus === 1">
                        正在上传......
                    </p>
                    <p class="alert" ng-if="verification.id.backImgStatus === 2">
                        上传成功
                    </p>
                    <p class="alert" ng-if="verification.id.backImgStatus === 3">
                        上传失败！请上传小于 2MB 的图片
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center mg-tp-15 font-dark">
        目前只支持 png、jpg 格式，大小控制在 2MB 之内
    </p>

    <p class="text-center mg-tp-50">
        <button class="btn btn-sm btn-primary" ng-if="clickable.submit" ng-click="submitForm()">
            提交
        </button>

        <button class="btn btn-lg btn-primary" ng-if="!clickable.submit">
            <i class="loading fa fa-spinner"></i>
            提交中
        </button>

        <button class="btn btn-sm btn-info mg-lf-25">跳过</button>
    </p>
</div>