.bd_forgive_body {
  .layui-m-layercont {
    padding: 0;
  }
}
.bd_forgive_layout {
  background: #fff;
  min-height: 100%;
  padding-bottom: 2rem;
}
.forgive_box {
  width: 80%;
  margin: 0 auto;
  .forgive_imgs {
    margin-top: px2rem(50);
    width: 100%;
    transition: all 0.66s ease;
    transform: translateY(38px) translateX(5px);
    &.active {
      transform: translateY(0px) translateX(0px);
    }
  }
}

.forgive_layer_skin {
  background: transparent!important;
  box-shadow: none!important;
  overflow: hidden!important;
}

.forgiveLayer {
  position: relative;
  width: 18rem;
  height: 6rem;
  &.detail {
    height: 29rem;
  }
  .deposit-btn {
    display: none;
  }
  img{
    display: inline-block;
    position: absolute;
  }
  &.nofit {
    .msg {
      position: absolute;
      background: url(/images/bd_forgive/nofit_bg.png) no-repeat;
      background-size: 100%;
      width: 100%;
      height: 5rem;
      line-height: 4.5rem;
      font-weight: 800;
      font-size: 1rem;
      font-family: 'FontLive';
    }
  }
  .call-waiter {
    display: inline-block;
    background: url('/images/bd_forgive/waiter.png') center center no-repeat;
    background-size: 100%;
    height: 2rem;
    position: absolute;
  }
  .bg{
    width: 100%;
    top: 0;
    left: 0;
  }
  .btn-down {
    bottom: -10%;
    width: 7rem;
    cursor: pointer;
  }
  .btn-left {
    left: 10%;
  }
  .btn-right {
    right: 8%;
  }
  .btn-center {
    left: 30%;
    bottom: 2%;
  }
}