<div class="copy_rules mg-200__bg">
    <h3 class="mg-200__circle-title pd-bt-20">
        <%= lang.text("copyRule1")%>
    </h3>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("copyRule2")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("copyRule2_1")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("copyRule2_2")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("copyRule2_3")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("copyRule3")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("copyRule4")%><br>
        <span class="font-info">
            <%= lang.text("copyRule5")%>
        </span>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("copyRule6")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("copyRule7")%><br>
        <span class="font-info">
            <%= lang.text("copyRule8")%>
        </span>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule9")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule10")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule11")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule12")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("copyRule13")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail">
        <%= lang.text("copyRule14")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule15")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule16")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule17")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule18")%>
    </p>
    <h4>
        <span class="copy_rules__star"></span>
        <span class="copy_rules__tip">
            <%= lang.text("copyRule19")%>
        </span>
    </h4>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule20")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule21")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule22")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule23")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule24")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-20"><%= lang.text("copyRule25")%> <a href="tel:<%= lang.text('telephone')%></a>"><%= lang.text("telephone")%></a> <%= lang.text("copyRule26")%></p>
</div>
