<div class="copy_rules mg-200__bg">
    <h3 class="mg-200__circle-title pd-bt-30">
        <%= lang.text("copyRule1")%>
    </h3>
    <p class="mg-200__circle">
        <span class="font-darker">
            <%= lang.text("copyRule2M")%>
        </span>
        <%= lang.text("copyRule2_1")%>
    </p>
    <p class="mg-200__circle mg-tp-20">
        <span class="font-darker">
            <%= lang.text("copyRule2_2M")%>
        </span>
        <%= lang.text("copyRule2_3")%>
    </p>
    <p class="mg-200__circle mg-tp-20">
        <span class="font-darker">
            <%= lang.text("copyRule3M")%>
        </span>
        <%= lang.text("copyRule4")%><br>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <span class="font-info">
            <%= lang.text("copyRule5")%>
        </span>
    </p>
    <p class="mg-200__circle mg-tp-20">
        <span class="font-darker">
            <%= lang.text("copyRule6")%>
        </span>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule7")%>
        <span class="font-info">
            <%= lang.text("copyRule8")%>
        </span>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule9")%>
        <%= lang.text("copyRule10")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule11")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule12")%>
    </p>
    <p class="mg-200__circle mg-tp-20">
        <span class="font-darker">
            <%= lang.text("copyRule13")%>
        </span>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule14")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule15")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule16")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule17")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule18")%>
    </p>
    <p class="mg-200__circle mg-tp-20">
        <span class="font-darker">
            <%= lang.text("copyRule19")%>
        </span>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule20")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule21")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule22")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-10">
        <%= lang.text("copyRule23")%>
    </p>
    <p class="copy_rules__tip-detail mg-tp-30">
        <%= lang.text("copyRule24")%>
    </p>
    <p class="copy_rules__tip-detail"><%= lang.text("copyRule25")%> <a class="font-info" href="mailto:<%= lang.text("supportEmail")%>"><%= lang.text("supportEmail")%></a><%= lang.text("copyRule26")%></p>
</div>
