<ul class="side_navbar" tw-navbar>
    <li>
        <h4 class="side_navbar__title"><%= lang.text("downloadApp.guides")%></h4>
        
        <ul class="side_navbar__menu">
            <li>
                <h2><a data-navbar-trigger href="/web/copy/rules"><%= lang.text("downloadApp.copyRegulations")%></a></h2>
            </li>
            <li>
                <h2><a data-navbar-trigger href="/web/copy/select"><%= lang.text("downloadApp.howChooseMaster")%>？</a></h2>
            </li>
            
            <li>
                <h2><a data-navbar-trigger href="/web/copy/comment"><%= lang.text("downloadApp.analysis")%></a></h2>
            </li>
            <li>
                <h2><a data-navbar-trigger href="/web/copy/calendar"><%= lang.text("downloadApp.calendar")%></a></h2>
            </li>
        </ul>
    </li>
</ul>