.test {
    width: 100px;
    height: 100px;
    background-size: 100%;
    @include img-normal($image-path-base + "test.png");

    &.en {
        @include img-normal($image-path-base + "test-en.png");        
    }
}


@include b(about-public) {
    color: $gray-darker;

    @include e(stp-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "stp-banner.jpg");
    }

    @include e(control-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "control-banner.jpg");
    }

    @include e(team-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "team-banner-new.jpg");
    }

    @include e(tigerwit-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "tigerwit-banner.jpg");
    }

        @include e(report-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "report-banner.jpg");
    }

    @include e(con) {
        
    }
    .team-name {
        margin: 0px;
    }

}

// stp
@include b(stp) {
    padding: 20px 15px;
    text-align: center !important;

    @include e(black) {
        height: 60px;
        background-color: $gray-base;
        border-radius: 10px;
        line-height: 60px;
        font-size: 20px;
        text-align: center;
        color: $brand-primary;
    }

    @include e(arrows1) {
        margin-top: 10px;
        display: inline-block;
        width: 121px;
        height: 71px;
        background-size: 100%;
        @include img-normal($image-path-web + "stp-two-arrows.jpg");

    } 

    @include e(arrows2) {
        margin-top: 10px;
        display: inline-block;
        width: 99px;
        height: 139px;
        background-size: 100%;
        padding-top: 55px;
        color: #fedd0a;
        font-size: 20px;
        @include img-normal($image-path-web + "stp-arrows.png");

    } 

    @include e(width-50) {
        margin-left: 25%;
        margin-top: 5px;
        width: 50%;
    }

    @include e(mt4) {
        margin: 0 100px;
        padding: 20px 100px;
        border: 2px dashed $gray-base;
        border-radius: 10px;
    }

    @include e(tip1) {
        position: absolute;
        left: 15px;
        font-weight: bold;
        font-size: 30px;
        line-height: 60px;
        color: $gray-base;
    }

    @include e(tip2) {
        position: absolute;
        right: 120px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 30px;
        line-height: 60px;
        color: $gray-base;
    }

    @include e(tip3) {
        margin-left: -15px;
        margin-right: -15px;
        font-weight: bold;
        font-size: 30px;
        line-height: 60px;
        color: $gray-base;
    }
}

// team
@include b(team) {
    @include e(photo-y) {
        width: 161px;
        height: 231px;
        background-size: 100%;
        @include img-normal($image-path-web + "team-yang.jpg");
        
    }

    @include e(photo-li) {
        width: 161px;
        height: 225px;
        background-size: 100%;
        @include img-normal($image-path-web + "team-lipeng.jpg");
        
    }

    @include e(line) {
        border-bottom: 1px solid $gray;
    }

    .col-xs-8 {
        p {
            line-height: 20px;
            letter-spacing: 1px;
        }
    }

    .mg-lf-_40 {
        margin-left: -40px;
    }
}

// tigerwit
@include b(tigerwit) {
    @include e(con1) {
        margin-left: 75px;
        height: 331px;
        width: 616px;
        text-align: center;
        background-size: 100%;
        @include img-normal($image-path-web + "tigerwit-con1.jpg");
    }
    @include e(con2) {
        width: 100%;
        padding-top: 20px;
        text-align: center;

        > img {
            width: 90%;
        }
    }        
}

// report
@include b(report) {
    margin-top: 30px;

    > table > tbody > tr {
        border-bottom: 1px solid #eee;

        > td:first-child {
            padding-left: 30px;
            text-align: left;
        }
    }
    
    @include e(title) {
        color: $gray-base;

        &:hover {
            color: $brand-info;
            text-decoration: underline;
        }
    }
}
// liverpool
@include b(liverpool) {
    @include img-normal($image-path-web + "liverpool-bg.jpg");
    width: 100%;
    height: 100%;
    @include e(centers) {
      width: 1012px;
      margin: 0 auto;
      padding-top: 150px;
        @include m(introduce) {
            h3 {
            font-size: 34px;
            color: #ffffff;
            margin-bottom: 28px;
            span {
                background-color: #212934;
                padding: 0px 10px;
            }
            }
            p {
            font-size: 16px;
            color: #ffffff;
            }
        }
        @include m(compare) {
            margin: 50px 0 0;
            width: 100%;
            height: 700px;
            background: #ffffff;
            border-radius: 10px 10px 0 0;
            position: relative;
            .compare_conter {
                width: 880px;
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                .compare_tigerwit, .compare_liverpool {
                    float: left;
                    width: 420px;
                    height: 500px;
                    border-radius: 10px;
                    margin-left: 20px;
                    padding: 0 20px;
                    p {
                        font-size: 18px;
                        position: relative;
                        span {
                            font-size: 50px;
                            position: absolute;
                            line-height: 40px;
                        }
                    }
                    .img {
                        width: 150px;
                        height: 150px;
                        border-radius: 30%;
                        background: #ffffff;
                        margin: -75px auto 0;
                        div {
                        width: 150px;
                        height: 150px;
                        background-repeat: no-repeat;
                        }
                    }
                    .signature {
                        margin-top: 40px;
                        p {
                        font-size: 22px;
                        font-weight: 800;
                        text-align: right;
                        }
                    }
                }
                .compare_tigerwit {
                    border: 2px solid #ffd521;
                    .img {
                        div {
                            @include img-normal($image-path-web + "liverpool-logo1.png");
                            background-size: 150px;
                            background-position: center;
                        }
                    }
                }
                .compare_liverpool {
                    border: 2px solid #da1f0f;
                    .img {
                        div {
                            @include img-normal($image-path-web + "liverpool-logo2.png");
                            background-size: 100px;
                            background-position: 25px;
                        }
                    }
                }
            }
        }
    }
    @include e(visit) {
        width: 100%;
        padding: 50px 0 20px;
        text-align: center;
            @include img-normal($image-path-web + "liverpool-xiaotu.png");
            @include m(btn) {
                width: 240px;
                line-height: 52px;
                margin: 20px auto 0;
                font-size: 24px;
                background: #ffd521;
                border-radius: 8px;
                a {
                color: #000000;
                display: block;
            }
        }
    }
    @include e(videoBox) {
        width: 100%;
        height: 500px;
        background: #ffffff;
        position: relative;
        div {
            height: 400px;
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            img {
            border-radius: 10px;
            height: 400px;
            }
        }
    }
}
// media
@include b(media-content) {
    h3 {
      font-size: 34px;
      color: #ffffff;
      margin-top: 50px;
      margin-bottom: 20px;
      span {
        background-color: #212934;
        padding: 0px 10px;
      }
    }
    p {
      font-size: 16px;
      padding-bottom: 20px;
    }
    @include e(content_list) {
        & > div {
            padding: 0px 0 60px;
            div {
                float: left;
                margin-right: 38px;
                border-radius: 20px;
        
                ul {
                    padding-top: 20px;
                    li {
                        font-size: 18px;
                        margin-bottom: 25px;
                        a {
                            color: #009ee2;
                        }
                        a:hover {
                            text-decoration:underline;
                        }
                    }
                }
            }
            div:last-child {
                margin-right: 0px;
            }
        }
    }
}

// About Tigerwit
@include b(about){
    .abouts_conter {
        .center {
            width: 100%;
            margin: 0 auto;
            h3 {
                font-size: 34px;
                color: #ffffff;
                margin: 50px 0 20px;
                span {
                background-color: #212934;
                padding: 0px 10px;
                }
            }
            p {
                font-size: 16px;
            }
            .tip {
                margin-bottom: 20px;
            }
        }
    }
    .holderCircle{
        width:500px;
        height:500px;
        border-radius:100%;
        margin:100px auto;
        position:relative;
    }
    
    .dotCircle{
        width:100%;
        height:100%;
        position:absolute;
        margin:auto;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border-radius:100%;
        z-index:20;
    }
    .dotCircle  .itemDot {
        display:block;
        width:80px;
        height:80px;
        position:absolute;
        background:#ddd;
        color:#fff;
        border-radius:100%;
        text-align: center;
        font-size:12px;
        z-index:3;
        cursor:pointer;
        span {
            display: block;
            width: 80px;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            padding: 0 3px;
        }
    }
    
    
    .dotCircle  .itemDot1{
        background: #1f2934;
    }
    .dotCircle  .itemDot1::before{
        border-color: #1f2934
    }
    .dotCircle  .itemDot2{
        background: #1f2934;
    }
    .dotCircle  .itemDot2::before{
        border-color: #1f2934
    }
    .dotCircle  .itemDot3{
        background:#1f2934;
    }
    .dotCircle  .itemDot3::before{
        border-color:#1f2934;
    }
    .dotCircle  .itemDot4{
        background:#1f2934;
    }
    .dotCircle  .itemDot4::before{
        border-color:#1f2934;
    }
    .dotCircle  .itemDot5{
        background:#1f2934;
    }
    .dotCircle  .itemDot5::before{	
        border-color:#1f2934;
    }
    .dotCircle  .itemDot6{
        background:#1f2934;
    }
    .dotCircle  .itemDot6::before{	
        border-color:#1f2934;
    }
    
    .dotCircle  .itemDot7{
        background:#1f2934;
    }
    
    .dotCircle  .itemDot7::before{
        border-color:#1f2934;	
    }
    
    .dotCircle  .itemDot8{
        background:#1f2934;
    }

    .dotCircle  .itemDot8::before{	
        border-color:#1f2934;
    }
    
    .dotCircle  .itemDot9{
        background:#1f2934;
    }

    .dotCircle  .itemDot9::before{
        border-color:#1f2934;	
    }
    .dotCircle  .itemDot10{
        background:#1f2934;
    }
    
    .dotCircle  .itemDot10::before{	
        border-color:#1f2934;
    }
    
    .dotCircle .itemDot.active{
        background:#fed230;
        color:#fff;
        transition:0.5s;
    }
    .dotCircle .itemDot.active::before{
        border-color:#34495e;
    }
    .dotCircle  .itemDot .forActive{
        width:56px;
        height:56px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:none;
    }
    
    .dotCircle  .itemDot .forActive::after{
        content: '';
        width: 5px;
        height: 5px;
        border: 3px solid #FE9290;
        bottom: -31px;
        left: -14px;
        filter: blur(1px);
        position: absolute;
        border-radius: 100%;
    }
    .dotCircle  .itemDot .forActive::before{
        content: '';
        width: 6px;
        height: 6px;
        filter: blur(5px);
        top: -15px;
        position: absolute;
        transform: rotate(-45deg);
        border: 6px solid #F48E2A;
        right: -39px;
    }
    
    .dotCircle  .itemDot.active .forActive{
        display:block;
    }
        
    
    .contentCircle{
        width: 410px;
        height: 410px;
        border-radius: 100%;
        color: #fff;
        position: relative;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 500;
    }
    
    .contentCircle .CirItem{
        border-radius: 100%;
        color: #fff;
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: 0.5s;
        font-weight: bold;
        font-size: 13px;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        margin: auto;
        background: #fed230;
        p {
            width: 320px;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            span {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    .CirItem.active{
        z-index:1;
        opacity:1;
        transform:scale(1);
        transition:0.5s;
    }
    .contentCircle .CirItem2, .CirItem3, .CirItem4, .CirItem5, .CirItem6, .CirItem7, .CirItem8, .CirItem9, .CirItem10{
        background: #fed230;
    }
    .contentCircle .CirItem0 {
        background: #1f2934;
    }
}