@include b(blog_risk) {
    padding-bottom: 40px;

    @include e(title) {
        text-align: center;
    }

    @include e(tip) {
        font-weight: bold;
    }

    @include e(content) {
        color: #838992;

        p {
            line-height: 22px;
        }
    }
}

@include b(blog_statement) {
    padding-bottom: 40px;

    @include e(title) {
        text-align: center;
        color: #000;
    }
    @include e(content) {
        color: #838992;

        p {
            line-height: 22px;
        }
    }
}

@include b(blog_notice) {
    padding-bottom: 40px;

    @include e(title) {
        text-align: center;
    }

    @include e(content) {
        margin-top: 10px;

        .title {
            cursor: pointer;
            display: inline-block;
            color: #282e32;

            &:hover {
                color: $brand-info;
            }

            .fa {
                display: none;

                &.active {
                    display: inline-block;
                }
            }
        }

        .info {
            padding-left: 20px;
            line-height: 22px;
            margin-top: 20px;
            display: none;

            &.active {
                display: block;
            }
        }
    }

    @include e(gray) {
        color: #838992;
    }
}