@include b(blog_risk) {
    padding-bottom: 40px;

    @include e(title) {
        text-align: center;
    }

    @include e(tip) {
        font-weight: bold;
    }

    @include e(content) {
        color: #838992;

        p {
            line-height: 22px;
        }
    }
}

@include b(blog_statement) {
    padding-bottom: 40px;

    @include e(title) {
        text-align: center;
        color: #000;
    }
    @include e(navi) {
        .navi-item {
            color: $brand-info;
            cursor: pointer;
            &.active {
                color: #222;
            }
        }
    }
    @include e(content) {
        color: #838992;

        p {
            line-height: 22px;
        }
    }
}

@include b(blog_legal) {
    padding-bottom: 40px;

    @include e(title) {
        text-align: center;
        color: #000;
    }
    @include e(content) {
        color: #838992;

        .legal_pdf {
            padding-bottom: 30px;
        }

        .link {
            padding-bottom: 10px;

            a {
                &:hover {
                    color: #188afa!important;
                }
            }
        }

        p {
            line-height: 22px;
        }
    }
}

@include b(blog_notice) {
    padding-bottom: 40px;

    @include e(title) {
        text-align: center;
    }

    @include e(content) {
        margin-top: 10px;

        .title {
            cursor: pointer;
            display: inline-block;
            color: #282e32;

            &:hover {
                color: $brand-info;
            }

            .fa {
                display: none;

                &.active {
                    display: inline-block;
                }
            }
        }

        .info {
            padding-left: 20px;
            line-height: 22px;
            margin-top: 20px;
            display: none;

            &.active {
                display: block;
            }
        }
    }

    @include e(gray) {
        color: #838992;
    }
}

@include b(blog_agreement) {
    margin: 50px 0;

    @include e(title) {
        margin-bottom: 30px;

        .tit {
            margin: 0;
            font-size: 32px;
            line-height: 32px;
        }    
        .tip {
            text-align: right;
            height: 32px;
            line-height: 46px;
        }    
    }
    @include e(item) {
        height: 100px;
        padding-right: 90px;

        &:nth-child(3n) {
            padding-right: 15px;
        }

        .tit {
            padding-bottom: 5px;
            a {
                color: #0866c3;
                font-size: 20px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .tip {
            color: #303030;
        }
    }
    @include e(content) {
        &.en {
            .blog_agreement__item {
                height: 145px;
            }
        }
    }
}



