@include b(become_master) {

    @include e(banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "become-banner.jpg");
    }

    @include e(content) {
        border-bottom: 1px solid $gray;
        padding-bottom: 50px;

        h5 {
            margin-bottom: 0;
        }
    }

    @include e(star) {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-size: 100%;
        @include img-normal($image-path-web + "star.png");
    }

    @include e(tip) {
        padding-left: 6px;

        @include m(detail) {
            padding-left: 26px;
        }
    }
    
    @include e(step) {
        @extend .clearfix;
        text-align: center;
        margin-top: 50px;
        
        @include m(info) {
            float: left;
            width: percentage(1 / 5);

            .img {
                height: 75px;
                background-repeat-x: no-repeat;
                background-position-x: center;

                &.step1 {
                    @include img-normal($image-path-web + "become-step1.png");
                }

                &.step2 {
                    @include img-normal($image-path-web + "become-step2.png");
                }

                &.step3 {
                    @include img-normal($image-path-web + "become-step3.png");
                }

                &.step4 {
                    @include img-normal($image-path-web + "become-step4.png");
                }
            }
        }

        @include m(arrow) {
            float: left;
            width: percentage(1 / 15);
            margin-top: 20px;

            .arrow {
                height: 32px;
                @include img-normal($image-path-web + "become-arrow.png");
                background-repeat-x: no-repeat;
                background-position-x: center;
            }
        }
    }

    @include e(factor) {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    @include e(title) {
        font-size: 36px;
        text-align: center;
        margin: 30px 0;
    }

    @include e(form) {
        width: 570px;
        margin: 0 auto 100px;
    }

    @include e(checkbox) {
        text-align: center;
    }

    @include e(btn) {
        margin-top: 10px;

        .btn {
            width: 100%;
        }
    }

    @include e(modal) {
        .system_modal__content_wrapper {
            padding-left: 60px;
        }

        .trade-desc {
            resize: none;
            height: 60px;
        }

        @include m(MT4) {
            display: inline-block;
            height: 34px;
            line-height: 34px;
        }

        .upload_history_label {
            position: relative;
            display: inline-block;
            padding: 6px 15px;
            border-radius: 2px;
            background-color: #333;
            color: #fedd0a;
            cursor: pointer;
            line-height: normal;

            i {
                font-style: normal;
            }
        }

        .upload_history_input {
            display: none;
        }

        .upload_history_txt {
            display: inline-block;
            width: 80%;
            padding: 8px 10px;
            border: 1px solid #ebebeb;
            border-radius: 2px;
        }
    }
}