.index_download_layout {
  .download_title {
    background-color: $gray-lightest;
    text-align: center;
    padding: 60px 0 0 0;
    h3 {
      font-size: 36px;
      margin: 0;
      margin-bottom: 6px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
    }
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    @include displayFlex();
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    @include justifyContent(center);
    @include alignItems(center);
    .download_banner__ctn-des {
      width: 1030px;
      height: 100%;
      margin: 0 auto;
      padding-top: 65px;
      padding-left: 90px;
      text-align: left;
      h2 {
        color: $brand-primary;
        font-size: 50px;
        font-weight: 200;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
      }
      span {
        font-size: 17px;
      }
    }
  }
  .swiper-pagination {
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 100%;
    z-index: 20;
    text-align: center;
  }
  // .swiper-slide:nth-child(2) {
  //   background: url($image-path-web + 'download_banner1.png') no-repeat top center;
  // }
  // .swiper-slide:nth-child(3) {
  //   background: url($image-path-web + 'download_banner2.png') no-repeat top center;
  // }
  // .swiper-slide:nth-child(4) {
  //   background: url($image-white + 'download/download_banner.png') no-repeat top center;
  // }
  // .swiper-slide:nth-child(5) {
  //   background: url($image-path-web + 'download_banner1.png') no-repeat top center;
  // }
  @include b(download_banner) {
    border-top: 69px solid $brand-button-color;
    color: $gray;
    width: 100%;
    height: 751px;
    position: relative;
    //background: url($image-path-web + 'download_banner1.png') no-repeat top center;

    @include e(ctn) {
      width: 100%;
      // height: 80%;
      position: absolute;
      z-index: 1000;
      @include m(action) {
        width: 1030px;
        margin: 0 auto;
        padding-top: 135px;
        text-align: right;
        .content{
          display: inline-block;
          text-align: left;
          max-width: 710px;
          .title {
            margin-bottom: 55px;
            h2 {
              font-size:57px;
              line-height:56px;    
              margin-bottom: 30px;        
            }
            p {
              font-size:28px;
              line-height:35px;
            }
          }
          .download{
            overflow: hidden;
            .plat {
              float: left;
              li {
                margin-bottom: 17px;
                a {
                  display: inline-block;
                }
                .btn_big {
                  width: 200px;
                }
                p {
                  margin-top: 5px;
                  line-height: 12px;
                  font-size: 12px;
                  font-weight: 200;
                }
                &.iosPosition{
                  &:hover {
                    .iosChildren{
                      display: block;
                    }
                  }
                  .iosChildren{
                    padding-top: 17px;
                    display: none;
                    .btn_small{
                      width: 150px;
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
            .code {
              float: left;
              margin-left: 20px;
              .img_box {
                overflow: hidden;
                margin-bottom: 10px;
                img {
                  display: block;
                  margin: 0 auto;
                  width: 150px;
                  
                }
              }
              p {
                text-align: center;
                font-size: 13px;
              }
              &.global {
                margin-left: 30px;
                .img_box {
                  float: left;
                  width: inherit;
                  text-align: center;
                  margin-bottom: 20px;
                  margin-right: 10px;
                  overflow: inherit;
                }
              }
            }
          }
        }
      }
    }
  }
  @include b(download_advantage) {
    width: 100%;
    font-size: 14px;
    background-color: $gray-lightest;
    overflow: hidden;
    @include e(detail) {
      display: block;
      margin: 0 auto;
      width: 1221px;
      height: 780px;
      color: $gray;
      li {
        display: inline-block;
        width: 33.33%;
        height: 390px;
        text-align: center;
        padding-top: 132px;
        float: left;
        background-color: $gray-base;
        h4 {
          font-size: 24px;
          font-weight: 200;
          margin-bottom: 15px;
        }
        p {
          font-size: 14px;
        }
      }
      li:nth-child(1) {
        background: url($image-path-web + 'trade_advantage3.png') no-repeat center center;
      }
      li:nth-child(2) {
        background: $brand-primary;
        color: $gray-base;
      }
      li:nth-child(3) {
        background: url($image-path-web + 'trade_advantage2.png') no-repeat center center;
      }
      li:nth-child(4) {
        background: #000;
        margin-top: -2px;
      }
      li:nth-child(5) {
        background: url($image-path-web + 'trade_advantage1.png') no-repeat center center;
        margin-top: -2px;
      }
      li:nth-child(6) {
        margin-top: -2px;
        background: #000;
      }
    }
  }
  @include b(download_bottom) {
    width: 100%;
    height: 475px;
    background-color: $brand-primary;
    overflow: hidden;
    @include e(ctn) {
      overflow: hidden;
      width: 1030px;
      height: 100%;
      margin: 0 auto;
      padding-left: 100px;
      padding-right: 50px;
      position: relative;

      img {
        height: 520px;
        float: right;
        position: absolute;
        right: 30px;
        bottom: -42px;
      }
      @include m(plat) {
        margin-top: 200px;
        width: 180px;
        display: inline-block;
        float: left;
        li {
          width: 180px;
          display: inline-block;
          margin-bottom: 20px;
          a {
            width: 280px;
            height: 50px;
            display: inline-block;
            border-radius: 4px;
            text-align: center;
            color: $gray-base;
            border: 1px solid $gray-dark;
            font-size: 18px;
            line-height: 50px;
            i {
              font-size: 24px;
            }
          }
          p {
            margin-top: 5px;
            line-height: 12px;
          }
        }
      }
    }
  }
}

@include b(m_download) {
  .layui-m-layershade {
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.93) !important;

    //background: url("/images/mobile/section1.png") no-repeat;
    //background-position: center 250px;
    //background-size: 85% auto;
  }
  .layui-m-layermain{
    -webkit-filter: blur(4px);
  }
}

@include b(m_download_layout) {
  text-align: center;
  transition: all 1s ease;
  display: none;

 
  #dowebok {
    //定义通用样式
    h5 {
      color: $brand-primary-dark;
      font-size: px2rem(64);
      padding-top: px2rem(100) !important;
      span {
        font-size: px2rem(64);
        color: $brand-primary-dark;
      }
    }
    p {
      color: #fff;
      font-size: px2rem(32);
      line-height: px2rem(50);
    }
    .download_btn {
      color: #222;
      display: none;
      margin: 0 auto;
      width: 68%;
      padding: px2rem(20) px2rem(50);
      border-radius: px2rem(8);
      text-align: center;
      border: none;
      font-size: px2rem(35);
      background-color: $brand-primary;
      margin-top: px2rem(55);
      margin-bottom: px2rem(55);
      position: absolute;
      left: 16%;
      z-index: 100;
      opacity: 0.9;
    }
    .section {
      position: relative;
    }
    .section1 {
      .h5_nav {
        background-color: #000;
      }
      background-color: #121212;
      background: url("/images/mobile/section1.png") no-repeat;
      background-position: center 250px;
      background-size: 85% auto;
      .next {
        font-family: "Microsoft YaHei";
        position: absolute;
        bottom: 1.5rem;
        left: 45%;
        transform: rotateZ(180deg);
        padding: 1rem 1rem;
      }
      .next.active {
        transition: transform 1s linear;
        transform: rotateZ(0deg);
        animation: next 1s linear 1s infinite;
      }
      @keyframes next {
        from {
          bottom: 1.5rem;
        }
        to {
          bottom: 0.5rem;
        }
      }

      @-moz-keyframes next /* Firefox */
      {
        from {
          bottom: 1.5rem;
        }
        to {
          bottom: 0.5rem;
        }
      }

      @-webkit-keyframes next /* Safari 和 Chrome */
      {
        from {
          bottom: 1.5rem;
        }
        to {
          bottom: 0.5rem;
        }
      }

      @-o-keyframes next /* Opera */
      {
        from {
          bottom: 1.5rem;
        }
        to {
          bottom: 0.5rem;
        }
      }
      h5 {
        span {
          margin: 0 px2rem(40);
        }
        span.active {
          transition: margin 1s ease;
          margin: -0.2rem;
        }
      }
      .line1 {
        position: absolute;
        left: -25rem;
      }
      .line1.active {
        transition: left 1s ease;
        left: 3.6rem;
      }
      .line2 {
        position: absolute;
        right: -25rem;
        margin-top: 1.6rem;
      }
      .line2.active {
        transition: right 1s 1s ease;
        right: 2.5rem;
      }
    }
    .section1._active {
      transition: background-position 0.8s linear;
      background-position: bottom center;
    }

    .section2 {
      .download_btn {
        bottom: -1.4rem;
      }
      background-color: #121212;
      background: url("/images/mobile/section2.png") no-repeat;
      background-position: center 200px;
      background-size: 100% auto;
      h5 {
        opacity: 0;
      }
      .line1 {
        opacity: 0;
      }
      .line2 {
        opacity: 0;
      }
      h5.active {
        animation: lightSpeedIn 1s linear forwards;
      }
      .line1.active {
        animation: lightSpeedIn 1s 0.5s linear forwards;
      }
      .line2.active {
        animation: lightSpeedIn 1s 1s linear forwards;
      }
      @-webkit-keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

      @keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

    }
    .section2._active {
      transition: background-position 0.8s linear;
      background-position: bottom center;
    }

    .section3 {
      .download_btn {
        bottom: -1.2rem;
      }
      background-color: #121212;
      background: url("/images/mobile/section3.png") no-repeat;
      background-position: center 250px;
      background-size: 100% auto;
      ul {
        width: 90%;
        margin: 0 auto;
        position: absolute;
        bottom: px2rem(100);
        left: 5%;
        li {
          float: left;
          width: 25%;
          img {
            display: inline-block;
            margin: 0 auto;
            width: 90%;
          }
        }
      }
      h5, p {
        color: #222;
      }
      .line1 {
        position: absolute;
        left: -20rem;
      }
      .line1.active {
        transition: left 1s 0.5s ease;
        left: 5.2rem;
      }
      .line2 {
        position: absolute;
        right: -20rem;
        margin-top: px2rem(40);
      }
      .line2.active {
        transition: right 1s 1.5s ease;
        right: 3.2rem;
      }
    }
    .section3._active {
      transition: background-position 0.8s ease;
      background-position: bottom center;
    }

    .section4 {
      .download_btn {
        bottom: -1rem;
      }
      background-color: #121212;
      background: url("/images/mobile/section4.png") no-repeat;
      background-position: left 300px;
      background-size: 85% auto;
      h5 {
        padding-top: 2rem !important;
      }
      .img_box {
        display: inline-block;
        width: px2rem(0);
        height: px2rem(0);
        position: absolute;
        right: px2rem(50);
        bottom: px2rem(-400);
        border-radius: 50%;
        img {
          width: 100%;
        }
      }
      .img_box.active {
        transition: all 1s ease-in-out;
        bottom: 20.5rem;
        width: px2rem(270);
        height: px2rem(270);
      }
      .circle {
        display: none;
        width: 0.6rem;
        height: 0.6rem;
        background-color: #fff;
        position: absolute;
        left: 3.4rem;
        bottom: 19.75rem;
        border-radius: 50%;
      }
      .line1 {
        position: absolute;
        width: 1px;
        height: 0;
        background-color: #fff;
        left: 3.67rem;
        bottom: 20rem;
      }
      .line1.active {
        transition: height 0.5s 0.5s linear;
        height: 5rem;
      }
      .line2 {
        background-color: #fff;
        position: absolute;
        width: px2rem(0);
        height: 1px;
        left: 3.67rem;
        bottom: 25rem;
      }
      .line2.active {
        transition: width 0.5s 1s linear;
        width: px2rem(330);
      }
    }
    .section4._active {
      transition: background-position 0.8s ease-out;
      background-position: bottom left;
    }

    .section5 {
      .download_btn {
        position: static;
        display: block;
      }
      background: url("/images/mobile/section5.jpg") no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      padding-top: 45%;
      .tips {
        text-align: left;
        font-size: px2rem(20);
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: px2rem(40) px2rem(30);
        color: $gray-dark;
      }
      .connect_us {
        color: #fff;
      }
      .number {
        color: $brand-primary-dark;
      }
      p {
        font-size: px2rem(40);
        line-height: px2rem(55);
      }
      span {
        color: #fff;
      }
    }
    .section5._active {
      transition: all 12s linear;
      background-size: 140% 140%;
    }
  }
  #dowebok_global{
     //定义通用样式
     h5 {
      color: $bg-fff;
      font-size: px2rem(50);
      padding: px2rem(70) px2rem(40) px2rem(30);
      margin: 0;
    }
    p {
      color: rgba(255, 255, 255, 0.6);
      font-size: px2rem(24);
      line-height: px2rem(34);
    }

    .switch_lang{
      color: #fff;
      background: none;
      border: none !important;
      padding: 0;
      float: right;
      height: px2rem(64);
      text-align: right;
      direction: rtl;
    }
    .h5_nav{
      background-color: #1A1E29;
    }
    .section {
      position: relative;
      .download_app{
        position: absolute;
        bottom: px2rem(56);
        padding: 0 px2rem(46) 0;
        @include displayFlex();
        width: 100%;
        .download_btn{
          @include flex(1);
          padding: 0 px2rem(13) 0;
          img{
            width: 100%;
          }
        }
      }
    }
    .section1 {
      background-repeat: no-repeat;
      background-size: 100%;
      transition: background-position 0.8s linear;
      .line1 {
        opacity: 0;
      }
      .line1.active {
        transition: opacity 1s ease;
        opacity: 1;
      }
      .line2 {
        opacity: 0;
        margin-top: 1.2rem;
      }
      .line2.active {
        transition: opacity 1s 1s ease;
        opacity: 1;
      }
      &.active{
        background-position: bottom center;
      }

      .next {
        font-family: "Microsoft YaHei";
        position: absolute;
        bottom: 1.5rem;
        left: 45%;
        transform: rotateZ(180deg);
        padding: 1rem 1rem;
      }
      .next.active {
        transition: transform 1s linear;
        transform: rotateZ(0deg);
        animation: next 1s linear 1s infinite;
      }
      @keyframes next {
        from {
          bottom: 1.5rem;
        }
        to {
          bottom: 0.5rem;
        }
      }

      @-moz-keyframes next /* Firefox */
      {
        from {
          bottom: 1.5rem;
        }
        to {
          bottom: 0.5rem;
        }
      }

      @-webkit-keyframes next /* Safari 和 Chrome */
      {
        from {
          bottom: 1.5rem;
        }
        to {
          bottom: 0.5rem;
        }
      }

      @-o-keyframes next /* Opera */
      {
        from {
          bottom: 1.5rem;
        }
        to {
          bottom: 0.5rem;
        }
      }
    }

    .section2 {
      h5{
        color:rgba(33,44,63,1);
      }
      background-image: url("/white_label/m_download_global/section2-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      .self_directed{
        overflow: hidden;
        padding: px2rem(28) px2rem(55);
        li{
          width: px2rem(270);
          margin: px2rem(44) px2rem(20) 0;
          -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
          box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
          float: left;
          border-radius: px2rem(26);
          min-height: px2rem(265);
          padding: px2rem(10);
          img{
            height: px2rem(80);
          }
          .sequence{
            height: px2rem(55);
            font-size: px2rem(40);
            color: $main-char-color-30;
            line-height: px2rem(55);
          }
          .content{
            color:rgba(33,44,63,1);
            font-size: px2rem(20);
            line-height: px2rem(24);
          }
        }
      }
      h5 {
        opacity: 0;
      }
      .line1 {
        opacity: 0;
        color:rgba(33,44,63,0.6);
        padding: 0 px2rem(37);
      }
      h5.active {
        animation: lightSpeedIn 1s linear forwards;
      }
      .line1.active {
        animation: lightSpeedIn 1s 0.5s linear forwards;
      }
      @-webkit-keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

      @keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

    }
    .section3 {
      h5{
        color:rgba(33,44,63,1);
      }
      background-image: url("/white_label/m_download_global/section3-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      .self_directed{
        overflow: hidden;
        padding: px2rem(28) px2rem(55);
        li{
          width: px2rem(275);
          margin: px2rem(44) px2rem(20) 0;
          float: left;
          border-radius: px2rem(26);
          min-height: px2rem(280);
          img{
            height: px2rem(80);
          }
          .title{
            font-size: px2rem(22);
            color: $main-char-color-100;
            line-height: px2rem(28);
          }
          .content{
            color:rgba(33,44,63, 0.6);
            font-size: px2rem(20);
            line-height: px2rem(28);
            margin-bottom: px2rem(10);
          }
        }
      }
      h5 {
        opacity: 0;
      }
      .line1 {
        opacity: 0;
        color:rgba(33,44,63,0.6);
        padding: 0 px2rem(37);
      }
      h5.active {
        animation: lightSpeedIn 1s linear forwards;
      }
      .line1.active {
        animation: lightSpeedIn 1s 0.5s linear forwards;
      }
      @-webkit-keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

      @keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

    }
    .section4 {
      h5{
        color:rgba(33,44,63,1);
      }
      background-repeat: no-repeat;
      background-size: 100%;
      transition: background-position 0.8s linear;
      .download_app{
        position: static;
        margin-top: px2rem(36);
      }
      h5 {
        opacity: 0;
      }
      .line1 {
        opacity: 0;
        color:rgba(33,44,63,0.6);
        padding: 0 px2rem(37);
      }
      h5.active {
        animation: lightSpeedIn 1s linear forwards;
      }
      .line1.active {
        animation: lightSpeedIn 1s 0.5s linear forwards;
      }
      &.active{
        background-position: bottom center; 
      }
      @-webkit-keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

      @keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

    }

    .section5 {
      h5{
        color:rgba(33,44,63,1);
      }
      background-image: url("/white_label/m_download_global/section5-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      .self_directed{
        overflow: hidden;
        padding: 0 px2rem(60) px2rem(30);
        li{
          width: 100%;
          border-radius: px2rem(15);
          -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
          box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
          margin-top: px2rem(30);
          padding-bottom: px2rem(27);
          .title{
            font-size: px2rem(36);
            color: $main-char-color-100;
            line-height: px2rem(50);
            padding: px2rem(28) 0 px2rem(12);
          }
          .content{
            color:rgba(33,44,63, 0.6);
            font-size: px2rem(20);
            line-height: px2rem(30);
            margin-bottom: px2rem(10);
            padding: 0 px2rem(40);
            text-align: left;
            .limit_line{
              display: none;
            }
          }
          .more{
            text-align: right;
            color:rgba(74,144,226,1);
            font-size: px2rem(22);
            padding: 0 px2rem(60) 0;
            cursor: pointer;
          }
        }
      }
      h5 {
        opacity: 0;
      }
      .line1 {
        opacity: 0;
        color:rgba(33,44,63,0.6);
        padding: 0 px2rem(37);
      }
      h5.active {
        animation: lightSpeedIn 1s linear forwards;
      }
      .line1.active {
        animation: lightSpeedIn 1s 0.5s linear forwards;
      }
      @-webkit-keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

      @keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

    }
    .section6 {
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0;
      h5 {
        opacity: 0;
      }
      .line1 {
        opacity: 0;
        padding: 0 px2rem(37);
      }
      h5.active {
        animation: lightSpeedIn 1s linear forwards;
      }
      .line1.active {
        animation: lightSpeedIn 1s 0.5s linear forwards;
      }
      @-webkit-keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

      @keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

    }
    .section6._active {
      transition: background-position 0.8s linear;
      background-position: bottom center;
      opacity: 1;
    }
    .section7 {
      h5{
        color:rgba(33,44,63,1);
      }
      background-image: url("/white_label/m_download_global/section7-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      .download_app{
        position: static;
        margin-top: px2rem(76);
      }
      .footer{
        position: absolute;
        bottom: px2rem(90);
        font-size: px2rem(18);
        color:rgba(255,255,255, 0.5);
        line-height: px2rem(24);
        padding: 0 px2rem(37);
        text-align: left;
        a{
          color: inherit;
        }
      }
      .h5_footer_email{
        position: absolute;
        bottom: px2rem(20);
        text-align: center;
        width: 100%;
        color: #fad802;
      }
      h5 {
        opacity: 0;
      }
      .line1 {
        opacity: 0;
        color:rgba(33,44,63,0.6);
        padding: 0 px2rem(37);
      }
      h5.active {
        animation: lightSpeedIn 1s linear forwards;
      }
      .line1.active {
        animation: lightSpeedIn 1s 0.5s linear forwards;
      }
      @-webkit-keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

      @keyframes lightSpeedIn {
        from {
          -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
          transform: translate3d(100%, 0, 0) skewX(-30deg);
          opacity: 0;
        }

        60% {
          -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
          opacity: 1;
        }

        80% {
          -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
          opacity: 1;
        }

        to {
          -webkit-transform: none;
          transform: none;
          opacity: 1;
        }
      }

    }
  }
}