@include b(faq-public) {

    @include e(question) {
        font-size: 18px;
        color: $gray-base;
        cursor: pointer;
        margin: 0px;
        font-weight: normal;
        
        .fa-angle-down {
            display: none;
        }
        &:hover {
            color: $brand-info;
        }
    }
    @include e(answer) {
        display: none;
        margin-top: 5px;
        font-size: 16px;
        color: $gray-darker;
        padding-left: 20px;
    }
    
    i {
        font-size: 18px;
    }

    table, tr, td{
        border: 1px solid $gray-dark;
    }
    a {
        color: #4A90E2;
    }

}