@include b(faq-public) {
    @include e(url_list){
        min-width:164px;
        background: $primary-darker;
        border-radius:26px;
        padding: 10px 30px;
        width:96px;
        font-size:24px;
        font-weight:600;
        color:$main-char-color-100;
        line-height:33px;






    }

    @include e(question) {
        font-size: 18px;
        color: $gray-base;
        cursor: pointer;
        margin: 0px;
        font-weight: normal;
        
        .fa-angle-down {
            display: none;
        }
        &:hover {
            color: $brand-info;
        }
    }
    @include e(answer) {
        display: none;
        margin-top: 5px;
        font-size: 16px;
        color: $gray-darker;
        padding-left: 20px;
    }
    
    i {
        font-size: 18px;
    }

    table, tr, td{
        border: 1px solid $gray-dark;
    }
    a {
        color: #4A90E2;
    }

}