@include b(mt4) {

    @include e (title) {
        text-align: center;
        font-size: 35px;
        color: $gray-base;
    }

    @include e(con1) {
        padding: 0 50px;
        line-height: 22px;
    }

    @include e(img-com) {
        margin-top: 175px;
    }

    @include e(info) {
        position: relative;
        @include displayFlex();
        @include justifyContent(center);
        @include alignItems(center);
        height: 65px;
        border: 1px solid #222;
        font-size: 22px;
        color: #222;
        padding: 0 10px;

        &:hover, &:active {
            color: #222;
            border: 1px solid $brand-primary;

            > .qr_code {
                display: block;
            }
        }

        > img {
            position: relative;
        }
        > .qr_code {
            display: none;
            position: absolute;
            bottom: 110%;
            width: 200px;
            height: 200px;
            padding: 5px;
            background-color: #fff;

            img {
                width: 190px;
            }
        }
    }

    @include e(link) {
        color: $brand-info;
        border-bottom: 1px solid $brand-info;
    }

}