// 通用
@include b(pro-public) {
    color: $gray-darker;

    @include e(forex-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "forex-banner.jpg");
    }

    @include e(oil-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "oil-banner.png");
    }

    @include e(metal-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "metal-banner.jpg");
    }

    @include e(cfd-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "cfd-banner.png");
    }

    @include e(time-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "deal-banner.png");
    }

    @include e(con) {

    }

    @include e(title) {
        margin-top: 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid $gray;
        text-align: center;
        font-weight: bold;
        color: $gray-base;
    }

    @include e(star) {
        display: inline-block;
        width: 15px;
        height: 15px;
        @include img-normal($image-path-web + "forex-star.png");

    }

    @include e(forex-ul) {
        margin-top: 30px;

        > li {
            margin-bottom: 25px;
        }
    }

    @include e(logo) {
        width: 100%;
        height: 135px;
        background-size: 100%;
        @include img-normal($image-path-web + "forex-logo.png");

    }

    @include e(no-padding) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    @include e(deal-title) {
        margin-top: 50px;
        margin-bottom: 1px;
        padding:10px;
        text-align: center;
        border: 1px solid $gray;
        border-bottom: none;
        color: $brand-info;
    }

    @include e(bor-bt) {
        border-bottom: 1px solid $gray;
    }
}

@include b(pro-comment) {
    @include e (com-title) {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
        color: $gray-base;
        border-bottom: 1px solid $gray;
    }
    @include e(con-ul) {

        >li {
            padding-bottom: 40px;
            margin-top: 20px;
        }
    }

    @include e(li-title) {
        font-size: 18px;
        font-weight: bold;
    }

    @include e(li-con) {


        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
