// 背景
.product_banner {
    height: 550px;
    background-image: url("/images/web/proxy-global-banner.png");
    background-size: auto 100%;
    background-position: center center;
}

// 通用
@include b(pro-public) {
    @include e(title) {
        margin-top: 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid $gray;
        text-align: center;
        font-weight: bold;
        color: $gray-base;
        font-size: 30px;
    }
    @include e(no-padding) {
        //padding-left: 0px !important;
        //padding-right: 0px !important;
        padding : 0 2px;
    }


    // 以下可能无用
    @include e(forex-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "forex-banner.jpg");
    }

    @include e(oil-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "oil-banner.png");
    }

    @include e(metal-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "metal-banner.jpg");
    }

    @include e(cfd-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "cfd-banner.png");
    }
    @include e(time-banner) {
        height: 320px;
        width: 100%;
        background-size: 100%;
        @include img-normal($image-path-web + "deal-banner.png");
    }
    @include e(star) {
        display: inline-block;
        width: 15px;
        height: 15px;
        @include img-normal($image-path-web + "forex-star.png");

    }
    @include e(forex-ul) {
        margin-top: 30px;

        h5 {
            margin: 0px;
        }

        > li {
            margin-bottom: 25px;
        }
    }
    @include e(logo) {
        width: 100%;
        height: 135px;
        background-size: 100%;
        @include img-normal($image-path-web + "forex-logo.png");

    }
    @include e(deal-title) {
        margin-top: 50px;
        margin-bottom: 1px;
        padding:10px;
        text-align: center;
        border: 1px solid $gray;
        border-bottom: none;
        color: $brand-info;
    }
    @include e(bor-bt) {
        border-bottom: 1px solid $gray;
    }
}

