<div class="space_block agent_activate">
    <h3 class="agent_activate__title text-center">
        {{lang.text('tigerWitID.partner.activeAgentFlow')}}
    </h3>
    <div class="text-center pd-tp-50 pd-bt-30">
        <ul class="agent_activate__flow clearfix">
            <!-- info->status	int	完善资料：0:未完成,1:完成 -->
            <li class="fl" ng-class="{'complete': personal.agentAuthStatus.info.status == 1}">
                <strong class="num">1</strong>
                <div class="content ">
                    <h5 class="pd-tp-30 pd-bt-10">{{lang.text('tigerWitID.partner.completeInformation')}}</h5>
                    <p><img src="/white_label/authen/{{personal.agentAuthStatus.info.status == 1 ? 'activate1' : 'activate1-no' }}.png" alt=""></p>
                    <!-- <p class="mg-tp-10">图像过小</p> -->
                    <i class="not_complete" ng-if="personal.agentAuthStatus.info.status != 1"><span>{{lang.text('tigerWitID.noMetNeed')}}</span></i>
                </div>
            </li>
            <!-- kyc->status	int	投资信息确认： 0:未完成,1:完成
            kyc->auth_status	int	投资信息确认审核状态：0:待审核,1:已通过,2已拒绝,3未提交 -->
            <li class="fl" ng-class="{'complete': personal.agentAuthStatus.kyc.status == 1}">
                <strong class="num">2</strong>
                <div class="content ">
                    <h5 class="pd-tp-30 pd-bt-10">{{lang.text('tigerWitID.partner.tradingExperience')}}</h5>
                    <p><img src="/white_label/authen/{{ personal.agentAuthStatus.kyc.status == 1 ? 'activate2' : 'activate2-no' }}.png" alt=""></p>
                    <p class="mg-tp-10">{{(personal.agentAuthStatus.kyc.reason || '') + kycAuthStatus[personal.agentAuthStatus.kyc.auth_status]}}</p>
                    <i class="not_complete" ng-if="personal.agentAuthStatus.kyc.status != 1"><span>{{lang.text('tigerWitID.noMetNeed')}}</span></i>
                </div>
            </li>
            <!-- idcard->status	int	实名认证：0:未完成,1:完成
            idcard->auth_status	int	实名认证审核状态：0:未认证,1:已拒绝,2:需要审核,3:已通过,4:身份证过期
            idcard->reason	string	实名认证审核决绝原因 -->
            <li class="fl" ng-class="{'complete': personal.agentAuthStatus.idcard.status == 1}">
                <strong class="num">3</strong>
                <div class="content ">
                    <h5 class="pd-tp-30 pd-bt-10">{{lang.text('tigerWitID.partner.iDVerification')}}</h5>
                    <p><img src="/white_label/authen/{{ personal.agentAuthStatus.idcard.status == 1 ? 'activate3' : 'activate3-no'}}.png" alt=""></p>
                    <p class="mg-tp-10">{{(personal.agentAuthStatus.idcard.reason || '') + idcardAuthStatus[personal.agentAuthStatus.idcard.auth_status]}}</p>
                    <i class="not_complete" ng-if="personal.agentAuthStatus.idcard.status != 1"><span>{{lang.text('tigerWitID.noMetNeed')}}</span></i>
                </div>
            </li>
            <!-- addr->status	int	地址证明：0:未完成,1:完成,2:不需要认证
            addr->auth_status	int	实名认证审核状态：0:未认证,1:已拒绝,2:需要审核,3:已通过,4:身份证过期
            addr->reason	string	实名认证审核决绝原因 -->
            <li class="fl" ng-class="{'complete': personal.agentAuthStatus.addr.status == 1}" ng-if="personal.agentAuthStatus.addr.status != 2">
                <strong class="num">4</strong>
                <div class="content ">
                    <h5 class="pd-tp-30 pd-bt-10">{{lang.text('tigerWitID.authen.address')}}</h5>
                    <p><img src="/white_label/authen/{{ personal.agentAuthStatus.addr.status == 1 ? 'activate5' : 'activate5-no'}}.png" alt=""></p>
                    <p class="mg-tp-10">{{(personal.agentAuthStatus.addr.reason || '') + idcardAuthStatus[personal.agentAuthStatus.addr.auth_status]}}</p>
                    <i class="not_complete" ng-if="personal.agentAuthStatus.addr.status == 0"><span>{{lang.text('tigerWitID.noMetNeed')}}</span></i>
                </div>
            </li>
            <!-- status	int	当前进度：1:完善资料,2:投资信息确认,3:实名认证,4:地址证明,5:待审核,6:已激活 -->
            <li class="fl" ng-class="{'complete': personal.agentAuthStatus.status == 6}">
                <strong class="num">{{ personal.agentAuthStatus.addr.status != 2 ? '5' : '4' }}</strong>
                <div class="content ">
                    <h5 class="pd-tp-30 pd-bt-10">{{lang.text('tigerWitID.partner.activeSucc')}}</h5>
                    <p><img src="/white_label/authen/{{ personal.agentAuthStatus.status == 6 ? 'activate4' : 'activate4-no' }}.png" alt=""></p>
                    <!-- <p class="mg-tp-10">图像过小</p> -->
                    <i class="not_complete" ng-if="personal.agentAuthStatus.status != 6"><span>{{lang.text('tigerWitID.noMetNeed')}}</span></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="text-center mg-bt-20" ng-if="personal.agentAuthStatus.status != 6">
        <a ui-sref="authen.subpage({isAgent: 'isAgent'})" class="tw-btn tw-btn-lg200 tw-btn-capsule-gradient">{{lang.text('tigerWitID.partner.continueCertification')}}</a>
    </div>

</div>