<div class="authen_content ctn center">
    <div class="authen_content__title">
        <h2>{{lang.text('tigerWitID.myAccount.uploadContract2')}}</h2>
    </div>
    <div class="kyc mg-tp-20">
        <p class="authen_content__tip font-danger">{{(personal.agentAuthStatus.protocol.reason || '')}} </p>

        <div class="authen_content__flow">
            <div class="authen_content__flow-title">{{lang.text('tigerWitID.myAccount.processM')}}</div>
            <ul class="authen_content__flow-content">
                <li><span>1</span>{{lang.text('tigerWitID.myAccount.downloadContract')}}</li>
                <li></li>
                <li><span>2</span>{{lang.text('tigerWitID.myAccount.printSign')}}</li>
                <li></li>
                <li><span>3</span>{{lang.text('tigerWitID.myAccount.uploadContract')}}</li>
            </ul>

            <button class="authen_content__flow-button mg-tp-30" ng-click="agentProtocol()">
                    ↓ {{lang.text('tigerWitID.myAccount.downloadContractBtn')}}</button>
        </div>


        <p class="authen_content__tip pd-tp-50">{{lang.text('tigerWitID.myAccount.uploadNote')}}</p>
        <div class="row pd-tp-20">
            <div class="col-xs-4">
                <div class="upload_id_card">
                    <i class="upload_id_card__icon fa fa-camera"></i>
                    <h2 class="upload_id_card__title">
                        {{lang.text('tigerWitID.myAccount.personalInformationPage')}}
                    </h2>
                    <div tw-upload-file-base64 data-file-name="agreementImg[0]"></div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="upload_id_card">
                    <i class="upload_id_card__icon fa fa-camera"></i>
                    <h2 class="upload_id_card__title">
                        {{lang.text('tigerWitID.myAccount.bankAccountPage')}}
                    </h2>
                    <div tw-upload-file-base64 data-file-name="agreementImg[1]"></div>
                </div>
                <p class="text-right authen_content__tip pd-tp-5">{{lang.text('tigerWitID.myAccount.bankAccountPageExplain')}}</p>
            </div>

            <div class="col-xs-4">
                <div class="upload_id_card">
                    <i class="upload_id_card__icon fa fa-camera"></i>
                    <h2 class="upload_id_card__title">
                        {{lang.text('tigerWitID.myAccount.signaturePage')}}
                    </h2>
                    <div tw-upload-file-base64 data-file-name="agreementImg[2]"></div>
                </div>
            </div>

        </div>

        <p class="text-left mg-tp-15 font-dark">
            {{lang.text('tigerWitID.myAccount.tip26')}}
        </p>
        <div class="text-center mg-tp-50">
            <div class="btn_wrapper text-left">
                <button class="btn btn-sm tw-btn-capsule-gradient" ng-if="clickable" ng-click="uploadAgreement()">
                    {{lang.text('tigerWitID.myAccount.saveSubmit')}}
                </button>

                <a class="btn btn-sm tw-btn-capsule-gradient" ng-if="!clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.submitting')}}
                </a>
            </div>
        </div>
    </div>
</div>