<div class="authen_content ctn center">
    <div class="authen_title">
        <h2>完善信息</h2>
        <p class="authen_content__tip">如实填写个人信息是核实您真实身份，保障您资金和帐号安全，隐私信息的重要依据</p>
    </div>
    <!--<div tw-loading-img></div>-->
    <div class="mg-tp-40 kyc">
       <form name="completeForm" novalidate>
            <div class="row">
                <div class="col-xs-2">
                    <label>设置昵称</label>
                </div>        
                <div class="col-xs-8">
                    <div class="form-control-wrapper">
                        <input class="form-control" 
                                name="username"
                                type="text"
                                placeholder="请为账户设置昵称，有助于您登上高手榜"
                                required
                                ng-class="{'form-control-error': (frontErr.username.show && completeForm.username.$invalid)}"
                                ng-model="completeInfo.username"
                                twform-valid-txt
                                data-txt-type="username"
                                data-min-len="2"
                                data-max-len="16"
                                ng-focus="hideErr('username')"
                                ng-blur="[showErr('username'),checkExsit(1)]">
        
                        <div ng-show="frontErr.username.show">
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.username.$error.required">
                                请为账户设置昵称
                            </p>
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.username.$error.twformValidTxt">
                                {{frontErr.username.tip}}
                            </p>
                        </div>
        
                        <div ng-show="exsit.username.show">
                            <p class="alert-arrow_tp_lf" ng-show="exsit.username.show">
                                昵称已存在
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label>绑定邮箱</label>
                </div>        
                <div class="col-xs-8">
                    <div class="form-control-wrapper">
                        <input class="form-control"
                                name="email"
                                type="text"
                                placeholder="请输入您的邮箱"
                                required
                                ng-disabled="personal.email"
                                ng-class="{'disabled': personal.email, 'form-control-error': (frontErr.email.show && completeForm.email.$invalid)}"
                                ng-model="completeInfo.email"
                                ng-pattern="frontErr.email.reg"
                                on-enter="sendCode('email')"
                                ng-blur="[showErr('email'), checkExsit(2)]"
                                ng-focus="[hideErr('email')]">
        
                        <div ng-show="frontErr.email.show">
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.email.$error.required">
                                请输入您的电子邮箱
                            </p>
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.email.$error.pattern">
                                电子邮箱格式不正确
                            </p>
                        </div>
        
                        <div ng-show="exsit.email.show">
                            <p class="alert-arrow_tp_lf">
                                电子邮箱已存在
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" ng-if="!personal.email">
                <div class="col-xs-2">
                    <label>验证邮箱</label>
                </div>        
                <div class="col-xs-8">
                    <div class="form-control-wrapper contact_way inputor">
                        <input class="form-control"
                                name="emailCode"
                                type="text"
                                placeholder="请输入验证码"
                                required
                                ng-class="{'form-control-error': (frontErr.emailCode.show && completeForm.emailCode.$invalid)}"
                                ng-model="completeInfo.emailCode"
                                ng-blur="[showErr('emailCode')]"
                                ng-focus="[hideErr('emailCode')]">
                        
                        <span class="sender_btn" ng-show="!completeInfo.hasSendCode" ng-click="sendCode('email')">发送验证码</span>
                        <span class="sender_btn" ng-show="completeInfo.hasSendCode" >{{ completeInfo.waitTime }}秒 后重新获取</span>

                        <div ng-show="frontErr.emailCode.show">
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.emailCode.$error.required">
                                请输入验证码
                            </p>
                        </div>

                        <div ng-show="codeErr.email.show">
                            <p class="alert-arrow_tp_lf">
                                {{ codeErr.email.msg }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-xs-2">
                        <label>绑定手机</label>
                    </div>        
                    <div class="col-xs-8 bind_phone">
                        <div class="form-control-wrapper area_code">
                            <div class="select">
                                <input class="select__input"
                                    name="areaCode"
                                    type="text"
                                    placeholder="区号"
                                    required
                                    ng-disabled="personal.phone"
                                    ng-model="completeInfo.areaCode.value"
                                    ng-class="{'form-control-error': frontErr.areaCode.show && completeForm.areaCode.$invalid, 'disabled': personal.phone }"
                                    ng-blur="showErr('areaCode')"
                                    ng-focus="hideErr('areaCode')">
                                
                                <i ng-if="!personal.phone" class="select__icon fa fa-angle-down"></i>
    
                                <ul style="width: 150%;" ng-if="!personal.phone" class="select__dropdown" twform-select data-bind-model="completeInfo.areaCode">
                                    
                                    <li ng-repeat="areaCode in areaCodes" ng-class="{'selected': areaCode.value === completeInfo.areaCode.value}">
                                        <span data-value="{{ areaCode.value }}">{{ areaCode.value }}({{ areaCode.name }})</span>
                                    </li>
                                </ul>
                            </div>
                        
                            <div ng-show="frontErr.areaCode.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="completeForm.areaCode.$error.required">
                                    请选择区号
                                </p>
                            </div>
                        </div>
                        <div class="form-control-wrapper phone">
                            <input class="form-control"
                                    name="phone"
                                    type="text"
                                    placeholder="请输入您的手机号"
                                    required
                                    ng-disabled="personal.phone"
                                    ng-class="{'disabled': personal.phone, 'form-control-error': (frontErr.phone.show && completeForm.phone.$invalid) || codeErr.phone.show}"
                                    ng-model="completeInfo.phone"
                                    ng-pattern="frontErr.phone.reg"
                                    on-enter="sendCode('phone')"
                                    ng-blur="[showErr('phone'), checkExsit(3)]"
                                    ng-focus="[hideErr('phone')]">
            
                            <div ng-show="frontErr.phone.show">
                                <p class="alert-arrow_tp_lf" ng-show="completeForm.phone.$error.required">
                                    请输入您的手机号
                                </p>
                                <p class="alert-arrow_tp_lf" ng-show="completeForm.phone.$error.pattern">
                                    手机号码不正确
                                </p>
                            </div>
            
                            <div ng-show="exsit.phone.show">
                                <p class="alert-arrow_tp_lf">
                                    手机号已存在
                                </p>
                            </div>

                            <div ng-show="codeErr.phone.show">
                                <p class="alert-arrow_tp_lf">
                                    {{ codeErr.phone.msg }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="!personal.phone">
                    <div class="col-xs-2">
                        <label>验证手机</label>
                    </div>        
                    <div class="col-xs-8">
                        <div class="form-control-wrapper contact_way inputor">
                            <input class="form-control"
                                    name="phoneCode"
                                    type="text"
                                    placeholder="请输入验证码"
                                    required
                                    ng-class="{'form-control-error': (frontErr.phoneCode.show && completeForm.phoneCode.$invalid)}"
                                    ng-model="completeInfo.phoneCode"
                                    ng-blur="[showErr('phoneCode')]"
                                    ng-focus="[hideErr('phoneCode')]">
                            
                            <span class="sender_btn" ng-show="!completeInfo.hasSendCode" ng-click="sendCode('phone')">发送验证码</span>
                            <span class="sender_btn" ng-show="completeInfo.hasSendCode" >{{ completeInfo.waitTime }}秒 后重新获取</span>
    
                            <div ng-show="frontErr.phoneCode.show">
                                <p class="alert-arrow_tp_lf" ng-show="completeForm.phoneCode.$error.required">
                                    请输入验证码
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label>居住地址</label>
                </div>        
                <div class="col-xs-4">
                    <div class="form-control-wrapper">
                        <div class="select">
                            <input class="select__input"
                                name="province"
                                type="text"
                                placeholder="省份"
                                required
                                ng-model="completeInfo.province.key"
                                ng-class="{'form-control-error': frontErr.province.show && completeForm.province.$invalid}"
                                ng-blur="showErr('province')"
                                ng-focus="hideErr('province')">
                            
                            <i class="select__icon fa fa-angle-down"></i>

                            <ul class="select__dropdown" twform-select data-bind-model="completeInfo.province">
                                
                                <li ng-repeat="province in address.provinces" ng-class="{'selected': province.code === completeInfo.province.value}">
                                    <span data-value="{{province.code}}" ng-click="selectRegion('province', province.code)">{{ province.name_cn }}</span>
                                </li>
                            </ul>
                        </div>
                    
                        <div ng-show="frontErr.province.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="completeForm.province.$error.required">
                                请选择省/市
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-control-wrapper">
                        <div class="select">
                            <input class="select__input"
                                name="city"
                                type="text"
                                placeholder="城市"
                                required
                                ng-model="completeInfo.city.key"
                                ng-class="{'form-control-error': frontErr.province.show && completeForm.city.$invalid}"
                                ng-blur="showErr('city')"
                                ng-focus="hideErr('city')">
                            
                            <i class="select__icon fa fa-angle-down"></i>

                            <ul class="select__dropdown" twform-select data-bind-model="completeInfo.city">
                                
                                <li ng-repeat="city in address.cities" ng-class="{'selected': city.code === completeInfo.city.value}">
                                    <span data-value="{{city.code}}" ng-click="selectRegion('city', city.code)">{{ city.name_cn }}</span>
                                </li>
                            </ul>
                        </div>
                        
                        <div ng-show="frontErr.city.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="completeForm.city.$error.required">
                                请选择市/区
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label>&nbsp;</label>
                </div>
                <div class="col-xs-8">
                    <div class="form-control-wrapper">
                        <input class="form-control" 
                            name="address"
                            type="text"
                            placeholder="请输入完整居住地址"
                            required
                            ng-class="{'form-control-error': (frontErr.address.show && completeForm.address.$invalid)}"
                            ng-model="completeInfo.address"
                            ng-focus="hideErr('address')"
                            ng-blur="[showErr('address')]">
        
                        <div ng-show="frontErr.address.show">
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.address.$error.required">
                                请输入完整居住地址
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="text-center" ng-show="backErr.system.show">
                <p class="alert-system">
                    {{ backErr.system.msg || '未知错误，请联系管理员' }}
                </p>
            </div>
            
            <div class="text-center font-danger mg-tp-40" ng-if="backErr.show">
                <p>{{ backErr.msg }} !</p>
            </div>

            <div class="text-left mg-tp-50 mg-bt-30">
                <button class="btn btn-primary-gradient btn-sm" ng-if="completeInfo.clickable"  ng-click="submitCompleteForm()">
                    下一步
                </button>

                <button class="btn btn-primary-gradient btn-sm" disabled ng-if="!completeInfo.clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                    提交中
                </button>
            </div>
        </form>
    </div>
</div>