<div class="authen_content mg-tp-40 mg-bt-100 ctn center">
  <div class="authen_submit pd-tp-30">
    <h3 class="sys_modal_v2__title text-center">恭喜您已开通老虎外汇体验金账户</h3>
    <div class="text-left pd-lf-50 mg-lf-100 mg-tp-40">
      <p class="sys_modal_v2__desp">您的开户信息已经发送至您的邮箱</p>
      <p class="sys_modal_v2__desp">体验金账户不可提现，升级为真实账户，还需两步：</p>
      <p class="sys_modal_v2__desp pd-tp-10">1. 上传身份证件并完成审核</p>
      <p class="sys_modal_v2__desp">2. 充值激活您的账户</p>
      <div class="btn_wrapper mg-tp-20 pd-lf-50">
          <a class="btn btn-primary-gradient mg-tp-20" ng-click="closeModal()" ui-sref="space.center.index">完成</a>
      </div>
    </div>
  </div>
</div>