<div class="authen_content mg-tp-30 ctn center">
    <div class="authen_title" ng-class="{'en': lang.isEnglish()}">
        <h2>{{lang.text('tigerWitID.myAccount.questionnaire')}}</h2>
        <p class="authen_content__tip">{{lang.text('tigerWitID.myAccount.tip21')}}</p>
        <div tw-loading-img></div>
    </div>
    <div class="kyc mg-tp-40" ng-class="{'en': lang.isEnglish()}">
        <div ng-if="!isSetKyc">
            <form name="kycForm" novalidate autocomplete="off">
                <div ng-repeat="(qId, question) in questions">
                    <h3 class="kyc__title" ng-if="question.id != 'industry'">
                        {{qId + 1}}. {{question.title}}
                    </h3>
                    <div ng-if="question.data.type == 1">
                        <h3 class="kyc__title">
                            {{qId + 1}}. {{question.title}}
                            <select 
                                class="kyc__title-kyc_selection mg-lf-20"
                                ng-model="industry"
                                ng-options="item.value for item in question.data.list track by item.key"
                                ng-change="selectOption(question, industry, $index)"
                            >
                                <option value="">{{ lang.text("tigerWitID.myAccount.occupationBelongsTo") }}</option>
                            </select>
                        </h3>
                    </div>
                    <div class="row investInfo" ng-if="question.id != 1">
                        <!--单选-->
                        <div class="answers" ng-if="question.data.type == 2" ng-repeat="option in question.data.list">
                            <label class="radio" ng-class="{'checked': question.answer == option.key}">
                                <input type="radio"
                                       value="{{ option.key }}"
                                       required
                                       ng-model="question.answer"
                                       ng-change="selectOption(question,option,$index)">
                                <i class="fa fa-circle-o"></i>
                                <i class="fa fa-dot-circle-o"></i>
                                {{ option.value }}
                            </label>
                        </div>
                        <!--多选-->
                        <div class="answers" ng-if="question.data.type == 3" ng-repeat="option in question.data.list">
                            <label class="radio" ng-class="{'checked': option.checked}">
                                <input type="radio"
                                       value="{{ option.key }}"
                                       required
                                       ng-model="question.answer"
                                       ng-click="selectOption(question, option, $index)">
                                <i class="fa fa-circle-o"></i>
                                <i class="fa fa-dot-circle-o"></i>
                                {{ option.value }}
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="mg-tp-30">
                    <div ng-show="tip.questions.show">
                        <p class="alert-system">
                            {{ tip.questions.msg }}
                        </p>
                    </div>

                    <div ng-show="tip.system.show">
                        <p class="alert-system">
                            {{ tip.system.msg }}
                        </p>
                    </div>

                    <button class="btn btn-sm btn-primary-gradient text-left" ng-if="clickable" ng-click="submitForm()">
                        {{lang.text('actLogin29')}}
                    </button>

                    <!-- <a class="btn btn-sm btn-primary-gradient text-left mg-lf-20" ui-sref="space.center.index">
                        跳过
                    </a> -->

                    <button class="btn btn-sm btn-primary-gradient text-left" ng-if="!clickable">
                        <i class="loading_spinner fa fa-spinner"></i>
                        {{lang.text('tigerWitID.submitting')}}
                    </button>
                    <!--<button class="btn btn-sm btn-info mg-lf-100" ng-if="type !== 'setting'" ng-click="goNextStep()">跳过</button>-->
                </div>
            </form>
        </div>
        <div ng-show="isSetKyc" class="mg-tp-20">
            {{ lang.text("tigerWitID.myAccount.tip22") }}
        </div>
    </div>
</div>