<div class="authen_nav ctn center">
    <ul class="authen_nav__list clearfix">
        <li class="authen_nav__list-item fl" ng-class="{ 'active' : flow.step == 1 }"><p class="text-center"><span>1</span>投资信息确认</p></li>
        <li class="authen_nav__list-item fl" ng-class="{ 'active' : flow.step == 2 }"><p class="text-center"><span>2</span>完善信息</p></li>
        <li class="authen_nav__list-item fl" ng-class="{ 'active' : flow.step == 4 || flow.step == 3}"><p class="text-center"><span>3</span>实名认证</p></li>
        <li class="authen_nav__list-item fl" ng-class="{ 'active' : flow.step == 5 || flow.step == 6}"><p class="text-center"><span>4</span>提交审核</p></li>
    </ul>
</div>