<div class="authen_content ctn center">
    <div class="authen_content__title">
        <h2>{{lang.text('tigerWitID.settings.completeInformation')}}</h2>
        <p class="authen_content__tip">{{lang.text('tigerWitID.settings.tip6')}}</p>
    </div>
    <!--<div tw-loading-img></div>-->
    <div class="mg-tp-40 kyc">
        <form name="completeForm" novalidate autocomplete="off">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-control-wrapper">
                        <input class="form-control" name="username" type="text" placeholder="{{lang.text('tigerWitID.settings.tip7')}}"
                            required ng-class="{'form-control-error': (frontErr.username.show && completeForm.username.$invalid)}"
                            ng-model="completeInfo.username" twform-valid-txt data-txt-type="username" data-min-len="2"
                            data-max-len="16" ng-focus="hideErr('username')" ng-blur="[showErr('username'),checkExsit(1)]">

                        <div ng-show="frontErr.username.show">
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.username.$error.required">
                                {{lang.text('tigerWitID.settings.pleaseSetNickname')}}
                            </p>
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.username.$error.twformValidTxt">
                                {{frontErr.username.tip}}
                            </p>
                        </div>

                        <div ng-show="exsit.username.show">
                            <p class="alert-arrow_tp_lf" ng-show="exsit.username.show">
                                {{lang.text('tigerWitID.settings.nicknameHasBeenTaken')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-control-wrapper">
                        <input class="form-control" name="username" type="text" placeholder="First Name"
                            required
                            ng-model="completeInfo.firstname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-control-wrapper">
                        <input class="form-control" name="username" type="text" placeholder="Last Name"
                            required
                            ng-model="completeInfo.lastname">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-control-wrapper">
                        <input class="form-control" name="email" type="text" placeholder="{{lang.text('tigerWitID.settings.pEnterYourMail')}}"
                            required ng-disabled="personal.email" ng-class="{'disabled': personal.email, 'form-control-error': (frontErr.email.show && completeForm.email.$invalid)}"
                            ng-model="completeInfo.email" ng-pattern="frontErr.email.reg" on-enter="sendCode('email')"
                            ng-blur="[showErr('email'), checkExsit(2)]" ng-focus="[hideErr('email')]">

                        <div ng-show="frontErr.email.show">
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.email.$error.required">
                                {{lang.text('tigerWitID.settings.PEnterYourMailg')}}
                            </p>
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.email.$error.pattern">
                                {{lang.text('tigerWitID.settings.emailFormatErr')}}
                            </p>
                        </div>

                        <div ng-show="exsit.email.show">
                            <p class="alert-arrow_tp_lf">
                                {{lang.text('tigerWitID.settings.emailExists')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!personal.email">
                <div class="col-xs-12">
                    <div class="form-control-wrapper contact_way inputor">
                        <input class="form-control" name="emailCode" type="text" placeholder="{{lang.text('tigerWitID.settings.enterVerificationCode')}}"
                            required ng-class="{'form-control-error': (frontErr.emailCode.show && completeForm.emailCode.$invalid)}"
                            ng-model="completeInfo.emailCode" ng-blur="[showErr('emailCode')]" ng-focus="[hideErr('emailCode')]">

                        <span class="sender_btn" ng-show="!completeInfo.hasSendCode" ng-click="[sendCode('email'), toTrackEvent('Open live account', 'your_details_getcode')]">{{lang.text('tigerWitID.settings.sendVerificationToEmail')}}</span>
                        <span class="sender_btn" ng-show="completeInfo.hasSendCode">{{lang.text('tigerWitID.myAccount.tip39_1')}}{{
                            completeInfo.waitTime }}{{lang.text('tigerWitID.myAccount.tip39_2')}}</span>

                        <div ng-show="frontErr.emailCode.show">
                            <p class="alert-arrow_tp_lf" ng-show="completeForm.emailCode.$error.required">
                                {{lang.text('tigerWitID.settings.enterVerificationCode')}}
                            </p>
                        </div>

                        <div ng-show="codeErr.email.show">
                            <p class="alert-arrow_tp_lf">
                                {{ codeErr.email.msg }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-xs-12 bind_phone">
                        <div class="form-control-wrapper area_code">
                            <div class="select">
                                <input class="select__input" name="areaCode" type="text" placeholder="{{lang.text('tigerWitID.areaCode')}}"
                                    required readonly ng-model="completeInfo.areaCode.value" ng-class="{'form-control-error': frontErr.areaCode.show && completeForm.areaCode.$invalid, 'disabled': personal.phone }"
                                    ng-blur="showErr('areaCode')" ng-focus="hideErr('areaCode')">

                                <i ng-if="!personal.phone" class="select__icon fa fa-angle-down"></i>

                                <ul style="width: 150%;" ng-if="!personal.phone" class="select__dropdown" twform-select
                                    data-bind-model="completeInfo.areaCode">

                                    <li class="first_li"><input type="text" placeholder="{{lang.text('tigerWitID.login.countryCode')}}"
                                            ng-model="placeholderArea"><i class="fa fa-search"></i></li>
                                    <li ng-repeat="areaCode in areaCodes | filter : placeholderArea" ng-class="{'selected': areaCode.value == completeInfo.areaCode.value}">
                                        <span data-value="{{ areaCode.value }}" data-disabled='{"disabled": {{areaCode.disabled}}, "msg": "{{lang.text("tigerWitID.myAccount.unableCountry")}}"}'
                                            ng-class="{'font-light': areaCode.disabled}">{{ areaCode.value }}({{
                                            areaCode.name }})</span>
                                    </li>
                                </ul>
                            </div>

                            <div ng-show="frontErr.areaCode.show">
                                <p class="alert alert-arrow_tp_lf" ng-show="completeForm.areaCode.$error.required">
                                    {{lang.text('tigerWitID.login.selectAreaCode')}}
                                </p>
                            </div>
                        </div>
                        <div class="form-control-wrapper phone">
                            <input class="form-control" name="phone" type="text" placeholder="{{lang.text('tigerWitID.settings.enterPhoneNum')}}"
                                required ng-disabled="personal.phone" ng-class="{'disabled': personal.phone, 'form-control-error': (frontErr.phone.show && completeForm.phone.$invalid) || codeErr.phone.show}"
                                ng-model="completeInfo.phone" ng-pattern="frontErr.phone.reg" on-enter="sendCode('phone')"
                                ng-blur="[showErr('phone'), checkExsit(3)]" ng-focus="[hideErr('phone')]">

                            <div ng-show="frontErr.phone.show">
                                <p class="alert-arrow_tp_lf" ng-show="completeForm.phone.$error.required">
                                    {{lang.text('tigerWitID.settings.enterPhoneNum')}}
                                </p>
                                <p class="alert-arrow_tp_lf" ng-show="completeForm.phone.$error.pattern">
                                    {{lang.text('tigerWitID.settings.phoneNumErr')}}
                                </p>
                            </div>

                            <div ng-show="exsit.phone.show">
                                <p class="alert-arrow_tp_lf">
                                    {{lang.text('tigerWitID.settings.phoneNumExists')}}
                                </p>
                            </div>

                            <div ng-show="codeErr.phone.show">
                                <p class="alert-arrow_tp_lf">
                                    {{ codeErr.phone.msg }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="!personal.phone">
                    <div class="col-xs-12">
                        <div class="form-control-wrapper contact_way inputor">
                            <input class="form-control" name="phoneCode" type="text" placeholder="{{lang.text('tigerWitID.settings.enterVerificationCode')}}"
                                required ng-class="{'form-control-error': (frontErr.phoneCode.show && completeForm.phoneCode.$invalid)}"
                                ng-model="completeInfo.phoneCode" ng-blur="[showErr('phoneCode')]" ng-focus="[hideErr('phoneCode')]">

                            <span class="sender_btn" ng-show="!completeInfo.hasSendCode" ng-click="[sendCode('phone'), toTrackEvent('Open live account', 'your_details_getcode')]">{{lang.text('tigerWitID.settings.sendVerificationCode')}}</span>
                            <span class="sender_btn" ng-show="completeInfo.hasSendCode">{{lang.text('tigerWitID.myAccount.tip39_1')}}{{
                                completeInfo.waitTime }}{{lang.text('tigerWitID.myAccount.tip39_2')}}</span>

                            <div ng-show="frontErr.phoneCode.show">
                                <p class="alert-arrow_tp_lf" ng-show="completeForm.phoneCode.$error.required">
                                    {{lang.text('tigerWitID.settings.enterVerificationCode')}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-control-wrapper">
                        <input class="form-control"
                            name="birthday"
                            tw-date-picker
                            placeholder="{{lang.text('tigerWitID.myAccount.birthday')}}"
                            data-type="day"
                            required
                            ng-disabled="personal.updatePapers.hint == 1"
                            ng-model="completeInfo.birthday"
                            data-bind-model="completeInfo.birthday"
                            data-formatter="yyyymmdd"
                            ng-class="{'form-control-error': frontErr.birthday.show && realnameForm.birthday.$invalid}"
                            ng-blur="showErr('birthday')"
                            ng-focus="hideErr('birthday')"
                        >
                        <div ng-show="frontErr.birthday.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="realnameForm.birthday.$error.required">
                                {{lang.text('tigerWitID.myAccount.enterBirthday')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-control-wrapper">
                        <div class="select">
                            <input class="select__input"
                                name="gender"
                                type="text"
                                placeholder="{{lang.text('tigerWitID.gender')}}"
                                required
                                readonly
                                no-active="{{personal.updatePapers.hint == 1}}"
                                ng-model="completeInfo.gender.key"
                                ng-class="{'form-control-error': frontErr.gender.show && realnameForm.gender.$invalid}"
                                ng-blur="showErr('gender')"
                                ng-focus="hideErr('gender')">
                            
                            <i class="select__icon fa fa-angle-down"></i>

                            <ul class="select__dropdown" twform-select data-bind-model="completeInfo.gender">
                                
                                <li ng-repeat="gender in genders" ng-class="{'selected': gender.value === completeInfo.gender.value}">
                                    <span data-value="{{gender.value}}">{{ gender.key }}</span>
                                </li>
                            </ul>
                        </div>
                        
                        <div ng-show="frontErr.gender.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="realnameForm.gender.$error.required">
                                {{lang.text('tigerWitID.myAccount.enterGender')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center" ng-show="backErr.system.show">
                <p class="alert-system">
                    {{ backErr.system.msg || lang.text('tigerWitID.unknownError') }}
                </p>
            </div>

            <div class="text-center font-danger mg-tp-40" ng-if="backErr.show">
                <p>{{ backErr.msg }}</p>
            </div>

            <div class="text-center mg-tp-50 mg-bt-30">
                <button class="btn btn-primary-gradient btn-sm" ng-if="completeInfo.clickable" ng-click="submitCompleteForm()">
                    {{lang.text('actLogin29')}}
                </button>

                <button class="btn btn-primary-gradient btn-sm" disabled ng-if="!completeInfo.clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.submitting')}}
                </button>
            </div>
        </form>
    </div>
</div>