<div class="asset-public__tip" ng-show="toState.name == 'space.update' && !(personal.updatePapers.profile_check >= 0)">
    <img style="height: 50px;" src="/ngsrc/loading.gif">
</div>
<div class="authen_content ctn center" ng-class="{'update': toState.name == 'space.update'}" ng-show="toState.name != 'space.update' || (toState.name == 'space.update' && personal.updatePapers.profile_check && personal.updatePapers.profile_check != 2)">
    <div class="authen_title" ng-if="toState.name != 'space.update'">
        <h2>{{lang.text('tigerWitID.wallet.uploadIdentification')}}</h2>
        <p class="authen_content__tip">{{lang.text('tigerWitID.myAccount.tip24')}}</p>
    </div>
    <div class="kyc" ng-class="{'mg-tp-40': toState.name != 'space.update', 'update': toState.name == 'space.update'}">
        <form name="realnameForm" novalidate autocomplete="off">
            <div class="row">
                <div class="col-xs-2" ng-class="{'col-xs-3': lang.isEnglish()}">
                    <label>{{lang.text('tigerWitID.myAccount.realName')}}</label>
                </div>        
                <div class="col-xs-6">
                    <div class="form-control-wrapper">
                        <input class="form-control" 
                                name="realname"
                                type="text"
                                placeholder="{{lang.text('tigerWitID.myAccount.fillName')}}"
                                required
                                ng-disabled="personal.updatePapers.real_name"
                                ng-class="{'form-control-error': frontErr.realname.show && realnameForm.realname.$invalid}"
                                ng-model="realnameInfo.realname"
                                ng-pattern="frontErr.realname.reg"
                                ng-blur="showErr('realname')"
                                ng-focus="hideErr('realname')">
        
                        <div ng-show="frontErr.realname.show">
                            <p class="alert-arrow_tp_lf" ng-show="realnameForm.realname.$error.required">
                                {{lang.text('tigerWitID.myAccount.fillName')}}
                            </p>
                            <p class="alert-arrow_tp_lf" ng-show="realnameForm.realname.$error.pattern">
                                {{ frontErr.realname.tip }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2" ng-class="{'col-xs-3': lang.isEnglish()}">
                    <label>{{lang.text('tigerWitID.myAccount.certificateType')}}</label>
                </div>        
                <div class="col-xs-6">
                    <div class="form-control-wrapper">
                        <div class="select">
                            <input class="select__input"
                                name="id_type"
                                type="text"
                                placeholder="{{lang.text('tigerWitID.myAccount.selectCertificateType')}}"
                                required
                                disabled
                                no-active="{{personal.updatePapers.idcard_type >= 0}}"
                                ng-model="realnameInfo.id_type.key"
                                ng-class="{'form-control-error': frontErr.id_type.show && realnameForm.id_type.$invalid}"
                                ng-blur="showErr('id_type')"
                                ng-focus="hideErr('id_type')">
                            
                            <i class="select__icon fa fa-angle-down"></i>

                            <ul class="select__dropdown" twform-select data-bind-model="realnameInfo.id_type">
                                <li ng-repeat="id_type in idType" ng-class="{'selected': id_type.value === realnameInfo.id_type.value}" ng-if="(personal.region.world_code === 'CN' && id_type.isCN) || (personal.region.world_code !== 'CN' && id_type.isGlobal)">
                                    <span data-value="{{id_type.value}}">{{ id_type.key }}</span>
                                </li>
                            </ul>
                        </div>
                    
                        <div ng-show="frontErr.id_type.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="realnameForm.id_type.$error.required">
                                {{lang.text('tigerWitID.myAccount.selectCertificateType')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-2" ng-class="{'col-xs-3': lang.isEnglish()}">
                    <label>{{lang.text('tigerWitID.myAccount.certificateNumber')}}</label>
                </div>        
                <div class="col-xs-6">
                    <div class="form-control-wrapper">
                        <input class="form-control"
                            ng-if="realnameInfo.id_type.value == 0"
                            name="id_num"
                            type="text"
                            placeholder="{{lang.text('tigerWitID.myAccount.fillCertificateNumber')}}"
                            required
                            ng-disabled="personal.updatePapers.id_no"
                            ng-class="{'form-control-error': frontErr.id_num.show && realnameForm.id_num.$invalid}"
                            ng-model="realnameInfo.id_num"
                            ng-pattern="frontErr.id_num.reg"
                            ng-blur="[showErr('id_num'),checkExsit(4), checkBirthday()]"
                            ng-focus="hideErr('id_num')">

                        <!-- 港澳台移除 ng-parttern -->
                        <input class="form-control"
                            ng-if="realnameInfo.id_type.value != 0"
                            name="id_num"
                            type="text"
                            placeholder="{{lang.text('tigerWitID.myAccount.fillCertificateNumber')}}"
                            required
                            ng-disabled="personal.updatePapers.id_no"
                            ng-class="{'form-control-error': frontErr.id_num.show && realnameForm.id_num.$invalid}"
                            ng-model="realnameInfo.id_num"
                            ng-blur="[showErr('id_num'),checkExsit(4)]"
                            ng-focus="hideErr('id_num')">
        
                        <div ng-show="frontErr.id_num.show">
                            <p class="alert-arrow_tp_lf" ng-show="realnameForm.id_num.$error.required">
                                {{lang.text('tigerWitID.myAccount.fillCertificateNumber')}}
                            </p>
                            <p class="alert-arrow_tp_lf" ng-show="realnameForm.id_num.$error.pattern">
                                {{ frontErr.id_num.tip }}
                            </p>
                        </div>
        
                        <div ng-show="exsit.id_num.show">
                            <p class="alert-arrow_tp_lf">
                                {{lang.text('tigerWitID.myAccount.certificateNumberExists')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2" ng-class="{'col-xs-3': lang.isEnglish()}">
                    <label class="form-control-title">{{lang.text('tigerWitID.gender')}}</label>
                </div>
                <div class="col-xs-6">
                    <div class="form-control-wrapper">
                        <div class="select">
                            <input class="select__input"
                                name="gender"
                                type="text"
                                placeholder="{{lang.text('tigerWitID.gender')}}"
                                required
                                disabled
                                no-active="{{personal.updatePapers.gender >= 0}}"
                                ng-model="realnameInfo.gender.key"
                                ng-class="{'form-control-error': frontErr.gender.show && realnameForm.gender.$invalid}"
                                ng-blur="showErr('gender')"
                                ng-focus="hideErr('gender')">
                            
                            <i class="select__icon fa fa-angle-down"></i>

                            <ul class="select__dropdown" twform-select data-bind-model="realnameInfo.gender">
                                
                                <li ng-repeat="gender in genders" ng-class="{'selected': gender.value === realnameInfo.gender.value}">
                                    <span data-value="{{gender.value}}">{{ gender.key }}</span>
                                </li>
                            </ul>
                        </div>
                        
                        <div ng-show="frontErr.gender.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="realnameForm.gender.$error.required">
                                {{lang.text('tigerWitID.myAccount.enterGender')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2" ng-class="{'col-xs-3': lang.isEnglish()}">
                    <label class="form-control-title">{{lang.text('tigerWitID.myAccount.birthday')}}</label>
                </div>
                <div class="col-xs-6">
                    <div class="form-control-wrapper">
                        <input class="form-control"
                            name="birthday"
                            tw-date-picker
                            placeholder="{{lang.text('tigerWitID.myAccount.birthday')}}"
                            data-type="day"
                            required
                            ng-disabled="personal.updatePapers.birth"
                            ng-model="realnameInfo.birthday"
                            data-bind-model="realnameInfo.birthday"
                            data-formatter="yyyymmdd"
                            ng-class="{'form-control-error': frontErr.birthday.show && realnameForm.birthday.$invalid}"
                            ng-blur="showErr('birthday')"
                            ng-focus="hideErr('birthday')"
                        >
                        <div ng-show="frontErr.birthday.show">
                            <p class="alert alert-arrow_tp_lf" ng-show="realnameForm.birthday.$error.required">
                                {{lang.text('tigerWitID.myAccount.enterBirthday')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mg-tp-30">
            <div class="col-xs-6">
                <div class="upload_id_card" tw-upload-id-card>
                    <i class="upload_id_card__icon fa fa-camera"></i>
                    <h3 class="upload_id_card__title">
                        {{(realnameInfo.id_type.value == '0' || realnameInfo.id_type.value == '5') ? lang.text('tigerWitID.myAccount.uploadFrontSide') : lang.text('tigerWitID.wallet.clickUploadDocuments') }}
                    </h3>
    
                    <input class="upload_id_card__input" ng-click="hideErr('idFront')" name="file" type="file" accept="image/jpeg,image/png" data-face="front">
                </div>
    
                <div class="upload_id_card-tip">
                    <p class="alert alert-arrow_tp_lf" ng-if="verification.id.frontStatus === 0 && frontErr.idFront.show">
                        {{lang.text('tigerWitID.myAccount.submitFrontSide')}}
                    </p>
                    <p class="alert alert-arrow_tp_lf" ng-if="verification.id.frontStatus === 1">
                        {{lang.text('tigerWitID.myAccount.uploading')}}......
                    </p>
                    <p class="alert alert-arrow_tp_lf" ng-if="verification.id.frontStatus === 2">
                        {{lang.text('tigerWitID.myAccount.uploadSuccessfully')}}
                    </p>
                    <p class="alert alert-arrow_tp_lf" ng-if="verification.id.frontStatus === 3">
                        {{lang.text('tigerWitID.myAccount.tip25')}}
                    </p>
                </div>
            </div>
    
            <div class="col-xs-6" ng-if="realnameInfo.id_type.value == '0' || realnameInfo.id_type.value == '5'">
                <div class="upload_id_card" tw-upload-id-card>
                    <i class="upload_id_card__icon fa fa-camera"></i>
                    <h2 class="upload_id_card__title">
                        {{lang.text('tigerWitID.myAccount.uploadBackSide')}}
                    </h2>
                    <input class="upload_id_card__input" ng-click="hideErr('idBack')" name="file" type="file" accept="image/jpeg,image/png" data-face="back">
                </div>
    
                <div class="upload_id_card-tip">
                    <p class="alert alert-arrow_tp_lf" ng-if="verification.id.backStatus === 0 && frontErr.idBack.show">
                        {{lang.text('tigerWitID.myAccount.submitBackSide')}}
                    </p>
                    <p class="alert alert-arrow_tp_lf" ng-if="verification.id.backStatus === 1">
                        {{lang.text('tigerWitID.myAccount.uploading')}}......
                    </p>
                    <p class="alert alert-arrow_tp_lf" ng-if="verification.id.backStatus === 2">
                        {{lang.text('tigerWitID.myAccount.uploadSuccessfully')}}
                    </p>
                    <p class="alert alert-arrow_tp_lf" ng-if="verification.id.backStatus === 3">
                        {{lang.text('tigerWitID.myAccount.tip25')}}
                    </p>
                </div>
            </div>
        </div>
    
        <p class="text-left mg-tp-15 font-dark">
            {{lang.text('tigerWitID.myAccount.tip26')}}
        </p>
    
        <div class="text-center mg-tp-50">
    
            <div ng-show="backErr.system.show">
                <p class="alert-system" ng-show="backErr.system.status === 3">
                    {{ backErr.system.error_msg }}
                </p>
                <p class="alert-system" ng-show="backErr.system.status === 1">
                    {{lang.text('tigerWitID.myAccount.uploadWait')}}
                    <!--信息提交成功-->
                </p>
                <p class="alert-system" ng-show="backErr.system.status === 2">
                    {{lang.text('tigerWitID.myAccount.systemBusy')}}
                </p>
            </div>

            <div class="btn_wrapper text-left">
                <button class="btn btn-sm tw-btn-capsule-gradient" ng-if="clickable" ng-click="submitForm()">
                    {{toState.name == 'space.update' ? lang.text('tigerWitID.submit') : lang.text('actLogin29')}}
                </button>

                <a class="btn btn-sm tw-btn-capsule-gradient" ng-if="!clickable">
                    <i class="loading_spinner fa fa-spinner"></i>
                    {{lang.text('tigerWitID.submitting')}}
                </a>

                <a ng-if="dredgingType == 'live'" ui-sref="space.center.index" class="btn btn-sm tw-btn-capsule-gradient mg-lf-20">
                    {{lang.text('actLogin34')}}
                </a>
            </div>    
        </div>
    </div>
</div>

<!-- 认证审核中 -->
<div class="mg-tp-30" ng-if="toState.name == 'space.update' && personal.updatePapers.profile_check == 2">
    <div class="authen_content pd-lf-0 pd-tp-0">
        <div class="authen_submit pd-lf-0">
            <h3 class="text-left">{{lang.text('tigerWitID.myAccount.tip15')}}</h3>
            <p class="tip">{{lang.text('tigerWitID.myAccount.auditHourM')}}</p>
            <div class="detail">
                <p>{{lang.text('tigerWitID.myAccount.tip16')}}</p>
                <p>{{lang.text('tigerWitID.myAccount.tip17')}}</p>
                <p>{{lang.text('tigerWitID.myAccount.tip18')}}</p>
            </div>
            <p class="desc">{{lang.text('tigerWitID.myAccount.tip19')}}</p>
        </div>
    </div>
</div>

<!-- 已认证 -->
<!-- <div class="mg-tp-30" ng-if="toState.name == 'space.update' && personal.updatePapers.profile_check == 3">
    认证成功
</div> -->
</div>