<div class="authen_content mg-tp-40 mg-bt-100 ctn center">
    <div class="authen_submit">
        <h3 class="tit text-left">{{lang.text('tigerWitID.myAccount.tip15')}}</h3>
        <p class="tip">{{lang.text('tigerWitID.myAccount.auditHourM')}}</p>
        <div class="detail">
            <p>{{lang.text('tigerWitID.myAccount.tip16')}}</p>
            <p>{{lang.text('tigerWitID.myAccount.tip17')}}</p>
            <p>{{lang.text('tigerWitID.myAccount.tip18')}}</p>
        </div>
        <p class="desc">{{lang.text('tigerWitID.myAccount.tip19')}}</p>
        <div class="btn-wrapper text-left pd-tp-50">
            <a ui-sref="space.center.index" class="btn btn-primary-gradient">
                {{lang.text('tigerWitID.confirm')}}
            </a>
        </div>
    </div>
</div>