<div class="authen_content mg-tp-40 mg-bt-100 ctn center">
    <div class="authen_submit">
        <h3 class="tit text-left">认证信息已提交，正在审核中</h3>
        <p class="tip">审核时间：</p>
        <div class="detail">
            <p>工作日10:00-18:00：将在30分钟左右完成审核</p>
            <p>工作日18:00以后：将在21:00、23:00统一审核；23:00后认证的将在次日审核</p>
            <p>非工作日时间：将在10:00、16:00、22:00统一审核；22:00后认证的将在次日审核</p>
        </div>
        <p class="desc">请留意查询您的审核状态</p>
        <div class="btn-wrapper text-left pd-tp-30">
            <a ui-sref="space.center.index" class="btn btn-primary-gradient">
                确定
            </a>
        </div>
    </div>
</div>