<div class="authen_content mg-tp-40 mg-bt-100 ctn center" ng-if="personal.dredged_type == 'live' || dredgingType == 'live' || dredgingType == '1'">
    <div class="authen_submit pd-tp-30">
        <h3 class="sys_modal_v2__title text-center">恭喜您已开通TigerWit真实交易账户</h3>
        <div class="text-left pd-lf-50 mg-lf-100 mg-tp-40">
            <p class="sys_modal_v2__desp">您的开户信息已经发送至您的邮箱</p>
            <p class="sys_modal_v2__desp">继续完成以下操作，即可开始交易：</p>
            <p class="sys_modal_v2__desp pd-tp-10">1. 完整填写您的个人信息并通过审核</p>
            <p class="sys_modal_v2__desp">2. 充值激活账户</p>
        </div>
        <div class="text-left mg-lf-100 mg-tp-40">
            <div class="btn_wrapper">
                <a class="btn btn-sm btn-primary-gradient mg-tp-20" ui-sref="authen.subpage({subpage: 'realname'})" ng-click="toAuthenCompleteSensorsdata('真实账户')">继续</a>
            </div>
        </div>
    </div>
</div>

<div class="authen_content mg-tp-40 mg-bt-100 ctn center" ng-if="personal.dredged_type == 'demo' || dredgingType == 'demo' || dredgingType == '2'">
    <div class="authen_submit pd-tp-30">
        <h3 class="sys_modal_v2__title text-center">恭喜您已开通TigerWit体验金账户</h3>
        <div class="text-left pd-lf-50 mg-lf-100 mg-tp-40">
            <p class="sys_modal_v2__desp">您的开户信息已经发送至您的邮箱</p>
            <p class="sys_modal_v2__desp">请注意：体验金账户资金及盈利不可提现。</p>
            <p class="sys_modal_v2__desp">升级为真实账户只需完成以下操作：</p>
            <p class="sys_modal_v2__desp pd-tp-10">1. 上传身份证件并完成审核</p>
            <p class="sys_modal_v2__desp">2. 充值激活您的账户</p>
        </div>
        <div class="text-left mg-lf-100 mg-tp-40">
            <div class="btn_wrapper">
                <a class="btn btn-sm btn-primary-gradient mg-tp-20" ui-sref="space.center.index" ng-click="toAuthenCompleteSensorsdata('体验金账户')">完成</a>
            </div>
        </div>
    </div>
</div>